Repository datahub-project/datahub, pull requests merged in 2022-08, with the labels that each got.

#5520 feat(ingestion) Add frontend connection test for Snowflake
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/IngestionResolverUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateTestConnectionRequestResolver.java
  datahub-graphql-core/src/main/resources/ingestion.graphql
  datahub-web-react/src/app/ingest/source/builder/DefineRecipeStep.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/RecipeForm.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/TestConnection/ConnectionCapabilityView.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/TestConnection/TestConnectionButton.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/TestConnection/TestConnectionModal.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/TestConnection/types.ts
  datahub-web-react/src/app/ingest/source/builder/__tests__/DefineRecipeStep.test.tsx
  datahub-web-react/src/app/ingest/source/utils.ts
  datahub-web-react/src/graphql/ingestion.graphql
Labels: product

#4999 feat(apache-ranger): Apache Ranger Authorizer support in datahub-gms
  .github/workflows/publish-datahub-jars.yml
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-ranger-plugin/README.md
  datahub-ranger-plugin/build.gradle
  datahub-ranger-plugin/conf/auth-plugin-configuration-configMap.kubernetes.yaml
  datahub-ranger-plugin/conf/ranger-datahub-audit.xml
  datahub-ranger-plugin/conf/ranger-datahub-security.xml
  datahub-ranger-plugin/conf/servicedef.json
  datahub-ranger-plugin/doc-images/datahub-platform-access-policy.png
  datahub-ranger-plugin/doc-images/datahub-plugin.png
  datahub-ranger-plugin/src/main/java/com/datahub/authorizer/plugin/ranger/DataHubRangerAuthPlugin.java
  datahub-ranger-plugin/src/test/java/com/datahub/authorizer/plugin/ranger/TestDataHubRangerAuthPlugin.java
  docker/datahub-gms/env/docker.env
  docker/datahub-gms/start.sh
  docker/docker-compose-without-neo4j.override.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.override.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  docs-website/sidebars.js
  gradle.properties
  metadata-service/auth-api/src/main/java/com/datahub/authorization/AuthorizedActors.java
  metadata-service/auth-api/src/main/java/com/datahub/authorization/AuthorizerConfiguration.java
  metadata-service/auth-api/src/main/java/com/datahub/authorization/DefaultAuthorizerConfiguration.java
  metadata-service/auth-impl/build.gradle
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/AuthorizerChain.java
  metadata-service/auth-ranger-impl/build.gradle
  metadata-service/auth-ranger-impl/src/main/java/com/datahub/authorization/ranger/AuthorizerConfig.java
  metadata-service/auth-ranger-impl/src/main/java/com/datahub/authorization/ranger/DataHubRangerClient.java
  metadata-service/auth-ranger-impl/src/main/java/com/datahub/authorization/ranger/RangerAuthorizer.java
  metadata-service/auth-ranger-impl/src/main/java/com/datahub/authorization/ranger/RangerRestClientWrapper.java
  metadata-service/auth-ranger-impl/src/main/java/com/datahub/authorization/ranger/response/UserById.java
  metadata-service/auth-ranger-impl/src/main/java/com/datahub/authorization/ranger/response/UserByName.java
  metadata-service/auth-ranger-impl/src/test/java/com/datahub/authorization/ranger/RangerAuthorizerTest.java
  metadata-service/factories/build.gradle
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/auth/AuthorizerChainFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/config/ConfigurationProvider.java
  metadata-service/factories/src/main/resources/application.yml
  settings.gradle
Labels: product

#5519 feat(ingest): add deprecation warning for Python 3.6
  metadata-ingestion/src/datahub/__init__.py
Labels: ingestion

#5470 feat(ingestion): add groups to ldap users
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden.json
  metadata-ingestion/tests/integration/ldap/ldap_memberof_mces_golden.json
  metadata-ingestion/tests/integration/ldap/setup/custom/sample.ldif
  metadata-ingestion/tests/integration/ldap/test_ldap.py
Labels: ingestion, community-contribution, product

#5535 fix(ingestion) Set pipeline_name on UI recipes with forms
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/source/UpsertIngestionSourceResolver.java
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/utils.tsx
  datahub-web-react/src/app/ingest/source/conf/bigquery/bigquery.ts
  datahub-web-react/src/app/ingest/source/conf/redshift/redshift.ts
  datahub-web-react/src/app/ingest/source/conf/snowflake/snowflake.ts
Labels: product

#5529 <fix>[analytics-tab] fix analytics tab config variable for gms
  docker/datahub-gms/env/docker.env
  docs/how/updating-datahub.md
  metadata-service/factories/src/main/resources/application.yml
Labels: community-contribution, devops

#5522 fix(ingestionSource): improve error experience when ingestion source is in an inconsistent state
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/IngestionResolverUtils.java
Labels: product

#5545 docs(schema history): Correct typo in schema history documentation
  docs/schema-history.md
Labels: community-contribution, product

#5544 feat(ui): Support Batch adding and removing Glossary Terms (Batch Actions 3/7)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/AddTermResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/AddTermsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchAddTermsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchRemoveTermsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/RemoveTermResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/LabelUtils.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/term/BatchAddTermsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/term/BatchRemoveTermsResolverTest.java
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
  datahub-web-react/src/app/entity/container/preview/Preview.tsx
  datahub-web-react/src/app/entity/domain/DomainEntity.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchSelectActions.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/action/GlossaryTermsDropdown.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHeader.tsx
  datahub-web-react/src/app/entity/shared/entity/EntityActions.tsx
  datahub-web-react/src/app/shared/tags/AddTagsTermsModal.tsx
  datahub-web-react/src/graphql/mutations.graphql
Labels: product

#5518 feat(ci): test quickstart works
  .github/workflows/check-quickstart.yml
Labels: devops

#5408 feat(ingestion/superset): add display_uri to config
  metadata-ingestion/archived/source_docs/superset.md
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Labels: pending-submitter-response, ingestion, community-contribution

#5540 fix(dbt): fix issue of assertion error when stateful ingestion is used with dbt tests
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
  metadata-ingestion/src/datahub/ingestion/source/state/dbt_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/sql_common_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
  metadata-ingestion/src/datahub/utilities/checkpoint_state_util.py
  metadata-ingestion/tests/integration/dbt/dbt_stateful_tests_golden.json
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: ingestion

#5541 fix(ingestion): correct trino datatype handling
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: ingestion, community-contribution

#5444 feat(ingest) Allow ingestion of Elasticsearch index template
  metadata-ingestion/archived/source_docs/elastic_search.md
  metadata-ingestion/docs/sources/elastic-search/elasticsearch_recipe.yml
  metadata-ingestion/examples/recipes/elasticsearch_to_datahub.dhub.yaml
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
Labels: ingestion, community-contribution

#5456 feat(transformers): Add domain transformer for dataset
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/transformer/base_transformer.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_domain.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_transformer.py
  metadata-ingestion/src/datahub/ingestion/transformer/transform_registry.py
  metadata-ingestion/src/datahub/utilities/registries/domain_registry.py
Labels: ingestion

#5568 fix(gms): ensure directory is present
  docker/datahub-gms/start.sh
Labels: devops

#5569 fix(ci): flaky smoke test fix
  smoke-test/tests/cypress/cypress.json
  smoke-test/tests/cypress/cypress/integration/mutations/mutations.js
  smoke-test/tests/cypress/integration_test.py
Labels: product

#5560 feat(ui): Batch set & unset Domain for assets via the UI
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchSetDomainResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/DomainUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/LabelUtils.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/BatchSetDomainResolverTest.java
  datahub-web-react/src/app/entity/domain/DomainEntity.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchSelectActions.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/action/DomainsDropdown.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Domain/SetDomainModal.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Domain/SidebarDomainSection.tsx
  datahub-web-react/src/app/entity/shared/entity/EntityActions.tsx
  datahub-web-react/src/graphql/mutations.graphql
Labels: product

#4976 feat(graphql): add MutableTypeBatchResolver
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/MutableTypeBatchResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/BatchMutableType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/MutableType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/DatasetType.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/MutableTypeBatchResolverTest.java
Labels: community-contribution, product

#5574 feat(ingestion) Implement secrets in new managed ingestion form
  datahub-web-react/src/app/ingest/secret/SecretBuilderModal.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/FormField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/RecipeForm.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/SecretField/CreateSecretButton.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/SecretField/SecretField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/utils.tsx
Labels: product

#5558 feat(test): add read-only smoke tests
  smoke-test/requirements.txt
  smoke-test/tests/__init__.py
  smoke-test/tests/conftest.py
  smoke-test/tests/delete/delete_test.py
  smoke-test/tests/pytest.ini
  smoke-test/tests/read_only/__init__.py
  smoke-test/tests/read_only/test_analytics.py
  smoke-test/tests/read_only/test_ingestion_list.py
  smoke-test/tests/read_only/test_policies.py
  smoke-test/tests/read_only/test_search.py
  smoke-test/tests/read_only/test_services_up.py
  smoke-test/tests/test_result_msg.py
  smoke-test/tests/tokens/revokable_access_token_test.py
  smoke-test/tests/utils.py
Labels: devops

#5547 fix(ingest): handle when current server version is unavailable
  metadata-ingestion/src/datahub/upgrade/upgrade.py
Labels: ingestion

#5328 feat(dbt-test) insert only assertions
  metadata-ingestion/docs/sources/dbt/dbt.md
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
  metadata-ingestion/tests/test_helpers/mce_helpers.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion, community-contribution

#5566 feat(ingest): infer aspectName from aspect type in MCP
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/scripts/codegen.sh
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/cli/migration_utils.py
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/emitter/mcp.py
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/src/datahub/ingestion/transformer/base_transformer.py
  metadata-ingestion/tests/unit/serde/test_serde.py
  metadata-ingestion/tests/unit/test_csv_enricher_source.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#5526 fix(sql-common): Sql common bug fixes
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
Labels: ingestion

#5277 feat(delta-lake): extract table history into operation aspect
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/config.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/delta_lake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_allow_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_inner_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_relative_path.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_single_table.json
  metadata-ingestion/tests/integration/delta_lake/sources/local/allow_table.json
  metadata-ingestion/tests/integration/delta_lake/sources/local/inner_table.json
  metadata-ingestion/tests/integration/delta_lake/sources/local/relative_path.json
  metadata-ingestion/tests/integration/delta_lake/sources/local/single_table.json
Labels: ingestion

#5548 Expose catalog_name in athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/tests/unit/test_athena_source.py
Labels: ingestion, community-contribution

#5531 Fix profiling when using {table}.
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_exclude.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_glob.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_keyval.json
Labels: ingestion, community-contribution

#5330 feat(ingest): clickhouse - add metadata modification time and data size
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/tests/integration/clickhouse/clickhouse_mces_golden.json
  metadata-ingestion/tests/integration/clickhouse/test_clickhouse.py
Labels: pending-submitter-response, ingestion

#5588 refactor(ingest): simplify upgrade version stats
  metadata-ingestion/src/datahub/upgrade/upgrade.py
Labels: ingestion

#5433 feat(metadata-service-auth): add support for eternal personal access tokens
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/auth/AccessTokenUtil.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/auth/CreateAccessTokenResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/auth/GetAccessTokenResolver.java
  datahub-graphql-core/src/main/resources/auth.graphql
  metadata-models/src/main/pegasus/com/linkedin/access/token/DataHubAccessTokenInfo.pdl
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/token/StatefulTokenService.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/token/StatelessTokenService.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/token/TokenClaims.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/token/TokenType.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/token/StatefulTokenServiceTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/token/StatelessTokenServiceTest.java
Labels: product

#5595 fix(ci): paths for github workflows
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-postgres-setup.yml
Labels: devops

#5511 fix(ingest): Fix ingest Clickhouse without password
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/tests/unit/test_clickhouse_source.py
Labels: ingestion, community-contribution

#5597 fix(ci): cleanup sleeps to instead use retries
  smoke-test/test_e2e.py
  smoke-test/test_rapid.py
  smoke-test/tests/assertions/assertions_test.py
  smoke-test/tests/domains/domains_test.py
  smoke-test/tests/policies/test_policies.py
Labels: devops

#5607 fix(ci): use different image for smoke base image
  .github/workflows/docker-ingestion-smoke.yml
Labels: devops

#5608 fix(ci): cancel docker-unified workflow only on PRs on new commits
  .github/workflows/docker-unified.yml
Labels: devops

#5609 fix(ci): add env variable for creds smoke test
  smoke-test/test_e2e.py
  smoke-test/test_rapid.py
  smoke-test/tests/conftest.py
  smoke-test/tests/policies/test_policies.py
  smoke-test/tests/utils.py
Labels: devops

#5606 docs(transformers): Add domain transformer documentation in transformers readme
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_domain.py
  metadata-ingestion/transformers.md
Labels: ingestion

#5521 chore(ingest): drop python 3.6 support
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/docker-unified.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/publish-datahub-jars.yml
  .github/workflows/spark-smoke-test.yml
  docs/cli.md
  docs/how/updating-datahub.md
  metadata-ingestion/build.gradle
  metadata-ingestion/developing.md
  metadata-ingestion/docs/sources/kafka/kafka.md
  metadata-ingestion/docs/sources/tableau/tableau.md
  metadata-ingestion/docs/sources/vertica/vertica.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/__init__.py
  metadata-ingestion/src/datahub/ingestion/extractor/protobuf_util.py
  metadata-ingestion/src/datahub/ingestion/source/feast.py
  metadata-ingestion/src/datahub/ingestion/source/lookml.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/tests/integration/delta_lake/test_local_delta_lake.py
  metadata-ingestion/tests/integration/feast/test_feast_repository.py
  metadata-ingestion/tests/integration/iceberg/test_iceberg.py
  metadata-ingestion/tests/integration/lookml/test_lookml.py
  metadata-ingestion/tests/integration/presto-on-hive/test_presto_on_hive.py
  metadata-ingestion/tests/unit/test_airflow.py
  metadata-ingestion/tests/unit/test_athena_source.py
  metadata-ingestion/tests/unit/test_iceberg.py
  metadata-ingestion/tests/unit/test_protobuf_util.py
  metadata-ingestion/tests/unit/test_utilities.py
Labels: ingestion

#5613 fix(ui): Split based on Data Platform delimiter in Lineage viz
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entity/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entity/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/lineage/LineageEntityNode.tsx
  datahub-web-react/src/app/lineage/__tests__/constructTree.test.ts
  datahub-web-react/src/app/lineage/types.ts
Labels: gold-star

#5601 feat(search): Sticky search filters + misc bug fixes & improvements
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/DomainEntitiesResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/DomainEntitiesResolverTest.java
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchSection.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchSelect.tsx
  datahub-web-react/src/app/ingest/source/IngestedAssets.tsx
  datahub-web-react/src/app/ingest/source/utils.ts
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/app/search/SearchFilter.tsx
  datahub-web-react/src/app/search/SearchablePage.tsx
  metadata-io/src/main/java/com/linkedin/metadata/search/aggregator/AllEntitiesSearchAggregator.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/SearchUtil.java
Labels: product

#5539 fix(graph service): only query for entities that should have lineage [Breaking Change]
  datahub-web-react/src/app/entity/dataset/profile/OperationsTab.tsx
  datahub-web-react/src/app/recommendations/renderer/component/CompactEntityNameList.tsx
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/LineageRegistry.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/LineageRegistryTest.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/GraphFilters.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/GraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/JavaGraphClient.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/SiblingGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/dgraph/DgraphGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphWriteDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/GraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/dgraph/DgraphGraphServiceTest.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/lineage/Relationships.java
Labels: product

#5627 fix(ingest): fix indenting issue in azure ad connector
  metadata-ingestion/src/datahub/ingestion/source/identity/azure_ad.py
  metadata-ingestion/tests/integration/azure_ad/azure_ad_mces_golden_default_config.json
Labels: ingestion

#5632 perf(operations): performance improvement to operations tab via reduced fetching
  datahub-web-react/src/graphql/dataProcess.graphql
Labels: product

#5600 feat(ui) Retrieve last ingested timestamp and display on frontend
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/mappers/ChartMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/util/SystemMetadataUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/container/mappers/ContainerMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataflow/mappers/DataFlowMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datajob/mappers/DataJobMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataplatform/mappers/DataPlatformMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureTableMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelGroupMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLPrimaryKeyMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/utils/SystemMetadataUtilsTest.java
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/PlatformContent/PlatformContentContainer.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/nav/ProfileNavBrowsePath.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/EntitySidebar.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/LastIngested.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/__tests__/LastIngested.test.tsx
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/graphql/chart.graphql
  datahub-web-react/src/graphql/container.graphql
  datahub-web-react/src/graphql/dataFlow.graphql
  datahub-web-react/src/graphql/fragments.graphql
Labels: product

#5623 Update README.md and maintaining consistency
  README.md
Labels: community-contribution

#5620 build(docs-website): make codegen script idempotent
  docs-website/.gitignore
  docs-website/README.md
  docs-website/build.gradle
  docs-website/docs/.gitignore
  docs-website/genDocs/.gitignore
  docs-website/generateDocsDir.ts
  docs-website/package.json
Labels: docs

#5617 docs(airflow): fix formatting
  docs/lineage/airflow.md
Labels: ingestion

#5636 fix(delta-table): allow env, credential file based s3 auth
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/config.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/delta_lake_utils.py
Labels: ingestion

#5633 feat(ingest): generate a list of aspects in codegen
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/src/datahub/cli/cli_utils.py
Labels: ingestion

#5553 feat(ingestion): Glue stateful ingestion
  metadata-ingestion/archived/source_docs/glue.md
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/glue_deleted_actor_mces_golden.json
  metadata-ingestion/tests/unit/test_glue_source.py
  metadata-ingestion/tests/unit/test_glue_source_stubs.py
Labels: ingestion, community-contribution

#5517 feat(ingest): add snowflake-beta source
  metadata-ingestion/docs/sources/snowflake/README.md
  metadata-ingestion/docs/sources/snowflake/snowflake-beta.md
  metadata-ingestion/docs/sources/snowflake/snowflake-beta_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/configuration/time_window_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/utilities/sql_formatter.py
  metadata-ingestion/tests/integration/bigquery-usage/test_bigquery_usage.py
  metadata-ingestion/tests/unit/test_bigquery_usage_source.py
Labels: ingestion

#5629 fix(ingest): remove alphabet field from allow/deny config
  metadata-ingestion/src/datahub/configuration/common.py
Labels: ingestion

#5516 feat(mssql): add multi database ingest support
  metadata-ingestion/docs/sources/s3/s3.md
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/setup/setup.sql
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_no_db_to_file.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_no_db_with_filter.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_to_file.yml
  metadata-ingestion/tests/integration/sql_server/test_sql_server.py
Labels: ingestion

#5628 chore(ingest): drop data-lake source in favor of s3 source
  metadata-ingestion/docs/sources/data-lake-files/data-lake.md
  metadata-ingestion/docs/sources/data-lake-files/data-lake_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake/config.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake/profiling.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake/report.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/src/datahub/ingestion/source/s3/data_lake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/data_lake/data_lake_mces_golden.json
  metadata-ingestion/tests/integration/data_lake/test_data/cases_1/chord_progressions_avro.avro
  metadata-ingestion/tests/integration/data_lake/test_data/cases_1/chord_progressions_csv.csv
  metadata-ingestion/tests/integration/data_lake/test_data/cases_1/countries_json.json
  metadata-ingestion/tests/integration/data_lake/test_data/cases_1/food_avro.avro
  metadata-ingestion/tests/integration/data_lake/test_data/cases_1/food_csv.csv
  metadata-ingestion/tests/integration/data_lake/test_data/cases_1/food_parquet.parquet
  metadata-ingestion/tests/integration/data_lake/test_data/cases_2/NPS.7.1.package_data_NPS.6.1_ARCN_Lakes_ChemistryData_v1_csv.csv
  metadata-ingestion/tests/integration/data_lake/test_data/cases_2/pokemon_abilities_json.json
  metadata-ingestion/tests/integration/data_lake/test_data/cases_2/small.csv
  metadata-ingestion/tests/integration/data_lake/test_data/cases_2/wa_fn_usec_hr_employee_attrition_csv.csv
  metadata-ingestion/tests/integration/data_lake/test_data_lake.py
Labels: ingestion

#5616 fix(ingest): remove `profile_sql_table` event
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#5610 fix(ci): use graphql instead of restli
  smoke-test/tests/read_only/test_search.py
Labels: devops

#5642 feat(ingest): rest_emitter - Adding option to disable ssl
  docs-website/genJsonSchema/gen_json_schema.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
Labels: ingestion, sdk

#5361 feat(ingest): GE Profile/Action Trino support
  metadata-ingestion/integration_docs/great-expectations.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/integrations/great_expectations/action.py
  metadata-ingestion/tests/integration/great-expectations/ge_mcps_golden_2.json
  metadata-ingestion/tests/integration/great-expectations/setup/great_expectations/checkpoints/test_checkpoint_2.yml
  metadata-ingestion/tests/integration/great-expectations/test_great_expectations.py
Labels: ingestion, community-contribution

#5500 fix(ingest): redash - fix redash dashboard url bug
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/tests/unit/test_redash_source.py
Labels: ingestion, community-contribution

#5653 feat(ingestion) Fetch live logs on an ingestion run from UI
  datahub-web-react/src/app/ingest/source/ExecutionRequestDetailsModal.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingest/source/utils.ts
Labels: product

#5673 feat(test): add option to send to slack thread
  smoke-test/tests/test_result_msg.py
Labels: devops

#5666 chore(ingest): set min stackprinter version
  metadata-ingestion/setup.py
Labels: ingestion

#5615 docs: fixes typos in Business Glossary docs
  docs/rfc/active/1842-business_glossary/README.md
Labels: community-contribution, product

#5680 fix(docs) Fix link from Business Glossary ingestion page
  metadata-ingestion/archived/source_docs/business_glossary.md
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
Labels: product

#5639 feat(ingestion): Support for displaying history of CLI ingestion runs in the "Manage Ingestion" UI
  metadata-ingestion/README.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/configuration/config_loader.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/api/common.py
  metadata-ingestion/src/datahub/ingestion/api/pipeline_run_listener.py
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
  metadata-ingestion/src/datahub/ingestion/reporting/file_reporter.py
  metadata-ingestion/src/datahub/ingestion/reporting/reporting_provider_registry.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/ingestion/source/aws/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/config.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/delta_lake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
  metadata-ingestion/tests/integration/kafka/test_kafka_state.py
  metadata-ingestion/tests/integration/s3/test_s3.py
  metadata-ingestion/tests/unit/config/test_config_loader.py
  metadata-ingestion/tests/unit/reporting/test_datahub_ingestion_reporter.py
  smoke-test/tests/test_stateful_ingestion.py
Labels: ingestion

#5681 feat(ingestion-ui) Display CLI-based ingestion sources in UI
  datahub-web-react/src/app/ingest/source/IngestionSourceExecutionList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingest/source/RecipeViewerModal.tsx
  datahub-web-react/src/app/ingest/source/__tests__/IngestionSourceList.test.tsx
  datahub-web-react/src/app/ingest/source/utils.ts
Labels: product

#5664 Add UP_FOR_RETRY DPI run result
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/ingest/source/utils.ts
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
  metadata-models/src/main/pegasus/com/linkedin/dataprocess/DataProcessInstanceRunResult.pdl
Labels: community-contribution, product

#5697 feat(kafka-setup): Adds SASL SSL support in kafka setup docker image
  docker/kafka-setup/kafka-setup.sh
Labels: devops

#5705 fix(ingest): refactor sync-async config, thread-safety for sink repor…
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
Labels: ingestion

#5648 feat(ingestion): add github_info config for dbt
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
Labels: ingestion, community-contribution

#5703 docs(ingest): add info about datahub auth tokens with airflow
  docs/lineage/airflow.md
Labels: ingestion

#5696 fix(airflow): Stable tag order in DataFlow/DataJobs
  docs/lineage/airflow.md
  metadata-ingestion/src/datahub/api/entities/datajob/dataflow.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
  metadata-ingestion/src/datahub_provider/example_dags/lineage_backend_demo.py
  metadata-ingestion/src/datahub_provider/example_dags/lineage_backend_taskflow_demo.py
  metadata-ingestion/src/datahub_provider/lineage/datahub.py
Labels: ingestion

#5701 fix(ingest): add pymongo srv extra
  metadata-ingestion/setup.py
Labels: ingestion

#5710 feat(ingest): better reporting for file source, friendlier stats names
  metadata-ingestion/src/datahub/cli/json_file.py
  metadata-ingestion/src/datahub/ingestion/api/sink.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
  metadata-ingestion/src/datahub/ingestion/source/lookml.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/usage/bigquery_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/snowflake_usage.py
  metadata-ingestion/src/datahub/ingestion/source_report/sql/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source_report/time_window.py
  metadata-ingestion/src/datahub/ingestion/source_report/usage/bigquery_usage.py
Labels: ingestion

#5671 Worked on postgres ingestion form integration
  datahub-web-react/src/app/entity/glossaryNode/ChildrenTab.tsx
  datahub-web-react/src/app/glossary/BusinessGlossaryPage.tsx
  datahub-web-react/src/app/glossary/EmptyGlossarySection.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/postgres.ts
  datahub-web-react/src/app/ingest/source/builder/__tests__/DefineRecipeStep.test.tsx
  datahub-web-react/src/app/ingest/source/conf/postgres/postgres.ts
Labels: product

#5659 feat(ingest): Add mode option to presto-on-hive source
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden.json
  metadata-ingestion/tests/integration/presto-on-hive/test_presto_on_hive.py
Labels: ingestion

#5713 Worked on the alignment of all data in domain list
  datahub-web-react/src/app/domain/DomainListItem.tsx
Labels: product

#5704 feat(retention) Enable retention and set max versions for executionRequests
  docker/datahub-gms/env/docker-without-neo4j.env
  docker/datahub-gms/env/docker.env
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-service/factories/src/main/resources/application.yml
  metadata-service/war/src/main/resources/boot/retention.yaml
Labels: product

#5649 feat(looker): index looker charts and dashboards by business term
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/chart/preview/ChartPreview.tsx
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/dashboard/preview/DashboardPreview.tsx
  datahub-web-react/src/app/entity/dataset/search/highlights.ts
  datahub-web-react/src/app/entity/shared/utils.ts
  metadata-ingestion/src/datahub/ingestion/source/looker.py
  metadata-ingestion/src/datahub/ingestion/source/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/lookml.py
  metadata-ingestion/tests/integration/looker/golden_test_allow_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_joins.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_unaliased_joins.json
  metadata-ingestion/tests/integration/looker/looker_mces_usage_history.json
  metadata-ingestion/tests/integration/looker/test_looker.py
  metadata-ingestion/tests/integration/lookml/expected_output.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_bigquery.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_badsql_parser.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_deny_pattern.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
  metadata-ingestion/tests/integration/lookml/lookml_reachable_views.json
  metadata-models/src/main/pegasus/com/linkedin/common/InputField.pdl
  metadata-models/src/main/pegasus/com/linkedin/common/InputFields.pdl
  metadata-models/src/main/pegasus/com/linkedin/schema/EditableSchemaFieldInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/schema/SchemaField.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: ingestion, product

#5592 fix(ingestion): ingest tables from dba_tables in oracle source
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/integration/oracle/common.py
  metadata-ingestion/tests/integration/oracle/golden_test_ingest.json
  metadata-ingestion/tests/integration/oracle/test_oracle.py
Labels: ingestion

#5702 fix(ingest): redshift-usage: check full table/schema names with AllowDenyPattern
  metadata-ingestion/src/datahub/ingestion/source/usage/redshift_usage.py
  metadata-ingestion/tests/integration/redshift-usage/test_redshift_usage.py
Labels: ingestion

#5714 Worked on the scroll to top of the page after pagination change
  datahub-web-react/src/app/browse/BrowseResultsPage.tsx
  datahub-web-react/src/app/domain/DomainsList.tsx
  datahub-web-react/src/app/entity/dataJob/tabs/RunsTab.tsx
  datahub-web-react/src/app/entity/dataset/profile/OperationsTab.tsx
  datahub-web-react/src/app/entity/group/GroupMembers.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/EntityProfile.tsx
  datahub-web-react/src/app/entity/user/UserGroups.tsx
  datahub-web-react/src/app/identity/group/GroupList.tsx
  datahub-web-react/src/app/identity/user/UserList.tsx
  datahub-web-react/src/app/ingest/secret/SecretsList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/policy/ManagePolicies.tsx
  datahub-web-react/src/app/search/SearchPage.tsx
  datahub-web-react/src/app/settings/AccessTokens.tsx
  datahub-web-react/src/app/shared/searchUtils.ts
Labels: product

#5721 feat(ingest): round time to 2 decimal places
  metadata-ingestion/src/datahub/ingestion/api/sink.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
Labels: ingestion

#5711 fix(superset): do not crash when display_uri is not set
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/unit/test_superset_source.py
Labels: ingestion, community-contribution

#5732 fix(ingest): looker - soft-deleted charts should re-emerge on re-disc…
  metadata-ingestion/src/datahub/ingestion/source/looker.py
Labels: ingestion

#5524 feat(elasticsearch): Add nested type display
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
  metadata-ingestion/tests/unit/test_elasticsearch_source.py
Labels: ingestion, community-contribution, on-deck

#5733 fix(docs): fixes issue with auto-generated ingestion doc
  metadata-ingestion/scripts/docgen.py
Labels: ingestion, docs

#5684 feat(mysql): support multiple database in single recipe
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/two_tier_sql_source.py
  metadata-ingestion/tests/integration/mysql/mysql_mces_no_db_golden.json
  metadata-ingestion/tests/integration/mysql/mysql_mces_with_db_golden.json
  metadata-ingestion/tests/integration/mysql/mysql_to_file_no_db.yml
  metadata-ingestion/tests/integration/mysql/mysql_to_file_with_db.yml
  metadata-ingestion/tests/integration/mysql/test_mysql.py
Labels: ingestion

#5750 chore(ingest): update mixpanel api endpoint
  metadata-ingestion/src/datahub/telemetry/telemetry.py
Labels: ingestion

#5745 chore(ingest): add vulture config and remove some dead code
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/configuration/source_common.py
  metadata-ingestion/src/datahub/ingestion/api/ingestion_state_provider.py
  metadata-ingestion/src/datahub/ingestion/source/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
Labels: ingestion

#5712 feat(restore-indices): add multithreading and add aspectName, urn filter
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/RestoreIndices.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/SendMAEStep.java
Labels: devops

#5663 feat(ingestion): bigquery - Bigquery beta connector - first cut
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/common.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source_config/bigquery.py
  metadata-ingestion/tests/unit/test_bigqueryv2_usage_source.py
Labels: ingestion

#5652 feat(ingestion): looker chart usage statistics
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/api/report.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_query_model.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_usage.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/looker/looker_mces_usage_history.json
  metadata-ingestion/tests/integration/looker/test_looker.py
Labels: ingestion

#5678 feat(simplified homepage): adding option to show limited entity types on homepage
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/MeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateUserSettingResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/corpuser/CorpUserType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/corpuser/mappers/CorpUserMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateUserSettingResolverTest.java
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/home/HomePageRecommendations.tsx
  datahub-web-react/src/app/settings/Preferences.tsx
  datahub-web-react/src/app/settings/SettingsPage.tsx
  datahub-web-react/src/app/useGetAuthenticatedUser.tsx
  datahub-web-react/src/graphql/me.graphql
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserAppearanceSettings.pdl
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserSettings.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/config/ConfigurationProvider.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
  metadata-service/factories/src/main/resources/application.yml
  metadata-utils/src/main/java/com/linkedin/metadata/Constants.java
Labels: product

#5727 Worked on the Secret Fields in ingestion form
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/SecretField/SecretField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/bigquery.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/kafka.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/looker.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/redshift.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/tableau.ts
Labels: product
