Repository datahub-project/datahub, pull requests merged in 2022-11, with the labels that each got.

#6320 feat(change-event): add change events for DataProcessInstanceRunEvent
  docs/dev-guides/timeline.md
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/TimelineServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/data/ChangeCategory.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/data/ChangeOperation.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/differ/AspectDiffer.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/differ/AspectDifferFactory.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/differ/AspectDifferRegistry.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/Aspect.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/AssertionRunEventChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/ChangeEventGeneratorUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/DataProcessInstanceRunEventChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/DatasetPropertiesChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/DeprecationChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EditableDatasetPropertiesChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EditableSchemaMetadataChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EntityChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EntityChangeEventGeneratorFactory.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EntityChangeEventGeneratorRegistry.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EntityKeyChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/GlobalTagsChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/GlossaryTermsChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/InstitutionalMemoryChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/OwnershipChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SingleDomainChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/StatusChangeEventGenerator.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/event/EntityChangeEventGeneratorHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/EntityChangeEventGeneratorHookTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/PlatformEventMatcher.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeline/AspectDifferRegistryFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeline/EntityChangeEventGeneratorRegistryFactory.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/GenericRecordUtils.java
Labels: docs, product

#6290 Worked on the Usage column & Lineage Drawer
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/lineage/LineageExplorer.tsx
Labels: product

#6324 refactor(bootstrap data): Adding assertions data to bootstrap
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
Labels: ingestion

#6332 fix(ui) Disable deleting Term Groups with children
  datahub-web-react/src/app/entity/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/graphql/glossaryNode.graphql
Labels: product

#6148 feat(ingestion): business-glossary - Add values and relatedTerms support
  metadata-ingestion/docs/sources/business-glossary/datahub-business-glossary.md
  metadata-ingestion/docs/sources/business-glossary/datahub-business-glossary_recipe.yml
  metadata-ingestion/examples/bootstrap_data/business_glossary.yml
  metadata-ingestion/examples/recipes/business_glossary_to_datahub.dhub.yaml
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-models/src/main/pegasus/com/linkedin/glossary/GlossaryNodeInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/glossary/GlossaryRelatedTerms.pdl
  metadata-models/src/main/pegasus/com/linkedin/glossary/GlossaryTermInfo.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.lineage.relationships.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: ingestion

#6335 fix(ui): two small ux fixes
  datahub-web-react/src/app/entity/dataset/DatasetSearchSnippet.tsx
  datahub-web-react/src/app/entity/shared/__tests__/siblingsUtils.test.ts
  datahub-web-react/src/app/entity/shared/siblingUtils.ts
  datahub-web-react/src/graphql/dataset.graphql
Labels: product

#5369 feat(ingest): add new ingestion source PowerBI Report Server
  docs/cli.md
  metadata-ingestion/docs/sources/powerbi/powerbi-report-server.md
  metadata-ingestion/docs/sources/powerbi/powerbi-report-server_recipe.yml
  metadata-ingestion/examples/mce_files/data_platforms.json
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/constants.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server_domain.py
  metadata-ingestion/tests/integration/powerbi_report_server/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi_report_server/test_powerbi_report_server.py
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: ingestion, community-contribution

#6331 feat(ingest): drop plugin support for airflow 1.x
  .github/workflows/metadata-ingestion.yml
  docs/how/updating-datahub.md
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin.py
  metadata-ingestion-modules/airflow-plugin/tox.ini
  metadata-ingestion/build.gradle
  metadata-ingestion/scripts/airflow1-constraints.sh
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub_provider/entities.py
  metadata-ingestion/src/datahub_provider/example_dags/generic_recipe_sample_dag.py
  metadata-ingestion/src/datahub_provider/example_dags/lineage_backend_demo.py
  metadata-ingestion/src/datahub_provider/example_dags/lineage_backend_taskflow_demo.py
  metadata-ingestion/src/datahub_provider/example_dags/mysql_sample_dag.py
  metadata-ingestion/src/datahub_provider/hooks/datahub.py
  metadata-ingestion/src/datahub_provider/lineage/datahub.py
  metadata-ingestion/tests/airflow1-constraints.txt
  metadata-ingestion/tests/unit/test_airflow.py
Labels: ingestion, devops

#6338 fix(ingest): fix invalid schema field urns with empty field path
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/tests/integration/tableau/setup/workbooksConnection_all.json
Labels: ingestion

#6337 fix(perf): trim down unnecessary fields from container and domain GraphQl queries
  datahub-web-react/src/graphql/container.graphql
  datahub-web-react/src/graphql/domain.graphql
Labels: product

#6348 fix(adv search): fixing typo in es utils
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
Labels: product

#6347 docs(ingest): clarify that redshift-usage doesn't support column-level usage
  metadata-ingestion/src/datahub/ingestion/source/usage/redshift_usage.py
Labels: ingestion

#6342 Fix the date issue on Create Access token Modal
  datahub-web-react/src/app/settings/utils.ts
Labels: product

#6334 Enable Owner Type for Glossary Node + Domain
  datahub-web-react/src/app/entity/domain/DomainEntity.tsx
  datahub-web-react/src/app/entity/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Ownership/ownershipUtils.ts
Labels: product

#6350 fix(ui) Fix filters in embedded list search component
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchSection.tsx
Labels: product

#6317 Allow links without top level domain
  datahub-web-react/package.json
  datahub-web-react/src/app/entity/shared/components/styled/AddLinkModal.tsx
  datahub-web-react/yarn.lock
Labels: product

#6351 feat(ingest): support reserved keywords in model codegen
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/serde/test_serde.py
Labels: ingestion

#6288 docs(act) update Act on Metadata landing page
  docs-website/sidebars.js
  docs-website/src/pages/docs/_components/QuickLinkCards/index.js
  docs/act-on-metadata.md
  docs/wip/act-on-metadata.md
Labels: docs

#6349 fix(ingest): fix log line interpolation
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
Labels: ingestion

#6359 fix(schema-history): remove unnecessary margin on version selector
  datahub-web-react/src/app/entity/dataset/profile/schema/components/SchemaHeader.tsx
Labels: product

#6186 feat(ingest): upgrade feast
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/feast.py
  metadata-ingestion/tests/integration/feast/feature_store/data/registry.db
  metadata-ingestion/tests/integration/feast/feature_store/feature_store.yaml
  metadata-ingestion/tests/integration/feast/feature_store/features.py
  metadata-ingestion/tests/integration/feast/test_feast_repository.py
Labels: hacktoberfest-accepted, ingestion, community-contribution

#6346 feat(privileges) Create privileges to allow for managing children of entities
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/auth/AccessTokenUtil.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/EntityPrivilegesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/AddRelatedTermsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryNodeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryTermResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/DeleteGlossaryEntityResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/RemoveRelatedTermsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateNameResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateParentNodeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/GlossaryUtils.java
  datahub-graphql-core/src/main/resources/auth.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/entity/EntityPrivilegesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/GlossaryUtilsTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/UpdateNameResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/UpdateParentNodeResolverTest.java
  datahub-web-react/src/app/entity/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/__tests__/EntityHeader.test.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHeader.tsx
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/graphql/glossaryNode.graphql
  datahub-web-react/src/graphql/glossaryTerm.graphql
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: product

#6321 fix(ui) Handle encoded schemaField urns on the frontend
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaRow.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/DatasetAssertionDescription.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/utils.ts
  datahub-web-react/src/app/lineage/utils/__tests__/columnLineageUtils.test.tsx
  datahub-web-react/src/app/lineage/utils/columnLineageUtils.ts
  datahub-web-react/src/app/lineage/utils/extendAsyncEntities.ts
  datahub-web-react/src/app/preview/EntityPaths/ColumnsRelationshipText.tsx
  datahub-web-react/src/app/preview/EntityPaths/DisplayedColumns.tsx
  metadata-ingestion/src/datahub/utilities/urn_encoder.py
Labels: ingestion, product

#6352 refactor(ui): Refactor the Glossary Related Entities, Tag Profiles to use search filters instead of query API.
  datahub-web-react/src/app/entity/container/ContainerEntitiesTab.tsx
  datahub-web-react/src/app/entity/domain/DomainEntitiesTab.tsx
  datahub-web-react/src/app/entity/glossaryTerm/profile/GlossaryRelatedEntity.tsx
  datahub-web-react/src/app/entity/group/GroupAssets.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/DownloadAsCsvModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchHeader.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchSection.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchExtendedMenu.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/types.ts
  datahub-web-react/src/app/entity/user/UserAssets.tsx
  datahub-web-react/src/app/ingest/source/IngestedAssets.tsx
  datahub-web-react/src/app/search/SearchFiltersSection.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
  datahub-web-react/src/app/search/__tests__/filterUtils.test.tsx
  datahub-web-react/src/app/search/utils/constants.ts
  datahub-web-react/src/app/search/utils/filterUtils.ts
  datahub-web-react/src/app/shared/TagStyleEntity.tsx
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  smoke-test/tests/cypress/cypress/integration/glossary/glossaryTerm.js
  smoke-test/tests/cypress/cypress/integration/search/search.js
  smoke-test/tests/cypress/data.json
Labels: product

#6362 fix(ingest): only log vars if requested
  metadata-ingestion/README.md
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/cli/get_cli.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/cli/timeline_cli.py
  metadata-ingestion/src/datahub/configuration/__init__.py
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
Labels: ingestion

#6365 Install openjdk in base ingestion image
  docker/datahub-ingestion/base.Dockerfile
Labels: devops

#6363 docs(logos) add Hurb and Razer logos to docs site
  docs-website/src/pages/_components/Logos/index.js
  docs-website/static/img/logos/companies/hurb.png
  docs-website/static/img/logos/companies/razer.jpeg
Labels: docs

#6313 fix(ingest): bigquery - Sending lineage aspects as patch
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
Labels: ingestion

#6367 feat(build): env variable for creds pass to cypress
  smoke-test/smoke.sh
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: devops

#6368 fix(ui): Addressing minor UI issues pre-release
  datahub-web-react/src/app/entity/dataset/profile/schema/components/SchemaHeader.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/ColumnLineageSelect.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingest/source/executions/IngestionExecutionTable.tsx
  datahub-web-react/src/app/ingest/source/executions/IngestionExecutionTableColumns.tsx
  datahub-web-react/src/app/ingest/source/utils.ts
  datahub-web-react/src/app/permissions/roles/ManageRoles.tsx
  datahub-web-react/src/app/search/SearchFiltersSection.tsx
  datahub-web-react/src/app/shared/admin/HeaderLinks.tsx
Labels: product

#6364 feat(ingest): supports MCEs in domain transformer
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/transformer/base_transformer.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#6343 feat(ingest): enable container stateful ingestion
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
Labels: ingestion

#6391 build(ingest): pin mypy version
  metadata-ingestion/setup.cfg
  metadata-ingestion/setup.py
Labels: ingestion

#6385 fix(ingest): unity - add missing date type
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
Labels: ingestion

#6380 feat(ingest/tableau): re-authenticate if the token expires
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#6354 fix(ingest): use profiler config settings correctly
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/tests/integration/mysql/mysql_mces_no_db_golden.json
  metadata-ingestion/tests/integration/mysql/mysql_mces_with_db_golden.json
Labels: ingestion

#6404 fix(ingest): handle error when query returns no columns in snowflake lineage
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage.py
Labels: ingestion

#6410 fix(ingest): fix missing snowflake lineage when table_pattern is set
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/tests/integration/snowflake-beta/test_snowflake_beta.py
Labels: ingestion

#6204 feat(ingest): loosen sqlalchemy dep & support airflow 2.3+
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin.py
  metadata-ingestion/build.gradle
  metadata-ingestion/docs/sources/oracle/oracle.md
  metadata-ingestion/pyproject.toml
  metadata-ingestion/scripts/install-sqlalchemy-stubs.sh
  metadata-ingestion/setup.cfg
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/src/datahub/ingestion/source/usage/redshift_usage.py
  metadata-ingestion/src/datahub/integrations/great_expectations/action.py
  metadata-ingestion/src/datahub/utilities/_markupsafe_compat.py
  metadata-ingestion/src/datahub/utilities/sqlalchemy_query_combiner.py
  metadata-ingestion/src/datahub_provider/_airflow_compat.py
  metadata-ingestion/src/datahub_provider/_lineage_core.py
  metadata-ingestion/src/datahub_provider/_plugin.py
  metadata-ingestion/src/datahub_provider/client/airflow_generator.py
  metadata-ingestion/src/datahub_provider/hooks/datahub.py
  metadata-ingestion/tests/test_helpers/sqlalchemy_mypy_plugin.py
  metadata-ingestion/tests/unit/test_airflow.py
  metadata-ingestion/tests/unit/test_athena_source.py
Labels: ingestion, devops

#6402 fix(ingest/s3): add status aspect for detected s3 datasets
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_exclude.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_glob.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_keyval.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_single_file.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_exclude.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_glob.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_keyval.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_single_file.json
Labels: ingestion

#6418 fix(ingest/snowflake): loosen snowflake connector version requirement
  metadata-ingestion/setup.py
Labels: ingestion

#6407 fix(mysql): fix native data type for mysql set type
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/tests/integration/mysql/mysql_mces_no_db_golden.json
  metadata-ingestion/tests/integration/mysql/setup/setup.sql
Labels: ingestion

#6287 perf(ui): virtualized schema table rows
  datahub-web-react/package.json
  datahub-web-react/src/app/entity/dataset/profile/__tests__/Schema.test.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StyledTable.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaRow.tsx
  datahub-web-react/yarn.lock
Labels: hacktoberfest-accepted, product

#6429 fix(ingest): init dataset props if missing in transformer
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_properties.py
Labels: ingestion

#6431 fix(change-event): remove unnecessary dependencies on EntityChangeEventGeneratorRegistryFactory
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeline/EntityChangeEventGeneratorRegistryFactory.java
Labels: product

#6053 feat(frontend): Adding support to show externalUrl and institutionalMemoryFields for MLModels
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelPropertiesMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/mlModel/MLModelEntity.tsx
  datahub-web-react/src/graphql/fragments.graphql
Labels: community-contribution, product

#5728 feat(model): adds properties, ownership, deprecated, institutional memory and tags as aspects for data platform instance entity
  metadata-models/src/main/pegasus/com/linkedin/dataplatforminstance/DataPlatformInstanceProperties.pdl
  metadata-models/src/main/resources/entity-registry.yml
Labels: ingestion, community-contribution

#6436 docs(ingest/airflow): clarify docs around 1.x compat
  docker/airflow/local_airflow.md
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/README.md
Labels: docs, devops

#6329 feat(recommendations): add last edited entities
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlyEditedSource.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/recommendation/RecommendationServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/recommendation/candidatesource/RecentlyEditedCandidateSourceFactory.java
Labels: product

#6438 fix(ingest): correctly compute entity change percentage
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
Labels: ingestion

#6104 Neo4j multihop support
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/GraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/dgraph/DgraphGraphServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphServiceTest.java
Labels: hacktoberfest-accepted, community-contribution, product

#6378 fix(mae-consumer): Set proper variable expansion for JMX_OPTS and JAVA_OPTS in MAE docker
  docker/datahub-mae-consumer/start.sh
Labels: community-contribution, devops

#6341 docs(ingest): move prerequisite section before the ingestion recipe example
  metadata-ingestion/docs/sources/bigquery/bigquery-legacy_pre.md
  metadata-ingestion/docs/sources/bigquery/bigquery-usage-legacy_pre.md
  metadata-ingestion/docs/sources/mysql/mysql_pre.md
  metadata-ingestion/docs/sources/powerbi/powerbi-report-server_pre.md
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
  metadata-ingestion/docs/sources/pulsar/pulsar_pre.md
  metadata-ingestion/docs/sources/salesforce/salesforce_pre.md
  metadata-ingestion/docs/sources/snowflake/snowflake-legacy_pre.md
  metadata-ingestion/docs/sources/vertica/vertica_pre.md
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
Labels: ingestion

#6396 fix(dataset): improve glossary term load performance for datasets
  datahub-web-react/src/graphql/dataset.graphql
Labels: community-contribution, product

#6426 feat(lineage) Implement CLL impact analysis for inputFields
  datahub-web-react/src/app/entity/shared/tabs/Lineage/ColumnLineageSelect.tsx
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHookTest.java
  metadata-jobs/mae-consumer/src/test/resources/test-entity-registry.yml
Labels: product

#6427 feat(ui) Add upgrade step to enable CLL impact analysis for existing data
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/factories/BootstrapManagerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/RestoreColumnLineageIndices.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/RestoreColumnLineageIndicesTest.java
Labels: product

#6398 Added functionality to copy fieldpath and urn of each column
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/MenuColumn.tsx
Labels: product

#6134 fix(ingestion): add output converters for ODBC unsuported datatype in…
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
Labels: hacktoberfest-accepted, ingestion, community-contribution

#6446 fix(ui) Fix parentNodes overfetching everywhere it's used
  datahub-web-react/src/graphql/dataset.graphql
  datahub-web-react/src/graphql/fragments.graphql
Labels: product

#6447 fix(ingest): snowflake - Fixing top query trimming in snowflake
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
Labels: ingestion

#6453 chore(ingest): fix mssql lint
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
Labels: ingestion

#6451 fix(ingest): add cli info to ingestion reporter
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
Labels: ingestion

#6457 fix(ui) Fix glossary side browser width fluctuating
  datahub-web-react/src/app/glossary/BusinessGlossaryPage.tsx
Labels: product

#6460 fix(python): Fix python dependencies for doc generation
  metadata-ingestion/setup.py
Labels: ingestion

#6433 build(ingest): loosen jinja2 dependency for superset
  metadata-ingestion/setup.py
Labels: ingestion, community-contribution

#6448 fix(ingest): lowercase db name in mssql ingestion
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
Labels: ingestion

#6445 fix(ingest): handle missing schema in transformer
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_schema_tags.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_schema_terms.py
Labels: ingestion

#6366 feat(ingest): allow specific profiler config fields to override profile_table_level_only
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/profiling.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
Labels: ingestion

#6286 docs(enrichment) updating enrichment landing page
  docs-website/sidebars.js
  docs-website/src/pages/docs/_components/QuickLinkCards/index.js
  docs/enrich-metadata.md
  docs/wip/enrich-metadata.md
Labels: docs

#6464 fix(home-page): remove redundant getAuthenticatedUser query
  datahub-web-react/src/app/home/HomePageBody.tsx
  datahub-web-react/src/app/home/HomePageRecommendations.tsx
Labels: product

#6466 feat(ingest): detect old or missing docker compose
  docs/quickstart.md
  metadata-ingestion/src/datahub/cli/docker_check.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/tests/integration/sql_server/test_sql_server.py
Labels: ingestion

#6339 feat(ingestion): powerbi # Power BI report support
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
  metadata-ingestion/src/datahub/ingestion/source/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion

#6467 fix(ingest/dbt): disable incremental lineage by default
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: ingestion

#6474 fix(loggin): print logging timestamp in ISO8601 format instead of jus…
  datahub-frontend/conf/logback.xml
  datahub-frontend/run/logback.xml
  metadata-jobs/mae-consumer-job/src/main/resources/logback.xml
  metadata-jobs/mce-consumer-job/src/main/resources/logback.xml
Labels: product, devops

#6461 docs(ingest/trino): add example of http connection
  metadata-ingestion/docs/sources/trino/trino_recipe.yml
Labels: ingestion

#6469 refactor(ui): Simplify base glossary page toolbar
  datahub-web-react/src/app/glossary/BusinessGlossaryPage.tsx
Labels: product

#6476 build: remove `Jinja2` dependency from `superset`
  metadata-ingestion/setup.py
Labels: ingestion

#6434 fix(roles): allows role service to unassign roles
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/AcceptRoleResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/BatchAssignRoleResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/ListRolesResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/role/AcceptRoleResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/role/BatchAssignRoleResolverTest.java
  datahub-web-react/src/app/identity/user/AssignRoleConfirmation.tsx
  datahub-web-react/src/app/identity/user/SelectRole.tsx
  datahub-web-react/src/app/identity/user/UserList.tsx
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/invite/InviteTokenService.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/role/RoleService.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/RoleServiceTest.java
Labels: product

#6465 fix(docs): update the Okta and Azure AD docs to clarify the point of ingesting users
  metadata-ingestion/src/datahub/ingestion/source/identity/azure_ad.py
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
Labels: ingestion

#6400 Highlighted the description text on search
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/__tests__/filterSchemaRows.test.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/filterSchemaRows.ts
Labels: product

#6477 Ownership type is deprecated
  metadata-ingestion/examples/library/dataset_add_owner.py
Labels: ingestion

#6468 feat(ui): Adding Explore all button on home page search
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/home/HomePageHeader.tsx
Labels: product

#6482 fix(ingest): fix athena and GE lint errors
  metadata-ingestion/build.gradle
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/integrations/great_expectations/action.py
Labels: ingestion

#6454 refactor(ingest): simplify stateful ingestion config
  metadata-ingestion/docs/dev_guides/add_stateful_ingestion_to_source.md
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
  metadata-ingestion/src/datahub/ingestion/source/feast.py
  metadata-ingestion/src/datahub/ingestion/source/feast_legacy.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/identity/azure_ad.py
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/src/datahub/ingestion/source/openapi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/source/usage/clickhouse_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/redshift_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/snowflake_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/starburst_trino_usage.py
  metadata-ingestion/src/datahub/ingestion/source_config/pulsar.py
Labels: ingestion

#6484 docs(ingest/tableau): required permissions + doc formatting
  metadata-ingestion/docs/sources/tableau/tableau_pre.md
Labels: ingestion

#6480 fix(ui) Fix lineage graph rendering with duplicate nodes
  datahub-web-react/src/app/lineage/LineageTreeNodeAndEdgeRenderer.tsx
  metadata-io/src/main/java/com/linkedin/metadata/graph/SiblingGraphService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/sibling/SiblingGraphServiceTest.java
Labels: product

#6493 fix(managed ingestion): updating snowflake schema pattern placeholder text
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/snowflake.ts
Labels: product

#6496 feat(ui): Adding External URLs to search preview for Dataset, Container, DataFlow, DataJob
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
  datahub-web-react/src/app/entity/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entity/dataJob/DataJobEntity.tsx
  datahub-web-react/src/graphql/search.graphql
Labels: product

#6478 fix(ingest/tableau): check `tableName` existence on datasource response
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#6501 fix(build): do not use neo4j for dev
  docker/dev-without-neo4j.sh
  docker/docker-compose-without-neo4j.m1.yml
Labels: devops

#6323 feat(ingest): dbt cloud integration
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/dbt/README.md
  metadata-ingestion/docs/sources/dbt/dbt-cloud_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion, docs

#6503 fix(tableau): extra defensive error-handling
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#6486 fix(ingest): remove redundant types
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
Labels: ingestion

#6515 fix(docs): add missing docs for 0.9.1
  docs-website/sidebars.js
  docs/how/updating-datahub.md
Labels: docs

#6450 feat(ui): Introducing Share Button on Entity Pages
  datahub-web-react/package.json
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entity/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/domain/DomainEntity.tsx
  datahub-web-react/src/app/entity/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entity/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entity/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entity/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entity/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entity/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHeader.tsx
  datahub-web-react/src/app/home/HomePageRecommendations.tsx
  datahub-web-react/src/app/recommendations/__tests__/Recommendations.test.tsx
  datahub-web-react/src/app/search/SearchResultList.tsx
  datahub-web-react/src/app/shared/TagStyleEntity.tsx
  datahub-web-react/src/app/shared/share/ShareButton.tsx
  datahub-web-react/src/app/shared/share/ShareButtonMenu.tsx
  datahub-web-react/src/app/shared/share/items/CopyLinkMenuItem.tsx
  datahub-web-react/src/app/shared/share/items/CopyUrnMenuItem.tsx
  datahub-web-react/src/app/shared/share/items/EmailMenuItem.tsx
  datahub-web-react/yarn.lock
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: product

#6370 Added I AM auth for Opensearch
  docker/datahub-gms/env/docker.env
  docs/deploy/aws.md
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/auth/AwsRequestSigningApacheInterceptor.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/RestHighLevelClientFactory.java
  metadata-service/factories/src/main/resources/application.yml
Labels: docs, community-contribution, devops

#6505 fix(ingest): correctly handle transformer patch semantics
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_browse_path.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_ownership.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_properties.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_tags.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_terms.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_domain.py
  metadata-ingestion/src/datahub/ingestion/transformer/remove_dataset_ownership.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#6509 feat(ingest/csv-enrich): handle BOM character
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
Labels: ingestion

#6508 feat(airflow): support kafka hook in the airflow plugin
  metadata-ingestion/src/datahub_provider/_plugin.py
Labels: ingestion

#6504 fix(patch): cover case where patch is used to create an entity
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/AspectUtilsTest.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
Labels: product, release-0.9.3

#6403 feat(ingest): add config for ingesting delta table without files
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/config.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/delta_lake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/tests/integration/delta_lake/delta_lake_minio_mces_golden.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_allow_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_inner_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_relative_path.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_single_table.json
  metadata-ingestion/tests/integration/delta_lake/sources/local/single_table.json
Labels: ingestion

#6517 fix(ingest): fix typo in unique count profiling
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/tests/integration/mysql/mysql_mces_no_db_golden.json
  metadata-ingestion/tests/integration/mysql/mysql_mces_with_db_golden.json
Labels: ingestion

#6435 feat(kafka-setup): Added support for MSK IAM authentication.
  docker/kafka-setup/Dockerfile
  docker/kafka-setup/kafka-setup.sh
Labels: devops

#6510 Added sorting method to fieldpath column of schema tab
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTable.tsx
Labels: product

#6525 fix(ingest): make kafka emit callback optional
  metadata-ingestion/src/datahub/api/entities/datajob/dataflow.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
  metadata-ingestion/src/datahub/emitter/kafka_emitter.py
  metadata-ingestion/src/datahub_provider/_plugin.py
Labels: ingestion

#6376 feat(ingest): automated term classification for snowflake
  docs-website/sidebars.js
  metadata-ingestion/docs/dev_guides/classification.md
  metadata-ingestion/examples/recipes/snowflake_to_datahub.dhub.yaml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/glossary/__init__.py
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/glossary/classifier.py
  metadata-ingestion/src/datahub/ingestion/glossary/classifier_registry.py
  metadata-ingestion/src/datahub/ingestion/glossary/datahub_classifier.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake-beta/snowflake_beta_golden.json
  metadata-ingestion/tests/integration/snowflake-beta/test_snowflake_beta.py
  metadata-ingestion/tests/unit/test_classification.py
Labels: ingestion

#6520 fix(ingest): fix typo in urn utilities
  metadata-ingestion/src/datahub/utilities/urns/data_flow_urn.py
  metadata-ingestion/src/datahub/utilities/urns/dataset_urn.py
Labels: ingestion

#6518 fix(ingest): fix trino properties and tests
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/tests/integration/trino/test_trino.py
  metadata-ingestion/tests/integration/trino/trino_mces_golden.json
Labels: ingestion

#6512 fix(build): remove warnings in github actions
  .github/actions/docker-custom-build-and-push/action.yml
  .github/workflows/docker-feast-source.yml
  .github/workflows/docker-ingestion-base.yml
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-ingestion.yml
  .github/workflows/docker-postgres-setup.yml
  .github/workflows/docker-unified.yml
  .github/workflows/metadata-model.yml
  .github/workflows/publish-datahub-jars.yml
Labels: devops

#6472 fix(ingest): kafka - properly picking doc from union type
  metadata-ingestion/src/datahub/ingestion/extractor/schema_util.py
  metadata-ingestion/tests/unit/test_schema_util.py
Labels: ingestion

#6537 feat(ingest): disable stateful_ingestion fail-safe by default
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
Labels: ingestion

#6528 fix(ingest/airflow): respect enabled flag in airflow plugin
  metadata-ingestion/src/datahub_provider/_plugin.py
Labels: ingestion

#6494 refactor(ui): Adding apollo caching to manage domains page.
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/CreateDomainResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/ListDomainsResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/CreateDomainProposalMatcher.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/CreateDomainResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/ListDomainsResolverTest.java
  datahub-web-react/src/app/domain/CreateDomainModal.tsx
  datahub-web-react/src/app/domain/DomainListItem.tsx
  datahub-web-react/src/app/domain/DomainsList.tsx
  datahub-web-react/src/app/domain/utils.ts
  datahub-web-react/src/graphql/domain.graphql
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-models/src/main/pegasus/com/linkedin/domain/DomainProperties.pdl
Labels: product

#6538 refactor(recommendations): Filtering for specific entity types in recommendations
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/MostPopularSource.java
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlyEditedSource.java
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlyViewedSource.java
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecommendationUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/recommendation/candidatesource/RecommendationUtilsTest.java
Labels: product

#6456 fix(ingest): handle groupby custom label case
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Labels: ingestion

#6540 build(ingest): support flake8 6.0.0
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source/confluent_schema_registry.py
  metadata-ingestion/src/datahub_provider/operators/datahub_operation_operator.py
Labels: ingestion

#6541 fix(ui) Wrap schema field descriptions to allow read more/less always
  datahub-web-react/src/app/entity/dataset/profile/schema/components/SchemaDescriptionField.tsx
Labels: product

#6526 fix(ui) Display duplicate nodes in lineage viz
  datahub-web-react/src/app/lineage/LineageTree.tsx
  datahub-web-react/src/app/lineage/LineageTreeNodeAndEdgeRenderer.tsx
  datahub-web-react/src/app/lineage/LineageVizInsideZoom.tsx
  datahub-web-react/src/app/lineage/utils/layoutTree.ts
  smoke-test/tests/cypress/cypress/integration/siblings/siblings.js
Labels: product

#6548 style(ingest): fix lint checks for superset
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Labels: ingestion

#6546 fix(envs): remove DATASET_ENABLE_SCSI stale env var
  docker/datahub-gms/env/docker-without-neo4j.env
  docker/datahub-gms/env/docker.cassandra.env
  docker/datahub-gms/env/docker.env
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
Labels: devops

#6545 feat(ingest): refractor classification mixin, support new infotypes
  metadata-ingestion/docs/dev_guides/classification.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/glossary/datahub_classifier.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion

#6553 fix(ingest): bigquery - missing sqlalchemy dep and row count fix
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Labels: ingestion

#6554 fix(ingest): bigquery - Fixing querying non-date partition columns in profiling
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#6441 feat(ingest): powerbi # scan all accessible workspaces
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/powerbi/powerbi_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion

#6558 fix(ingest): bigquery - Setting partition id for profiling data and project_id fix
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
Labels: ingestion

#6543 feat(ui): Add Test Connection Support for BigQuery ingestion source
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/TestConnection/TestConnectionModal.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingest/source/conf/sources.tsx
Labels: product

#6561 fix(ingest): handle docker-compose version `v` prefix
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion

#6559 docs(ingest/kafka): add field descriptions of kafka-related configs to pydantic
  metadata-ingestion/src/datahub/configuration/kafka.py
Labels: ingestion

#6566 fix(ingest): set DataProcessInstance created ts to start time
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
Labels: ingestion

#6568 fix(ingest): graceful error handling in snowflake classification
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion

#6571 ci(label): add smoke test label
  .github/pr-labeler-config.yml
Labels: devops

#6491 fix(tests): Misc updates for tests, auth log level, and quickstart
  datahub-frontend/app/client/AuthServiceClient.java
  datahub-frontend/app/security/AuthenticationManager.java
  docker/datahub-gms/env/docker.cassandra.env
  docker/datahub-gms/env/docker.mariadb.env
  docker/datahub-gms/env/docker.postgres.env
  docker/datahub-mae-consumer/env/docker-without-neo4j.env
  docker/datahub-mae-consumer/env/docker.env
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
  metadata-integration/java/spark-lineage/spark-smoke-test/smoke.sh
  smoke-test/tests/browse/browse_test.py
  smoke-test/tests/utils.py
Labels: product, devops

#6563 fix(verions): Update opentelemetry and updates from pr-5239
  build.gradle
  docker/datahub-frontend/Dockerfile
  docker/datahub-frontend/start.sh
  docker/datahub-gms/Dockerfile
  docker/datahub-gms/start.sh
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mae-consumer/start.sh
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-mce-consumer/start.sh
  docker/datahub-upgrade/Dockerfile
  metadata-integration/java/datahub-client/build.gradle
Labels: devops

#6516 refactor(airflow): remove verbose log from airflow plugin
  metadata-ingestion/src/datahub_provider/_plugin.py
Labels: ingestion

#6569 feat(cli): remove inconsistency check command
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/graph_consistency/__init__.py
  metadata-ingestion/src/datahub/graph_consistency/check_data_platform.py
Labels: ingestion, docs

#6579 fix(ingest): restrict snowflake's sqlalchemy dep
  metadata-ingestion/setup.py
Labels: ingestion

#6573 docs(notes): add release notes for v0.1.69 managed DataHub
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_1_69.md
Labels: docs

#6585 fix(test): fix delete smoke test
  smoke-test/tests/delete/delete_test.py
Labels: smoke_test
