Repository datahub-project/datahub, pull requests merged in 2022-10, with the labels that each got.

#6095 fix(ingest): bigquery-beta - Lowering a bit memory footprint of bigquery usage
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#6075 feat(ingest): remove hardcoded env variable default for cli version
  .github/workflows/build-and-test.yml
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  docker/datahub-gms/env/docker-without-neo4j.env
  docker/datahub-gms/env/docker.env
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  gradle/versioning/versioning.gradle
  metadata-service/factories/build.gradle
  metadata-service/factories/src/main/resources/application.yml
Labels: devops

#6092 docs: add information about mapping ports for datahub-gms
  docs/quickstart.md
Labels: docs

#6099 chore(deps): upgrade graphql-java deps to 19.0
  build.gradle
  datahub-graphql-core/build.gradle
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
Labels: product

#6101 chore(deps): upgrade neo4j to 4.4.x
  build.gradle
  docker/docker-compose.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-io/src/test/java/com/linkedin/metadata/graph/neo4j/Neo4jTestServerBuilder.java
Labels: product, devops

#5889 feat(docs): Improve documentation about Search
  docs/how/search.md
Labels: docs

#6113 refactor(recommendations): Bump default max recommendations count for Platforms
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/TopPlatformsSource.java
Labels: product

#6105 feat(ingest): add Sandbox support
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
Labels: accepted, ingestion, community-contribution

#6114 fix(mae): use JAVA_TOOL_OPTIONS instead of JDK_JAVA_OPTIONS
  docker/datahub-mae-consumer/start.sh
Labels: devops

#6109 feat(search): improved search snippet FE logic
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/dataset/DatasetSearchSnippet.tsx
  datahub-web-react/src/app/entity/shared/__tests__/utils.test.ts
  datahub-web-react/src/app/entity/shared/utils.ts
Labels: product

#5930 feat(ingest): add CorpUser and CorpGroup to the Python SDK
  metadata-ingestion/examples/library/lineage_job_dataflow_new_api_verbose.py
  metadata-ingestion/src/datahub/api/entities/corpgroup/__init__.py
  metadata-ingestion/src/datahub/api/entities/corpgroup/corpgroup.py
  metadata-ingestion/src/datahub/api/entities/corpuser/__init__.py
  metadata-ingestion/src/datahub/api/entities/corpuser/corpuser.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
Labels: ingestion, community-contribution

#5944 fix(ingest): hide deprecated path_spec option from config
  metadata-ingestion/src/datahub/ingestion/source/aws/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/tests/integration/delta_lake/test_local_delta_lake.py
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/sources/s3/multiple_files.json
  metadata-ingestion/tests/integration/s3/test_s3.py
Labels: ingestion

#6110 feat(posts): add posts feature to DataHub
  datahub-frontend/play.gradle
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/post/CreatePostResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/post/ListPostsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/post/PostMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/post/CreatePostResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/post/ListPostsResolverTest.java
  datahub-web-react/src/app/home/HomePagePosts.tsx
  datahub-web-react/src/app/home/HomePageRecommendations.tsx
  datahub-web-react/src/app/search/PostLinkCard.tsx
  datahub-web-react/src/app/search/PostTextCard.tsx
  datahub-web-react/src/graphql/mutations.graphql
  datahub-web-react/src/graphql/post.graphql
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-models/src/main/pegasus/com/linkedin/common/Media.pdl
  metadata-models/src/main/pegasus/com/linkedin/common/MediaType.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/PostKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/post/PostContent.pdl
  metadata-models/src/main/pegasus/com/linkedin/post/PostContentType.pdl
  metadata-models/src/main/pegasus/com/linkedin/post/PostInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/post/PostType.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/post/PostService.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/post/PostServiceTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/auth/PostServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: product

#6106 fix(ingest): remove unused mysql golden file
  metadata-ingestion/src/datahub/ingestion/source/sql/two_tier_sql_source.py
  metadata-ingestion/tests/integration/mysql/mysql_mces_golden.json
Labels: ingestion

#6121 fix(ingestion): fix percent change computation in stale_entity_removal
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_stale_entity_removal_handler.py
Labels: ingestion

#6013 refactor(ingest): use pydantic utilities for NamingPattern
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
Labels: ingestion

#6112 fix(ingest): ignore usage and operation for snowflake datasets withou…
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion

#6108 refactor(ingest): remove typing workarounds
  metadata-ingestion/src/datahub/ingestion/api/committable.py
  metadata-ingestion/src/datahub/ingestion/api/common.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
Labels: ingestion

#6120 Added information about AUTH_OIDC_EXTRACT_GROUPS_ENABLED
  docs/authentication/guides/sso/configure-oidc-react-okta.md
Labels: docs

#6126 feat(lineage): show fully qualified task name in lineage UI
  datahub-web-react/src/app/entity/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/lineage/__tests__/constructTree.test.ts
Labels: product

#6116 build: Update JNA for M1 Mac
  build.gradle
  metadata-integration/java/datahub-client/build.gradle
  metadata-io/build.gradle
  metadata-service/auth-ranger-impl/build.gradle
Labels: product

#6133 fix(ingest): bigquery-beta - fix for missing key error if dataset list was empty
  metadata-ingestion/docs/sources/bigquery/bigquery-beta_pre.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#6136 fix(ingest): file - add configurability for counting all elements bef…
  metadata-ingestion/src/datahub/ingestion/source/file.py
Labels: ingestion

#6047 Worked on the feature to update group title
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/CreateDomainResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryNodeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryTermResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateNameResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/OwnerUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/tag/CreateTagResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/CreateDomainResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryNodeResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryTermResolverTest.java
  datahub-web-react/src/app/entity/group/GroupInfoSideBar.tsx
  datahub-web-react/src/app/entity/shared/components/styled/DeprecationPill.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/action/DeprecationDropdown.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHeader.tsx
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
Labels: product

#6137 fix(ingest): add trino package max version restriction
  metadata-ingestion/setup.py
Labels: ingestion

#6107 fix(ingest): add column name quoting for approximate count distinct
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#6044 fix(ingestion): add fallback to trino
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
Labels: ingestion, community-contribution

#6139 perf(search): temporarily disable fetching input fields for search results
  datahub-web-react/src/graphql/search.graphql
Labels: product

#6138 feat(lineage) Add Column-Level to Lineage Visualization
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/UpstreamLineagesMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/EntityRegistry.tsx
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/app/lineage/ColumnNode.tsx
  datahub-web-react/src/app/lineage/LineageEntityColumns.tsx
  datahub-web-react/src/app/lineage/LineageEntityNode.tsx
  datahub-web-react/src/app/lineage/LineageExplorer.tsx
  datahub-web-react/src/app/lineage/LineageTree.tsx
  datahub-web-react/src/app/lineage/LineageTreeNodeAndEdgeRenderer.tsx
  datahub-web-react/src/app/lineage/LineageViz.tsx
  datahub-web-react/src/app/lineage/LineageVizInsideZoom.tsx
  datahub-web-react/src/app/lineage/NodeColumnsHeader.tsx
  datahub-web-react/src/app/lineage/__tests__/LineageTree.test.tsx
  datahub-web-react/src/app/lineage/__tests__/adjustVXTreeLayout.test.tsx
  datahub-web-react/src/app/lineage/__tests__/constructTree.test.ts
  datahub-web-react/src/app/lineage/constants.ts
  datahub-web-react/src/app/lineage/types.ts
  datahub-web-react/src/app/lineage/utils/LineageExplorerContext.tsx
  datahub-web-react/src/app/lineage/utils/adjustVXTreeLayout.ts
  datahub-web-react/src/app/lineage/utils/columnLineageUtils.ts
  datahub-web-react/src/app/lineage/utils/constructFetchedNode.ts
  datahub-web-react/src/app/lineage/utils/constructTree.ts
  datahub-web-react/src/app/lineage/utils/extendAsyncEntities.ts
  datahub-web-react/src/app/lineage/utils/highlightColumnLineage.ts
  datahub-web-react/src/app/lineage/utils/layoutTree.ts
  datahub-web-react/src/app/lineage/utils/navigateToLineageUrl.ts
  datahub-web-react/src/app/lineage/utils/titleUtils.ts
  datahub-web-react/src/app/lineage/utils/useIsShowColumnsMode.ts
  datahub-web-react/src/app/lineage/utils/useResetPageIndexAfterSelect.ts
  datahub-web-react/src/app/lineage/utils/useSortColumnsBySelectedField.ts
  datahub-web-react/src/app/shared/usePrevious.ts
  datahub-web-react/src/graphql/lineage.graphql
  datahub-web-react/src/utils/test-utils/TestPageContainer.tsx
  metadata-events/mxe-schemas/bin/mainGeneratedDataTemplate/com/linkedin/data/template/StringArrayArray.class
  metadata-models/bin/mainGeneratedDataTemplate/com/linkedin/data/template/StringArrayArray.class
  test-models/bin/mainGeneratedDataTemplate/com/linkedin/data/template/StringMapArray.class
Labels: product

#6129 feat(tracking): add telemetry for frontend events
  datahub-frontend/app/auth/AuthModule.java
  datahub-frontend/app/client/AuthServiceClient.java
  datahub-frontend/app/controllers/TrackingController.java
  datahub-frontend/conf/routes
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-service/auth-impl/src/main/java/com/datahub/telemetry/TrackingService.java
  metadata-service/auth-impl/src/test/java/com/datahub/telemetry/TrackingServiceTest.java
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/authentication/AuthServiceController.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/telemetry/MixpanelApiFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/telemetry/MixpanelMessageBuilderFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/telemetry/TelemetryUtils.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/telemetry/TrackingServiceFactory.java
Labels: product

#6143 docs(approvals): update approval permission docs
  docs/managed-datahub/approval-workflows.md
Labels: docs

#6102 fix(ingest): fetch workbook tags in workbooks graphql query
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/tests/integration/tableau/setup/workbooksConnection_all.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
Labels: ingestion

#6147 fix(lineage) Fix possible null pointer exception in UpstreamLineagesMapper
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/UpstreamLineagesMapper.java
Labels: product

#6146 fix(ingest): bigquery-beta - Eliminate the need for data.read permission for table schema
  metadata-ingestion/docs/sources/bigquery/bigquery-beta_pre.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
Labels: ingestion

#6149 fix(lineage) Fix batching to ES for impact analysis
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
Labels: product

#6150 feat(ingest/lookml): add support for local/remote dependencies
  metadata-ingestion/src/datahub/configuration/github.py
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
  metadata-ingestion/src/datahub/ingestion/source/git/git_import.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/lookml/expected_output.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_bigquery.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_badsql_parser.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
Labels: ingestion

#6151 fix(auth): fix login endpoint to respect session expiration env var
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-web-react/src/app/useGetAuthenticatedUser.tsx
Labels: product

#6152 fix(impact analysis): fixing filtering on impact analysis + cypress tests
  datahub-web-react/src/app/entity/domain/DomainEntitiesTab.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/generateUseSearchResultsViaRelationshipHook.ts
  smoke-test/tests/cypress/cypress/integration/lineage/impact_analysis.js
Labels: product

#6155 docs(favicon): add docs for customizing favicon
  datahub-web-react/README.md
Labels: product

#6154 fix(ingest): bigquery-beta - ensure that status aspect is emitted for…
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/tests/integration/clickhouse/clickhouse_mces_golden.json
  metadata-ingestion/tests/integration/delta_lake/delta_lake_minio_mces_golden.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_allow_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_inner_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_relative_path.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_single_table.json
  metadata-ingestion/tests/integration/hive/hive_mces_golden.json
  metadata-ingestion/tests/integration/mysql/mysql_mces_no_db_golden.json
  metadata-ingestion/tests/integration/mysql/mysql_mces_with_db_golden.json
  metadata-ingestion/tests/integration/oracle/golden_test_ingest.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_1.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_2.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_exclude.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_glob.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_keyval.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_single_file.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_exclude.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_glob.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_keyval.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_single_file.json
  metadata-ingestion/tests/integration/snowflake-beta/snowflake_beta_golden.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_state_mces_golden.json
  metadata-ingestion/tests/integration/trino/trino_hive_mces_golden.json
  metadata-ingestion/tests/integration/trino/trino_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_deleted_actor_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_platform_instance_golden.json
Labels: ingestion

#6162 fix(ingest): allow snowflake profiling to work with geography type
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake-beta/snowflake_beta_golden.json
  metadata-ingestion/tests/integration/snowflake-beta/test_snowflake_beta.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#6089 feat(ingest): support enabled flag for airflow config
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin.py
  metadata-ingestion/src/datahub_provider/_lineage_core.py
  metadata-ingestion/src/datahub_provider/lineage/datahub.py
Labels: ingestion, docs

#6131 refactor(ingest): Tableau cleanup
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/integration/tableau/setup/customSQLTablesConnection_0.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesConnection_0.json
  metadata-ingestion/tests/integration/tableau/setup/publishedDatasourcesConnection_0.json
  metadata-ingestion/tests/integration/tableau/setup/workbooksConnection_0.json
  metadata-ingestion/tests/integration/tableau/setup/workbooksConnection_all.json
  metadata-ingestion/tests/integration/tableau/setup/workbooksConnection_state_all.json
  metadata-ingestion/tests/integration/tableau/skip_test_tableau_stat.py
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion

#6163 fix(ingest): bigquery-beta - turning sql parsing off in lineage extraction
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/utilities/memory_footprint.py
  metadata-ingestion/src/datahub/utilities/stats_collections.py
Labels: ingestion

#6077 fix(ingest): allow hiding some fields from the schema
  metadata-ingestion/docs/sources/bigquery/bigquery-beta_pre.md
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
Labels: ingestion

#6111 feat(ui): looker, lookml - add banner to cross-link ingestion
  datahub-web-react/src/app/ingest/source/builder/DefineRecipeStep.tsx
  datahub-web-react/src/app/ingest/source/builder/LookerWarning.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeBuilder.tsx
Labels: product

#6033 feat(ingest): infer aspect name from type in get_aspect
  metadata-ingestion/examples/library/dataset_add_column_tag.py
  metadata-ingestion/examples/library/dataset_add_column_term.py
  metadata-ingestion/examples/library/dataset_add_documentation.py
  metadata-ingestion/examples/library/dataset_add_owner.py
  metadata-ingestion/examples/library/dataset_add_tag.py
  metadata-ingestion/examples/library/dataset_add_term.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_boto_utils.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/tests/unit/test_csv_enricher_source.py
Labels: ingestion

#6094 feat(ingestion): Tableau stateful ingestion
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/source/state/tableau_state.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/integration/tableau/setup/workbooksConnection_all.json
  metadata-ingestion/tests/integration/tableau/setup/workbooksConnection_all_stateful.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion, community-contribution

#6168 feat(ingest): include raw s3 paths if s3 source
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_single_file.json
Labels: ingestion

#6169 feat(secrets) Allow creating secrets with multiline values in the UI
  datahub-web-react/src/app/ingest/secret/SecretBuilderModal.tsx
Labels: product

#6185 feat(ingest/tableau): support dashboard tags
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
Labels: ingestion

#6187 feat(ingest): bigquery-beta - Parsing view ddl definition for lineage
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/tests/unit/test_bigquery_lineage.py
Labels: ingestion

#6175 docs(roles): update roles docs to new doc format
  docs/authorization/roles.md
  docs/imgs/batch-assign-role.png
  docs/imgs/user-list-roles.png
  docs/imgs/user-list-select-role.png
  docs/imgs/view-roles-list.png
Labels: docs

#6184 docs(posts): add posts feature guide
  docs-website/sidebars.js
  docs/posts.md
Labels: docs

#6083 feat(ingest): include instance in container dataPlatform when provided
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/s3/data_lake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/tests/integration/clickhouse/clickhouse_mces_golden.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_allow_table.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
  metadata-ingestion/tests/unit/glue/glue_mces_platform_instance_golden.json
  metadata-ingestion/tests/unit/test_mcp_builder.py
Labels: ingestion

#6198 feat(telemetry): add telemetry events to the settings page
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/entity/shared/EntityDropdown/useDeleteEntity.tsx
  datahub-web-react/src/app/identity/group/CreateGroupModal.tsx
  datahub-web-react/src/app/identity/user/AssignRoleConfirmation.tsx
  datahub-web-react/src/app/identity/user/ViewInviteTokenModal.tsx
  datahub-web-react/src/app/identity/user/ViewResetTokenModal.tsx
  datahub-web-react/src/app/permissions/policy/ManagePolicies.tsx
  datahub-web-react/src/app/permissions/roles/ManageRoles.tsx
  datahub-web-react/src/app/settings/AccessTokens.tsx
  datahub-web-react/src/app/settings/CreateTokenModal.tsx
  datahub-web-react/src/app/settings/Preferences.tsx
  metadata-events/mxe-schemas/bin/mainGeneratedDataTemplate/com/linkedin/data/template/StringArrayArray.class
  metadata-service/auth-impl/src/main/java/com/datahub/telemetry/TrackingService.java
Labels: product

#6156 Worked to update the ingestion type while editing
  datahub-web-react/src/app/ingest/source/builder/DefineRecipeStep.tsx
Labels: product

#6189 fix(ingest): add lower bound for ujson dep version
  metadata-ingestion/setup.py
Labels: ingestion

#6188 feat(ingest/tableau): emit status aspects + streamline stateful ingestion
  metadata-ingestion/src/datahub/ingestion/api/workunit.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/src/datahub/ingestion/source/state/tableau_state.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/utilities/source_helpers.py
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden_deleted_stateful.json
Labels: ingestion

#6172 feat(ingest): support self-signed certs in Tableau
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#6128 fix(ingest): report warning/error counts correctly
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/utilities/lossy_collections.py
Labels: ingestion

#6067 fix(ingest): Closeable as a context manager
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/api/__init__.py
  metadata-ingestion/src/datahub/ingestion/api/closeable.py
  metadata-ingestion/src/datahub/ingestion/api/common.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/extractor/mce_extractor.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/tests/integration/kafka/docker-compose.yml
Labels: ingestion

#6200 feat(ingestion-ui) Add new form for the bigquery-beta connector
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/FormField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/bigquery.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/bigqueryBeta.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/common.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
Labels: product

#6195 feat(release): bump CLI version to 0.9.0
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  docs/how/updating-datahub.md
  gradle/versioning/versioning.gradle
Labels: product

#6205 fix(frontend): fix UI message in create group modal
  datahub-web-react/src/app/identity/group/CreateGroupModal.tsx
Labels: product

#5900 docs: dataset usage and query history feature guide
  docs-website/sidebars.js
  docs/features/dataset-usage-and-query-history.md
  metadata-ingestion/src/datahub/ingestion/source/sql/redshift.py
Labels: docs, docs-refresh

#6208 fix(glossary) Improve business glossary loading performance
  datahub-web-react/src/app/entity/glossaryNode/ChildrenTab.tsx
  datahub-web-react/src/app/glossary/GlossaryBrowser/NodeItem.tsx
  datahub-web-react/src/app/glossary/GlossaryEntitiesList.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/glossaryNode.graphql
Labels: product

#6178 feat(ingest): replace base85's pickle with json
  metadata-ingestion/src/datahub/ingestion/source/state/checkpoint.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_checkpoint.py
Labels: ingestion

#5897 docs: add sync status feature guide
  docs-website/sidebars.js
  docs/sync-status.md
Labels: docs, docs-refresh

#6090 feat(frontend): add custom ssl truststore settings
  docker/datahub-frontend/env/docker.env
  docker/datahub-frontend/start.sh
Labels: community-contribution, devops

#6202 fix(ingest): use corpGroup instead of corpgroup
  docs/what/relationship.md
  metadata-ingestion/src/datahub/api/entities/corpgroup/corpgroup.py
Labels: ingestion, docs

#6194 fix(ingest): catch errors when profiling for sample values
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#6170 fix(ingest): only restrict GE version for hive
  metadata-ingestion/setup.py
Labels: ingestion

#6192 feat(ingest/GE): enable debug logs to stdout when DATAHUB_DEBUG env var is set
  metadata-ingestion/src/datahub/integrations/great_expectations/action.py
Labels: ingestion

#6201 build(ingest): remove markupsafe dep and bump pytest-docker
  metadata-ingestion/setup.py
  metadata-ingestion/tests/test_helpers/docker_helpers.py
Labels: ingestion

#6001 docs(access policies): Creating Proper Access Policies Guide
  docs-website/sidebars.js
  docs/authorization/access-policies-guide.md
  docs/authorization/policies.md
Labels: docs, docs-refresh

#6214 fix(glossary) Improve performance when getting root glossary terms
  datahub-web-react/src/app/glossary/GlossaryBrowser/GlossaryBrowser.tsx
  datahub-web-react/src/app/glossary/GlossaryBrowser/TermItem.tsx
  datahub-web-react/src/app/glossary/GlossaryEntitiesList.tsx
  datahub-web-react/src/graphql/glossary.graphql
  datahub-web-react/src/graphql/glossaryNode.graphql
Labels: product

#6215 fix(ui) Fix bigquery and redshift forms for lineage fields
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/common.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
Labels: product

#6217 fix(ui) Properly display column-level lineage with v2 field paths
  datahub-web-react/src/app/lineage/utils/columnLineageUtils.ts
  datahub-web-react/src/app/lineage/utils/useSortColumnsBySelectedField.ts
Labels: product

#6216 feat(telemetry): add telemetry events to the glossary, domains, and managed ingestion pages
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/domain/CreateDomainModal.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/CreateGlossaryEntityModal.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  metadata-service/auth-impl/src/main/java/com/datahub/telemetry/TrackingService.java
Labels: product

#6237 fix(build): allow image tag via env, fix requirements
  .github/workflows/docker-unified.yml
  docker/docker-compose.consumers-without-neo4j.yml
  docker/docker-compose.consumers.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
Labels: devops

#6236 fix(ingest): remove back-ticks from table name when creating urn
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
Labels: ingestion

#6240 feat(ingest): bigquery-beta - Add option to lowercase urns
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
Labels: ingestion

#6024 fix(ingest): presto-on-hive - Adding db name to the presto on hive urn
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_1.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_2.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_3.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_4.json
  metadata-ingestion/tests/integration/presto-on-hive/test_presto_on_hive.py
Labels: ingestion

#6223 Worked on the CSS issue of Add Owners Modal
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Ownership/EditOwnersModal.tsx
  datahub-web-react/src/app/shared/tags/AddTagsTermsModal.tsx
Labels: product

#6244 fix(ingest): stateful-ingestion - keep dataset urn case in checkpoints
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/utilities/checkpoint_state_util.py
Labels: ingestion

#6212 Create Tag Modal Issue: Clear the input value on press.
  datahub-web-react/src/app/shared/constants.ts
  datahub-web-react/src/app/shared/tags/AddTagsTermsModal.tsx
Labels: product

#6247 feat(ingest): hive-on-presto - Add option to properly filter hive schemas
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
Labels: ingestion

#6254 fix(ingest):lookml - better column-level lineage, hive urn generation…
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/git/git_import.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/lookml/lkml_samples_hive/bar.view.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples_hive/data.model.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples_hive/data2.model.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples_hive/foo.view.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples_hive/foo2.view.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples_hive/included_view_file.view.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples_hive/liquid.view.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples_hive/nested/fragment_derived.view.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples_hive/nested/included_sql_preamble.model.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples_hive/nested/poison.dashboard.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples_hive/nested/second.model.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples_hive/view_declarations.view.lkml
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion

#6260 fix(oidc): Avoid storing Pac4j profile in cookie
  datahub-frontend/app/controllers/SsoCallbackController.java
  datahub-frontend/run/frontend.env
Labels: product

#5941 docs(browse): add documentation on browse feature
  docs-website/sidebars.js
  docs/browse.md
Labels: docs, docs-refresh

#6248 feat(ui-ingestion) Add test connection button to bigquery-beta form
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
Labels: product

#6255 feat(metrics): add metrics around search caching
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlySearchedSource.java
  metadata-io/src/main/java/com/linkedin/metadata/search/cache/CacheableSearcher.java
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CachingEntitySearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
Labels: product

#6225 feat(ui): display entity names in browser tab titles
  datahub-web-react/package.json
  datahub-web-react/src/App.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/EntityProfile.tsx
  datahub-web-react/src/app/shared/EntityHead.tsx
  datahub-web-react/yarn.lock
Labels: hacktoberfest-accepted, community-contribution, product

#6220 fix(oidc): change default oidc username claim to be email
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
Labels: product

#6270 fix(ui): repair display name of MongoDB source
  datahub-web-react/src/app/ingest/source/builder/sources.json
Labels: product

#6253 feat(ui) Display 'View in Github' if externalUrl is link to GitHub
  datahub-web-react/src/app/entity/chart/preview/ChartPreview.tsx
  datahub-web-react/src/app/entity/container/preview/Preview.tsx
  datahub-web-react/src/app/entity/dashboard/preview/DashboardPreview.tsx
  datahub-web-react/src/app/entity/dataFlow/preview/Preview.tsx
  datahub-web-react/src/app/entity/dataJob/preview/Preview.tsx
  datahub-web-react/src/app/entity/dataset/preview/Preview.tsx
  datahub-web-react/src/app/entity/domain/preview/Preview.tsx
  datahub-web-react/src/app/entity/glossaryNode/preview/Preview.tsx
  datahub-web-react/src/app/entity/glossaryTerm/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlFeature/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlFeatureTable/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlModel/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlModelGroup/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlPrimaryKey/preview/Preview.tsx
  datahub-web-react/src/app/entity/shared/ExternalUrlButton.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHeader.tsx
  datahub-web-react/src/app/entity/tag/Tag.tsx
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/app/recommendations/renderer/component/EntityNameList.tsx
Labels: product

#6271 fix(ingest): looker - deps, column level lineage fixes
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/utilities/sql_parser.py
  metadata-ingestion/src/datahub/utilities/sql_parser_base.py
  metadata-ingestion/tests/conftest.py
  metadata-ingestion/tests/integration/lookml/expected_output.json
  metadata-ingestion/tests/integration/lookml/lkml_samples/ability.view.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples/data.model.lkml
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_bigquery.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_badsql_parser.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
  metadata-ingestion/tests/integration/lookml/lookml_reachable_views.json
  metadata-ingestion/tests/test_helpers/mce_helpers.py
Labels: ingestion

#6135 Adding Domain to Glossary Terms
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/GlossaryTermType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryTermMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entity/glossaryTerm/preview/Preview.tsx
  datahub-web-react/src/graphql/glossaryTerm.graphql
  datahub-web-react/src/graphql/search.graphql
  metadata-models/src/main/resources/entity-registry.yml
Labels: product

#6142 test(neo4j): Improve test performance
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphServiceTest.java
Labels: product

#6238 Dynamic width of the pop-overs
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/app/recommendations/renderer/component/HoverEntityTooltip.tsx
Labels: product

#6173 feat(ingest/kakfa-connect): support generic connectors
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
  metadata-ingestion/tests/integration/kafka-connect/docker-compose.override.yml
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_to_file.yml
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
Labels: hacktoberfest-accepted, ingestion, community-contribution

#6241 fix(ingestion): passing disable_ssl_verification param value to DatahubRestEmitter
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: hacktoberfest-accepted, ingestion, community-contribution

#6190 feat(ingest): allow for deleting aspects in cli with -p tag
  metadata-ingestion/src/datahub/cli/delete_cli.py
Labels: hacktoberfest-accepted, ingestion, community-contribution

#6279 fix(quickstart): support for user-level sockets, arch option for forcing quickstart architecture
  docs/quickstart.md
  docs/wip/get-started.md
  metadata-ingestion/src/datahub/cli/docker_check.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion

#6234 fix(posts): render link posts dynamically and fix margin
  datahub-web-react/src/app/home/HomePagePosts.tsx
  datahub-web-react/src/app/search/PostLinkCard.tsx
  datahub-web-react/src/app/search/PostTextCard.tsx
Labels: product

#6284 docs(lookml): add docs for multi-project lookml ingestion
  metadata-ingestion/docs/sources/looker/lookml_post.md
Labels: ingestion

#6278 fix(ui) Fix two lineage visualization bugs
  datahub-web-react/src/app/lineage/utils/layoutTree.ts
  metadata-io/src/main/java/com/linkedin/metadata/graph/SiblingGraphService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/sibling/SiblingGraphServiceTest.java
  smoke-test/tests/cypress/cypress/integration/siblings/siblings.js
Labels: product

#6252 fix(adv search): two advanced search fixes
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ResolverUtils.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ResolverUtilsTest.java
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchSelect.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/ImpactAnalysis.tsx
  datahub-web-react/src/app/search/SearchPage.tsx
  datahub-web-react/src/app/search/SimpleSearchFilter.tsx
  datahub-web-react/src/app/search/SimpleSearchFilters.tsx
  datahub-web-react/src/app/search/utils/filtersToQueryStringParams.ts
  metadata-io/src/main/java/com/linkedin/metadata/search/aggregator/AllEntitiesSearchAggregator.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/SearchUtils.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/AggregationMetadata.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-utils/src/main/java/com/linkedin/metadata/utils/SearchUtil.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/SearchUtilTest.java
Labels: product

#6272 feat(lineage) Add column-level impact analysis feature
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/UrnToEntityMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/ForeignKeyConstraintMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/UrnSearchAcrossLineageResultsMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldType.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-web-react/src/app/entity/dataset/profile/stories/sampleSchema.ts
  datahub-web-react/src/app/entity/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchResults.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchSection.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/navigateToEntitySearchUrl.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/MenuColumn.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/ColumnLineageSelect.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/ImpactAnalysis.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/LineageTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/LineageTabContext.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/utils.ts
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/app/preview/EntityPaths/ColumnPathsText.tsx
  datahub-web-react/src/app/preview/EntityPaths/ColumnsRelationshipText.tsx
  datahub-web-react/src/app/preview/EntityPaths/DisplayedColumns.tsx
  datahub-web-react/src/app/preview/EntityPaths/EntityPaths.tsx
  datahub-web-react/src/app/preview/EntityPaths/EntityPathsModal.tsx
  datahub-web-react/src/app/recommendations/renderer/component/CompactEntityNameList.tsx
  datahub-web-react/src/app/recommendations/renderer/component/EntityNameList.tsx
  datahub-web-react/src/app/recommendations/renderer/component/EntityPreviewTag.tsx
  datahub-web-react/src/app/shared/updateQueryParams.ts
  datahub-web-react/src/graphql/search.graphql
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/LineageRegistry.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHook.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/graph/LineageRelationship.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/LineageSearchEntity.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.lineage.relationships.snapshot.json
  smoke-test/tests/cypress/cypress/integration/lineage/impact_analysis.js
  smoke-test/tests/cypress/data.json
Labels: product

#6242 fix: only add failure report on exception and process view and table
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
Labels: hacktoberfest-accepted, ingestion, community-contribution

#6263 refractor(ingest): update field name for snowflake column lineage
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage.py
  metadata-ingestion/tests/integration/snowflake-beta/snowflake_beta_golden.json
  metadata-ingestion/tests/integration/snowflake-beta/test_snowflake_beta.py
Labels: ingestion

#6282 docs(getting started) Update Getting Started landing page
  docs-website/sidebars.js
  docs-website/src/pages/docs/_components/QuickLinkCards/index.js
  docs/get-started-with-datahub.md
  docs/wip/get-started.md
Labels: docs

#6264 feat(ingest): add support for column level lineage in tableau
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/tests/integration/tableau/setup/customSQLTablesConnection_all.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesConnection_all.json
  metadata-ingestion/tests/integration/tableau/setup/publishedDatasourcesConnection_all.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
Labels: ingestion

#6289 fix(ingest/dbt): lowercase external urns + cleanup config
  docs/how/updating-datahub.md
  metadata-ingestion/ingest_schema.py
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
Labels: ingestion

#6285 fix(ingest/tableau): add extra debug info for lineage failure
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#6296 fix(assertion tab): fixing up regression in assertion resolver
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ResolverUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/AssertionRunEventResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/TimeSeriesAspectResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/assertion/AssertionRunEventResolverTest.java
Labels: product

#6251 feat: make platform for spark lineage inferred and configurable
  metadata-integration/java/spark-lineage/README.md
  metadata-integration/java/spark-lineage/src/main/java/datahub/spark/DatasetExtractor.java
  metadata-integration/java/spark-lineage/src/main/java/datahub/spark/model/dataset/CatalogTableDataset.java
  metadata-integration/java/spark-lineage/src/main/java/datahub/spark/model/dataset/HdfsPathDataset.java
  metadata-integration/java/spark-lineage/src/test/java/datahub/spark/TestSparkJobsLineage.java
  metadata-integration/java/spark-lineage/src/test/resources/expected/test1HdfsInOut.json
  metadata-integration/java/spark-lineage/src/test/resources/expected/test2HdfsInHiveOut.json
  metadata-integration/java/spark-lineage/src/test/resources/expected/test3HdfsJdbcInJdbcOut.json
  metadata-integration/java/spark-lineage/src/test/resources/expected/test4HiveInHiveOut.json
  metadata-integration/java/spark-lineage/src/test/resources/expected/test5HdfsInJdbcOut.json
  metadata-integration/java/spark-lineage/src/test/resources/expected/test6HdfsJdbcInJdbcOutTwoLevel.json
  metadata-integration/java/spark-lineage/src/test/resources/expected/test7HdfsInPersistHdfsOut.json
  metadata-integration/java/spark-lineage/src/test/resources/expected/test8PersistHdfsJdbcInJdbcOut.json
  metadata-integration/java/spark-lineage/src/test/resources/expected/test9PersistJdbcInHdfsOut.json
  metadata-integration/java/spark-lineage/src/test/resources/expected/testHdfsInOutCoalesce.json
  metadata-integration/java/spark-lineage/src/test/resources/expected/testHiveInHiveOutCoalesce.json
Labels: hacktoberfest-accepted, community-contribution

#6300 refactor(docs): Minor docs refactoring
  docs-website/sidebars.js
  docs-website/src/pages/docs/index.js
  docs/domains.md
  docs/glossary/business-glossary.md
  docs/tags.md
Labels: docs

#6306 fix(roles): move search button to right side of screen
  datahub-web-react/src/app/permissions/roles/ManageRoles.tsx
Labels: product

#6304 feat(ingest/mssql): add type mappings for BIT and SQL_VARIANT
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
Labels: ingestion

#6302 feat(ingest): add fallthrough support to KeyValuePattern
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/tests/unit/test_key_value_pattern.py
Labels: ingestion

#6301 feat(ui) Allow a user to type in a custom value in ingestion Secret Fields
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/SecretField/SecretField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/common.tsx
Labels: product

#6294 feat(ui) Add documentation to term/node creation modal
  datahub-web-react/src/app/entity/shared/EntityDropdown/CreateGlossaryEntityModal.tsx
Labels: product

#6309 fix(docs): fix custom transformer example interface
  metadata-ingestion/docs/transformer/dataset_transformer.md
Labels: hacktoberfest-accepted, ingestion

#6303 feat(ui) Display inputFields in column-lineage visualization
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/mappers/InputFieldsMapper.java
  datahub-web-react/src/app/entity/EntityRegistry.tsx
  datahub-web-react/src/app/lineage/LineageEntityColumns.tsx
  datahub-web-react/src/app/lineage/LineageEntityNode.tsx
  datahub-web-react/src/app/lineage/types.ts
  datahub-web-react/src/app/lineage/utils/__tests__/columnLineageUtils.test.tsx
  datahub-web-react/src/app/lineage/utils/columnLineageUtils.ts
  datahub-web-react/src/app/lineage/utils/constructFetchedNode.ts
  datahub-web-react/src/app/lineage/utils/constructTree.ts
  datahub-web-react/src/app/lineage/utils/extendAsyncEntities.ts
  datahub-web-react/src/app/lineage/utils/layoutTree.ts
  datahub-web-react/src/app/lineage/utils/titleUtils.ts
  datahub-web-react/src/app/lineage/utils/useSortColumnsBySelectedField.ts
  datahub-web-react/src/graphql/lineage.graphql
Labels: product

#6308 ci: Up to date actions addressing warnings in builds.
  .github/pr-labeler-config.yml
  .github/pull_request_template.md
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/check-quickstart.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/delete-artifacts.yaml
  .github/workflows/docker-feast-source.yml
  .github/workflows/docker-ingestion-base.yml
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-ingestion.yml
  .github/workflows/docker-postgres-setup.yml
  .github/workflows/docker-unified.yml
  .github/workflows/documentation.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/metadata-model.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/publish-datahub-jars.yml
  .github/workflows/spark-smoke-test.yml
  .github/workflows/test-results.yml
  metadata-ingestion/docs/sources/looker/lookml_pre.md
Labels: hacktoberfest-accepted, ingestion, devops

#6292 feat(ingest): unity-catalog - Unity catalog source
  datahub-web-react/src/images/databrickslogo.png
  metadata-ingestion/docs/images/databricks/data_and_ai_summit_2022.png
  metadata-ingestion/docs/sources/databricks/README.md
  metadata-ingestion/docs/sources/databricks/unity-catalog_post.md
  metadata-ingestion/docs/sources/databricks/unity-catalog_pre.md
  metadata-ingestion/docs/sources/databricks/unity-catalog_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/unity/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/source/unity/unity_state.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: ingestion

#6319 fix(logs): fix logged variable on looker sdk error
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
Labels: ingestion

#6283 feat(ui) Update bigquery UI ingestion source to be the same as bigquery-beta
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
Labels: product

#6144 Atomic updates in cassandra aspect dao
  metadata-io/src/main/java/com/linkedin/metadata/entity/cassandra/CassandraAspectDao.java
Labels: hacktoberfest-accepted, community-contribution, product

#6291 Elasticsearch setup analytics
  docker/elasticsearch-setup/create-indices.sh
Labels: hacktoberfest-accepted, community-contribution, devops

#6273 feat(auth): add sso frontend endpoint and login with sso button
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/app/controllers/CentralLogoutController.java
  datahub-frontend/conf/routes
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/auth/LogIn.tsx
  datahub-web-react/src/app/auth/login.module.css
Labels: product
