Repository datahub-project/datahub, pull requests merged in 2022-12, with the labels that each got.

#6590 chore(): Updating default CLI version, update updating-datahub.md
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  docs/how/updating-datahub.md
  gradle/versioning/versioning.gradle
Labels: docs, product

#6582 fix(ingest): profiling - Profiling failed if column cardinality threw an error
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#6593 fix(actions): add missing datahub-gms-protocol env var
  docker/datahub-actions/env/docker.env
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
Labels: devops

#6594 fix(ingest): restrict snowflake-connector-python dependency
  metadata-ingestion/setup.py
Labels: ingestion

#6578 feat(ingest/bigquery): avoid creating/deleting tables for profiling
  metadata-ingestion/docs/sources/bigquery/bigquery-legacy_pre.md
  metadata-ingestion/docs/sources/bigquery/bigquery_pre.md
  metadata-ingestion/examples/recipes/bigquery_to_datahub.dhub.yaml
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/profiling/common.py
  metadata-ingestion/src/datahub/ingestion/source/s3/profiling.py
  metadata-ingestion/src/datahub/ingestion/source/sql/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/bigquery.py
Labels: ingestion

#6592 fix(ingest): unify emit interface
  metadata-ingestion/src/datahub/api/entities/corpgroup/corpgroup.py
  metadata-ingestion/src/datahub/api/entities/corpuser/corpuser.py
  metadata-ingestion/src/datahub/api/entities/datajob/dataflow.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
  metadata-ingestion/src/datahub/emitter/kafka_emitter.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
Labels: ingestion

#6602 fix(security): security version updates
  build.gradle
  buildSrc/build.gradle
  datahub-frontend/play.gradle
  datahub-ranger-plugin/build.gradle
  entity-registry/build.gradle
  metadata-io/build.gradle
  metadata-service/auth-ranger-impl/build.gradle
Labels: platform

#6596 docs: remove Kafka Streams from documentation
  docs/architecture/metadata-ingestion.md
  docs/architecture/metadata-serving.md
  metadata-jobs/README.md
  metadata-jobs/mae-consumer-job/README.md
  metadata-jobs/mce-consumer-job/README.md
Labels: docs

#6588 refactor(ui): Improving Kafka UI Ingestion Form, Create Domain, Create Secret Modals
  datahub-web-react/src/app/domain/CreateDomainModal.tsx
  datahub-web-react/src/app/ingest/secret/SecretBuilderModal.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/DictField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/FormField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/RecipeForm.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/SecretField/CreateSecretButton.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/SecretField/SecretField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/common.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/kafka.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingest/source/conf/kafka/kafka.ts
Labels: product

#6600 fix(ingest): clarify tableau auth error messages
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#6574 docs(graphql): fix deleteTest "Create"->"Delete"
  datahub-graphql-core/src/main/resources/tests.graphql
Labels: product

#6589 fix(gms/startup): remove set -x from start.sh
  docker/datahub-gms/start.sh
Labels: devops

#6576 feat(ml model): updating view of ml model feature list
  datahub-web-react/src/app/entity/mlFeatureTable/profile/features/MlFeatureTableFeatures.tsx
  datahub-web-react/src/app/entity/mlFeatureTable/profile/features/TableOfMlFeatures.tsx
  datahub-web-react/src/app/entity/mlModel/profile/MlModelFeaturesTab.tsx
  datahub-web-react/src/graphql/mlModel.graphql
Labels: product

#6613 fix(ingest/bigquery): ignore complex types from profiling
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
Labels: ingestion

#6580 feat(ingest): add external url for snowflake objects
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake-beta/snowflake_beta_golden.json
  metadata-ingestion/tests/integration/snowflake-beta/snowflake_privatelink_beta_golden.json
  metadata-ingestion/tests/integration/snowflake-beta/test_snowflake_beta.py
Labels: ingestion

#6584 chore(ingest): bump and pin mypy
  metadata-ingestion/setup.cfg
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/api/graphql/operation.py
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/workunit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto.py
  metadata-ingestion/src/datahub/ingestion/source/sql/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/usage/bigquery_usage.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/src/datahub/integrations/great_expectations/action.py
  metadata-ingestion/src/datahub/utilities/mapping.py
  metadata-ingestion/src/datahub_provider/lineage/datahub.py
  metadata-ingestion/tests/test_helpers/docker_helpers.py
  metadata-ingestion/tests/unit/test_sql_common.py
Labels: ingestion

#6608 fix(ingest): only require github_info for lookml and not looker
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Labels: ingestion

#6604 docs(ingest): add airflow docs that use the `PythonVirtualenvOperator`
  metadata-ingestion/schedule_docs/airflow.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub_provider/example_dags/.airflowignore
  metadata-ingestion/src/datahub_provider/example_dags/generic_recipe_sample_dag.py
  metadata-ingestion/src/datahub_provider/example_dags/mysql_sample_dag.py
  metadata-ingestion/src/datahub_provider/example_dags/snowflake_sample_dag.py
  metadata-ingestion/tests/unit/test_airflow.py
Labels: ingestion

#6618 fix(ui) Fix double scroll in embedded list search sections
  datahub-web-react/src/app/recommendations/renderer/component/EntityNameList.tsx
  datahub-web-react/src/app/search/AdvancedSearchFilters.tsx
  datahub-web-react/src/app/search/SearchFiltersSection.tsx
  datahub-web-react/src/app/search/SimpleSearchFilters.tsx
Labels: product

#6519 feat(ingest): print detailed GMS error messages
  metadata-ingestion/src/datahub/cli/cli_utils.py
Labels: ingestion

#6622 Townhall agenda wikimedia
  README.md
  docs-website/src/pages/_components/Logos/index.js
  docs-website/static/img/logos/companies/wikimedia-foundation.png
  docs/townhall-history.md
Labels: docs

#6624 fix(analytics): skip ListDomains if user cannot manage domains and have only one loading message
  datahub-web-react/src/app/analyticsDashboard/components/AnalyticsPage.tsx
Labels: product

#6591 feat(quickstart): add support for passing thru env vars needed by Sla…
  docker/datahub-actions/env/docker.env
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  docker/quickstart/generate_docker_quickstart.py
Labels: devops

#6632 docs(actions): slack, teams
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docs/actions/actions/slack.md
  docs/actions/actions/teams.md
  docs/imgs/slack/slack_add_token.png
  docs/imgs/slack/slack_basic_info.png
  docs/imgs/slack/slack_channel.png
  docs/imgs/slack/slack_channel_url.png
  docs/imgs/slack/slack_oauth_and_permissions.png
  docs/imgs/slack/slack_user_id.png
  docs/managed-datahub/saas-slack-setup.md
Labels: docs, devops

#6616 fix(logging): Remove lombok as source of slf4j-api
  build.gradle
  datahub-frontend/play.gradle
  datahub-graphql-core/build.gradle
  datahub-ranger-plugin/build.gradle
  datahub-upgrade/build.gradle
  entity-registry/build.gradle
  ingestion-scheduler/build.gradle
  li-utils/build.gradle
  metadata-dao-impl/kafka-producer/build.gradle
  metadata-ingestion/setup.py
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-protobuf/build.gradle
  metadata-integration/java/spark-lineage/build.gradle
  metadata-io/build.gradle
  metadata-jobs/mae-consumer/build.gradle
  metadata-jobs/mce-consumer/build.gradle
  metadata-jobs/pe-consumer/build.gradle
  metadata-models-validator/build.gradle
  metadata-service/auth-api/build.gradle
  metadata-service/auth-filter/build.gradle
  metadata-service/auth-impl/build.gradle
  metadata-service/auth-ranger-impl/build.gradle
  metadata-service/auth-servlet-impl/build.gradle
  metadata-service/factories/build.gradle
  metadata-service/graphql-servlet-impl/build.gradle
  metadata-service/openapi-servlet/build.gradle
  metadata-service/restli-client/build.gradle
  metadata-service/restli-servlet-impl/build.gradle
  metadata-service/war/build.gradle
  metadata-utils/build.gradle
Labels: platform

#6633 docs: add links from main README to slack, teams actions
  docs/actions/README.md
Labels: docs

#6609 feat(ingest): Support config variable for specifying a direct privat…
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
Labels: ingestion

#6371 Add AWS Postgres Iam Auth jar to GMS
  build.gradle
  docker/datahub-gms/env/docker.postgres.env
  metadata-service/factories/build.gradle
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/LocalEbeanServerConfigFactory.java
  metadata-service/factories/src/main/resources/application.yml
Labels: community-contribution

#6611 feat(ingest/snowflake): support filtering by fully qualified schema_pattern
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/configuration/pattern_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake-beta/test_snowflake_beta.py
Labels: ingestion

#6416 feat(ingest/kafka-connect): support MongoSourceConnector
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
  metadata-ingestion/tests/integration/kafka-connect/docker-compose.override.yml
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_mongo_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect/setup/conf/mongo-init.sh
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
Labels: ingestion, community-contribution

#6615 feat(graph) Add createdOn, createdActor, updatedOn, updatedActor to graph edges
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/RelationshipAnnotation.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/LineageRegistryTest.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/Edge.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/GraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphServiceTest.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/GraphIndexUtils.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/GraphIndexUtilsTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHookTest.java
Labels: product

#6647 perf(ui-ingestion): cache on creation or deletion of ingestion sources to reduce latency
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingest/source/utils.ts
Labels: product

#6550 feat(ingest): add dummy data source for automated testing
  docs-website/sidebars.js
  metadata-ingestion/docs/sources/dummy-data/dummy-data_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/ingestion/source/dummy_source.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
  metadata-ingestion/src/datahub/utilities/sample_data.py
Labels: ingestion

#6655 docs(managed datahub): adding release notes for v0.1.70
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_1_69.md
  docs/managed-datahub/release-notes/v_0_1_70.md
Labels: docs

#6621 docs: move rfcs to separate repo
  datahub-web-react/README.md
  docs-website/generateDocsDir.ts
  docs-website/sidebars.js
  docs/rfc.md
  docs/rfc/active/1778-dashboards/README.md
  docs/rfc/active/1778-dashboards/dashboards_graph.png
  docs/rfc/active/1778-dashboards/high_level_design.png
  docs/rfc/active/1812-ml_models/README.md
  docs/rfc/active/1812-ml_models/high_level_design.png
  docs/rfc/active/1812-ml_models/ml_model_graph.png
  docs/rfc/active/1820-azkaban-flow-job/README.md
  docs/rfc/active/1820-azkaban-flow-job/graph.png
  docs/rfc/active/1841-lineage/Dataset-Field-Entity-DataFlow.png
  docs/rfc/active/1841-lineage/FieldLineage-Relationships.png
  docs/rfc/active/1841-lineage/Graph-Builders.png
  docs/rfc/active/1841-lineage/field_level_lineage.md
  docs/rfc/active/1842-business_glossary/README.md
  docs/rfc/active/1842-business_glossary/business_glossary_rel.png
  docs/rfc/active/2042-graphql_frontend/queries.md
  docs/rfc/active/2055-react-app/README.md
  docs/rfc/active/2055-react-app/react-architecture.png
  docs/rfc/active/4237-datadoc-entity/DataDoc-high-level-model.png
  docs/rfc/active/4237-datadoc-entity/datadoc-entity-rfc.md
  docs/rfc/active/access-control/access-control.md
  docs/rfc/active/access-control/authorizer.png
  docs/rfc/active/access-control/authorizer_chain.png
  docs/rfc/active/access-control/local-up-auth.png
  docs/rfc/active/access-control/oidc.png
  docs/rfc/active/access-control/remote-up-auth.png
  docs/rfc/active/tags/README.md
  docs/rfc/templates/000-template.md
Labels: docs, community-contribution, product

#6659 fix(ingest): fix lingering demo-data source issues
  metadata-ingestion/docs/sources/demo-data/demo-data_recipe.yml
  metadata-ingestion/docs/sources/dummy-data/dummy-data_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/demo_data.py
  metadata-ingestion/src/datahub/ingestion/source/dummy_source.py
Labels: ingestion

#6653 feat(ingest): bigquery - Running lineage extraction after metadata extraction
  metadata-ingestion/docs/sources/bigquery/bigquery_pre.md
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/utilities/bigquery_sql_parser.py
Labels: ingestion

#6661 chore(ingest): remove feast-legacy
  .github/workflows/docker-feast-source.yml
  docs/cli.md
  metadata-ingestion/docs/sources/feast/feast-legacy_recipe.yml
  metadata-ingestion/examples/recipes/feast_to_datahub.dhub.yaml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/feast_legacy.py
  metadata-ingestion/tests/integration/feast-legacy/core/core.yml
  metadata-ingestion/tests/integration/feast-legacy/docker-compose.yml
  metadata-ingestion/tests/integration/feast-legacy/feast_mces_golden.json
  metadata-ingestion/tests/integration/feast-legacy/make_tests.py
  metadata-ingestion/tests/integration/feast-legacy/serving/online-serving.yml
  metadata-ingestion/tests/integration/feast-legacy/test_feast.py
  metadata-ingestion/tests/integration/feast-legacy/wait-for-it.sh
Labels: ingestion, docs, devops

#6662 fix(ingest/snowflake): support domains for snowflake schema containers
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion

#6651 feat(ingest/dbt): add support for latest DBT version 1.3
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/integration/dbt/dbt_deleted_actor_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_stateful_tests_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/sample_dbt_catalog.json
  metadata-ingestion/tests/integration/dbt/sample_dbt_manifest.json
  metadata-ingestion/tests/integration/dbt/sample_dbt_sources.json
Labels: ingestion, community-contribution

#5576 docs: add languages to code highlighting
  docs-website/docusaurus.config.js
Labels: docs

#6667 docs(typo) Correct typo in domains.md
  docs/domains.md
Labels: docs

#6671 feat(gms): Enable auth-api publishing to maven
  .github/workflows/publish-datahub-jars.yml
  docker/docker-compose.dev.yml
Labels: devops

#6630 fix(ingest/powerbi-report-server): deprecate unused graphql config
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/powerbi/powerbi-report-server_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server.py
  metadata-ingestion/tests/integration/powerbi_report_server/test_powerbi_report_server.py
Labels: ingestion, docs, community-contribution

#6670 fix(docker): Fix datahub-frontend dockerfile
  docker/datahub-frontend/Dockerfile
Labels: devops

#6640 fix(ingest): profiling - Changing profiling defaults
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
  metadata-ingestion/src/datahub/ingestion/source_report/sql/snowflake.py
  metadata-ingestion/tests/unit/test_bigquery_lineage.py
Labels: ingestion

#6641 feat(ci): add smoke test for domain mutation
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Domain/SidebarDomainSection.tsx
  smoke-test/tests/cypress/cypress/integration/mutations/domains.js
  smoke-test/tests/cypress/cypress/integration/mutations/mutations.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: product, smoke_test

#6636 feat(ingest): update snowflake docs, add simple validations
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/snowflake/README.md
  metadata-ingestion/docs/sources/snowflake/snowflake-legacy_pre.md
  metadata-ingestion/docs/sources/snowflake/snowflake-legacy_recipe.yml
  metadata-ingestion/docs/sources/snowflake/snowflake-usage-legacy_pre.md
  metadata-ingestion/docs/sources/snowflake/snowflake-usage-legacy_recipe.yml
  metadata-ingestion/docs/sources/snowflake/snowflake_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/snowflake.py
  metadata-ingestion/src/datahub/ingestion/source/usage/snowflake_usage.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/tests/unit/test_snowflake_beta_source.py
  metadata-ingestion/tests/unit/test_snowflake_source.py
Labels: ingestion

#6678 docs(search) update broken youtube link
  docs/how/search.md
Labels: docs

#6375 feat(ingest): support knowledge links in business glossary
  metadata-ingestion/examples/bootstrap_data/business_glossary.yml
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/src/datahub/utilities/urn_encoder.py
  metadata-ingestion/tests/integration/business-glossary/business_glossary.yml
  metadata-ingestion/tests/integration/business-glossary/glossary_events_golden.json
  metadata-ingestion/tests/integration/business-glossary/glossary_to_file.yml
  metadata-ingestion/tests/integration/business-glossary/test_business_glossary.py
  metadata-models/src/main/resources/entity-registry.yml
Labels: ingestion

#6295 fix(ingestion/vertica): support columns with timestamp precision
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
Labels: hacktoberfest-accepted, ingestion, community-contribution

#6570 feat(ingest): add timestamps for snowflake objects
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic.py
  metadata-ingestion/tests/integration/snowflake-beta/snowflake_beta_golden.json
  metadata-ingestion/tests/integration/snowflake-beta/snowflake_privatelink_beta_golden.json
  metadata-ingestion/tests/integration/snowflake-beta/test_snowflake_beta.py
Labels: ingestion

#6628 feat(ingest): use entry point for registering transformers
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/transformer/transform_registry.py
Labels: ingestion, community-contribution

#6687 chore(ci): update base ingestion image requirements file
  docker/datahub-ingestion/base-requirements.txt
Labels: ingestion

#6686 fix(ci): reduce warnings due to deprecated action
  .github/actions/docker-custom-build-and-push/action.yml
  .github/workflows/docker-ingestion-base.yml
  .github/workflows/docker-ingestion.yml
  .github/workflows/docker-postgres-setup.yml
Labels: devops

#6673 refactor(ui): Adding caching for users, groups, and roles
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/group/ListGroupsResolver.java
  datahub-web-react/src/app/entity/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/useDeleteEntity.tsx
  datahub-web-react/src/app/identity/group/CreateGroupModal.tsx
  datahub-web-react/src/app/identity/group/GroupList.tsx
  datahub-web-react/src/app/identity/group/GroupListItem.tsx
  datahub-web-react/src/app/identity/group/cacheUtils.ts
  datahub-web-react/src/app/identity/user/SelectRole.tsx
  datahub-web-react/src/app/identity/user/UserList.tsx
  datahub-web-react/src/app/identity/user/UserListItem.tsx
  datahub-web-react/src/app/identity/user/ViewInviteTokenModal.tsx
  datahub-web-react/src/app/identity/user/cacheUtils.ts
  datahub-web-react/src/app/permissions/roles/ManageRoles.tsx
  datahub-web-react/src/app/permissions/roles/cacheUtils.ts
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpGroupInfo.pdl
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/group/GroupService.java
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: product

#6690 fix(ci): revert confluent kafka in base image
  docker/datahub-ingestion/base-requirements.txt
Labels: ingestion

#6694 fix(security): version bump to latest minor python image
  docker/datahub-ingestion/base.Dockerfile
Labels: devops

#6610 docs(ingest/salesforce): list required permissions
  metadata-ingestion/docs/sources/salesforce/salesforce_pre.md
Labels: ingestion, community-contribution

#6660 feat(ingest): bigquery - option to set on behalf project
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/common.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#6700 ci: stop commenting test results on PR
  .github/workflows/test-results.yml
Labels: devops

#6682 fix(ingest/tableau): support ssl_verify flag properly
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion

#6684 fix(config): unify the handling of boolean environment variables
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/integrations/great_expectations/action.py
  metadata-ingestion/src/datahub/telemetry/telemetry.py
Labels: ingestion, community-contribution

#6703 fix(ui): fix search on policy builder
  datahub-web-react/src/app/permissions/policy/ManagePolicies.tsx
  datahub-web-react/src/app/permissions/policy/PolicyBuilderModal.tsx
  datahub-web-react/src/app/permissions/policy/PolicyPrivilegeForm.tsx
Labels: product

#6699 fix(ingest): cleanup config extra usage
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/unit/config/test_config_model.py
Labels: ingestion

#6697 fix(ingest/sagemaker): handle missing ProcessingInputs field
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/jobs.py
Labels: ingestion

#6704 build: add retries to gradle wrapper download in ingestion docker
  docker/datahub-ingestion/Dockerfile
Labels: devops

#6718 test(quickstart): add debugging to quickstart test
  .github/workflows/check-quickstart.yml
Labels: devops

#6612 fix(setup): Bump setup images to alpine 3.14 with arch based on machine OS.
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/elasticsearch-setup/Dockerfile
  docker/kafka-setup/Dockerfile
  docker/mysql-setup/Dockerfile
  docker/postgres-setup/Dockerfile
Labels: devops, platform

#6705 fix(ingest): fix bug in auto_status_aspect
  metadata-ingestion/src/datahub/utilities/source_helpers.py
  metadata-ingestion/tests/integration/looker/golden_looker_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_allow_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_joins.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_unaliased_joins.json
  metadata-ingestion/tests/integration/looker/looker_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/looker/looker_mces_usage_history.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_bigquery.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_badsql_parser.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_deny_pattern.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
  metadata-ingestion/tests/integration/lookml/lookml_reachable_views.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
  metadata-ingestion/tests/unit/test_source_helpers.py
Labels: ingestion

#6723 fix(security): commons-text, hadoop-commons versions
  datahub-frontend/play.gradle
  datahub-upgrade/build.gradle
Labels: platform

#6728 fix(build): rename conflicting module `auth-api`
  datahub-frontend/play.gradle
  datahub-graphql-core/build.gradle
  metadata-jobs/mae-consumer/build.gradle
  metadata-service/auth-config/build.gradle
  metadata-service/auth-config/src/main/java/com/datahub/authentication/AuthenticationConfiguration.java
  metadata-service/auth-config/src/main/java/com/datahub/authentication/AuthenticationConstants.java
  metadata-service/auth-config/src/main/java/com/datahub/authentication/AuthenticatorConfiguration.java
  metadata-service/auth-config/src/main/java/com/datahub/authorization/AuthorizationConfiguration.java
  metadata-service/auth-config/src/main/java/com/datahub/authorization/AuthorizerConfiguration.java
  metadata-service/auth-config/src/main/java/com/datahub/authorization/DefaultAuthorizerConfiguration.java
  metadata-service/auth-filter/build.gradle
  metadata-service/auth-impl/build.gradle
  metadata-service/factories/build.gradle
  settings.gradle
Labels: product

#6706 docs(aws): edit markdown link
  docs/deploy/aws.md
Labels: docs

#6713 fix(ingest): fix mysql ingestion issue with non-lowercase database
  metadata-ingestion/src/datahub/ingestion/source/sql/two_tier_sql_source.py
  metadata-ingestion/tests/integration/mysql/mysql_mces_no_db_golden.json
  metadata-ingestion/tests/integration/mysql/setup/setup.sql
Labels: ingestion

#6696 feat(ingest): redact configs reported in ingestion_run_summary
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
  metadata-ingestion/tests/unit/config/test_config_model.py
Labels: ingestion

#6691 fix(ingest): rectify filter for BigQuery external tables
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Labels: ingestion

#6712 feat(ingest): add separate config for include_column_lineage in snowf…
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake-beta/snowflake_privatelink_beta_golden.json
  metadata-ingestion/tests/integration/snowflake-beta/test_snowflake_beta.py
  metadata-ingestion/tests/unit/test_snowflake_beta_source.py
Labels: ingestion

#6707 feat(ui): Support DataBricks Unity Catalog Source in Ui Ingestion
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/unity_catalog.tsx
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
Labels: ingestion, product

#6344 feat(ingest/iceberg): add stateful ingestion
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/src/datahub/ingestion/source/state/iceberg_state.py
  metadata-ingestion/tests/integration/iceberg/test_data/ingest_test/iceberg_mces_golden.json
  metadata-ingestion/tests/integration/iceberg/test_data/ingest_test/namespace/iceberg_test/metadata/v1.metadata.json
  metadata-ingestion/tests/integration/iceberg/test_data/ingest_test/namespace/iceberg_test/metadata/v2.metadata.json
  metadata-ingestion/tests/integration/iceberg/test_data/ingest_test/namespace/iceberg_test/metadata/version-hint.text
  metadata-ingestion/tests/integration/iceberg/test_data/profiling_test/datahub/integration/profiling/data/00000-0-72133c37-bb5c-4ffd-8ead-08f33fa2675d-00001.parquet
  metadata-ingestion/tests/integration/iceberg/test_data/profiling_test/datahub/integration/profiling/data/00000-3-c638dd0f-498a-4ce9-b525-8242758d18f8-00001.parquet
  metadata-ingestion/tests/integration/iceberg/test_data/profiling_test/datahub/integration/profiling/data/00001-1-5f69f6ed-191f-4a11-9953-09435ffce01d-00001.parquet
  metadata-ingestion/tests/integration/iceberg/test_data/profiling_test/datahub/integration/profiling/data/00001-4-b21a5375-b547-40b9-89ca-caf4fcfe6685-00001.parquet
  metadata-ingestion/tests/integration/iceberg/test_data/profiling_test/datahub/integration/profiling/metadata/00000-331b9f67-e02b-44b1-8ec8-4dfa287c3bd5.metadata.json
  metadata-ingestion/tests/integration/iceberg/test_data/profiling_test/datahub/integration/profiling/metadata/00001-fb50681e-5f25-4180-99e2-065ef0b9791b.metadata.json
  metadata-ingestion/tests/integration/iceberg/test_data/profiling_test/datahub/integration/profiling/metadata/00002-cc241948-4c12-46d0-9a75-ce3578ec03d4.metadata.json
  metadata-ingestion/tests/integration/iceberg/test_data/profiling_test/datahub/integration/profiling/metadata/23acaffc-9bed-4d97-8ddd-0ea1ea15a2b8-m0.avro
  metadata-ingestion/tests/integration/iceberg/test_data/profiling_test/datahub/integration/profiling/metadata/ec0bd970-e5ef-4843-abcb-e96a35a8f14d-m0.avro
  metadata-ingestion/tests/integration/iceberg/test_data/profiling_test/datahub/integration/profiling/metadata/snap-4220723025353071767-1-ec0bd970-e5ef-4843-abcb-e96a35a8f14d.avro
  metadata-ingestion/tests/integration/iceberg/test_data/profiling_test/datahub/integration/profiling/metadata/snap-4437197002876030991-1-23acaffc-9bed-4d97-8ddd-0ea1ea15a2b8.avro
  metadata-ingestion/tests/integration/iceberg/test_data/profiling_test/datahub/integration/profiling/metadata/version-hint.text
  metadata-ingestion/tests/integration/iceberg/test_data/profiling_test/iceberg_mces_golden.json
  metadata-ingestion/tests/integration/iceberg/test_data/stateful_test/iceberg_deleted_table_mces_golden.json
  metadata-ingestion/tests/integration/iceberg/test_data/stateful_test/run1/namespace/iceberg_test/metadata/v1.metadata.json
  metadata-ingestion/tests/integration/iceberg/test_data/stateful_test/run1/namespace/iceberg_test/metadata/v2.metadata.json
  metadata-ingestion/tests/integration/iceberg/test_data/stateful_test/run1/namespace/iceberg_test/metadata/version-hint.text
  metadata-ingestion/tests/integration/iceberg/test_data/stateful_test/run1/namespace/iceberg_test_2/metadata/v1.metadata.json
  metadata-ingestion/tests/integration/iceberg/test_data/stateful_test/run1/namespace/iceberg_test_2/metadata/v2.metadata.json
  metadata-ingestion/tests/integration/iceberg/test_data/stateful_test/run1/namespace/iceberg_test_2/metadata/version-hint.text
  metadata-ingestion/tests/integration/iceberg/test_data/stateful_test/run2/namespace/iceberg_test/metadata/v1.metadata.json
  metadata-ingestion/tests/integration/iceberg/test_data/stateful_test/run2/namespace/iceberg_test/metadata/v2.metadata.json
  metadata-ingestion/tests/integration/iceberg/test_data/stateful_test/run2/namespace/iceberg_test/metadata/version-hint.text
  metadata-ingestion/tests/integration/iceberg/test_iceberg.py
Labels: ingestion, community-contribution

#6737 doc(restore): document restore indices API endpoint
  docs/how/restore-indices.md
Labels: docs

#6714 feat(ingest): bigquery - external url support and a small profiling filter fix
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/common.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
Labels: ingestion

#6741 test(ingest): make hive/trino test more reliable
  metadata-ingestion/tests/integration/hive/docker-compose.yml
  metadata-ingestion/tests/integration/presto-on-hive/docker-compose.yml
  metadata-ingestion/tests/integration/trino/docker-compose.yml
  metadata-ingestion/tests/test_helpers/docker_helpers.py
Labels: ingestion

#6587 Initial commit for bigquery ingestion guide
  docs-website/sidebars.js
  docs/quick-ingestion-guides/bigquery/configuration.md
  docs/quick-ingestion-guides/bigquery/overview.md
  docs/quick-ingestion-guides/bigquery/setup.md
Labels: docs

#6735 fix(ci): remove warnings due to deprecated action
  .github/actions/docker-custom-build-and-push/action.yml
  .github/workflows/docker-ingestion.yml
  .github/workflows/docker-postgres-setup.yml
Labels: devops

#6127 feat(ingest): add stateful ingestion to the ldap source
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/src/datahub/ingestion/source/state/ldap_state.py
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_deleted_group_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_group_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_memberof_mces_golden.json
  metadata-ingestion/tests/integration/ldap/setup/custom/sample.ldif
  metadata-ingestion/tests/integration/ldap/test_ldap_stateful.py
  metadata-ingestion/tests/unit/test_ldap_state.py
Labels: hacktoberfest-accepted, ingestion, community-contribution

#6745 fix(ingest): fix codegen `from_obj` for empty dicts in unions with null
  metadata-ingestion/scripts/install_editable_versions.sh
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/serde/test_serde.py
Labels: ingestion

#6747 docs(gms): plugins# auth-api as compileOnly dependency
  docs/plugins.md
Labels: docs

#6680 fix(elasticsearch): build in resilience against IO exceptions on httpclient
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/RestHighLevelClientFactory.java
Labels: platform

#6752 ci: fix ingestion gradle retry
  docker/datahub-ingestion/Dockerfile
Labels: devops

#6738 fix(ingest): support airflow mapped operators
  metadata-ingestion/src/datahub_provider/_plugin.py
Labels: ingestion, community-contribution

#6754 fix(actions): fix mistype slack/teams base url
  docs/actions/actions/slack.md
  docs/actions/actions/teams.md
Labels: docs

#6753 fix(smoke-test): fix stateful ingestion test regression
  smoke-test/tests/test_stateful_ingestion.py
Labels: smoke_test

#6751 fix(ingest/lookml): fix directory handling and a config validation bug
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion

#6739 refactor(ingest): bigquery-lineage - allow tables and datasets in uppercase
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/utilities/bigquery_sql_parser.py
  metadata-ingestion/src/datahub/utilities/sql_lineage_parser_impl.py
  metadata-ingestion/src/datahub/utilities/sql_parser.py
  metadata-ingestion/tests/unit/test_bigquery_sql_lineage.py
Labels: ingestion

#6743 refactor(ux): Misc UX Improvements (tutorial copy, caching, filters)
  datahub-web-react/src/app/identity/group/GroupList.tsx
  datahub-web-react/src/app/identity/group/cacheUtils.ts
  datahub-web-react/src/app/identity/user/UserList.tsx
  datahub-web-react/src/app/identity/user/cacheUtils.ts
  datahub-web-react/src/app/onboarding/config/BusinessGlossaryOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/EntityProfileOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/IngestionOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/PoliciesOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/config/SearchOnboardingConfig.tsx
  datahub-web-react/src/app/search/SimpleSearchFilter.tsx
  datahub-web-react/src/app/search/SimpleSearchFilters.tsx
  datahub-web-react/src/app/search/__tests__/SearchPage.test.tsx
Labels: product

#6757 Added build failed yarn error
  docs/developers.md
Labels: docs

#6760 fix(python-sdk): DataHubGraph get_aspect should accept empty responses
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/tests/unit/graph/test_client.py
Labels: ingestion

#6764 fix(datahub-web-react): Properly escape a quote in React
  datahub-web-react/src/app/onboarding/config/PoliciesOnboardingConfig.tsx
Labels: product

#6761 docs(ingest/airflow): clarify Airflow 1.x docs for airflow plugin
  docs/lineage/airflow.md
Labels: docs

#6762 feat(ingest): simplify more stateful ingestion state
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/state/dbt_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/entity_removal_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/iceberg_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/kafka_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/ldap_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/tableau_state.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/utilities/checkpoint_state_util.py
  metadata-ingestion/tests/integration/iceberg/test_iceberg.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_sql_common_state.py
  metadata-ingestion/tests/unit/stateful_ingestion/test_kafka_state.py
  metadata-ingestion/tests/unit/test_ldap_state.py
Labels: ingestion

#6777 fix(ingest): bigquery - handling custom sql errors as warning in profiling
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#6770 docs(docker): add section for adding community images
  docker/README.md
Labels: docs, devops

#6763 feat(ingest): add `datahub state inspect` command
  metadata-ingestion/src/datahub/cli/get_cli.py
  metadata-ingestion/src/datahub/cli/state_cli.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source/state/checkpoint.py
  metadata-ingestion/src/datahub/ingestion/source/state/dbt_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/entity_removal_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/kafka_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/sql_common_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/src/datahub/ingestion/source/state_provider/datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/source/unity/unity_state.py
  metadata-ingestion/src/datahub/utilities/checkpoint_state_util.py
  metadata-ingestion/tests/integration/kafka/test_kafka_state.py
  metadata-ingestion/tests/test_helpers/state_helpers.py
  metadata-ingestion/tests/unit/stateful_ingestion/provider/test_datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_sql_common_state.py
Labels: ingestion

#6750 docs(snowflake) Snowflake quick ingestion guide
  docs-website/sidebars.js
  docs/quick-ingestion-guides/bigquery/configuration.md
  docs/quick-ingestion-guides/snowflake/configuration.md
  docs/quick-ingestion-guides/snowflake/overview.md
  docs/quick-ingestion-guides/snowflake/setup.md
Labels: docs

#6778 Optimize kafka setup
  docker/kafka-setup/kafka-setup.sh
Labels: devops

#6779 feat(ingest/lookml): add unreachable views to report
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Labels: ingestion

#6773 feat(ci): adding github security reporting to trivy scans
  .github/workflows/docker-unified.yml
Labels: devops

#6781 fix(smoke-test): remove stateful ingestion config check
  smoke-test/tests/test_stateful_ingestion.py
Labels: smoke_test

#6715 fix(ingest): correct external url for account identifier with account name
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake-beta/test_snowflake_beta.py
  metadata-ingestion/tests/unit/test_snowflake_beta_source.py
Labels: ingestion

#6786 fix(tutorial): skip getting steps if there is no user
  datahub-web-react/src/providers/EducationStepsProvider.tsx
Labels: product

#6782 fix(kafka-setup): fix return code check
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.consumers-without-neo4j.yml
  docker/docker-compose.consumers.yml
  docker/docker-compose.yml
  docker/kafka-setup/kafka-setup.sh
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
Labels: devops

#6790 refactor(ui): Make include_tables and include_views default to True. Improve Tableau default recipe.
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/common.tsx
  datahub-web-react/src/app/ingest/source/builder/sources.json
Labels: product

#6798 docs(architecture): edit documents in architecture section
  docs/architecture/metadata-ingestion.md
  docs/architecture/metadata-serving.md
Labels: docs

#6805 fix(ingest/dbt): remove unsupported usage indicator
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
Labels: ingestion

#6791 refactor(ingest/stateful): remove most remaining state classes
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/src/datahub/ingestion/source/state/dbt_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/kafka_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/ldap_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/sql_common_state.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
  metadata-ingestion/tests/integration/kafka/test_kafka_state.py
  metadata-ingestion/tests/integration/ldap/test_ldap_stateful.py
  metadata-ingestion/tests/unit/stateful_ingestion/test_kafka_state.py
  metadata-ingestion/tests/unit/test_ldap_state.py
Labels: ingestion

#6806 fix(profile): bigquery-legacy - Fix for TypeError-related failures in legacy plugin
  metadata-ingestion/src/datahub/ingestion/source/sql/bigquery.py
Labels: ingestion

#6076 Update Grafana Dashboard
  docker/monitoring/docker-compose.consumers.monitoring.yml
  docker/monitoring/docker-compose.monitoring.yml
  docker/monitoring/grafana/dashboards/datahub_dashboard.json
  docker/quickstart/docker-compose.monitoring.quickstart.yml
Labels: devops

#6792 refactor(ingest/stateful): remove `IngestionJobStateProvider`
  metadata-ingestion/src/datahub/cli/state_cli.py
  metadata-ingestion/src/datahub/ingestion/api/committable.py
  metadata-ingestion/src/datahub/ingestion/api/common.py
  metadata-ingestion/src/datahub/ingestion/api/ingestion_job_checkpointing_provider_base.py
  metadata-ingestion/src/datahub/ingestion/api/ingestion_job_state_provider.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/state/redundant_run_skip_handler.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
  metadata-ingestion/src/datahub/ingestion/source/state_provider/datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/tests/test_helpers/type_helpers.py
  metadata-ingestion/tests/unit/stateful_ingestion/provider/test_datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/tests/unit/test_pipeline.py
Labels: ingestion

#6384 chore(ingest): bump python package dependencies to resolve vulns
  docker/datahub-ingestion/base-requirements.txt
  metadata-ingestion/src/datahub/ingestion/source/feast_image/requirements.txt
Labels: ingestion, community-contribution, devops

#6814 fix(ui): URL encode urns for ownership entity links
  datahub-web-react/src/app/entity/shared/components/styled/ExpandedOwner.tsx
Labels: product

#6813 fix(posts): add deletePost GraphQL endpoint
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/post/DeletePostResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/post/DeletePostResolverTest.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/post/PostService.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/post/PostServiceTest.java
Labels: product

#6815 fix(ui): change caching to happen post server-response when creating a UI ingestion recipe
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
Labels: product

#6795 feat(ingest/stateful): remove platform_instance_id from state urn
  metadata-ingestion/src/datahub/cli/state_cli.py
  metadata-ingestion/src/datahub/ingestion/api/ingestion_job_checkpointing_provider_base.py
  metadata-ingestion/src/datahub/ingestion/source/state/checkpoint.py
  metadata-ingestion/src/datahub/ingestion/source/state/redundant_run_skip_handler.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
  metadata-ingestion/src/datahub/ingestion/source/state_provider/datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/tests/unit/stateful_ingestion/provider/test_datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_checkpoint.py
Labels: ingestion

#6804 feat(ui): Adding DBT Cloud support for UI ingestion
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/dbt_cloud.tsx
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
Labels: product

#6381 feat(kafka): expose default kafka producer mechanism
  metadata-dao-impl/kafka-producer/src/main/java/com/linkedin/metadata/dao/producer/KafkaEventProducer.java
  metadata-dao-impl/kafka-producer/src/main/java/com/linkedin/metadata/dao/producer/KafkaHealthChecker.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/EntityServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/DataHubKafkaEventProducerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/DataHubKafkaProducerFactory.java
  metadata-service/factories/src/main/resources/application.yml
Labels: community-contribution, platform

#6823 feat(ingest): add failure/warning counts to ingest_stats
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
Labels: ingestion

#6817 refactor(ingest): clean up pipeline init error handling
  metadata-ingestion/src/datahub/ingestion/api/sink.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
Labels: ingestion

#6787 fix(ingest): exclude ztsd from uber jar to prevent jni conflicts with spark
  metadata-integration/java/spark-lineage/build.gradle
Labels: community-contribution, devops

#6822 feat(ingest/bigquery): add option to enable/disable legacy sharded table support
  docs/how/updating-datahub.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/common.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
Labels: ingestion

#6827 fix(ingest): support patches in `auto_status_aspect`
  metadata-ingestion/src/datahub/utilities/source_helpers.py
Labels: ingestion

#6821 fix(ci): reduce flakiness views select test
  datahub-web-react/src/app/entity/view/builder/ViewBuilderForm.tsx
  smoke-test/tests/cypress/cypress.json
  smoke-test/tests/cypress/cypress/integration/glossary/glossaryTerm.js
  smoke-test/tests/cypress/cypress/integration/mutations/mutations.js
  smoke-test/tests/cypress/cypress/integration/search/search.js
  smoke-test/tests/cypress/cypress/integration/siblings/siblings.js
  smoke-test/tests/cypress/cypress/integration/views/view_select.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: product, smoke_test

#6818 refactor(ingest): clean up exception types
  metadata-ingestion/docs/sources/glue/glue.md
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/integration/lookml/test_lookml.py
  metadata-ingestion/tests/integration/openapi/openapi_mces_golden.json
Labels: ingestion

#6825 fix(ingest): fixed snowflake oauth ingestion not using role attribute…
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
Labels: ingestion

#6002 refactor(ingestion): Browse Paths Upgrade V2 Feast & Sagemaker
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/feature_groups.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/jobs.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/models.py
  metadata-ingestion/src/datahub/ingestion/source/feast.py
  metadata-ingestion/tests/integration/feast/feast_repository_mces_golden.json
  metadata-ingestion/tests/unit/sagemaker/sagemaker_mces_golden.json
Labels: ingestion

#6826 fix(lineage) Fix lineage viz with multiple siblings
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityLineageResultResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/SiblingGraphService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/sibling/SiblingGraphServiceTest.java
Labels: product

#6835 fix(pac4j-oidc): add verifier parameter
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcAuthenticator.java
Labels: product

#6783 feat(ingest): extract kafka topic config properties as customProperties
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/tests/integration/kafka/kafka_mces_golden.json
  metadata-ingestion/tests/unit/test_kafka_source.py
Labels: ingestion

#6834 feat(ingestion): support lineage for delta lake writes
  metadata-integration/java/spark-lineage/README.md
  metadata-integration/java/spark-lineage/src/main/java/datahub/spark/DatasetExtractor.java
Labels: ingestion, community-contribution

#6830 feat(ui): Support defining the ID for Glossary Term and Glossary Term Group in UI
  datahub-web-react/src/app/domain/CreateDomainModal.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/CreateGlossaryEntityModal.tsx
  datahub-web-react/src/app/identity/group/CreateGroupModal.tsx
  datahub-web-react/src/app/shared/textUtil.ts
Labels: product

#6769 feat(ci): add cypress test ui based ingestion
  datahub-web-react/src/app/ingest/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  smoke-test/tests/cypress/cypress/integration/mutations/managed_ingestion.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: product, smoke_test

#6736 feat(ui): sortable domain list
  datahub-web-react/src/app/domain/DomainItemMenu.tsx
  datahub-web-react/src/app/domain/DomainListColumns.tsx
  datahub-web-react/src/app/domain/DomainListItem.tsx
  datahub-web-react/src/app/domain/DomainsList.tsx
Labels: community-contribution, product

#6840 fix(ci): add labels based on more folders
  .github/pr-labeler-config.yml
Labels: devops

#6820 fix(ingest): kafka ingest task hand up with error bootstrap server
  metadata-ingestion/src/datahub/configuration/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
Labels: ingestion, community-contribution

#6844 fix(ingest): Fixing Kafka source linting
  metadata-ingestion/src/datahub/configuration/kafka.py
Labels: ingestion

#6833 fix(ingestion) Inject pipeline_name into recipes at runtime
  build.gradle
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateIngestionExecutionRequestResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/source/UpsertIngestionSourceResolver.java
  ingestion-scheduler/src/main/java/com/datahub/metadata/ingestion/IngestionScheduler.java
  metadata-utils/build.gradle
  metadata-utils/src/main/java/com/linkedin/metadata/utils/IngestionUtils.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/IngestionUtilsTest.java
Labels: product

#6847 feat(ingest): add db/schema properties hook to SQL common
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/two_tier_sql_source.py
Labels: ingestion

#6848 fix(oidc): fix oidc authentication loop
  datahub-frontend/app/auth/AuthUtils.java
  datahub-frontend/app/auth/sso/oidc/OidcCallbackLogic.java
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/test/app/ApplicationTest.java
Labels: product

#6810 docs(confluent): add details for actions pod for confluent
  docs/deploy/confluent-cloud.md
Labels: docs

#6829 feat(ingestion): Business Glossary# Add domain support in GlossaryTerm ingestion
  metadata-ingestion/docs/sources/business-glossary/datahub-business-glossary.md
  metadata-ingestion/examples/bootstrap_data/business_glossary.yml
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/tests/integration/business-glossary/business_glossary.yml
  metadata-ingestion/tests/integration/business-glossary/glossary_events_golden.json
  metadata-ingestion/tests/integration/business-glossary/glossary_to_file.yml
  metadata-ingestion/tests/integration/business-glossary/test_business_glossary.py
Labels: ingestion

#6849 fix(ingest/looker): handle missing `label` fields
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion
