Repository datahub-project/datahub, pull requests merged in 2022-09, with the labels that each got.

#5765 docs(feature-guide) Impact Analysis
  docs-website/README.md
  docs-website/generateDocsDir.ts
  docs-website/sidebars.js
  docs-website/src/pages/docs/index.js
  docs-website/src/pages/index.js
  docs/README.md
  docs/_feature-guide-template.md
  docs/act-on-metadata/impact-analysis.md
  docs/wip/impact-analysis.md
Labels: docs, product

#5805 feat(restore-indices): add endpoint for restore indices, add basic check for graph
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/SendMAEStep.java
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/graph_consistency/__init__.py
  metadata-ingestion/src/datahub/graph_consistency/check_data_platform.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/cassandra/CassandraAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/restoreindices/RestoreIndicesArgs.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/restoreindices/RestoreIndicesResult.java
  metadata-service/restli-api/src/main/idl/com.linkedin.entity.aspects.restspec.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/restli/RestliConstants.java
Labels: devops

#5803 doc: Make Airflow link clickable
  docker/airflow/local_airflow.md
Labels: community-contribution

#5799 fix(docker): add missing port mappings for non-neo4j quickstart
  docker/docker-compose-without-neo4j.override.yml
  docker/docker-compose-without-neo4j.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
Labels: devops

#5829 fix(ingest): looker - report dashboard scanning correctly
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion

#5828 feat(cli): report memory usage during ingest
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
Labels: ingestion

#5826 docs(big query): add needed delete permission to list
  metadata-ingestion/docs/sources/bigquery/bigquery.md
Labels: docs, community-contribution

#5768 feat(ingest): looker test connection
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion

#5756 feat(ingest): improve tableau lineage, workbooks query, fix pagination
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesConnection_0.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesConnection_all.json
  metadata-ingestion/tests/integration/tableau/setup/workbooksConnection_all.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau.py
Labels: ingestion

#5830 fix(ingest): profiling - memory usage reduction
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#5840 feat(hooks): Add toggle for enabling/disabling platform event hook
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeLogProcessor.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/MetadataChangeLogHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/event/EntityChangeEventGeneratorHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/EntityChangeEventGeneratorHookTest.java
  metadata-service/factories/src/main/resources/application.yml
Labels: devops

#5514 feat(transformers): Add semantics & transform_aspect support in transformers
  docs-website/genJsonSchema/gen_json_schema.py
  docs-website/sidebars.js
  metadata-ingestion/README.md
  metadata-ingestion/build.gradle
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/docs/transformer/intro.md
  metadata-ingestion/examples/transforms/custom_transform_example.py
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_browse_path.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_ownership.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_properties.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_schema_tags.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_schema_terms.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_tags.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_terms.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_domain.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_transformer.py
  metadata-ingestion/src/datahub/ingestion/transformer/mark_dataset_status.py
  metadata-ingestion/src/datahub/ingestion/transformer/remove_dataset_ownership.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
  metadata-ingestion/transformers.md
Labels: ingestion

#5846 fix(ingest): fix doc generation import ordering issue with postgres
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
Labels: ingestion, docs

#5855 feat(docker) Adds Sasl support to base ingestion image
  docker/datahub-ingestion/base.Dockerfile
Labels: devops

#5860 fix(ingest): reporting should work with timestamps
  metadata-ingestion/src/datahub/ingestion/api/report.py
Labels: ingestion

#5831 fix(patch-entity-registry): Remove exception for entities with key aspects.
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/PatchEntityRegistry.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/PatchEntityRegistryTest.java
  entity-registry/src/test_plugins/mycompany-full-model/0.0.1/entity-registry.yaml
Labels: community-contribution, platform

#5861 fix(ingest): bigquery - Fixing sharded regexp pattern config
  metadata-ingestion/src/datahub/ingestion/source_config/bigquery.py
Labels: ingestion

#5862 chore(ingest): remove outdated GE compatibility hack
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#5867 docs: improve doc generation, add better docs for snowflake, looker
  metadata-ingestion/docs/sources/looker/looker.md
  metadata-ingestion/docs/sources/looker/looker_pre.md
  metadata-ingestion/docs/sources/looker/lookml.md
  metadata-ingestion/docs/sources/looker/lookml_post.md
  metadata-ingestion/docs/sources/looker/lookml_pre.md
  metadata-ingestion/docs/sources/looker/lookml_recipe.yml
  metadata-ingestion/docs/sources/snowflake/README.md
  metadata-ingestion/docs/sources/snowflake/snowflake-beta_pre.md
  metadata-ingestion/docs/sources/snowflake/snowflake-beta_recipe.yml
  metadata-ingestion/docs/sources/snowflake/snowflake-usage_pre.md
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/src/datahub/ingestion/api/decorators.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion

#5849 feat(ci): tweak auto-label globs
  .github/pr-labeler-config.yml
Labels: devops

#5868 fix(m1): preflight works with brew postgres@14
  metadata-ingestion/scripts/datahub_preflight.sh
Labels: ingestion

#5848 fix(ingest): include urns in rest sink failure logs
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
Labels: ingestion

#5875 fix(docker): Bumps JRE 11 to latest
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/kafka-setup/Dockerfile
Labels: devops

#5847 feat(ingest): support reading config file from stdin
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/configuration/config_loader.py
Labels: ingestion

#5865 fix(ingest): remove dbt `delete_tests_as_datasets` option
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: ingestion

#5844 fix(ingest): avrogen handling for missing fields with default values
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/serde/test_serde.py
Labels: ingestion

#5866 refactor(ingest): add ALL_ENV_TYPES constant
  metadata-ingestion/src/datahub/configuration/source_common.py
  metadata-ingestion/src/datahub/utilities/urns/data_flow_urn.py
  metadata-ingestion/src/datahub/utilities/urns/dataset_urn.py
Labels: ingestion

#5878 fix(ingest): datahub-api - move instantiation to the right config class
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_reporting_provider.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/tests/unit/test_pipeline.py
Labels: ingestion

#5870 fix(ingest): add missing trino types
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: accepted, ingestion, community-contribution

#5877 fix(ingest): remove dbt `disable_dbt_node_creation` and `load_schema` options
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/dbt/dbt_recipe.yml
  metadata-ingestion/examples/recipes/dbt_to_datahub.dhub.yaml
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_without_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_enabled_without_schemas_with_filter_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_with_external_metadata_files_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_without_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_without_schemas_with_filter_mces_golden.json
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: ingestion

#5816 fix(frontend): forward Host header as X-Forwarded-Host
  datahub-frontend/app/controllers/Application.java
Labels: community-contribution, product

#5807 feat(ingestion-ui) Sort ingestion sources by last execution time
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/source/ListIngestionSourcesResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/source/ListIngestionSourceResolverTest.java
  datahub-web-react/src/app/ingest/source/IngestionSourceTable.tsx
Labels: product

#5894 docs(schema-history): update schema history docs
  docs-website/graphql/generateGraphQLSchema.sh
  docs/imgs/schema-blame-latest-version.png
  docs/imgs/schema-blame-older-version.png
  docs/imgs/schema-history-audit-activated.png
  docs/imgs/schema-history-latest-version.png
  docs/imgs/schema-history-older-version.png
  docs/schema-history.md
Labels: docs

#5859 docs(feature-guide) Refactor Domains feature guide
  docs/domains.md
Labels: docs

#5864 feat(charts & dashboards): improving chart & dashboard entity page rendering
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/shared/tabs/Entity/ChartInputsTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/LineageTab.tsx
Labels: product

#5879 test(ingest): use pytest parameterization for dbt integration tests
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: ingestion

#5821 refactor(ingest): move aspect maps to dedicated file
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/emitter/aspect.py
Labels: ingestion

#5899 feat(ingest): make sink use type annotations
  metadata-ingestion/src/datahub/ingestion/api/registry.py
  metadata-ingestion/src/datahub/ingestion/api/sink.py
  metadata-ingestion/src/datahub/ingestion/sink/console.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_kafka.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/ingestion/sink/file.py
  metadata-ingestion/src/datahub/ingestion/sink/sink_registry.py
  metadata-ingestion/tests/test_helpers/sink_helpers.py
  metadata-ingestion/tests/unit/test_kafka_sink.py
Labels: ingestion

#5880 feat(ingest): add entity type inference to mcpw
  metadata-ingestion/src/datahub/emitter/mcp.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/integrations/great_expectations/action.py
  metadata-ingestion/tests/unit/test_mcp_builder.py
  metadata-ingestion/tests/unit/test_usage_common.py
Labels: ingestion

#4756 feat(deletion & rollback): Server & Client side changes to support timeseries aspect deletion & rollback.
  docs/how/delete-metadata.md
  entity-registry/src/main/java/com/linkedin/metadata/models/EntitySpecUtils.java
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/TimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/indexbuilder/MappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/transformer/TimeseriesAspectTransformer.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectServiceTest.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/run/DeleteEntityResponse.pdl
  metadata-models/src/main/pegasus/com/linkedin/timeseries/DeleteAspectValuesResult.pdl
  metadata-service/restli-api/src/main/idl/com.linkedin.entity.entities.restspec.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/BatchIngestionRunResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  smoke-test/tests/aspect_generators/__init__.py
  smoke-test/tests/aspect_generators/timeseries/__init__.py
  smoke-test/tests/aspect_generators/timeseries/dataset_profile_gen.py
  smoke-test/tests/cli/delete_cmd/__init__.py
  smoke-test/tests/cli/delete_cmd/test_timeseries_delete.py
  smoke-test/tests/cli/ingest_cmd/__init__.py
  smoke-test/tests/cli/ingest_cmd/test_timeseries_rollback.json
  smoke-test/tests/cli/ingest_cmd/test_timeseries_rollback.py
  smoke-test/tests/test_stateful_ingestion.py
  smoke-test/tests/timeline/timeline_test.py
  smoke-test/tests/utils.py
Labels: ingestion, devops

#5903 fix(ci): fix globs for auto-labeling PRs
  .github/pr-labeler-config.yml
Labels: devops

#5910 feat(ingest): minor changes in snowflake-beta source, add basic tests
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake-beta/snowflake_beta_golden.json
  metadata-ingestion/tests/integration/snowflake-beta/test_snowflake_beta.py
  metadata-ingestion/tests/unit/test_snowflake_beta_source.py
  metadata-ingestion/tests/unit/test_usage_common.py
Labels: ingestion

#5725 feat(ingestion): schema inference for jsonlines in S3
  metadata-ingestion/src/datahub/ingestion/source/schema_inference/json.py
Labels: community-contribution

#5914 fix(ingest): support relative paths in lookml base_folder
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Labels: ingestion

#5915 feat(graphql) Add new 'entities' endpoint to batch get entities by urn
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/Constants.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/BatchLoadUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/BatchGetEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityTypeBatchResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
Labels: product

#5916 fix(ingest): handle lookml directory being in a symlink'd folder
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Labels: ingestion

#5919 fix(doc) - fix boolean property in json schema
  docs-website/genJsonSchema/gen_json_schema.py
Labels: ingestion

#5619 fix(ingest): hide internal profiler.allow_deny_patterns from config
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/profiling.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
Labels: ingestion

#5789 feat(ingestion-ui) Display ingestion sources in UI more dynamically
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/resources/ingestion.graphql
  datahub-web-react/src/app/ingest/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingest/source/builder/DefineRecipeStep.tsx
  datahub-web-react/src/app/ingest/source/builder/IngestionSourceBuilderModal.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeBuilder.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/RecipeForm.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/TestConnection/TestConnectionButton.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/TestConnection/TestConnectionModal.tsx
  datahub-web-react/src/app/ingest/source/builder/SelectTemplateStep.tsx
  datahub-web-react/src/app/ingest/source/builder/__tests__/DefineRecipeStep.test.tsx
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingest/source/builder/types.ts
  datahub-web-react/src/app/ingest/source/builder/useGetSourceLogoUrl.ts
  datahub-web-react/src/app/ingest/source/utils.ts
  datahub-web-react/src/graphql/ingestion.graphql
  metadata-ingestion/adding-source.md
Labels: product

#5917 fix(docs): Feast recipe documentation
  metadata-ingestion/docs/sources/feast/feast-legacy_recipe.yml
  metadata-ingestion/docs/sources/feast/feast_recipe.yml
Labels: ingestion, community-contribution

#5912 fix(docker): skip zoneinfo backport on newer python versions
  docker/datahub-ingestion/base-requirements.txt
Labels: devops

#5927 fix(favicons): update multiple favicons if present
  datahub-web-react/src/AppConfigProvider.tsx
Labels: product

#5924 feat(ingest): lookml - support for git checkout
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion/docs/sources/looker/lookml_pre.md
  metadata-ingestion/docs/sources/looker/lookml_recipe.yml
  metadata-ingestion/docs/sources/snowflake/snowflake-usage_recipe.yml
  metadata-ingestion/docs/sources/snowflake/snowflake_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/configuration/github.py
  metadata-ingestion/src/datahub/ingestion/source/git/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/git/git_import.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/git/test_git_clone.py
Labels: ingestion

#5935 refactor(ingest): simplify DefaultSQLParser alias
  metadata-ingestion/src/datahub/utilities/sql_parser.py
Labels: ingestion

#5934 feat(ingest): support version option in datahub client get_aspect_v2
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion

#5933 fix(ingest): add dbt redshift type mappings
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
Labels: ingestion

#5926 fix(ci): process older issues first
  .github/workflows/close-stale-issues.yml
Labels: devops

#5932 fix(ingest): move git requirement into lookml deps
  metadata-ingestion/setup.py
Labels: ingestion

#5937 feat(elastic-setup): more verbose logging
  docker/elasticsearch-setup/create-indices.sh
Labels: devops

#5683 fix(docker) Add platform to docker-compose command
  docker/dev-with-cassandra.sh
  docker/dev-without-neo4j.sh
  docker/dev.sh
  docker/quickstart.sh
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/entrypoints.py
  smoke-test/tests/utils.py
Labels: community-contribution, devops

#5911 fix(airflow): prioritize conn_type over id-based type inference
  metadata-ingestion/src/datahub_provider/hooks/datahub.py
Labels: ingestion

#5938 fix(docs): lookml - clean up links
  metadata-ingestion/docs/sources/looker/lookml_pre.md
Labels: ingestion

#5891 feat(search): Add support for Elasticsearch object field type
  docs/modeling/extending-the-metadata-model.md
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/SearchableAnnotation.java
  entity-registry/src/test/java/com/linkedin/metadata/models/EntitySpecBuilderTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformer.java
  metadata-io/src/test/java/com/linkedin/metadata/TestEntityUtil.java
  metadata-io/src/test/java/com/linkedin/metadata/extractor/FieldExtractorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformerTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/SearchDocumentTransformerFactory.java
  metadata-service/factories/src/main/resources/application.yml
  test-models/src/main/pegasus/com/datahub/test/TestEntityInfo.pdl
Labels: performance, community-contribution, platform

#5734 feat(ingest): add ConfigEnum type
  metadata-ingestion/scripts/modeldocgen.py
  metadata-ingestion/src/datahub/configuration/_config_enum.py
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
  metadata-ingestion/tests/unit/config/test_config_enum.py
Labels: ingestion

#5906 fix(transformer): fix invalid lastModified.actor entry in transformers
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_ownership.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_schema_terms.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_terms.py
Labels: ingestion

#5931 refactor(gms): Adding Java Entity Services
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/DomainUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/LabelUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/OwnerUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/resource/ResourceReference.java
  metadata-io/src/main/java/com/linkedin/metadata/resource/SubResourceType.java
  metadata-io/src/main/java/com/linkedin/metadata/service/BaseService.java
  metadata-io/src/main/java/com/linkedin/metadata/service/DomainService.java
  metadata-io/src/main/java/com/linkedin/metadata/service/GlossaryTermService.java
  metadata-io/src/main/java/com/linkedin/metadata/service/OwnerService.java
  metadata-io/src/main/java/com/linkedin/metadata/service/TagService.java
  metadata-io/src/test/java/com/linkedin/metadata/service/DomainServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/service/GlossaryTermServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/service/OwnerServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/service/TagServiceTest.java
Labels: product

#5795 fix(ingest): fix type annotations on some pydantic fields
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
  metadata-ingestion/src/datahub/ingestion/source/glue_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/unit/config/test_config_model.py
Labels: ingestion

#5873 feat(docs) Adds guide on how to use personal access tokens
  docs/authentication/introducing-metadata-service-authentication.md
  docs/authentication/personal-access-tokens.md
  docs/imgs/generate-personal-access-token.png
  docs/wip/personal-access-tokens-guide.md
Labels: docs

#5874 feat(ingestion) Add more info to glue entities
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/glue_deleted_actor_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_platform_instance_golden.json
  metadata-ingestion/tests/unit/test_glue_source.py
  metadata-ingestion/tests/unit/test_glue_source_stubs.py
Labels: ingestion, community-contribution

#5939 feat(ingestion-ui) Add LookML form to managed ingestion UI
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/DictField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/FormField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/RecipeForm.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/SecretField/SecretField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/common.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/lookml.tsx
  datahub-web-react/src/app/ingest/source/builder/sources.json
Labels: product

#5943 fix(ingest): Fix snowflake usage stateful ingestion backward compatibility check.
  metadata-ingestion/src/datahub/ingestion/source/state/redundant_run_skip_handler.py
Labels: ingestion

#5945 feat(ingest): skip ssh known_hosts verification for git clone
  metadata-ingestion/src/datahub/ingestion/source/git/git_import.py
  metadata-ingestion/tests/integration/git/test_git_clone.py
Labels: ingestion

#5946 fix(ui) Make LookML deploy key a textarea and format key
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/FormField.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/common.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/lookml.tsx
Labels: product

#5948 feat(docs): lookml - add video for ui ingestion, remove secret step u…
  metadata-ingestion/docs/sources/looker/lookml_pre.md
Labels: ingestion

#5947 fix(ingest): add trailing newline to ssh keys
  metadata-ingestion/src/datahub/ingestion/source/git/git_import.py
Labels: ingestion

#5913 docs(airflow): show that rest host points at gms
  docs/lineage/airflow.md
Labels: docs

#5758 feat(delta-lake): support delta tables from minio
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/delta_lake_utils.py
  metadata-ingestion/tests/integration/delta_lake/delta_lake_minio_mces_golden.json
  metadata-ingestion/tests/integration/delta_lake/minio/kill_minio.sh
  metadata-ingestion/tests/integration/delta_lake/minio/setup_minio.sh
  metadata-ingestion/tests/integration/delta_lake/test_delta_lake_minio.py
Labels: ingestion

#5923 refractor(snowflake): move snowflake-beta to certified snowflake source
  docs/cli.md
  docs/how/updating-datahub.md
  metadata-ingestion/docs/dev_guides/stateful.md
  metadata-ingestion/docs/sources/snowflake/README.md
  metadata-ingestion/docs/sources/snowflake/snowflake-legacy.md
  metadata-ingestion/docs/sources/snowflake/snowflake-legacy_recipe.yml
  metadata-ingestion/docs/sources/snowflake/snowflake-usage-legacy_pre.md
  metadata-ingestion/docs/sources/snowflake/snowflake-usage-legacy_recipe.yml
  metadata-ingestion/docs/sources/snowflake/snowflake_pre.md
  metadata-ingestion/docs/sources/snowflake/snowflake_recipe.yml
  metadata-ingestion/examples/recipes/snowflake_to_datahub.dhub.yaml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake-beta/test_snowflake_beta.py
Labels: ingestion, docs

#5920 docs: datahub_conn_id => conn_id in Airflow Integration
  docs/lineage/airflow.md
Labels: docs, community-contribution

#5956 fix(docs): fix loom embed
  metadata-ingestion/docs/sources/looker/lookml_pre.md
Labels: ingestion

#5957 fix(build): fix preflight script for m1 for lib postgresql
  metadata-ingestion/scripts/datahub_preflight.sh
Labels: ingestion

#5960 docs(airflow) add back auth token info for airflow
  docs/lineage/airflow.md
Labels: docs

#5952 feat: qualifiedName support + populating glue ARN
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/container/mappers/ContainerMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/glue_deleted_actor_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_platform_instance_golden.json
  metadata-ingestion/tests/unit/test_glue_source_stubs.py
Labels: ingestion, community-contribution, product

#5963 feat(elastic-setup): add better error handling
  docker/elasticsearch-setup/create-indices.sh
Labels: devops

#5954 docs(ingest): add example of ssl with mysql
  metadata-ingestion/docs/sources/mysql/mysql_recipe.yml
Labels: ingestion

#5959 feat(ingestion-ui) Use CLI version defined in recipe for test connection
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateTestConnectionRequestResolver.java
  datahub-graphql-core/src/main/resources/ingestion.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateTestConnectionRequestResolverTest.java
  datahub-web-react/src/app/ingest/source/builder/DefineRecipeStep.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeBuilder.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/RecipeForm.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/TestConnection/TestConnectionButton.tsx
Labels: product

#5958 feat(ingest): add support for aliases in plugin registry
  metadata-ingestion/src/datahub/ingestion/api/registry.py
  metadata-ingestion/src/datahub/ingestion/source/source_registry.py
  metadata-ingestion/tests/unit/test_plugin_system.py
Labels: ingestion

#5887 feat(elasticsearch-setup): Add insecure option for curl
  docker/elasticsearch-setup/create-indices.sh
Labels: community-contribution, devops

#5964 feat(ci): exempt from stale label
  .github/workflows/close-stale-issues.yml
Labels: devops

#5951 fix(ingest): continue validation of s3 path_specs even if platform is set
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/test_s3.py
Labels: ingestion

#5942 fix(ui) Filter search through schemas based on non-editable tags and terms as well
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/__tests__/filterSchemaRows.test.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/filterSchemaRows.ts
  datahub-web-react/src/app/shared/tags/TagTermGroup.tsx
Labels: product

#5929 refactor(ingest): use typed objects in dbt ingestion
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: ingestion

#5953 feat(ingest): bigquery-v2 - Add profiling feature
  metadata-ingestion/docs/sources/bigquery/bigquery-beta_pre.md
  metadata-ingestion/docs/sources/bigquery/bigquery-beta_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/bigquery.py
Labels: ingestion

#5975 fix(quickstart): elasticsearch-setup script fails on curl
  docker/elasticsearch-setup/create-indices.sh
Labels: devops

#5843 feat(dashboard): add subTypes aspect to dashboard entity
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/DashboardType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/dashboard/preview/DashboardPreview.tsx
  datahub-web-react/src/app/ingest/source/utils.ts
  datahub-web-react/src/graphql-mock/fixtures/entity/dashboardEntity.ts
  datahub-web-react/src/graphql/browse.graphql
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/lineage.graphql
  datahub-web-react/src/graphql/preview.graphql
  datahub-web-react/src/graphql/search.graphql
  metadata-models/src/main/resources/entity-registry.yml
Labels: community-contribution, product

#5936 fix(patch-entity-registry): Use AspectSpec to retrieve aspect class in order to support custom entity ingestion via patch mechanism.
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataplatform/mappers/DataPlatformMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/timeline/mappers/SchemaBlameMapper.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityRegistryUrnValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/BrowsePathUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/AspectGenerationUtils.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hydrator/DataJobHydrator.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestDataPlatformInstancesStep.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestPoliciesStep.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestRolesStep.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestRootUserStep.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/EntityKeyUtils.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/EntityKeyUtilsTest.java
Labels: product

#5981 fix(ingest): handle `uname` missing on windows
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion

#5982 ci: reduce pip backtracking in airflow plugin
  .github/workflows/build-and-test.yml
  metadata-ingestion-modules/airflow-plugin/setup.py
Labels: devops

#5980 fix(ingest): pin great-expectations dependency to fix profiling error
  metadata-ingestion/setup.py
Labels: ingestion

#5688 refactor(looker): Migrating to new browse path format
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/tests/integration/looker/golden_test_allow_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_joins.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_unaliased_joins.json
  metadata-ingestion/tests/integration/looker/looker_mces_usage_history.json
  metadata-ingestion/tests/integration/lookml/expected_output.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_bigquery.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_badsql_parser.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_deny_pattern.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
  metadata-ingestion/tests/integration/lookml/lookml_reachable_views.json
Labels: product

#5983 fix(datahub-ranger-plugin): add support to publish jars
  .github/workflows/publish-datahub-jars.yml
  datahub-ranger-plugin/build.gradle
Labels: devops

#5984 feat(docs): Adds docs on K8s scheduled ingestion
  docs-website/sidebars.js
  metadata-ingestion/schedule_docs/kubernetes.md
Labels: ingestion, devops

#5890 feat(ingest): presto-on-hive stateful, catalog and pascalcase subtype config
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/tests/integration/presto-on-hive/docker-compose.yml
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_1.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_2.json
  metadata-ingestion/tests/integration/presto-on-hive/test_presto_on_hive.py
Labels: ingestion, community-contribution

#5995 fix(kafka-setup) Bump kafka version to existing version
  docker/kafka-setup/Dockerfile
Labels: devops

#5886 Small UI bugs
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/search/SearchFilterLabel.tsx
Labels: product

#5988 feat(data platform) adding data platform indexing & select platform modal in frontend
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Platform/SelectPlatformModal.tsx
  datahub-web-react/src/graphql/search.graphql
  metadata-models/src/main/pegasus/com/linkedin/dataplatform/DataPlatformInfo.pdl
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/factories/BootstrapManagerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IndexDataPlatformsStep.java
Labels: product

#5851 Worked on the pop-over of matched entity
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/dataset/shared/TagSummary.tsx
  datahub-web-react/src/app/entity/dataset/shared/TermSummary.tsx
  datahub-web-react/src/app/entity/glossaryNode/GlossaryNodeEntity.tsx
Labels: product

#5989 refactor(docs): Updating GraphQL documentation with fixes, and more examples
  docs-website/sidebars.js
  docs/api/graphql/getting-started.md
  docs/api/graphql/overview.md
  docs/api/graphql/querying-entities.md
  docs/api/graphql/token-management.md
Labels: docs

#5998 docs(upgrading-datahub): Add docs for upgrading-datahub v0.8.44
  docs/how/updating-datahub.md
Labels: docs

#5792 chore(docs-website): bump docusaurus to v2.1.0
  docs-website/docusaurus.config.js
  docs-website/package.json
  docs-website/sidebars.js
  docs-website/src/pages/_components/Hero/index.js
  docs-website/src/pages/docs/_components/SearchBar/index.js
  docs-website/yarn.lock
  docs/act-on-metadata/impact-analysis.md
  docs/domains.md
  docs/tags.md
Labels: docs

#6000 docs: remove wip UI ingestion doc
  docs/wip/ui-ingestion-guide.md
Labels: docs

#5990 feat(cli): extend put command to support platform creation
  docs/cli.md
  metadata-ingestion/src/datahub/cli/put_cli.py
  metadata-integration/java/datahub-protobuf/README.md
Labels: ingestion

#5993 feat(ingest): presto-on-hive - Description and hive view support
  .github/workflows/metadata-ingestion.yml
  .gitignore
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_1.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_2.json
Labels: ingestion

#5977 fix(ingest): encode reserved characters when creating dataset urn
  metadata-ingestion/src/datahub/utilities/urn_encoder.py
  metadata-ingestion/src/datahub/utilities/urns/dataset_urn.py
  metadata-ingestion/tests/integration/tableau/setup/publishedDatasourcesConnection_all.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/unit/test_mce_builder.py
  metadata-ingestion/tests/unit/utilities/test_urn_encoder.py
Labels: ingestion

#5999 feat(ingestion): Tableau dashboard & chart usage stats
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/tests/integration/tableau/setup/workbooksConnection_state_all.json
  metadata-ingestion/tests/integration/tableau/skip_test_tableau_stat.py
  metadata-ingestion/tests/integration/tableau/tableau_state_mces_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau.py
  metadata-ingestion/tests/integration/tableau/test_tableau_common.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion

#5985 feat(ingestion): Documentation on adding stateful ingestion use-cases to new sources
  docs-website/sidebars.js
  metadata-ingestion/docs/dev_guides/add_stateful_ingestion_to_source.md
  metadata-ingestion/docs/dev_guides/stateful.md
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
Labels: ingestion

#5909 feat(ui): Add Nullable label to Schema Render
  datahub-web-react/src/app/entity/dataset/profile/schema/utils/schemaTitleRenderer.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/NullableLabel.tsx
Labels: community-contribution, product

#6012 refactor(frontend): Misc frontend improvements
  datahub-frontend/app/controllers/Application.java
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/app/controllers/CentralLogoutController.java
  datahub-frontend/app/security/AuthenticationManager.java
Labels: product

#6017 feat(ingest): add --no-pull-images option to docker quickstart
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion

#6020 docs(users): move changing default user up
  docs/authentication/guides/add-users.md
Labels: docs

#5996 Worked on the dynamic column width of stats table
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
Labels: product

#6021 Worked to hide the recent search from search bar
  datahub-web-react/src/app/ingest/secret/SecretsList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/permissions/roles/ManageRoles.tsx
Labels: product

#6019 docs: fix a markdown typo
  docs/actions/concepts.md
Labels: docs

#6028 fix(ingest): lookml - make explore parsing more robust
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Labels: ingestion

#6030 fix(ingest): better error handling in glue
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Labels: ingestion

#6006 fix(gms): Write back lineage search results to in-memory cache bound to feature flag
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/cache/CachedEntityLineageResult.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageSearchServiceTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/LineageSearchServiceFactory.java
  metadata-service/factories/src/main/resources/application.yml
Labels: product, release-0.8.45

#5967 fix(ownership-differ): standardise ownership change event payload
  metadata-io/src/main/java/com/linkedin/metadata/timeline/data/entity/OwnerChangeEvent.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/differ/OwnershipDiffer.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/EntityChangeEventGeneratorHookTest.java
Labels: community-contribution, product, release-0.8.45

#6027 feat(ingestion): Add fail-safe stale entity removal via configurable 'fail_safe_threshold' param.
  metadata-ingestion/src/datahub/ingestion/source/state/dbt_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/kafka_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/sql_common_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
  metadata-ingestion/tests/integration/kafka/test_kafka_state.py
  metadata-ingestion/tests/unit/test_glue_source.py
  metadata-ingestion/tests/unit/test_kafka_source.py
  smoke-test/tests/test_stateful_ingestion.py
Labels: ingestion

#6009 refactor(ingest): move common host_port validation
  metadata-ingestion/src/datahub/configuration/kafka.py
  metadata-ingestion/src/datahub/configuration/validate_field_rename.py
  metadata-ingestion/src/datahub/configuration/validate_host_port.py
  metadata-ingestion/src/datahub/emitter/kafka_emitter.py
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
  metadata-ingestion/tests/unit/test_elasticsearch_source.py
  metadata-ingestion/tests/unit/test_kafka_emitter.py
Labels: ingestion

#6031 feat(ingest): aws - support extra args to role config
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
Labels: ingestion

#6029 fix(frontend): refactoring AuthServiceClient
  datahub-frontend/app/client/AuthServiceClient.java
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/conf/routes
Labels: product

#6032 fix(ingest): support snowflake-beta extra compatibility
  metadata-ingestion/setup.py
Labels: ingestion

#5968 fix(platform): Add aws-secretsmanager-jdbc driver in dependencies
  build.gradle
  metadata-service/war/build.gradle
Labels: community-contribution, product

#5901 feat(patch): initial support of json patch style semantics in MCPs
  .gitignore
  build.gradle
  entity-registry/build.gradle
  entity-registry/src/main/java/com/linkedin/metadata/models/AspectSpec.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/ConfigEntityRegistry.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/EntityRegistry.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/EntityRegistryUtils.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/MergedEntityRegistry.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/PatchEntityRegistry.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/SnapshotEntityRegistry.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/ArrayMergingTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/AspectTemplateEngine.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/CompoundKeyTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/Template.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/common/GlobalTagsTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/common/GlossaryTermsTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/common/OwnershipTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/dataset/DatasetPropertiesTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/dataset/EditableSchemaMetadataTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/dataset/UpstreamLineageTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/util/TemplateUtil.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/PluginEntityRegistryLoaderTest.java
  li-utils/src/main/java/com/datahub/util/RecordUtils.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-ingestion/src/datahub/emitter/mcp_patch_builder.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/sink/file.py
  metadata-ingestion/src/datahub/specific/__init__.py
  metadata-ingestion/src/datahub/specific/dataset.py
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/AbstractPatchBuilder.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/PatchOperationType.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/common/GlobalTagsPatchBuilder.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/common/GlossaryTermsPatchBuilder.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/common/OwnershipPatchBuilder.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/dataset/DatasetPropertiesPatchBuilder.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/dataset/EditableSchemaMetadataPatchBuilder.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/dataset/UpstreamLineagePatchBuilder.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/patch/PatchTest.java
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/EntityRegistryUrnValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/RecordTemplateValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/ValidationException.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/ValidationUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/TestEntityRegistry.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ValidationUtilsTest.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/EntityChangeEventGeneratorHookTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/EbeanServerFactory.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/UpgradeDefaultBrowsePathsStepTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/util/MappingUtil.java
  metadata-service/openapi-servlet/src/test/java/mock/MockEntityRegistry.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  smoke-test/tests/patch/__init__.py
  smoke-test/tests/patch/test_dataset_patches.py
Labels: ingestion, release-0.8.45

#6035 fix(ingest): bigquery-beta - Project name quote and graceful lineage/usage failures
  metadata-ingestion/docs/sources/bigquery/bigquery-beta_pre.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#6036 fix(frontend): fix authenticate endpoint to create new session on redirect
  datahub-frontend/app/controllers/AuthenticationController.java
Labels: product, release-0.8.45

#6018 feat(tracking): add additional home page telemetry
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/home/HomePage.tsx
  datahub-web-react/src/app/home/HomePageHeader.tsx
  datahub-web-react/src/app/search/BrowseEntityCard.tsx
Labels: product, release-0.8.45

#6008 refactor(ingest): Browse Paths Upgrade Tableau
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_state_mces_golden.json
Labels: ingestion

#6037 feat(patch): report whether server is patch capable
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/Config.java
Labels: release-0.8.45

#6039 fix(ingest): bigquery-beta - Getting datasets with biquery client
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
Labels: ingestion

#6015 feat(roles): add ability to invite users into a role
  datahub-frontend/app/client/AuthServiceClient.java
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/AcceptRoleResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/BatchAssignRoleResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/CreateInviteTokenResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/GetInviteTokenResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/role/ListRolesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/user/CreateNativeUserInviteTokenResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/user/GetNativeUserInviteTokenResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/role/AcceptRoleResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/role/BatchAssignRoleResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/role/CreateInviteTokenResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/role/GetInviteTokenResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/user/CreateNativeUserInviteTokenResolverTest.java
  datahub-web-react/src/app/auth/SignUp.tsx
  datahub-web-react/src/app/identity/user/UserList.tsx
  datahub-web-react/src/app/identity/user/ViewInviteTokenModal.tsx
  datahub-web-react/src/app/permissions/ManagePermissions.tsx
  datahub-web-react/src/app/permissions/roles/ManageRoles.tsx
  datahub-web-react/src/graphql/mutations.graphql
  datahub-web-react/src/graphql/role.graphql
  datahub-web-react/src/graphql/user.graphql
  docs/how/updating-datahub.md
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/secret/SecretService.java
  metadata-models/src/main/pegasus/com/linkedin/identity/InviteToken.pdl
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/invite/InviteTokenService.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/user/NativeUserService.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/role/RoleService.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/invite/InviteTokenServiceTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/user/NativeUserServiceTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/RoleServiceTest.java
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/authentication/AuthServiceController.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/auth/InviteTokenServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/auth/RoleServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/factories/BootstrapManagerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestRolesStep.java
  metadata-service/war/src/main/resources/boot/policies.json
  smoke-test/test_e2e.py
  smoke-test/tests/tokens/revokable_access_token_test.py
Labels: product, release-0.8.45

#5836 refactor(java11) - convert most modules to java 11
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/docker-unified.yml
  .github/workflows/documentation.yml
  .github/workflows/metadata-io.yml
  .github/workflows/publish-datahub-jars.yml
  .github/workflows/spark-smoke-test.yml
  .gitignore
  build.gradle
  docker/broker/env/docker.env
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  docs/developers.md
  docs/how/updating-datahub.md
  li-utils/build.gradle
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/spark-lineage/build.gradle
  metadata-integration/java/spark-lineage/spark-smoke-test/golden_json/JavaHdfsIn2HdfsOut1.json
  metadata-integration/java/spark-lineage/spark-smoke-test/golden_json/JavaHdfsIn2HdfsOut2.json
  metadata-integration/java/spark-lineage/spark-smoke-test/golden_json/JavaHdfsIn2HiveCreateInsertTable.json
  metadata-integration/java/spark-lineage/spark-smoke-test/golden_json/JavaHdfsIn2HiveCreateTable.json
  metadata-integration/java/spark-lineage/spark-smoke-test/golden_json/JavaHiveInHiveOut.json
  metadata-integration/java/spark-lineage/spark-smoke-test/golden_json/PythonHdfsIn2HdfsOut1.json
  metadata-integration/java/spark-lineage/spark-smoke-test/golden_json/PythonHdfsIn2HdfsOut2.json
  metadata-integration/java/spark-lineage/spark-smoke-test/golden_json/PythonHdfsIn2HiveCreateInsertTable.json
  metadata-integration/java/spark-lineage/spark-smoke-test/golden_json/PythonHdfsIn2HiveCreateTable.json
  metadata-integration/java/spark-lineage/spark-smoke-test/golden_json/PythonHiveInHiveOut.json
  metadata-integration/java/spark-lineage/spark-smoke-test/setup_spark_smoke_test.sh
  metadata-integration/java/spark-lineage/spark-smoke-test/smoke.sh
  metadata-integration/java/spark-lineage/spark-smoke-test/test-spark-lineage/build.gradle
  metadata-integration/java/spark-lineage/spark-smoke-test/test-spark-lineage/gradle/wrapper/gradle-wrapper.properties
  metadata-integration/java/spark-lineage/spark-smoke-test/test_e2e.py
  metadata-integration/java/spark-lineage/src/test/java/datahub/spark/TestCoalesceJobLineage.java
  metadata-integration/java/spark-lineage/src/test/java/datahub/spark/TestSparkJobsLineage.java
  metadata-io/build.gradle
  metadata-models/build.gradle
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/util/MappingUtil.java
  test-models/build.gradle
Labels: community-contribution, platform

#6011 refactor(ingest): streamline pydantic configs
  metadata-ingestion/src/datahub/configuration/time_window_config.py
  metadata-ingestion/src/datahub/configuration/validate_field_rename.py
  metadata-ingestion/src/datahub/ingestion/source/dbt.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
Labels: ingestion

#6038 docs(ingest): add example of dbt column_meta_mapping
  metadata-ingestion/docs/sources/dbt/dbt.md
Labels: ingestion

#6040 refactor(ingest): use aspect map in transformers
  metadata-ingestion/src/datahub/ingestion/transformer/base_transformer.py
Labels: ingestion

#6045 feat(ui): Adding placeholder entity for DataPlatform
  datahub-web-react/src/App.tsx
  datahub-web-react/src/app/entity/dataPlatform/DataPlatformEntity.tsx
Labels: product

#6007 feat(ingest): implement compression for CheckpointState
  metadata-ingestion/src/datahub/ingestion/source/state/checkpoint.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_checkpoint.py
Labels: ingestion, community-contribution

#6051 fix(ingest): bigquery-beta - Additional fixes for Bigquery beta
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/integrations/great_expectations/action.py
  metadata-ingestion/src/datahub/utilities/sql_lineage_parser_impl.py
  metadata-ingestion/src/datahub/utilities/sql_parser.py
  metadata-ingestion/src/datahub/utilities/sql_parser_base.py
Labels: ingestion

#6055 feat(advanced search): adding advanced search filter component & prereqs for it
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/AssertionRunEventResolver.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/auth/ListAccessTokensResolverTest.java
  datahub-web-react/src/app/search/AdvancedSearchFilter.tsx
  datahub-web-react/src/app/search/AdvancedSearchFilterConditionSelect.tsx
  datahub-web-react/src/app/search/AdvancedSearchFilterValuesSection.tsx
  datahub-web-react/src/app/search/SearchFilterLabel.tsx
  datahub-web-react/src/app/search/utils/constants.ts
Labels: product

#6050 docs(ingest): add path spec examples for s3
  metadata-ingestion/docs/sources/s3/s3.md
Labels: ingestion
