Repository datahub-project/datahub, pull requests merged in 2023-11, with the labels that each got.

#8911 fix(datahub-client): Include relocation for snakeyaml dependency.
  metadata-integration/java/datahub-client/build.gradle
Labels: merge-pending-ci

#9153 fix(ingest): cleanup large images in CI
  metadata-ingestion/tests/integration/sql_server/test_sql_server.py
  metadata-ingestion/tests/integration/vertica/test_vertica.py
  metadata-ingestion/tests/test_helpers/docker_helpers.py
Labels: hacktoberfest-accepted, ingestion

#9091 build: increase gradle retries
  gradle.properties
Labels: hacktoberfest-accepted

#9155 feat(ingest): bump sqlglot parser
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion, merge-pending-ci

#9118 feat(ingest/mongodb): support stateful ingestion
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/tests/integration/mongodb/mongodb_mces_golden.json
Labels: hacktoberfest-accepted, ingestion, merge-pending-ci

#9121 API test for managing secrets privilege
  smoke-test/tests/privileges/test_privileges.py
  smoke-test/tests/privileges/utils.py
Labels: hacktoberfest-accepted, smoke_test

#9129 fix(ingest): handle exceptions in min, max, mean profiling
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: hacktoberfest-accepted, ingestion, merge-pending-ci

#9141 feat: rename Assets tab to Owner Of
  datahub-web-react/src/app/entity/group/GroupProfile.tsx
  datahub-web-react/src/app/entity/user/UserProfile.tsx
Labels: hacktoberfest-accepted, product

#9145 fix(ingest/mongodb): fix schema inference for lists of values
  metadata-ingestion/src/datahub/ingestion/source/schema_inference/object.py
Labels: hacktoberfest-accepted, ingestion, merge-pending-ci

#9128 fix(ingest/db2): fix handling for table properties
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
Labels: hacktoberfest-accepted, ingestion, merge-pending-ci

#9157 fix(ingest): fully support MCPs in urn_iter primitive
  metadata-ingestion/src/datahub/utilities/urns/urn_iter.py
  metadata-ingestion/tests/unit/serde/test_urn_iterator.py
Labels: ingestion, merge-pending-ci

#9123 fix(ingest/bigquery): use correct row count in null count profiling c…
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: hacktoberfest-accepted, ingestion, merge-pending-ci

#9122 docs: add feature guides for subscriptions and notifications
  docs-website/sidebars.js
  docs/managed-datahub/saas-slack-setup.md
  docs/managed-datahub/subscription-and-notification.md
Labels: hacktoberfest-accepted, docs

#9068 docs: unify oidc guides using tabs
  docs-website/sidebars.js
  docs/authentication/guides/sso/configure-oidc-behind-proxy.md
  docs/authentication/guides/sso/configure-oidc-react-azure.md
  docs/authentication/guides/sso/configure-oidc-react-google.md
  docs/authentication/guides/sso/configure-oidc-react-okta.md
  docs/authentication/guides/sso/configure-oidc-react.md
Labels: hacktoberfest-accepted, docs

#9158 chore(ingest): remove legacy memory_leak_detector
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
  metadata-ingestion/src/datahub/utilities/memory_leak_detector.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/unit/test_snowflake_source.py
Labels: ingestion

#9159 feat(ingest/looker): support emitting unused explores
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion

#9163 refactor(policy): refactor policy locking, no functional difference
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DataHubAuthorizer.java
Labels: devops

#9167 API test for managing access token privilege
  smoke-test/tests/privileges/test_privileges.py
Labels: smoke_test

#9169 fix(mysql-setup): quote database name
  docker/mysql-setup/init.sql
Labels: devops

#9117 fix(health): fix health check url authentication
  metadata-auth/auth-api/src/main/java/com/datahub/authentication/AuthenticationRequest.java
  metadata-service/auth-filter/src/main/java/com/datahub/auth/authentication/filter/AuthenticationFilter.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/authenticator/HealthStatusAuthenticator.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/health-servlet/build.gradle
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/SpringWebConfig.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/health/HealthCheckController.java
  metadata-service/war/build.gradle
  metadata-service/war/src/main/webapp/WEB-INF/openapiServlet-servlet.xml
  settings.gradle
Labels: hacktoberfest-accepted, devops

#9074 fix(elasticsearch): fix elasticsearch-setup for dropped 000001 index
  docker/elasticsearch-setup/create-indices.sh
Labels: hacktoberfest-accepted, devops

#9175 Origin/fix flaky glossary navigation cypress test
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary_navigation.js
  smoke-test/tests/cypress/cypress/e2e/lineage/impact_analysis.js
Labels: smoke_test

#9162 fix: bad lineage link in `LineageGraphOnboardingConfig.tsx`
  datahub-web-react/src/app/onboarding/config/LineageGraphOnboardingConfig.tsx
Labels: product

#9156 OBS-191 | Viewing domains page should not require Manage Domains priv…
  datahub-web-react/src/app/shared/admin/HeaderLinks.tsx
Labels: product

#9140 fix: expand the stats row in search preview cards
  datahub-web-react/src/app/entity/dashboard/shared/DashboardStatsSummary.tsx
  datahub-web-react/src/app/entity/dataset/shared/DatasetStatsSummary.tsx
  datahub-web-react/src/app/entity/dataset/shared/ExpandingStat.tsx
Labels: hacktoberfest-accepted, product

#9161 docs(ingest): clarify adding source guide
  metadata-ingestion/adding-source.md
Labels: ingestion

#9160 chore: stop ingestion-smoke CI errors on forks
  .github/workflows/docker-ingestion-smoke.yml
Labels: devops

#9174 docs(ingest): inherit capabilities from superclasses
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion/src/datahub/ingestion/api/decorators.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
Labels: ingestion

#9185 fix(ingest/datahub-source): Order by version in memory
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_database_reader.py
  metadata-ingestion/tests/unit/test_datahub_source.py
Labels: ingestion

#9189 lint(frontend): fix HeaderLinks lint error
  datahub-web-react/src/app/shared/admin/HeaderLinks.tsx
Labels: product, merge-pending-ci

#9196 refactor(ui): Rename "dataset details" button text to "view details" on lineage sidebar profile
  datahub-web-react/src/app/lineage/LineageExplorer.tsx
Labels: product

#9194 feat(ui): Add command-k icons to search bar
  datahub-web-react/src/app/home/HomePageHeader.tsx
  datahub-web-react/src/app/search/CommandK.tsx
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/app/search/SearchHeader.tsx
Labels: product

#9193 feat(ui) Update Apollo cache to work with union types
  datahub-web-react/codegen.yml
  datahub-web-react/package.json
  datahub-web-react/src/App.tsx
  datahub-web-react/yarn.lock
Labels: product

#9177 feat(policy): enable support for 10k+ policies
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/policy/ListPoliciesResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/search/SearchService.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DataHubAuthorizer.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/PolicyFetcher.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DataHubAuthorizerTest.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/auth/DataHubAuthorizerFactory.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  smoke-test/tests/cypress/cypress/e2e/settings/managing_groups.js
Labels: product, devops

#9200 feat(browsepathv2): Allow system-update to reprocess browse paths v2
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/entity/steps/BackfillBrowsePathsV2Step.java
  docker/datahub-upgrade/env/docker-without-neo4j.env
  docker/datahub-upgrade/env/docker.env
  docker/docker-compose.dev.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CachingEntitySearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/services/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
Labels: product, devops

#9018 feat(integration/fivetran): Fivetran connector integration
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/images/fivetranlogo.png
  metadata-ingestion/docs/sources/fivetran/fivetran_pre.md
  metadata-ingestion/docs/sources/fivetran/fivetran_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
  metadata-ingestion/src/datahub/emitter/mcp.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/tests/integration/fivetran/fivetran_golden.json
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: hacktoberfest-accepted, ingestion, merge-pending-ci

#9179 feat(neo4j): Allow datahub to connect to specific neo4j database
  docker/docker-compose.override.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/Neo4jGraphServiceFactory.java
Labels: devops

#9186 feat(subtypes): support subtypes for charts in the UI
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/chart/preview/ChartPreview.tsx
  datahub-web-react/src/graphql/chart.graphql
  datahub-web-react/src/graphql/lineage.graphql
  datahub-web-react/src/graphql/search.graphql
  metadata-models/src/main/resources/entity-registry.yml
Labels: product

#9205 feat(ui) Debounce auto-complete in search bar
  datahub-web-react/src/app/home/HomePageHeader.tsx
  datahub-web-react/src/app/search/SearchablePage.tsx
Labels: product

#9187 fix(lineage): magical lineage layout fix
  datahub-web-react/src/app/lineage/utils/layoutTree.ts
Labels: product

#9191 refactor(pdl): Refactoring Assertion model enums out
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionResult.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionResultType.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionRunEvent.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionRunStatus.pdl
Labels: product, merge-pending-ci

#9178 feat(auth): Add roles to policy engine validation logic
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/AuthorizedActors.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/AuthorizerChain.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DataHubAuthorizer.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/PolicyEngine.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DataHubAuthorizerTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/PolicyEngineTest.java
  metadata-service/plugin/src/test/sample-test-plugins/src/main/java/com/datahub/plugins/test/TestAuthorizer.java
Labels: devops

#9207 style(ingest/tableau): Rename tableau_constant to c
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
Labels: ingestion

#9184 docs: update broken link in metadata-modelling
  docs/modeling/metadata-model.md
Labels: docs

#9173 Test policy to create and manage privileges
  smoke-test/tests/privileges/test_privileges.py
Labels: smoke_test

#9136 docs(java-sdk-dataset): add dataset via java sdk example
  docs/api/tutorials/datasets.md
  metadata-integration/java/examples/src/main/java/io/datahubproject/examples/DatasetAdd.java
Labels: hacktoberfest-accepted, ingestion, docs, merge-pending-ci

#9151 doc(java-sdk-example):example to create tag via java-sdk
  docs/api/tutorials/tags.md
  metadata-integration/java/examples/src/main/java/io/datahubproject/examples/TagCreate.java
Labels: hacktoberfest-accepted, ingestion, docs, merge-pending-ci

#8994 fix(ingest/powerbi): use dataset workspace id as key for parent container
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: hacktoberfest-accepted, ingestion, merge-pending-ci

#9188 refactor(schema tab): Remove last observed timestamps from schema tab
  datahub-web-react/src/app/entity/dataset/profile/__tests__/schema/SchemaTimeStamps.test.tsx
  datahub-web-react/src/app/entity/dataset/profile/schema/components/SchemaHeader.tsx
  datahub-web-react/src/app/entity/dataset/profile/schema/components/SchemaTimeStamps.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTab.tsx
Labels: product

#9064 docs: adjust sidebar & create new admin section
  docs-website/sidebars.js
  docs/CODE_OF_CONDUCT.md
  docs/saas.md
  docs/townhall-history.md
  docs/townhalls.md
Labels: hacktoberfest-accepted

#8687 fix(metadata-io): in Neo4j service use proper algorithm to get lineage
  build.gradle
  docker/neo4j/env/docker.env
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  docs/how/updating-datahub.md
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/neo4j/Neo4jTestServerBuilder.java
Labels: community-contribution, product, devops

#9220 chore(ingest): start working on pydantic v2 support
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/setup.cfg
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/configuration/_config_enum.py
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/configuration/oauth.py
  metadata-ingestion/src/datahub/configuration/pydantic_migration_helpers.py
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/extractor/mce_extractor.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/config.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server_domain.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/datalake_profiler_config.py
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/druid.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto.py
  metadata-ingestion/src/datahub/ingestion/source/sql/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/src/datahub/ingestion/source_config/usage/bigquery_usage.py
  metadata-ingestion/src/datahub/upgrade/upgrade.py
  metadata-ingestion/src/datahub/utilities/lossy_collections.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
Labels: ingestion

#9211 feat(ingestion/airflow): support datajobs as task inlets
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/entities.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/example_dags/lineage_backend_demo.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/example_dags/lineage_backend_taskflow_demo.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/lineage/_lineage_core.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/basic_iolets.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/simple_dag.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_snowflake_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_airflow.py
Labels: ingestion, merge-pending-ci

#9228 fix(build): set `@cliMajorVersion@` correctly
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/code-checks.yml
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-postgres-setup.yml
  .github/workflows/docker-unified.yml
  .github/workflows/publish-datahub-jars.yml
  .github/workflows/spark-smoke-test.yml
  metadata-service/configuration/build.gradle
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/build.gradle
  smoke-test/tests/read_only/test_services_up.py
Labels: devops, smoke_test, merge-pending-ci

#9217 fix(datahub-ingestion): remove old jars, sync pyspark version
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/pyspark_jars.sh
  metadata-ingestion/setup.py
Labels: ingestion, devops

#9067 feat(policies): reduce default access for all users
  .github/scripts/check_policies.py
  metadata-service/war/src/main/resources/boot/policies.json
  smoke-test/tests/cypress/cypress/e2e/settings/managing_groups.js
Labels: hacktoberfest-accepted, devops

#9019 Update add new company s7 airlines
  README.md
Labels: hacktoberfest-accepted, community-contribution

#9208 docs(debug): add debug information for cli
  docs/actions/README.md
  docs/cli.md
Labels: docs, platform, merge-pending-ci

#9233 fix(datahub-ingestion): prevent transitive deps, bump addtional pyspa…
  .dockerignore
  datahub-frontend/build.gradle
  datahub-upgrade/build.gradle
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/README.md
  docker/datahub-ingestion/build.gradle
  docker/datahub-ingestion/pyspark_jars.sh
  docker/elasticsearch-setup/build.gradle
  docker/kafka-setup/build.gradle
  docker/mysql-setup/build.gradle
  docker/postgres-setup/build.gradle
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mce-consumer-job/build.gradle
  metadata-service/war/build.gradle
Labels: product, devops

#8991 feat(ingest/dbt): dbt column-level lineage
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/api/incremental_lineage_helper.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/src/datahub/utilities/topological_sort.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/test_dbt.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_cte_name_collision.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_full_table_name_col_reference.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_unused_cte.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
  metadata-ingestion/tests/unit/test_topological_sort.py
Labels: hacktoberfest-accepted, ingestion

#9221 chore(ingest): cleanup various methods
  metadata-events/mxe-schemas/rename-namespace.sh
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
Labels: ingestion

#9236 docs: clarify how to disable telemetry
  docs/deploy/telemetry.md
Labels: docs

#9201 feat(ingest/mongodb): support AWS DocumentDB for MongoDB
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
Labels: ingestion, community-contribution

#9226 feat(airflow): make RUN_IN_THREAD configurable
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion, docs

#9234 fix(signup): prevent invalid email signup
  datahub-frontend/app/auth/NativeAuthenticationConfigs.java
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/conf/application.conf
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/user/NativeUserService.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/user/NativeUserServiceTest.java
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/auth/NativeUserServiceFactory.java
Labels: product, devops, platform, merge-pending-ci

#9243 chore(security): version adjustments for security vulns
  build.gradle
  datahub-upgrade/build.gradle
  metadata-events/mxe-registration/build.gradle
  metadata-events/mxe-utils-avro/build.gradle
  metadata-io/build.gradle
  metadata-service/factories/build.gradle
  metadata-service/restli-api/build.gradle
Labels: product, devops

#9239 docs(ingest): fix typo in snowflake ingestion docs
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
Labels: ingestion, merge-pending-ci

#9245 chore(security): jre to headless, removes x11 dependency
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/kafka-setup/Dockerfile
Labels: devops, merge-pending-ci

#9240 feat(recomendations): Make top platforms account only for searchable entities
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/search/TestEntityTestBase.java
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/EntitySearchAggregationSource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/TopPlatformsSource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
Labels: devops

#9224 Feature/prd 770
  datahub-web-react/src/app/domain/EmptyDomainDescription.tsx
  datahub-web-react/src/app/domain/EmptyDomainsSection.tsx
  datahub-web-react/src/app/domain/nestedDomains/ManageDomainsPageV2.tsx
  datahub-web-react/src/app/domain/nestedDomains/RootDomains.tsx
Labels: product

#9198 fix:fix search on paginated lists
  datahub-web-react/src/app/identity/group/GroupList.tsx
  datahub-web-react/src/app/identity/user/UserList.tsx
  datahub-web-react/src/app/ingest/secret/SecretsList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/permissions/policy/ManagePolicies.tsx
  datahub-web-react/src/app/permissions/roles/ManageRoles.tsx
Labels: product

#9251 fix: increase the search bar highlight border to double the width
  datahub-web-react/src/app/search/SearchBar.tsx
Labels: product

#9142 feat: Add loading indicator to Manage Domains sidebar
  datahub-web-react/src/app/domain/DomainSearch.tsx
  datahub-web-react/src/app/domain/DomainSearchResultItem.tsx
  datahub-web-react/src/app/domain/nestedDomains/domainNavigator/DomainNavigator.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Domain/SetDomainModal.tsx
Labels: hacktoberfest-accepted, product

#8834 fix(ui): show external url also in entity profile of containers
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
Labels: product

#9110 feat(ingest/unity): Support specifying catalogs directly; pass env correctly
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Labels: hacktoberfest-accepted, ingestion

#9250 refactor(datahub-web-react): allows proxying to external datahub-frontend servers
  datahub-web-react/.env
  datahub-web-react/README.md
  datahub-web-react/src/setupProxy.js
Labels: product

#9252 chore(node): update node to non-EOL version
  datahub-web-react/build.gradle
  datahub-web-react/package.json
Labels: product

#9244 fix(ingest): drop redshift-legacy and redshift-usage-legacy sources
  docs/how/updating-datahub.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/ingestion/source/source_registry.py
  metadata-ingestion/src/datahub/ingestion/source/sql/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/usage/redshift_usage.py
Labels: ingestion, docs

#9237 feat(ingest): support advanced configs for aws
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
Labels: ingestion

#9181 fix(sql-parser): convert platform instance to lowercase when building table urns
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/test_schemaresolver.py
Labels: ingestion, community-contribution, product

#9254 test(ingest/unity): Update goldens
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
Labels: ingestion

#8964 build(ingest/hive): Update thrift pin
  metadata-ingestion/setup.py
Labels: hacktoberfest-accepted, ingestion

#9253 docs(airflow): update plugin setup docs to include UI setup approach
  docs/lineage/airflow.md
Labels: docs

#9255 feat(usageclient): updates for usageclient
  build.gradle
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/usage/UsageClientFactory.java
  metadata-service/restli-client/build.gradle
  metadata-service/restli-client/src/main/java/com/linkedin/common/client/ClientCache.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/EntityClientCache.java
  metadata-service/restli-client/src/main/java/com/linkedin/usage/UsageClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/usage/UsageClientCache.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java.latest
  metadata-utils/src/main/java/com/linkedin/metadata/restli/DefaultRestliClientFactory.java
Labels: devops

#9260 fix(graphql): prevent duplicate index queries for dataproducts
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/ListDataProductAssetsResolver.java
Labels: product

#9262 logging(search): log level highlight value urn detection
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/MapperUtils.java
Labels: product

#9268 Add Python version in Developer README
  .gitignore
  docs/developers.md
Labels: docs, merge-pending-ci

#9267 Sync datahub-head on merge
  .github/scripts/docker_helpers.sh
  .github/workflows/docker-unified.yml
Labels: devops

#9218 PRD-742/fix:Settings tab should have 2 scrollable sections
  datahub-web-react/src/app/entity/ownership/ManageOwnership.tsx
  datahub-web-react/src/app/entity/view/ManageViews.tsx
  datahub-web-react/src/app/identity/ManageIdentities.tsx
  datahub-web-react/src/app/identity/group/GroupList.tsx
  datahub-web-react/src/app/identity/user/UserList.tsx
  datahub-web-react/src/app/permissions/ManagePermissions.tsx
  datahub-web-react/src/app/permissions/policy/ManagePolicies.tsx
  datahub-web-react/src/app/permissions/roles/ManageRoles.tsx
  datahub-web-react/src/app/settings/AccessTokens.tsx
  datahub-web-react/src/app/settings/SettingsPage.tsx
  datahub-web-react/src/app/settings/posts/ManagePosts.tsx
  datahub-web-react/src/app/settings/posts/PostsList.tsx
  datahub-web-react/src/app/shared/RoutedTabs.tsx
Labels: product

#9210 feat: add ingestion overview pages
  docs-website/sidebars.js
  docs/cli.md
  metadata-ingestion/README.md
  metadata-ingestion/cli-ingestion.md
  metadata-ingestion/recipe_overview.md
  metadata-ingestion/sink_overview.md
  metadata-ingestion/source_overview.md
Labels: ingestion

#9270 fix(ingest/athena): detect decimal type correctly
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/tests/unit/test_athena_source.py
Labels: ingestion

#9261 Fix/prd 787
  datahub-web-react/src/app/settings/SettingsPage.tsx
Labels: product

#9283 fix(gha): fix gha for single tag
  .github/actions/docker-custom-build-and-push/action.yml
  .github/workflows/docker-unified.yml
Labels: devops

#9281 fix(node): fix node_options
  datahub-web-react/build.gradle
  datahub-web-react/package.json
Labels: product

#8839 fix: Revamp features page
  docs-website/src/pages/docs/_components/FeatureCard/featurecard.module.scss
  docs-website/src/pages/docs/_components/FeatureCard/index.jsx
  docs-website/src/pages/docs/_components/FeatureCardSection/featurecardsection.module.scss
  docs-website/src/pages/docs/_components/FeatureCardSection/index.jsx
  docs-website/src/pages/docs/_components/QuickstartCard/index.jsx
  docs-website/src/pages/docs/_components/QuickstartCard/quickstartcard.module.scss
  docs-website/src/pages/docs/_components/QuickstartCards/index.jsx
  docs-website/src/pages/docs/_components/QuickstartCards/quickstartcards.module.scss
  docs/features.md
Labels: docs

#9291 docs(acryl cloud): release notes 0.2.13
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_13.md
Labels: docs

#9292 fix: stats are spaced out too far
  datahub-web-react/src/app/entity/dashboard/shared/DashboardStatsSummary.tsx
  datahub-web-react/src/app/entity/dataset/shared/DatasetStatsSummary.tsx
Labels: product

#9269 fix(ingest/snowflake): Apply email filter on all usage metrics
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/unit/test_snowflake_source.py
Labels: ingestion

#9301 docs(ingestion): Added mention of host without protocol
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/trino.ts
Labels: product

#9059 fix(ingest/teradata): Teradata speed up changes
  metadata-ingestion/src/datahub/emitter/sql_parsing_builder.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
Labels: hacktoberfest-accepted, ingestion

#9304 fix(kafka): fix consumer properties on due consumer
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/SimpleKafkaConsumerFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/kafka/SimpleKafkaConsumerFactoryTest.java
Labels: devops

#9302 fix(dbt-cloud): do not pass macros to sorting nodes
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Labels: ingestion, merge-pending-ci

#9279 fix(ingest/lookml): emit all views with same name and different file path
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/lookml/lkml_same_name_views_different_file_path_samples/data.model.lkml
  metadata-ingestion/tests/integration/lookml/lkml_same_name_views_different_file_path_samples/data2.model.lkml
  metadata-ingestion/tests/integration/lookml/lkml_same_name_views_different_file_path_samples/path1/foo.view.lkml
  metadata-ingestion/tests/integration/lookml/lkml_same_name_views_different_file_path_samples/path2/foo.view.lkml
  metadata-ingestion/tests/integration/lookml/lookml_same_name_views_different_file_path.json
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion

#9294 fix: fix the settings height when there are not many items
  datahub-web-react/src/app/settings/SettingsPage.tsx
Labels: product

#9307 docs: update recommended CLI
  docs/managed-datahub/release-notes/v_0_2_13.md
Labels: docs

#8353 feat(ui): bump frontend dependencies
  datahub-web-react/.eslintrc.js
  datahub-web-react/craco.config.js
  datahub-web-react/package.json
  datahub-web-react/src/__mocks__/styleMock.js
  datahub-web-react/src/app/analyticsDashboard/components/BarChart.tsx
  datahub-web-react/src/app/analyticsDashboard/components/Legend.tsx
  datahub-web-react/src/app/analyticsDashboard/components/TimeSeriesChart.tsx
  datahub-web-react/src/app/entity/shared/components/legacy/MarkdownViewer.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Stats/historical/charts/StatChart.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/BooleanTimeline.tsx
  datahub-web-react/src/app/lineage/ColumnNode.tsx
  datahub-web-react/src/app/lineage/LineageEntityColumns.tsx
  datahub-web-react/src/app/lineage/LineageEntityEdge.tsx
  datahub-web-react/src/app/lineage/LineageEntityNode.tsx
  datahub-web-react/src/app/lineage/LineageTree.tsx
  datahub-web-react/src/app/lineage/LineageTreeNodeAndEdgeRenderer.tsx
  datahub-web-react/src/app/lineage/LineageViz.tsx
  datahub-web-react/src/app/lineage/LineageVizInsideZoom.tsx
  datahub-web-react/src/app/lineage/LineageVizRootSvg.tsx
  datahub-web-react/src/app/lineage/NodeColumnsHeader.tsx
  datahub-web-react/src/app/lineage/__tests__/LineageTree.test.tsx
  datahub-web-react/src/app/lineage/__tests__/adjustVXTreeLayout.test.tsx
  datahub-web-react/src/app/lineage/utils/adjustVXTreeLayout.ts
  datahub-web-react/src/app/shared/share/items/EmailMenuItem.tsx
  datahub-web-react/src/conf/theme/styled-components.d.ts
  datahub-web-react/src/graphql-mock/server.ts
  datahub-web-react/tsconfig.json
  datahub-web-react/yarn.lock
Labels: community-contribution, product

#9308 feat(config): Configurable bootstrap of ownership types
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/factories/BootstrapManagerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestOwnershipTypesStep.java
Labels: devops

#9313 fix(ingest/mssql): Add MONEY and SMALLMONEY data types as Number
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/setup/setup.sql
Labels: ingestion, merge-pending-ci

#9299 fix(ingest): drop deprecated database_alias from sql sources
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/common.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/usage.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/mysql/mysql_to_file_dbalias.yml
  metadata-ingestion/tests/integration/mysql/test_mysql.py
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_1.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_2.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_3.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_4.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_5.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_to_file.yml
  metadata-ingestion/tests/integration/presto-on-hive/test_presto_on_hive.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_to_file.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_with_lower_case_urn.yml
  metadata-ingestion/tests/integration/trino/test_trino.py
  metadata-ingestion/tests/unit/test_postgres_source.py
Labels: ingestion, docs

#9230 Make repositories configurable for enterprise developers
  datahub-frontend/build.gradle
  datahub-upgrade/build.gradle
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/Dockerfile-slim-only
  docker/datahub-ingestion/build.gradle
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/elasticsearch-setup/Dockerfile
  docker/elasticsearch-setup/build.gradle
  docker/kafka-setup/Dockerfile
  docker/kafka-setup/build.gradle
  docker/mysql-setup/Dockerfile
  docker/mysql-setup/build.gradle
  docker/postgres-setup/Dockerfile
  docker/postgres-setup/build.gradle
  entity-registry/custom-test-model/build.gradle
  metadata-integration/java/datahub-protobuf-example/build.gradle
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mce-consumer-job/build.gradle
  metadata-models-custom/build.gradle
  metadata-service/war/build.gradle
  repositories.gradle
Labels: ingestion, product, devops, merge-pending-ci

#9183 fix(ingest/sql): improve handling of views with dots in their names
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/tests/unit/test_sql_common.py
Labels: ingestion, community-contribution, product

#9327 docs(ingest): update docs on adding stateful ingestion
  metadata-ingestion/docs/dev_guides/add_stateful_ingestion_to_source.md
Labels: ingestion

#9326 fix(docker): docker compose health checks port fix
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
Labels: devops

#9324 fix : vulnerability (React): Inefficient Regular Expression Complexit…
  datahub-web-react/package.json
  datahub-web-react/yarn.lock
Labels: product

#9266 fix(ui) Fix UI glitch in policies creator
  datahub-web-react/src/app/permissions/policy/PolicyPrivilegeForm.tsx
Labels: product

#9322 fix(sidebar): remove a space reserved for scroll bars when sidebar is collapsed
  datahub-web-react/src/app/search/sidebar/BrowseSidebar.tsx
Labels: product

#9256 feat(ingest/mssql): enable TLS encryption for SQLServer using pytds
  metadata-ingestion/docs/sources/mssql/mssql_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
Labels: ingestion, community-contribution, merge-pending-ci

#8344 fix(datahub-frontend): Add playCaffeine as replacement for removed playEhcache dependency
  build.gradle
  datahub-frontend/play.gradle
Labels: community-contribution, product, merge-pending-ci

#9328 fix(ingest): bump pyhive to fix headers issue
  metadata-ingestion/setup.py
Labels: ingestion

#9329 feat(gradle): quickstart postgres gradle task
  docker/build.gradle
  docker/docker-compose-without-neo4j.postgres.override.yml
Labels: devops

#9325 Upload metadata model to s3
  .github/workflows/metadata-model.yml
Labels: community-contribution, devops

#9227 fix(ingest/browse): Re-emit browse path v2 aspects to avoid race condition
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
Labels: ingestion

#9258 feat(ingest/ldap): make ingestion robust to string departmentId
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
Labels: ingestion, merge-pending-ci

#9336 doc(ingest/teradata): Adding Teradata to list of Integrations
  docs-website/filterTagIndexes.json
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
Labels: ingestion

#9323 Complexity in chalk/ansi-regex and minimatch ReDoS Vulnerability solution
  datahub-web-react/package.json
  datahub-web-react/yarn.lock
Labels: product

#9353 fix:Address HIGH vulnerability with Axios
  datahub-web-react/package.json
  datahub-web-react/yarn.lock
Labels: product

#9356 fix: show formatted total result count in Search
  datahub-web-react/src/app/search/SearchResults.tsx
Labels: product

#9257 feat(sdk): autogenerate urn types
  docs-website/sphinx/apidocs/urns.rst
  docs-website/sphinx/conf.py
  docs-website/sphinx/index.rst
  docs-website/sphinx/requirements.txt
  docs/how/updating-datahub.md
  metadata-ingestion/examples/library/dataset_add_column_documentation.py
  metadata-ingestion/examples/library/dataset_add_column_tag.py
  metadata-ingestion/examples/library/dataset_add_column_term.py
  metadata-ingestion/examples/library/upsert_group.py
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/scripts/custom_package_codegen.py
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/utilities/_custom_package_loader.py
  metadata-ingestion/src/datahub/utilities/docs_build.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/src/datahub/utilities/urn_encoder.py
  metadata-ingestion/src/datahub/utilities/urns/_urn_base.py
  metadata-ingestion/src/datahub/utilities/urns/corp_group_urn.py
  metadata-ingestion/src/datahub/utilities/urns/corpuser_urn.py
  metadata-ingestion/src/datahub/utilities/urns/data_flow_urn.py
  metadata-ingestion/src/datahub/utilities/urns/data_job_urn.py
  metadata-ingestion/src/datahub/utilities/urns/data_platform_urn.py
  metadata-ingestion/src/datahub/utilities/urns/data_process_instance_urn.py
  metadata-ingestion/src/datahub/utilities/urns/dataset_urn.py
  metadata-ingestion/src/datahub/utilities/urns/domain_urn.py
  metadata-ingestion/src/datahub/utilities/urns/error.py
  metadata-ingestion/src/datahub/utilities/urns/field_paths.py
  metadata-ingestion/src/datahub/utilities/urns/notebook_urn.py
  metadata-ingestion/src/datahub/utilities/urns/tag_urn.py
  metadata-ingestion/src/datahub/utilities/urns/urn.py
  metadata-ingestion/src/datahub/utilities/urns/urn_iter.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_checkpoint.py
  metadata-ingestion/tests/unit/stateful_ingestion/test_kafka_state.py
  metadata-ingestion/tests/unit/test_urn.py
  metadata-ingestion/tests/unit/urns/test_corp_group_urn.py
  metadata-ingestion/tests/unit/urns/test_corpuser_urn.py
  metadata-ingestion/tests/unit/urns/test_data_flow_urn.py
  metadata-ingestion/tests/unit/urns/test_data_job_urn.py
  metadata-ingestion/tests/unit/urns/test_data_process_instance_urn.py
  metadata-ingestion/tests/unit/urns/test_dataset_urn.py
  metadata-ingestion/tests/unit/urns/test_domain_urn.py
  metadata-ingestion/tests/unit/urns/test_notebook_urn.py
  metadata-ingestion/tests/unit/urns/test_tag_urn.py
  metadata-ingestion/tests/unit/urns/test_urn.py
  metadata-models/src/main/resources/entity-registry.yml
Labels: ingestion, merge-pending-ci

#9331 fix(airflow): support inlet datajobs correctly in v1 plugin
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin_v22.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_snowflake_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
Labels: ingestion, docs, merge-pending-ci
