Repository datahub-project/datahub, pull requests merged in 2023-04, with the labels that each got.

#7746 fix(ci): Fixing broken Domains Test
  datahub-web-react/src/app/domain/CreateDomainModal.tsx
  smoke-test/tests/cypress/cypress/e2e/mutations/domains.js
Labels: product, smoke_test

#7737 feat(ingest/dbt): include dbt unique_id in properties
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
Labels: ingestion

#7732 docs(airflow): update with information for new plugin
  docs/lineage/airflow.md
Labels: docs

#7728 chore(ingest): change kafka connect mapped ports
  metadata-ingestion/tests/integration/kafka-connect/docker-compose.override.yml
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_mongo_to_file.yml
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_to_file.yml
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
  metadata-ingestion/tests/integration/kafka/broker.env
  metadata-ingestion/tests/integration/kafka/docker-compose.yml
  metadata-ingestion/tests/integration/kafka/kafka_to_file.yml
  metadata-ingestion/tests/integration/kafka/send_records.sh
  metadata-ingestion/tests/integration/kafka/test_kafka.py
  metadata-ingestion/tests/integration/kafka/test_kafka_state.py
  metadata-ingestion/tests/integration/nifi/docker-compose.yml
Labels: ingestion

#7720 feat(docs): clear up source configs
  docs-website/docusaurus.config.js
  docs-website/generateDocsDir.ts
  docs-website/src/styles/config-table.scss
  metadata-ingestion/docs/sources/bigquery/README.md
  metadata-ingestion/docs/sources/elasticsearch/elasticsearch_recipe.yml
  metadata-ingestion/docs/sources/snowflake/README.md
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/src/datahub/ingestion/extractor/json_schema_util.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
Labels: ingestion

#7714 feat(ingest): emit state payloads as soft-deleted
  metadata-ingestion/src/datahub/ingestion/source/state_provider/datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/tests/unit/stateful_ingestion/provider/test_datahub_ingestion_checkpointing_provider.py
Labels: ingestion

#7743 fix(sdk): remove rest emitter to graph cache in CorpGroup
  metadata-ingestion/src/datahub/api/entities/corpgroup/corpgroup.py
Labels: ingestion

#7738 refactor(ingest/bigquery): Standardize audit log parsing and make TopKDict a DefaultDict
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
  metadata-ingestion/src/datahub/utilities/stats_collections.py
Labels: ingestion

#7682 doc(ingestion): tableau quick ingestion guide
  docs-website/sidebars.js
  docs/quick-ingestion-guides/tableau/configuration.md
  docs/quick-ingestion-guides/tableau/overview.md
  docs/quick-ingestion-guides/tableau/setup.md
Labels: docs

#7750 feat(ingest/dbt): update subtypes for dbt
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/utilities/source_helpers.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
Labels: ingestion

#7734 feat(snowflake): better error message on key pair authentication
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/tests/unit/test_snowflake_source.py
Labels: ingestion

#7751 feat(sdk): fix ownership emission for groups
  docs/api/tutorials/creating-users-and-groups.md
  metadata-ingestion/examples/library/upsert_group.py
  metadata-ingestion/src/datahub/api/entities/corpgroup/corpgroup.py
Labels: ingestion, docs

#7747 fix(TestResults UI):show non-failing TestResult
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/TestResults.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/TestResultsSummary.tsx
Labels: product

#7699 fix(ingest/bigquery): fix and refractor exported audit logs query
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#7749 fix(ingest/demo-data): fix bug in path type
  metadata-ingestion/src/datahub/ingestion/source/demo_data.py
Labels: ingestion

#7754 fix(auto-complete) Pass in views to auto-complete endpoint for filtering
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/AutoCompleteForMultipleResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/AutocompleteUtils.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/AutoCompleteForMultipleResolverTest.java
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/extensions/mentions/MentionsComponent.tsx
  datahub-web-react/src/app/home/HomePageHeader.tsx
  datahub-web-react/src/app/search/SearchablePage.tsx
  datahub-web-react/src/app/search/autoComplete/quickFilters/QuickFilters.tsx
  datahub-web-react/src/providers/QuickFiltersProvider.tsx
Labels: product

#7755 fix(ingest/dbt-cloud): use correct dbt cloud IDE urls
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
Labels: ingestion

#7756 docs(ingest/lookml): update error message for Looker connection fetch
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Labels: ingestion

#7729 docs(docker): fix typo in README.md
  docker/README.md
Labels: devops

#7713 feat: add docs on windows compatibility
  docs/developers.md
Labels: docs

#7715 feat: make demo site accessible directly from navbar
  README.md
  docs-website/docusaurus.config.js
  docs-website/generateDocsDir.ts
  docs-website/sidebars.js
  docs-website/src/pages/_components/Hero/index.js
  docs/demo.md
Labels: docs

#7762 fix(ingest/bigquery) - Lineage edges use datetime with timezone
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/tests/unit/test_bigquery_lineage.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#7765 fix(ingest/redshift): Fixing adding back db name in redshift urn
  metadata-ingestion/src/datahub/ingestion/source/sql/redshift.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#7764 ci: limit qodana concurrency to group
  .github/workflows/qodana-scan.yml
Labels: devops

#7772 fix(ingest/bigquery): Raise report_failure threshold; add robustness around table parsing
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#7761 feat(config): allow hooks to be enabled/disabled
  metadata-jobs/mae-consumer-job/src/main/java/com/linkedin/metadata/kafka/MaeConsumerApplication.java
  metadata-jobs/mae-consumer/build.gradle
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeLogProcessor.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/ingestion/IngestionSchedulerHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/siblings/SiblingAssociationHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHookTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/ingestion/IngestionSchedulerHookTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/siblings/SiblingAssociationHookTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLSpringTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLSpringTestConfiguration.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/ingestion/IngestionSchedulerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchIndexBuilderFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchServiceFactory.java
  metadata-service/factories/src/main/resources/application.yml
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/search/ElasticSearchBulkProcessorFactoryTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/search/ElasticSearchIndexBuilderFactoryEmptyTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/search/ElasticSearchIndexBuilderFactoryOverridesTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/search/ElasticSearchIndexBuilderFactoryTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/secret/SecretServiceFactoryTest.java
Labels: devops

#7663 fix(ingest/bigquery): Support cross project usage using FileBackedDict
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/performance/bigquery.py
  metadata-ingestion/tests/performance/data_generation.py
  metadata-ingestion/tests/performance/test_bigquery_usage.py
  metadata-ingestion/tests/unit/test_bigquery_usage.py
  metadata-ingestion/tests/unit/test_usage_common.py
Labels: ingestion

#7758 fix(ingest/snowflake): fix incorrect tag urn case, improve tag display name
  metadata-ingestion/docs/sources/snowflake/snowflake_pre.md
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
Labels: ingestion

#7736 feat(ingestion/okta): okta stateful ingestion
  metadata-ingestion/src/datahub/ingestion/source/identity/azure_ad.py
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/tests/integration/okta/okta_deleted_groups.json
  metadata-ingestion/tests/integration/okta/test_okta.py
Labels: ingestion

#7745 feat(docs): refactor guide on graphql
  .pre-commit-config.yaml
  docs-website/sidebars.js
  docs/api/datahub-apis.md
  docs/api/graphql/getting-started.md
  docs/api/graphql/how-to-set-up-graphql.md
  docs/api/graphql/overview.md
  docs/api/graphql/querying-entities.md
  docs/api/graphql/token-management.md
  docs/api/tutorials/adding-column-description.md
  docs/api/tutorials/adding-dataset-description.md
  docs/api/tutorials/adding-domain.md
  docs/api/tutorials/adding-lineage.md
  docs/api/tutorials/adding-ownerships.md
  docs/api/tutorials/adding-tags.md
  docs/api/tutorials/adding-terms.md
  docs/api/tutorials/creating-datasets.md
  docs/api/tutorials/creating-domain.md
  docs/api/tutorials/creating-tags.md
  docs/api/tutorials/creating-terms.md
  docs/api/tutorials/creating-users-and-groups.md
  docs/api/tutorials/deleting-entities-by-urn.md
  docs/api/tutorials/reading-deprecation.md
  docs/api/tutorials/reading-domains.md
  docs/api/tutorials/reading-owners.md
  docs/api/tutorials/reading-tags.md
  docs/api/tutorials/reading-terms.md
  docs/api/tutorials/references/generate-access-token.md
  docs/api/tutorials/references/prepare-datahub.md
  docs/api/tutorials/removing-domains.md
  docs/api/tutorials/removing-owners.md
  docs/api/tutorials/removing-tags.md
  docs/api/tutorials/removing-terms.md
  docs/api/tutorials/update-deprecation.md
  docs/glossary/business-glossary.md
  docs/imgs/apis/postman-graphql.png
  docs/imgs/apis/tutorials/deprecation-updated.png
  docs/imgs/apis/tutorials/domain-created.png
  docs/imgs/apis/tutorials/domain-removed.png
  docs/imgs/apis/tutorials/owner-removed.png
  docs/imgs/apis/tutorials/tag-removed.png
  docs/imgs/apis/tutorials/term-removed.png
  docs/tags.md
  metadata-ingestion/examples/library/create_domain.py
Labels: ingestion, docs

#7759 fix(docs): replaced outdated docs command for building breaking changes of the metadata model
  docs/how/add-new-aspect.md
  docs/modeling/extending-the-metadata-model.md
Labels: docs

#7742 doc(cli): fix get cli example
  docs/cli.md
Labels: docs

#7779 fix(ingest/snowflake): fix tags without lineage query, remove comma
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
Labels: ingestion

#7785 fix(ui): Fix tags display name + color in UI for autocomplete, search preview, entity profile
  datahub-web-react/src/app/entity/tag/Tag.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/search.graphql
Labels: product

#7782 fix(ui) Fix tags and terms columns on nested schema fields
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/useTagsAndTermsRenderer.tsx
Labels: product

#7787 chore(ingest): cleanup unused fields in bigquery/snowflake
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/src/datahub/ingestion/source_report/sql/snowflake.py
Labels: ingestion

#7780 docs(managed datahub): release notes for v0.2.5
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_5.md
Labels: docs

#7788 (build) Upgrade json-smart dependency to 2.4.9
  build.gradle
Labels: release-0.10.2

#7561 feat(ingest/tableau): extract lineage from csql queries
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_constant.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion

#7793 build: Use external dependency to set jsonSmart version in frontend build file
  datahub-frontend/play.gradle
Labels: product

#7795 fix(snakeyaml): cve-2022-1471 upgrade
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/kafka-setup/Dockerfile
Labels: devops, release-0.10.2

#7800 fix(ingest/bigquery): Fix lineage / usage table ref checks
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#7797 config(ingest/bigquery): Default lineage_use_sql_parser to true; update description
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
Labels: ingestion

#7792 test(ingest/bigquery): Add sql parser xfail test to fix late
  metadata-ingestion/tests/unit/test_bigquery_sql_parser.py
Labels: ingestion

#7753 feat(sdk): support executing graphql via DataHubGraph
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/tests/unit/stateful_ingestion/test_configs.py
Labels: ingestion

#7670 doc(ingestion): powerbi quick ingestion guide
  docs-website/sidebars.js
  docs/quick-ingestion-guides/powerbi/configuration.md
  docs/quick-ingestion-guides/powerbi/overview.md
  docs/quick-ingestion-guides/powerbi/setup.md
Labels: docs

#7804 feat(search): allow longer customProperties
  entity-registry/src/main/java/com/linkedin/metadata/models/extractor/FieldExtractor.java
  metadata-io/src/main/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformer.java
  metadata-io/src/test/java/com/linkedin/metadata/TestEntityUtil.java
  metadata-io/src/test/java/com/linkedin/metadata/extractor/FieldExtractorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformerTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHookTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/SearchDocumentTransformerFactory.java
  metadata-service/factories/src/main/resources/application.yml
Labels: product, devops

#7744 fix(docs): Timeline API examples: should be owner, not ownership
  docs/dev-guides/timeline.md
  smoke-test/test_resources/timeline/test_timeline_ownership.sh
Labels: docs, smoke_test, release-0.10.2

#7752 feat(upgrade): add gms protocol variable
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/common/steps/GMSQualificationStep.java
  docker/datahub-upgrade/README.md
Labels: devops, release-0.10.2

#7801 feat(ingest/unity): support extracting ownership
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
Labels: ingestion

#7786 chore(snakeyaml): upgrade to snakeyaml 2
  .github/workflows/spark-smoke-test.yml
  build.gradle
  datahub-upgrade/build.gradle
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-protobuf/build.gradle
  metadata-integration/java/spark-lineage/build.gradle
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/ingestion/IngestionSchedulerHookTest.java
  metadata-jobs/mce-consumer-job/build.gradle
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/IngestDataPlatformInstancesStepTest.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/IngestDefaultGlobalSettingsStepTest.java
Labels: devops, release-0.10.2

#7641 servlet(config): add search configuration endpoint
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
  metadata-service/servlet/src/main/java/com/datahub/gms/util/CSVWriter.java
  metadata-service/war/src/main/webapp/WEB-INF/web.xml
Labels: devops, release-0.10.2

#7798 feat(ingest/lookml): correctly handle include directives from imported projects
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Labels: ingestion

#7796 fix(ui): Fix subtle initial redirect bug
  datahub-web-react/src/app/context/useInitialRedirect.ts
Labels: product

#7812 feat(ingest): Track disk usage in report
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
Labels: ingestion

#7815 fix(ingest/redshift) - Remove pg_user table from metadata queries
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
Labels: ingestion

#7814 fix(ingest/bigquery): Add to lineage, not overwrite, when using sql parser
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
Labels: ingestion

#7820 fix(ingest/bigquery): Enable lineage and usage ingestion without tables
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
Labels: ingestion

#7823 fix(ingest/bigquery): Do not query columns when not ingesting tables or views
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
Labels: ingestion

#7811 fix(ingest/bigquery): update usage query, remove erroneous init
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#7827 fix(ingest/bigquery): Handle null values from usage aggregation
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/tests/unit/test_bigquery_usage.py
Labels: ingestion

#7825 perf(ingest/bigquery): Improve bigquery usage disk usage and speed
  metadata-ingestion/setup.cfg
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/performance/README.md
  metadata-ingestion/tests/performance/data_generation.py
  metadata-ingestion/tests/performance/test_bigquery_usage.py
  metadata-ingestion/tests/unit/test_bigquery_usage.py
Labels: ingestion

#7826 fix(cli): use correct ingestion image in script
  metadata-ingestion/scripts/datahub_docker.sh
Labels: ingestion

#7828 fix(release): prevent republish of images on release edits
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/docker-ingestion-base.yml
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-ingestion.yml
  .github/workflows/docker-postgres-setup.yml
  .github/workflows/docker-unified.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-model.yml
  .github/workflows/spark-smoke-test.yml
Labels: devops

#7818 feat(): finish populating the entity registry
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/tests/unit/test_codegen.py
  metadata-models/src/main/resources/entity-registry.yml
Labels: ingestion

#7824 fix(ui) Fix 404 page routing bug
  datahub-web-react/src/app/SearchRoutes.tsx
Labels: product

#7817 feat(ui): Support PowerBI Ingestion via UI form
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/powerbi.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
Labels: product

#7834 fix(ingest/snowflake): fix column name in snowflake optimised lineage
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
Labels: ingestion

#7819 feat(ingest/unity): capture create/lastModified timestamps
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
Labels: ingestion

#7829 fix(test): fix spark lineage test
  .github/workflows/spark-smoke-test.yml
  datahub-web-react/build.gradle
Labels: ingestion, devops

#7839 feat(cli): improve quickstart stability
  metadata-ingestion/src/datahub/cli/docker_check.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion

#7840 feat(timeseries): Support sorting timeseries aspects by non-timestampMillis field + fix operations resolver
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/AssertionRunEventResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dashboard/DashboardUsageStatsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dashboard/DashboardUsageStatsUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/TimeSeriesAspectResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/assertion/AssertionRunEventResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/dashboard/DashboardStatsSummaryTest.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/TimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectServiceTest.java
  metadata-service/restli-api/src/main/idl/com.linkedin.entity.aspects.restspec.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
Labels: product, devops

#7808 doc(ingestion/tableau): Fix rendering ingestion quickstart guide
  docs/quick-ingestion-guides/powerbi/configuration.md
  docs/quick-ingestion-guides/powerbi/setup.md
  docs/quick-ingestion-guides/tableau/configuration.md
  docs/quick-ingestion-guides/tableau/setup.md
Labels: docs

#7847 fix(ingest): pin sqlparse version
  metadata-ingestion/setup.py
Labels: ingestion

#7777 feat: enriching guide on creating dataset
  docs/api/datahub-apis.md
  docs/api/tutorials/adding-lineage.md
  docs/api/tutorials/creating-datasets.md
  docs/imgs/apis/tutorials/custom-properties-added.png
  metadata-ingestion/examples/library/lineage_emitter_rest.py
Labels: ingestion, docs

#7838 fix(ingest/salesforce): use report timestamp for operations
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/tests/integration/salesforce/salesforce_mces_golden.json
Labels: ingestion

#7863 chore(ci): fix CI failing due to lint
  metadata-ingestion/developing.md
  metadata-ingestion/examples/library/dataset_add_column_documentation.py
Labels: ingestion

#7860 fix(mcl): fix improper pass by reference
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
Labels: product

#7859 feat(urn) Add validator to reject URNs which contain the character we plan to u…
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
Labels: product

#7799 feat(elasticsearch): Add servlet which provides an endpoint for a healthcheck on the ES cl…
  metadata-service/health-servlet/build.gradle
  metadata-service/health-servlet/src/main/java/com/datahub/health/config/SpringWebConfig.java
  metadata-service/health-servlet/src/main/java/com/datahub/health/controller/HealthCheckController.java
  metadata-service/war/build.gradle
  metadata-service/war/src/main/webapp/WEB-INF/healthServlet-servlet.xml
  metadata-service/war/src/main/webapp/WEB-INF/web.xml
  settings.gradle
Labels: devops

#7845 fix(ui) Add UI fixes and design tweaks to AutoComplete
  datahub-web-react/src/app/home/HomePageHeader.tsx
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/app/search/autoComplete/AutoCompleteEntity.tsx
  datahub-web-react/src/app/search/autoComplete/AutoCompleteItem.tsx
  datahub-web-react/src/app/search/autoComplete/SectionHeader.tsx
  datahub-web-react/src/app/search/autoComplete/quickFilters/QuickFilter.tsx
  datahub-web-react/src/app/search/autoComplete/quickFilters/utils.tsx
  datahub-web-react/src/app/search/autoComplete/utils.ts
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlySearchedSource.java
Labels: product

#7849 fix(ui) Get all entity assertions in chrome extension
  datahub-web-react/src/graphql/search.graphql
Labels: product

#7527 chore(ui): change background color to transparent for avatar with photoUrl
  datahub-web-react/src/app/shared/avatar/CustomAvatar.tsx
Labels: product, release-0.10.3

#7851 refactor(ingest): Add helper DataHubGraph methods
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/cli/state_cli.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion

#7867 fix(ui) Disable cache on Domain and Glossary Related Entities pages
  datahub-web-react/src/app/entity/domain/DomainEntitiesTab.tsx
  datahub-web-react/src/app/entity/glossaryTerm/profile/GlossaryRelatedEntity.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchSection.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/EntityProfile.tsx
  datahub-web-react/src/app/glossary/GlossaryRoutes.tsx
Labels: product

#7870 docs(ingest): update dbt and aws docs
  metadata-ingestion/docs/sources/dbt/README.md
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
Labels: ingestion

#7816 docs(ingest): fix CorpGroup example
  metadata-ingestion/examples/library/upsert_group.py
Labels: ingestion

#7835 docs(ingest/powerbi): update workspace concept mapping
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
Labels: ingestion

#7519 feat(ingest/powerbi): support modified_since, extract_dataset_schema and many more
  metadata-ingestion/docs/sources/powerbi/powerbi_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
  metadata-ingestion/tests/integration/powerbi/test_admin_only_api.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
  metadata-ingestion/tests/integration/powerbi/test_stateful_ingestion.py
Labels: ingestion

#7639 feat(glue): allow resource links to be ignored
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/test_glue_source.py
  metadata-ingestion/tests/unit/test_glue_source_stubs.py
Labels: ingestion

#7869 feat(ingest/unity): Ingest ownership for containers; lookup service principal display names
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
Labels: ingestion

#7884 Logging and test models fixes
  build.gradle
  datahub-upgrade/build.gradle
  entity-registry/src/test/java/com/linkedin/metadata/models/EntitySpecBuilderTest.java
  metadata-integration/java/datahub-client/build.gradle
  metadata-io/build.gradle
  metadata-io/src/test/java/com/linkedin/metadata/ESTestConfiguration.java
  metadata-io/src/test/java/com/linkedin/metadata/TestEntityUtil.java
  metadata-io/src/test/resources/logback-test.xml
  metadata-jobs/mae-consumer/build.gradle
  metadata-jobs/pe-consumer/build.gradle
  metadata-service/war/build.gradle
  test-models/src/main/pegasus/com/datahub/test/TestBrowsePaths.pdl
  test-models/src/main/pegasus/com/datahub/test/TestEntityAspect.pdl
  test-models/src/main/pegasus/com/datahub/test/testing/PizzaSearchDocument.pdl
Labels: ingestion, product, devops

#7883 bug(7882): run kafka-configs.sh on DataHubUpgradeHistory_v1 to make sure the retention.ms is set to infinite
  docker/kafka-setup/kafka-setup.sh
Labels: devops

#7862 fix: refactor toc
  docs-website/sidebars.js
  docs-website/src/pages/docs/index.js
  docs-website/src/styles/global.scss
  docs/enrich-metadata.md
  docs/get-started-with-datahub.md
  docs/quickstart.md
  docs/saas.md
  docs/troubleshooting/build.md
  docs/troubleshooting/general.md
  docs/troubleshooting/quickstart.md
  metadata-ingestion/README.md
Labels: ingestion, docs

#7896 feat(cli): Modifies ingest-sample-data command to use DataHub url & token based on config
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion

#7864 fix(ingestion/tableau): backward compatibility with version 2021.1 an…
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/tests/integration/tableau/setup/customSQLTablesConnection_all.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesConnection_all.json
  metadata-ingestion/tests/integration/tableau/setup/sheetsConnection_all.json
  metadata-ingestion/tests/integration/tableau/setup/workbooksConnection_all.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion

#7872 fix(ingest/dbt): ensure dbt shows view properties
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
Labels: ingestion

#7885 docs(airflow): add debug guide on url generation
  docs/lineage/airflow.md
Labels: docs

#7894 fix(ingest/snowflake): fix optimised lineage query, filter temporary …
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
Labels: ingestion

#7843 fix(ingest/bigquery): fix handling of time decorator offset queries
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#7861 fix(ingest): fix minor bug + protective dep requirements
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
Labels: ingestion

#7886 fix(cli): remove duplicate labels from quickstart files
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.monitoring.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  docker/quickstart/generate_and_compare.sh
  docker/quickstart/generate_docker_quickstart.py
  docker/quickstart/generate_docker_quickstart.sh
Labels: devops

#7899 Revert "feat(cli): Modifies ingest-sample-data command to use DataHub…
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion

#7905 feat(sdk): add `DataHubGraph.get_entity_semityped` method
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion

#7888 [bugfix] Fix remote file ingestion for Windows
  metadata-ingestion/src/datahub/configuration/config_loader.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
Labels: ingestion

#7918 fix(platforms): fix json parse exception for data platforms
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: devops

#7922 docs(release): managed DataHub 0.2.6
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_6.md
Labels: docs

#7909 fix(deploy): add missing plugin files for mysql-client library in mysql-setup
  docker/mysql-setup/Dockerfile
Labels: devops

#7906 docs(deploy): document some of the environment variables
  docs-website/sidebars.js
  docs/deploy/environment-vars.md
Labels: docs

#7927 fix(system-update): fix no wait flag
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/factories/BootstrapManagerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/DataHubUpgradeKafkaListener.java
Labels: devops
