Repository datahub-project/datahub, pull requests merged in 2023-12, with the labels that each got.

#9286 feat(ingest): clean up DataHubRestEmitter return type
  datahub-web-react/src/app/onboarding/config/HomePageOnboardingConfig.tsx
  docs/how/updating-datahub.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/hooks/datahub.py
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_airflow.py
  metadata-ingestion/src/datahub/emitter/generic_emitter.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/test_helpers/graph_helpers.py
  metadata-ingestion/tests/unit/test_rest_emitter.py
Labels: ingestion, product, merge-pending-ci

#9348 docs(ingest/lookml): clarify that ssh key has no passphrase
  docs/quick-ingestion-guides/looker/setup.md
  metadata-ingestion/docs/sources/looker/lookml_pre.md
  metadata-ingestion/src/datahub/configuration/git.py
Labels: ingestion, docs

#9317 fix(migrate): connect with token without dry-run
  metadata-ingestion/src/datahub/cli/migrate.py
Labels: ingestion

#9364 fix(ui): Minor: fix unnecessary lineage tab scroll by removing -1 margin on lists
  datahub-web-react/src/app/entity/shared/tabs/Entity/components/EntityList.tsx
  datahub-web-react/src/app/recommendations/renderer/component/EntityNameList.tsx
Labels: product

#9346 docs: add setup instructions for mac dependencies
  docs/developers.md
Labels: docs, merge-pending-ci

#9362 feat(ui): Add caching to search, entity profile for better UX
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchResults.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityTabs.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/useGetDataForProfile.ts
  datahub-web-react/src/app/entity/shared/tabs/Lineage/generateUseSearchResultsViaRelationshipHook.ts
  datahub-web-react/src/app/search/SearchPage.tsx
  datahub-web-react/src/app/search/SearchResultList.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
  datahub-web-react/src/app/search/SearchResultsLoadingSection.tsx
  datahub-web-react/src/app/search/__tests__/SearchPage.test.tsx
  datahub-web-react/src/app/search/filters/BasicFilters.tsx
  datahub-web-react/src/app/search/filters/BasicFiltersLoadingSection.tsx
  datahub-web-react/src/app/search/filters/SearchFilters.tsx
Labels: product

#9363 refactor(ui): Remove primary color for sort selector + add t…
  datahub-web-react/src/app/search/context/constants.ts
  datahub-web-react/src/app/search/sorting/SearchSortSelect.tsx
Labels: product

#9361 feat(ui): Supporting subtypes for data jobs
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/SubTypesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/ChartType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/mappers/ChartMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/SubTypesMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/container/mappers/ContainerMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datajob/DataJobType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datajob/mappers/DataJobMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/DatasetType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entity/dataJob/preview/Preview.tsx
  datahub-web-react/src/graphql/browse.graphql
  datahub-web-react/src/graphql/dataProcess.graphql
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/lineage.graphql
  datahub-web-react/src/graphql/preview.graphql
  datahub-web-react/src/graphql/scroll.graphql
  datahub-web-react/src/graphql/search.graphql
  metadata-models/src/main/resources/entity-registry.yml
Labels: product

#9341 fix(ingest/bigquery): Fix format arguments for table lineage test (#9340)
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
Labels: ingestion, merge-pending-ci

#9375 fix: node-fetch forwards secure headers to untrusted sites
  datahub-web-react/package.json
  datahub-web-react/yarn.lock
Labels: product

#9360 fix(ingest/powerbi): Allow old parser to parse [db].[schema].[table] table references
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/tests/unit/test_powerbi_parser.py
Labels: ingestion

#9359 feat(ingest): support stdin in `datahub put`
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/cli/put_cli.py
  metadata-ingestion/src/datahub/cli/specific/file_loader.py
  metadata-ingestion/src/datahub/configuration/config_loader.py
  metadata-ingestion/src/datahub/configuration/json_loader.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
  metadata-ingestion/tests/unit/config/test_config_loader.py
Labels: ingestion

#9377 fix(ingest): resolve issue with caplog and asyncio
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/unit/api/source_helpers/test_source_helpers.py
  metadata-ingestion/tests/unit/utilities/test_perf_timer.py
Labels: ingestion

#9354 feat(ingest/athena): Enable Athena view ingestion and view lineage
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
Labels: ingestion

#9388 fix(elasticsearch): set datahub usage events shard & replica count
  docker/elasticsearch-setup/create-indices.sh
  metadata-service/restli-servlet-impl/src/main/resources/index/usage-event/aws_es_index_template.json
  metadata-service/restli-servlet-impl/src/main/resources/index/usage-event/index_template.json
Labels: devops

#9369 feat(gms/search): Adding support for DOUBLE Searchable type
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/SearchableAnnotation.java
  entity-registry/src/test/java/com/linkedin/metadata/models/EntitySpecBuilderTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/MappingsBuilderTest.java
  test-models/src/main/pegasus/com/datahub/test/TestEntityInfo.pdl
Labels: product

#9387 feat(ci): split no cypress test suite
  .github/workflows/docker-unified.yml
  smoke-test/smoke.sh
  smoke-test/test_e2e.py
  smoke-test/tests/privileges/test_privileges.py
  smoke-test/tests/timeline/timeline_test.py
Labels: devops, smoke_test

#9394 fix(ingest/redshift): too many values unpack
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
Labels: ingestion, merge-pending-ci

#9395 fix(ingest/redshift): Fix psycopg2 removal from Redshift Source
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
Labels: ingestion

#9204 fix(ui): fixed font src spelling mistake
  datahub-web-react/src/App.less
Labels: community-contribution, product

#9242 feat(ui/last-updated): Calculate last updated time as max(properties time, operation time)
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapperTest.java
  datahub-web-react/package.json
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/dataset/profile/stats/stats/DatasetStatsSummarySubHeader.tsx
  datahub-web-react/src/app/entity/dataset/shared/utils.ts
  datahub-web-react/src/app/search/autoComplete/AutoCompleteTooltipContent.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/search.graphql
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
  metadata-ingestion/tests/unit/serde/test_serde.py
  metadata-service/openapi-entity-servlet/build.gradle
Labels: ingestion, product

#9385 fix(json-schema): take into account environment
  metadata-ingestion/src/datahub/ingestion/source/schema/json_schema.py
Labels: ingestion, poc-marathon-dec-2023

#9215 feat(datahub-frontend): make Java memory options configurable via ENV variable
  docker/datahub-frontend/start.sh
Labels: community-contribution, product, devops, poc-marathon-dec-2023

#9406 docs(ingest/sql-queries): Add documentation
  metadata-ingestion/docs/sources/sql-queries/sql-queries.md
  metadata-ingestion/docs/sources/sql-queries/sql-queries_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/sql_queries.py
Labels: ingestion

#9407 fix(ingest/profiling): Add back db_name to sql_generic_profiler methods
  metadata-ingestion/src/datahub/ingestion/source/redshift/profile.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
Labels: ingestion

#9382 feat(observability): add actor urn to GraphQL spans
  metadata-service/graphql-servlet-impl/build.gradle
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/GraphQLController.java
Labels: devops, poc-marathon-dec-2023

#9378 fix(ingest/lookml): make deploy key optional
  metadata-ingestion/src/datahub/configuration/git.py
  metadata-ingestion/src/datahub/ingestion/source/git/git_import.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/git/test_git_clone.py
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion

#9391 fix(ingest): fix metadata for custom python packages
  docs/modeling/extending-the-metadata-model.md
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/scripts/custom_package_codegen.py
  metadata-ingestion/src/datahub/_codegen/__init__.py
  metadata-ingestion/src/datahub/_codegen/aspect.py
Labels: ingestion

#9422 fix(ingest): bug fixes and docs updates
  docs/modeling/extending-the-metadata-model.md
  metadata-ingestion/build.gradle
  metadata-ingestion/scripts/custom_package_codegen.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  node_modules/.yarn-integrity
  yarn.lock
Labels: ingestion, docs, merge-pending-ci

#9421 Pin alpine base image version to 3.18
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/elasticsearch-setup/Dockerfile
  docker/mysql-setup/Dockerfile
  docker/postgres-setup/Dockerfile
Labels: devops, merge-pending-ci

#9410 fix(cypress) Fix flakiness of cypress test for glossary navigation
  datahub-web-react/src/app/entity/shared/EntityDropdown/useDeleteEntity.tsx
  datahub-web-react/src/app/glossary/cacheUtils.ts
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary_navigation.js
Labels: smoke_test

#9418 fix(ingest/transformer): correct registration
  metadata-ingestion/setup.py
Labels: ingestion

#9426 docs(ingest/sql-queries): Rearrange sections
  metadata-ingestion/docs/sources/sql-queries/sql-queries_pre.md
  metadata-ingestion/src/datahub/ingestion/source/sql_queries.py
Labels: ingestion

#9408 feat(patch): support fine grained lineage patches
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/dataset/UpstreamLineageTemplate.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/UpstreamLineageTemplateTest.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-ingestion/src/datahub/specific/dataset.py
  metadata-ingestion/tests/unit/patch/complex_dataset_patch.json
  metadata-ingestion/tests/unit/patch/test_patch_builder.py
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/dataset/UpstreamLineagePatchBuilder.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/patch/PatchTest.java
Labels: ingestion

#9417 fix(json-schema): do not send invalid URLs
  metadata-ingestion/src/datahub/ingestion/source/schema/json_schema.py
Labels: ingestion

#9446 fix(ingest/profiling) Fixing profile eligibility check
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
Labels: ingestion

#9447 fix(ingest): avoid git dependency in dbt
  metadata-ingestion/src/datahub/configuration/git.py
Labels: ingestion

#9437 feat(ingest): add retries for tableau
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#9441 docs(updating-datahub): update docs for v0.12.1
  docs/how/updating-datahub.md
Labels: docs

#9386 feat: Allow specifying Data Product URN via UI
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandler.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/CreateDataProductResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/domain/DataProductsTab/CreateDataProductModal.tsx
  datahub-web-react/src/app/entity/domain/DataProductsTab/DataProductAdvancedOption.tsx
  datahub-web-react/src/app/entity/domain/DataProductsTab/DataProductBuilderForm.tsx
  datahub-web-react/src/app/entity/domain/DataProductsTab/types.ts
  metadata-service/services/src/main/java/com/linkedin/metadata/service/DataProductService.java
  smoke-test/tests/privileges/test_privileges.py
Labels: product

#9452 Add button to copy urn of an Ownership Type
  datahub-web-react/src/app/entity/ownership/table/ActionsColumn.tsx
Labels: product, merge-pending-ci

#9411 docs(ingest/tableau): add token to sink config in sample recipe
  metadata-ingestion/examples/recipes/tableau_to_datahub.dhub.yaml
Labels: ingestion, merge-pending-ci

#9445 feat(glossary): add ability to clone glossary term(name and documentation) from term profile menu
  datahub-web-react/src/app/entity/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/CreateGlossaryEntityModal.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entity/shared/types.ts
Labels: product

#9370 feat(ingestion): Add typeUrn handling to ownership transformers
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_ownership.py
  metadata-ingestion/tests/unit/test_pipeline.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion, poc-marathon-dec-2023

#9436 fix(ingest): reduce GraphQL Logs to warning for circuit breaker
  metadata-ingestion/src/datahub/api/circuit_breaker/__init__.py
Labels: ingestion, merge-pending-ci

#9442 fix: support Apollo caching for settings / Policies
  datahub-web-react/src/app/permissions/policy/ManagePolicies.tsx
  datahub-web-react/src/app/permissions/policy/_tests_/policyUtils.test.tsx
  datahub-web-react/src/app/permissions/policy/policyUtils.ts
  datahub-web-react/src/app/permissions/policy/usePolicy.ts
Labels: product

#9456 refactor | PRD-785 | datahub oss: migrate use of useGetAuthenticatedU…
  datahub-web-react/src/app/AdminConsole.tsx
  datahub-web-react/src/app/embed/EmbeddedPage.tsx
Labels: product

#9420 refactor(ui): Minor improvements & refactoring
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchResults.tsx
  datahub-web-react/src/app/lineage/LineageLoadingSection.tsx
  datahub-web-react/src/graphql/domain.graphql
  datahub-web-react/src/graphql/lineage.graphql
  datahub-web-react/src/graphql/query.graphql
  metadata-models/src/main/pegasus/com/linkedin/query/QueryProperties.pdl
Labels: product

#9300 feat(ingest): add ingest `--no-progress` option
  docs/cli.md
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
Labels: ingestion, docs, merge-pending-ci

#9405 fix(powerbi): add access token refresh
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion, merge-pending-ci

#9462 fix | PRD-463 | Stop trying to ping the track endpoint on login home …
  datahub-web-react/src/app/analytics/analytics.ts
Labels: product, merge-pending-ci

#9416 feat(ingest/unity): enable hive metastore ingestion
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/source_registry.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/hive_metastore_proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
  metadata-ingestion/tests/unit/test_unity_catalog_config.py
Labels: ingestion

#9076 feat(ingestion/transformer): create tag if not exist
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_tags.py
  metadata-ingestion/src/datahub/ingestion/transformer/base_transformer.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: hacktoberfest-accepted, ingestion

#9334 feat(ingestion): Add test_connection methods for important sources
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
  metadata-ingestion/tests/integration/kafka/test_kafka.py
  metadata-ingestion/tests/integration/mysql/test_mysql.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/test_helpers/test_connection_helpers.py
  metadata-ingestion/tests/unit/test_snowflake_source.py
  metadata-ingestion/tests/unit/test_sql_common.py
Labels: ingestion

#9427 docs: fix sample command for container logs
  docs/how/extract-container-logs.md
Labels: docs, merge-pending-ci

#9463 fix(ingest/profiling): Add option to enable external table profiling
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/profile.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
  metadata-ingestion/tests/integration/snowflake/common.py
Labels: ingestion, merge-pending-ci

#9450 fix(operations): fix get index sizes integer wrap
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceUnitTest.java
  metadata-models/src/main/pegasus/com/linkedin/timeseries/TimeseriesIndexSizeResult.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
Labels: product

#9440 feat(ingest/redshift): drop repeated operations
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/report.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/usage.py
  metadata-ingestion/tests/integration/redshift-usage/test_redshift_usage.py
Labels: ingestion

#9396 feat: Deprecation 'Note' changed to Markdown Renderable
  datahub-web-react/src/app/entity/shared/EntityDropdown/UpdateDeprecationModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/DeprecationPill.tsx
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: product

#9455 feat : markdown support for group description
  datahub-web-react/src/app/entity/group/EditGroupDescriptionModal.tsx
  datahub-web-react/src/app/entity/group/GroupInfoSideBar.tsx
  datahub-web-react/src/app/identity/group/CreateGroupModal.tsx
  smoke-test/tests/cypress/cypress/e2e/settings/managing_groups.js
Labels: product

#9466 feat(ingest): enable CLL for dbt by default
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
Labels: ingestion

#9443 fix(ingest/snowflake) - Fixing snowflake url with default region
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/sql_server/test_sql_server.py
  metadata-ingestion/tests/unit/test_snowflake_source.py
Labels: ingestion

#9479 Fix downstream CI issue
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/build.gradle
Labels: devops

#9434 feat(ingest): pydantic v2 compatibility
  .github/workflows/airflow-plugin.yml
  metadata-ingestion-modules/airflow-plugin/tox.ini
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/api/entities/datacontract/assertion.py
  metadata-ingestion/src/datahub/api/entities/datacontract/assertion_operator.py
  metadata-ingestion/src/datahub/api/entities/datacontract/data_quality_assertion.py
  metadata-ingestion/src/datahub/api/entities/datacontract/datacontract.py
  metadata-ingestion/src/datahub/api/entities/datacontract/freshness_assertion.py
  metadata-ingestion/src/datahub/api/entities/datacontract/schema_assertion.py
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/configuration/datetimes.py
  metadata-ingestion/src/datahub/configuration/pydantic_migration_helpers.py
  metadata-ingestion/src/datahub/configuration/time_window_config.py
  metadata-ingestion/src/datahub/configuration/validate_field_rename.py
  metadata-ingestion/src/datahub/ingestion/glossary/datahub_classifier.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/src/datahub/utilities/urns/urn_iter.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/unit/config/test_allow_deny.py
  metadata-ingestion/tests/unit/config/test_config_clean.py
  metadata-ingestion/tests/unit/config/test_config_model.py
  metadata-ingestion/tests/unit/config/test_pydantic_validators.py
  metadata-ingestion/tests/unit/config/test_time_window_config.py
Labels: ingestion, merge-pending-ci

#9376 feat(gms): Add support for platform-based browse
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/chart/BrowseV2Resolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/browse/BrowseV2ResolverTest.java
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESBrowseDAO.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
Labels: product, devops

#9474 Searching for users on Users page shows incorrect roles: Issue resolved
  datahub-web-react/src/app/identity/user/UserList.tsx
Labels: product

#9481 fix(ingest/redshift: Fixing operation query to not return duplicate operations
  metadata-ingestion/src/datahub/ingestion/source/redshift/usage.py
Labels: ingestion

#9404 Fade recipe section to transparent on Ingestion Run Details
  datahub-web-react/src/app/ingest/source/executions/ExecutionRequestDetailsModal.tsx
Labels: product

#9480 Allow message_name field for protobuf ingestion
  metadata-integration/java/datahub-protobuf/build.gradle
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/Proto2DataHub.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/ProtobufDatasetTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/ProtobufUtilsTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/model/ProtobufEnumTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/model/ProtobufFieldTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/model/ProtobufGraphTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/model/ProtobufMessageTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/model/ProtobufOneOfFieldTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/VisitContextTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/dataset/DatasetVisitorTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/dataset/DescriptionVisitorTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/dataset/DomainVisitorTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/dataset/InstitutionalMemoryVisitorTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/dataset/KafkaTopicPropertyVisitorTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/dataset/OwnershipVisitorTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/dataset/PropertyVisitorTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/dataset/TermAssociationVisitorTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/field/ProtobufExtensionFieldVisitorTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/field/SchemaFieldVisitorTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/tag/TagVisitorTest.java
Labels: ingestion

#9478 feat(docker-compose): consolidate docker-compose profiles
  build.gradle
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/NoCodeCleanupConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/NoCodeUpgradeConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/RestoreBackupConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/RestoreIndicesConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocode/NoCodeUpgrade.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocodecleanup/NoCodeCleanupUpgrade.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restorebackup/RestoreBackup.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/RestoreIndices.java
  docker/build.gradle
  docker/profiles/README.md
  docker/profiles/cassandra
  docker/profiles/datahub-actions
  docker/profiles/datahub-frontend
  docker/profiles/datahub-gms
  docker/profiles/datahub-mae-consumer
  docker/profiles/datahub-mce-consumer
  docker/profiles/datahub-upgrade
  docker/profiles/docker-compose.actions.yml
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/profiles/docker-compose.prerequisites.yml
  docker/profiles/docker-compose.yml
  docker/profiles/elasticsearch
  docker/profiles/elasticsearch-setup
  docker/profiles/kafka-broker
  docker/profiles/kafka-setup
  docker/profiles/monitoring
  docker/profiles/mysql
  docker/profiles/mysql-setup
  docker/profiles/neo4j
  docker/profiles/postgres
  docker/profiles/postgres-setup
Labels: devops

#9232 Adds urnBasedPagination option to datahub-upgrade RestoreIndices
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/RestoreIndices.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/SendMAEStep.java
  docker/datahub-upgrade/README.md
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/restoreindices/RestoreIndicesArgs.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/restoreindices/RestoreIndicesResult.java
Labels: community-contribution, product, devops, merge-pending-ci

#9485 fix(quickstart): force strings for mysql version
  docker/quickstart/quickstart_version_mapping.yaml
  metadata-ingestion/src/datahub/cli/quickstart_versioning.py
Labels: ingestion, devops

#9488 fix(docker): fix frontend dev docker path
  docker/docker-compose.dev.yml
  docker/profiles/docker-compose.frontend.yml
Labels: devops

#9468 fix: Tab doesn't represent the page you are on for non-data asset pages
  datahub-web-react/src/app/AppProviders.tsx
  datahub-web-react/src/app/entity/group/GroupInfoSideBar.tsx
  datahub-web-react/src/app/entity/user/UserInfoSideBar.tsx
  datahub-web-react/src/app/search/SearchablePage.tsx
  datahub-web-react/src/app/shared/BrowserTabTitleContext.tsx
Labels: product

#9493 Do not sync demo in downstream repos
  .github/workflows/docker-unified.yml
Labels: devops

#9487 fix(ingest): update ingest_stats event with transformer types
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
Labels: ingestion

#9469 feat | PRD-874 | Keep the same tab selected when browsing Glossary tr…
  datahub-web-react/src/app/entity/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityTabs.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/utils.ts
  datahub-web-react/src/app/glossary/GlossaryBrowser/NodeItem.tsx
  datahub-web-react/src/app/glossary/GlossaryBrowser/TermItem.tsx
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary_navigation.js
Labels: product

#9497 style | PRD-893 | Tag overflow is missing padding
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
Labels: product

#9499 feat(analytics): change MAU chart to be until last month
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetChartsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/util/DateUtil.java
Labels: product

#9494 fix(kafka): fix infinite deserialization logging
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.consumers-without-neo4j.yml
  docker/docker-compose.consumers.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/ConsumerConfiguration.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaEventConsumerFactory.java
Labels: devops

#9490 fix(ingest/fivetran): only materialize upstream lineage
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/tests/integration/fivetran/fivetran_golden.json
Labels: ingestion

#9484 feat(ingest): handle multiline string coercion
  docs-website/download_historical_versions.py
  docs/developers.md
  metadata-ingestion/src/datahub/configuration/git.py
  metadata-ingestion/src/datahub/configuration/validate_multiline_string.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source_config/usage/bigquery_usage.py
  metadata-ingestion/src/datahub/utilities/logging_manager.py
  metadata-ingestion/tests/unit/config/test_pydantic_validators.py
Labels: ingestion, docs

#9500 fix(ingest/databricks): Pinning databricks sdk to not fail on mypy issues
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
Labels: ingestion, merge-pending-ci

#9507 feat(ingest): remove librdkafka hacks
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion-base/base-requirements.txt
  metadata-ingestion/developing.md
  metadata-ingestion/scripts/datahub_preflight.sh
  metadata-ingestion/scripts/install_deps.sh
  metadata-ingestion/setup.py
Labels: ingestion, devops, merge-pending-ci

#9502 feat(ingest): rename custom package path from models to metadata
  docs/modeling/extending-the-metadata-model.md
  metadata-ingestion/scripts/custom_package_codegen.py
  metadata-ingestion/src/datahub/telemetry/telemetry.py
Labels: ingestion, docs, merge-pending-ci

#9498 Prd 886 edit links
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/LinkList.tsx
Labels: product

#9508 feat(ingest): support CLL for redshift materialized views with auto refresh
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_redshift_materialized_view_auto_refresh.json
  metadata-ingestion/tests/unit/sql_parsing/test_sql_detach.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion

#9510 feat: Input field added for the Custom cron, and issue on search sour…
  datahub-web-react/src/app/ingest/source/builder/CreateScheduleStep.tsx
  datahub-web-react/src/app/ingest/source/builder/SelectTemplateStep.tsx
Labels: product, merge-pending-ci

#9512 fix(ingest): update dbt type inference
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
Labels: ingestion

#9513 feat(ingest/redshift): merge CLL instead of overwriting
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
Labels: ingestion

#9516 Add debounce on search on ingestion listing page
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Queries/utils/constants.ts
  datahub-web-react/src/app/ingest/secret/SecretsList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
Labels: product

#9517 fix: correct the color of edit links
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/LinkList.tsx
Labels: product

#9495 fix(frontend): Add JSON list oidc group extraction logic
  datahub-frontend/app/auth/sso/oidc/OidcCallbackLogic.java
  datahub-frontend/test/oidc/OidcCallbackLogicTest.java
Labels: product

#9506 feat(frontend): align frontend sso code with refactors
  datahub-frontend/app/auth/AuthModule.java
  datahub-frontend/app/auth/AuthUtils.java
  datahub-frontend/app/auth/sso/SsoConfigs.java
  datahub-frontend/app/auth/sso/SsoManager.java
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
  datahub-frontend/app/client/AuthServiceClient.java
  datahub-frontend/app/controllers/SsoCallbackController.java
  datahub-frontend/test/app/ApplicationTest.java
  datahub-frontend/test/security/OidcConfigurationTest.java
  metadata-models/src/main/pegasus/com/linkedin/settings/global/GlobalSettingsInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/settings/global/OidcSettings.pdl
  metadata-models/src/main/pegasus/com/linkedin/settings/global/SsoSettings.pdl
  metadata-models/src/main/pegasus/com/linkedin/settings/global/SsoType.pdl
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
Labels: product

#9521 fix(ingest/glue): glue table partition (Athena v3) profiling parameters retrieval error
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Labels: ingestion

#9460 fix(ingest/fivetran): handle missing user_id for a connection
  metadata-ingestion/src/datahub/ingestion/source/fivetran/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
Labels: ingestion, merge-pending-ci

#9523 feat(ui): Allow copying assertion urn from the UI
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/AssertionMenu.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/DatasetAssertionsList.tsx
Labels: product, merge-pending-ci

#9492 feat(ingest/openapi): support proxies and alternate auth schemes
  metadata-ingestion/src/datahub/ingestion/source/openapi.py
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
Labels: ingestion, merge-pending-ci

#9439 build(ingest/feast): upgrade to latest feast version
  metadata-ingestion/setup.py
Labels: ingestion

#9524 chore(build): update base-requirements + add script for regeneration
  docker/datahub-ingestion-base/base-requirements.txt
  docker/datahub-ingestion-base/regenerate-base-requirements.sh
Labels: devops

#9515 add automatic reset password test
  datahub-web-react/src/app/identity/user/UserListItem.tsx
  datahub-web-react/src/app/identity/user/ViewResetTokenModal.tsx
  smoke-test/tests/cypress/cypress/e2e/mutations/add_users.js
Labels: product, smoke_test

#9247 feat(ingestion/bigquery): Use sqlglot_lineage for usage and add more perf timers
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/utilities/bigquery_sql_parser.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/tests/performance/bigquery/test_bigquery_usage.py
  metadata-ingestion/tests/unit/test_bigquery_sql_lineage.py
  metadata-ingestion/tests/unit/test_bigquery_sql_parser.py
  metadata-ingestion/tests/unit/test_bigquery_usage.py
  metadata-ingestion/tests/unit/test_bigqueryv2_usage_source.py
Labels: ingestion

#9295 fix(ingest/mongodb): support disabling schemaSamplingSize
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/tests/integration/mongodb/test_mongodb.py
Labels: ingestion, community-contribution, merge-pending-ci

#9486 fix(ingest): Fix mongodb ingestion when platform_instance is missing from recipe
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
Labels: ingestion, merge-pending-ci

#9526 fix(ingest/snowflake): explicit set schema if public schema is absent
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
Labels: ingestion

#9528 fix | PRD-901 | Border is too thick for sidebar
  datahub-web-react/src/app/search/sidebar/BrowseSidebar.tsx
Labels: product

#9530 Humanise duration shown on ingestion page
  datahub-web-react/src/app/ingest/source/executions/IngestionExecutionTable.tsx
  datahub-web-react/src/app/shared/formatDuration.ts
Labels: product

#9534 fix(cli): fix issue with upsert for data product external url
  metadata-ingestion/src/datahub/specific/dataproduct.py
  metadata-ingestion/tests/unit/api/entities/dataproducts/golden_dataproduct_out_upsert.json
Labels: ingestion
