Repository datahub-project/datahub, pull requests merged in 2023-06, with the labels that each got.

#8111 feat(ingest): add more fail-safes to stateful ingestion
  metadata-ingestion/docs/dev_guides/reporting_telemetry.md
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/state/entity_removal_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
  metadata-ingestion/src/datahub/ingestion/source/state_provider/datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_stale_entity_removal_handler.py
Labels: ingestion, smoke_test

#8158 feat(ingest/snowflake): support for more operation types
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
Labels: ingestion

#8159 fix(ui) Show Entities first on Domain pages again
  datahub-web-react/src/app/entity/domain/DomainEntity.tsx
Labels: product

#8156 fix(ingest/nifi): allow nifi site url with context path
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/tests/unit/test_nifi_source.py
Labels: ingestion

#8120 feat(ingest): Create Browse Paths V2 under flag
  metadata-ingestion/scripts/modeldocgen.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker.py
  metadata-ingestion/src/datahub/ingestion/source/feast.py
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/unit/test_pipeline.py
  metadata-ingestion/tests/unit/test_source.py
  metadata-ingestion/tests/unit/test_source_helpers.py
Labels: ingestion

#8086 fix(ingestion/looker): set project-name for imported_projects views
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_constant.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/tests/integration/looker/golden_test_external_project_view_mces.json
  metadata-ingestion/tests/integration/looker/test_looker.py
Labels: ingestion

#8155 fix(docs): Fix ownership type typos
  docs/ownership/ownership-types.md
Labels: docs

#7676 docs(townhall) feb and march town hall agenda and recording
  docs/townhall-history.md
Labels: docs

#8164 feat(ingest/unity): Add qualified name to dataset properties
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
Labels: ingestion

#8142 feat(ingest/bigquery_v2): enable platform instance using project id
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#8176 feat(ingest/snowflake): Deprecate legacy lineage and optimize query history joins
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
Labels: ingestion

#8145 fix(ingest/kafka): Fixing error printing in Kafka properties get call
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
Labels: ingestion

#8168 fix(ingest/snowflake): set use_quoted_name to profile lowercase tables
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
Labels: ingestion

#8177 feat(classification): support for regex based custom infotypes
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/glossary/datahub_classifier.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_legacy_lineage.py
  metadata-ingestion/tests/unit/test_classification.py
Labels: ingestion

#8172 fix(restli): update base client retry logic
  metadata-service/restli-client/build.gradle
  metadata-service/restli-client/src/main/java/com/linkedin/common/client/BaseClient.java
  metadata-service/restli-client/src/test/java/com/linkedin/common/client/BaseClientTest.java
Labels: devops, release-0.10.4

#8178 fix(ingest): Fix modeldocgen; bump feast to relax pyarrow constraint
  metadata-ingestion/scripts/modeldocgen.py
  metadata-ingestion/setup.py
  metadata-ingestion/tests/integration/feast/feature_store/feature_store.yaml
Labels: ingestion

#8094 refactor(ci): move from sleep to kafka lag based testing
  smoke-test/requests_wrapper/constants.py
  smoke-test/requests_wrapper/utils_requests_wrapper.py
  smoke-test/tests/cli/datahub-cli.py
  smoke-test/tests/cli/delete_cmd/test_timeseries_delete.py
  smoke-test/tests/cli/ingest_cmd/test_timeseries_rollback.py
  smoke-test/tests/cli/user_groups_cmd/test_group_cmd.py
  smoke-test/tests/consistency_utils.py
  smoke-test/tests/delete/delete_test.py
  smoke-test/tests/timeline/timeline_test.py
  smoke-test/tests/tokens/revokable_access_token_test.py
  smoke-test/tests/utils.py
Labels: smoke_test

#8174 docs(lineage): document timestamp filtering in lineage feature
  docs/lineage/lineage-feature-guide.md
Labels: docs

#8180 build(ingest/feast): Pin feast to minor version
  metadata-ingestion/setup.py
Labels: ingestion

#8147 feat(ingest/presto-on-hive): add support for extra properties and merge property capabilities
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/specific/dataset.py
Labels: ingestion

#8185 docs(managed datahub): release notes for v0.2.8
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_8.md
Labels: docs

#8040 feat(docker):Add the jattach tool to the docker container(#7538)
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docs-website/sidebars.js
  docs/how/jattach-guide.md
Labels: docs, devops, release-0.10.4

#7722 refactor: Return original exception as caused by
  datahub-frontend/app/security/AuthenticationManager.java
Labels: product

#8175 docs(ingest) Add MetadataChangeProposalWrapper import to example code
  docs/modeling/metadata-model.md
Labels: docs

#8075 fix(vulnerabilities)/vulnerabilities_fixes_datahub
  build.gradle
  datahub-upgrade/build.gradle
  metadata-service/factories/build.gradle
  metadata-service/graphql-servlet-impl/build.gradle
  metadata-service/war/build.gradle
Labels: community-contribution, devops, release-0.10.4

#8183 fix(ingest/kafka): Better error handling around topic and topic description extraction
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
Labels: ingestion, release-0.10.4

#8189 fix(vulnerabilities)/vulnerabilities_fixes_datahub (#8075)
  build.gradle
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/app/security/AuthenticationManager.java
  datahub-frontend/conf/application.conf
  datahub-upgrade/build.gradle
  metadata-service/factories/build.gradle
  metadata-service/graphql-servlet-impl/build.gradle
  metadata-service/war/build.gradle
Labels: devops, release-0.10.4

#8153 fix: add dedicated guide on changing default credentials
  docs-website/sidebars.js
  docs/authentication/changing-default-credentials.md
  docs/authentication/guides/add-users.md
  docs/quickstart.md
Labels: docs

#8186 feat(classification): configurable minimum values threshold
  metadata-ingestion/docs/dev_guides/classification.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/glossary/datahub_classifier.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_legacy_lineage.py
Labels: ingestion

#8140 fix(ingestion/looker): ingest looks not part of dashboard
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/tests/integration/looker/golden_test_independent_look_ingest.json
  metadata-ingestion/tests/integration/looker/test_looker.py
Labels: ingestion

#8041 docs(tableau): site config is required for tableau cloud / tableau online
  docs/quick-ingestion-guides/tableau/configuration.md
Labels: docs

#8197 fix(ingest/bigquery): Swap log order to avoid confusion
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
Labels: ingestion

#8199 fix(ingest/redshift): Adding env parameter where it was missing for urn generation
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
Labels: ingestion

#8196 revert(ingest/bigquery): Do not emit DataPlatformInstance; remove references to platform_instance
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#8202 docs(managed datahub): add docs link to v0.2.8
  docs/managed-datahub/release-notes/v_0_2_8.md
Labels: docs

#8191 Add combined health check endpoint which can check multiple components
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/config/ConfigurationProvider.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/config/HealthCheckConfiguration.java
  metadata-service/factories/src/main/resources/application.yml
  metadata-service/health-servlet/src/main/java/com/datahub/health/controller/HealthCheckController.java
Labels: devops, release-0.10.4

#8192 chore(cp-schema-registry): bump minor version
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.tools.yml
  docker/docker-compose.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-integration/java/datahub-client/src/test/java/datahub/client/kafka/containers/Utils.java
Labels: ingestion, devops, release-0.10.4

#8173 feat(ingest): Produce browse paths v2 on demand and with platform instance
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/api/workunit.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/tests/unit/test_source_helpers.py
  metadata-ingestion/tests/unit/test_workunit.py
Labels: ingestion, release-0.10.4

#8193 refractor(classification): datahub classifier init
  metadata-ingestion/src/datahub/ingestion/glossary/datahub_classifier.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_legacy_lineage.py
Labels: ingestion

#8138 fix(glue): fix typo in reported warning, report with flow_urn
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Labels: ingestion

#8215 fix(ingest/delta-lake): fix CI issues due to delta lake version bump
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/delta_lake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
Labels: ingestion

#8161 Upgrade kafka and its dependencies to 3.4 in docker compose
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.tools.yml
  docker/docker-compose.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-integration/java/datahub-client/src/test/java/datahub/client/kafka/containers/Utils.java
Labels: community-contribution, devops

#8226 chore(release): update default cli for managed ingestion
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  gradle/versioning/versioning.gradle
Labels: product

#8219 fix(ownership): Corrects graphQL resolver for entity operations
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/CreateDomainResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryNodeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryTermResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/AddOwnerResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/OwnerUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/tag/CreateTagResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/OwnerMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/OwnerUpdateMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/tag/mappers/TagUpdateInputMapper.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/owner/AddOwnersResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/owner/BatchAddOwnersResolverTest.java
Labels: product

#8211 fix(cli/quickstart): handle docker hangs gracefully
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.override.yml
  docker/docker-compose.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion, devops

#8233 fix(cli): make quickstart robust to docker race conditions
  metadata-ingestion/src/datahub/cli/docker_check.py
  metadata-ingestion/src/datahub/telemetry/telemetry.py
Labels: ingestion

#8216 feat(ingest/bigquery_v2): enable platform instance using project id
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#8232 feat(stats): make rowcount more human readable
  datahub-web-react/src/app/entity/chart/shared/ChartStatsSummary.tsx
  datahub-web-react/src/app/entity/dashboard/shared/DashboardStatsSummary.tsx
  datahub-web-react/src/app/entity/dataset/shared/DatasetStatsSummary.tsx
  datahub-web-react/src/app/entity/dataset/shared/ExpandingStat.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StatsSummary.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Dataset/StatsSidebarSection.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Stats/snapshot/TableStats.tsx
  datahub-web-react/src/app/search/autoComplete/AutoCompleteItem.tsx
  datahub-web-react/src/app/search/autoComplete/AutoCompleteTooltipContent.tsx
  datahub-web-react/src/utils/formatter/index.ts
Labels: product

#8220 feat(sdk): support patches as MCPs in file source
  metadata-ingestion/src/datahub/emitter/mcp.py
  metadata-ingestion/tests/unit/patch/complex_dataset_patch.json
  metadata-ingestion/tests/unit/patch/test_patch_builder.py
  metadata-ingestion/tests/unit/serde/test_serde.py
  metadata-ingestion/tests/unit/serde/test_serde_patch.json
Labels: ingestion

#8234 fix(apiAuth): add resources where applicable and update docs
  docs/authorization/access-policies-guide.md
  docs/authorization/policies.md
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/ResolvedResourceSpec.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/PolicyEngine.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java
Labels: docs, devops

#8190 feat(patch): support datajob input output
  docs-website/sidebars.js
  docs/advanced/patch.md
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/SnapshotEntityRegistry.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/AspectTemplateEngine.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/datajob/DataJobInputOutputTemplate.java
  metadata-ingestion/src/datahub/specific/datajob.py
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/datajob/DataJobInputOutputPatchBuilder.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/patch/PatchTest.java
  metadata-integration/java/examples/src/main/java/io/datahubproject/examples/DataJobLineageAdd.java
  smoke-test/tests/patch/common_patch_tests.py
  smoke-test/tests/patch/test_datajob_patches.py
  smoke-test/tests/patch/test_dataset_patches.py
Labels: ingestion, platform

#8238 feat(ingest/unity): Set external url for containers and datasets
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/connection_test.py
  metadata-ingestion/src/datahub/ingestion/source/unity/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
  metadata-ingestion/tests/unit/test_unity_catalog_config.py
Labels: ingestion

#7913 docs(airflow): add docs on custom operators
  docs/lineage/airflow.md
Labels: docs

#8225 fix(ingestion/tableau): Remove unused field documentViewId
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
Labels: ingestion

#8245 fix(kafka-setup): bump kafka version
  docker/kafka-setup/Dockerfile
Labels: devops

#8212 feat(ingestion/powerbi): Ingest datasets not used in PowerBI visualization(tiles/pages)
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/integration/powerbi/golden_test_independent_datasets.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion

#8201 fix(sdk/dataflow): deprecate cluster and use env and platform_instance instead
  docs/how/updating-datahub.md
  metadata-ingestion/examples/library/lineage_job_dataflow_new_api.py
  metadata-ingestion/examples/library/lineage_job_dataflow_new_api_simple.py
  metadata-ingestion/examples/library/lineage_job_dataflow_new_api_verbose.py
  metadata-ingestion/src/datahub/api/entities/datajob/dataflow.py
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
  metadata-ingestion/src/datahub_provider/client/airflow_generator.py
Labels: ingestion

#8241 feat(search): Supporting Aggregations for hasX fields
  entity-registry/src/main/java/com/linkedin/metadata/models/SearchableFieldSpecExtractor.java
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/SearchableAnnotation.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilderTest.java
Labels: product

#8250 fix(ingest): Call validator on the base urn as well as aspect components when ingesting
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-service/restli-servlet-impl/src/main/resources/index/usage-event/aws_es_ism_policy.json
Labels: product, devops

#8221 fix(patch): Fix exception when using default patch for patching missing aspects
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
Labels: product

#8163 fix(custom-search): revert underscore as quoted
  metadata-service/factories/src/main/resources/search_config.yml
Labels: devops

#8258 chore(ci): add back optional static sleep for tests
  smoke-test/tests/consistency_utils.py
Labels: smoke_test

#8248 chore(checkbox): darken all checkboxes
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/FormField.tsx
  datahub-web-react/src/conf/theme/global-overrides.less
Labels: product

#8247 chore(assertions): catch any exception on assertion delete
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/DeleteAssertionResolver.java
Labels: product

#8182 feat(opensearch): Rollover usage events at a file size rather than time-based manner
  metadata-service/restli-servlet-impl/src/main/resources/index/usage-event/aws_es_ism_policy.json
Labels: devops

#8263 fix(ingest/okta): Set default of okta_profile_to_username_attr to email
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/tests/integration/okta/test_okta.py
Labels: ingestion

#8217 fix(ingest/tableau): split table columns query from datasources query
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_constant.py
  metadata-ingestion/tests/integration/tableau/setup/databaseTablesConnection_all.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesConnection_all.json
  metadata-ingestion/tests/integration/tableau/setup/publishedDatasourcesConnection_all.json
  metadata-ingestion/tests/integration/tableau/tableau_extract_all_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_nested_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_signout_timeout_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion

#8272 fix(ingest/okta): Set default of okta connector to match OIDC defaults
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/tests/integration/okta/test_okta.py
Labels: ingestion, docs

#8265 feat(elasticsearch): Add endpoint for getting the size of timeseries indices
  datahub-graphql-core/src/main/resources/entity.graphql
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/TimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-models/src/main/pegasus/com/linkedin/timeseries/TimeseriesIndexSizeResult.pdl
  metadata-models/src/main/pegasus/com/linkedin/timeseries/TimeseriesIndicesSizesResult.pdl
  metadata-service/restli-api/src/main/idl/com.linkedin.operations.operations.restspec.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/OperationsResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/Utils.java
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/elasticsearch/IndexConvention.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/elasticsearch/IndexConventionImpl.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/elasticsearch/IndexConventionImplTest.java
Labels: product

#8274 feat(ingest/delete-cli): Add configurable batch size; update docs
  metadata-ingestion/src/datahub/cli/delete_cli.py
Labels: ingestion

#8276 fix aggregation sorting in browsev2 sidebar
  datahub-web-react/src/app/search/filters/utils.tsx
  datahub-web-react/src/app/search/sidebar/EntityNode.tsx
  datahub-web-react/src/app/search/sidebar/EnvironmentNode.tsx
  datahub-web-react/src/app/search/sidebar/PlatformNode.tsx
  datahub-web-react/src/app/search/sidebar/useAggregationsQuery.ts
Labels: product

#8242 Support de-selecting browse paths
  datahub-web-react/src/app/search/sidebar/BrowseContext.tsx
  datahub-web-react/src/app/search/sidebar/BrowseNode.tsx
  smoke-test/tests/cypress/cypress/e2e/browse/browseV2.js
Labels: product, smoke_test

#7172 feat(cli): Initial support for sending exceptions to Sentry
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/telemetry/telemetry.py
Labels: ingestion

#8273 fix(ingestion/powerbi): use admin api resolver to fetch modified workspaces
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
Labels: ingestion

#8264 fix: dbt-athena types mapping for complex types
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: ingestion

#8187 feat(graphql) Prevent duplicate glossary term names within a group
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryTermResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryTermResolverTest.java
Labels: product

#8268 Add retries to JavaEntityClient:deleteReferencesTo
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/DeleteDomainResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/DeleteGlossaryEntityResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/group/RemoveGroupResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/tag/DeleteTagResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/user/RemoveUserResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/service/DataProductService.java
  metadata-io/src/test/java/com/linkedin/metadata/client/JavaEntityClientTest.java
Labels: product

#8284 fix(docs) Update Chrome extension docs to reflect current reality
  docs/managed-datahub/chrome-extension.md
  docs/managed-datahub/imgs/saas/chrome-store-extension-screenshot.png
Labels: docs

#8254 refactor(validations): Add URL-based Routing to Dataset Validations Tab
  datahub-web-react/src/app/entity/shared/containers/profile/utils.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/Assertions.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/ValidationsTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/__tests__/useGetValidationsTab.test.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/useGetValidationsTab.ts
Labels: product, devops

#8278 fix(metadata-io): retry transactions on serialization errors when using a PostgreSQL database
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
Labels: product

#8283 docs(ingest/lineage): Update fine grained file lineage docs
  metadata-ingestion/docs/sources/file-based-lineage/datahub-lineage-file.md
  metadata-ingestion/examples/bootstrap_data/file_lineage.yml
Labels: ingestion

#7688 docs(posts): add examples
  docs/posts.md
Labels: docs

#8253 chore(deprecate): remove legacy sql table
  docker/mysql-setup/init.sql
  docker/mysql/init.sql
  docs/datahub_lite.md
Labels: docs, devops

#8169 fix(ingest/csv-enricher): Adding extra check in csv enricher to ignore non-urn urns
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
Labels: ingestion, release-0.10.4

#8285 tests(urn): Add tests for more cases of invalid urns
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
Labels: product

#8249 refactor(unity): Remove databricks_cli and cleanup
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_profiling.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
Labels: ingestion

#8288 Sidebar local storage setting + toggle tooltip
  datahub-web-react/src/app/context/userContext.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
  datahub-web-react/src/app/search/ToggleSidebarButton.tsx
  datahub-web-react/src/app/search/useToggleSidebar.ts
  datahub-web-react/src/app/shared/useToggle.ts
  smoke-test/tests/cypress/cypress/e2e/browse/browseV2.js
Labels: product, smoke_test

#8296 fix(ui) Fix UI issues with self-referencing column level lineage
  datahub-web-react/src/app/lineage/utils/columnLineageUtils.ts
  datahub-web-react/src/app/lineage/utils/extendAsyncEntities.ts
  datahub-web-react/src/app/lineage/utils/highlightColumnLineage.ts
Labels: product

#8281 feat(ui) Add ability to view CLL through DataJobs in lineage visualization
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/FineGrainedLineagesMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/UpstreamLineagesMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datajob/mappers/DataJobMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/app/entity/shared/utils.ts
  datahub-web-react/src/app/lineage/types.ts
  datahub-web-react/src/app/lineage/utils/__tests__/columnLineageUtils.test.tsx
  datahub-web-react/src/app/lineage/utils/__tests__/extendAsyncEntities.test.ts
  datahub-web-react/src/app/lineage/utils/columnLineageUtils.ts
  datahub-web-react/src/app/lineage/utils/extendAsyncEntities.ts
  datahub-web-react/src/app/lineage/utils/layoutTree.ts
  datahub-web-react/src/graphql/lineage.graphql
Labels: product

#8287 docs(business glossary) Update business glossary docs
  metadata-ingestion/docs/sources/business-glossary/datahub-business-glossary.md
  metadata-ingestion/examples/bootstrap_data/business_glossary.yml
Labels: ingestion, community-contribution

#8297 docs(graphql): add developer guide for adding a new graphql endpoint
  docs-website/sidebars.js
  docs/api/graphql/graphql-endpoint-development.md
Labels: docs

#8304 fix(ingestion) Fixes producing MAE events with browsePathsV2 aspect
  metadata-models/src/main/pegasus/com/linkedin/metadata/aspect/ChartAspect.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/aspect/DashboardAspect.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/aspect/DataFlowAspect.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/aspect/DataJobAspect.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/aspect/DatasetAspect.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/aspect/MLFeatureAspect.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/aspect/MLFeatureTableAspect.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/aspect/MLModelAspect.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/aspect/MLModelGroupAspect.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: devops

#8308 fix(embed): set embed url to false for tableau config
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/integration/tableau/tableau_extract_all_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_nested_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_signout_timeout_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
Labels: ingestion

#8307 fix(embed): hide chart & dashboard previews if not for looker
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
Labels: product

#8293 fix(ingest/unity): Pin databricks-sdk and update docs
  metadata-ingestion/docs/sources/databricks/unity-catalog_pre.md
  metadata-ingestion/setup.py
Labels: ingestion

#8315 fix(ui) Only show search and browse V2 onboarding steps if flag is on
  datahub-web-react/src/app/search/SearchPage.tsx
Labels: product

#8318 fix(ingest/looker): Fix typo on ViewField creation for measures
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
Labels: ingestion

#8323 docs(managed datahub): docs for v0.2.9
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_9.md
Labels: docs

#8291 fix(ingest/postgres): fix profiling errors, skip json type column
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/utilities/sqlalchemy_query_combiner.py
  metadata-ingestion/tests/integration/postgres/postgres_all_db_mces_with_db_golden.json
  metadata-ingestion/tests/integration/postgres/postgres_all_db_to_file_with_db_estimate_row_count.yml
  metadata-ingestion/tests/integration/postgres/postgres_mces_with_db_golden.json
  metadata-ingestion/tests/integration/postgres/postgres_to_file_with_db_estimate_row_count.yml
  metadata-ingestion/tests/integration/postgres/setup/setup.sql
Labels: ingestion

#8321 tests(elasticsearch): Add fixture test for basic scroll functionality
  metadata-io/src/test/java/com/linkedin/metadata/ESTestUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
Labels: product

#8314 feat(tableau): add config knobs for excluding external links from tableau
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#8319 fix(documentation): remove links from associatedUrn
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/mappers/ChartMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/InstitutionalMemoryMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/InstitutionalMemoryMetadataMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/container/mappers/ContainerMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataflow/mappers/DataFlowMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datajob/mappers/DataJobMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataplatforminstance/mappers/DataPlatformInstanceMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataproduct/mappers/DataProductMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/VersionedDatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/domain/DomainMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryTermMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureTableMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLPrimaryKeyMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/notebook/mappers/NotebookMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/LinkList.tsx
  datahub-web-react/src/graphql-mock/mutationHelper.ts
  datahub-web-react/src/graphql/fragments.graphql
Labels: product, release-0.10.5

#8326 fix(browsev2): improved error handling
  datahub-web-react/src/app/search/sidebar/BrowseNode.tsx
  datahub-web-react/src/app/search/sidebar/PlatformNode.tsx
  datahub-web-react/src/app/search/sidebar/useBrowsePagination.tsx
Labels: product, release-0.10.5

#8327 fix(search) Add facets list to our cache key to avoid cache collisions
  metadata-io/src/main/java/com/linkedin/metadata/search/cache/CachingAllEntitiesSearchAggregator.java
Labels: product, release-0.10.5

#8305 Container link in browse v2 sidebar
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/context/userContext.tsx
  datahub-web-react/src/app/search/ToggleSidebarButton.tsx
  datahub-web-react/src/app/search/sidebar/BrowseNode.tsx
  datahub-web-react/src/app/search/sidebar/EntityLink.tsx
  datahub-web-react/src/app/search/sidebar/EntityNode.tsx
  datahub-web-react/src/app/search/sidebar/ExpandableNode.tsx
  datahub-web-react/src/app/search/sidebar/PlatformNode.tsx
  datahub-web-react/src/app/search/sidebar/SidebarLoadingError.tsx
  datahub-web-react/src/app/search/sidebar/useSidebarAnalytics.ts
  metadata-io/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Labels: product, release-0.10.5

#8329 fix(browse): try to prevent overlapping pagination calls
  datahub-web-react/src/app/search/sidebar/useBrowsePagination.tsx
Labels: product, release-0.10.5

#8333 feat(usagestats): Optimize elasticsearch query for usage stats aggregations
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/query/ESAggregatedStatsDAO.java
Labels: product

#8266 feat(ingest): add YamlFileUpdater utility
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/utilities/yaml_sync_utils.py
  metadata-ingestion/tests/unit/utilities/test_yaml_sync_utils.py
Labels: ingestion

#8330 feat(ui) Show Acryl information with button and banner behind flag
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/entity/shared/components/styled/DemoButton.tsx
  datahub-web-react/src/app/home/AcrylDemoBanner.tsx
  datahub-web-react/src/app/home/HomePageHeader.tsx
  datahub-web-react/src/app/search/SearchHeader.tsx
  datahub-web-react/src/app/useAppConfig.ts
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  datahub-web-react/src/images/acryl-light-mark.svg
  metadata-service/factories/src/main/resources/application.yml
Labels: product, devops

#8340 test(ingest/trino): xfail test to unblock CI
  metadata-ingestion/tests/integration/trino/test_trino.py
Labels: ingestion, merge-pending-ci

#8341 fix(restli): Add docs for get task status, and fix hostname regex
  docs-website/sidebars.js
  docs/api/restli/get-elastic-task-status.md
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/OperationsResource.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/operations/OperationsResourceTest.java
Labels: docs, devops, release-0.10.5

#8322 docs(lineage): add read lineage example
  docs/act-on-metadata/impact-analysis.md
  docs/api/tutorials/lineage.md
  metadata-ingestion/examples/library/read_lineage_rest.py
Labels: ingestion, docs

#8320 fix(async): submit additional default aspects only when not in async mode
  metadata-service/openapi-servlet/build.gradle
  metadata-service/restli-servlet-impl/build.gradle
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/entity/AspectResourceTest.java
  metadata-service/schema-registry-servlet/build.gradle
  metadata-service/schema-registry-servlet/src/test/java/mock/MockAspectSpec.java
  metadata-service/schema-registry-servlet/src/test/java/mock/MockEntitySpec.java
  mock-entity-registry/build.gradle
  mock-entity-registry/src/main/java/mock/MockAspectSpec.java
  mock-entity-registry/src/main/java/mock/MockEntityRegistry.java
  mock-entity-registry/src/main/java/mock/MockEntitySpec.java
  settings.gradle
Labels: devops, release-0.10.5
