Repository datahub-project/datahub, pull requests merged in 2023-03, with the labels that each got.

#7447 fix(kafka-setup): configure sasl.mechanism in case SASL_PLAINTEXT
  docker/kafka-setup/kafka-setup.sh
Labels: devops

#7456 docs(managed): v0.2.2 managed datahub release notes
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_2.md
Labels: docs

#7458 chore(ci): exclude duckdb from smoke test
  docker/datahub-ingestion/smoke.Dockerfile
Labels: devops

#7461 feat(ingest): Introduce FileBackedDict for offloading data to disk
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/usage/redshift_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/starburst_trino_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/test_usage_common.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_collections.py
Labels: ingestion

#7466 fix(ingest/dbt): remove deprecated `backcompat_skip_source_on_lineage_edge` option
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Labels: ingestion

#7465 refactor(ingest): use auto_stale_entity_removal in json schema source
  metadata-ingestion/src/datahub/ingestion/source/schema/json_schema.py
Labels: ingestion

#7431 fix(ingest/s3): propagate s3 endpoint to profiling
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Labels: ingestion, community-contribution

#7454 fix(ingest): remove extraneous platform configs
  metadata-ingestion/src/datahub/configuration/source_common.py
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/config.py
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server.py
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/src/datahub/ingestion/source/schema/json_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/usage/clickhouse_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/redshift_usage.py
  metadata-ingestion/src/datahub/ingestion/source_config/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source_config/usage/bigquery_usage.py
  metadata-ingestion/tests/integration/s3/test_s3.py
Labels: ingestion

#7460 feat(ingest/bigquery) - Capture dataset labels in bigquery
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Labels: ingestion

#7473 Add setup job labels to compose files
  docker/docker-compose-without-neo4j.override.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.override.yml
  docker/docker-compose.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
Labels: devops

#7290 chore(ci): upgrade GE version
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion/setup.py
  metadata-ingestion/tests/integration/great-expectations/test_great_expectations.py
  metadata-ingestion/tests/unit/test_great_expectations_action.py
Labels: ingestion

#7462 fix(ingest/dbt): check for nodes key before accessing
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
Labels: accepted, ingestion

#7436 fix(search): per field analyzers for simple_query_string
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchFieldConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilderTest.java
  smoke-test/tests/cypress/cypress/e2e/siblings/siblings.js
Labels: product

#7464 tests(cypress): add improved Cypress tests for timeline lineage
  datahub-web-react/src/app/entity/shared/tabs/Lineage/LineageTab.tsx
  smoke-test/tests/cypress/cypress/e2e/lineage/impact_analysis.js
  smoke-test/tests/cypress/cypress/e2e/lineage/lineage_graph.js
  smoke-test/tests/cypress/cypress/support/commands.js
  smoke-test/tests/cypress/integration_test.py
  smoke-test/tests/cypress/package.json
  smoke-test/tests/cypress/yarn.lock
  smoke-test/tests/setup/__init__.py
  smoke-test/tests/setup/lineage/__init__.py
  smoke-test/tests/setup/lineage/constants.py
  smoke-test/tests/setup/lineage/helper_classes.py
  smoke-test/tests/setup/lineage/ingest_data_job_change.py
  smoke-test/tests/setup/lineage/ingest_dataset_join_change.py
  smoke-test/tests/setup/lineage/ingest_input_datasets_change.py
  smoke-test/tests/setup/lineage/ingest_time_lineage.py
  smoke-test/tests/setup/lineage/utils.py
  smoke-test/tests/utils.py
Labels: product, smoke_test

#7477 fix(ui) Standardize subtypes casing with View Definition tab
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
Labels: product

#7469 refactor(ingest): Convert FileBackedDict to dataclass for cleaner init
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
Labels: ingestion

#7485 chore(ingest): pin acryl-datahub-classify
  metadata-ingestion/setup.py
Labels: ingestion

#7483 fix(ingest/tableau): load project workbook hierarchy correctly
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
Labels: ingestion

#7496 fix(ingest): redact auth info in curl commands
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/emitter/request_helper.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
Labels: ingestion

#7497 fix(ingest): prevent logging from blowing up on TypeErrors
  metadata-ingestion/src/datahub/ingestion/source/git/git_import.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/utilities/logging_manager.py
  metadata-ingestion/tests/unit/test_cli_logging.py
Labels: ingestion

#7492 fix(ui) Make tooltip on search results stats summary clearer
  datahub-web-react/src/app/entity/dataset/shared/DatasetStatsSummary.tsx
Labels: product

#7472 feat(ingest/GX): add urn lowercasing option for GX assertions
  metadata-ingestion/integration_docs/great-expectations.md
  metadata-ingestion/src/datahub/integrations/great_expectations/action.py
  metadata-ingestion/tests/integration/great-expectations/ge_mcps_golden.json
  metadata-ingestion/tests/integration/great-expectations/setup/great_expectations/checkpoints/test_checkpoint.yml
  metadata-ingestion/tests/integration/great-expectations/setup/setup.sql
Labels: ingestion

#7424 feat(cli): introduce remote config for quickstart
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/quickstart_version_mapping.yaml
  metadata-ingestion/src/datahub/cli/docker_check.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/cli/quickstart_versioning.py
  metadata-ingestion/tests/cli/test_quickstart_version_mapping.py
Labels: ingestion, devops

#7493 feat(ingest): unbundle airflow plugin emitter dependencies
  docs/how/updating-datahub.md
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion/setup.py
Labels: ingestion, docs

#7509 feat(cli): finalizing quickstart config commit hash
  metadata-ingestion/src/datahub/cli/quickstart_versioning.py
  metadata-ingestion/tests/cli/test_quickstart_version_mapping.py
Labels: ingestion

#7511 fix(ingest/bigquery): fix missing materialized views
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Labels: ingestion

#7513 fix(ingest): make quickstart error handling more robust
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/cli/quickstart_versioning.py
Labels: ingestion

#7490 fix(ingest): limit typing_extensions classes to those available in min version
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/api/ingestion_job_checkpointing_provider_base.py
  metadata-ingestion/src/datahub/ingestion/api/sink.py
Labels: ingestion

#7459 feat(ingest/vertica): improve vertica type mappings
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
Labels: ingestion

#7510 chore(ingest): remove unused dependency for bigquery
  metadata-ingestion/setup.py
Labels: ingestion

#7411 feat(ingest/looker): upgrade to Looker API from 3.1 to 4.0
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_query_model.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_usage.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/looker/test_looker.py
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion, community-contribution

#7517 Docs update
  docker/quickstart/quickstart_version_mapping.yaml
Labels: devops

#7463 feat(graphql): Added GraphQL mappings for the "created" and "lastModified" fields in "DatasetProperties" aspect
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapperTest.java
Labels: community-contribution, product

#7518 docs(guidelines) Update community guidelines
  docs/slack.md
Labels: docs

#7521 fix(ui-ingestion) Fix UI manual ingestion runs by consistently setting pipeline_name
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateIngestionExecutionRequestResolver.java
Labels: product

#7523 feat(ingest/powerbi): support PowerBI parameter references
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/tree_function.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi-lexical-grammar.rule
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Labels: ingestion

#7506 feat(ingest): enable joins across FileBackedDicts + add FileBackedList
  metadata-ingestion/setup.cfg
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_collections.py
Labels: ingestion

#7530 fix(): Fix Query Detail Modal Scroll + add misc log messages
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Queries/QueryCardDetails.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Queries/QueryModal.tsx
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/DataHubUpgradeKafkaListener.java
Labels: product, devops

#7532 fix(frontend proxy): Disable unnecessary URL encoding at the proxy layer
  datahub-frontend/app/controllers/Application.java
Labels: product

#7524 fix(ingest): delta-lake - support assume aws role
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/delta_lake_utils.py
Labels: ingestion

#7534 docs(ingest): add guidelines around proactive version pinning
  metadata-ingestion/developing.md
Labels: ingestion

#7488 fix(grafana): use variable datasource uid
  docker/monitoring/grafana/dashboards/datahub_dashboard.json
Labels: devops

#7531 fix(ingest/looker): stringify looker user ids
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
Labels: ingestion

#7547 feat(openapi): add relationships endpoint
  docs-website/sidebars.js
  docs/api/datahub-apis.md
  docs/api/openapi/openapi-usage-guide.md
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/relationships/RelationshipsController.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: ingestion, docs, devops

#7544 Add documentation example for using restoreIndices with an urnLike argument
  docs/api/restli/restore-indices.md
Labels: docs

#7542 fix(ingest/snowflake): bump up classification library version to 0.0.6
  metadata-ingestion/setup.py
Labels: ingestion

#7551 fix(test): suppress s3 golden file test for specific paths
  metadata-ingestion/tests/integration/s3/test_s3.py
Labels: ingestion

#7557 fix(docs-website): reflect PythonSDK & GraphQL Docs changes
  docs-website/sidebars.js
  docs/imgs/tutorials/datahub-main-ui.png
  docs/imgs/tutorials/owner-added.png
  docs/imgs/tutorials/sample-ingestion.png
  docs/imgs/tutorials/tag-added.png
  docs/imgs/tutorials/term-added.png
  docs/tools/tutorials/adding-ownerships.md
  docs/tools/tutorials/adding-tags.md
  docs/tools/tutorials/adding-terms.md
  docs/tools/tutorials/advantages.md
  docs/tools/tutorials/references/generate-access-token.md
  docs/tools/tutorials/references/prepare-datahub.md
Labels: docs

#7563 docs(): re-add sources summary page
  docs-website/docusaurus.config.js
  docs-website/filterTagIndexes.json
  docs-website/generateDocsDir.ts
  docs-website/package.json
  docs-website/src/pages/docs/_components/DropDownFilter/index.tsx
  docs-website/src/pages/docs/_components/DropDownFilter/search.module.scss
  docs-website/src/pages/docs/_components/FilterBar/index.jsx
  docs-website/src/pages/docs/_components/FilterBar/search.module.scss
  docs-website/src/pages/docs/_components/FilterCard/index.jsx
  docs-website/src/pages/docs/_components/FilterCard/quicklinkcard.module.scss
  docs-website/src/pages/docs/_components/FilterCards/index.jsx
  docs-website/src/pages/docs/_components/FilterCards/quicklinkcards.module.scss
  docs-website/src/pages/docs/_components/FilterPage/index.jsx
  docs-website/src/pages/docs/_components/GuideList/index.jsx
  docs-website/src/pages/docs/_components/QuickLinkCard/index.jsx
  docs-website/src/pages/docs/_components/QuickLinkCard/quicklinkcard.module.scss
  docs-website/src/pages/docs/_components/QuickLinkCards/index.js
  docs-website/src/pages/docs/_components/QuickLinkCards/index.jsx
  docs-website/src/pages/docs/_components/SearchBar/index.jsx
  docs-website/src/pages/docs/index.js
  docs-website/src/pages/integrations.jsx
  docs-website/src/styles/global.scss
  docs-website/static/img/logos/companies/microsoft-teams.svg
  docs-website/static/img/logos/companies/slack.svg
  docs-website/static/img/logos/platforms/hana.svg
  docs-website/static/img/logos/platforms/openapi.png
  docs-website/static/img/logos/platforms/vertica.svg
  docs-website/yarn.lock
  docs/cli.md
  metadata-ingestion/README.md
Labels: ingestion, docs

#7564 Update restore indices docs to include batch information
  docs/api/restli/restore-indices.md
Labels: docs

#7533 feat(ingest): fix edge cases + interface cleanup for file-system APIs
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_collections.py
Labels: ingestion

#7154 feat(ingest): powerbi # store powerbi entity descriptions
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_access_not_allowed.json
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion, community-contribution

#7520 fix(cli): Adding exit code to correctly return failure or success
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/tests/integration/clickhouse/test_clickhouse.py
  metadata-ingestion/tests/integration/mysql/test_mysql.py
  metadata-ingestion/tests/integration/postgres/test_postgres.py
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_keyval.json
Labels: ingestion, release-0.10.1

#7567 feat(cli): switch default quickstart to v0.10.0
  docker/quickstart/quickstart_version_mapping.yaml
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/cli/quickstart_versioning.py
Labels: ingestion, devops

#7560 chore(ci): try Qodana Scan for quality
  .github/workflows/qodana-scan.yml
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/DescriptionUtils.java
Labels: devops

#7484 chore(ci): add daylight savings timezone for tests, fix daylight saving bug in analytics charts
  .github/workflows/build-and-test.yml
  datahub-web-react/src/app/analyticsDashboard/components/__tests__/timeSeriesChart.test.tsx
  datahub-web-react/src/app/shared/time/timeUtils.tsx
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/Config.java
Labels: product

#7577 fix(lineage): nullpointer exceptions
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageSearchServiceTest.java
Labels: product

#7578 docs(managed ingestion): add release notes for v0.2.3
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_3.md
Labels: docs

#7566 fix(logging): increase log level for system-upgrade job to complete before starting
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/DataHubUpgradeKafkaListener.java
Labels: devops

#7584 fix(ui) Safeguard ingestion execution request check
  datahub-web-react/src/app/ingest/source/IngestionSourceTable.tsx
Labels: product

#7569 refactor(ui): Separate entity lineage counts query from rest of entity query
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entity/mlPrimaryKey/MLPrimaryKeyEntity.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/nav/EntityProfileNavBar.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/nav/LineageSelector.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/nav/ProfileNavBrowsePath.tsx
  datahub-web-react/src/graphql/chart.graphql
  datahub-web-react/src/graphql/dashboard.graphql
  datahub-web-react/src/graphql/dataJob.graphql
  datahub-web-react/src/graphql/dataset.graphql
  datahub-web-react/src/graphql/lineage.graphql
  datahub-web-react/src/graphql/mlFeature.graphql
  datahub-web-react/src/graphql/mlFeatureTable.graphql
  datahub-web-react/src/graphql/mlModel.graphql
  datahub-web-react/src/graphql/mlModelGroup.graphql
  datahub-web-react/src/graphql/mlPrimaryKey.graphql
Labels: product

#7568 feat(ingest/snowflake): use auto_workunit_reporter helper
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_utils.py
Labels: ingestion

#7582 fix(gms): convert obj to string, fix wrong setup
  metadata-ingestion/build.gradle
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/Config.java
Labels: ingestion, devops

#7570 refactor(ingest): Use shared connection wrapper over connection cache
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_collections.py
Labels: ingestion

#7589 Extend character limit for Create Domain Modal
  datahub-web-react/src/app/domain/CreateDomainModal.tsx
Labels: product

#7587 fix(smoke-test): always use built images in smoke tests
  smoke-test/run-quickstart.sh
Labels: smoke_test

#7514 feat(ingest/s3): support path_specs of different S3 buckets in the same recipe
  gradle.properties
  metadata-ingestion/examples/recipes/csv_enricher_to_datahub_rest.dhub.yml
  metadata-ingestion/examples/recipes/hana_to_datahub.dhub.yaml
  metadata-ingestion/examples/recipes/mode_to_datahub.dhub.yaml
  metadata-ingestion/examples/recipes/okta_to_datahub.dhub.yaml
  metadata-ingestion/examples/recipes/s3_to_file.dhub.yaml
  metadata-ingestion/examples/recipes/snowflake_to_datahub.dhub.yaml
  metadata-ingestion/examples/recipes/tableau_to_datahub.dhub.yaml
  metadata-ingestion/scripts/datahub_preflight.sh
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_specs_of_different_buckets.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_specs_of_different_buckets.json
  metadata-ingestion/tests/integration/s3/sources/s3/multiple_specs_of_different_buckets.json
  metadata-ingestion/tests/integration/s3/test_s3.py
  repositories.gradle
Labels: ingestion

#7591 fix(ingest): pin `typeguard` version for feast
  metadata-ingestion/setup.py
Labels: ingestion

#7541 fix(ingest/powerbi): support each expression in m-query function invocation
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/tree_function.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi-lexical-grammar.rule
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion

#7559 fix(ingestion): Readd batchDelayMs
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
Labels: product

#7548 fix(docker): fix elasticsearch image tag
  docker/docker-compose.yml
Labels: devops

#7576 feat(docs): add docs on lineage
  docs-website/sidebars.js
  docs/imgs/tutorials/lineage-added.png
  docs/tools/tutorials/adding-lineage.md
Labels: docs

#7579 refactor: misc fixes logging, annotations
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/TimeSeriesAspectResolver.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocode/DataMigrationStep.java
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/relationships/RelationshipsController.java
  metadata-service/openapi-servlet/src/test/java/mock/MockEntityService.java
  metadata-service/restli-client/src/main/java/com/linkedin/common/client/BaseClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
Labels: product, devops

#7586 fix(policies): add missing policies, add check to prevent problems
  .github/scripts/check_policies.py
  .github/workflows/code-checks.yml
  metadata-service/war/src/main/resources/boot/policies.json
Labels: devops

#7603 docs: misc fixes
  docs-website/sidebars.js
  docs/cli.md
  docs/debugging.md
  docs/faq-using-datahub.md
Labels: docs

#7597 feat: add docs on adding column/dataset description
  docs-website/sidebars.js
  docs/api/graphql/querying-entities.md
  docs/imgs/tutorials/column-description-added.png
  docs/imgs/tutorials/dataset-description-added.png
  docs/tools/tutorials/adding-column-description.md
  docs/tools/tutorials/adding-dataset-description.md
  docs/tools/tutorials/advantages.md
Labels: docs

#7593 feat(cli): show image pull progress in quickstart
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/cli/quickstart_versioning.py
Labels: ingestion

#7600 docs(): Add View-related permissions to DataHub docs
  docs/authorization/access-policies-guide.md
  docs/authorization/policies.md
  docs/authorization/roles.md
Labels: docs, devops

#7440 feat(ingest): add urn modification helper
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/scripts/codegen.sh
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/sink/sink_registry.py
  metadata-ingestion/src/datahub/utilities/urns/urn_iter.py
  metadata-ingestion/tests/unit/serde/test_serde.py
  metadata-ingestion/tests/unit/serde/test_urn_iterator.py
  metadata-ingestion/tests/unit/test_codegen.py
  metadata-ingestion/tests/unit/test_plugin_system.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#7608 feat: add docs on creating tags/terms/datasets
  docs-website/sidebars.js
  docs/imgs/tutorials/dataset-created.png
  docs/imgs/tutorials/tag-created.png
  docs/imgs/tutorials/term-created.png
  docs/tools/tutorials/adding-column-description.md
  docs/tools/tutorials/adding-dataset-description.md
  docs/tools/tutorials/adding-lineage.md
  docs/tools/tutorials/adding-ownerships.md
  docs/tools/tutorials/adding-tags.md
  docs/tools/tutorials/adding-terms.md
  docs/tools/tutorials/advantages.md
  docs/tools/tutorials/creating-datasets.md
  docs/tools/tutorials/creating-tags.md
  docs/tools/tutorials/creating-terms.md
Labels: docs

#7375 feat(metadata-io): add support in Neo4jGraphService for lineage time filter
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphServiceTest.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHook.java
Labels: community-contribution, product

#7613 docs: add new code examples on creating entities & fix minor typos
  docs/tools/tutorials/creating-tags.md
  docs/tools/tutorials/creating-terms.md
  metadata-ingestion/examples/library/create_tag.py
  metadata-ingestion/examples/library/create_term.py
Labels: ingestion, docs

#7605 chore(ci): fix flakiness, misc improvements
  .github/workflows/check-datahub-jars.yml
  .github/workflows/docker-unified.yml
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion/.gitignore
  metadata-ingestion/build.gradle
Labels: ingestion

#7615 feat(ingest/docs): json-schema fixes, improvements to ingestion doc generation
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/scripts/testdocgen.sh
  metadata-ingestion/scripts/tests/test_docgen.py
  metadata-ingestion/src/datahub/ingestion/extractor/json_schema_util.py
  metadata-ingestion/tests/unit/schema/test_json_schema_util.py
Labels: ingestion

#7614 fix(docker): fix gradle quickstart version parsing
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/cli/quickstart_versioning.py
Labels: ingestion

#7619 docs: add CLI installiation guide via poetry
  docs/quickstart.md
Labels: docs

#7631 fix(ingest/docs): improve matcher to include types with spaces in them
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/scripts/tests/test_docgen.py
  metadata-ingestion/src/datahub/ingestion/extractor/json_schema_util.py
  metadata-ingestion/tests/unit/schema/test_json_schema_util.py
Labels: ingestion

#7621 docs: reformat use case guide toc & api comparison table
  docs-website/sidebars.js
  docs/api/datahub-apis.md
  docs/api/tutorials/adding-column-description.md
  docs/api/tutorials/adding-dataset-description.md
  docs/api/tutorials/adding-lineage.md
  docs/api/tutorials/adding-ownerships.md
  docs/api/tutorials/adding-tags.md
  docs/api/tutorials/adding-terms.md
  docs/api/tutorials/creating-datasets.md
  docs/api/tutorials/creating-tags.md
  docs/api/tutorials/creating-terms.md
  docs/api/tutorials/references/generate-access-token.md
  docs/api/tutorials/references/prepare-datahub.md
  docs/imgs/apis/tutorials/column-description-added.png
  docs/imgs/apis/tutorials/datahub-main-ui.png
  docs/imgs/apis/tutorials/dataset-created.png
  docs/imgs/apis/tutorials/dataset-description-added.png
  docs/imgs/apis/tutorials/lineage-added.png
  docs/imgs/apis/tutorials/owner-added.png
  docs/imgs/apis/tutorials/sample-ingestion.png
  docs/imgs/apis/tutorials/tag-added.png
  docs/imgs/apis/tutorials/tag-created.png
  docs/imgs/apis/tutorials/term-added.png
  docs/imgs/apis/tutorials/term-created.png
  docs/tools/tutorials/advantages.md
Labels: docs

#7635 docs: fix typo and image
  docs/api/datahub-apis.md
  docs/api/tutorials/creating-terms.md
Labels: docs

#7562 feat(ingestion): powerbi # Amazon Redshift lineage support
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Labels: ingestion

#7418 fix(ingest/dbt): introduce lowercase column urn option
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion, community-contribution

#7412 build(docker): metadata-ingestion images build and add slim version
  .github/workflows/docker-ingestion-base.yml
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-ingestion.yml
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion-base/base-requirements.txt
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion-base/smoke.Dockerfile
  docker/datahub-ingestion-slim/Dockerfile
  docker/datahub-ingestion-slim/build.gradle
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/build.gradle
  settings.gradle
Labels: devops, release-0.10.1

#7602 fix(search): tags with colons exercises search with urns, must follow…
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/SearchFlagsInputMapper.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/SearchResolverTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/SearchUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/SearchUtilsTest.java
Labels: product

#7626 feat(ingest): add auto_materialize_referenced_tags helper
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/utilities/source_helpers.py
  metadata-ingestion/src/datahub/utilities/urns/urn_iter.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
Labels: ingestion

#7572 fix(ingest): remove get_platform_instance_id from stateful ingestion
  metadata-ingestion/src/datahub/cli/state_cli.py
  metadata-ingestion/src/datahub/ingestion/api/ingestion_job_checkpointing_provider_base.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
  metadata-ingestion/src/datahub/ingestion/source/state_provider/datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Labels: ingestion

#7588 fix(ingest/superset): support superset v2
  metadata-ingestion-modules/airflow-plugin/.gitignore
  metadata-ingestion/.gitignore
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/unit/test_superset_source.py
Labels: ingestion

#7624 fix(entity registry): Fix patching aspects onto existing Config based entity
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/MergedEntityRegistry.java
  metadata-models-custom/registry/entity-registry.yaml
Labels: release-0.10.1

#7633 misc fixes
  .github/workflows/docker-ingestion.yml
  .github/workflows/spark-smoke-test.yml
  build.gradle
  docker/docker-compose.dev.yml
  metadata-ingestion/src/datahub/cli/docker_check.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/tests/unit/test_pipeline.py
  metadata-integration/java/datahub-client/src/test/java/datahub/client/kafka/containers/Utils.java
  metadata-integration/java/spark-lineage/build.gradle
  metadata-integration/java/spark-lineage/spark-smoke-test/smoke.sh
  metadata-io/src/main/java/com/linkedin/metadata/config/search/PartialConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/config/search/SearchConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/ESTestConfiguration.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandlerTest.java
  metadata-service/factories/src/main/resources/application.yml
  smoke-test/smoke.sh
Labels: ingestion, product, devops, smoke_test, release-0.10.1

#7599 refactor(ui): Fix scrolling behavior for compact entity profile
  datahub-web-react/src/app/entity/shared/containers/profile/EntityProfile.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHeader.tsx
  datahub-web-react/src/app/lineage/LineageExplorer.tsx
Labels: product

#7583 feat(ingestion): powerbi # support platform instance
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion

#7632 feat(ingestion): powerbi # uniquly identify the multiple instance of same platform
  metadata-ingestion/docs/sources/powerbi/powerbi_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/dataplatform_instance_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/tree_function.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion

#7622 fix(datahub-upgrade) custom timeseries aspect index creation issue.
  docker/docker-compose.dev.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entityregistry/EntityRegistryFactory.java
Labels: devops

#7629 fix(ui): Fix download to CSV flow using Scroll across entities api
  datahub-web-react/src/app/entity/shared/components/styled/search/DownloadAsCsvModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchHeader.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchExtendedMenu.tsx
  datahub-web-react/src/app/search/SearchPage.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
  datahub-web-react/src/graphql/scroll.graphql
Labels: product, release-0.10.1

#7617 fix(search): missing model updates and tests
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/SettingsBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
  metadata-io/src/test/resources/elasticsearch/sample_data/datasetindex_v2.json.gz
  metadata-models/src/main/pegasus/com/linkedin/common/GlobalTags.pdl
  metadata-models/src/main/pegasus/com/linkedin/common/TagAssociation.pdl
Labels: product, release-0.10.1

#7658 fix(revert): remove unnecessary class check
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHook.java
Labels: release-0.10.1

#7659 lint(test): remove unused imports, other test fixes
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/RetentionService.java
  metadata-io/src/test/java/com/linkedin/metadata/AspectGenerationUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHook.java
Labels: product, release-0.10.1

#7558 refactor(ui): Loading schema dynamically for dataset profile
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/shared/__tests__/siblingsUtils.test.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaContext.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/useGetEntitySchema.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/useTagsAndTermsRenderer.tsx
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/graphql/dataset.graphql
  datahub-web-react/src/graphql/fragments.graphql
Labels: product, release-0.10.1

#7645 fix(ui): Address regression in column usage stats + add unit test
  datahub-web-react/src/app/entity/dataset/profile/__tests__/Schema.test.tsx
  datahub-web-react/src/graphql/dataset.graphql
Labels: product, release-0.10.1

#7592 refactor(ui): Make Navigating DataHub UI easier, fix duplicate tracking, duplicate networks calls, + misc optimizations
  datahub-web-react/src/App.tsx
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/analyticsDashboard/components/AnalyticsPage.tsx
  datahub-web-react/src/app/context/useInitialRedirect.ts
  datahub-web-react/src/app/entity/EntityPage.tsx
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/dataset/profile/__tests__/Properties.test.tsx
  datahub-web-react/src/app/entity/dataset/profile/__tests__/SchemaDescriptionField.test.tsx
  datahub-web-react/src/app/entity/dataset/profile/__tests__/Stats.test.tsx
  datahub-web-react/src/app/entity/glossaryTerm/profile/__tests__/GlossaryTermHeader.test.tsx
  datahub-web-react/src/app/entity/group/GroupEditModal.tsx
  datahub-web-react/src/app/entity/group/GroupInfoSideBar.tsx
  datahub-web-react/src/app/entity/shared/components/styled/AddLinkModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/navigateToEntitySearchUrl.ts
  datahub-web-react/src/app/entity/shared/containers/profile/EntityProfile.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHeader.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Recommendations/SidebarRecommendationsSection.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/updateSchemaFilterQueryString.ts
  datahub-web-react/src/app/entity/shared/tabs/Lineage/generateUseSearchResultsViaRelationshipHook.ts
  datahub-web-react/src/app/entity/user/UserEditProfileModal.tsx
  datahub-web-react/src/app/entity/user/UserInfoSideBar.tsx
  datahub-web-react/src/app/glossary/BusinessGlossaryPage.tsx
  datahub-web-react/src/app/glossary/EmptyGlossarySection.tsx
  datahub-web-react/src/app/home/HomePage.tsx
  datahub-web-react/src/app/home/HomePageBody.tsx
  datahub-web-react/src/app/home/HomePageHeader.tsx
  datahub-web-react/src/app/identity/user/UserList.tsx
  datahub-web-react/src/app/lineage/__tests__/LineageTree.test.tsx
  datahub-web-react/src/app/lineage/utils/navigateToLineageUrl.ts
  datahub-web-react/src/app/onboarding/OnboardingTour.tsx
  datahub-web-react/src/app/recommendations/RecommendationModule.tsx
  datahub-web-react/src/app/recommendations/__tests__/Recommendations.test.tsx
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
  datahub-web-react/src/app/search/SearchablePage.tsx
  datahub-web-react/src/app/settings/AccessTokens.tsx
  datahub-web-react/src/app/settings/Preferences.tsx
  datahub-web-react/src/app/settings/SettingsPage.tsx
  datahub-web-react/src/app/shared/NoPageFound.tsx
  datahub-web-react/src/app/shared/RoutedTabs.tsx
  datahub-web-react/src/app/shared/admin/HeaderLinks.tsx
  datahub-web-react/src/app/shared/updateQueryParams.ts
  datahub-web-react/src/providers/EducationStepsProvider.tsx
  datahub-web-react/src/utils/test-utils/TestPageContainer.tsx
Labels: product, release-0.10.1

#7660 fix(ingest/bigquery): Pass whether view is materialized; pass last_altered correctly
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#7644 feat(docs-website): add vercel preview environment
  .github/workflows/documentation.yml
  .gitignore
  docs-website/.gitignore
  docs-website/generateDocsDir.ts
  docs-website/sidebars.js
  metadata-ingestion/scripts/install_deps.sh
  vercel.json
Labels: devops

#7630 fix(ingest/mode): prevent null `last_saved_at` values from breaking runs
  metadata-ingestion/src/datahub/ingestion/source/mode.py
Labels: ingestion

#7595 feat(cli): add user and group commands to create users and groups
  metadata-ingestion/examples/cli_usage/gen_schemas.py
  metadata-ingestion/examples/cli_usage/group/foo.group.dhub.yaml
  metadata-ingestion/examples/cli_usage/group/group.dhub.yaml_schema.json
  metadata-ingestion/examples/cli_usage/group/run_example.sh
  metadata-ingestion/examples/cli_usage/user/bar.user.dhub.yaml
  metadata-ingestion/examples/cli_usage/user/run_example.sh
  metadata-ingestion/examples/cli_usage/user/user.dhub.yaml_schema.json
  metadata-ingestion/src/datahub/api/entities/corpgroup/corpgroup.py
  metadata-ingestion/src/datahub/api/entities/corpuser/corpuser.py
  metadata-ingestion/src/datahub/cli/specific/__init__.py
  metadata-ingestion/src/datahub/cli/specific/file_loader.py
  metadata-ingestion/src/datahub/cli/specific/group_cli.py
  metadata-ingestion/src/datahub/cli/specific/user_cli.py
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/entrypoints.py
  smoke-test/tests/cli/user_groups_cmd/test_group_cmd.py
  smoke-test/tests/cli/user_groups_cmd/test_user_cmd.py
Labels: ingestion

#7665 fix(cli): protect against timeseries get_aspects
  .github/workflows/check-datahub-jars.yml
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion, devops

#7664 fix(cli/delete): include aspect name in dry-run message
  metadata-ingestion/src/datahub/cli/delete_cli.py
Labels: ingestion

#7662 fix(lineage): change default lineage time window to All Time
  datahub-web-react/src/app/entity/shared/tabs/Lineage/ImpactAnalysis.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/LineageTabTimeSelector.tsx
  datahub-web-react/src/app/lineage/LineageTimeSelector.tsx
  datahub-web-react/src/app/lineage/controls/LineageVizTimeSelector.tsx
  datahub-web-react/src/app/lineage/utils/lineageUtils.ts
  datahub-web-react/src/app/lineage/utils/navigateToLineageUrl.ts
  datahub-web-react/src/app/lineage/utils/useGetLineageTimeParams.ts
Labels: product, release-0.10.1

#7656 feat(ingest/bigquery): emit create operation event for view
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#7675 perf(ingest): Increase default rest sink parallelism
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion

#7636 docs: add guides on deleting entities
  docs-website/sidebars.js
  docs/api/datahub-apis.md
  docs/api/tutorials/deleting-entities-by-urn.md
  docs/imgs/apis/tutorials/dataset-deleted.png
  metadata-ingestion/examples/library/delete_dataset.py
Labels: docs

#7677 fix(cli): allow usage without kafka
  metadata-ingestion/src/datahub/api/entities/corpgroup/corpgroup.py
  metadata-ingestion/src/datahub/api/entities/corpuser/corpuser.py
Labels: ingestion

#7574 feat(docs-website): add docs on creating users and groups
  docs-website/sidebars.js
  docs/api/tutorials/creating-users-and-groups.md
  docs/cli.md
  docs/imgs/apis/tutorials/group-upserted.png
  docs/imgs/apis/tutorials/user-upserted.png
  metadata-ingestion/examples/library/upsert_group.py
  metadata-ingestion/examples/library/upsert_user.py
Labels: docs

#7681 chore(ci): add coverage code for python
  .github/workflows/metadata-ingestion.yml
  .gitignore
  metadata-ingestion/build.gradle
Labels: ingestion, devops

#7679 doc(release): managed datahub v0.2.4 release notes
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_4.md
Labels: docs

#7609 refactor(ingest/bigquery): add inline comments + refactor in table name parsing
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#7686 fix(ingest/looker): skip empty user ids for usage
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
Labels: ingestion

#7674 fix(ingest/dbt): enable incremental lineage by default
  docs-website/.gitignore
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: ingestion

#7685 fix(ingest/bigquery): Fix BigQueryTableType enum accesses
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#7683 fix(ingest/looker): correct looker/lookml capability reports
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Labels: ingestion

#7684 feat(ingest/looker): enable looker usage ingestion by default
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/tests/integration/looker/test_looker.py
Labels: ingestion

#7693 doc(freshness): add faq for dataset freshness
  docs/faq-using-datahub.md
Labels: docs

#7695 chore(lint): fix lint in looker
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Labels: ingestion

#7694 fix(ingest/bigquery): quote string constants in query
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Labels: ingestion

#7689 perf(ingest): Improve FileBackedDict iteration performance; minor refactoring
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_collections.py
Labels: ingestion

#7697 feat(quickstart): move quickstart back to master
  docker/quickstart/quickstart_version_mapping.yaml
Labels: devops

#7673 test(ingest/dbt): add test for column meta match
  metadata-ingestion/src/datahub/utilities/mapping.py
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/sample_dbt_manifest.json
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: ingestion

#7581 feat(ingest/postgres): support extracting metadata from all databases in single recipe
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/tests/integration/postgres/postgres_all_db_mces_with_db_golden.json
  metadata-ingestion/tests/integration/postgres/postgres_all_db_to_file_with_db_estimate_row_count.yml
  metadata-ingestion/tests/integration/postgres/setup/setup.sql
  metadata-ingestion/tests/integration/postgres/test_postgres.py
  metadata-ingestion/tests/unit/test_postgres_source.py
Labels: ingestion

#7612 docs(): generate docs for our Python SDK
  docs-website/README.md
  docs-website/package.json
  docs-website/sidebars.js
  docs-website/sphinx/.gitignore
  docs-website/sphinx/Makefile
  docs-website/sphinx/_static/.gitkeep
  docs-website/sphinx/apidocs/builder.rst
  docs-website/sphinx/apidocs/clients.rst
  docs-website/sphinx/apidocs/models.rst
  docs-website/sphinx/basic.css
  docs-website/sphinx/cli.rst
  docs-website/sphinx/conf.py
  docs-website/sphinx/convert_sphinx_to_docusaurus.py
  docs-website/sphinx/index.rst
  docs-website/sphinx/requirements.txt
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/tests/unit/test_rest_emitter.py
Labels: ingestion

#7698 fix(ingest/redshift): Lineage query fix to work with the latest redshift
  metadata-ingestion/src/datahub/ingestion/source/sql/redshift.py
Labels: ingestion

#7701 feat(ingestion): azure-ad stateful ingestion
  metadata-ingestion/src/datahub/ingestion/source/identity/azure_ad.py
  metadata-ingestion/tests/integration/azure_ad/azure_ad_groups_deleted_groupDisplayName3.json
  metadata-ingestion/tests/integration/azure_ad/azure_ad_mces_no_groups_golden_mcp.json
  metadata-ingestion/tests/integration/azure_ad/test_azure_ad.py
Labels: ingestion

#7706 chore(ingest): formatting + cleanup MCPW usages
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/extractor/json_schema_util.py
  metadata-ingestion/src/datahub/ingestion/source/confluent_schema_registry.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_utils.py
  metadata-ingestion/src/datahub/ingestion/source/sql/two_tier_sql_source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/lite/duckdb_lite.py
  metadata-ingestion/tests/cli/test_quickstart_version_mapping.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
  metadata-ingestion/tests/integration/powerbi/test_stateful_ingestion.py
  metadata-ingestion/tests/unit/test_check_upgrade.py
Labels: ingestion

#7690 test(ingest/bigquery): Add performance testing framework for bigquery usage
  docs-website/generateDocsDir.ts
  metadata-ingestion/setup.cfg
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/tests/performance/README.md
  metadata-ingestion/tests/performance/__init__.py
  metadata-ingestion/tests/performance/bigquery.py
  metadata-ingestion/tests/performance/data_generation.py
  metadata-ingestion/tests/performance/data_model.py
  metadata-ingestion/tests/performance/test_bigquery_usage.py
Labels: ingestion

#7711 fix(docs): Fixing timeseries delete doc until code path is fixed
  docs/how/delete-metadata.md
Labels: docs

#7655 docs: add concept section
  docs-website/sidebars.js
  docs/what-is-datahub/datahub-concepts.md
Labels: docs

#6495 JWT authenticator with asymmetric PublicKey verification for JWT token.
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/authenticator/DataHubJwtTokenAuthenticator.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/token/DataHubJwtSigningKeyResolver.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/authenticator/DataHubJwtTokenAuthenticatorTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/token/DataHubJwtSigningKeyResolverTest.java
Labels: community-contribution, devops

#7712 feat(docs): support inlining code snippets from files
  docs-website/README.md
  docs-website/generateDocsDir.ts
  docs-website/package.json
  metadata-ingestion/scripts/modeldocgen.py
  metadata-models/docs/entities/assertion.md
  metadata-models/docs/entities/dataset.md
Labels: ingestion

#7552 feat(ingestion) Allow for ingestion to read files remotely
  metadata-ingestion/src/datahub/configuration/config_loader.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
  metadata-ingestion/src/datahub/ingestion/source_config/csv_enricher.py
  metadata-ingestion/tests/integration/remote/content/business_glossary.yml
  metadata-ingestion/tests/integration/remote/content/csv_enricher_test_data.csv
  metadata-ingestion/tests/integration/remote/content/file_lineage.yml
  metadata-ingestion/tests/integration/remote/content/mce_list.json
  metadata-ingestion/tests/integration/remote/docker-compose.yml
  metadata-ingestion/tests/integration/remote/golden/remote_enricher_golden.json
  metadata-ingestion/tests/integration/remote/golden/remote_file_golden.json
  metadata-ingestion/tests/integration/remote/golden/remote_glossary_golden.json
  metadata-ingestion/tests/integration/remote/golden/remote_lineage_golden.json
  metadata-ingestion/tests/integration/remote/test_remote.py
Labels: ingestion

#7708 docs(okta): add how to use email in urns
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
Labels: ingestion

#7717 feat(ingest/snowflake): hide `host_port` from snowflake docs
  metadata-ingestion/src/datahub/configuration/pydantic_field_deprecation.py
  metadata-ingestion/src/datahub/configuration/source_common.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/tests/unit/test_pydantic_validators.py
  metadata-ingestion/tests/unit/test_snowflake_source.py
Labels: ingestion

#7723 feat(ingest/bigquery): Capture all operation types when ingesting operational stats
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#7700 doc(redshift) - Adding Redshift ingestion quickstart guide
  docs-website/sidebars.js
  docs/quick-ingestion-guides/bigquery/setup.md
  docs/quick-ingestion-guides/redshift/configuration.md
  docs/quick-ingestion-guides/redshift/overview.md
  docs/quick-ingestion-guides/redshift/setup.md
  docs/quick-ingestion-guides/snowflake/setup.md
Labels: docs
