Repository datahub-project/datahub, pull requests merged in 2023-02, with the labels that each got.

#7189 fix(test): spark-lineage # build task as dependency of integrationTest
  metadata-integration/java/spark-lineage/build.gradle
  metadata-integration/java/spark-lineage/spark-smoke-test/smoke.sh
Labels: ingestion

#7203 chore(sample): add status removed aspect for sample data
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
Labels: ingestion

#7194 docs(managed datahub): release notes for v0.1.73
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_1_69.md
  docs/managed-datahub/release-notes/v_0_1_70.md
  docs/managed-datahub/release-notes/v_0_1_72.md
  docs/managed-datahub/release-notes/v_0_1_73.md
Labels: docs

#7206 fix(bootstrapdata): update timestamp to be in the last 1 year
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
Labels: ingestion

#7207 fix(ingest/bigquery): quoting for APPROX_COUNT_DISTINCT in BigQuery
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion, community-contribution

#7210 fix(test): missing variables in test causing error in logs
  smoke-test/tests/read_only/test_analytics.py
Labels: smoke_test

#7125 feat(ingest): Add custom properties to the ldap ingestion
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/corpuser/mappers/CorpUserMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_memberof_mces_golden.json
  metadata-ingestion/tests/integration/ldap/test_ldap.py
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserInfo.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: ingestion, product, devops

#7215 fix(ui) Increase the number of assertions that we query for in tab
  datahub-web-react/src/graphql/dataset.graphql
Labels: product

#7232 fix(ci): trivy code scanning fix
  .github/workflows/docker-unified.yml
Labels: devops

#7213 feat(glue): Use table name as human-readable name for Glue ingestion
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/glue_deleted_actor_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_platform_instance_golden.json
Labels: ingestion, community-contribution

#7198 feat(ui): Supporting display of columns and storage count in previews
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetProfileMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetProfileMapperTest.java
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/dataset/preview/Preview.tsx
  datahub-web-react/src/app/entity/dataset/profile/stats/stats/DatasetStatsSummarySubHeader.tsx
  datahub-web-react/src/app/entity/dataset/shared/DatasetStatsSummary.tsx
  datahub-web-react/src/app/entity/dataset/shared/FormattedBytesStat.tsx
  datahub-web-react/src/app/shared/__tests__/formatNumber.test.ts
  datahub-web-react/src/app/shared/formatNumber.ts
  datahub-web-react/src/graphql/dataset.graphql
  datahub-web-react/src/graphql/search.graphql
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
Labels: ingestion, product

#7211 fix(gms): Fixes delete references for single relationship aspects
  metadata-io/src/main/java/com/linkedin/metadata/entity/DeleteEntityService.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/DeleteEntityServiceTest.java
Labels: product

#7225 docs(ingest/lineage): clarify name field in entity config for file based lineage
  metadata-ingestion/docs/sources/file-based-lineage/datahub-lineage-file.md
Labels: ingestion

#7227 fix(ui): typo 'Documenataion'
  datahub-web-react/src/app/entity/shared/EntityDropdown/CreateGlossaryEntityModal.tsx
Labels: community-contribution, product

#7220 fix(cli/delete): skip references prompt if deleting an aspect
  metadata-ingestion/src/datahub/cli/delete_cli.py
Labels: ingestion

#7216 fix(ingest/tableau): implement workbook_page_size parameter
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#7214 fix(gms): Corrects MCP generation in async mode
  metadata-dao-impl/kafka-producer/src/main/java/com/linkedin/metadata/dao/producer/KafkaEventProducer.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-io/src/main/java/com/linkedin/metadata/event/EventProducer.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
Labels: product

#7223 fix(ingest): redshift # build late binding view lineage when sql written in upper case
  metadata-ingestion/src/datahub/ingestion/source/sql/redshift.py
Labels: ingestion, community-contribution

#7199 fix(siblings) Fix editing of schema fields for siblings with unequal schemas
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchAddTagsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchAddTermsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateDescriptionResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/SiblingsUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/SiblingsUtilsTest.java
  datahub-web-react/src/app/entity/shared/siblingUtils.ts
Labels: product

#7196 fix(ingest-idp): emit empty GroupMembership when there are no groups
  metadata-ingestion/src/datahub/ingestion/source/identity/azure_ad.py
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/tests/integration/azure_ad/azure_ad_groups.json
  metadata-ingestion/tests/integration/azure_ad/azure_ad_mces_golden_default_config.json
  metadata-ingestion/tests/integration/azure_ad/azure_ad_mces_golden_empty_group_membership.json
  metadata-ingestion/tests/integration/azure_ad/test_azure_ad.py
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_stateful.json
  metadata-ingestion/tests/integration/okta/okta_mces_golden_custom_user_name_regex.json
  metadata-ingestion/tests/integration/okta/okta_mces_golden_default_config.json
  metadata-ingestion/tests/integration/okta/okta_mces_golden_include_deprovisioned_suspended_users.json
  metadata-ingestion/tests/integration/okta/okta_users.json
  metadata-ingestion/tests/integration/okta/test_okta.py
Labels: ingestion

#7237 refactor(docs): Minor language updates for kafka source doc header
  metadata-ingestion/docs/sources/kafka/README.md
Labels: ingestion

#7239 chore(log/docs): improve error log, docs
  docs-website/sidebars.js
  docs/api/restli/restore-indices.md
  docs/how/restore-indices.md
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
Labels: docs, devops

#7234 fix(dev.sh): Add context to kafka-setup build
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.yml
Labels: devops

#7242 fix(elasticsearch): fix orphan index clean up pattern, consistent top…
  docker/kafka-setup/Dockerfile
  docker/kafka-setup/env/docker.env
  docker/kafka-setup/kafka-setup.sh
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ReindexConfig.java
Labels: product, devops

#7244 Update data_platforms.json
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: devops

#7236 fix(autocomplete): Use normal properties name instead of urn name in autocomplete
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
Labels: product

#7254 fix(frontend logs): Silencing harmless log messages (and adding path for future)
  datahub-frontend/app/log/LogMessageFilter.java
  datahub-frontend/app/security/AuthenticationManager.java
  datahub-frontend/conf/logback.xml
  datahub-frontend/run/logback.xml
Labels: product

#7250 fix(docker): fix ability to use non-default reg
  docker/mysql-setup/build.gradle
Labels: devops

#7246 logging(elasticsearch): improve messaging in orphan index detection
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
Labels: product, devops

#7248 chore(ci): update base image dependencies
  docker/datahub-ingestion/base-requirements.txt
Labels: devops

#7240 docs(graphql): remove reference of non-existent gms.graphql
  datahub-graphql-core/README.md
Labels: product

#7226 Add graphql error and call metrics at startuptime
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/GraphQLController.java
Labels: devops

#7241 fix(cli): update message when pulling docker images
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion

#7186 fix(ingest/tableau): handle missing query in tableau views
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
Labels: ingestion

#7202 feat(ingest/s3): use latest file to infer schema metadata
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Labels: ingestion

#7263 fix(schema-blame): check if list of ChangeTransactions is empty before processing
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/timeline/GetSchemaBlameResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/timeline/mappers/SchemaBlameMapper.java
Labels: product

#7264 fix(change-events): guard against NPE's
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/DataProcessInstanceRunEventChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
Labels: product

#7266 fix(docker): add env variable to control mysql setup image, sort dock…
  docker/docker-compose-without-neo4j.override.yml
  docker/docker-compose.override.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
  docker/quickstart/docker-compose.monitoring.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  docker/quickstart/generate_docker_quickstart.py
Labels: devops

#7261 chore(logs): clean logs scanning location
  datahub-frontend/conf/logback.xml
  datahub-frontend/run/logback.xml
  metadata-jobs/mae-consumer-job/src/main/resources/logback.xml
  metadata-jobs/mce-consumer-job/src/main/resources/logback.xml
  metadata-service/war/src/main/resources/logback.xml
  metadata-utils/build.gradle
  metadata-utils/src/main/java/com/linkedin/metadata/utils/log/LogMessageFilter.java
Labels: product, devops

#7257 fix(profile): use department name if available
  datahub-web-react/src/app/entity/user/UserProfile.tsx
Labels: product

#7269 fix(async ingest): Fix async ingest path
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
Labels: product

#7272 fix(ui): fix spacing on share buttons
  datahub-web-react/src/app/shared/share/ShareButtonMenu.tsx
  datahub-web-react/src/app/shared/share/items/CopyLinkMenuItem.tsx
  datahub-web-react/src/app/shared/share/items/CopyUrnMenuItem.tsx
  datahub-web-react/src/app/shared/share/items/EmailMenuItem.tsx
Labels: product

#7259 fix(test): cleanup test on setup error
  smoke-test/rollback-reports/2023-02-05 18:00:01/config.json
  smoke-test/rollback-reports/2023-02-05 18:00:01/unsafe_entities.csv
  smoke-test/tests/cypress/package-lock.json
  smoke-test/tests/delete/delete_test.py
Labels: smoke_test

#7273 feat(cli): add 0.10 awareness to upgrade prompt
  metadata-ingestion/src/datahub/upgrade/upgrade.py
Labels: ingestion

#7267 chore(ci): cleanup build to remove dependencies duckdb, dev
  docker/datahub-ingestion/base-requirements.txt
Labels: devops

#7245 feat(oidc): add options for preferred jws algorithm
  datahub-frontend/app/auth/AuthUtils.java
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
  datahub-frontend/app/auth/sso/oidc/OidcProvider.java
  datahub-frontend/conf/application.conf
  docs/authentication/guides/sso/configure-oidc-react.md
Labels: docs, product

#7276 chore(cypress): upgrade cypress to latest v12.5.1
  smoke-test/tests/cypress/cypress.config.js
  smoke-test/tests/cypress/cypress.json
  smoke-test/tests/cypress/cypress/e2e/analytics/analytics.js
  smoke-test/tests/cypress/cypress/e2e/containers/containers.js
  smoke-test/tests/cypress/cypress/e2e/domains/domains.js
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary.js
  smoke-test/tests/cypress/cypress/e2e/glossary/glossaryTerm.js
  smoke-test/tests/cypress/cypress/e2e/home/home.js
  smoke-test/tests/cypress/cypress/e2e/lineage/impact_analysis.js
  smoke-test/tests/cypress/cypress/e2e/lineage/lineage_graph.js
  smoke-test/tests/cypress/cypress/e2e/login/login.js
  smoke-test/tests/cypress/cypress/e2e/ml/feature_table.js
  smoke-test/tests/cypress/cypress/e2e/ml/model.js
  smoke-test/tests/cypress/cypress/e2e/mutations/add_users.js
  smoke-test/tests/cypress/cypress/e2e/mutations/deprecations.js
  smoke-test/tests/cypress/cypress/e2e/mutations/domains.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managed_ingestion.js
  smoke-test/tests/cypress/cypress/e2e/mutations/mutations.js
  smoke-test/tests/cypress/cypress/e2e/operations/operations.js
  smoke-test/tests/cypress/cypress/e2e/schema_blame/schema_blame.js
  smoke-test/tests/cypress/cypress/e2e/search/search.js
  smoke-test/tests/cypress/cypress/e2e/siblings/siblings.js
  smoke-test/tests/cypress/cypress/e2e/task_runs/task_runs.js
  smoke-test/tests/cypress/cypress/e2e/views/manage_views.js
  smoke-test/tests/cypress/cypress/e2e/views/view_select.js
  smoke-test/tests/cypress/cypress/support/commands.js
  smoke-test/tests/cypress/cypress/support/e2e.js
  smoke-test/tests/cypress/integration_test.py
  smoke-test/tests/cypress/package.json
  smoke-test/tests/cypress/yarn.lock
Labels: smoke_test

#7277 fix(ingest/bigquery) - Fix for Bigquery parser quoted semicolon in the FROM table name as well
  metadata-ingestion/src/datahub/utilities/bigquery_sql_parser.py
  metadata-ingestion/tests/unit/test_bigquery_sql_parser.py
Labels: ingestion

#7278 chore(ci): ensure kafka setup runs for smoke tests
  .github/workflows/check-quickstart.yml
  smoke-test/run-quickstart.sh
Labels: devops, smoke_test

#7282 feat(ingest/bigquery) - Reporting current state of BigQuery ingestion
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#7229 feat(api): Timeline API supports Glossary Terms now
  docs/dev-guides/timeline.md
  metadata-io/src/main/java/com/linkedin/metadata/timeline/TimelineServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/GlossaryTermInfoChangeEventGenerator.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeline/EntityChangeEventGeneratorRegistryFactory.java
Labels: docs, community-contribution, product, devops, platform

#7283 getting rid of build locally(broken) for ./gradlew quickstart(working)
  docs/developers.md
Labels: docs

#7286 chore(ci): remove redundant quickstart check
  .github/workflows/check-quickstart.yml
Labels: devops

#7284 Update smoke.sh
  metadata-integration/java/spark-lineage/spark-smoke-test/smoke.sh
Labels: ingestion

#7281 docs(release): updating docs per release process
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  docs/how/updating-datahub.md
Labels: docs, product

#7291 doc(access): move heading above the images
  docs/authorization/access-policies-guide.md
Labels: docs

#7280 fix(docs): kafka - update docs to indicate protobuf support
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
Labels: ingestion

#7302 fix(system-update): fixes system-update with more than 1 partition
  docker/kafka-setup/kafka-setup.sh
  docker/kafka-setup/kafka-topic-workers.sh
  metadata-jobs/mae-consumer-job/src/main/java/com/linkedin/metadata/kafka/MaeConsumerApplication.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/boot/ApplicationStartupListener.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHookTest.java
  metadata-jobs/mce-consumer-job/src/main/java/com/linkedin/metadata/kafka/MceConsumerApplication.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/boot/ApplicationStartupListener.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/boot/DataHubUpgradeKafkaListener.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/DataHubUpgradeKafkaListener.java
Labels: devops

#7301 fix(ui): fix styling on sign up and reset screens
  datahub-web-react/src/app/auth/ResetCredentials.tsx
  datahub-web-react/src/app/auth/SignUp.tsx
Labels: product

#7306 fix(cypress): fix broken cypress tag tests
  smoke-test/tests/cypress/cypress/e2e/mutations/mutations.js
Labels: smoke_test

#7296 chore(ci): speed up ingestion test runs
  .github/workflows/metadata-ingestion.yml
Labels: devops

#7311 docs(release notes): Update updating-datahub.md
  docs/how/updating-datahub.md
Labels: docs

#7297 fix(ingest/bigquery): Usage rate limiting and lineage exported log fix
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#7295 fix(bootstrap): do not re-run retention policy ingestion
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/RetentionService.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/cassandra/CassandraRetentionService.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanRetentionService.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/BootstrapStep.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/factories/IngestRetentionPoliciesStepFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestRetentionPoliciesStep.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/RemoveClientIdAspectStep.java
Labels: product, devops

#7308 refactor(github): change github reference to git references
  metadata-ingestion/src/datahub/configuration/git.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/git/test_git_clone.py
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion

#7292 feat(cli): improve startup time
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/api/registry.py
  metadata-ingestion/src/datahub/ingestion/extractor/mce_extractor.py
  metadata-ingestion/src/datahub/ingestion/reporting/reporting_provider_registry.py
  metadata-ingestion/src/datahub/ingestion/sink/sink_registry.py
  metadata-ingestion/src/datahub/ingestion/source/source_registry.py
  metadata-ingestion/src/datahub/ingestion/source/state_provider/state_provider_registry.py
  metadata-ingestion/src/datahub/ingestion/transformer/transform_registry.py
  metadata-ingestion/src/datahub/lite/duckdb_lite.py
  metadata-ingestion/src/datahub/lite/duckdb_lite_config.py
  metadata-ingestion/src/datahub/lite/lite_registry.py
  metadata-ingestion/src/datahub/upgrade/upgrade.py
  metadata-ingestion/tests/unit/test_plugin_system.py
Labels: ingestion

#7303 fix(search): correctly filter fields in EDITABLE_FIELD_TO_QUERY_PAIRS with a list of values
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandlerTest.java
Labels: community-contribution, product

#7315 fix(ingest/bigquery) Lowering significantly the memory usage of the BigQuery connector
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/sink/blackhole.py
  metadata-ingestion/src/datahub/ingestion/sink/sink_registry.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
Labels: ingestion

#7313 chore(ingest): upgrade to mypy 1.0.0
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/api/ingestion_job_checkpointing_provider_base.py
  metadata-ingestion/src/datahub/ingestion/api/sink.py
Labels: ingestion

#7312 fix(tests): Remove rollback-reports, add to ignore
  .gitignore
  smoke-test/rollback-reports/2023-02-05 18:00:01/config.json
  smoke-test/rollback-reports/2023-02-05 18:00:01/unsafe_entities.csv
Labels: smoke_test

#7319 perf(ingest): speed up MCPW.validate()
  metadata-ingestion/src/datahub/emitter/mcp.py
Labels: ingestion

#7323 fix(ingest/bigquery): Fix for table cache was not cleared
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/tests/unit/test_bigquery_profiler.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#7326 fix(ingest/bigquery): Improve memory usage of lineage extraction
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#7322 fix(docs): sort sources by display name in doc's sidebar
  docs-website/src/pages/_components/Logos/index.js
  docs/cli.md
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic.py
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: ingestion, docs, devops

#7317 fix(transformers): pattern add domain transformer - enable replace_existing
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_domain.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#7314 fix(ci): remove command from cache key as irrelevant for dependency
  .github/workflows/metadata-ingestion.yml
Labels: devops

#7238 fix(check upgrade): update logic to compare server and client version
  metadata-ingestion/src/datahub/upgrade/upgrade.py
  metadata-ingestion/tests/unit/test_check_upgrade.py
Labels: ingestion

#7328 fix(tracking): Remove 'title' field from tracking
  metadata-service/auth-impl/src/main/java/com/datahub/telemetry/TrackingService.java
Labels: devops

#7249 fix(homepage): make entity counts execute in parallel and make cache configurable
  metadata-io/src/main/java/com/linkedin/metadata/config/CacheConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/config/EntityDocCountCacheConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/config/HomepageCacheConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/config/PrimaryCacheConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/search/aggregator/AllEntitiesSearchAggregator.java
  metadata-io/src/main/java/com/linkedin/metadata/search/cache/EntityDocCountCache.java
  metadata-io/src/test/java/com/linkedin/metadata/ESSampleDataFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/ESSearchLineageFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/SearchServiceTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/CacheConfig.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/config/ConfigurationProvider.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/AllEntitiesSearchAggregatorFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/SearchServiceFactory.java
  metadata-service/factories/src/main/resources/application.yml
  metadata-utils/src/main/java/com/linkedin/metadata/utils/ConcurrencyUtils.java
Labels: accepted, product, devops

#7330 fix(sso) Retrieve cookie configs separately from SSO configs
  datahub-frontend/app/auth/AuthModule.java
  datahub-frontend/app/auth/AuthUtils.java
  datahub-frontend/app/auth/CookieConfigs.java
  datahub-frontend/app/auth/sso/SsoConfigs.java
  datahub-frontend/app/auth/sso/oidc/OidcCallbackLogic.java
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/app/controllers/SsoCallbackController.java
Labels: product

#7340 logging(cli): dropping neo4j message to debug to avoid confusion
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion

#7219 perf(matadata-io): neo4j generateLineageStatement use shortestPath
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
Labels: community-contribution

#7333 fix(tableau): make Tableau ingestor resilient to timeout exceptions
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion, community-contribution

#7348 fix(ui) Update styles of embedded profile page to match designs
  datahub-web-react/src/app/entity/Entity.tsx
  datahub-web-react/src/app/entity/EntityRegistry.tsx
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entity/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entity/dataPlatform/DataPlatformEntity.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/domain/DomainEntity.tsx
  datahub-web-react/src/app/entity/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entity/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entity/group/Group.tsx
  datahub-web-react/src/app/entity/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entity/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entity/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entity/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entity/mlPrimaryKey/MLPrimaryKeyEntity.tsx
  datahub-web-react/src/app/entity/shared/embed/EmbeddedHeader.tsx
  datahub-web-react/src/app/entity/shared/embed/UpstreamHealth/UpstreamHealth.tsx
  datahub-web-react/src/app/entity/tag/Tag.tsx
  datahub-web-react/src/app/entity/user/User.tsx
  datahub-web-react/src/images/subtractIcon.svg
Labels: product

#7334 fixed links and improved recommendations
  docs/api/datahub-apis.md
  docs/get-started-with-datahub.md
Labels: docs

#7321 gradle(development): add additional commands for development
  datahub-frontend/build.gradle
  datahub-upgrade/build.gradle
  docker/build.gradle
  docker/docker-compose.dev.yml
  docker/elasticsearch-setup/build.gradle
  docker/kafka-setup/build.gradle
  docker/mysql-setup/build.gradle
  docs/docker/development.md
  docs/imgs/development/intellij-remote-debug.png
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mce-consumer-job/build.gradle
  metadata-service/war/build.gradle
Labels: product, devops

#7332 fix(elasticsearch): make alias creation atomic
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
Labels: devops

#7331 removing local airflow from sidebar and adding a warning at the top
  docker/airflow/local_airflow.md
  docs-website/sidebars.js
Labels: devops

#7355 development(docker): add flag to gradle for quickstart
  docker/build.gradle
Labels: devops

#7252 fix(ingest/bigquery): Increase batch size in metadata extraction if no partitioned table involved
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Labels: ingestion

#7310 feat(cli): make deprecations, renames easier to notice
  metadata-ingestion/examples/demo_data/demo_data_to_datahub_rest.dhub.yaml
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/configuration/pydantic_field_deprecation.py
  metadata-ingestion/src/datahub/configuration/source_common.py
  metadata-ingestion/src/datahub/configuration/validate_field_rename.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/utilities/global_warning_util.py
  smoke-test/tests/managed-ingestion/managed_ingestion_test.py
Labels: ingestion

#7367 fix(cli): Corrects search filter for delete
  metadata-ingestion/src/datahub/cli/cli_utils.py
Labels: ingestion

#7363 fix(ingestion/snowflake): Fixing stateful ingestion commit at Snowflake source
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion

#7360 fix(ingestion): powerbi # continue ingestion if m-query parsing fail
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
Labels: ingestion

#7293 feat: add chart entities to similar browsepath as dashboards
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_access_not_allowed.json
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
Labels: ingestion, community-contribution

#7351 fix(lineage): Include maxHops in Lineage Cache Key + misc UI improvements
  datahub-web-react/src/app/entity/shared/containers/profile/EntityProfile.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/nav/ProfileNavBrowsePath.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/ImpactAnalysis.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/LineageTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/LineageTabTimeSelector.tsx
  datahub-web-react/src/app/lineage/LineageExplorer.tsx
  datahub-web-react/src/app/lineage/LineageTimeSelector.tsx
  datahub-web-react/src/app/lineage/controls/LineageVizTimeSelector.tsx
  datahub-web-react/src/app/lineage/utils/lineageUtils.ts
  datahub-web-react/src/app/lineage/utils/navigateToLineageUrl.ts
  datahub-web-react/src/app/lineage/utils/useGetLineageTimeParams.ts
  datahub-web-react/src/app/lineage/utils/useGetTimeParams.ts
  metadata-io/src/main/java/com/linkedin/metadata/search/EntityLineageResultCacheKey.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageSearchServiceTest.java
Labels: product

#7368 refactor(ingest,athena): update athena sample recipe
  metadata-ingestion/docs/sources/athena/athena_recipe.yml
Labels: ingestion

#7369 fix(ingest/looker): do not instantiate LookerDashboardSource on test_connection
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion

#7365 fix(deps): pin snowflake-connector-python
  metadata-ingestion/setup.py
Labels: ingestion

#7361 feat(ingest): json-schema - add json schema support for files and kaf…
  metadata-ingestion/build.gradle
  metadata-ingestion/docs/sources/json-schema/json-schema.md
  metadata-ingestion/docs/sources/json-schema/json-schema_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/extractor/json_ref_patch.py
  metadata-ingestion/src/datahub/ingestion/extractor/json_schema_util.py
  metadata-ingestion/src/datahub/ingestion/source/confluent_schema_registry.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/schema/json_schema.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/tests/unit/schema/test_json_schema_util.py
  metadata-ingestion/tests/unit/test_kafka_source.py
Labels: ingestion

#7344 docs: fix broken link
  docs/README.md
Labels: docs

#7358 chore(versions): bump versions
  build.gradle
  buildSrc/build.gradle
  datahub-upgrade/build.gradle
  docker/kafka-setup/Dockerfile
  entity-registry/custom-test-model/build.gradle
  metadata-io/build.gradle
  metadata-models-custom/build.gradle
Labels: devops

#7378 test(cli): add check for missing init files
  metadata-ingestion/src/datahub/ingestion/source/schema/__init__.py
  metadata-ingestion/tests/unit/test_packages.py
Labels: ingestion, devops

#7349 fix(ingest/snowflake): Improve memory usage of metadata extraction
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
Labels: ingestion

#7354 feat(elasticsearch): advanced query, identity autocomplete, exact match weight
  docs/how/search.md
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CachingEntitySearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/SettingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandlerTest.java
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpGroupInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/CorpGroupKey.pdl
Labels: docs, platform

#7382 chore(version): additional version bumps & suppressions
  build.gradle
  datahub-frontend/play.gradle
  datahub-upgrade/build.gradle
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
Labels: product, devops

#7374 fix(lineage): Fix Upstream + Downstream Count in presence of Soft-Deleted / Non-Existent references
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityLineageResultResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/EntityRegistry.tsx
  datahub-web-react/src/app/lineage/utils/navigateToLineageUrl.ts
  datahub-web-react/src/graphql/lineage.graphql
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-io/src/main/java/com/linkedin/metadata/shared/ValidationUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/sibling/SiblingGraphServiceTest.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/graph/EntityLineageResult.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.lineage.relationships.snapshot.json
Labels: product, devops

#7383 fix(dep/json-schema): Fixing json-schema dependencies
  metadata-ingestion/setup.py
Labels: ingestion

#7341 feat(analytics): add monthly active users in highlights
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetChartsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetHighlightsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/service/AnalyticsService.java
  datahub-web-react/src/app/analyticsDashboard/components/TimeSeriesChart.tsx
  datahub-web-react/src/app/shared/time/timeUtils.tsx
Labels: product

#7372 fix(search): fix search filters, handle detection of keyword subfield
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ResolverUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/MostPopularSource.java
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlyEditedSource.java
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlyViewedSource.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/query/ESAggregatedStatsDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/ESSampleDataFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandlerTest.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
Labels: product, devops, platform

#7389 build(scan): enable trivy scan ingestion-base
  .github/workflows/docker-ingestion-base.yml
Labels: devops

#7309 chore(ci): relax bigquery dependency
  metadata-ingestion/setup.py
Labels: ingestion

#7394 build(idea): mark metadata-ingestion sources and tests
  metadata-ingestion/build.gradle
Labels: ingestion

#7016 fix(ingest/oracle) add database name to oracle urn name
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/integration/oracle/common.py
  metadata-ingestion/tests/integration/oracle/golden_test_ingest_with_database.json
  metadata-ingestion/tests/integration/oracle/golden_test_ingest_with_out_database.json
  metadata-ingestion/tests/integration/oracle/test_oracle.py
Labels: ingestion, community-contribution

#7399 fix(docs) Update transformers docs to note not minting urns
  metadata-ingestion/docs/transformer/intro.md
Labels: ingestion

#7390 chore(ci): update base dependencies
  .github/workflows/docker-ingestion-base.yml
  docker/datahub-ingestion/base-requirements.txt
Labels: devops

#7385 fix(search): exact match updates per review
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilderTest.java
Labels: product

#7397 fix(ingest): Do not require platform_instance for stateful ingestion
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/source_config/pulsar.py
  metadata-ingestion/tests/unit/test_kafka_source.py
Labels: ingestion

#7387 Dockerize updates
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/elasticsearch-setup/Dockerfile
  docker/mysql-setup/Dockerfile
  docker/postgres-setup/Dockerfile
  docker/postgres-setup/build.gradle
  settings.gradle
Labels: devops

#7407 feat(timeBasedLineage): add feature flag for always producing MCL
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-io/src/test/java/com/linkedin/metadata/AspectUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/ESSampleDataFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/ESSearchLineageFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/CassandraAspectMigrationsDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/CassandraEntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/DeleteEntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanAspectMigrationsDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/CassandraTimelineServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/EbeanTimelineServiceTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHookTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/EntityServiceFactory.java
  metadata-service/factories/src/main/resources/application.yml
  metadata-service/openapi-servlet/src/test/java/mock/MockEntityService.java
Labels: product, devops

#7408 fix(ingest/bigquery): Prefer parsed lineage for view over lineage from audit logs
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
Labels: ingestion

#7393 feat(ingest/kafka-connect): add config to lowercase urns, do not emit…
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_mongo_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_to_file.yml
  metadata-ingestion/tests/integration/kafka-connect/setup/mysql-setup.sql
Labels: ingestion

#7392 feat(frontend): add additional tabs to glossary terms view
  datahub-web-react/src/app/entity/glossaryTerm/profile/GlossaryRelatedTermsResult.tsx
  datahub-web-react/src/app/entity/glossaryTerm/profile/RelatedTerm.tsx
  datahub-web-react/src/app/entity/shared/constants.ts
  datahub-web-react/src/graphql/glossaryTerm.graphql
Labels: community-contribution, product

#6614 feat(auth): REST API authorization
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/AuthUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/DeleteAssertionResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/deprecation/UpdateDeprecationResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/EntityPrivilegesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/lineage/UpdateLineageResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/DescriptionUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/DeleteUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/DeprecationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/DomainUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/EmbedUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/GlossaryUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/LabelUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/LinkUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/OwnerUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/operation/ReportOperationResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/tag/SetTagColorResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/ChartType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/corpgroup/CorpGroupType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/corpuser/CorpUserType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/DashboardType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataflow/DataFlowType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datajob/DataJobType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/DatasetType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/notebook/NotebookType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/tag/TagType.java
  docs-website/generateDocsDir.ts
  docs/authorization/access-policies-guide.md
  docs/authorization/policies.md
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/AuthUtil.java
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/ConjunctivePrivilegeGroup.java
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/DisjunctivePrivilegeGroup.java
  metadata-service/factories/src/main/resources/application.yml
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/entities/EntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/exception/UnauthorizedException.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/platform/entities/PlatformEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/timeline/TimelineController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/util/MappingUtil.java
  metadata-service/openapi-servlet/src/test/java/entities/EntitiesControllerTest.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/BatchIngestionRunResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityV2Resource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityVersionedV2Resource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/lineage/Relationships.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/platform/PlatformResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/restli/RestliUtils.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: docs, platform

#7398 fix(ingest/kafka): Remove topic from browse path
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/tests/integration/kafka/kafka_mces_golden.json
  metadata-ingestion/tests/unit/test_kafka_source.py
Labels: ingestion

#7364 feat(ingest/bigquery) - Emit cross-project usage from gcp logs
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#7414 docs(managed datahub): release notes for v0.2.1
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_1.md
Labels: docs

#7405 fix(frontend) support utf-8 charset
  datahub-frontend/app/client/AuthServiceClient.java
Labels: product

#7415 fix(ingest/bigquery) Filter upstream lineage by list of existing tables
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/tests/unit/test_bigquery_lineage.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#7423 refactor(ingest): lookml - fix up golden files in normalized form
  metadata-ingestion/tests/integration/lookml/expected_output.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_bigquery.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_badsql_parser.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_deny_pattern.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
  metadata-ingestion/tests/integration/lookml/lookml_reachable_views.json
Labels: ingestion

#7416 fix(ingest/bigquery): Fixing double quoting in profiling approx count query
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#7428 fix(ingest): lookml - add support for includes, extends, view_name i…
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/lookml/expected_output.json
  metadata-ingestion/tests/integration/lookml/lkml_samples/data.model.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples/dataset_owners.explore.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples/owners.view.lkml
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_bigquery.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_badsql_parser.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
  metadata-ingestion/tests/integration/lookml/lookml_reachable_views.json
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion

#7433 fix(recommendations): fix recommendations on homepage
  docker/docker-compose.dev.yml
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/MostPopularSource.java
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlyEditedSource.java
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlyViewedSource.java
Labels: product, devops

#7421 feat(queries): Adding Tooltips to Queries Tab
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Queries/QueriesListSection.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Queries/QueriesTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Queries/QueriesTabToolbar.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Queries/QueryCardQuery.tsx
Labels: product

#7425 fix(analytics): remove zero values being added in charts
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetChartsResolver.java
  datahub-web-react/src/app/analyticsDashboard/components/TimeSeriesChart.tsx
  datahub-web-react/src/app/analyticsDashboard/components/__tests__/timeSeriesChart.test.tsx
  datahub-web-react/src/app/shared/time/__tests__/timeUtils.test.tsx
Labels: product

#7438 docs(ingest): add ingestion configs guide
  metadata-ingestion/developing.md
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
Labels: ingestion

#7429 fix(ingest/bigquery): Querying table metadata details in batch properly
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#7443 fix(ingest/snowflake): fixing Snowflake state issue
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion

#7441 refactor(tests): extract common code
  smoke-test/cypress-dev.sh
  smoke-test/set-cypress-creds.sh
  smoke-test/smoke.sh
  smoke-test/test_e2e.py
  smoke-test/tests/deprecation/deprecation_test.py
  smoke-test/tests/policies/test_policies.py
  smoke-test/tests/utils.py
Labels: smoke_test

#7444 fix date ranges being queried in charts
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetChartsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/util/DateUtil.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/utils/DateUtilTest.java
Labels: product

#7445 feat(tests): allow use of system auth for test session
  smoke-test/tests/utils.py
Labels: smoke_test

#7417 fix(ingest/athena): Fix athena source if dbname is not specified in the connection string
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
Labels: ingestion

#7435 fix(lineage): Fixing Timeline Lineage Filters
  datahub-web-react/src/app/lineage/LineageEntityEdge.tsx
  datahub-web-react/src/app/lineage/LineageEntityNode.tsx
  datahub-web-react/src/graphql/lineage.graphql
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/TimeFilterUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/TimeFilterUtilsTest.java
  metadata-io/src/test/resources/elasticsearch/sample_filters/lineage_query_filters_1.json
  metadata-io/src/test/resources/elasticsearch/sample_filters/lineage_time_query_filters_1.json
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/GraphIndexUtils.java
Labels: product

#7450 chore(ingest): cleanup unused files/vars in tests
  metadata-ingestion/tests/integration/bigquery-usage/bigquery_usages_golden.json
  metadata-ingestion/tests/integration/business-glossary/test_business_glossary.py
  metadata-ingestion/tests/unit/graph/test_client.py
  metadata-ingestion/tests/unit/test_cli_logging.py
Labels: ingestion

#7449 chore(ingest/glue): cleanup deprecated `underlying_platform` config
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/test_glue_source.py
Labels: ingestion

#7451 docs(ingest): add more guidelines for writing sources
  metadata-ingestion/developing.md
Labels: ingestion

#7455 fix(smoke): add missing test resource
  smoke-test/test_e2e.py
  smoke-test/test_resources/bigquery_usages_golden.json
Labels: smoke_test

#7439 docs(ingest): add details about backwards compatibility guarantees
  metadata-ingestion/README.md
  metadata-ingestion/src/datahub/cli/ingest_cli.py
Labels: ingestion

#7413 fix(ui) Merge duplicate schema fields on siblings regardless of casing
  datahub-web-react/src/app/entity/shared/__tests__/siblingsUtils.test.ts
  datahub-web-react/src/app/entity/shared/siblingUtils.ts
Labels: product
