Repository datahub-project/datahub, pull requests merged in 2023-09, with the labels that each got.

#8741 fix:small typo on graphql tutorial
  docs/api/tutorials/lineage.md
Labels: docs

#8767 fix(siblings): space icons out
  datahub-web-react/src/app/entity/shared/containers/profile/header/PlatformContent/PlatformContentView.tsx
  datahub-web-react/src/app/search/autoComplete/AutoCompleteEntity.tsx
Labels: product

#8773 fix(frontend): Fix"Logout with OIDC not working"
  datahub-frontend/app/controllers/CentralLogoutController.java
Labels: product

#8742 fix:change global graph url to static-assets
  metadata-ingestion/scripts/modeldocgen.py
Labels: ingestion

#8783 doc(tests): fix endpoint param to push results
  docs/api/restli/evaluate-tests.md
Labels: docs

#8786 chore(analytics): bump version
  datahub-web-react/package.json
  datahub-web-react/yarn.lock
Labels: product, merge-pending-ci, release-0.11.0

#8795 feat(airflow-plugin): add package type information
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/py.typed
Labels: ingestion

#8672 feat(systemMetadata): Adding a lastRunId field system metadata
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/mappers/ChartMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/util/RunInfo.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/util/SystemMetadataUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/container/mappers/ContainerMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataflow/mappers/DataFlowMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datajob/mappers/DataJobMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataplatform/mappers/DataPlatformMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureTableMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelGroupMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLPrimaryKeyMapper.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/utils/SystemMetadataUtilsTest.java
  metadata-integration/java/datahub-client/src/main/resources/MetadataChangeProposal.avsc
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/AspectGenerationUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-models/src/main/pegasus/com/linkedin/mxe/SystemMetadata.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entitiesV2.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entitiesVersionedV2.snapshot.json
Labels: product, devops, merge-pending-ci, release-0.10.6

#8154 added support for group-owners in dataflow entities
  metadata-ingestion/src/datahub/api/entities/datajob/dataflow.py
Labels: ingestion, community-contribution, merge-pending-ci

#8779 fix(ingest/tableau): fix tableau native CLL for snowflake, add type annotations
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#8778 fix(ingest/bigquery): fix partition and median queries for profiling
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/tests/unit/test_bigquery_profiler.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#8775 chore(ingest): upgrade sqlglot fork
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_unnest_columns.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_create_view_as_select.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_with_ctes.json
Labels: ingestion

#8765 feat(ingest): drop sql_metadata parser
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/utilities/sql_parser.py
  metadata-ingestion/tests/unit/test_utilities.py
Labels: ingestion

#8766 fix(ingest): drop `wrap_aspect_as_workunit` method
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
Labels: ingestion

#8788 feat(search): Also de-duplicate the field queries based on field names
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilderTest.java
Labels: product, merge-pending-ci, release-0.11.0

#8537 feat(openapi): entity endpoints & analytics raw
  build.gradle
  buildSrc/build.gradle
  buildSrc/src/main/java/com/linkedin/metadata/models/registry/config
  buildSrc/src/main/java/io/datahubproject/GenerateJsonSchemaTask.java
  buildSrc/src/main/java/io/datahubproject/OpenApiEntities.java
  datahub-frontend/conf/routes
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/config/Entity.java
  li-utils/build.gradle
  metadata-auth/auth-api/build.gradle
  metadata-integration/java/datahub-client/build.gradle
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/search/SearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CachingEntitySearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-models/build.gradle
  metadata-models/src/main/resources/JavaSpring/interface.mustache
  metadata-models/src/main/resources/JavaSpring/model.mustache
  metadata-models/src/main/resources/JavaSpring/pojo.mustache
  metadata-models/src/main/resources/JavaSpring/readme.txt
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/health-servlet/src/main/java/com/datahub/health/config/SpringWebConfig.java
  metadata-service/openapi-analytics-servlet/build.gradle
  metadata-service/openapi-analytics-servlet/src/main/java/io/datahubproject/openapi/config/OpenapiAnalyticsConfig.java
  metadata-service/openapi-analytics-servlet/src/main/java/io/datahubproject/openapi/delegates/DatahubUsageEventsImpl.java
  metadata-service/openapi-analytics-servlet/src/main/resources/JavaSpring/apiController.mustache
  metadata-service/openapi-analytics-servlet/src/main/resources/JavaSpring/readme.txt
  metadata-service/openapi-analytics-servlet/src/main/resources/open-api.yaml
  metadata-service/openapi-analytics-servlet/src/test/java/io/datahubproject/openapi/config/OpenAPIAnalyticsTestConfiguration.java
  metadata-service/openapi-analytics-servlet/src/test/java/io/datahubproject/openapi/delegates/DatahubUsageEventsImplTest.java
  metadata-service/openapi-entity-servlet/build.gradle
  metadata-service/openapi-entity-servlet/generators/build.gradle
  metadata-service/openapi-entity-servlet/generators/src/main/java/io/datahubproject/CustomSpringCodegen.java
  metadata-service/openapi-entity-servlet/src/main/java/io/datahubproject/openapi/delegates/EntityApiDelegateImpl.java
  metadata-service/openapi-entity-servlet/src/main/java/io/datahubproject/openapi/util/OpenApiEntitiesUtil.java
  metadata-service/openapi-entity-servlet/src/main/resources/JavaSpring/api.mustache
  metadata-service/openapi-entity-servlet/src/main/resources/JavaSpring/apiController.mustache
  metadata-service/openapi-entity-servlet/src/main/resources/JavaSpring/readme.txt
  metadata-service/openapi-entity-servlet/src/main/resources/entity-v2.0.yml
  metadata-service/openapi-entity-servlet/src/test/java/io/datahubproject/openapi/config/OpenAPIEntityTestConfiguration.java
  metadata-service/openapi-entity-servlet/src/test/java/io/datahubproject/openapi/delegates/EntityApiDelegateImplTest.java
  metadata-service/openapi-entity-servlet/src/test/java/io/datahubproject/openapi/util/OpenApiEntitiesUtilTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/SpringWebConfig.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/entities/EntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/util/MappingUtil.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/util/ReflectionCache.java
  metadata-service/openapi-servlet/src/test/java/entities/EntitiesControllerTest.java
  metadata-service/schema-registry-api/build.gradle
  metadata-service/schema-registry-servlet/src/main/java/io/datahubproject/openapi/schema/registry/config/SpringWebSchemaRegistryConfig.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-service/war/build.gradle
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
  settings.gradle
Labels: devops, release-0.11.0

#8797 docs(db-retention): update with default setting
  docs/advanced/db-retention.md
Labels: docs, release-0.11.0

#8805 fix(custom-search): fix custom search to be able to use unquoted query
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
Labels: release-0.11.0

#8754 fix(gms): Fixed Recently Viewed section for users with '@' in the URN.
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlyViewedSource.java
Labels: product

#8541 feat(UI): AccessManagement UI to access the role metadata for a dataset
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/App.tsx
  datahub-web-react/src/app/entity/Access/RoleEntity.tsx
  datahub-web-react/src/app/entity/Access/RoleEntityProfile.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/AccessManagement.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/AccessManagerDescription.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/__tests__/AccessManagement.test.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/utils.tsx
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/accessrole.graphql
  datahub-web-react/src/graphql/app.graphql
  datahub-web-react/src/graphql/dataset.graphql
  datahub-web-react/src/graphql/search.graphql
  metadata-service/configuration/src/main/resources/application.yml
Labels: product, devops

#8804 Glossary Navigation Cypress test
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary_navigation.js
Labels: smoke_test

#8808 ci: upgrade python to 3.10 for builds
  .github/workflows/check-datahub-jars.yml
  .github/workflows/docker-unified.yml
  .github/workflows/metadata-io.yml
  .github/workflows/publish-datahub-jars.yml
  .github/workflows/spark-smoke-test.yml
Labels: devops

#8713 feat(ingestion/looker): Add view file-path as option in view_naming_pattern config
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/looker/golden_test_file_path_ingest.json
  metadata-ingestion/tests/integration/looker/test_looker.py
  metadata-ingestion/tests/integration/lookml/refinements_ingestion_golden.json
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion, merge-pending-ci

#8539 feat(upgrade): add ability to provide a startingOffset for RestoreIndices
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/RestoreIndices.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/SendMAEStep.java
Labels: devops

#8818 fix(index): Do not override the search analyzer for ngram fields
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilder.java
Labels: platform, merge-pending-ci, release-0.11.0

#8820 test(managed_ingestion): fix managed ingestion test by fixing actions…
  .github/workflows/docker-unified.yml
Labels: devops, merge-pending-ci

#8821 docs(release): Update updating-datahub.md for 0.11.0 release
  docs/how/updating-datahub.md
Labels: docs

#8642 fix(ingest/mssql): Add UNIQUEIDENTIFIER data type as String
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
  metadata-ingestion/tests/integration/sql_server/setup/setup.sql
Labels: ingestion, community-contribution, merge-pending-ci

#8810 build(ingest): upgrade to sqlalchemy 1.4, drop 1.3 support
  docs/how/updating-datahub.md
  metadata-ingestion/build.gradle
  metadata-ingestion/scripts/install-sqlalchemy-stubs.sh
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_database_reader.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/usage/clickhouse_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/redshift_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/starburst_trino_usage.py
Labels: ingestion, docs, merge-pending-ci

#8824 fix(ingest): use epoch 1 for dev build versions
  docker/datahub-ingestion-base/smoke.Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/Dockerfile-slim-only
  metadata-ingestion-modules/airflow-plugin/scripts/release.sh
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/__init__.py
  metadata-ingestion/scripts/release.sh
  metadata-ingestion/src/datahub/__init__.py
Labels: ingestion, devops

#8815 ci: make wheel builds more robust
  docs-website/sphinx/Makefile
  docs-website/sphinx/requirements.txt
  docs-website/yarn.lock
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion/build.gradle
Labels: ingestion

#8826 feat(cli): fix upload ingest cli endpoint
  metadata-ingestion/src/datahub/cli/ingest_cli.py
Labels: ingestion, merge-pending-ci

#8755 docs(transformer): fix names in sample code of 'pattern_add_dataset_domain'
  metadata-ingestion/docs/transformer/dataset_transformer.md
Labels: ingestion, merge-pending-ci

#8832 fix(java) Update DataProductMapper to always return a name
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataproduct/mappers/DataProductMapper.java
Labels: product

#8836 build(ingest): Bump jsonschema for Python >= 3.8
  metadata-ingestion/setup.py
Labels: ingestion, merge-pending-ci

#8837 feat(ingest/rest-emitter): Do not raise error on retry failure to get better error messages
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
Labels: ingestion, merge-pending-ci

#8771 ci: add markdown-link-check
  README.md
  docs-website/build.gradle
  docs-website/markdown-link-check-config.json
  docs-website/package.json
  docs-website/yarn.lock
  docs/advanced/no-code-modeling.md
  docs/api/graphql/how-to-set-up-graphql.md
  docs/architecture/architecture.md
  docs/authentication/guides/add-users.md
  docs/authentication/guides/sso/configure-oidc-react.md
  docs/cli.md
  docs/domains.md
  docs/how/add-new-aspect.md
  docs/modeling/extending-the-metadata-model.md
  docs/modeling/metadata-model.md
  docs/tags.md
  docs/townhall-history.md
  docs/what/gms.md
  docs/what/mxe.md
  docs/what/relationship.md
  docs/what/search-document.md
  metadata-ingestion/docs/dev_guides/add_stateful_ingestion_to_source.md
  metadata-ingestion/docs/dev_guides/reporting_telemetry.md
  metadata-ingestion/docs/dev_guides/stateful.md
  metadata-ingestion/docs/sources/gcs/README.md
  metadata-ingestion/docs/sources/kafka-connect/README.md
  metadata-ingestion/docs/sources/s3/README.md
  metadata-ingestion/examples/transforms/README.md
  metadata-ingestion/src/datahub/ingestion/source/usage/starburst_trino_usage.py
  metadata-jobs/README.md
  metadata-models/docs/entities/dataPlatform.md
Labels: devops

#8830 docs(managed datahub): release notes 0.2.11
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_11.md
Labels: docs

#8842 build(ingest): Remove constraint on jsonschema for Python >= 3.8
  metadata-ingestion/setup.py
Labels: ingestion, merge-pending-ci

#8845 feat(ci): disable ingestion smoke build
  .github/workflows/docker-ingestion-smoke.yml
Labels: devops

#8784 fix: fix quickstart page
  docs/quickstart.md
Labels: docs, merge-pending-ci

#8626 feat(bigquery): add better timers around every API call
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/common.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/utilities/perf_timer.py
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
  metadata-ingestion/tests/unit/test_bigquery_lineage.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
  metadata-ingestion/tests/unit/test_bigqueryv2_usage_source.py
  metadata-ingestion/tests/unit/utilities/test_perf_timer.py
Labels: ingestion

#8768 feat(ingestion/dynamodb): Add DynamoDB as new metadata ingestion source
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/images/dynamodblogo.png
  metadata-ingestion/docs/sources/dynamodb/dynamodb_post.md
  metadata-ingestion/docs/sources/dynamodb/dynamodb_pre.md
  metadata-ingestion/docs/sources/dynamodb/dynamodb_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/tests/integration/dynamodb/dynamodb_default_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dynamodb/dynamodb_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dynamodb/test_dynamodb.py
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: ingestion, product, devops

#8794 feat(ingest/bigquery): support bigquery profiling with sampling
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
Labels: ingestion

#8838 Fix for edit_documentation and glossary_navigation cypress tests
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary_navigation.js
  smoke-test/tests/cypress/cypress/e2e/mutations/edit_documentation.js
Labels: smoke_test

#8849 logging(lineage): adding some lineage explorer and impact analysis logging
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/lineage/LineageExplorer.tsx
  metadata-service/services/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Labels: product

#8860 fix(gms): lower telemetry error log level
  metadata-service/auth-impl/src/main/java/com/datahub/telemetry/TrackingService.java
Labels: devops

#8819 fix(datahub-gms) usage stats queryRange API's Authorization error for Dataset Owners
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java
Labels: devops

#8854 docs(observability): Add Custom Assertion user guide
  docs-website/sidebars.js
  docs/managed-datahub/observe/custom-assertions.md
Labels: docs

#8861 fix(airflow): fix provider loading exception
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/__init__.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/hooks/datahub.py
  metadata-ingestion/setup.py
Labels: ingestion

#8864 Fix glossary_navigation.js
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary_navigation.js
Labels: smoke_test

#8863 Managing Secrets Cypress test
  smoke-test/tests/cypress/cypress/e2e/mutations/managing_secrets.js
Labels: smoke_test

#8870 feat(ui) Make certain things disabled if read only mode is enabled
  datahub-web-react/src/app/domain/nestedDomains/ManageDomainsPageV2.tsx
  datahub-web-react/src/app/entity/user/UserEditProfileModal.tsx
  datahub-web-react/src/app/settings/SettingsPage.tsx
Labels: product

#8875 fix(ingest): fix mode lint error
  metadata-ingestion/src/datahub/ingestion/source/mode.py
Labels: ingestion

#8878 docs(observability): Custom Assertion user guide updates
  docs/managed-datahub/observe/custom-assertions.md
Labels: docs

#8882 feat(ingest): bump acryl-sqlglot
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_ambiguous_column_no_schema.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion, merge-pending-ci

#8865 feat(ingest): bulk fetch schema info for schema resolver
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
Labels: ingestion, merge-pending-ci

#8867 fix(ingest/bigquery): show report in output
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
Labels: ingestion, merge-pending-ci

#8800 fix(docker): support alternate postgres db in postgres-setup
  docker/postgres-setup/init.sh
Labels: devops

#8774 feat(python): support custom models without forking
  docs/datahub_lite.md
  docs/modeling/extending-the-metadata-model.md
  metadata-ingestion/.gitignore
  metadata-ingestion/README.md
  metadata-ingestion/build.gradle
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/scripts/custom_package_codegen.py
  metadata-ingestion/scripts/custom_package_codegen.sh
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/ingestion/api/registry.py
  metadata-ingestion/src/datahub/utilities/_custom_package_loader.py
Labels: ingestion, docs, merge-pending-ci

#8833 docs(authorization): correct policies example
  docs/authorization/policies.md
Labels: docs

#8857 fix(report): too long report causes MSG_SIZE_TOO_LARGE in kafka
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
Labels: ingestion

#8890 docs(ingest/lookml): add guide on debugging lkml parse errors
  metadata-ingestion/docs/sources/looker/lookml_post.md
Labels: ingestion, merge-pending-ci

#8825 feat(ingest/kafka): support metadata mapping from kafka avro schemas
  metadata-ingestion/docs/sources/kafka/kafka.md
  metadata-ingestion/src/datahub/ingestion/extractor/schema_util.py
  metadata-ingestion/src/datahub/ingestion/source/confluent_schema_registry.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/utilities/hive_schema_to_avro.py
  metadata-ingestion/src/datahub/utilities/mapping.py
  metadata-ingestion/tests/integration/kafka/kafka_mces_golden.json
  metadata-ingestion/tests/integration/kafka/value_schema.avsc
  metadata-ingestion/tests/unit/test_kafka_source.py
  metadata-ingestion/tests/unit/test_mapping.py
  metadata-ingestion/tests/unit/test_schema_util.py
Labels: ingestion, merge-pending-ci

#8811 feat(ingest/kafka-connect): Lineage for Kafka Connect > Snowflake
  metadata-ingestion/docs/sources/kafka-connect/README.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_snowflake_sink_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
Labels: ingestion, merge-pending-ci

#8889 fix(test): fix test execution
  build.gradle
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/auth/ListAccessTokensResolverTest.java
Labels: merge-pending-ci

#8803 feat(ingest/snowflake): allow shares config without platform instance
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_shares.py
  metadata-ingestion/tests/unit/test_snowflake_shares.py
Labels: ingestion, merge-pending-ci

#8895 fix(ingest): bound types-requests
  metadata-ingestion/setup.py
Labels: ingestion

#8869 fix(build): run codegen when building datahub-ingestion image
  .github/workflows/docker-unified.yml
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/Dockerfile-slim-only
Labels: devops

#8757 fix(ingest/s3): Converting windows style path to posix one on local fs
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Labels: ingestion

#8896 fix(docs): Rebranding custom to custom SQL
  docs-website/sidebars.js
  docs/managed-datahub/observe/custom-sql-assertions.md
Labels: docs

#8907 docs(observability): Freshness Assertion Operation Types
  docs/managed-datahub/observe/freshness-assertions.md
Labels: docs

#8006 doc(ingestion): looker & lookml ingestion guide
  docs-website/sidebars.js
  docs/quick-ingestion-guides/looker/configuration.md
  docs/quick-ingestion-guides/looker/overview.md
  docs/quick-ingestion-guides/looker/setup.md
Labels: docs

#8897 fix(ingest): bump typing-extensions
  metadata-ingestion/setup.py
Labels: ingestion

#7971 feat(metadata-ingestion): implement mlflow source
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/images/mlflowlogo.png
  metadata-ingestion/docs/sources/mlflow/mlflow_pre.md
  metadata-ingestion/docs/sources/mlflow/mlflow_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
  metadata-ingestion/tests/integration/mlflow/mlflow_mcps_golden.json
  metadata-ingestion/tests/integration/mlflow/test_mlflow_source.py
  metadata-ingestion/tests/unit/test_mlflow_source.py
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: ingestion, community-contribution, product, devops, merge-pending-ci

#8905 feat(docs): Update ownership-types image urls
  docs/ownership/ownership-types.md
Labels: docs

#8855 build(ingest/databricks): Relax databricks-sdk pin
  metadata-ingestion/setup.py
Labels: ingestion

#8914 test(ingest/delta-lake): Fix minio test for new version of delta-lake
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
Labels: ingestion, merge-pending-ci

#8916 doc: fix title of the ui ingestion guide & remove browse.md
  docs-website/sidebars.js
  docs-website/src/pages/docs/index.js
  docs/browse.md
  docs/ui-ingestion.md
Labels: docs

#8913 refactor(ingest/bigquery): Clarify table / view queries
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries.py
Labels: ingestion, merge-pending-ci

#8919 fix(docker): move base image to `-base` tag, full image to head
  .github/workflows/docker-unified.yml
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/build.gradle
Labels: devops

#8922 fix(docker): slim tags
  .github/scripts/docker_helpers.sh
  .github/workflows/docker-unified.yml
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/build.gradle
Labels: devops

#8925 ci: Docker slim tag fix
  .github/scripts/docker_helpers.sh
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/build.gradle
Labels: devops
