Repository datahub-project/datahub, pull requests merged in 2023-08, with the labels that each got.

#8527 fix(ingest): pin boto3-stubs in CI
  metadata-ingestion/setup.py
Labels: ingestion, merge-pending-ci

#8473 ci: reduce git fetch depth
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/code-checks.yml
  .github/workflows/docker-ingestion-base.yml
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-ingestion.yml
  .github/workflows/docker-postgres-setup.yml
  .github/workflows/docker-unified.yml
  .github/workflows/publish-datahub-jars.yml
Labels: devops, merge-pending-ci

#8328 feat(ingest/vertica): performance improvement and bug fixes
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/vertica.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  metadata-ingestion/docs/sources/vertica/README.md
  metadata-ingestion/docs/sources/vertica/vertica_pre.md
  metadata-ingestion/docs/sources/vertica/vertica_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/tests/integration/vertica/ddl.sql
  metadata-ingestion/tests/integration/vertica/docker-compose.yml
  metadata-ingestion/tests/integration/vertica/test_vertica.py
  metadata-ingestion/tests/integration/vertica/vertica_mces_with_db_golden.json
  metadata-ingestion/tests/integration/vertica/vertica_to_file.yml
Labels: ingestion, community-contribution, product, merge-pending-ci

#8437 test(ingest): test case statements with sql parser
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_case_statement.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion, merge-pending-ci

#8479 fix(ingest/json-schema): convert non-string enums to strings
  metadata-ingestion/src/datahub/ingestion/extractor/json_schema_util.py
  metadata-ingestion/tests/unit/schema/test_json_schema_util.py
Labels: ingestion, merge-pending-ci

#8506 feat(browseV2): add browseV2 logic to system update
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/BackfillBrowsePathsV2Config.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemUpdateConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/SystemUpdate.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/entity/steps/BackfillBrowsePathsV2.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/entity/steps/BackfillBrowsePathsV2Step.java
  docker/datahub-upgrade/env/docker-without-neo4j.env
  docker/datahub-upgrade/env/docker.env
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-service/configuration/src/main/resources/application.yml
Labels: devops, release-0.10.5

#8317 feat(cli): Adds ability to upload recipes to DataHub's UI
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/source/ListIngestionSourcesResolver.java
  datahub-graphql-core/src/main/resources/ingestion.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/source/ListIngestionSourceResolverTest.java
  docs/cli.md
  docs/ui-ingestion.md
  metadata-ingestion/README.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/configuration/config_loader.py
Labels: ingestion, docs, release-0.10.5

#8474 feat(presto-on-hive): allow v1 fieldpaths in the presto-on-hive source
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_utils.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/src/datahub/utilities/urns/dataset_urn.py
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_5.json
  metadata-ingestion/tests/integration/presto-on-hive/test_presto_on_hive.py
Labels: ingestion

#8524 fix(ui) Make multiple small updates to new search and browse
  datahub-web-react/src/app/entity/domain/DataProductsTab/DataProductsTab.tsx
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/app/search/SearchFilterLabel.tsx
  datahub-web-react/src/app/search/filters/FilterOption.tsx
  datahub-web-react/src/app/search/filters/OptionsDropdownMenu.tsx
  datahub-web-react/src/app/search/sidebar/EntityNode.tsx
  datahub-web-react/src/app/search/utils/constants.ts
Labels: product

#8540 feat(search): Allow aggregating on facets that are not explicitly part of default filter set
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilderTest.java
Labels: product

#8542 fix(test): increase siblings.js test stability
  datahub-web-react/src/app/lineage/LineageEntityNode.tsx
  smoke-test/tests/cypress/cypress/e2e/siblings/siblings.js
Labels: product, smoke_test, release-0.10.5

#8380 feat(ingest/presto-on-hive): enable partition key for presto-on-hive
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/SchemaFieldMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/dataset/profile/schema/utils/schemaTitleRenderer.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/PartitioningKeyLabel.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/versionedDataset.graphql
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_1.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_2.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_3.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_4.json
Labels: ingestion, community-contribution, product, merge-pending-ci

#8368 feat(classification): allow parallelisation to reduce time
  metadata-ingestion/docs/dev_guides/classification.md
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/glossary/classifier.py
  metadata-ingestion/src/datahub/ingestion/glossary/datahub_classifier.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_classification.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_legacy_lineage.py
Labels: ingestion, merge-pending-ci

#8359 feat(ingest): Add metabase database id to platform instance mapping
  metadata-ingestion/docs/sources/metabase/metabase.md
  metadata-ingestion/docs/sources/metabase/metabase.yml
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/tests/unit/test_metabase_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#8303 feat(ingest): add ability to read other method types than GET for OAS ingest recipes
  metadata-ingestion/docs/sources/openapi/openapi.md
  metadata-ingestion/src/datahub/ingestion/source/openapi.py
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Labels: ingestion, community-contribution, merge-pending-ci

#8209 fix(ingest): fix data platform urn in dataset_urn_to_key and dataset_key_to_urn
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/src/datahub/cli/timeline_cli.py
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/utilities/checkpoint_state_util.py
Labels: ingestion, community-contribution, merge-pending-ci

#8536 fix(ingest/s3): wrong sorting in case of multi-partition key
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Labels: ingestion, merge-pending-ci

#8548 fix(ingest/presto): fix presto on hive test failures
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_5.json
Labels: ingestion, merge-pending-ci

#8520 Cypress test for managing groups
  smoke-test/tests/cypress/cypress/e2e/settings/managing_groups.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: smoke_test

#8529 Variable rename - Allows deselection of members in add members modal for a group
  datahub-web-react/src/app/entity/group/AddGroupMembersModal.tsx
Labels: product

#8549 fix(ingest/s3): catch no such bucket exception instead of failing
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Labels: ingestion, merge-pending-ci

#8552 fix(ingest): add tableau sqlglot dep
  metadata-ingestion/setup.py
Labels: ingestion, merge-pending-ci

#8551 fix(ingetion/mssql): convert dataset urns to lowercase
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_with_lower_case_urn.yml
Labels: ingestion, merge-pending-ci

#8471 Fix flaky add_user smoke test
  smoke-test/tests/cypress/cypress/e2e/mutations/add_users.js
Labels: smoke_test

#8544 feat(ci): use docker registry cache
  .github/actions/docker-custom-build-and-push/action.yml
Labels: devops

#8533 fix(glue): restore glue configurations
  metadata-service/configuration/src/main/resources/application.yml
Labels: devops, platform

#8556 build(release): Update files for 0.10.5 release
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  gradle/versioning/versioning.gradle
  smoke-test/tests/cypress/cypress/e2e/mutations/managed_ingestion.js
Labels: product, smoke_test

#8557 docs(release): Update updating-datahub.md for 0.10.5 release
  docs/how/updating-datahub.md
Labels: docs

#8513 feat(ingestion/snowflake): use user email-id in urn generation for top users stat
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
Labels: ingestion, merge-pending-ci

#8558 docs(development.md): Minor grammatical error
  docs/docker/development.md
Labels: docs, merge-pending-ci

#8565 fix(usage): Update index lifecycle policy to not delete old datahub usage events
  metadata-service/restli-servlet-impl/src/main/resources/index/usage-event/aws_es_ism_policy.json
  metadata-service/restli-servlet-impl/src/main/resources/index/usage-event/policy.json
Labels: devops

#8559 fix(ui): Simplify background color for Entity Health Status popover
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHealthPopover.tsx
Labels: product

#8547 docs(observe): Add feature doc for Freshness Assertions
  docs-website/sidebars.js
  docs/managed-datahub/observe/freshness-assertions.md
Labels: docs

#8568 docs(updating): add details on Unified Search & Browse experience
  docs/how/updating-datahub.md
Labels: docs

#8571 fix: fix features section
  docs-website/sidebars.js
  docs/architecture/stemming_and_synonyms.md
  docs/tests/metadata-tests.md
Labels: docs, merge-pending-ci

#8489 feat(ingest): allow lower freq profiling based on date of month/day of week
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/glue_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/profile.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/datalake_profiler_config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/connection_test.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/source_config/operation_config.py
  metadata-ingestion/tests/unit/test_elasticsearch_source.py
Labels: ingestion

#8566 fix(stats): default to 3 months
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Stats/StatsTab.tsx
Labels: product

#8569 fix(aspect): count query only for relevant aspect index
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
Labels: product

#8573 feat(quickstart): bump quickstart start periods more
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.override.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
Labels: devops

#8554 Origin/cypress test for managing policies
  datahub-web-react/src/app/permissions/policy/PolicyActorForm.tsx
  datahub-web-react/src/app/permissions/policy/PolicyPrivilegeForm.tsx
  datahub-web-react/src/app/permissions/policy/PolicyTypeForm.tsx
  smoke-test/tests/cypress/cypress/e2e/mutations/domains.js
  smoke-test/tests/cypress/cypress/e2e/settings/manage_policies.js
Labels: product, smoke_test

#8516 feat(ui) Show source documentation when editing entity documentation
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/AboutSection/DescriptionSection.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/DescriptionEditor.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/SourceDesription.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/OnChangeMarkdown.tsx
Labels: product

#8545 fix(ingest): handle redaction of configs with int keys
  metadata-ingestion/src/datahub/configuration/common.py
Labels: ingestion, merge-pending-ci

#8574 fix(ingest/snowflake): maintain qualified name casing, do not lowercase
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
Labels: ingestion

#8422 feat(docs): add github repo links to readme and docs
  README.md
  docs-website/src/pages/docs/index.js
Labels: merge-pending-ci

#8498 refactor(search) Use search across multiple-entities API, deprecate Aggregator classes
  metadata-io/src/main/java/com/linkedin/metadata/search/SearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/aggregator/AllEntitiesSearchAggregator.java
  metadata-io/src/main/java/com/linkedin/metadata/search/cache/CachingAllEntitiesSearchAggregator.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchFieldConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/ESSampleDataFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/ESSearchLineageFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/SearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandlerTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/AllEntitiesSearchAggregatorFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/CachingAllEntitiesSearchAggregatorFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/SearchServiceFactory.java
Labels: product, devops, release-0.11.0

#8543 feat(siblings): dont show multiple platform icons if the siblings are ghost nodes
  datahub-web-react/src/app/entity/shared/containers/profile/utils.ts
  datahub-web-react/src/graphql/lineage.graphql
Labels: product

#8596 docs(lineage): Add description to make_lineage_mce
  metadata-ingestion/src/datahub/emitter/mce_builder.py
Labels: ingestion

#8591 doc(ingest/log): failure log at pipeline level document
  metadata-ingestion/README.md
Labels: ingestion

#8583 Dataset ownership test
  smoke-test/tests/cypress/cypress/e2e/mutations/dataset_ownership.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: smoke_test

#8599 doc(release): release notes for 0.2.10
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_10.md
Labels: docs

#8600 docs(release): fix typo
  docs/managed-datahub/release-notes/v_0_2_10.md
Labels: docs

#8572 feat(ui): apply views to: domains, containers, terms
  datahub-web-react/src/app/entity/container/ContainerEntitiesTab.tsx
  datahub-web-react/src/app/entity/domain/DomainEntitiesTab.tsx
  datahub-web-react/src/app/entity/glossaryTerm/profile/GlossaryRelatedEntity.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchResults.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchSection.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/MatchingViewsLabel.tsx
  datahub-web-react/yarn.lock
Labels: product

#8598 feat(search): embedded view dropdown
  datahub-web-react/src/app/entity/shared/constants.ts
  datahub-web-react/src/app/entity/view/menu/ViewDropdownMenu.tsx
  datahub-web-react/src/app/entity/view/select/ViewOptionName.tsx
  datahub-web-react/src/app/entity/view/select/ViewSelect.tsx
  datahub-web-react/src/app/entity/view/select/ViewSelectDropdown.tsx
  datahub-web-react/src/app/entity/view/select/ViewSelectFooter.tsx
  datahub-web-react/src/app/entity/view/select/ViewSelectHeader.tsx
  datahub-web-react/src/app/entity/view/select/ViewSelectToolTip.tsx
  datahub-web-react/src/app/entity/view/select/styledComponents.tsx
  datahub-web-react/src/app/home/HomePageHeader.tsx
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/app/search/SearchHeader.tsx
  smoke-test/tests/cypress/cypress/e2e/views/view_select.js
Labels: product

#8570 fix(ingest): use hive pure_sasl variant
  metadata-ingestion/setup.py
Labels: ingestion

#8525 Feat(ingest/ldap)fix list index out of range error
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/tests/integration/ldap/ldap_memberof_mces_golden.json
  metadata-ingestion/tests/integration/ldap/test_ldap.py
  metadata-ingestion/tests/integration/ldap/test_ldap_stateful.py
Labels: ingestion, community-contribution

#8603 harden autocomplete test
  datahub-web-react/src/app/search/autoComplete/AutoCompleteItem.tsx
  smoke-test/tests/cypress/cypress/e2e/auto_complete/auto_complete.js
Labels: product, smoke_test

#8595 feat(ui/graphql) Add ability to sort search results from search results page
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetMetadataAnalyticsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/container/ContainerEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/ListDataProductAssetsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/DomainEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/AggregateAcrossEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/GetQuickFiltersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/container/ContainerEntitiesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/DomainEntitiesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/AggregateAcrossEntitiesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/GetQuickFiltersResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossEntitiesResolverTest.java
  datahub-web-react/src/app/AppProviders.tsx
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/app/search/SearchPage.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
  datahub-web-react/src/app/search/SearchablePage.tsx
  datahub-web-react/src/app/search/context/SearchContext.tsx
  datahub-web-react/src/app/search/context/SearchContextProvider.tsx
  datahub-web-react/src/app/search/context/constants.ts
  datahub-web-react/src/app/search/sorting/SearchSortSelect.tsx
  datahub-web-react/src/app/search/sorting/useSortInput.ts
  datahub-web-react/src/app/search/useGetSearchQueryInputs.ts
  datahub-web-react/src/app/search/utils/navigateToSearchUrl.ts
  datahub-web-react/src/app/shared/updateUrlParam.ts
  datahub-web-react/src/images/sort.svg
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
Labels: product, devops

#8581 fix(ingest): Add client_certificate_path for rest client cert instead of ca_certif…
  docs-website/genJsonSchema/gen_json_schema.py
  metadata-ingestion/sink_docs/datahub.md
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
Labels: ingestion, merge-pending-ci

#8607 refactor(graphql): extract code into metadata-io part 1
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/DeleteAssertionResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/deprecation/UpdateDeprecationResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/SetDomainResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/UnsetDomainResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/embed/UpdateEmbedResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/AddRelatedTermsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/RemoveRelatedTermsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/DescriptionUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/MutationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateNameResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateParentNodeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateUserSettingResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/DeleteUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/DeprecationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/DomainUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/LabelUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/LinkUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/OwnerUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/tag/SetTagColorResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/utils/DeprecationUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityUtils.java
Labels: product

#8575 docs(ingest): update s3 and gcs doc with concept mapping
  metadata-ingestion/docs/sources/gcs/README.md
  metadata-ingestion/docs/sources/s3/README.md
  metadata-ingestion/docs/sources/s3/s3.md
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_source.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Labels: ingestion

#8619 fix(cypress): attempt to fix autocomplete test
  datahub-web-react/src/app/search/autoComplete/AutoCompleteEntity.tsx
  datahub-web-react/src/app/search/autoComplete/AutoCompleteItem.tsx
  smoke-test/tests/cypress/cypress/e2e/auto_complete/auto_complete.js
Labels: product, smoke_test

#8616 fix(cleanup): cleanup of 2 sub-modules
  metadata-io/build.gradle
  metadata-models/build.gradle
Labels: product

#8432 docs(ingsetion/csv-enricher): fix sample csv mentioned in Docstrings
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
Labels: ingestion

#8562 feat(ingest): allow relative start time config
  metadata-ingestion/src/datahub/configuration/datetimes.py
  metadata-ingestion/src/datahub/configuration/time_window_config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures_legacy_lineage.py
  metadata-ingestion/tests/unit/test_base_usage_config.py
  metadata-ingestion/tests/unit/test_time_window_config.py
Labels: ingestion

#8621 feat(ingest/s3): Adding option to pass in any spark config property to s3 source
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Labels: ingestion

#8602 feat(ui) Display combined sibling results in search + 2 minor updates
  datahub-web-react/src/app/entity/shared/siblingUtils.ts
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/app/preview/utils.ts
  datahub-web-react/src/app/search/SearchResultList.tsx
  datahub-web-react/src/graphql/search.graphql
Labels: product

#8597 feat(ui) Display consistent search results in embedded searches
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/chart/preview/ChartPreview.tsx
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
  datahub-web-react/src/app/entity/container/preview/Preview.tsx
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/dashboard/preview/DashboardPreview.tsx
  datahub-web-react/src/app/entity/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entity/dataFlow/preview/Preview.tsx
  datahub-web-react/src/app/entity/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entity/dataJob/preview/Preview.tsx
  datahub-web-react/src/app/entity/dataProduct/DataProductEntity.tsx
  datahub-web-react/src/app/entity/dataProduct/preview/Preview.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/dataset/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entity/mlFeature/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entity/mlFeatureTable/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entity/mlModel/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entity/mlModelGroup/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlPrimaryKey/MLPrimaryKeyEntity.tsx
  datahub-web-react/src/app/entity/mlPrimaryKey/preview/Preview.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchResults.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EntitySearchResults.tsx
  datahub-web-react/src/app/recommendations/renderer/component/EntityNameList.tsx
Labels: product

#8561 feat(ingest): Add DataHub source
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/emitter/aspect.py
  metadata-ingestion/src/datahub/emitter/mcp.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/config.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_kafka_reader.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_mysql_reader.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_source.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/report.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/state.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/src/datahub/ingestion/source/state/checkpoint.py
  metadata-ingestion/src/datahub/ingestion/source/state_provider/datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_checkpoint.py
  metadata-ingestion/tests/unit/test_sql_common.py
Labels: ingestion

#8637 fix(ingest/okta): fix event_loop RuntimeError with nested asyncio
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
Labels: ingestion, community-contribution, merge-pending-ci

#8615 fix(ingest/kafka): use SchemaReference properties instead of dict access
  metadata-ingestion/src/datahub/ingestion/source/confluent_schema_registry.py
  metadata-ingestion/tests/unit/test_confluent_schema_registry.py
Labels: ingestion, community-contribution, merge-pending-ci

#8606 feat(ingestion/ldap): flag to ingest ldap users with email instead of username
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/tests/integration/ldap/test_ldap.py
Labels: ingestion, merge-pending-ci

#8610 Combine siblings in autocomplete
  datahub-web-react/src/app/entity/shared/__tests__/siblingsUtils.test.ts
  datahub-web-react/src/app/entity/shared/constants.ts
  datahub-web-react/src/app/entity/shared/siblingUtils.ts
  datahub-web-react/src/app/home/HomePageHeader.tsx
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/app/search/SearchHeader.tsx
  datahub-web-react/src/app/search/SearchResultList.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
  datahub-web-react/src/app/search/autoComplete/AutoCompleteEntity.tsx
  datahub-web-react/src/app/search/autoComplete/AutoCompleteEntityIcon.tsx
  datahub-web-react/src/app/search/autoComplete/AutoCompleteItem.tsx
  datahub-web-react/src/app/search/autoComplete/AutoCompletePlatformNames.tsx
  datahub-web-react/src/app/search/autoComplete/AutoCompleteUser.tsx
  datahub-web-react/src/app/search/autoComplete/ParentContainers.tsx
  datahub-web-react/src/app/search/autoComplete/RecommendedOption.tsx
  datahub-web-react/src/app/search/autoComplete/styledComponents.tsx
  datahub-web-react/src/app/search/utils/combineSiblingsInAutoComplete.ts
  datahub-web-react/src/app/search/utils/combineSiblingsInSearchResults.test.ts
  datahub-web-react/src/app/search/utils/combineSiblingsInSearchResults.ts
  datahub-web-react/src/graphql/search.graphql
Labels: product

#8609 fix(ingest): avoid mutable defaults in powerbi dataclass
  metadata-ingestion/src/datahub/ingestion/api/registry.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
Labels: ingestion, merge-pending-ci

#8628 docs(quickstart): quickstart documentation, clarification on production
  docs/quickstart.md
Labels: docs

#8515 feat(datahub-ingestion): refactor datahub ingestion slim images
  .github/actions/docker-custom-build-and-push/action.yml
  .github/workflows/docker-ingestion-base.yml
  .github/workflows/docker-ingestion.yml
  .github/workflows/docker-unified.yml
  build.gradle
  datahub-frontend/build.gradle
  datahub-upgrade/build.gradle
  docker/build.gradle
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion-base/base-requirements.txt
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion-base/entrypoint.sh
  docker/datahub-ingestion-slim/Dockerfile
  docker/datahub-ingestion-slim/build.gradle
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/build.gradle
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.yml
  docker/elasticsearch-setup/build.gradle
  docker/kafka-setup/build.gradle
  docker/mysql-setup/build.gradle
  docker/postgres-setup/build.gradle
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  gradle/docker/docker.gradle
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mce-consumer-job/build.gradle
  metadata-service/war/build.gradle
  smoke-test/tests/cypress/cypress/e2e/mutations/managed_ingestion.js
Labels: docs, product, devops, release-0.11.0

#8585 bug(8584): emit data_platform_instance aspect if the config has platform_instance
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
Labels: ingestion, merge-pending-ci

#8629 chore(snappy): fix snappy version constraint
  build.gradle
  datahub-frontend/play.gradle
  metadata-dao-impl/kafka-producer/build.gradle
  metadata-io/build.gradle
  metadata-service/factories/build.gradle
Labels: product, devops

#8652 feat(graphql) Support exists operator in GraphQL Search API
  datahub-graphql-core/src/main/resources/search.graphql
Labels: product

#8587 [fix] [health ui] Removing ghost 0 for health signals on search cards
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
Labels: product

#8650 fix(data products): removing data products filter in search as its not indexed on entity documents
  datahub-web-react/src/app/search/AdvancedFilterSelectValueModal.tsx
  datahub-web-react/src/app/search/utils/constants.ts
Labels: product

#8495 feat(ingest/bigquery): add tag to BigQuery clustering columns
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/tests/unit/test_bigquery_profiler.py
Labels: ingestion, merge-pending-ci

#8649 fix(ingest/snowflake): fix usage enum bug
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
Labels: ingestion, merge-pending-ci

#8647 feat(ingest/dbt-cloud): use job-based graphql queries
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
Labels: ingestion

#8604 Add and remove documentation and link for dataset
  smoke-test/tests/cypress/cypress/e2e/mutations/edit_documentation.js
  smoke-test/tests/cypress/data.json
Labels: community-contribution, smoke_test

#8641 Lineage column level test
  smoke-test/tests/cypress/cypress/e2e/lineage/lineage_column_level.js
Labels: smoke_test

#8605 tests(search): search golden tests
  metadata-io/src/test/java/com/linkedin/metadata/ESSampleDataFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/ESTestConfiguration.java
  metadata-io/src/test/java/com/linkedin/metadata/ESTestUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/ElasticSearchGoldenTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
Labels: product

#8646 Add test case for dataset deprecation test
  smoke-test/tests/cypress/cypress/e2e/mutations/deprecations.js
Labels: smoke_test

#8654 docs(ingest/kafka-connect): add details on platform instance mapping
  metadata-ingestion/docs/sources/kafka-connect/kafka-connect.md
  metadata-ingestion/docs/sources/kafka-connect/kafka-connect_recipe.yml
  metadata-ingestion/src/datahub/ingestion/extractor/json_schema_util.py
Labels: ingestion, merge-pending-ci

#8662 docs(ingest/airflow): add `capture_executions` to docs
  docs/lineage/airflow.md
Labels: docs

#8670 Fix a few view select issues
  datahub-web-react/src/app/entity/view/select/ViewSelect.tsx
  datahub-web-react/src/app/entity/view/select/ViewSelectHeader.tsx
  datahub-web-react/src/app/search/SearchBar.tsx
Labels: product

#8611 feat(search): Add word gram analyzer for name fields
  docs/advanced/no-code-modeling.md
  docs/modeling/extending-the-metadata-model.md
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/SearchableAnnotation.java
  entity-registry/src/test/java/com/linkedin/metadata/models/EntitySpecBuilderTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/SettingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchFieldConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/ESTestConfiguration.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/ElasticSearchGoldenTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandlerTest.java
  metadata-models/src/main/pegasus/com/linkedin/chart/ChartInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/container/ContainerProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/dashboard/DashboardInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/datajob/DataFlowInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/datajob/DataJobInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataplatform/DataPlatformInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataplatforminstance/DataPlatformInstanceProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataprocess/DataProcessInstanceProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataproduct/DataProductProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataset/DatasetProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/domain/DomainProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/glossary/GlossaryNodeInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/glossary/GlossaryTermInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserEditableInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/CorpGroupKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/CorpUserKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/DataFlowKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/DataJobKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/DataProcessKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/DatasetKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/GlossaryNodeKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/GlossaryTermKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLFeatureKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLFeatureTableKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLModelDeploymentKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLModelGroupKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLModelKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLPrimaryKeyKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/TagKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/notebook/NotebookInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/ownership/OwnershipTypeInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/query/QueryProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/role/RoleProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/tag/TagProperties.pdl
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/SearchConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/WordGramConfiguration.java
  metadata-service/configuration/src/main/resources/application.yml
  test-models/src/main/pegasus/com/datahub/test/TestEntityInfo.pdl
Labels: docs, product

#8677 fix(docker): misc docker fixes
  .github/workflows/docker-unified.yml
  docker/build.gradle
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/kafka-setup/Dockerfile
  docker/kafka-setup/kafka-ready.sh
  docker/kafka-setup/kafka-setup.sh
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/ElasticSearchGoldenTest.java
  metadata-models/src/main/pegasus/com/linkedin/dataprocess/DataProcessInstanceProperties.pdl
  smoke-test/run-quickstart.sh
  smoke-test/tests/cypress/cypress/e2e/login/login.js
  smoke-test/tests/cypress/cypress/e2e/settings/managing_groups.js
Labels: devops, merge-pending-ci

#8683 tests(search): more golden tests
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/ElasticSearchGoldenTest.java
Labels: product

#8694 test(ingest/vertica): Skip integration test failing CI; support arm Macs
  metadata-ingestion/tests/integration/vertica/docker-compose.yml
  metadata-ingestion/tests/integration/vertica/test_vertica.py
Labels: ingestion, merge-pending-ci

#8695 ci: add `needs_artifact_download` output for ingestion image
  .github/workflows/docker-unified.yml
Labels: devops, merge-pending-ci

#8657 logs(ingestion/unity): Hide stack trace on sql parse failure logs
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
Labels: ingestion, merge-pending-ci, release-0.10.6

#8592 feat(ingestion/powerbi): support multiple tables as upstream in native SQL parsing
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/dataplatform_instance_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion, merge-pending-ci

#8660 build(ingest): Bump pydantic pin
  metadata-ingestion/setup.py
Labels: ingestion, merge-pending-ci, release-0.10.6

#8653 remove(ingest/snowflake): Remove legacy snowflake lineage
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_legacy.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures_legacy_lineage.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_legacy_lineage.py
Labels: ingestion, merge-pending-ci, release-0.10.6

#8658 fix(ingest/ldap): Handle case when 'objectClass' not in attrs
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
Labels: ingestion, merge-pending-ci, release-0.10.6

#8655 fix(ui) Remove new Role entity from searchable entity types
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
Labels: product, release-0.10.6

#8648 fix(java) Use alias for name search sorting and fix missing mappings
  datahub-web-react/src/app/search/context/constants.ts
  entity-registry/src/main/java/com/linkedin/metadata/models/SearchableFieldSpecExtractor.java
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/SearchableAnnotation.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilderTest.java
  metadata-models/src/main/pegasus/com/linkedin/chart/ChartInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/container/ContainerProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/dashboard/DashboardInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/datajob/DataFlowInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/datajob/DataJobInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataplatform/DataPlatformInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataplatforminstance/DataPlatformInstanceProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataproduct/DataProductProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataset/DatasetProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/domain/DomainProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/glossary/GlossaryNodeInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/glossary/GlossaryTermInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpGroupInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLFeatureKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLFeatureTableKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLModelDeploymentKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLModelGroupKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLModelKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/MLPrimaryKeyKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/notebook/NotebookInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/role/RoleProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/tag/TagProperties.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
  test-models/src/main/pegasus/com/datahub/test/TestEntityInfo.pdl
Labels: product, release-0.10.6

#8707 feat(ui) Create page for managing home page posts
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/MeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/post/DeletePostResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/search/PostLinkCard.tsx
  datahub-web-react/src/app/search/PostTextCard.tsx
  datahub-web-react/src/app/settings/SettingsPage.tsx
  datahub-web-react/src/app/settings/posts/CreatePostForm.tsx
  datahub-web-react/src/app/settings/posts/CreatePostModal.tsx
  datahub-web-react/src/app/settings/posts/ManagePosts.tsx
  datahub-web-react/src/app/settings/posts/PostItemMenu.tsx
  datahub-web-react/src/app/settings/posts/PostsList.tsx
  datahub-web-react/src/app/settings/posts/PostsListColumns.tsx
  datahub-web-react/src/app/settings/posts/constants.ts
  datahub-web-react/src/app/settings/posts/utils.ts
  datahub-web-react/src/conf/Global.ts
  datahub-web-react/src/graphql/me.graphql
  datahub-web-react/src/graphql/post.graphql
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: product, devops

#8704 fix(ingest/powerbi): add sqlglot python dep
  metadata-ingestion/setup.py
Labels: ingestion

#8685 ci(ingest): make ingestion caching rules correct
  metadata-ingestion/build.gradle
Labels: ingestion, merge-pending-ci

#8678 fix(cleanup): cleanup of 1 sub-module
  metadata-integration/java/datahub-client/build.gradle
Labels: ingestion, merge-pending-ci

#8681 fix(policies): fix concurrent modification exception
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DataHubAuthorizer.java
Labels: bug, devops, release-0.10.6

#8659 fix(ingest/bigquery): Add config option to create DataPlatformInstance, default off
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion, docs, merge-pending-ci, release-0.10.6

#7735 feat(ingest/looker): Record observed lineage timestamps for Looker and LookML sources
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/looker/golden_looker_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_allow_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_external_project_view_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_independent_look_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_joins.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_unaliased_joins.json
  metadata-ingestion/tests/integration/looker/looker_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/looker/looker_mces_usage_history.json
  metadata-ingestion/tests/integration/lookml/expected_output.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_bigquery.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_badsql_parser.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_deny_pattern.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
  metadata-ingestion/tests/integration/lookml/lookml_reachable_views.json
  metadata-ingestion/tests/integration/lookml/refinement_include_order_golden.json
  metadata-ingestion/tests/integration/lookml/refinements_ingestion_golden.json
Labels: ingestion, community-contribution, merge-pending-ci

#5363 feat(ingest/mssql): load jobs and stored procedures
  metadata-ingestion/docs/sources/mssql/mssql_pre.md
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
  metadata-ingestion/tests/integration/sql_server/setup/setup.sql
  metadata-ingestion/tests/integration/sql_server/test_sql_server.py
Labels: ingestion, community-contribution, merge-pending-ci

#8608 fix(ingestion/kafka-connect): update retrieval of database name in Debezium SQL Server
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
Labels: ingestion, community-contribution, merge-pending-ci

#8651 highlight matched fields in search results
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/MapperUtils.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-web-react/src/app/entity/EntityRegistry.tsx
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/chart/ChartSnippet.tsx
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/dataset/DatasetSearchSnippet.tsx
  datahub-web-react/src/app/entity/dataset/search/highlights.ts
  datahub-web-react/src/app/entity/dataset/shared/TagSummary.tsx
  datahub-web-react/src/app/entity/dataset/shared/TermSummary.tsx
  datahub-web-react/src/app/entity/group/preview/Preview.tsx
  datahub-web-react/src/app/entity/shared/__tests__/utils.test.ts
  datahub-web-react/src/app/entity/shared/components/styled/StripMarkdownText.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StyledTag.tsx
  datahub-web-react/src/app/entity/shared/utils.ts
  datahub-web-react/src/app/entity/user/preview/Preview.tsx
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/app/search/EntityGroupSearchResults.tsx
  datahub-web-react/src/app/search/context/SearchContext.tsx
  datahub-web-react/src/app/search/context/SearchContextProvider.tsx
  datahub-web-react/src/app/search/context/SearchResultContext.tsx
  datahub-web-react/src/app/search/matches/MatchedFieldList.tsx
  datahub-web-react/src/app/search/matches/SearchTextHighlighter.tsx
  datahub-web-react/src/app/search/matches/constants.ts
  datahub-web-react/src/app/search/matches/matchedFieldPathsRenderer.tsx
  datahub-web-react/src/app/search/matches/matchedInputFieldRenderer.tsx
  datahub-web-react/src/app/search/matches/utils.test.ts
  datahub-web-react/src/app/search/matches/utils.ts
  datahub-web-react/src/app/shared/tags/tag/Tag.tsx
  datahub-web-react/src/app/shared/tags/term/TermContent.tsx
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/conf/theme/theme_dark.config.json
  datahub-web-react/src/conf/theme/theme_light.config.json
  datahub-web-react/src/conf/theme/types.ts
  datahub-web-react/src/graphql/app.graphql
  datahub-web-react/src/graphql/search.graphql
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/SearchUtils.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/SearchResultVisualConfig.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/VisualConfiguration.java
  metadata-service/configuration/src/main/resources/application.yml
Labels: product

#8705 Add links to glossary term cards without counts
  datahub-web-react/src/app/entity/glossaryTerm/preview/Preview.tsx
  datahub-web-react/src/app/entity/glossaryTerm/profile/GlossaryRelatedEntity.tsx
  datahub-web-react/src/app/entity/glossaryTerm/utils.ts
  datahub-web-react/src/app/entity/shared/ExternalUrlButton.tsx
  datahub-web-react/src/app/entity/shared/UrlButton.tsx
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
Labels: product

#8724 fix non sibling document links
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/LinkList.tsx
  smoke-test/tests/cypress/cypress/e2e/mutations/edit_documentation.js
Labels: product, smoke_test, release-0.10.6

#8710 feat(java/ui) Add search suggestions to our search experience
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/SearchFlagsInputMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/MapperUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/UrnSearchResultsMapper.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/search/EmptySearchResults.tsx
  datahub-web-react/src/app/search/SearchPage.tsx
  datahub-web-react/src/app/search/SearchResultList.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
  datahub-web-react/src/app/search/suggestions/SearchQuerySugggester.tsx
  datahub-web-react/src/graphql/search.graphql
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/query/SearchFlags.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/SearchResultMetadata.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/SearchSuggestion.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
Labels: product, devops

#8719 fix(cypress) Fix login.js cypress test
  smoke-test/tests/cypress/cypress/e2e/login/login.js
Labels: smoke_test

#8729 config(ingest/rest): Update rest sink defaults to retry more often
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
Labels: ingestion

#8674 chore(jackson): update to released version of jackson
  build.gradle
  metadata-io/src/test/java/com/linkedin/metadata/ESSampleDataFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/ESSearchLineageFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/ESTestConfiguration.java
  metadata-io/src/test/java/com/linkedin/metadata/ESTestFixtureUtils.java
  metadata-io/src/test/java/io/datahub/test/fixtures/elasticsearch/FixtureReader.java
Labels: release-0.10.6

#8703 fix(examples): fix typo in business glossary bootstrap yml
  metadata-ingestion/examples/bootstrap_data/business_glossary.yml
Labels: ingestion

#8693 fix(schemaRegistry): change api servlet check to only apply to internal to fix glue support
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/OnBootApplicationListener.java
Labels: bug, devops, merge-pending-ci

#8467 fix(ingest): stateful redundant run skip handler
  metadata-ingestion/docs/dev_guides/add_stateful_ingestion_to_source.md
  metadata-ingestion/src/datahub/configuration/time_window_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/report.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/usage.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/state/redundant_run_skip_handler.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
  metadata-ingestion/src/datahub/ingestion/source/state/usage_common_state.py
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/src/datahub/ingestion/source_report/ingestion_stage.py
  metadata-ingestion/src/datahub/ingestion/source_report/sql/__init__.py
  metadata-ingestion/src/datahub/ingestion/source_report/sql/snowflake.py
  metadata-ingestion/src/datahub/ingestion/source_report/usage/__init__.py
  metadata-ingestion/src/datahub/ingestion/source_report/usage/snowflake_usage.py
  metadata-ingestion/src/datahub/utilities/time.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_stateful.py
  metadata-ingestion/tests/unit/stateful_ingestion/provider/test_datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_checkpoint.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_redundant_run_skip_handler.py
  metadata-ingestion/tests/unit/test_base_usage_config.py
  metadata-ingestion/tests/unit/test_time_window_config.py
Labels: ingestion, merge-pending-ci, release-0.10.6

#8667 fix(superset): get alternate platform value if sqlalchemy_uri param is missing
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Labels: ingestion, community-contribution, merge-pending-ci

#8696 feat(ingest): support writing configs to files
  metadata-ingestion/src/datahub/configuration/config_loader.py
  metadata-ingestion/src/datahub/utilities/urns/data_platform_urn.py
  metadata-ingestion/tests/unit/config/basic.yml
  metadata-ingestion/tests/unit/config/test_config_loader.py
  metadata-ingestion/tests/unit/config/write_to_file_directive.yml
Labels: ingestion

#8718 feat(search): De-duplicate scale factors across entities
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
Labels: product

#8728 test(lineage): Add test for scroll across lineage
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
Labels: product

#8577 feat(ingest/metabase): detect source table for cards sourced from other cards
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/tests/integration/metabase/metabase_mces_golden.json
  metadata-ingestion/tests/integration/metabase/setup/card.json
  metadata-ingestion/tests/integration/metabase/setup/card_3.json
  metadata-ingestion/tests/integration/metabase/test_metabase.py
Labels: ingestion, community-contribution

#8671 (ingestion) bug fix: emit platform instance aspect for dataset in Databricks ingestion
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Labels: ingestion, community-contribution

#8737 feat(config): Turn on new search & browse experience by default
  metadata-service/configuration/src/main/resources/application.yml
Labels: devops

#8638 chore(ingest/s3) Bump Deequ and Pyspark version
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion/docs/sources/s3/s3.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_specs_of_different_buckets.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_single_file.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_specs_of_different_buckets.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_single_file.json
  metadata-ingestion/tests/integration/s3/test_data/local_system/folder_a/folder_aa/folder_aaa/chord_progressions_avro.avro
  metadata-ingestion/tests/integration/s3/test_s3.py
Labels: ingestion

#8736 docs(ingest/openapi): Downgrade status from CERTIFIED to INCUBATING
  metadata-ingestion/src/datahub/ingestion/source/openapi.py
Labels: ingestion

#8739 feat(health): Adding Entity Health Status to the Lineage Graph View
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHealth.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHealthPopover.tsx
  datahub-web-react/src/app/lineage/LineageEntityNode.tsx
  datahub-web-react/src/app/lineage/constants.ts
  datahub-web-react/src/app/lineage/types.ts
  datahub-web-react/src/app/lineage/utils/constructFetchedNode.ts
  datahub-web-react/src/app/lineage/utils/constructTree.ts
  datahub-web-react/src/app/shared/health/healthUtils.tsx
  datahub-web-react/src/graphql/lineage.graphql
Labels: product

#8746 build(ingest): Pin mypy-boto3-sagemaker directly
  metadata-ingestion/setup.py
Labels: ingestion

#8735 feat(ingest/datahub): Improvements, bug fixes, and docs
  metadata-ingestion/docs/sources/datahub/README.md
  metadata-ingestion/docs/sources/datahub/datahub_pre.md
  metadata-ingestion/docs/sources/datahub/datahub_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/datahub/config.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_database_reader.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_kafka_reader.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_source.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/report.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/state.py
  metadata-ingestion/src/datahub/testing/compare_metadata_json.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_checkpoint.py
Labels: ingestion

#8706 docs(obseve): Adding Volume Assertion Guide
  docs-website/sidebars.js
  docs/managed-datahub/observe/freshness-assertions.md
  docs/managed-datahub/observe/volume-assertions.md
Labels: docs

#8675 fix(ingest/okta): Removed code closing okta's event_loop
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
Labels: ingestion, community-contribution

#8750 fix(highlight): disable full name highlight
  datahub-web-react/src/app/entity/group/preview/Preview.tsx
  datahub-web-react/src/app/entity/user/preview/Preview.tsx
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
Labels: product, merge-pending-ci, release-0.11.0

#8738 fix(ui): hide pages from web crawlers
  datahub-web-react/public/robots.txt
Labels: product

#8723 docs: add index pages for feature/deployment guides
  docs-website/docusaurus.config.js
  docs-website/sidebars.js
  docs/how/search.md
Labels: docs

#8743 feat(docs): move versioned_sidebars to static-assets
  .gitignore
  docs-website/download_historical_versions.py
  docs-website/versioned_sidebars/version-0.10.5-sidebars.json
Labels: ingestion

#8709 feat(cli): support recursive deletes
  docs/how/delete-metadata.md
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion, docs, merge-pending-ci

#8747 fix(ingest/bigquery): Handle null view_definition; remove view definition hash ids
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic.py
Labels: ingestion, merge-pending-ci

#8751 feat(ingest/usage): Make cumulative query character limit configurable
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/usage.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/usage/clickhouse_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/redshift_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/starburst_trino_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/tests/unit/test_usage_common.py
Labels: ingestion, merge-pending-ci

#8689 fix(ingest/athena): Fixing db container id
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
Labels: ingestion

#8684 feat(systemMetadata): add pipeline names to system metadata
  metadata-ingestion/src/datahub/ingestion/extractor/mce_extractor.py
  metadata-models/src/main/pegasus/com/linkedin/mxe/SystemMetadata.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entitiesV2.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entitiesVersionedV2.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: ingestion, merge-pending-ci, release-0.10.6

#8761 fix(ingest/athena): fix container linting
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_utils.py
Labels: ingestion

#8594 fix(datahub-frontend) Give permission for start.sh so it can run
  docker/datahub-frontend/Dockerfile
Labels: community-contribution, devops

#8758 fix(ingest/bigquery): Filter out fine grained lineage with no upstreams
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/tests/unit/test_bigquery_lineage.py
Labels: ingestion, merge-pending-ci

#8764 docs(observe): Dataset Profile volume assertion guide
  docs/managed-datahub/observe/volume-assertions.md
Labels: docs
