Repository datahub-project/datahub, pull requests merged in 2023-01, with the labels that each got.

#6925 David leifker/elasticsearch optimization ext
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/elasticsearch/indices/BuildIndicesKafkaListener.java
  metadata-models/src/main/pegasus/com/linkedin/common/GlobalTags.pdl
  smoke-test/tests/cypress/cypress/integration/search/search.js
Labels: product, devops, smoke_test

#6926 fix(es-setup): create data stream on non-aws
  docker/elasticsearch-setup/create-indices.sh
Labels: devops

#6875 feat(backend): Supporting Embeddable Previews for Dashboards, Charts, Datasets
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/embed/UpdateEmbedResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/EntityPrivilegesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/EmbedUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/ChartType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/mappers/ChartMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/EmbedMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/DashboardType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/DatasetType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/resources/auth.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/embed/UpdateEmbedResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/common/mappers/EmbedMapperTest.java
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/shared/tabs/Embed/EmbedTab.tsx
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/graphql/chart.graphql
  datahub-web-react/src/graphql/dataset.graphql
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/mutations.graphql
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-models/src/main/pegasus/com/linkedin/common/Embed.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: product

#6934 feat(ingest): add `include_table_location_lineage` flag for SQL common
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
Labels: ingestion

#6500 feat(ingest): allow extracting snowflake tags
  metadata-ingestion/docs/sources/snowflake/snowflake_pre.md
  metadata-ingestion/src/datahub/ingestion/source/snowflake/constants.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_tag.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
Labels: ingestion, community-contribution

#6909 chore(ingest): unpin pydantic dep
  metadata-ingestion/setup.py
Labels: ingestion

#6954 chore(ingest): partially revert pyspark dep from #6908
  metadata-ingestion/setup.py
Labels: ingestion

#6937 fix(ingest): use branch info when cloning git repos
  metadata-ingestion/src/datahub/configuration/github.py
  metadata-ingestion/src/datahub/ingestion/source/git/git_import.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/git/test_git_clone.py
Labels: ingestion

#6905 chore(ingest): remove inferred args to MCPW, part 2
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/identity/azure_ad.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/unit/test_kafka_sink.py
  metadata-ingestion/tests/unit/test_rest_sink.py
  metadata-ingestion/tests/unit/test_source.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#6911 fix(ingest/unity): simplify MCP generation and reporting
  metadata-ingestion/src/datahub/emitter/mcp.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/utilities/source_helpers.py
Labels: ingestion

#6949 chore(ci): parallelise build and test workflow to reduce time
  .github/workflows/build-and-test.yml
  .github/workflows/metadata-ingestion.yml
Labels: devops

#6962 fix(frontend): sasl.client.callback.handler.class
  datahub-frontend/app/client/KafkaTrackingProducer.java
  datahub-frontend/conf/application.conf
Labels: product

#6948 chore(react): remove outdated cypress tests and dependency
  datahub-web-react/README.md
  datahub-web-react/cypress.json
  datahub-web-react/cypress/.eslintrc.js
  datahub-web-react/cypress/fixtures/example.json
  datahub-web-react/cypress/helper/authHelper.ts
  datahub-web-react/cypress/integration/Login.spec.ts
  datahub-web-react/cypress/integration/Search.spec.ts
  datahub-web-react/cypress/plugins/index.js
  datahub-web-react/cypress/support/index.js
  datahub-web-react/cypress/tsconfig.json
  datahub-web-react/package.json
  datahub-web-react/yarn.lock
Labels: product

#6967 fix(ci): restrict GE to fix build issues
  metadata-ingestion/setup.py
Labels: ingestion

#6961 David leifker/elasticsearch optimization ext
  entity-registry/src/main/java/com/linkedin/metadata/models/SearchableFieldSpecExtractor.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/SettingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
Labels: product

#6956 feat(eso): add timeout recovery
  metadata-io/src/main/java/com/linkedin/metadata/graph/dgraph/DgraphGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/EntityIndexBuilders.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ReindexConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/shared/ElasticSearchIndexed.java
  metadata-io/src/test/java/com/linkedin/metadata/ESSampleDataFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/ESSearchLineageFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/ESTestConfiguration.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilderTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchIndexBuilderFactory.java
Labels: product, devops

#6964 feat(queries): [Experimental] Allow customization of # of queries in Query tab via env var
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Queries/QueriesTab.tsx
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-io/src/main/java/com/linkedin/metadata/config/QueriesTabConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/config/VisualConfiguration.java
  metadata-service/factories/src/main/resources/application.yml
Labels: product, devops

#6953 feat(ingest/postgres): emit lineage for postgres views
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
Labels: ingestion, community-contribution

#6785 feat(ingest/vertica): support projections and lineage in vertica
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/tests/integration/vertica/docker-compose.yml
  metadata-ingestion/tests/integration/vertica/sqlalchemy.json
  metadata-ingestion/tests/integration/vertica/sqlalchemy_to_file.yml
  metadata-ingestion/tests/integration/vertica/test_vertica.py
  metadata-ingestion/tests/integration/vertica/vertica.json
  metadata-ingestion/tests/integration/vertica/vertica_mces_with_db_golden.json
  metadata-ingestion/tests/integration/vertica/vertica_to_file.yml
Labels: ingestion, community-contribution

#6969 fix(ingest): add missing dep for powerbi
  metadata-ingestion/setup.py
Labels: ingestion

#6963 Docs fixes week of 12 22
  docs/cli.md
  docs/how/delete-metadata.md
  metadata-ingestion/docs/sources/business-glossary/datahub-business-glossary.md
Labels: ingestion, docs

#6975 David leifker/elasticsearch optimization ext
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
Labels: product

#6921 fix(ingest): unfreeze bigquery/snowflake column dataclass
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic.py
Labels: ingestion

#6974 chore(frontend) Remove unused dependencies from package.json
  datahub-web-react/package.json
  datahub-web-react/yarn.lock
Labels: product

#6966 chore: misc fixes
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/GraphIndexUtils.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/EntityKeyUtils.java
Labels: ingestion

#6788 feat(ingest/glue): emit s3 lineage for s3a and s3n schemes
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Labels: ingestion, community-contribution

#6970 fix(kafka-setup): Make kafka-setup run with multiple threads
  docker/kafka-setup/Dockerfile
  docker/kafka-setup/kafka-config.sh
  docker/kafka-setup/kafka-setup.sh
  docker/kafka-setup/kafka-topic-workers.sh
Labels: devops

#6980 David leifker/elasticsearch optimization ext
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/SettingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/main/resources/elasticsearch/stem_override.txt
  metadata-io/src/main/resources/elasticsearch/synonyms/default.txt
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilderTest.java
Labels: product

#6965 fix(docs): Updating Tag, Glossary Term docs to point to correct GraphQL methods
  datahub-graphql-core/src/main/resources/entity.graphql
  docs/glossary/business-glossary.md
  docs/tags.md
Labels: docs, product

#6978 fix(ingest): profiling - Fixing issue with the wrong timestamp stored in check
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
Labels: ingestion

#6983 config(quickstart): enable auto-reindex for quickstart
  docker/datahub-gms/env/docker-without-neo4j.env
  docker/datahub-gms/env/docker.cassandra.env
  docker/datahub-gms/env/docker.env
  docker/datahub-gms/env/docker.mariadb.env
  docker/datahub-gms/env/docker.postgres.env
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
Labels: devops

#6731 feat(privileges) - Create a privilege to manage glossary children recursively
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/EntityPrivilegesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryNodeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryTermResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/DeleteGlossaryEntityResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateNameResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateParentNodeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/GlossaryUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/GlossaryUtilsTest.java
  datahub-web-react/src/app/glossary/BusinessGlossaryPage.tsx
  datahub-web-react/src/app/glossary/EmptyGlossarySection.tsx
  docs/authorization/policies.md
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: community-contribution, product

#6985 chore(ingest): finish removing feast-legacy
  metadata-ingestion/src/datahub/ingestion/source/feast_image/Dockerfile
  metadata-ingestion/src/datahub/ingestion/source/feast_image/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/feast_image/ingest.py
  metadata-ingestion/src/datahub/ingestion/source/feast_image/requirements.txt
Labels: ingestion

#6959 feat(ingest): add import descriptions of two or more nested messages
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/model/ProtobufElement.java
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/model/ProtobufField.java
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/model/ProtobufGraph.java
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/model/ProtobufOneOfField.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/model/ProtobufFieldTest.java
  metadata-integration/java/datahub-protobuf/src/test/resources/extended_protobuf/messageC.proto
  metadata-integration/java/datahub-protobuf/src/test/resources/extended_protobuf/messageC.protoc
Labels: community-contribution, platform

#6933 feat(docs) Add feature guide for Manual Lineage
  docs-website/sidebars.js
  docs/authorization/policies.md
  docs/domains.md
  docs/lineage/lineage-feature-guide.md
Labels: docs

#5818 docs(rfc): Serialising GMS Updates with Preconditions
  docs/rfc/active/5818-serial-updates.md
Labels: rfc, docs, community-contribution

#6989 David leifker/elasticsearch optimization ext
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/SettingsBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilderTest.java
Labels: product, smoke_test

#6943 fix(ingest/kafka-connect) support newer version of debezium
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
Labels: ingestion, community-contribution

#6997 fix(docs): build and broken snowflake docs fix
  docs/rfc/active/5818-serial-updates.md
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
Labels: ingestion, docs

#6995 fix(ingest): bigquery - views in case more than 1 datasets with views
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
Labels: ingestion

#7001 fix(docs): Renaming Business Glossary Doc
  docs/glossary/business-glossary.md
Labels: docs

#7004 fix(ingest/snowflake): fix type annotations + refactor get_connect_args
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
Labels: ingestion

#7007 fix(docs): Changing the platform event topic name in kafka custom topic docs
  docs/how/kafka-config.md
Labels: docs

#7002 fix(docs): fix name of privilege referenced in posts doc
  docs/posts.md
Labels: docs

#7005 fix(ingest): remove dead code from tests
  metadata-ingestion/pyproject.toml
  metadata-ingestion/tests/integration/redshift-usage/test_redshift_usage.py
  metadata-ingestion/tests/integration/starburst-trino-usage/test_starburst_trino_usage.py
Labels: ingestion

#6994 feat(ingestion): Tableau # Embed links
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
  metadata-models/bin/mainGeneratedDataTemplate/com/linkedin/data/template/StringArrayArray.class
Labels: ingestion

#6976 feat(auth) Update auth cookies to have same-site none for chrome extension
  datahub-frontend/app/auth/AuthUtils.java
  datahub-frontend/app/auth/sso/SsoConfigs.java
  datahub-frontend/app/auth/sso/oidc/OidcCallbackLogic.java
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/conf/application.conf
  datahub-frontend/play.gradle
Labels: product

#7019 fix(kafka-setup): Remove reference to non-existing topic
  docker/kafka-setup/kafka-setup.sh
Labels: devops

#7017 fix(ingest): powerbi # use display name field as title for powerbi report page
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
Labels: ingestion

#6981 feat(eso): add docs
  docs-website/sidebars.js
  docs/architecture/stemming_and_synonyms.md
Labels: docs

#7022 feat(auth) Allow session ttl to be configurable by env variable
  datahub-frontend/conf/application.conf
Labels: product

#7013 fix(ui ingest): Fix test connection when stateful ingest is enabled
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateTestConnectionRequestResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateTestConnectionRequestResolverTest.java
Labels: product

#7028 docs(sso) move root user warning to earlier in SSO guides
  docs/authentication/guides/sso/configure-oidc-react-azure.md
  docs/authentication/guides/sso/configure-oidc-react-google.md
  docs/authentication/guides/sso/configure-oidc-react-okta.md
  docs/authentication/guides/sso/configure-oidc-react.md
Labels: docs

#7003 fix(ingest/looker): add clarity in chart input parsing logs
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion

#7026 chore(ingest): remove duplicate data_platform.json file
  metadata-ingestion/examples/mce_files/data_platforms.json
Labels: ingestion

#7034 feat(ingestion): PowerBI # Remove corpUserInfo aspect ingestion
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
Labels: ingestion

#6941 feat(ingest): Ingest Previews for Looker Charts, Dashboards, and Explores
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/utilities/url_util.py
  metadata-ingestion/tests/integration/looker/golden_looker_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_allow_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_joins.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_unaliased_joins.json
  metadata-ingestion/tests/integration/looker/looker_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/looker/looker_mces_usage_history.json
Labels: ingestion

#6993 fix(graphql):fix issue: autorender aspect could not be displayed on t…
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/WeaklyTypedAspectsResolver.java
Labels: community-contribution, product

#7024 fix(ingest/bigquery): Turning some usage warning message to debug log as it caused confusion
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#7010 feat(ingest/vertica): Adding Vertica as source in Datahub UI
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/images/verticalogo.png
  metadata-ingestion/docs/sources/vertica/README.md
  metadata-ingestion/docs/sources/vertica/vertica_recipe.yml
  metadata-ingestion/setup.py
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: ingestion, community-contribution, product

#7037 Removed a double set for two fields
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/corpuser/mappers/CorpUserPropertiesMapper.java
Labels: product

#7050 fix(ci): use trivy offline scanning
  .github/workflows/docker-unified.yml
Labels: devops

#7043 docs(get-started) Simplify copy on Get Started landing page
  docs/get-started-with-datahub.md
Labels: docs

#7046 fix(ingest/kafka): fix ResourceType import error for confluent_kafka<1.9.0
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
Labels: ingestion

#7045 docs(dbt): fix indentation in dbt meta mapping docs
  metadata-ingestion/docs/sources/dbt/dbt.md
Labels: ingestion

#7059 fix(ingest): temporarily disable vertica tests
  metadata-ingestion/setup.py
  metadata-ingestion/tests/integration/vertica/test_vertica.py
Labels: ingestion

#6631 feat(editor): improve documentation editor using Remirror
  .github/workflows/build-and-test.yml
  .github/workflows/docker-unified.yml
  datahub-web-react/craco.config.js
  datahub-web-react/package.json
  datahub-web-react/src/app/entity/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entity/shared/components/legacy/DescriptionModal.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/DocumentationTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/__tests__/components/editor/extensions/htmlToMarkdown.test.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/__tests__/components/editor/extensions/markdownToHtml.test.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/DescriptionEditor.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/Editor.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/EditorTheme.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/OnChangeMarkdown.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/__mocks__/Editor.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/__tests__/Editor.test.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/extensions/htmlToMarkdown.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/extensions/markdownToHtml.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/extensions/mentions/DataHubMentionsExtension.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/extensions/mentions/MentionsComponent.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/extensions/mentions/MentionsDropdown.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/extensions/mentions/MentionsNodeView.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/extensions/mentions/useDataHubMentions.ts
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/toolbar/AddImageButton.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/toolbar/AddLinkButton.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/toolbar/CodeBlockToolbar.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/toolbar/CommandButton.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/toolbar/FloatingToolbar.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/toolbar/HeadingMenu.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/toolbar/Icons.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/toolbar/LinkModal.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/toolbar/TableCellMenu.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/toolbar/Toolbar.tsx
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/graphql/search.graphql
  datahub-web-react/src/setupTests.ts
  datahub-web-react/yarn.lock
Labels: community-contribution, product

#7060 fix(bootstrap): add EDIT_LINEAGE privilege to some default policies
  metadata-service/war/src/main/resources/boot/policies.json
Labels: devops

#6984 feat(ingest): add entity registry in codegen
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/scripts/codegen.sh
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/tests/unit/serde/test_serde.py
Labels: ingestion

#6638 feat(ingest): extract powerbi endorsements to tags
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
  metadata-ingestion/docs/sources/powerbi/powerbi_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/proxy.py
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion, community-contribution

#7039 feat(ingestion): pull metabase database, schema names from raw query and api
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
Labels: ingestion

#7066 fix(ingest): support multiple entity_registry sections
  metadata-ingestion/scripts/avro_codegen.py
Labels: ingestion

#7067 ci(ingest): add flag to skip tests but run codegen during release
  metadata-ingestion-modules/airflow-plugin/scripts/release.sh
  metadata-ingestion/scripts/release.sh
Labels: ingestion

#7063 fix(ingest): preserve dbt column name casing
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
Labels: ingestion

#7069 fix(build/airflow): Fixing gradlew path
  metadata-ingestion-modules/airflow-plugin/scripts/release.sh
Labels: ingestion

#7057 fix(ui) Fix duplicate schema field rendering with siblings
  datahub-web-react/src/app/entity/shared/__tests__/siblingsUtils.test.ts
  datahub-web-react/src/app/entity/shared/siblingUtils.ts
Labels: product

#7044 refactor(ingest/athena): Replace `s3_staging_dir` parameter in Athena source with `query_result_location`
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/tests/unit/test_athena_source.py
Labels: ingestion

#7058 feat(ingest): fix handling of unions with aliases in post restli conversion
  metadata-ingestion/src/datahub/emitter/serialization_helper.py
  metadata-ingestion/tests/unit/serde/test_serde.py
  metadata-ingestion/tests/unit/test_rest_sink.py
Labels: ingestion

#7061 fix(ui) Make checkboxes in ingestion forms easier to see
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/FormField.tsx
  datahub-web-react/src/app/ingest/source/builder/__tests__/DefineRecipeStep.test.tsx
Labels: product

#7065 fix(ingest): support git clone of non-github repos
  metadata-ingestion/src/datahub/configuration/github.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/git/test_git_clone.py
Labels: ingestion

#7031 feat(ingest): reporting revamp, part 1
  metadata-ingestion/src/datahub/ingestion/api/report.py
  metadata-ingestion/src/datahub/ingestion/api/report_helpers.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/workunit.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/unit/config/test_config_model.py
  metadata-ingestion/tests/unit/test_report.py
Labels: ingestion

#7074 fix(secret-service): fix default encrypt key
  metadata-service/factories/src/main/resources/application.yml
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/secret/SecretServiceFactoryTest.java
Labels: devops

#7052 feat(datahub-lite): introduces a new experimental lightweight impleme…
  docs-website/sidebars.js
  docs/cli.md
  docs/datahub_lite.md
  metadata-ingestion/setup.py
  metadata-ingestion/sink_docs/datahub.md
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/api/sink.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_lite.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/src/datahub/lite/__init__.py
  metadata-ingestion/src/datahub/lite/duckdb_lite.py
  metadata-ingestion/src/datahub/lite/lite_local.py
  metadata-ingestion/src/datahub/lite/lite_registry.py
  metadata-ingestion/src/datahub/lite/lite_server.py
  metadata-ingestion/src/datahub/lite/lite_util.py
Labels: ingestion, docs

#7079 feat(datahub-lite): adding tab completion, small serialization fixes
  docs/datahub_lite.md
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/lite/duckdb_lite.py
Labels: ingestion, docs

#7070 docs: add docs for managed DataHub v0.1.72
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_1_69.md
  docs/managed-datahub/release-notes/v_0_1_70.md
  docs/managed-datahub/release-notes/v_0_1_72.md
Labels: docs

#7084 docs: add warning about clearing cookies for login
  docs/how/updating-datahub.md
  docs/managed-datahub/release-notes/v_0_1_72.md
Labels: docs

#6645 feat(cache): add hazelcast distributed cache option
  build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/cache/CacheableSearcher.java
  metadata-io/src/main/java/com/linkedin/metadata/search/cache/CachedEntityLineageResult.java
  metadata-io/src/main/java/com/linkedin/metadata/search/cache/CachingAllEntitiesSearchAggregator.java
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CachingEntitySearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/GZIPUtil.java
  metadata-service/factories/build.gradle
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/CacheConfig.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/CaffeineCacheConfig.java
  metadata-service/factories/src/main/resources/application.yml
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/search/CacheTest.java
Labels: platform

#7085 docs(datahub-lite): small improvement for zsh tab completion
  docs/datahub_lite.md
Labels: docs

#7075 fix(ingest/bigquery): clear stateful ingestion correctly
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#7086 fix(graphql): Return with appropriate status code instead of stacktrace
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/GraphQLController.java
Labels: devops

#7088 fix(sso): Clear cookies on SSO redirect error
  datahub-frontend/app/controllers/CentralLogoutController.java
  datahub-frontend/app/controllers/SsoCallbackController.java
Labels: product

#7082 fix(docs): add missing mutation literal
  docs/api/graphql/token-management.md
Labels: docs, community-contribution

#7078 fix(ui): display the correct access token expiry in AccessTokenModal
  datahub-web-react/src/app/settings/CreateTokenModal.tsx
Labels: community-contribution, product

#7089 fix(cli/lite): fix datahub lite serve command
  docs/datahub_lite.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/lite/lite_server.py
Labels: ingestion

#7087 fix(profiling): Fix syntax for APPROX_COUNT_DISTINCT on bigquery and snowflake
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#7076 fix(ingest): fix logic error of google protobuf wrapper type.
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/model/ProtobufField.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/model/ProtobufFieldTest.java
  metadata-integration/java/datahub-protobuf/src/test/resources/extended_protobuf/messageC.proto
  metadata-integration/java/datahub-protobuf/src/test/resources/extended_protobuf/messageC.protoc
Labels: ingestion, community-contribution

#7072 feat(ui): Documentation Editor Improvements
  datahub-web-react/src/app/context/UserContextProvider.tsx
  datahub-web-react/src/app/context/useInitialRedirect.ts
  datahub-web-react/src/app/context/userContext.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/DocumentationTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/DescriptionEditor.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/DescriptionEditorToolbar.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/DescriptionPreview.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/DescriptionPreviewModal.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/DescriptionPreviewToolbar.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/DiscardDescriptionModal.tsx
Labels: product

#7093 fix(uri): marks uri field as deprecated, removes problem code, and adds coercer for usages of URI typeref
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  li-utils/src/main/javaPegasus/com/linkedin/common/uri/Uri.java
  li-utils/src/main/javaPegasus/com/linkedin/common/uri/UriCoercer.java
  metadata-models/src/main/pegasus/com/linkedin/dataset/DatasetProperties.pdl
Labels: product

#7092 fix(build): postgres docker secret
  .github/workflows/docker-postgres-setup.yml
Labels: devops

#7095 fix(ingest/snowflake): handle corrupted snowflake OCSP cache file
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion

#6877 refactor(ingest): Refactoring container creation to common place
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/druid.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hana.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_utils.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/src/datahub/ingestion/source/sql/two_tier_sql_source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/src/datahub/utilities/stats_collections.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/unit/test_sql_common.py
  metadata-ingestion/tests/unit/test_sql_utils.py
Labels: ingestion

#7097 feat(ingest): move datahub-lite to optional dep and add shim when missing
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/entrypoints.py
Labels: ingestion

#7091 fix(docker): support non amd64 dockerize in setup containers
  docker/elasticsearch-setup/Dockerfile
  docker/mysql-setup/Dockerfile
Labels: devops

#7098 test(ingest): fix kafka admin client mocking
  metadata-ingestion/tests/unit/test_kafka_source.py
Labels: ingestion

#7104 fix(build): Fix postgres setup gha
  .github/workflows/docker-postgres-setup.yml
Labels: devops

#7101 fix(ingest/profile): properly quoting approx_count_distinct
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_utils.py
Labels: ingestion

#7105 style(models): Replaces non-ASCII charactes in pdl files with ASCII c…
  li-utils/src/main/pegasus/com/linkedin/common/MLFeatureDataType.pdl
  metadata-models/src/main/pegasus/com/linkedin/ml/metadata/EthicalConsiderations.pdl
  metadata-models/src/main/pegasus/com/linkedin/ml/metadata/MLModelFactors.pdl
Labels: platform

#7029 feast(eso): rename topic
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/buildindices/PostBuildIndicesStep.java
  docker/datahub-gms/env/docker-without-neo4j.env
  docker/datahub-gms/env/docker.cassandra.env
  docker/datahub-gms/env/docker.env
  docker/datahub-gms/env/docker.mariadb.env
  docker/datahub-gms/env/docker.postgres.env
  docker/datahub-mae-consumer/env/docker-without-neo4j.env
  docker/datahub-mae-consumer/env/docker.env
  docker/kafka-setup/Dockerfile
  docker/kafka-setup/env/docker.env
  docker/kafka-setup/kafka-setup.sh
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-dao-impl/kafka-producer/src/main/java/com/linkedin/metadata/dao/producer/KafkaEventProducer.java
  metadata-events/mxe-registration/src/main/java/com/linkedin/mxe/TopicConvention.java
  metadata-events/mxe-registration/src/main/java/com/linkedin/mxe/TopicConventionImpl.java
  metadata-events/mxe-registration/src/main/java/com/linkedin/mxe/Topics.java
  metadata-events/mxe-utils-avro-1.7/src/main/java/com/linkedin/metadata/EventUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/event/EventProducer.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/boot/ApplicationStartupListener.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/boot/MCLBootstrapManagerFactory.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/elasticsearch/indices/DataHubUpgradeKafkaListener.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHookTest.java
  metadata-models/src/main/pegasus/com/linkedin/mxe/BuildIndicesHistoryEvent.pdl
  metadata-models/src/main/pegasus/com/linkedin/mxe/DataHubUpgradeHistoryEvent.pdl
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/TopicConventionFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/factories/BootstrapManagerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/WaitForBuildIndicesStep.java
Labels: product, devops

#7096 feat(ingest): hide cartesian product warnings in GE profiler
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/utilities/sqlalchemy_query_combiner.py
Labels: ingestion

#6605 feat(ingest): add removing partition pattern in spark lineage
  metadata-integration/java/spark-lineage/README.md
  metadata-integration/java/spark-lineage/src/main/java/datahub/spark/DatasetExtractor.java
  metadata-integration/java/spark-lineage/src/main/java/datahub/spark/model/dataset/HdfsPathDataset.java
Labels: ingestion, community-contribution

#7041 feat(redshift): Fetch lineage from unload queries
  metadata-ingestion/src/datahub/ingestion/source/sql/redshift.py
Labels: ingestion, community-contribution

#7106 fix(ci): do not confirm on force for deletion
  metadata-ingestion/src/datahub/cli/delete_cli.py
Labels: ingestion

#7109 fix(analytics): add missing usage events causing warning in logs
  .github/scripts/check_event_type.py
  .github/workflows/check-event-type.yml
  metadata-io/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Labels: product, devops

#7116 fix(tests): Fixing add_users smoke test
  datahub-web-react/src/app/shared/ManageAccount.tsx
  smoke-test/tests/cypress/cypress/integration/mutations/add_users.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: product, smoke_test

#7117 docs(gms): clarify behavior of soft deletion in UI
  metadata-service/README.md
Labels: devops

#7103 fix(kafka-setup): Make topic name consistent with other images
  docker/kafka-setup/Dockerfile
  docker/kafka-setup/env/docker.env
  docker/kafka-setup/kafka-setup.sh
  docs/how/updating-datahub.md
Labels: devops

#7128 fix(ui) Display glossary term name in analytics page properly
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetChartsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetMetadataAnalyticsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/service/AnalyticsUtil.java
Labels: product

#6629 fix(ui): only use visible and enabled tabs for selected tab and routing in entity profiles
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/shared/EntityContext.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/EntityProfile.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityTabs.tsx
  datahub-web-react/src/app/entity/shared/types.ts
Labels: community-contribution, product

#7126 fix(htrace): remove htrace jar
  docker/datahub-ingestion/Dockerfile
Labels: devops

#7131 feat(datahub-lite): simplify get response
  metadata-ingestion/src/datahub/lite/duckdb_lite.py
  metadata-ingestion/src/datahub/lite/lite_local.py
  metadata-ingestion/src/datahub/lite/lite_util.py
Labels: ingestion

#7136 fix(doc/biquery): Updating bigquery capability doc
  metadata-ingestion/docs/sources/bigquery/README.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
Labels: ingestion

#7132 fix(ci): do not fail fast for matrix runs
  .github/workflows/build-and-test.yml
  .github/workflows/metadata-ingestion.yml
Labels: devops

#7099 refactor(ui): refactor capitalization of platform name and sub types
  datahub-web-react/public/meta-favicon.ico
  datahub-web-react/src/app/domain/DomainsList.tsx
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/chart/preview/ChartPreview.tsx
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
  datahub-web-react/src/app/entity/container/preview/Preview.tsx
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/dashboard/preview/DashboardPreview.tsx
  datahub-web-react/src/app/entity/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entity/dataFlow/preview/Preview.tsx
  datahub-web-react/src/app/entity/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entity/dataJob/preview/Preview.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/dataset/preview/Preview.tsx
  datahub-web-react/src/app/entity/group/GroupMembers.tsx
  datahub-web-react/src/app/entity/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entity/mlFeature/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entity/mlFeatureTable/profile/MLFeatureTableHeader.tsx
  datahub-web-react/src/app/entity/mlModel/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlModelGroup/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlPrimaryKey/preview/Preview.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/downloadAsCsvUtil.ts
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHeader.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/PlatformContent/PlatformContentContainer.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/PlatformContent/PlatformContentView.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/DatasetAssertionsList.tsx
  datahub-web-react/src/app/entity/shared/utils.ts
  datahub-web-react/src/app/identity/user/SelectRole.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/lineage/LineageEntityNode.tsx
  datahub-web-react/src/app/lineage/__tests__/LineageEntityView.test.tsx
  datahub-web-react/src/app/lineage/__tests__/constructTree.test.ts
  datahub-web-react/src/app/lineage/manage/LineageEntityView.tsx
  datahub-web-react/src/app/permissions/policy/ManagePolicies.tsx
  datahub-web-react/src/app/permissions/roles/ManageRoles.tsx
  datahub-web-react/src/app/recommendations/renderer/component/EntityNameList.tsx
  datahub-web-react/src/app/recommendations/renderer/component/PlatformList.tsx
  datahub-web-react/src/app/search/SearchFilterLabel.tsx
  datahub-web-react/src/app/settings/AccessTokens.tsx
  smoke-test/tests/cypress/cypress/integration/siblings/siblings.js
Labels: community-contribution, product

#7134 refactor(cli): extract method, change wording
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-ingestion/src/datahub/cli/put_cli.py
  metadata-ingestion/src/datahub/cli/state_cli.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion

#6257 docs(lineage): Updating Lineage feature guide
  docs-website/sidebars.js
  docs/act-on-metadata/impact-analysis.md
  docs/lineage/intro.md
  docs/lineage/lineage-feature-guide.md
  docs/lineage/sample_code.md
Labels: docs

#7140 removing WIP
  docs/wip/advanced-guides.md
  docs/wip/configure-sso.md
  docs/wip/create-policies.md
  docs/wip/csv-enrichment.md
  docs/wip/datahub-incidents.md
  docs/wip/developer-guides.md
  docs/wip/events-bridge.md
  docs/wip/guide-enrich-your-metadata.md
  docs/wip/guide-ingest-your-first-metadata-source.md
  docs/wip/importance-of-shift-left.md
  docs/wip/ingestion-overview.md
  docs/wip/invite-with-email-link.md
  docs/wip/managed-datahub-setup.md
  docs/wip/managed-ingestion-supported-connectors.md
  docs/wip/metadata-analytics.md
  docs/wip/pull-based-ingestion.md
  docs/wip/remote-ingestion-executor-on-AWS.md
  docs/wip/search-ranking.md
  docs/wip/tutorials.md
  docs/wip/ui-based-enrichment.md
  docs/wip/what-is-datahub.md
Labels: docs

#7141 docs(oidc): Updating + improving docs around OIDC configuration
  docs/authentication/guides/sso/configure-oidc-react.md
Labels: docs

#7130 fix(ingest): add message proto check
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/model/ProtobufElement.java
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/model/ProtobufField.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/TestFixtures.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/dataset/DescriptionVisitorTest.java
  metadata-integration/java/datahub-protobuf/src/test/resources/protobuf/messageC2.proto
  metadata-integration/java/datahub-protobuf/src/test/resources/protobuf/messageC2.protoc
Labels: ingestion, community-contribution, platform

#6987 fix(ingest): use snowflake median function in profiling
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#7135 feat(ui): allow removing parentNodes of Glossary Nodes and Glossary Terms
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateParentNodeResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/shared/EntityDropdown/MoveGlossaryEntityModal.tsx
Labels: product

#7113 feat(ui) Add new embedded profile to be displayed in extension
  datahub-web-react/src/app/ProtectedRoutes.tsx
  datahub-web-react/src/app/embed/EmbeddedPage.tsx
  datahub-web-react/src/app/entity/Entity.tsx
  datahub-web-react/src/app/entity/EntityPage.tsx
  datahub-web-react/src/app/entity/EntityRegistry.tsx
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entity/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/domain/DomainEntity.tsx
  datahub-web-react/src/app/entity/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entity/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entity/group/GroupOwnerSideBarSection.tsx
  datahub-web-react/src/app/entity/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entity/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entity/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entity/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entity/mlPrimaryKey/MLPrimaryKeyEntity.tsx
  datahub-web-react/src/app/entity/shared/components/legacy/MarkdownViewer.tsx
  datahub-web-react/src/app/entity/shared/components/styled/ExpandedOwner/ExpandedOwner.tsx
  datahub-web-react/src/app/entity/shared/components/styled/ExpandedOwner/OwnerContent.tsx
  datahub-web-react/src/app/entity/shared/constants.ts
  datahub-web-react/src/app/entity/shared/containers/profile/EntityProfile.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/__tests__/EntityProfile.test.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/AboutSection/DescriptionSection.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/AboutSection/EmptyContentSection.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/AboutSection/LinksSection.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/AboutSection/SidebarAboutSection.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/AboutSection/SourceRefSection.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Domain/SidebarDomainSection.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/LinkButton.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Ownership/SidebarOwnerSection.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/SidebarAboutSection.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/SidebarTagsSection.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/useGetDataForProfile.ts
  datahub-web-react/src/app/entity/shared/containers/profile/utils.ts
  datahub-web-react/src/app/entity/shared/embed/EmbeddedHeader.tsx
  datahub-web-react/src/app/entity/shared/embed/EmbeddedProfile.tsx
  datahub-web-react/src/app/entity/shared/embed/UpstreamHealth/FailingAssertions.tsx
  datahub-web-react/src/app/entity/shared/embed/UpstreamHealth/FailingEntity.tsx
  datahub-web-react/src/app/entity/shared/embed/UpstreamHealth/FailingInputs.tsx
  datahub-web-react/src/app/entity/shared/embed/UpstreamHealth/UpstreamHealth.tsx
  datahub-web-react/src/app/entity/shared/embed/UpstreamHealth/__tests__/utils.test.tsx
  datahub-web-react/src/app/entity/shared/embed/UpstreamHealth/utils.ts
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/app/shared/TagStyleEntity.tsx
  datahub-web-react/src/app/shared/tags/DomainLink.tsx
  datahub-web-react/src/app/shared/tags/TagTermGroup.tsx
  datahub-web-react/src/app/shared/tags/tag/Tag.tsx
  datahub-web-react/src/app/shared/tags/term/StyledTerm.tsx
  datahub-web-react/src/app/shared/tags/term/TermContent.tsx
  datahub-web-react/src/conf/Global.ts
  datahub-web-react/src/graphql/search.graphql
  datahub-web-react/src/images/link-out.svg
Labels: product

#7118 feat(ingest): add `--log-file` option and show CLI logs in UI report
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/src/datahub/telemetry/telemetry.py
  metadata-ingestion/src/datahub/upgrade/upgrade.py
  metadata-ingestion/src/datahub/utilities/logging_manager.py
  metadata-ingestion/src/datahub/utilities/tee_io.py
  metadata-ingestion/tests/unit/test_cli_logging.py
Labels: ingestion

#7149 fix(misc): NPE and GraphQL case fixes
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/UrnToEntityMapper.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EditableSchemaMetadataChangeEventGenerator.java
Labels: product

#7146 fix(ingest/snowflake): fix regression in approx count distinct
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#7142 [docs] fix typo / add missing line for docker compose / attach overwriting system action config for confluent.
  docs/deploy/confluent-cloud.md
Labels: docs

#7157 fix(ingestion): powerbi # Not all arguments converted to string
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Labels: ingestion

#7148 fix(ui): Sort top users by their query count in datasets stats tab
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Stats/snapshot/TableStats.tsx
Labels: product

#7151 refactor(ui): Updates to Manual Lineage search
  datahub-web-react/src/app/lineage/manage/AddEntityEdge.tsx
Labels: product

#7150 feat(ui) Build entity doesn't exist page for entity profiles
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/EntityExistsResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/EntityProfile.tsx
  datahub-web-react/src/app/entity/shared/embed/EmbeddedProfile.tsx
  datahub-web-react/src/app/entity/shared/entity/NonExistentEntityPage.tsx
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/graphql/chart.graphql
  datahub-web-react/src/graphql/container.graphql
  datahub-web-react/src/graphql/dataFlow.graphql
  datahub-web-react/src/graphql/dataset.graphql
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/glossaryNode.graphql
  datahub-web-react/src/graphql/glossaryTerm.graphql
Labels: product

#7163 David leifker/elasticsearch optimization ext
  docker/datahub-gms/env/docker-without-neo4j.env
  docker/datahub-gms/env/docker.cassandra.env
  docker/datahub-gms/env/docker.env
  docker/datahub-gms/env/docker.mariadb.env
  docker/datahub-gms/env/docker.postgres.env
  docker/datahub-upgrade/env/docker-without-neo4j.env
  docker/datahub-upgrade/env/docker.env
  docker/docker-compose-without-neo4j.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.monitoring.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-ingestion/junit.quick.xml
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-jobs/mce-consumer-job/src/main/java/com/linkedin/metadata/kafka/KafkaMCEConsumerConfig.java
  metadata-service/factories/src/main/resources/application.yml
  smoke-test/requests_wrapper/constants.py
  smoke-test/requirements.txt
  smoke-test/smoke.sh
  smoke-test/tests/cli/datahub-cli.py
  smoke-test/tests/delete/delete_test.py
  smoke-test/tests/tokens/revokable_access_token_test.py
Labels: ingestion, devops, smoke_test

#7164 David leifker/elasticsearch optimization ext
  docker/datahub-gms/env/docker-without-neo4j.env
  docker/datahub-gms/env/docker.cassandra.env
  docker/datahub-gms/env/docker.env
  docker/datahub-gms/env/docker.mariadb.env
  docker/datahub-gms/env/docker.postgres.env
  docker/datahub-upgrade/env/docker-without-neo4j.env
  docker/datahub-upgrade/env/docker.env
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-service/factories/src/main/resources/application.yml
  smoke-test/requests_wrapper/constants.py
Labels: ingestion, devops, smoke_test

#7165 David leifker/elasticsearch optimization ext
  smoke-test/requests_wrapper/constants.py
Labels: smoke_test

#7161 ci(ingest): fix broken CI workflow for metadata-ingestion
  .github/workflows/metadata-ingestion.yml
Labels: devops

#7169 fix(ingest): azuread group mapping do not stop ingestion
  metadata-ingestion/src/datahub/ingestion/source/identity/azure_ad.py
Labels: ingestion

#7162 refactor(ui ingest): Allow enabling / disabling ingestion schedule easily
  datahub-web-react/src/app/ingest/source/builder/CreateScheduleStep.tsx
  datahub-web-react/src/app/ingest/source/builder/IngestionSourceBuilderModal.tsx
  smoke-test/tests/cypress/cypress/integration/mutations/managed_ingestion.js
Labels: product

#7158 fix(ingest): switch various sources to `auto_stale_entity_removal` helper
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
Labels: ingestion

#7179 test(ingest/delta-lake): fix spurious directory creation
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/delta_lake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
Labels: ingestion

#7178 feat: add a linter for github actions workflows
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-unified.yml
  .github/workflows/lint-actions.yml
Labels: devops

#7181 fix(quickstart): adding back kafka-setup
  docker/docker-compose-without-neo4j.override.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.kafka-setup.yml
  docker/docker-compose.override.yml
  docker/docker-compose.yml
  docker/kafka-setup/kafka-setup.sh
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.kafka-setup.quickstart.yml
  docker/quickstart/docker-compose.monitoring.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  docker/quickstart/generate_and_compare.sh
  docker/quickstart/generate_docker_quickstart.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion, devops

#7183 fix(docs) Fix broken links in ingestion docs
  metadata-ingestion/README.md
Labels: ingestion
