Repository datahub-project/datahub, pull requests merged in 2023-05, with the labels that each got.

#7929 logging(auth): adding optional logging to authentication exceptions
  metadata-service/auth-filter/src/main/java/com/datahub/auth/authentication/filter/AuthenticationFilter.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/authenticator/AuthenticatorChain.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/authenticator/AuthenticatorChainTest.java
  metadata-service/factories/src/main/resources/application.yml
Labels: devops

#7901 feat(search): enable search initial customization
  docs/how/search.md
  metadata-io/src/main/java/com/linkedin/metadata/config/search/CustomConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/config/search/SearchConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/config/search/custom/BoolQueryConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/config/search/custom/CustomSearchConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/config/search/custom/QueryConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/CustomizedQueryHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchFieldConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/ESSampleDataFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/ESSearchLineageFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/SearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/CustomizedQueryHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandlerTest.java
  metadata-io/src/test/resources/elasticsearch/sample_data/datasetindex_v2.json.gz
  metadata-io/src/test/resources/search_config_builder_test.yml
  metadata-io/src/test/resources/search_config_fixture_test.yml
  metadata-io/src/test/resources/search_config_test.yml
  metadata-models/src/main/pegasus/com/linkedin/schema/SchemaField.pdl
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchServiceFactory.java
  metadata-service/factories/src/main/resources/application.yml
  metadata-service/factories/src/main/resources/search_config.yml
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
Labels: product, devops

#7910 feat(ingest/unity): Add usage extraction; add TableReference
  metadata-ingestion/docs/sources/databricks/unity-catalog_pre.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
  metadata-ingestion/tests/unit/test_unity_catalog_config.py
  metadata-ingestion/tests/unit/test_usage_common.py
Labels: ingestion

#7935 fix(ingest/unity-catalog): Add usage_common dependency to unity catalog plugin
  metadata-ingestion/setup.py
Labels: ingestion

#7919 feat(search): add filter for specific entities
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAOTest.java
Labels: product

#7938 fix(ingest/unity): Add sqllineage dependency
  metadata-ingestion/setup.py
Labels: ingestion

#7875 feat: add missing python sdk guides based on DatahubGraph
  docs-website/sidebars.js
  docs/api/datahub-apis.md
  docs/api/graphql/getting-started.md
  docs/api/tutorials/custom-properties.md
  docs/api/tutorials/datasets.md
  docs/api/tutorials/deprecation.md
  docs/api/tutorials/descriptions.md
  docs/api/tutorials/domains.md
  docs/api/tutorials/lineage.md
  docs/api/tutorials/owners.md
  docs/api/tutorials/tags.md
  docs/api/tutorials/terms.md
  docs/cli.md
  docs/imgs/apis/tutorials/domain-added.png
  docs/imgs/apis/tutorials/tag-added.png
  docs/imgs/apis/tutorials/term-added.png
  docs/what-is-datahub/datahub-concepts.md
  metadata-ingestion/examples/library/dataset_add_column_tag.py
  metadata-ingestion/examples/library/dataset_add_column_term.py
  metadata-ingestion/examples/library/dataset_add_domain_execute_graphql.py
  metadata-ingestion/examples/library/dataset_query_deprecation.py
  metadata-ingestion/examples/library/dataset_query_description.py
  metadata-ingestion/examples/library/dataset_query_description_on_columns.py
  metadata-ingestion/examples/library/dataset_query_domain.py
  metadata-ingestion/examples/library/dataset_query_owners.py
  metadata-ingestion/examples/library/dataset_query_tags.py
  metadata-ingestion/examples/library/dataset_query_terms.py
  metadata-ingestion/examples/library/dataset_remove_domain_execute_graphql.py
  metadata-ingestion/examples/library/dataset_remove_owner_execute_graphql.py
  metadata-ingestion/examples/library/dataset_remove_tag_execute_graphql.py
  metadata-ingestion/examples/library/dataset_remove_term_execute_graphql.py
Labels: ingestion, docs

#7900 fix(ingest/unity): use fully qualified catalog/schema patterns
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/unity_catalog.tsx
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Labels: ingestion, product

#7945 feat(airflow): respect port parameter if provided
  metadata-ingestion/src/datahub_provider/hooks/datahub.py
Labels: ingestion

#7946 fix(ingest): improve error message when graph connection fails
  metadata-ingestion/src/datahub/ingestion/api/common.py
Labels: ingestion

#7949 fix(docs): Adding relationship types section to Business Glossary docs
  docs/glossary/business-glossary.md
Labels: docs

#7947 docs(ingest): update max_threads default value
  docs-website/genJsonSchema/gen_json_schema.py
  metadata-ingestion/sink_docs/datahub.md
  metadata-ingestion/tests/unit/stateful_ingestion/test_configs.py
Labels: ingestion

#7948 fix(ui) Fix Tag Details button to use url encoding
  datahub-web-react/src/app/shared/tags/TagProfileDrawer.tsx
Labels: product

#7893 docs: amend italic formatting
  docs/managed-datahub/metadata-ingestion-with-acryl/ingestion.md
Labels: docs

#7928 fix(ldap): properly handle escaped characters in LDAP DNs
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/tests/unit/test_ldap_source.py
Labels: ingestion

#7916 docs(ingest/postgres): add example with ssl configuration
  metadata-ingestion/docs/sources/mariadb/mariadb_recipe.yml
  metadata-ingestion/docs/sources/postgres/postgres_recipe.yml
Labels: ingestion

#7912 refactor(ingest/biz-glossary): simplify business glossary source
  metadata-ingestion/examples/bootstrap_data/business_glossary.yml
  metadata-ingestion/src/datahub/ingestion/source/confluent_schema_registry.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/tests/integration/business-glossary/glossary_events_auto_id_golden.json
  metadata-ingestion/tests/integration/business-glossary/glossary_events_golden.json
  metadata-ingestion/tests/integration/remote/golden/remote_glossary_golden.json
  metadata-ingestion/tests/unit/test_kafka_source.py
Labels: ingestion

#7959 fix: Fix broken links on PowerBI
  docs/quick-ingestion-guides/powerbi/setup.md
Labels: docs

#7955 fix(ui) Fix displaying column level lineage for sibling nodes
  datahub-web-react/src/app/entity/EntityRegistry.tsx
  datahub-web-react/src/app/entity/shared/utils.ts
  datahub-web-react/src/app/lineage/LineageExplorer.tsx
  datahub-web-react/src/app/lineage/__tests__/LineageTree.test.tsx
  datahub-web-react/src/app/lineage/__tests__/adjustVXTreeLayout.test.tsx
  datahub-web-react/src/app/lineage/__tests__/constructTree.test.ts
  datahub-web-react/src/app/lineage/types.ts
  datahub-web-react/src/app/lineage/utils/constructTree.ts
  datahub-web-react/src/app/lineage/utils/extendAsyncEntities.ts
Labels: product

#7954 fix(ingest/bigquery): Filter projects for lineage and usage
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#7967 feat(tracking) Add tracking events to our chrome extension page
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/embed/EmbeddedPage.tsx
  datahub-web-react/src/app/entity/shared/embed/EmbeddedHeader.tsx
  metadata-io/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Labels: product

#7898 feat(es) Store and map containerPath to elastic search properly
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/SearchableAnnotation.java
  entity-registry/src/test/java/com/linkedin/metadata/models/EntitySpecBuilderTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/SettingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchFieldConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformer.java
  metadata-io/src/test/java/com/linkedin/metadata/TestEntityUtil.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformerTest.java
  metadata-models/src/main/pegasus/com/linkedin/common/BrowsePathsV2.pdl
  test-models/src/main/pegasus/com/datahub/test/BrowsePathEntry.pdl
  test-models/src/main/pegasus/com/datahub/test/TestBrowsePathsV2.pdl
  test-models/src/main/pegasus/com/datahub/test/TestEntityAspect.pdl
Labels: product

#7963 fix(ingest/salesforce): support JSON web token auth
  metadata-ingestion/docs/sources/salesforce/salesforce_pre.md
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
Labels: ingestion

#7973 fix(SearchBar): Restore explore all link
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/home/__tests__/HomePage.test.tsx
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/app/search/SearchResultList.tsx
  metadata-io/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Labels: product

#7965 fix(ingest/tableau): Add a try catch to LineageRunner parser
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#7980 fix(ingest/salesforce): fix lint
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
Labels: ingestion

#7978 fix(ingest): use certs correctly in rest emitter
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
Labels: ingestion

#7975 fix(ingestion/redshift) - Fixing schema query
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
Labels: ingestion

#7983 fix(ingest/redshift): Enabling autocommit for Redshift connection
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/profile.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/report.py
  metadata-ingestion/tests/unit/test_redshift_lineage.py
Labels: ingestion

#7908 fix(ingest): use with for opened connections
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
  metadata-ingestion/src/datahub/ingestion/source/sql/two_tier_sql_source.py
Labels: ingestion

#7951 fix(ingest/unity): improve error message if no scheme in workspace_url
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/tests/unit/config/test_config_model.py
  metadata-ingestion/tests/unit/test_unity_catalog_config.py
Labels: ingestion

#7956 fix(download as csv): Support download to csv for impact analysis tab
  datahub-web-react/src/app/entity/shared/components/styled/search/DownloadAsCsvModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchHeader.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchSection.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchExtendedMenu.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/ImpactAnalysis.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/generateUseDownloadScrollAcrossLineageSearchResultsHook.ts
  datahub-web-react/src/app/search/SearchPage.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
  datahub-web-react/src/app/search/utils/types.ts
  datahub-web-react/src/app/search/utils/useDownloadScrollAcrossEntitiesSearchResults.ts
  datahub-web-react/src/graphql/scroll.graphql
Labels: product

#7958 docs(development): update per feedback from community
  docs/developers.md
Labels: docs

#7810 fix(ingest/bigquery): remove incorrectly used table_pattern filter
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/tests/unit/test_bigqueryv2_usage_source.py
Labels: ingestion

#7962 feat(snowflake): add config option to specify deny patterns for upstreams
  metadata-ingestion/src/datahub/configuration/pattern_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_legacy_lineage.py
  metadata-ingestion/tests/unit/test_snowflake_source.py
Labels: ingestion

#7880 fix(docker-compose): make startup more robust with deterministic services' dependencies
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.override.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.consumers-without-neo4j.yml
  docker/docker-compose.consumers.dev.yml
  docker/docker-compose.consumers.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.kafka-setup.yml
  docker/docker-compose.override.yml
  docker/docker-compose.yml
  docker/monitoring/docker-compose.monitoring.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
  docker/quickstart/docker-compose.kafka-setup.quickstart.yml
  docker/quickstart/docker-compose.monitoring.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  docker/quickstart/generate_docker_quickstart.py
Labels: devops, platform

#7936 fix(cache): update search cache when skipped, but enabled
  metadata-io/src/main/java/com/linkedin/metadata/search/cache/CacheableSearcher.java
  metadata-io/src/test/java/com/linkedin/metadata/search/cache/CacheableSearcherTest.java
Labels: product, platform

#7979 feat(telemetry): add server version
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/telemetry/DailyReport.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/telemetry/ScheduledAnalyticsFactory.java
Labels: devops

#7984 docs: add tips on language switchable tap on docs
  docs/api/graphql/overview.md
  metadata-ingestion/as-a-library.md
  metadata-integration/java/as-a-library.md
Labels: ingestion, docs

#7985 fix(privileges) Use glossary term manage children privileges for edit docs and links
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/AddLinkResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateDescriptionResolver.java
  docs/authorization/policies.md
  docs/glossary/business-glossary.md
Labels: docs, product

#7981 refactor(ingest/unity): Use databricks-sdk over databricks-cli for usage query
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
Labels: ingestion

#7988 chore: cleanup some devtool console warnings
  datahub-web-react/package.json
  datahub-web-react/src/App.tsx
  datahub-web-react/src/app/entity/dataset/profile/stats/stats/DatasetStatsSummarySubHeader.tsx
  datahub-web-react/src/app/entity/group/GroupMembers.tsx
  datahub-web-react/src/app/entity/group/GroupMembersSideBarSection.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityName.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Container/ContainerSelectModal.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Domain/SetDomainModal.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Ownership/EditOwnersModal.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Platform/SelectPlatformModal.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Stats/snapshot/ColumnStats.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/DatasetAssertionDetails.tsx
  datahub-web-react/src/app/home/HomePageRecommendations.tsx
  datahub-web-react/src/app/ingest/secret/SecretsList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/permissions/policy/PolicyBuilderModal.tsx
  datahub-web-react/src/app/permissions/policy/PolicyDetailsModal.tsx
  datahub-web-react/src/app/recommendations/renderer/component/TagSearchList.tsx
  datahub-web-react/src/app/search/autoComplete/ParentContainers.tsx
  datahub-web-react/src/app/search/autoComplete/quickFilters/QuickFilter.tsx
  datahub-web-react/src/app/shared/EntityHead.tsx
  datahub-web-react/src/utils/test-utils/TestPageContainer.tsx
  datahub-web-react/yarn.lock
Labels: product

#7997 feat(search): support only searching by quick filter
  datahub-web-react/src/app/home/HomePageHeader.tsx
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/app/search/SearchablePage.tsx
  datahub-web-react/src/app/search/ViewAllSearchItem.tsx
Labels: product

#8010 fix(search): fix custom search config parsing
  metadata-io/src/main/java/com/linkedin/metadata/config/search/CustomConfiguration.java
  metadata-io/src/test/java/com/linkedin/metadata/ESSampleDataFixture.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/CustomizedQueryHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilderTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchServiceFactory.java
  metadata-service/factories/src/main/resources/application.yml
Labels: product, devops

#7996 fix(auth): guards against creating a user for the system actor
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/user/NativeUserService.java
Labels: devops

#8005 feat(ingest/s3): Inferring schema from the alphabetically last folder
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_keyval.json
Labels: ingestion

#7925 feat(ingest/classification): add classification report
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
Labels: ingestion

#8020 docs(managed datahub): release notes for v0.2.7
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_7.md
Labels: docs

#8018 fix(ui ingest): Fix mapping for token_name, token_value form fields for Tableau
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/tableau.ts
Labels: product

#8003 fix(ui): add loading indicator for download as CSV action
  datahub-web-react/src/app/entity/shared/components/styled/search/DownloadAsCsvModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchHeader.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchExtendedMenu.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
Labels: product

#8024 fix(ingest/unity): Update databricks-cli pin
  metadata-ingestion/setup.py
Labels: ingestion

#8023 fix(ingest/s3) Adding missing more-itertools dependency
  metadata-ingestion/setup.py
Labels: ingestion

#8017 fix(sdk): throw errors on empty gms server urls
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub_provider/hooks/datahub.py
Labels: ingestion

#8013 feat(ingest/superset): add stateful ingestion
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/superset/golden_test_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/superset/test_superset.py
Labels: ingestion

#8031 Gitignor'ing generated binary files in OSS
  .gitignore
  test-models/bin/mainGeneratedDataTemplate/com/linkedin/data/template/StringMapArray.class
Labels: devops

#8032 fix(PFP-260): Upgrading sqlite to fix SQLITE-449762
  .gitignore
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/elasticsearch-setup/Dockerfile
  docker/mysql-setup/Dockerfile
  docker/postgres-setup/Dockerfile
Labels: devops

#8026 feat(ingest): support importing local modules
  metadata-ingestion/src/datahub/ingestion/api/registry.py
Labels: ingestion

#8038 fix(timeline-events): fix NPE in timeline events
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGeneratorTest.java
Labels: product

#8001 fix(posts): fix formatting for posts where the title can get cut off
  datahub-web-react/src/app/home/HomePagePosts.tsx
  datahub-web-react/src/app/search/PostTextCard.tsx
Labels: product

#8042 fix(ingestion/metabase): metabase connector bigquery lineage fix
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/tests/integration/metabase/metabase_mces_golden.json
  metadata-ingestion/tests/integration/metabase/setup/bigquery_database.json
  metadata-ingestion/tests/integration/metabase/setup/card_1.json
  metadata-ingestion/tests/integration/metabase/setup/postgres_database.json
  metadata-ingestion/tests/integration/metabase/test_metabase.py
Labels: ingestion

#8034 fix(es) Fix browseV2 index mappings
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/SettingsBuilder.java
Labels: product

#8036 fix(search): enter key with no query should search all
  datahub-web-react/src/app/home/HomePageHeader.tsx
  datahub-web-react/src/app/search/SearchablePage.tsx
Labels: product

#7932 feat(ingest): Allow csv-enricher to update more types
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/tests/integration/csv-enricher/csv_enricher_golden.json
  metadata-ingestion/tests/integration/csv-enricher/csv_enricher_test_data.csv
Labels: ingestion

#8047 fix(search): only show explore all btn on search and home
  datahub-web-react/src/app/search/SearchBar.tsx
Labels: product

#8048 fix(ingest/dbt): fix dbt subtypes for sources
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/siblings/SiblingAssociationHook.java
Labels: ingestion

#7995 fix(ingest/bigquery): update usage audit log query to include create/…
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/tests/unit/test_bigqueryv2_usage_source.py
Labels: ingestion

#8029 feat(docs): add guide on integration ML system via SDKs
  docs-website/sidebars.js
  docs/api/tutorials/ml.md
  docs/imgs/apis/tutorials/feature-added-to-model.png
  docs/imgs/apis/tutorials/feature-table-created.png
  docs/imgs/apis/tutorials/model-group-added-to-model.png
  docs/imgs/apis/tutorials/model-group-created.png
  metadata-ingestion/examples/library/add_mlfeature_to_mlfeature_table.py
  metadata-ingestion/examples/library/add_mlfeature_to_mlmodel.py
  metadata-ingestion/examples/library/add_mlgroup_to_mlmodel.py
  metadata-ingestion/examples/library/create_mlfeature.py
  metadata-ingestion/examples/library/create_mlfeature_table.py
  metadata-ingestion/examples/library/create_mlmodel.py
  metadata-ingestion/examples/library/create_mlmodel_group.py
  metadata-ingestion/examples/library/read_mlfeature.py
  metadata-ingestion/examples/library/read_mlfeature_table.py
  metadata-ingestion/examples/library/read_mlmodel.py
  metadata-ingestion/examples/library/read_mlmodel_group.py
Labels: ingestion, docs

#8051 refactor(ingest): Make get_workunits() return MetadataWorkUnits
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/workunit.py
  metadata-ingestion/src/datahub/ingestion/extractor/mce_extractor.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_lite.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/ingestion/sink/file.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/src/datahub/ingestion/source/demo_data.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_source.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/tests/unit/test_pipeline.py
  metadata-ingestion/tests/unit/test_source.py
  metadata-ingestion/tests/unit/test_usage_common.py
  metadata-models/src/main/pegasus/com/linkedin/usage/UsageAggregation.pdl
  metadata-service/restli-api/src/main/idl/com.linkedin.usage.usageStats.restspec.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.usage.usageStats.snapshot.json
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java
Labels: ingestion

#8056 refractor(classification): simplify classification handler
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/glossary/datahub_classifier.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion

#8030 fix(ingestion/tableau): ingest parent project name in container properties
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/integration/tableau/tableau_project_path_mces_golden.json
Labels: ingestion

#8052 refactor(ingest): Move source_helpers.py from datahub/utilities -> datahub/api
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_source.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/identity/azure_ad.py
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/schema/json_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/unit/test_source_helpers.py
Labels: ingestion

#7767 fix(ingest/snowflake): lowercase user urn when using email
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
Labels: ingestion

#8065 fix(ingest/tableau): don't use unsupported sql condition field
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
Labels: ingestion

#8070 fix(ingest/looker): don't prematurely show connectivity success
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion

#8057 feat(web): update AWS logos
  datahub-web-react/src/images/gluelogo.png
  datahub-web-react/src/images/redshiftlogo.png
  datahub-web-react/src/images/s3.png
  datahub-web-react/src/images/s3logo.png
Labels: product

#8035 fix(metadata-io): remove assert in favor of exceptions
  metadata-io/src/main/java/com/linkedin/metadata/search/features/Features.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/TimelineServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EditableDatasetPropertiesChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EditableSchemaMetadataChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/GlossaryTermsChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/InstitutionalMemoryChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/OwnershipChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/query/ESAggregatedStatsDAO.java
Labels: product

#8062 feat: add docs on column-level linage
  docs/api/tutorials/lineage.md
  docs/imgs/apis/tutorials/column-level-lineage-added.png
  metadata-ingestion/examples/library/lineage_emitter_dataset_finegrained_sample.py
Labels: ingestion, docs

#8054 ci: prevent qodana from using all of our cache
  .github/workflows/qodana-scan.yml
Labels: devops

#8060 ci(ingest/clickhouse): don't use kernel ephemeral ports
  metadata-ingestion/tests/integration/clickhouse/clickhouse_to_file.yml
  metadata-ingestion/tests/integration/clickhouse/docker-compose.yml
Labels: ingestion

#8081 test(sdk): better error messages in registry codegen test
  metadata-ingestion/tests/unit/test_codegen.py
Labels: ingestion

#8022 feat(ingest/s3) - Stateful ingestion and last-updated support
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_source.py
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/report.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_exclude.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_glob.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_keyval.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_update_schema.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_specs_of_different_buckets.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_single_file.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_exclude.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_glob.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_keyval.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_update_schema.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_specs_of_different_buckets.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_single_file.json
  metadata-ingestion/tests/integration/s3/sources/s3/folder_partition_update_schema.json
  metadata-ingestion/tests/integration/s3/test_data/local_system/folder_a/folder_aa/folder_aaa/food_csv/part3.csv
  metadata-ingestion/tests/integration/s3/test_s3.py
Labels: ingestion

#8078 fix(ingest/s3_data_lake)_ingestor_skips_directories_with_similar_prefix
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Labels: ingestion

#8084 fix(ui) Fix entity name styling to show deprecation and others properly
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityName.tsx
Labels: product

#8028 test(sdk): move cli tests into the unit dir
  metadata-ingestion/.gitignore
  metadata-ingestion/tests/unit/cli/test_quickstart_version_mapping.py
Labels: ingestion

#8082 feat(caching): skip cache on ownership tabs
  datahub-web-react/src/app/entity/group/GroupAssets.tsx
  datahub-web-react/src/app/entity/user/UserAssets.tsx
Labels: product

#8033 feat(embed): embed lookup route
  datahub-web-react/src/app/ProtectedRoutes.tsx
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/embed/lookup/EmbedLookup.tsx
  datahub-web-react/src/app/embed/lookup/GoToLookup.tsx
  datahub-web-react/src/app/embed/lookup/LookupFoundMultiple.tsx
  datahub-web-react/src/app/embed/lookup/LookupLoading.tsx
  datahub-web-react/src/app/embed/lookup/LookupNotFound.tsx
  datahub-web-react/src/app/embed/lookup/constants.ts
  datahub-web-react/src/app/embed/lookup/index.tsx
  datahub-web-react/src/app/embed/lookup/useEmbedAnalytics.ts
  datahub-web-react/src/app/embed/lookup/useGetEntityByUrl.ts
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
  datahub-web-react/src/app/shared/error/ErrorSection.tsx
  datahub-web-react/src/conf/Global.ts
  metadata-io/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Labels: product

#8072 fix(ingest/delta-lake): Walk through directory structure with full path; reduce resource creation
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/delta_lake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
Labels: ingestion

#8000 feat(search): Add AggregateAcrossEntities endpoint
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/AggregateAcrossEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/MapperUtils.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/AggregateAcrossEntitiesResolverTest.java
  datahub-web-react/src/graphql/search.graphql
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/SearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/aggregator/AllEntitiesSearchAggregator.java
  metadata-io/src/main/java/com/linkedin/metadata/search/cache/CachingAllEntitiesSearchAggregator.java
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CachingEntitySearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/ESTestUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandlerTest.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/SearchUtil.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/elasticsearch/IndexConvention.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/elasticsearch/IndexConventionImpl.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/elasticsearch/IndexConventionImplTest.java
Labels: product, devops

#8090 chore(vulnerability): add exclusions for json to prevent leaking dependency
  metadata-io/build.gradle
  metadata-service/factories/build.gradle
Labels: product, devops

#8021 fix(ingestion/powerbi): skip erroneous pages of a report
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion

#7990 feat(images): Add build processes for arm64v8 image variants
  .github/workflows/docker-ingestion-base.yml
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-ingestion.yml
  .github/workflows/docker-unified.yml
Labels: devops, release-0.10.3

#8071 doc(auth): fixes doc in DataHubSystemAuthenticator.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/authenticator/DataHubSystemAuthenticator.java
Labels: devops

#8061 refactor(ingest): Auto report workunits
  metadata-ingestion/src/datahub/emitter/mcp.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/feature_groups.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/jobs.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/models.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
  metadata-ingestion/src/datahub/ingestion/source/feast.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/identity/azure_ad.py
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/ingestion/source/openapi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/src/datahub/ingestion/source/schema/json_schema.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_utils.py
  metadata-ingestion/src/datahub/ingestion/source/sql/two_tier_sql_source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/usage/clickhouse_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/redshift_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/starburst_trino_usage.py
  metadata-ingestion/tests/integration/postgres/postgres_all_db_mces_with_db_golden.json
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java
Labels: ingestion, devops

#7891 feat: datahub-upgrade.sh to support old versions
  docker/datahub-upgrade/datahub-upgrade.sh
Labels: devops, release-0.10.3

#8089 feat(ingest/s3): type aware directory sorting
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Labels: ingestion

#8106 fix(ci): add missing updates to restli-spec
  metadata-service/restli-api/src/main/idl/com.linkedin.usage.usageStats.restspec.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.usage.usageStats.snapshot.json
Labels: devops

#8108 fix(ingest/build): setting typing extension <4.6.0 because it breaks tests
  metadata-ingestion/setup.py
Labels: ingestion

#8016 fix(upgrade): removes sleep from bootstrap process
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/UpgradeStep.java
Labels: devops, release-0.10.3

#7970 fix(ui): SchemaDescriptionField 'read-more' doesn't affect table height
  datahub-web-react/src/app/entity/dataset/profile/__tests__/SchemaDescriptionField.test.tsx
  datahub-web-react/src/app/entity/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entity/mlFeatureTable/profile/features/TableOfMlFeatures.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
Labels: product, release-0.10.3

#8093 fix(ingest): emitter bug fixes
  metadata-ingestion/scripts/specgen.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub_provider/_lineage_core.py
  metadata-ingestion/src/datahub_provider/_plugin.py
  metadata-ingestion/tests/unit/graph/test_client.py
  metadata-ingestion/tests/unit/stateful_ingestion/test_configs.py
Labels: ingestion

#8067 feat(ui) Add readOnly flag that disables profile URL editing
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/entity/user/UserEditProfileModal.tsx
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/factories/src/main/resources/application.yml
Labels: product, devops

#8068 feat(cli): delete cli v2
  docker/README.md
  docs/cli.md
  docs/how/delete-metadata.md
  docs/how/updating-datahub.md
  metadata-ingestion/examples/library/delete_dataset.py
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/src/datahub/cli/specific/dataproduct_cli.py
  metadata-ingestion/src/datahub/configuration/datetimes.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/tests/unit/config/test_datetime_parser.py
  smoke-test/tests/cli/delete_cmd/test_timeseries_delete.py
  smoke-test/tests/delete/delete_test.py
  smoke-test/tests/timeline/timeline_test.py
  smoke-test/tests/utils.py
Labels: ingestion, docs, release-0.10.3

#8104 refactor(ingest): simplify stateful ingestion provider interface
  metadata-ingestion/src/datahub/ingestion/api/common.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/src/datahub/ingestion/source/state/entity_removal_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/profiling_state_handler.py
  metadata-ingestion/src/datahub/ingestion/source/state/redundant_run_skip_handler.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
  metadata-ingestion/tests/integration/azure_ad/test_azure_ad.py
  metadata-ingestion/tests/integration/iceberg/test_iceberg.py
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
  metadata-ingestion/tests/integration/kafka/test_kafka_state.py
  metadata-ingestion/tests/integration/ldap/test_ldap_stateful.py
  metadata-ingestion/tests/integration/looker/test_looker.py
  metadata-ingestion/tests/integration/lookml/test_lookml.py
  metadata-ingestion/tests/integration/okta/test_okta.py
  metadata-ingestion/tests/integration/powerbi/test_stateful_ingestion.py
  metadata-ingestion/tests/integration/superset/test_superset.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/test_helpers/state_helpers.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_stale_entity_removal_handler.py
  metadata-ingestion/tests/unit/test_glue_source.py
  smoke-test/tests/test_stateful_ingestion.py
Labels: ingestion, smoke_test

#7964 Update updating-datahub.md with breaking changes
  docs/how/updating-datahub.md
Labels: docs, release-0.10.3

#8110 feat(ui) Show documentation on Domain pages first
  datahub-web-react/src/app/entity/domain/DomainEntity.tsx
  smoke-test/tests/cypress/cypress/e2e/domains/domains.js
Labels: product, release-0.10.3

#8109 fix(ingest/redshift): Making Redshift source more verbose
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/report.py
Labels: ingestion

#8096 feat(classification): configurable sample size
  metadata-ingestion/docs/dev_guides/classification.md
  metadata-ingestion/src/datahub/ingestion/glossary/classifier.py
  metadata-ingestion/src/datahub/ingestion/glossary/datahub_classifier.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion, release-0.10.3

#8113 fix logic for multiple entities found and clean up messy code
  datahub-web-react/src/app/embed/lookup/EmbedLookup.tsx
  datahub-web-react/src/app/embed/lookup/GoToLookup.tsx
  datahub-web-react/src/app/embed/lookup/LookupLoading.tsx
  datahub-web-react/src/app/embed/lookup/useGetEntityByUrl.ts
Labels: product

#8112 fix(search): Update _entityType transform logic to work for entities containing _
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAOTest.java
Labels: product, release-0.10.3

#8046 feat(ingest/bigquery): usage for views
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source_config/usage/snowflake_usage.py
  metadata-ingestion/tests/performance/bigquery.py
  metadata-ingestion/tests/performance/test_bigquery_usage.py
  metadata-ingestion/tests/unit/test_bigquery_usage.py
Labels: ingestion, release-0.10.3

#7982 fix(ui): Open mailto link in new tab
  datahub-web-react/src/app/shared/share/items/EmailMenuItem.tsx
Labels: product, release-0.10.3

#8117 fix(search): Transform _entityType/index output for scroll across entities as well
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
Labels: product, release-0.10.3

#7994 feat(ingest): Add GenericAspectTransformer
  metadata-ingestion/src/datahub/ingestion/transformer/base_transformer.py
  metadata-ingestion/src/datahub/ingestion/transformer/generic_aspect_transformer.py
  metadata-ingestion/tests/unit/test_generic_aspect_transformer.py
Labels: ingestion

#8097 feat(ingest/nifi): kerberos authentication
  metadata-ingestion/docs/sources/nifi/nifi.md
  metadata-ingestion/scripts/install_deps.sh
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/tests/unit/test_nifi_source.py
Labels: ingestion, release-0.10.3

#8119 fix(ingest/redshift):fixing schema filter
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
Labels: ingestion

#8091 feat(ingest/unity): Allow ingestion without metastore admin role
  metadata-ingestion/docs/sources/databricks/unity-catalog_pre.md
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/connection_test.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
  metadata-ingestion/tests/unit/test_unity_catalog_config.py
Labels: ingestion, release-0.10.3

#8100 feat(ingest/bigquery): Add BigQuery Views lineage extraction from Google Data Catalog API
  docker/datahub-ingestion-base/base-requirements.txt
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
Labels: ingestion, devops

#8125 fix(ingest/redshift): Fixing Redshift subtypes
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
Labels: ingestion

#8128 fix(ingest): Fix breaking smoke test on stateful ingestion
  smoke-test/tests/test_stateful_ingestion.py
Labels: smoke_test

#8085 ci(ingest/kafka): improve kafka integration test reliability
  metadata-ingestion/setup.cfg
  metadata-ingestion/tests/integration/kafka/docker-compose.yml
  metadata-ingestion/tests/integration/kafka/test_kafka.py
  metadata-ingestion/tests/test_helpers/docker_helpers.py
  metadata-ingestion/tests/unit/test_packaging.py
Labels: ingestion

#8132 fix(ingest/bigquery): Deduplicate LogEntries based on insertId, timestamp, logName
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion

#8126 feat(ingest/glue): report glue job lineage failures, update doc
  metadata-ingestion/docs/sources/glue/glue.md
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Labels: ingestion

#7904 feat(lineage source): add fine grained lineage support
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
  metadata-ingestion/tests/integration/remote/golden/remote_lineage_golden.json
  metadata-ingestion/tests/unit/test_file_lineage_source.py
Labels: ingestion

#8135 docs(glue): fix broken link
  metadata-ingestion/docs/sources/glue/glue.md
Labels: ingestion

#8116 feat: add dbt-athena adapter support for column types mapping
  metadata-ingestion/.gitignore
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: ingestion

#8141 docs(csv-enricher): add example csv file & recipe
  metadata-ingestion/docs/sources/csv/csv-enricher_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
Labels: ingestion

#8144 chore(ci): update base requirements file
  docker/datahub-ingestion-base/base-requirements.txt
Labels: devops

#8095 fix(ingest/s3): Path spec aware folder traversal
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_util.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/data_lake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_utils.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/test_data/local_system/folder_a/folder_aa/folder_aaa/pokemon_abilities_json/year=2022/month=jan/_temporary/dummy.json
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Labels: ingestion

#8129 fix(ui) Fix selecting columns in Lineage tab for CLL
  datahub-web-react/src/app/entity/shared/tabs/Lineage/ColumnLineageSelect.tsx
Labels: product

#8102 feat(search): adding support for `_entityType` filter in the application layer + frontend
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/Constants.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/GetQuickFiltersResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/GetQuickFiltersResolverTest.java
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/DownloadAsCsvModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchHeader.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchExtendedMenu.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchSelect.tsx
  datahub-web-react/src/app/search/AdvancedSearchFilterConditionSelect.tsx
  datahub-web-react/src/app/search/ChooseEntityTypeModal.tsx
  datahub-web-react/src/app/search/SearchPage.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
  datahub-web-react/src/app/search/SimpleSearchFilters.tsx
  datahub-web-react/src/app/search/__tests__/SearchPage.test.tsx
  datahub-web-react/src/app/search/autoComplete/quickFilters/utils.tsx
  datahub-web-react/src/app/search/utils/constants.ts
  datahub-web-react/src/app/search/utils/useFilters.ts
  datahub-web-react/src/app/shared/TagStyleEntity.tsx
  metadata-io/src/main/java/com/linkedin/metadata/search/aggregator/AllEntitiesSearchAggregator.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/FilterUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
Labels: product

#8143 docs(ingest/nifi): fix broken links
  metadata-ingestion/docs/sources/nifi/nifi.md
Labels: ingestion

#8149 fix(scroll): fix scroll cache key for hazelcast
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/ScrollAcrossEntitiesResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CachingEntitySearchService.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/search/CacheTest.java
Labels: product, devops

#8150 chore(json): fix json vulnerability
  build.gradle
  metadata-service/factories/build.gradle
Labels: devops

#8121 fix(ingest/json-schema): handle property inheritance in unions
  metadata-ingestion/src/datahub/ingestion/extractor/json_schema_util.py
  metadata-ingestion/tests/unit/schema/test_json_schema_util.py
Labels: ingestion

#8152 fix(lineagecounts) Include entities that are filtered out due to sibling logic in the filtered count of lineage counts
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/group/EntityCountsResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/SiblingGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/shared/ValidationUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/sibling/SiblingGraphServiceTest.java
Labels: product

#8151 fix(stats): display consistent query count on stats tab
  datahub-web-react/src/app/entity/dataset/profile/stats/stats/DatasetStatsSummarySubHeader.tsx
  datahub-web-react/src/app/entity/dataset/shared/DatasetStatsSummary.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Stats/StatsTab.tsx
Labels: product

#8130 fix(ingest): remove `original_table_name` logic in sql source
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
Labels: ingestion
