Repository datahub-project/datahub, pull requests merged in 2023-07, with the labels that each got.

#7499 feat(auth): Fine grained ownership policies
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/policy/mappers/PolicyInfoPolicyMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/policy/mappers/PolicyUpdateInputInfoMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/policy/DataHubPolicyMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/permissions/policy/ManagePolicies.tsx
  datahub-web-react/src/app/permissions/policy/PolicyActorForm.tsx
  datahub-web-react/src/app/permissions/policy/PolicyDetailsModal.tsx
  datahub-web-react/src/graphql/policy.graphql
  metadata-models/src/main/pegasus/com/linkedin/policy/DataHubActorFilter.pdl
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/PolicyEngine.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/PolicyEngineTest.java
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: community-contribution, product, devops

#8367 fix(ingest/s3): Fix for flaky s3 test - uploading s3 files in consistent order
  metadata-ingestion/tests/integration/s3/test_s3.py
Labels: ingestion

#8246 fix(ingest/airflow): Remove info log on import
  metadata-ingestion/src/datahub_provider/_plugin.py
Labels: ingestion, community-contribution

#8370 fix(ui) Update copy of the demo site acryl banner
  datahub-web-react/src/app/home/AcrylDemoBanner.tsx
Labels: product

#8360 test(ingest/mysql): Configure sql_server tests for arm64
  metadata-ingestion/tests/integration/sql_server/docker-compose.yml
Labels: ingestion

#8355 fix(browse): filter entities by whether they might exist in the instance
  datahub-web-react/src/app/search/sidebar/BrowseSidebar.tsx
  datahub-web-react/src/app/search/sidebar/EntityNode.tsx
  datahub-web-react/src/app/search/sidebar/EnvironmentNode.tsx
  datahub-web-react/src/app/search/sidebar/useAggregationsQuery.ts
  datahub-web-react/src/app/search/sidebar/useSidebarEntities.ts
Labels: product, release-0.10.5

#8372 ci(docs): add missing deps for lxml package for vercel
  metadata-ingestion/scripts/install_deps.sh
Labels: ingestion

#8354 feat(browsepathv2): enable incremental update browsepath
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESBrowseDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandlerTest.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/BackfillBrowsePathsV2Step.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/BackfillBrowsePathsV2StepTest.java
  smoke-test/tests/cypress/cypress/e2e/mutations/managed_ingestion.js
Labels: product, devops, smoke_test, release-0.10.5

#8375 feat(stats): show size in bytes and scale at y=min
  datahub-web-react/src/app/analyticsDashboard/components/TimeSeriesChart.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Stats/historical/HistoricalStats.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Stats/historical/charts/ProfilingRunsChart.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Stats/historical/charts/StatChart.tsx
Labels: product

#8371 fix(schema-registry): fix internal schema reg with custom duhe topic …
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/DatahubUpgradeNoSchemaRegistryTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/schemaregistry/DUHESchemaRegistryFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/DataHubUpgradeKafkaListener.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/MockDUHEDeserializer.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/MockDUHESerializer.java
Labels: devops, release-0.10.5

#8377 fix(java) Add try catch block when backfilling browse v2
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/BackfillBrowsePathsV2Step.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/BackfillBrowsePathsV2StepTest.java
Labels: devops, release-0.10.5

#7784 feat(ingest): Add advanced configuration for LDAP manager ingestion
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
Labels: ingestion, community-contribution, merge-pending-ci

#8324 fix(ingest): update pydantic helpers to address unique name issue
  metadata-ingestion/src/datahub/configuration/pydantic_field_deprecation.py
  metadata-ingestion/src/datahub/configuration/validate_field_removal.py
  metadata-ingestion/tests/unit/test_pydantic_validators.py
Labels: ingestion, merge-pending-ci

#8222 fix(cli): local variable reference before assignment
  metadata-ingestion/src/datahub/cli/migrate.py
Labels: ingestion, community-contribution, merge-pending-ci

#8230 chore(ingest/delta-lake): cleanup import error handling
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/delta_lake_utils.py
Labels: ingestion, merge-pending-ci

#8363 test(ingest/nifi): Configure nifi tests for arm64
  metadata-ingestion/tests/integration/nifi/docker-compose.yml
  metadata-ingestion/tests/integration/nifi/nifi_mces_golden_cluster.json
  metadata-ingestion/tests/integration/nifi/nifi_mces_golden_standalone.json
  metadata-ingestion/tests/integration/nifi/setup/conf_clustered/flow.xml.gz
  metadata-ingestion/tests/integration/nifi/test_nifi.py
Labels: ingestion

#8381 build(ingest): Pin pydeequ to unblock CI
  metadata-ingestion/setup.py
Labels: ingestion

#8331 fix(ingest/sql-common): Fix profile_table_level_only
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/tests/integration/mysql/mysql_profile_table_level_only.yml
  metadata-ingestion/tests/integration/mysql/mysql_table_level_only.json
  metadata-ingestion/tests/integration/mysql/test_mysql.py
  metadata-ingestion/tests/integration/postgres/postgres_all_db_to_file_with_db_estimate_row_count.yml
  metadata-ingestion/tests/integration/postgres/postgres_mces_with_db_golden.json
  metadata-ingestion/tests/integration/postgres/postgres_to_file_with_db_estimate_row_count.yml
  metadata-ingestion/tests/unit/test_ge_profiling_config.py
Labels: ingestion, merge-pending-ci

#8334 feat(ingest): schema-aware SQL parsing for column-level lineage
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/testing/__init__.py
  metadata-ingestion/src/datahub/testing/check_sql_parser_result.py
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_create_view_with_cte.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_from_sharded_table_wildcard.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_nested_subqueries.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_sharded_table_normalization.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_unnest_columns.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_create_view_as_select.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_expand_select_star_basic.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_insert_as_select.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_merge_from_union.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_count.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_from_struct_subfields.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_from_union.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_max.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_with_ctes.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_with_full_col_name.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_column_normalization.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_default_normalization.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#8378 fix(config) Set search and browse flags default off
  metadata-service/factories/src/main/resources/application.yml
  smoke-test/tests/cypress/cypress/e2e/browse/browseV2.js
  smoke-test/tests/cypress/cypress/e2e/mutations/domains.js
Labels: devops

#8362 test(ingest/kafka): Configure kafka connect tests for arm64
  metadata-ingestion/tests/integration/kafka-connect/docker-compose.override.yml
  metadata-ingestion/tests/integration/kafka-connect/setup/conf/mongo-init.js
  metadata-ingestion/tests/integration/kafka-connect/setup/conf/mongo-init.sh
  metadata-ingestion/tests/integration/kafka-connect/setup/conf/mongo-populate.js
  metadata-ingestion/tests/integration/kafka-connect/setup/connect.env
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
  metadata-ingestion/tests/integration/kafka/docker-compose.yml
Labels: ingestion

#8207 fix(ui): fix a too much recursion error when column lineage is highlighted
  datahub-web-react/src/app/lineage/utils/highlightColumnLineage.ts
Labels: community-contribution, product

#8389 fix(ingest/s3): Deequ import rearragement
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/datalake_profiler_config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/profiling.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/mysql/mysql_table_level_only.json
Labels: ingestion, merge-pending-ci

#8224 feat(ingest): Add disable flag for TopicRecordNameStrategy
  metadata-ingestion/src/datahub/ingestion/source/confluent_schema_registry.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
Labels: ingestion, community-contribution, merge-pending-ci

#8394 refactor(graphql): make graphql engine extensible
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLPlugin.java
Labels: product

#8310 test(ingest): Aspect level golden file comparison
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/emitter/aspect.py
  metadata-ingestion/src/datahub/emitter/mcp.py
  metadata-ingestion/src/datahub/emitter/mcp_patch_builder.py
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
  metadata-ingestion/src/datahub/ingestion/sink/file.py
  metadata-ingestion/src/datahub/testing/compare_metadata_json.py
  metadata-ingestion/src/datahub/testing/mcp_diff.py
  metadata-ingestion/tests/test_helpers/mce_helpers.py
  metadata-ingestion/tests/unit/patch/complex_dataset_patch.json
  metadata-ingestion/tests/unit/test_bigquery_usage.py
  metadata-ingestion/tests/unit/test_compare_metadata.py
  metadata-ingestion/tests/unit/test_generic_aspect_transformer.py
  metadata-ingestion/tests/unit/test_workunit.py
Labels: ingestion, merge-pending-ci

#8393 test(ingest/airflow): Fix test for airflow 2.6.3
  metadata-ingestion/src/datahub_provider/_airflow_shims.py
  metadata-ingestion/tests/unit/test_airflow.py
Labels: ingestion

#8382 feat(ingest/bigquery): support column-level lineage
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source_report/sql/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source_report/usage/bigquery_usage.py
  metadata-ingestion/src/datahub/testing/check_sql_parser_result.py
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_star_with_replace.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_view_from_union.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
  metadata-ingestion/tests/unit/test_bigquery_lineage.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion, merge-pending-ci

#8400 build(ingest): Inline import testing utils for check cli
  metadata-ingestion/src/datahub/cli/check_cli.py
Labels: ingestion

#8365 refactor(ui): uniform ordering of items on the entities sidebar section
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entity/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entity/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entity/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entity/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entity/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entity/mlPrimaryKey/MLPrimaryKeyEntity.tsx
Labels: product

#8402 test(ingest/testing-utils): Add back delta info ignore path
  metadata-ingestion/src/datahub/testing/compare_metadata_json.py
  metadata-ingestion/src/datahub/testing/mcp_diff.py
Labels: ingestion, merge-pending-ci

#8403 fix(ingest/bigquery): skip self-references when generating lineage
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion, merge-pending-ci

#8267 feat(ingest): datamodel to ingest organisation role metadata for a dataset
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/EntityTypeMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/UrnToEntityMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/DatasetType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/rolemetadata/RoleType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/rolemetadata/mappers/AccessMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/rolemetadata/mappers/RoleMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-models/src/main/pegasus/com/linkedin/common/Access.pdl
  metadata-models/src/main/pegasus/com/linkedin/common/RoleAssociation.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/RoleKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/role/Actors.pdl
  metadata-models/src/main/pegasus/com/linkedin/role/RoleProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/role/RoleUser.pdl
  metadata-models/src/main/resources/entity-registry.yml
Labels: community-contribution, product

#8404 test(ingest/kafka-connect): Attempt to fix flaky test
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
Labels: ingestion

#8390 feat(ingest/dbt-cloud): reduce graphql query complexity
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
Labels: ingestion, merge-pending-ci

#8376 fix(ingest/snowflake): fix azure cloud region ids in external url
  metadata-ingestion/src/datahub/ingestion/source/snowflake/constants.py
  metadata-ingestion/tests/unit/test_snowflake_source.py
Labels: ingestion, merge-pending-ci

#8352 feat(elasticsearch): Implement optimization to use reindexing instead…
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/TimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/indexbuilder/TimeseriesAspectIndexBuilders.java
  metadata-service/restli-api/src/main/idl/com.linkedin.operations.operations.restspec.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/OperationsResource.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/operations/OperationsResourceTest.java
  metadata-service/restli-servlet-impl/src/test/java/mock/MockTimeseriesAspectService.java
Labels: product, devops

#8348 feat(ingest/presto-on-hive): Extracting all the table properties from Hive Metastore
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_1.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_2.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_3.json
  metadata-ingestion/tests/integration/presto-on-hive/presto_on_hive_mces_golden_4.json
  metadata-ingestion/tests/integration/presto-on-hive/test_presto_on_hive.py
  metadata-ingestion/tests/integration/s3/test_s3.py
Labels: ingestion, merge-pending-ci

#8391 feat(openapi): Add openapi endpoint for getting task status
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/OperationsController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/util/ElasticsearchUtils.java
Labels: devops

#8313 feat(ingest/airflow): able to set `platform_instance` in `Dataset`
  metadata-ingestion/src/datahub_provider/entities.py
  metadata-ingestion/src/datahub_provider/example_dags/lineage_backend_demo.py
  metadata-ingestion/src/datahub_provider/example_dags/lineage_emission_dag.py
Labels: ingestion, community-contribution

#8364 test(ingest/minio): Configure delta lake minio tests for arm64
  metadata-ingestion/.gitignore
  metadata-ingestion/tests/integration/delta_lake/docker-compose.yml
  metadata-ingestion/tests/integration/delta_lake/minio/kill_minio.sh
  metadata-ingestion/tests/integration/delta_lake/minio/setup_minio.sh
  metadata-ingestion/tests/integration/delta_lake/test-table/_delta_log/00000000000000000000.json
  metadata-ingestion/tests/integration/delta_lake/test-table/_delta_log/00000000000000000001.json
  metadata-ingestion/tests/integration/delta_lake/test-table/_delta_log/00000000000000000002.json
  metadata-ingestion/tests/integration/delta_lake/test-table/_delta_log/00000000000000000003.json
  metadata-ingestion/tests/integration/delta_lake/test-table/_delta_log/00000000000000000004.json
  metadata-ingestion/tests/integration/delta_lake/test_delta_lake_minio.py
Labels: ingestion

#8411 docs(ingest): Add warning for Python 3.7 deprecation
  metadata-ingestion/src/datahub/__init__.py
Labels: ingestion

#8406 fix(ingest/tableau): graceful handling of get all datasources failure…
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion

#8408 chore(stats): change default stats lookback
  datahub-web-react/src/app/entity/dataset/profile/stats/historical/HistoricalStatsView.tsx
Labels: product, merge-pending-ci

#8385 fix(ingestion/powerbi): increment msal version
  metadata-ingestion/setup.py
Labels: ingestion, merge-pending-ci

#8410 docs(perf-test) Update README
  perf-test/README.md
Labels: devops

#8416 fix(ingest/s3): fix test flakiness
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_exclude.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_glob.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_keyval.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_update_schema.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_specs_of_different_buckets.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_single_file.json
  metadata-ingestion/tests/integration/s3/test_s3.py
Labels: ingestion, merge-pending-ci

#8418 fix(ingest): tweak ingestion exit codes
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/utilities/logging_manager.py
  metadata-ingestion/tests/conftest.py
  metadata-ingestion/tests/unit/test_cli_logging.py
  metadata-ingestion/tests/unit/test_pipeline.py
Labels: ingestion, merge-pending-ci

#8425 build(ingest/boto3): Update boto3-stubs to fix CI
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/feature_groups.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/models.py
Labels: ingestion, merge-pending-ci

#8419 feat(ingest/snowflake): View CLL from sql parsing of view definition
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_legacy.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
Labels: ingestion

#8427 fix(ingest/snowflake): Add sqlglot as snowflake dependency
  metadata-ingestion/setup.py
Labels: ingestion

#8302 fix(schema-reg): allow other response codes from schema registry check
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/OnBootApplicationListener.java
Labels: devops

#8289 fix: add docs on update description via graphQL
  docs/api/datahub-apis.md
  docs/api/tutorials/descriptions.md
Labels: docs

#8423 docs(databricks/spark-lineage): Fix incorrect statement
  metadata-integration/java/spark-lineage/README.md
Labels: ingestion

#8428 feat(browsev2): styling updates and select platform
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/search/SearchResultList.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
  datahub-web-react/src/app/search/sidebar/BrowseContext.tsx
  datahub-web-react/src/app/search/sidebar/BrowseNode.tsx
  datahub-web-react/src/app/search/sidebar/BrowseSidebar.tsx
  datahub-web-react/src/app/search/sidebar/PlatformNode.tsx
Labels: product, release-0.10.5

#8421 fix(ui ingestion): fixing issue where stale fields could stick around when changing recipes
  datahub-web-react/src/app/ingest/source/builder/DefineRecipeStep.tsx
Labels: product

#8435 ci: workarounds for pyyaml installation
  docker/kafka-setup/Dockerfile
  docker/quickstart/generate_and_compare.sh
  docker/quickstart/requirements.txt
  metadata-ingestion-modules/airflow-plugin/build.gradle
Labels: devops

#8452 build(ingest/boto3): Update boto3-stubs to fix CI
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/feature_groups.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/models.py
Labels: ingestion, merge-pending-ci

#8454 fix(ingestion-redshift): Fix Redshift ingestion logs
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
Labels: ingestion

#8450 fix(ingest/bigquery): make sql parsing more robust
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/utilities/stats_collections.py
Labels: ingestion, merge-pending-ci

#8243 fix(GreatExpections): AssertionRunEventClass does not match the examp…
  metadata-ingestion/src/datahub/integrations/great_expectations/action.py
Labels: ingestion, community-contribution, merge-pending-ci

#8438 chore(ingest): hide ignore old/new state options
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
Labels: ingestion

#8436 docs(env): add env vars authentication
  docs/deploy/environment-vars.md
Labels: docs

#8449 feat(graphql-plugins): add ability for plugins to call back to core e…
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLPlugin.java
Labels: product

#8420 feat(ingest/mysql): Add estimate row count for mysql
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/tests/integration/mysql/mysql_profile_table_row_count_estimate_only.yml
  metadata-ingestion/tests/integration/mysql/mysql_table_row_count_estimate_only.json
  metadata-ingestion/tests/integration/mysql/test_mysql.py
Labels: ingestion, merge-pending-ci

#8351 ingest(elasticsearch): add basic profiling
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_tags.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_transformer.py
  metadata-ingestion/src/datahub/ingestion/transformer/extract_dataset_tags.py
  metadata-ingestion/tests/unit/test_elasticsearch_source.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#8464 feat(ingest/lookml): fail when nothing was produced
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Labels: ingestion

#8451 chore(ingest): drop bigquery-beta and snowflake-beta aliases
  docs/how/updating-datahub.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/source_registry.py
Labels: ingestion, docs

#8457 feat(ingest/nifi): add support for basic auth in nifi
  metadata-ingestion/docs/sources/nifi/nifi.md
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/tests/integration/nifi/test_nifi.py
  metadata-ingestion/tests/unit/test_nifi_source.py
Labels: ingestion, merge-pending-ci

#8463 Fix query_tab test that was failing on CI run
  smoke-test/tests/cypress/cypress/e2e/query/query_tab.js
Labels: smoke_test

#8294 ingest(mysql): add storage bytes information
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
Labels: ingestion, merge-pending-ci

#8446 fix(browseV2) Escape forward slashes in browse v2 query
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/chart/BrowseV2Resolver.java
  datahub-web-react/src/app/home/AcrylDemoBanner.tsx
Labels: product

#8198 feat(sdk): easily generate container urns
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/data_lake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_utils.py
  metadata-ingestion/src/datahub/ingestion/source/sql/two_tier_sql_source.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Labels: ingestion, merge-pending-ci

#8484 Update presto-on-hive URN in data_platforms.json
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: devops

#8476 fix(mysql): getting table name correctly
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/tests/integration/mysql/mysql_table_row_count_estimate_only.json
Labels: ingestion

#8477 feat(ingest/elastic): reduce number of calls made
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
Labels: ingestion

#8461 refactor(search): Support searching multiple entities in search() as in scroll()
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/search/SearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/aggregator/AllEntitiesSearchAggregator.java
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CachingEntitySearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/ESTestUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SampleDataFixtureTests.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/fixtures/SearchLineageDataFixtureTests.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/siblings/SiblingAssociationHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/siblings/SiblingAssociationHookTest.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/RestoreGlossaryIndices.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/RestoreGlossaryIndicesTest.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
  mock-entity-registry/src/main/java/mock/MockEntitySpec.java
Labels: product, devops

#8501 fix(ingest): Generate browse paths v2 for more sources; properly pass platform_instance
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
  metadata-ingestion/src/datahub/ingestion/source/feast.py
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/ingestion/source/openapi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server.py
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/src/datahub/ingestion/source/usage/clickhouse_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/redshift_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/starburst_trino_usage.py
  metadata-ingestion/src/datahub/testing/compare_metadata_json.py
  metadata-ingestion/src/datahub/testing/mcp_diff.py
  metadata-ingestion/tests/integration/clickhouse/clickhouse_mces_golden.json
  metadata-ingestion/tests/integration/csv-enricher/csv_enricher_golden.json
  metadata-ingestion/tests/integration/delta_lake/delta_lake_minio_mces_golden.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_allow_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_inner_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_relative_path.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_single_table.json
  metadata-ingestion/tests/integration/feast/feast_repository_mces_golden.json
  metadata-ingestion/tests/integration/metabase/metabase_mces_golden.json
  metadata-ingestion/tests/integration/mode/mode_mces_golden.json
  metadata-ingestion/tests/integration/mongodb/mongodb_mces_golden.json
  metadata-ingestion/tests/integration/nifi/nifi_mces_golden_cluster.json
  metadata-ingestion/tests/integration/nifi/nifi_mces_golden_standalone.json
  metadata-ingestion/tests/integration/openapi/openapi_mces_golden.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi_report_server/golden_test_fail_api_ingest.json
  metadata-ingestion/tests/integration/powerbi_report_server/golden_test_ingest.json
  metadata-ingestion/tests/integration/remote/golden/remote_enricher_golden.json
  metadata-ingestion/tests/integration/remote/golden/remote_lineage_golden.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/salesforce/salesforce_mces_golden.json
  metadata-ingestion/tests/integration/starburst-trino-usage/trino_usages_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
  metadata-ingestion/tests/unit/sagemaker/sagemaker_mces_golden.json
Labels: ingestion

#8491 chore(ingest): add example of training metric/hyper parameters
  metadata-ingestion/examples/library/create_mlmodel.py
Labels: ingestion

#8472 feat(ingest): enable pipeline reporting by default
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_terms.py
Labels: ingestion, docs

#8448 feat(docs) Add guide for generating browsePathsV2 aspects
  docs-website/sidebars.js
  docs/browseV2/browse-paths-v2.md
Labels: docs

#8503 fix(browsepathv2): default browse path with empty space
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/BrowsePathV2Utils.java
Labels: product

#8482 docs: add docs on sqlglot lineage
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
Labels: ingestion

#8455 feat(search ui): Adding support for pluggable filter rendering
  datahub-web-react/src/app/search/SimpleSearchFilters.tsx
  datahub-web-react/src/app/search/filters/BasicFilters.tsx
  datahub-web-react/src/app/search/filters/MoreFilterOption.tsx
  datahub-web-react/src/app/search/filters/MoreFilters.tsx
  datahub-web-react/src/app/search/filters/SearchFilterView.tsx
  datahub-web-react/src/app/search/filters/render/FilterRenderer.tsx
  datahub-web-react/src/app/search/filters/render/FilterRendererRegistry.tsx
  datahub-web-react/src/app/search/filters/render/__tests__/FilterRendererRegistry.test.tsx
  datahub-web-react/src/app/search/filters/render/shared/styledComponents.tsx
  datahub-web-react/src/app/search/filters/render/types.ts
  datahub-web-react/src/app/search/filters/render/useFilterRenderer.tsx
  datahub-web-react/src/app/search/filters/styledComponents.ts
Labels: product

#8507 fix(ingest): hint at --update-golden-files option when tests fail
  metadata-ingestion/src/datahub/testing/compare_metadata_json.py
Labels: ingestion, merge-pending-ci

#8510 ci: fix commandLine usage in build.gradle
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion/build.gradle
Labels: ingestion

#8444 fix(dataProduct) Show entity count excluding soft deleted entities
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/ListDataProductAssetsResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/dataProduct/DataProductEntity.tsx
  datahub-web-react/src/graphql/dataProduct.graphql
Labels: product

#8460 feat(ui): Adding support for rendering assertion health status in Dataset Search Card, Search Preview, etc.
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataset/DatasetHealthResolver.java
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/dataset/preview/Preview.tsx
  datahub-web-react/src/app/entity/shared/components/styled/DeprecationPill.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchResults.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHeader.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHealth.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHealthPopover.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHealthStatus.tsx
  datahub-web-react/src/app/ingest/source/IngestedAssets.tsx
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/app/recommendations/renderer/component/EntityNameList.tsx
  datahub-web-react/src/app/shared/health/healthUtils.tsx
  datahub-web-react/src/graphql/search.graphql
Labels: product

#8490 docs(ingest/bigquery): add permissions to profile google drive backed…
  metadata-ingestion/docs/sources/bigquery/bigquery_pre.md
Labels: ingestion

#8417 chore(ingest/tableau): miscellaneous cleanup refractor
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_constant.py
  metadata-ingestion/tests/integration/tableau/tableau_extract_all_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/tableau/tableau_nested_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_signout_timeout_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_state_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
Labels: ingestion, merge-pending-ci

#8508 docs(ingest/lookml): clarify connection map config
  metadata-ingestion/docs/sources/looker/lookml_pre.md
Labels: ingestion

#8500 config(ebean): add ebean retry configuration
  .github/workflows/docker-unified.yml
  docker/build.gradle
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  docs/cli.md
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/EntityServiceFactory.java
  smoke-test/tests/cypress/cypress/e2e/mutations/deprecations.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managed_ingestion.js
Labels: product, devops, release-0.10.5

#8521 fix(ingest): respect max_threads for ingestion reporter
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/source/state_provider/datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/tests/unit/stateful_ingestion/test_configs.py
Labels: ingestion

#8481 chore(ingest): bump sqllineage and sqlparse
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/test_usage_common.py
Labels: ingestion

#8522 fix(search): fix lightning cache enable logic
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/SearchUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageSearchServiceTest.java
Labels: product, release-0.10.5

#8496 docs(docker): document docker container dependency tree
  docs-website/sidebars.js
  docs/architecture/docker-containers.md
Labels: docs, release-0.10.5

#8518 feat(lineage): Apply search flags to scroll query in LineageSearchService
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
Labels: product, release-0.10.5, merge-pending-ci

#8517 feat(search): Throw exception instead of returning an empty response from scroll in an error case
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/SearchUtils.java
Labels: product, merge-pending-ci

#8271 fix(gms): GMS hang when upgrade image #8270
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/DataHubUpgradeKafkaListener.java
Labels: community-contribution, devops, release-0.10.5

#8349 fix(ui): Allows deselection of members in add members modal for a group
  datahub-web-react/src/app/entity/group/AddGroupMembersModal.tsx
Labels: community-contribution, product

#8401 fix(ui) Remove initial redirect logic from frontend
  datahub-web-react/src/app/context/UserContextProvider.tsx
  datahub-web-react/src/app/context/useInitialRedirect.ts
  datahub-web-react/src/app/context/userContext.tsx
Labels: product

#8346 fix(sso) - Add redirect_uri to authenticate route on 401 error
  datahub-web-react/src/App.tsx
Labels: community-contribution, product

#8356 fix(auth): ignore case when comparing http headers
  datahub-frontend/app/controllers/Application.java
Labels: community-contribution, product

#8213 fix(ui): use locale lowercase when filtering columns of an entity in the lineage
  datahub-web-react/src/app/lineage/utils/columnLineageUtils.ts
Labels: community-contribution, product

#8424 feat(elasticsearch): allow bulk delete
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/update/ESBulkProcessor.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchBulkProcessorFactory.java
Labels: product, devops, release-0.10.5

#8526 feat(metrics): add metrics for aspect write and bytes
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/cassandra/CassandraAspectDao.java
Labels: product, release-0.10.5

#8530 fix(ingest/build): Fix sagemaker mypy and flake8 issues
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/feature_groups.py
  metadata-ingestion/src/datahub/utilities/mapping.py
  metadata-ingestion/src/datahub_provider/_plugin.py
  metadata-ingestion/src/datahub_provider/operators/datahub_assertion_operator.py
  metadata-ingestion/src/datahub_provider/operators/datahub_assertion_sensor.py
  metadata-ingestion/src/datahub_provider/operators/datahub_operation_operator.py
  metadata-ingestion/src/datahub_provider/operators/datahub_operation_sensor.py
  metadata-ingestion/tests/unit/test_glue_source.py
  metadata-ingestion/tests/unit/test_kafka_source.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_collections.py
Labels: ingestion

#8528 feat(siblings): hiding non-existant siblings in FE
  datahub-web-react/src/app/entity/shared/__tests__/siblingsUtils.test.ts
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/SidebarSiblingsSection.tsx
  datahub-web-react/src/app/entity/shared/siblingUtils.ts
  datahub-web-react/src/app/search/SearchResultList.tsx
  datahub-web-react/src/graphql/dataset.graphql
  datahub-web-react/src/graphql/search.graphql
Labels: product
