Repository datahub-project/datahub, pull requests merged in 2023-10, with the labels that each got.

#8926 refactor(misc): testngJava fix, systemrestli client, cache key fix, e…
  build.gradle
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/elasticsearch/util/IndexUtils.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/UpgradeCliApplicationTestConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/cassandra/CassandraAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/EntityIndexBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/EntityIndexBuilders.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ReindexConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformer.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesService.java
  metadata-io/src/main/java/com/linkedin/metadata/shared/ElasticSearchIndexed.java
  metadata-io/src/main/java/com/linkedin/metadata/systemmetadata/ElasticSearchSystemMetadataService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/indexbuilder/TimeseriesAspectIndexBuilders.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanAspectMigrationsDaoTest.java
  metadata-io/src/test/java/io/datahubproject/test/DataGenerator.java
  metadata-jobs/mae-consumer-job/src/main/resources/application.properties
  metadata-jobs/mae-consumer-job/src/test/java/com/linkedin/metadata/kafka/MaeConsumerApplicationTestConfiguration.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeLogProcessor.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/MetadataChangeLogHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHookTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLSpringTestConfiguration.java
  metadata-jobs/mce-consumer-job/src/test/java/com/linkedin/metadata/kafka/MceConsumerApplicationTestConfiguration.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/EntityServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/JavaEntityClientFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/update/indices/UpdateIndicesServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/EntityIndexBuildersFactory.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/EntityClientCache.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/EntityService.java
Labels: product, devops

#8927 feat(openapi): openapi v2 updates
  build.gradle
  buildSrc/src/main/java/io/datahubproject/OpenApiEntities.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/health-servlet/src/main/java/com/datahub/health/config/SpringWebConfig.java
  metadata-service/openapi-entity-servlet/src/main/java/io/datahubproject/openapi/delegates/EntityApiDelegateImpl.java
  metadata-service/openapi-entity-servlet/src/main/java/io/datahubproject/openapi/util/OpenApiEntitiesUtil.java
  metadata-service/openapi-entity-servlet/src/test/java/io/datahubproject/openapi/config/OpenAPIEntityTestConfiguration.java
  metadata-service/openapi-entity-servlet/src/test/java/io/datahubproject/openapi/delegates/EntityApiDelegateImplTest.java
  metadata-service/openapi-entity-servlet/src/test/resources/custom-model/mycompany-dq-model/0.0.0-dev/entity-registry.yaml
  metadata-service/openapi-entity-servlet/src/test/resources/custom-model/mycompany-dq-model/0.0.0-dev/metadata-models-custom.jar
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/SpringWebConfig.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/health/HealthController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/util/MappingUtil.java
  metadata-service/war/src/main/webapp/WEB-INF/healthServlet-servlet.xml
  metadata-service/war/src/main/webapp/WEB-INF/openapiServlet-servlet.xml
  metadata-service/war/src/main/webapp/WEB-INF/web.xml
Labels: devops, platform

#8924 fix(data-product): show data product card on home page
  datahub-web-react/src/app/entity/dataProduct/DataProductEntity.tsx
  datahub-web-react/src/app/home/HomePageRecommendations.tsx
Labels: ingestion, product, devops

#8891 fix(graphql): support additional types in scrollAcrossEntities
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/EntityTypeMapper.java
Labels: product

#8908 docs: update cta links for acryl
  datahub-web-react/src/app/entity/shared/components/styled/DemoButton.tsx
  datahub-web-react/src/app/home/AcrylDemoBanner.tsx
  docs-website/docusaurus.config.js
  docs-website/src/pages/_components/CardCTAs/index.js
  docs-website/src/pages/_components/Section/index.js
  docs/saas.md
Labels: docs, community-contribution

#8847 feat(docs): Corrects release version for custom ownership types.
  docs/ownership/ownership-types.md
  metadata-ingestion/examples/ownership/ownership_type.json
Labels: docs, merge-pending-ci

#8915 docs: fix typo in impact-analysis.md
  docs/act-on-metadata/impact-analysis.md
Labels: docs, merge-pending-ci

#8930 feat(chrom-ext-editable): set readOnly to false so that side navigati…
  datahub-web-react/src/app/entity/shared/embed/EmbeddedProfile.tsx
Labels: product

#8912 fix(client): use value for RelationshipDirection
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion

#8937 fix(fine-grained lineage) CLL for datajob downstreams
  datahub-web-react/src/app/lineage/utils/__tests__/columnLineageUtils.test.tsx
  datahub-web-react/src/app/lineage/utils/columnLineageUtils.ts
  datahub-web-react/src/app/lineage/utils/extendAsyncEntities.ts
Labels: product

#8938 fix(ingest): refactor test markers + fix disk space issues in CI
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion/build.gradle
  metadata-ingestion/developing.md
  metadata-ingestion/setup.cfg
  metadata-ingestion/setup.py
  metadata-ingestion/tests/conftest.py
  metadata-ingestion/tests/integration/business-glossary/test_business_glossary.py
  metadata-ingestion/tests/integration/delta_lake/test_delta_lake_minio.py
  metadata-ingestion/tests/integration/hana/test_hana.py
  metadata-ingestion/tests/integration/hive/test_hive.py
  metadata-ingestion/tests/integration/iceberg/test_iceberg.py
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
  metadata-ingestion/tests/integration/nifi/test_nifi.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
  metadata-ingestion/tests/integration/presto-on-hive/test_presto_on_hive.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/test_helpers/docker_helpers.py
Labels: ingestion, devops

#8929 fix(cli): make quickstart docker compose up command more robust
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion, merge-pending-ci

#8748 feat(transfomer): add transformer to get ownership from tags
  docs/how/add-custom-data-platform.md
  docs/how/add-user-data.md
  docs/ownership/ownership-types.md
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/transformer/extract_ownership_from_tags.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#8899 docs(lineage): Lineage docs refactoring
  docs-website/generateDocsDir.ts
  docs-website/sidebars.js
  docs/act-on-metadata/impact-analysis.md
  docs/api/tutorials/lineage.md
  docs/features/feature-guides/ui-lineage.md
  docs/lineage/lineage-feature-guide.md
  metadata-ingestion/scripts/docgen.py
Labels: docs

#8796 feat(ingestion/powerbi): column level lineage extraction for M-Query
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion, merge-pending-ci

#8903 feat(ingest/snowflake): initialize schema resolver from datahub for l…
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql_queries.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
Labels: ingestion, merge-pending-ci

#8535 feat(bigquery): excluding projects without any datasets from ingestion
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#8940 feat(ingest/unity): Ingest notebooks and their lineage
  metadata-ingestion/docs/sources/databricks/unity-catalog_pre.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
Labels: ingestion, merge-pending-ci

#8932 test(ingest/unity): Add Unity Catalog memory performance testing
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/tests/performance/bigquery/__init__.py
  metadata-ingestion/tests/performance/bigquery/bigquery_events.py
  metadata-ingestion/tests/performance/bigquery/test_bigquery_usage.py
  metadata-ingestion/tests/performance/data_generation.py
  metadata-ingestion/tests/performance/data_model.py
  metadata-ingestion/tests/performance/databricks/__init__.py
  metadata-ingestion/tests/performance/databricks/test_unity.py
  metadata-ingestion/tests/performance/databricks/unity_proxy_mock.py
  metadata-ingestion/tests/performance/helpers.py
  metadata-ingestion/tests/unit/test_bigquery_usage.py
Labels: ingestion, merge-pending-ci

#8918 doc: DataHubUpgradeHistory_v1
  docs/deploy/confluent-cloud.md
  docs/how/kafka-config.md
Labels: docs, community-contribution

#8944 fix: fix typo on aws guide
  docs/deploy/aws.md
Labels: docs

#8686 feat(dbt-ingestion): add documentation link from dbt source to institutionalMemory
  metadata-ingestion/docs/sources/dbt/dbt-cloud_recipe.yml
  metadata-ingestion/docs/sources/dbt/dbt.md
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/utilities/mapping.py
  metadata-ingestion/tests/unit/test_mapping.py
Labels: ingestion, merge-pending-ci

#8955 refactor(style): Improve search bar input focus + styling
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/app/shared/admin/HeaderLinks.tsx
  datahub-web-react/src/conf/theme/theme_dark.config.json
  datahub-web-react/src/conf/theme/theme_light.config.json
Labels: product

#8923 feat: data contracts models + CLI
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/TestUtils.java
  datahub-graphql-core/src/test/resources/test-entity-registry.yaml
  metadata-ingestion/examples/data_contract/pet_of_the_week.dhub.dc.yaml
  metadata-ingestion/src/datahub/api/entities/datacontract/__init__.py
  metadata-ingestion/src/datahub/api/entities/datacontract/data_quality_assertion.py
  metadata-ingestion/src/datahub/api/entities/datacontract/datacontract.py
  metadata-ingestion/src/datahub/api/entities/datacontract/freshness_assertion.py
  metadata-ingestion/src/datahub/api/entities/datacontract/schema_assertion.py
  metadata-ingestion/src/datahub/cli/specific/datacontract_cli.py
  metadata-ingestion/src/datahub/cli/specific/file_loader.py
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/api/closeable.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/integrations/great_expectations/action.py
  metadata-ingestion/tests/unit/test_mcp_builder.py
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionAction.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionActions.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionResult.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionResultError.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionRunEvent.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionSource.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionStdAggregation.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionValueChangeType.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/AuditLogSpec.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/DatasetAssertionInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/FixedIntervalSchedule.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/FreshnessAssertionInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/FreshnessAssertionSchedule.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/FreshnessCronSchedule.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/FreshnessFieldKind.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/FreshnessFieldSpec.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/IncrementingSegmentFieldTransformer.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/IncrementingSegmentRowCountChange.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/IncrementingSegmentRowCountTotal.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/IncrementingSegmentSpec.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/RowCountChange.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/RowCountTotal.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/SchemaAssertionInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/VolumeAssertionInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/datacontract/DataContractProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/datacontract/DataContractStatus.pdl
  metadata-models/src/main/pegasus/com/linkedin/datacontract/DataQualityContract.pdl
  metadata-models/src/main/pegasus/com/linkedin/datacontract/FreshnessContract.pdl
  metadata-models/src/main/pegasus/com/linkedin/datacontract/SchemaContract.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataset/DatasetFilter.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/DataContractKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/schema/SchemaFieldSpec.pdl
  metadata-models/src/main/resources/entity-registry.yml
Labels: ingestion, product

#8945 ci: tweak ci runs to decrease wait time of devs
  .github/workflows/build-and-test.yml
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion/tests/integration/powerbi/test_admin_only_api.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/integration/trino/test_trino.py
Labels: ingestion, devops

#8948 docs(ingest): add permissions required for athena ingestion
  metadata-ingestion/docs/sources/athena/athena_pre.md
Labels: ingestion

#8910 feat(ingestion/dynamodb): implement pagination for list_tables
  datahub-web-react/src/app/ingest/source/builder/sources.json
  metadata-ingestion/docs/sources/dynamodb/dynamodb_post.md
  metadata-ingestion/docs/sources/dynamodb/dynamodb_pre.md
  metadata-ingestion/docs/sources/dynamodb/dynamodb_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
Labels: ingestion, community-contribution, merge-pending-ci

#8956 feat(ingest/dbt): support `use_compiled_code` and `test_warnings_are_errors`
  metadata-ingestion/src/datahub/configuration/source_common.py
  metadata-ingestion/src/datahub/configuration/validate_field_deprecation.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/unit/test_pydantic_validators.py
Labels: ingestion

#8947 refactor(boot): increases wait timeout for servlets initialization
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/OnBootApplicationListener.java
Labels: community-contribution, devops

#8943 fix(ingest/unity): Remove metastore from ingestion and urns; standardize platform instance; add notebook filter
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Labels: ingestion, docs, merge-pending-ci

#8952 feat(ingest/unity): Use ThreadPoolExecutor for CLL
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Labels: ingestion, docs

#8902 feat(ingest/snowflake): support profiling with sampling
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/profile.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
Labels: ingestion

#8936 Manage Access Tokens Cypress test
  datahub-web-react/src/app/settings/AccessTokenModal.tsx
  datahub-web-react/src/app/settings/AccessTokens.tsx
  datahub-web-react/src/app/settings/CreateTokenModal.tsx
  smoke-test/tests/cypress/cypress/e2e/settings/manage_access_tokens.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: product, smoke_test

#8879 Nested domains cypress test
  datahub-web-react/src/app/domain/CreateDomainModal.tsx
  datahub-web-react/src/app/domain/nestedDomains/ManageDomainsPageV2.tsx
  datahub-web-react/src/app/domain/nestedDomains/domainNavigator/DomainNode.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/MoveDomainModal.tsx
  smoke-test/tests/cypress/cypress/e2e/domains/nested_domains.js
Labels: smoke_test

#8941 feat(ingest): incremental lineage source helper
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_stateful.py
  metadata-ingestion/tests/unit/api/source_helpers/incremental_cll_less_upstreams_in_gms_aspect_golden.json
  metadata-ingestion/tests/unit/api/source_helpers/incremental_cll_more_upstreams_in_gms_aspect_golden.json
  metadata-ingestion/tests/unit/api/source_helpers/incremental_table_lineage_golden.json
  metadata-ingestion/tests/unit/api/source_helpers/test_incremental_lineage_helper.py
  metadata-ingestion/tests/unit/api/source_helpers/test_source_helpers.py
Labels: ingestion

#8976 feat(ingest): refactor + simplify incremental lineage helper
  metadata-ingestion/src/datahub/ingestion/api/incremental_lineage_helper.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/unit/api/source_helpers/test_incremental_lineage_helper.py
Labels: ingestion

#8978 fix(lint): run black, isort
  smoke-test/tests/assertions/assertions_test.py
  smoke-test/tests/browse/browse_test.py
  smoke-test/tests/cli/datahub-cli.py
  smoke-test/tests/cli/datahub_graph_test.py
  smoke-test/tests/cli/delete_cmd/test_timeseries_delete.py
  smoke-test/tests/cli/ingest_cmd/test_timeseries_rollback.py
  smoke-test/tests/cli/user_groups_cmd/test_group_cmd.py
  smoke-test/tests/conftest.py
  smoke-test/tests/consistency_utils.py
  smoke-test/tests/containers/containers_test.py
  smoke-test/tests/cypress/integration_test.py
  smoke-test/tests/dataproduct/test_dataproduct.py
  smoke-test/tests/delete/delete_test.py
  smoke-test/tests/deprecation/deprecation_test.py
  smoke-test/tests/domains/domains_test.py
  smoke-test/tests/managed-ingestion/managed_ingestion_test.py
  smoke-test/tests/patch/common_patch_tests.py
  smoke-test/tests/patch/test_datajob_patches.py
  smoke-test/tests/patch/test_dataset_patches.py
  smoke-test/tests/policies/test_policies.py
  smoke-test/tests/setup/lineage/helper_classes.py
  smoke-test/tests/setup/lineage/ingest_data_job_change.py
  smoke-test/tests/setup/lineage/ingest_dataset_join_change.py
  smoke-test/tests/setup/lineage/ingest_input_datasets_change.py
  smoke-test/tests/setup/lineage/ingest_time_lineage.py
  smoke-test/tests/setup/lineage/utils.py
  smoke-test/tests/tags-and-terms/tags_and_terms_test.py
  smoke-test/tests/telemetry/telemetry_test.py
  smoke-test/tests/test_result_msg.py
  smoke-test/tests/test_stateful_ingestion.py
  smoke-test/tests/tests/tests_test.py
  smoke-test/tests/timeline/timeline_test.py
  smoke-test/tests/tokens/revokable_access_token_test.py
  smoke-test/tests/utils.py
  smoke-test/tests/views/views_test.py
Labels: smoke_test

#8979 fix(setup): drop older table if exists
  docker/mariadb/init.sql
  docker/mysql-setup/init.sql
  docker/mysql/init.sql
  docker/postgres-setup/init.sql
  docker/postgres/init.sql
Labels: devops

#8981 feat(ingest/tableau): Allow parsing of database name from fullName
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion

#8828 feat(auth): add data platform instance field resolver provider
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/ResolvedResourceSpec.java
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/ResourceFieldType.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DefaultResourceSpecResolver.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/DataPlatformInstanceFieldResolverProvider.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/DataPlatformInstanceFieldResolverProviderTest.java
Labels: devops

#8935 feat(graphql): Added datafetcher for DataPlatformInstance entity
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataplatforminstance/DataPlatformInstanceType.java
  datahub-graphql-core/src/main/resources/entity.graphql
Labels: community-contribution, product

#8812 feat(config): configurable bootstrap policies file
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/factories/BootstrapManagerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestPoliciesStep.java
Labels: devops

#8921 feat(ingestion/redshift): CLL support in redshift
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/tests/unit/test_redshift_lineage.py
Labels: ingestion

#8906 fix(ingest): Fix postgres lineage within views
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
Labels: ingestion, community-contribution, merge-pending-ci

#8984 refactor(ingest/dbt): move dbt tests logic to dedicated file
  metadata-ingestion/src/datahub/ingestion/api/common.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_tests.py
Labels: ingestion

#8880 fix: Display generic not found page for corp groups that do not exist
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/group/GroupProfile.tsx
  datahub-web-react/src/graphql/group.graphql
Labels: community-contribution, product

#8942 fix(ingest/looker): stop emitting tag owner
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/tests/integration/looker/golden_looker_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_allow_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_external_project_view_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_file_path_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_independent_look_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_joins.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_unaliased_joins.json
  metadata-ingestion/tests/integration/looker/looker_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/looker/looker_mces_usage_history.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_bigquery.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_badsql_parser.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_deny_pattern.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
  metadata-ingestion/tests/integration/lookml/lookml_reachable_views.json
Labels: ingestion, docs, community-contribution, merge-pending-ci

#8934 fix(ingest/bigquery): Fix shard regexp to match without underscore as well
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries.py
  metadata-ingestion/src/datahub/ingestion/source_config/bigquery.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
  metadata-ingestion/tests/unit/test_bigqueryv2_usage_source.py
Labels: ingestion

#8990 feat(ingest/s3): support .gzip and fix decompression bug
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Labels: ingestion, merge-pending-ci

#8856 feat(ingestion): Adds support for memory profiling
  docs-website/sidebars.js
  metadata-ingestion/docs/dev_guides/profiling_ingestions.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
Labels: ingestion

#8993 Query plus filter search test
  smoke-test/tests/cypress/cypress/e2e/search/query_and_filter_search.js
Labels: smoke_test

#8977 feat(ingest/teradata): Teradata source
  metadata-ingestion/docs/sources/teradata/teradata_pre.md
  metadata-ingestion/docs/sources/teradata/teradata_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
  metadata-ingestion/src/datahub/testing/check_sql_parser_result.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_teradata_default_normalization.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion

#8995 ci(ingest): update base requirements
  docker/datahub-ingestion-base/base-requirements.txt
Labels: devops

#9006 docs(Acryl DataHub): release notes for 0.2.12
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_11.md
  docs/managed-datahub/release-notes/v_0_2_12.md
Labels: docs

#8968 feat(cli/datacontract): Add data quality assertion support
  metadata-ingestion/src/datahub/api/entities/datacontract/assertion.py
  metadata-ingestion/src/datahub/api/entities/datacontract/assertion_operator.py
  metadata-ingestion/src/datahub/api/entities/datacontract/data_quality_assertion.py
  metadata-ingestion/src/datahub/api/entities/datacontract/datacontract.py
  metadata-ingestion/src/datahub/api/entities/datacontract/freshness_assertion.py
  metadata-ingestion/src/datahub/api/entities/datacontract/schema_assertion.py
  metadata-ingestion/tests/unit/api/entities/datacontract/__init__.py
  metadata-ingestion/tests/unit/api/entities/datacontract/test_data_quality_assertion.py
Labels: ingestion

#9005 feat(ingest/teradata): view parsing
  metadata-ingestion/docs/sources/teradata/teradata_pre.md
  metadata-ingestion/docs/sources/teradata/teradata_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
Labels: ingestion

#9015 Adding missing sqlparser libs to setup.py
  metadata-ingestion/setup.py
Labels: ingestion

#9001 feat(graphql): support filtering based on greater than/less than criteria
  datahub-graphql-core/src/main/resources/search.graphql
Labels: product

#9008 build(ingest): remove ratelimiter dependency
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit_log_api.py
  metadata-ingestion/src/datahub/utilities/ratelimiter.py
  metadata-ingestion/tests/unit/utilities/test_ratelimiter.py
Labels: ingestion

#9021 build(ingest/redshift): Add sqlglot dependency
  metadata-ingestion/setup.py
Labels: ingestion, merge-pending-ci

#9024 feat(ingest/teradata): Add option to not use file backed dict for view definitions
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
Labels: ingestion

#9025 feat(ingest/unity-catalog): Support external S3 lineage
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_util.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Labels: ingestion

#9027 fix(ingest) - Fix file backed collection temp directory removal
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
Labels: ingestion

#9016 add dependency level to scrollAcrossLineage search results
  datahub-web-react/src/graphql/scroll.graphql
Labels: product

#9009 add create dataproduct example
  metadata-ingestion/examples/library/create_dataproduct.py
Labels: ingestion

#9017 Download Lineage Results Cypress Test
  datahub-web-react/src/app/entity/shared/components/styled/search/DownloadAsCsvModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchExtendedMenu.tsx
  smoke-test/tests/cypress/cypress/e2e/lineage/download_lineage_results.js
Labels: product, smoke_test

#9030 fix(ingest/bigquery): Remove table name restrictions (allow $ and @)
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
Labels: ingestion

#8967 chore(docker): update base images to alpine 3.18
  docker/build.gradle
  docker/datahub-gms/Dockerfile
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/elasticsearch-setup/Dockerfile
  docker/mysql-setup/Dockerfile
  docker/postgres-setup/Dockerfile
Labels: devops, platform, release-0.12.0

#8862 fix(frontend): update cookie module
  datahub-frontend/app/auth/AuthModule.java
  datahub-frontend/app/auth/AuthUtils.java
  datahub-frontend/app/auth/cookie/CustomCookiesModule.java
  datahub-frontend/app/auth/cookie/CustomSessionCookieBaker.scala
  datahub-frontend/app/auth/sso/oidc/OidcAuthorizationGenerator.java
  datahub-frontend/app/auth/sso/oidc/OidcCallbackLogic.java
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/conf/application.conf
  datahub-frontend/test/app/ApplicationTest.java
  docs/authentication/README.md
  docs/authentication/guides/sso/configure-oidc-react.md
  docs/deploy/environment-vars.md
  docs/how/updating-datahub.md
  metadata-service/auth-config/src/main/java/com/datahub/authentication/AuthenticationConfiguration.java
  metadata-service/auth-config/src/main/java/com/datahub/authentication/TokenServiceConfiguration.java
  metadata-service/auth-filter/build.gradle
  metadata-service/auth-filter/src/test/java/com/datahub/auth/authentication/AuthTestConfiguration.java
  metadata-service/auth-filter/src/test/java/com/datahub/auth/authentication/AuthenticationFilterTest.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/auth/DataHubTokenServiceFactory.java
Labels: bug, docs, product, devops, platform

#9023 docs(datahub-lite): Fix recipe
  docs/datahub_lite.md
Labels: docs, merge-pending-ci

#9037 fix(ingest): fix typo in parsing list of groups
  metadata-ingestion/src/datahub/cli/specific/group_cli.py
Labels: ingestion

#9011 feat(ingestion/Vertica): Fixed vertica integration test Updated vertica dialect
  datahub-web-react/src/images/verticalogo.png
  metadata-ingestion/setup.py
  metadata-ingestion/tests/integration/vertica/ddl.sql
  metadata-ingestion/tests/integration/vertica/docker-compose.yml
  metadata-ingestion/tests/integration/vertica/test_vertica.py
  metadata-ingestion/tests/integration/vertica/vertica_mces_with_db_golden.json
  metadata-ingestion/tests/integration/vertica/vertica_to_file.yml
Labels: ingestion, product, merge-pending-ci

#9032 fix(ingest/sqlalchemy): Fix URL parsing when sqlalchemy_uri provided
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/two_tier_sql_source.py
  metadata-ingestion/tests/unit/test_athena_source.py
  metadata-ingestion/tests/unit/test_clickhouse_source.py
  metadata-ingestion/tests/unit/test_snowflake_source.py
Labels: ingestion

#8612 docs: adding documentation for deployment of DataHub on Azure
  docs-website/sidebars.js
  docs/deploy/azure.md
Labels: docs, community-contribution, release-0.12.0

#8920 feat(frontend/ingestion): Support flagged / warning / connection failure statuses; add recipe
  datahub-web-react/src/app/ingest/source/executions/ExecutionRequestDetailsModal.tsx
  datahub-web-react/src/app/ingest/source/utils.ts
  datahub-web-react/src/graphql/ingestion.graphql
Labels: product, release-0.12.0

#9031 feat(avro): upgrade avro to 1.11
  build.gradle
  buildSrc/build.gradle
  docker/datahub-frontend/start.sh
  metadata-dao-impl/kafka-producer/build.gradle
  metadata-events/mxe-avro/.gitignore
  metadata-events/mxe-avro/build.gradle
  metadata-events/mxe-registration/build.gradle
  metadata-events/mxe-schemas/build.gradle
  metadata-events/mxe-utils-avro/.gitignore
  metadata-events/mxe-utils-avro/build.gradle
  metadata-events/mxe-utils-avro/src/main/java/com/linkedin/metadata/EventUtils.java
  metadata-events/mxe-utils-avro/src/test/java/com/linkedin/metadata/EventUtilsTests.java
  metadata-events/mxe-utils-avro/src/test/resources/test-avro2pegasus-mae.json
  metadata-events/mxe-utils-avro/src/test/resources/test-avro2pegasus-mce.json
  metadata-events/mxe-utils-avro/src/test/resources/test-pegasus2avro-fmce.json
  metadata-events/mxe-utils-avro/src/test/resources/test-pegasus2avro-mae.json
  metadata-events/mxe-utils-avro/src/test/resources/test-pegasus2avro-mce.json
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-client/src/main/java/datahub/client/kafka/AvroSerializer.java
  metadata-io/build.gradle
  metadata-jobs/mae-consumer/build.gradle
  metadata-jobs/mce-consumer/build.gradle
  metadata-jobs/pe-consumer/build.gradle
  metadata-service/restli-servlet-impl/build.gradle
  metadata-service/services/build.gradle
  metadata-utils/build.gradle
  settings.gradle
Labels: ingestion, product, devops, platform, release-0.12.0

#8992 fix(search): Detect field type for use in defining the sort order
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/SampleDataFixtureTestBase.java
Labels: product, release-0.12.0

#9043 fix(api): Add preceding / to get index sizes path
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceTestBase.java
Labels: product, release-0.12.0

#9041 fix(search): Apply SearchFlags passed in through to scroll queries
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CachingEntitySearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
Labels: product, devops, release-0.12.0

#9044 fix(ownership): Corrects validation of ownership type and makes it consistent across graphQL calls
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/AddOwnerResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/AddOwnersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchAddOwnersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/OwnerUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/owner/AddOwnersResolverTest.java
Labels: product, release-0.12.0

#9048 docs(protobuf) Update messaging around nesting messages
  metadata-integration/java/datahub-protobuf/README.md
Labels: ingestion

#9033 Use data-testids for glossary_navigation and dataset_ownership tests
  datahub-web-react/src/app/entity/shared/EntityDropdown/CreateGlossaryEntityModal.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/MoveGlossaryEntityModal.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Ownership/sidebar/SidebarOwnerSection.tsx
  datahub-web-react/src/app/glossary/BusinessGlossaryPage.tsx
  datahub-web-react/src/app/glossary/GlossarySidebar.tsx
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary_navigation.js
  smoke-test/tests/cypress/cypress/e2e/lineage/lineage_graph.js
  smoke-test/tests/cypress/cypress/e2e/mutations/dataset_ownership.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: product, smoke_test

#9056 test(ingest/delta-lake): Fix integration tests
  metadata-ingestion/tests/integration/delta_lake/delta_lake_minio_mces_golden.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_allow_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_inner_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_relative_path.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_single_table.json
Labels: ingestion, merge-pending-ci

#8850 Ingestion source creation cypress test
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingest/source/builder/CreateScheduleStep.tsx
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeBuilder.tsx
  smoke-test/tests/cypress/cypress/e2e/mutations/ingestion_source.js
Labels: smoke_test

#8954 docs: fix lineage capability annotations
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/sql_queries.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#9060 Added more data-testid usage for edit_documentation and managing_secr…
  datahub-web-react/src/app/entity/shared/components/legacy/DescriptionModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/AddLinkModal.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/DocumentationTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/DescriptionEditorToolbar.tsx
  datahub-web-react/src/app/ingest/secret/SecretBuilderModal.tsx
  datahub-web-react/src/app/ingest/secret/SecretsList.tsx
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary_navigation.js
  smoke-test/tests/cypress/cypress/e2e/mutations/edit_documentation.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managing_secrets.js
Labels: product, smoke_test

#9062 fix(search): fix mapping builder bug
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceTestBase.java
  metadata-io/src/test/java/io/datahubproject/test/search/SearchTestContainer.java
  smoke-test/tests/containers/containers_test.py
Labels: product, release-0.12.0

#8998 feat(ingestion): Adds more advanced configurations for runtime debugging
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/IngestionResolverUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateIngestionExecutionRequestResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/source/UpsertIngestionSourceResolver.java
  datahub-graphql-core/src/main/resources/ingestion.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/source/UpsertIngestionSourceResolverTest.java
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingest/source/builder/types.ts
  datahub-web-react/src/graphql/ingestion.graphql
  docker/build.gradle
  docs/ui-ingestion.md
  metadata-ingestion/docs/dev_guides/profiling_ingestions.md
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceTestBase.java
  metadata-io/src/test/java/io/datahubproject/test/search/SearchTestContainer.java
  metadata-models/src/main/pegasus/com/linkedin/ingestion/DataHubIngestionSourceInfo.pdl
Labels: ingestion, docs, product, devops, release-0.12.0

#8900 feat(ingest/s3): S3 add partition to schema
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Labels: ingestion, release-0.12.0

#9075 feat(frontend): Remove debug flag from start script
  docker/datahub-frontend/start.sh
Labels: devops

#9002 feat(sqlparser): parse create DDL statements
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator_no_dag_listener.json
  metadata-ingestion/src/datahub/emitter/sql_parsing_builder.py
  metadata-ingestion/src/datahub/testing/check_sql_parser_result.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_create_view_with_cte.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_from_sharded_table_wildcard.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_nested_subqueries.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_sharded_table_normalization.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_star_with_replace.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_view_from_union.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_create_table_ddl.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_create_view_as_select.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_from_struct_subfields.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_with_full_col_name.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_teradata_default_normalization.json
Labels: ingestion

#9054 docs(ingest): update to get_workunits_internal
  metadata-ingestion/adding-source.md
Labels: ingestion

#8822 Column level lineage and path test
  datahub-web-react/src/app/preview/EntityPaths/EntityPathsModal.tsx
  smoke-test/tests/cypress/cypress/e2e/lineage/lineage_column_path.js
Labels: smoke_test

#9065 refactor(ingest): Move sqlalchemy import out of sql_types.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
  metadata-ingestion/src/datahub/utilities/sqlalchemy_type_converter.py
  metadata-ingestion/tests/unit/test_athena_source.py
  metadata-ingestion/tests/unit/utilities/test_sqlalchemy_type_converter.py
Labels: ingestion

#9014 fix(ingest): add releases link
  metadata-ingestion/setup.py
Labels: ingestion

#9078 feat(sqlparser): extract CLL from `update`s
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_update_from_table.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_update_hardcoded.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion

#9087 fix(ui): Fixes handling of resources filters in UI
  datahub-web-react/src/app/permissions/policy/PolicyDetailsModal.tsx
  datahub-web-react/src/app/permissions/policy/PolicyPrivilegeForm.tsx
  datahub-web-react/src/app/permissions/policy/policyUtils.ts
  docs/authorization/policies.md
  metadata-ingestion/tests/unit/serde/test_serde.py
Labels: ingestion, docs, product

#9094 docs(ingest/bigquery): Add docs for breaking change: match_fully_qualified_names
  docs/how/updating-datahub.md
Labels: docs

#9093 docs(update): Added info on breaking change for policies
  docs/how/updating-datahub.md
Labels: docs

#9061 fix(ingest): update athena type mapping
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
  metadata-ingestion/src/datahub/utilities/sqlalchemy_type_converter.py
Labels: ingestion, merge-pending-ci, release-0.12.0

#9089 feat(ingest/datahub-source): Allow ingesting aspects from the entitiesV2 API
  metadata-ingestion/src/datahub/ingestion/source/datahub/config.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_api_reader.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_source.py
Labels: ingestion

#9010 feat(ingestion/redshift): support auto_incremental_lineage
  docs/how/updating-datahub.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/tests/unit/test_redshift_config.py
Labels: ingestion, merge-pending-ci, release-0.12.0

#9096 feat(auth): Add backwards compatible field resolver
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/EntityFieldType.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DefaultEntitySpecResolver.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/DataPlatformInstanceFieldResolverProvider.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/DomainFieldResolverProvider.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/EntityFieldResolverProvider.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/EntityTypeFieldResolverProvider.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/EntityUrnFieldResolverProvider.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/GroupMembershipFieldResolverProvider.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/OwnerFieldResolverProvider.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/DataPlatformInstanceFieldResolverProviderTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/GroupMembershipFieldResolverProviderTest.java
Labels: devops

#9042 build(ingest): Bump avro pin: security vulnerability
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/scripts/modeldocgen.py
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/extractor/schema_util.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/utilities/mapping.py
  metadata-ingestion/tests/unit/data_lake/test_schema_inference.py
Labels: ingestion

#9053 fix(ingestion/redshift): fix schema field data type mappings
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
Labels: ingestion, merge-pending-ci

#9058 fix(datahub-protobuf): add check if nested field is reserved
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/model/ProtobufField.java
Labels: ingestion, community-contribution, merge-pending-ci

#9003 fix(ingest): better handling around sink errors
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_kafka.py
Labels: ingestion, merge-pending-ci, release-0.12.0

#9109 feat(ingest/bigquery): Attempt to support raw dataset pattern
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion, docs, merge-pending-ci, release-0.12.0

#9106 docs(observability): Column Assertion user guide
  docs-website/sidebars.js
  docs/managed-datahub/observe/column-assertions.md
Labels: docs

#9114 fix(ingest/bigquery): Fixing lineage filter query
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
Labels: ingestion, merge-pending-ci, release-0.12.0

#8663 refactor(ingestion/mongodb): Add platform_instance to mongodb
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/tests/integration/mongodb/mongodb_mces_golden.json
  metadata-ingestion/tests/integration/mongodb/test_mongodb.py
Labels: ingestion, community-contribution, merge-pending-ci

#8656 fix(kafka-setup): Don't set truststore pass for PEM files
  docker/kafka-setup/kafka-setup.sh
Labels: community-contribution, devops, merge-pending-ci

#9092 fix(ingest): Fix roll back failure when REST_API_AUTHORIZATION_ENABLED is set to true
  metadata-service/war/src/main/resources/boot/policies.json
Labels: hacktoberfest-accepted, devops, merge-pending-ci

#9090 (fix): Avoid java.util.ConcurrentModificationException
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DataHubAuthorizer.java
Labels: hacktoberfest-accepted, devops

#8950 Fix(ingest/bigquery): fix extracting comments from complex types
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
Labels: hacktoberfest-accepted, ingestion, community-contribution

#9116 fix(ui) Fix filtering logic for everwhere generating OR filters
  datahub-web-react/src/app/search/useGetSearchQueryInputs.ts
  datahub-web-react/src/app/search/utils/__tests__/generateOrFilters.test.ts
  datahub-web-react/src/app/search/utils/generateOrFilters.ts
Labels: product, merge-pending-ci

#9130 build(release): Update files for 0.12.0 release
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  gradle/versioning/versioning.gradle
  smoke-test/tests/cypress/cypress/e2e/mutations/managed_ingestion.js
Labels: product, smoke_test

#9127 fix(ingest/sql-server): update queries to use escaped procedure name
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
  metadata-ingestion/tests/integration/sql_server/setup/setup.sql
Labels: ingestion

#8514 feat(airflow): retry callback, support ExternalTaskSensor subclasses
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin_v22.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_snowflake_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator_no_dag_listener.json
Labels: ingestion, merge-pending-ci

#9124 docs: fix saasonly flags for some pages
  docs-website/sidebars.js
  docs/managed-datahub/chrome-extension.md
Labels: docs

#8966 fix(ingest/snowflake): missing view downstream cll if platform instance is set
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
Labels: hacktoberfest-accepted, ingestion, merge-pending-ci

#9104 feat: Add flag to hide/display the autocomplete query for search bar
  datahub-web-react/src/app/home/HomePageHeader.tsx
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/app/search/SearchHeader.tsx
Labels: hacktoberfest-accepted, product

#9126 docs(timeline): correct markdown heading level
  docs/dev-guides/timeline.md
Labels: docs

#9134 docs(graphql) Correct mutation -> query for searchAcrossLineage examples
  docs/api/tutorials/lineage.md
  metadata-ingestion/examples/library/read_lineage_rest.py
Labels: ingestion, docs

#9038 feat(kafka): increase kafka message size and enable compression
  .github/workflows/docker-unified.yml
  build.gradle
  datahub-frontend/app/client/KafkaTrackingProducer.java
  datahub-frontend/app/config/ConfigurationProvider.java
  docker/broker/env/docker.env
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/kafka-setup/kafka-config.sh
  docker/kafka-setup/kafka-setup.sh
  docker/kafka-setup/kafka-topic-workers.sh
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  docs/deploy/environment-vars.md
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/ConsumerConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/KafkaConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/ProducerConfiguration.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/DataHubKafkaProducerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaEventConsumerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/SimpleKafkaConsumerFactory.java
Labels: hacktoberfest-accepted, docs, devops

#8971 feat(ingest/jsonschema) enable schema-aware `JsonSchemaTranslator`
  metadata-ingestion/src/datahub/ingestion/extractor/json_schema_util.py
Labels: hacktoberfest-accepted, ingestion, merge-pending-ci

#9115 fix(metadata-ingestion): adds default value to _resolved_domain_urn i…
  metadata-ingestion/src/datahub/api/entities/dataproduct/dataproduct.py
Labels: ingestion, merge-pending-ci

#9052 ci: tweak to only run relevant workflows
  .github/workflows/airflow-plugin.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/documentation.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-model.yml
Labels: hacktoberfest-accepted, devops

#9132 Fix for flaky download_lineage_results cypress test
  smoke-test/tests/cypress/cypress/e2e/lineage/download_lineage_results.js
  smoke-test/tests/cypress/cypress/e2e/mutations/dataset_ownership.js
Labels: smoke_test

#9131 docs: Update updating-datahub.md
  docs/how/updating-datahub.md
Labels: docs

#9143 fix(ingest/clickhouse): pin version to solve column reflection regression
  metadata-ingestion/setup.py
Labels: ingestion

#9135 feat(ingest/looker): cleanup error handling
  metadata-ingestion/src/datahub/ingestion/api/workunit.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Labels: ingestion

#9120 feat(ingest): add `entity_supports_aspect` helper
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/tests/unit/test_mcp_builder.py
Labels: ingestion

#9137 docs: correct broken doc links
  docs/deploy/aws.md
  docs/what-is-datahub/datahub-concepts.md
Labels: docs

#9119 feat(ingest): sql parser perf + asyncio fixes
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/upgrade/upgrade.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_from_union.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_teradata_strange_operators.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion, merge-pending-ci

#9148 feat(quickstart): fix broker InconsistentClusterIdException issues
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
Labels: devops

#9150 fix(policies): remove non-existent policies, fix name
  metadata-service/war/src/main/resources/boot/policies.json
Labels: devops

#9147 Fix for a test that passed on Oss and failed on Saas
  smoke-test/tests/cypress/cypress/e2e/lineage/download_lineage_results.js
Labels: hacktoberfest-accepted, smoke_test

#9152 docs(teradata): teradata doc external link 404 fix
  metadata-ingestion/docs/sources/teradata/teradata_pre.md
Labels: hacktoberfest-accepted, ingestion
