Repository datahub-project/datahub, pull requests merged in 2024-11, with the labels that each got.

#11764 docs(graphql): fix typo in entity.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
Labels: community-contribution, product, merge-pending-ci

#11769 doc(bigquery): Update setup.md
  docs/quick-ingestion-guides/bigquery/setup.md
Labels: docs, community-contribution, merge-pending-ci

#11740 feat(ingest/cli): add undo soft delete command
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion, merge-pending-ci

#11783 fix(docs-site) improvements to home page
  docs-website/adoptionStoriesIndexes.json
  docs-website/docusaurus.config.js
  docs-website/package.json
  docs-website/src/pages/_components/CaseStudy/case-study.module.scss
  docs-website/src/pages/_components/CaseStudy/caseStudyContent.js
  docs-website/src/pages/_components/CaseStudy/index.js
  docs-website/static/img/adoption-stories/adoption-stories-apple.png
  docs-website/static/img/logos/companies/apple_text.png
  docs-website/yarn.lock
Labels: community-contribution

#11785 Make DatahubGC bootstrap MCP non-optional
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/bootstrapmcps/BootstrapMCPUtilTest.java
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/ingestion-datahub-gc.yaml
Labels: devops

#11788 fix(ingestion/powerbi): update golden files
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_access_not_allowed.json
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest_patch_disabled.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_personal_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
Labels: ingestion

#11620 fix(ingest/redshift): fix unload lineage in lineage_v2
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
Labels: ingestion

#11789 fix(ingest/openapi): Fix openapi tests
  metadata-ingestion/tests/integration/openapi/openapi_mces_golden.json
  metadata-ingestion/tests/integration/openapi/openapi_to_file.yml
Labels: ingestion

#11767 user should be able to pass custom mcp kafka topic
  metadata-integration/java/acryl-spark-lineage/src/main/java/datahub/spark/DatahubEventEmitter.java
  metadata-integration/java/acryl-spark-lineage/src/main/java/datahub/spark/DatahubSparkListener.java
  metadata-integration/java/acryl-spark-lineage/src/main/java/datahub/spark/conf/KafkaDatahubEmitterConfig.java
  metadata-integration/java/acryl-spark-lineage/src/main/java/datahub/spark/conf/SparkConfigParser.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/kafka/AvroSerializer.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/kafka/KafkaEmitter.java
Labels: ingestion, community-contribution

#11787 feat(entity-client): batch entity-client ingestProposals
  datahub-frontend/app/auth/AuthModule.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLMAESpringTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLSpringCommonTestConfiguration.java
  metadata-jobs/mce-consumer-job/src/test/java/com/linkedin/metadata/kafka/MceConsumerApplicationTestConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entityclient/EntityClientConfigFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entityclient/JavaEntityClientFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entityclient/RestliEntityClientFactory.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/common/client/BaseClient.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/EntityClientConfig.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/SystemRestliEntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/usage/RestliUsageClient.java
  metadata-service/restli-client/src/test/java/com/linkedin/common/client/BaseClientTest.java
  metadata-service/restli-client/src/test/java/com/linkedin/entity/client/SystemRestliEntityClientTest.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
Labels: product, devops

#11598 feat(ingest/dremio): Dremio Source Ingestion
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/images/dremiologo.png
  docs/cli.md
  metadata-ingestion/docs/sources/dremio/README.md
  metadata-ingestion/docs/sources/dremio/dremio.md
  metadata-ingestion/docs/sources/dremio/dremio_pre.md
  metadata-ingestion/docs/sources/dremio/dremio_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_api.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_aspects.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_config.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_datahub_source_mapping.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_entities.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_profiling.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_reporting.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_source.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_sql_queries.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/integration/dremio/docker-compose.yml
  metadata-ingestion/tests/integration/dremio/dremio_mces_golden.json
  metadata-ingestion/tests/integration/dremio/dremio_to_file.yml
  metadata-ingestion/tests/integration/dremio/setup/mysqld.cnf
  metadata-ingestion/tests/integration/dremio/setup/setup.sql
  metadata-ingestion/tests/integration/dremio/setup_dremio_admin.sh
  metadata-ingestion/tests/integration/dremio/test_data/sample.parquet
  metadata-ingestion/tests/integration/dremio/test_dremio.py
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Labels: ingestion, docs, product, devops, merge-pending-ci

#11791 fix(entity-client): switch to caller runs for entity-client
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
Labels: devops

#11794 bump(cli): Update ingestion-datahub-gc.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/ingestion-datahub-gc.yaml
Labels: devops

#11742 fix(ingest/powerbi): change default for `use_powerbi_email`
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_access_not_allowed.json
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest_patch_disabled.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_personal_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
Labels: ingestion, docs, merge-pending-ci

#11808 docs(breaking-changes): datahub-gc
  docs/how/updating-datahub.md
Labels: docs

#11809 fix(ingest/gc): add limit, add actual loop for iterating over batches
  metadata-ingestion/src/datahub/ingestion/source/gc/soft_deleted_entity_cleanup.py
Labels: ingestion

#11813 fix(ingest/browsePathsV2): Emit Container aspect first, to avoid BrowsePathsV2 generation race condition
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/tests/unit/api/__init__.py
  metadata-ingestion/tests/unit/api/source_helpers/__init__.py
  metadata-ingestion/tests/unit/api/source_helpers/test_auto_browse_path_v2.py
  metadata-ingestion/tests/unit/api/source_helpers/test_source_helpers.py
Labels: ingestion

#11806 fix(ingest/fivetran): do not materialise upstream
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_empty_connection_user_golden.json
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_golden.json
Labels: ingestion

#11801 fix(ingest/dremio): update dremio sql query to retrieve queried datasets in sql jobs
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_sql_queries.py
Labels: ingestion, community-contribution

#11814 fix(ingestion/powerbi): object has no attribute startswith
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
Labels: ingestion

#11771 fix(views): fix environment filter for views
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsTest.java
Labels: product

#11816 feat(template-mcps): allow further control for helm
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/bootstrapmcps/BootstrapMCPUtil.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/bootstrapmcps/model/BootstrapMCPConfigFile.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/bootstrapmcps/BootstrapMCPUtilTest.java
  datahub-upgrade/src/test/resources/bootstrapmcp/test.yaml
  docs/advanced/bootstrap-mcps.md
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/ingestion-datahub-gc.yaml
Labels: docs, devops

#11819 fix(timeline): fixes primary key change events
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGeneratorTest.java
Labels: product

#11798 fix(ingest): ignore processed query_id from temp upstream
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
Labels: ingestion

#11773 feat(web-react) improved webpage title generation logic
  datahub-web-react/src/app/search/SearchablePage.tsx
Labels: community-contribution, product

#11756 feat(ingestion/powerbi): DatabricksMultiCloud native query support
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/tree_function.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/validator.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi-lexical-grammar.rule
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/src/datahub/utilities/partition_executor.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/unit/test_powerbi_parser.py
Labels: ingestion, merge-pending-ci

#11835 fix(ci): additional disk clean
  .github/workflows/docker-unified.yml
Labels: devops

#11793 feat(docs) better oidc setup docs
  docs-website/sidebars.js
  docs/authentication/guides/sso/configure-oidc-react.md
  docs/authentication/guides/sso/initialize-oidc.md
  docs/managed-datahub/integrations/oidc-sso-integration.md
Labels: docs, community-contribution

#11842 fix(config): add missing package
  metadata-service/war/build.gradle
  metadata-service/war/src/main/java/com/linkedin/gms/CommonApplicationConfig.java
  metadata-service/war/src/test/java/com/linkedin/gms/SpringTest.java
Labels: devops

#11843 fix(timeline): fixes a renaming corner case
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGeneratorTest.java
Labels: product

#11704 fix(ui): show ingested entities in ingestion report when ingestion succeeded with warnings
  datahub-web-react/src/app/ingest/source/executions/ExecutionRequestDetailsModal.tsx
Labels: community-contribution, product

#11836 v0.3.7 release docs
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_3_7.md
Labels: docs

#11848 fix(ingest/dbt): handle multiple owners
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Labels: ingestion

#11849 fix(ingest): update GX version having name arg
  metadata-ingestion-modules/gx-plugin/src/datahub_gx_plugin/action.py
Labels: ingestion

#11850 docs(release): helm chart version req 0.3.7
  docs/managed-datahub/release-notes/v_0_3_7.md
Labels: docs

#11844 fix(ingestion-web) sorting and filtering uses api
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/source/ListIngestionSourcesResolver.java
  datahub-graphql-core/src/main/resources/ingestion.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/source/ListIngestionSourceResolverTest.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/BackfillIngestionSourceInfoIndicesConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/ingestion/BackfillIngestionSourceInfoIndices.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/ingestion/BackfillIngestionSourceInfoIndicesStep.java
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingest/source/__tests__/IngestionSourceList.test.tsx
  metadata-models/src/main/pegasus/com/linkedin/ingestion/DataHubIngestionSourceInfo.pdl
  metadata-service/configuration/src/main/resources/application.yaml
Labels: community-contribution, product, devops

#11829 fix(ingest/oracle): fix scheme for sqlalchemy < 2
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/unit/test_oracle_source.py
Labels: ingestion

#11853 fix(ingest/partition-executor): Fix deadlock by recomputing ready items
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/utilities/partition_executor.py
  metadata-ingestion/tests/unit/utilities/test_partition_executor.py
Labels: ingestion

#11817 fix(ingest/dremio): Dremio software jobs retrieval SQL query fix query error
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_api.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_sql_queries.py
Labels: ingestion, community-contribution

#11861 fix(docs): Update v_0_3_7.md
  docs/managed-datahub/release-notes/v_0_3_7.md
Labels: docs

#11866 fix(doc): fix link to doc, update cli recommendation
  docs/managed-datahub/release-notes/v_0_3_7.md
Labels: docs, merge-pending-ci

#11859 chore(docs): Minor improvements to transformer docs and java example
  metadata-ingestion/docs/transformer/intro.md
  metadata-integration/java/as-a-library.md
Labels: ingestion

#11822 feat(ingest/cassandra): Add support for Cassandra as a source
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/images/cassandralogo.png
  metadata-ingestion/docs/sources/cassandra/cassandra_pre.md
  metadata-ingestion/docs/sources/cassandra/cassandra_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/cassandra/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra.py
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra_api.py
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra_config.py
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra_profiling.py
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra_utils.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_config.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_profiling.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/tests/integration/cassandra/cassandra_mcps_golden.json
  metadata-ingestion/tests/integration/cassandra/docker-compose.yml
  metadata-ingestion/tests/integration/cassandra/setup/cassandra.yaml
  metadata-ingestion/tests/integration/cassandra/setup/init_keyspaces.cql
  metadata-ingestion/tests/integration/cassandra/test_cassandra.py
  metadata-ingestion/tests/unit/test_cassandra_source.py
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Labels: ingestion, product

#11870 docs(search): example tag AND condition
  docs/how/search.md
Labels: docs

#11871 Update CSVInfo.tsx
  datahub-web-react/src/app/ingest/source/builder/CSVInfo.tsx
Labels: product

#11863 chore(structured-properties): add cli validation for entity types
  metadata-ingestion/examples/structured_properties/structured_properties.yaml
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  smoke-test/tests/structured_properties/bad_entity_type.yaml
  smoke-test/tests/structured_properties/test_structured_properties.py
  smoke-test/tests/structured_properties/test_structured_properties.yaml
Labels: ingestion, smoke_test

#11847 feat(py-sdk): add cli version to ingestion headers
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
Labels: ingestion, community-contribution, merge-pending-ci

#11877 fix(ingest/airflow): Remove seems like not intended force debug mode which caused plugin fail on EMR
  metadata-ingestion/src/datahub/sql_parsing/_sqlglot_patch.py
Labels: ingestion

#11880 fix(ingest/airflow): Add log to dag emit
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
Labels: ingestion

#11182 feat(ingest/iceberg): Iceberg performance improvement
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_profiler.py
  metadata-ingestion/src/datahub/utilities/threaded_iterator_executor.py
  metadata-ingestion/tests/integration/iceberg/iceberg_multiprocessing_to_file.yml
  metadata-ingestion/tests/integration/iceberg/test_iceberg.py
  metadata-ingestion/tests/unit/test_iceberg.py
Labels: ingestion

#11881 fix(ingest/lookml): replace class variable with instance variable for improved encapsulation
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#11884 docs(urn): urn encoding
  docs/what/urn.md
Labels: docs

#11885 fix(ingest/partitionExecutor): Fetch ready items for non-empty batch when _pending is empty
  metadata-ingestion/src/datahub/utilities/partition_executor.py
  metadata-ingestion/tests/unit/utilities/test_partition_executor.py
Labels: ingestion

#11883 fix(ingest): upgrade msal
  metadata-ingestion/setup.py
Labels: ingestion, community-contribution, merge-pending-ci, datahub-community-champion

#11895 Update v_0_3_7.md
  docs/managed-datahub/release-notes/v_0_3_7.md
Labels: docs

#11837 fix(ui) Fix merging siblings schema with mix of v1 & v2 fields
  datahub-web-react/src/app/entity/shared/siblingUtils.ts
Labels: product

#11896 fix(ingest): consider sql parsing fallback as failure
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_sqlite_attach_database.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion, merge-pending-ci

#11830 feat(spark): OpenLineage 1.24.2 upgrade
  build.gradle
  entity-registry/build.gradle
  metadata-integration/java/acryl-spark-lineage/README.md
  metadata-integration/java/acryl-spark-lineage/build.gradle
  metadata-integration/java/acryl-spark-lineage/src/main/java/datahub/spark/DatahubSparkListener.java
  metadata-integration/java/acryl-spark-lineage/src/main/java/datahub/spark/conf/SparkConfigParser.java
  metadata-integration/java/acryl-spark-lineage/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  metadata-integration/java/acryl-spark-lineage/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-client/src/main/java/datahub/client/rest/DatahubHttpRequestRetryStrategy.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/rest/RestEmitter.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/rest/RestEmitterConfig.java
  metadata-integration/java/openlineage-converter/build.gradle
Labels: ingestion

#11905 fix(ingest): add error handling
  metadata-ingestion/src/datahub/ingestion/source/gc/dataprocess_cleanup.py
Labels: ingestion, merge-pending-ci

#11908 chore(docs): Update restli-overview.md
  docs/api/restli/restli-overview.md
Labels: docs

#11706 Display username while removing the user from the group
  datahub-web-react/src/app/entity/group/GroupMembers.tsx
Labels: community-contribution, product

#11906 fix(ingest/powerbi): m-query fixes
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/tests/integration/powerbi/test_native_sql_parser.py
Labels: ingestion, pending-submitter-merge

#11878 fix(auth)- Fix Redirect url flow in OidcCallback
  datahub-frontend/app/auth/sso/oidc/OidcCallbackLogic.java
Labels: community-contribution, product

#11888 refactor(ingest/snowflake): move oauth config into snowflake dir
  metadata-ingestion/src/datahub/ingestion/source/snowflake/oauth_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/oauth_generator.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_shares.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
  metadata-ingestion/tests/unit/utilities/test_parsing_util.py
Labels: ingestion

#11774 fix(ingest/bigquery): increase logging in bigquery-queries extractor
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
  metadata-ingestion/src/datahub/utilities/progress_timer.py
  metadata-ingestion/tests/unit/utilities/test_progress_timer.py
Labels: ingestion

#11872 Update the AWS instructions with EBS CSI and IAM policy instructions
  docs/deploy/aws.md
Labels: docs, community-contribution

#11910 fix(ingest/sql): disable patch checker
  metadata-ingestion/src/datahub/utilities/is_pytest.py
  metadata-ingestion/tests/conftest.py
Labels: ingestion

#11903 docs(ingest/sac): add additional permission for SAP Analytics Cloud source to docs
  metadata-ingestion/docs/sources/sac/sac_pre.md
Labels: ingestion, community-contribution, merge-pending-ci

#11915 chore: update contributors list
  .github/workflows/pr-labeler.yml
Labels: devops, merge-pending-ci

#11921 docs(ingest): Raise error on unsupported sqlite version
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
Labels: ingestion, pending-submitter-merge

#11909 fix(analytics): look at userEditableInfo to populate cells
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/service/AnalyticsUtil.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/utils/AnalyticsUtilTest.java
Labels: product, needs-review

#11900 fix(ingestion/kafka): OAuth callback execution
  metadata-ingestion/docs/sources/kafka/kafka.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/configuration/kafka.py
  metadata-ingestion/src/datahub/configuration/kafka_consumer_config.py
  metadata-ingestion/src/datahub/ingestion/source/confluent_schema_registry.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka_schema_registry_base.py
  metadata-ingestion/tests/integration/kafka/kafka_to_file_oauth.yml
  metadata-ingestion/tests/integration/kafka/oauth.py
  metadata-ingestion/tests/integration/kafka/test_kafka.py
  metadata-ingestion/tests/unit/api/test_pipeline.py
  metadata-ingestion/tests/unit/test_confluent_schema_registry.py
  metadata-ingestion/tests/unit/test_kafka_source.py
Labels: pending-submitter-response, ingestion

#11912 feat(ingest/mssql): include stored procedure lineage
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/stored_procedure_lineage.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/sql_parsing/datajob.py
  metadata-ingestion/src/datahub/sql_parsing/query_types.py
  metadata-ingestion/src/datahub/sql_parsing/split_statements.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/integration/sql_server/docker-compose.yml
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
  metadata-ingestion/tests/integration/sql_server/golden_files/procedures/DemoData.Foo.NewProc.json
  metadata-ingestion/tests/integration/sql_server/golden_files/procedures/demodata.foo.proc2.json
  metadata-ingestion/tests/integration/sql_server/procedures/DemoData.Foo.NewProc.sql
  metadata-ingestion/tests/integration/sql_server/procedures/demodata.foo.proc2.sql
  metadata-ingestion/tests/integration/sql_server/setup/setup.sql
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_with_lower_case_urn.yml
  metadata-ingestion/tests/integration/sql_server/test_sql_server.py
  metadata-ingestion/tests/unit/sql_parsing/test_split_statements.py
Labels: ingestion, pending-submitter-merge

#11917 fix(ui): use correct docs link for csv enricher
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingest/source/conf/csv/csv.ts
Labels: community-contribution, product, merge-pending-ci, datahub-community-champion

#11928 fix(batch-patch): fix patches in batches
  entity-registry/src/main/java/com/linkedin/metadata/aspect/batch/AspectsBatch.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImpl.java
  metadata-io/metadata-io-api/src/test/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImplTest.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/EntityService.java
Labels: product, devops, needs-review, release-0.15.0

#11930 fix(structuredProps) Add validation that ID and qualifiedName have no…
  metadata-io/src/main/java/com/linkedin/metadata/structuredproperties/validation/PropertyDefinitionValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/structuredproperties/validators/PropertyDefinitionValidatorTest.java
Labels: product, needs-review, release-0.15.0

#11932 fix(rest.li): fix use of Criterion in rest.li filters
  docs/how/updating-datahub.md
  docs/managed-datahub/release-notes/v_0_3_7.md
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/analytics/Analytics.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/CriterionUtils.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/CriterionUtilsTest.java
Labels: docs, devops, needs-review, release-0.15.0

#11935 fix(validation): improved urn validation logic
  docker/profiles/docker-compose.gms.yml
  docs/deploy/environment-vars.md
  docs/what/urn.md
  metadata-io/build.gradle
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/validation/ValidationApiUtils.java
  metadata-io/metadata-io-api/src/test/java/com/linkedin/metadata/entity/validation/ValidationApiUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
Labels: docs, product, pending-submitter-merge

#11874 fix(ingest/bigquery): ignore include constraints for biglake datasets
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
Labels: ingestion, pending-submitter-merge

#11929 feat(ingest/kafka): improve error handling of oauth_cb config
  metadata-ingestion/src/datahub/configuration/kafka_consumer_config.py
  metadata-ingestion/tests/unit/test_kafka_source.py
Labels: ingestion, pending-submitter-merge

#11827 feat(ingest/oracle): support profile limits for large tables
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_reporting.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_report.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
Labels: ingestion, pending-submitter-merge

#11826 fix: remove ai summit post
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
Labels: ingestion, pending-submitter-merge

#11934 fix(ui/graphql) Handle groups in institutionalMemory aspect
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/type/ResolvedActorResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/InstitutionalMemoryMetadataMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/ResolvedActorMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/LinkButton.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/LinkList.tsx
  datahub-web-react/src/graphql-mock/mutationHelper.ts
  datahub-web-react/src/graphql/domain.graphql
  datahub-web-react/src/graphql/fragments.graphql
Labels: product, pending-submitter-merge

#11875 fix(browseDAO): Handle null browse path from ES in BrowseDAO
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESBrowseDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/BrowseDAOTest.java
Labels: community-contribution, product, needs-review

#11925 fix(airflow): remove trino to presto mapping
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_datahub_ol_adapter.py
Labels: ingestion, community-contribution, merge-pending-ci

#11940 docs(ingest/bigquery): add partition support capability
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
Labels: ingestion, needs-review

#11951 fix(dataProduct): reduce write fan-out for unset side effect
  metadata-io/src/main/java/com/linkedin/metadata/dataproducts/sideeffects/DataProductUnsetSideEffect.java
  metadata-io/src/test/java/com/linkedin/metadata/dataproducts/sideeffects/DataProductUnsetSideEffectTest.java
Labels: product, pending-submitter-merge

#11950 fix(ingest/tableau): handle none database field
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
Labels: ingestion, needs-review

#11952 fix(urn-validator): update urn validation logic
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/validation/ValidationApiUtils.java
  metadata-io/metadata-io-api/src/test/java/com/linkedin/metadata/entity/validation/ValidationApiUtilsTest.java
Labels: product, needs-review, release-0.15.0

#11954 feat(ingest): add more logs for kafka polling
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
Labels: ingestion, pending-submitter-merge

#11807 fix(ingest/bigquery): Fix performance issue with column profiling ignore
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
Labels: ingestion, pending-submitter-merge

#11948 docs(cloud): add documentation for Data Product side effect
  docs/how/updating-datahub.md
  docs/managed-datahub/release-notes/v_0_3_7.md
Labels: docs, pending-submitter-merge

#11953 feat(ingest/mssql): allow filtering by procedure_pattern
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_no_db_with_filter.yml
Labels: ingestion, needs-review

#11840 fix(test): updates a couple tests to disregard list order
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/AggregateAcrossEntitiesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossEntitiesResolverTest.java
Labels: community-contribution, product, merge-pending-ci, datahub-community-champion

#11961 fix(dataproduct): optimize data product sideeffect
  metadata-io/src/main/java/com/linkedin/metadata/dataproducts/sideeffects/DataProductUnsetSideEffect.java
  metadata-io/src/test/java/com/linkedin/metadata/dataproducts/sideeffects/DataProductUnsetSideEffectTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
Labels: product, devops, pending-submitter-merge

#11960 fix(ingest): always send correct data for advanced section
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
Labels: product, needs-review

#11963 feat(schematron): add java capabilities for schema translation
  build.gradle
  docs-website/sidebars.js
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-client/scripts/check_jar.sh
  metadata-integration/java/datahub-schematron/README.md
  metadata-integration/java/datahub-schematron/cli/build.gradle
  metadata-integration/java/datahub-schematron/cli/scripts/avro_schema_to_mce.py
  metadata-integration/java/datahub-schematron/cli/scripts/mce_diff.py
  metadata-integration/java/datahub-schematron/cli/src/main/java/io/datahubproject/schematron/cli/SchemaTron.java
  metadata-integration/java/datahub-schematron/cli/src/test/java/io/datahubproject/schematron/SchemaTranslatorTest.java
  metadata-integration/java/datahub-schematron/cli/src/test/resources/CustomerProfile.avsc
  metadata-integration/java/datahub-schematron/cli/src/test/resources/CustomerProfile2.avsc
  metadata-integration/java/datahub-schematron/cli/src/test/resources/FlatUser.avsc
  metadata-integration/java/datahub-schematron/cli/src/test/resources/diffs/CustomerProfile2_diff.json
  metadata-integration/java/datahub-schematron/cli/src/test/resources/diffs/CustomerProfile_diff.json
  metadata-integration/java/datahub-schematron/lib/build.gradle
  metadata-integration/java/datahub-schematron/lib/src/main/java/io/datahubproject/schematron/converters/SchemaConverter.java
  metadata-integration/java/datahub-schematron/lib/src/main/java/io/datahubproject/schematron/converters/avro/AvroSchemaConverter.java
  metadata-integration/java/datahub-schematron/lib/src/main/java/io/datahubproject/schematron/models/DataHubType.java
  metadata-integration/java/datahub-schematron/lib/src/main/java/io/datahubproject/schematron/models/FieldElement.java
  metadata-integration/java/datahub-schematron/lib/src/main/java/io/datahubproject/schematron/models/FieldPath.java
  metadata-integration/java/datahub-schematron/lib/src/main/java/io/datahubproject/schematron/utils/Constants.java
  metadata-integration/java/datahub-schematron/lib/src/test/java/io/datahubproject/schematron/models/FieldPathTest.java
  metadata-integration/java/datahub-schematron/lib/src/test/resources/CustomerProfile.avsc
  metadata-integration/java/datahub-schematron/lib/src/test/resources/CustomerProfile2.avsc
  metadata-integration/java/datahub-schematron/lib/src/test/resources/FlatUser.avsc
  metadata-integration/java/spark-lineage-legacy/scripts/check_jar.sh
  settings.gradle
Labels: ingestion, needs-review, release-0.15.0

#11968 fix(shadowJar): fix shadowJar
  .github/workflows/check-datahub-jars.yml
  metadata-integration/java/datahub-protobuf/scripts/check_jar.sh
  metadata-integration/java/datahub-schematron/lib/build.gradle
Labels: ingestion, devops, pending-submitter-merge

#11949 fix(ingest): ensure sentry is initialized with graph tags
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/telemetry/telemetry.py
Labels: ingestion, merge-pending-ci

#11969 fix(ingest): more error handling
  metadata-ingestion/src/datahub/ingestion/source/gc/datahub_gc.py
  metadata-ingestion/src/datahub/ingestion/source/gc/dataprocess_cleanup.py
Labels: ingestion, needs-review

#11967 feat(datahub-gc): add truncation days param
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/ingestion-datahub-gc.yaml
Labels: devops, pending-submitter-merge

#11937 docs(release): Update v_0_3_7.md
  docs/managed-datahub/release-notes/v_0_3_7.md
Labels: docs, needs-review

#11974 fix(ci): fix build-and-test
  .github/workflows/build-and-test.yml
Labels: devops, pending-submitter-merge

#11924 refactor(ingest/powerbi): organize code within the module based on responsibilities
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/validator.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/unit/test_powerbi_parser.py
Labels: ingestion, merge-pending-ci

#11975 fix(schematron): fix for jdk8
  metadata-integration/java/datahub-schematron/lib/src/main/java/io/datahubproject/schematron/converters/avro/AvroSchemaConverter.java
  metadata-integration/java/datahub-schematron/lib/src/main/java/io/datahubproject/schematron/models/FieldPath.java
Labels: ingestion, pending-submitter-merge

#11977 fix(automations docs): Update snowflake-tag-propagation.md to include permissions required for the Automation
  docs/automations/snowflake-tag-propagation.md
Labels: docs, pending-submitter-merge

#11979 chore(bump): bump version of akka for datahub-frontend
  build.gradle
  datahub-frontend/play.gradle
Labels: product, pending-submitter-merge

#11784 feat(ingestion): extend feast plugin to ingest tags and owners
  metadata-ingestion/src/datahub/ingestion/source/feast.py
  metadata-ingestion/tests/integration/feast/feast_repository_mces_golden.json
  metadata-ingestion/tests/integration/feast/feature_store/data/registry.db
  metadata-ingestion/tests/integration/feast/feature_store/features.py
  metadata-ingestion/tests/integration/feast/test_feast_repository.py
Labels: ingestion, community-contribution, merge-pending-ci

#11973 fix(validation): additional URN validation adjustments
  docs/what/urn.md
  metadata-io/metadata-io-api/build.gradle
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/validation/ValidationApiUtils.java
  metadata-io/metadata-io-api/src/test/java/com/linkedin/metadata/entity/validation/ValidationApiUtilsTest.java
Labels: docs, product, pending-submitter-merge

#11971 feat(search): Update search_config.yaml
  metadata-service/configuration/src/main/resources/search_config.yaml
  smoke-test/tests/cypress/cypress/e2e/siblings/siblings.js
Labels: devops, pending-submitter-merge

#11986 docs(release): update recommended CLI
  docs/managed-datahub/release-notes/v_0_3_7.md
Labels: docs, pending-submitter-merge

#11985 fix(ingest/kafka):add poll for admin client for oauth_cb
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
  metadata-ingestion/tests/integration/kafka/test_kafka.py
Labels: ingestion, pending-submitter-merge

#11982 feat(ingest): standardize sql type mappings
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
  metadata-ingestion/tests/unit/test_sql_types.py
Labels: ingestion, pending-submitter-merge

#11965 feat(ingest): bump typing_extensions dep
  metadata-ingestion/setup.py
Labels: ingestion, pending-submitter-merge

#11976 feat(ingest): add tests for colon characters in urns
  metadata-ingestion/src/datahub/utilities/urn_encoder.py
  metadata-ingestion/tests/unit/urns/test_urn.py
Labels: ingestion, pending-submitter-merge

#11966 feat(ingest/athena): handle partition fetching errors
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/tests/unit/test_athena_source.py
Labels: ingestion, pending-submitter-merge

#11970 fix: Add option for disabling ownership extraction
  datahub-web-react/src/app/ingest/source/builder/sources.json
  metadata-ingestion/docs/sources/dremio/dremio_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_aspects.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_config.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_source.py
Labels: ingestion, product, merge-pending-ci

#11832 feat(ingest/dremio): Retrieve default_schema for SQL views
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_api.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_entities.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#11669 fix(docs): fix sample business glossary
  metadata-ingestion/docs/sources/business-glossary/datahub-business-glossary.md
  metadata-ingestion/examples/bootstrap_data/banking_business_glossary.yaml
  metadata-ingestion/examples/bootstrap_data/business_glossary.yml
Labels: ingestion, community-contribution, needs-review
