Repository datahub-project/datahub, pull requests merged in 2024-10, with the labels that each got.

#11502 feat(businessattribute): filter schema rows on business-attribute pro…
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/__tests__/filterSchemaRows.test.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/filterSchemaRows.ts
Labels: community-contribution, product

#11426 fix(ingest/lookml): missing lineage for looker template -- if prod
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_dataclasses.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_file_loader.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_template_language.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_concept_context.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/view_upstream.py
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion

#11375 fix(ingestion/transformer): Add container support for ownership and domains
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_ownership.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_domain.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#11490 fix(ingestion/nifi): Improve nifi lineage extraction performance
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/tests/unit/test_nifi_source.py
Labels: ingestion

#11481 fix(dagster-plugin): Fix in/outs format and source config
  metadata-ingestion-modules/dagster-plugin/examples/advanced_ops_jobs.py
  metadata-ingestion-modules/dagster-plugin/examples/assets_job.py
  metadata-ingestion-modules/dagster-plugin/examples/ops_job.py
Labels: ingestion, community-contribution, merge-pending-ci, datahub-community-champion

#11338 fix(ingest/elasticsearch): detect sub-properties in 'nested' type mapping
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
Labels: ingestion, community-contribution, merge-pending-ci

#11521 feat: visa case study with a text label instead of logo
  docs-website/src/pages/_components/CaseStudy/caseStudyContent.js
  docs-website/static/img/logos/companies/visa_text.png
Labels: community-contribution, merge-pending-ci

#11522 feat(docs-site) added snap logo
  docs-website/adoptionStoriesIndexes.json
  docs-website/src/pages/_components/Logos/index.js
  docs-website/src/pages/index.js
  docs-website/src/styles/global.scss
  docs-website/static/img/logos/companies/snap.png
Labels: community-contribution

#11457 fix(ingest/looker) : Handle DeserializeError to improve error reporting.
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion, merge-pending-ci

#11527 build(misc): misc build, config, version updates
  .github/workflows/metadata-io.yml
  build.gradle
  datahub-frontend/play.gradle
  docker/build.gradle
  metadata-integration/java/datahub-client/scripts/check_jar.sh
  metadata-integration/java/spark-lineage-legacy/spark-smoke-test/smoke-gms.env
  metadata-service/configuration/src/main/resources/application.yaml
Labels: ingestion, product, devops

#11517 fix(ingestion/nifi): Fix for incremental lineage ingestion for nifi
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/specific/datajob.py
  metadata-ingestion/tests/unit/patch/test_patch_builder.py
Labels: ingestion

#11530 fix(tests): fix metadata-io tests
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/DeleteEntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/extractor/AspectExtractorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/elasticsearch/SearchGraphServiceElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/opensearch/SearchGraphServiceOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageSearchResultCacheKeyTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/SearchServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/TestEntityTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/GoldenElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/IndexBuilderElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/LineageDataFixtureElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/LineageServiceElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/SampleDataFixtureElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/SearchDAOElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/SearchServiceElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/SystemMetadataServiceElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/TestEntityElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/TimeseriesAspectServiceElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/SampleDataFixtureSetupTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/SampleDataFixtureTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/GoldenOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/IndexBuilderOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/LineageDataFixtureOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/LineageServiceOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/SampleDataFixtureOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/SearchDAOOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/SearchServiceOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/SystemMetadataServiceOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/TestEntityOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/TimeseriesAspectServiceOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/BrowseDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/SearchDAOTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AggregationQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/structuredproperties/validators/PropertyDefinitionValidatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGeneratorTest.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SampleDataFixtureConfiguration.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SearchLineageFixtureConfiguration.java
  metadata-io/src/test/java/io/datahubproject/test/search/config/SearchCommonTestConfiguration.java
  metadata-models/src/main/pegasus/com/linkedin/common/DocumentationAssociation.pdl
  metadata-models/src/main/pegasus/com/linkedin/common/Forms.pdl
  metadata-models/src/main/pegasus/com/linkedin/common/GlossaryTermAssociation.pdl
  metadata-models/src/main/pegasus/com/linkedin/common/IncidentsSummary.pdl
  metadata-models/src/main/pegasus/com/linkedin/common/RoleAssociation.pdl
  metadata-models/src/main/pegasus/com/linkedin/common/SubTypes.pdl
  metadata-models/src/main/pegasus/com/linkedin/common/TagAssociation.pdl
  metadata-models/src/main/pegasus/com/linkedin/glossary/GlossaryRelatedTerms.pdl
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/schema/EditableSchemaFieldInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/schema/SchemaField.pdl
  metadata-models/src/main/pegasus/com/linkedin/test/TestResults.pdl
Labels: product

#11513 Block http trace method on mce and mce consumers
  metadata-jobs/mae-consumer-job/src/main/java/com/linkedin/metadata/kafka/CustomDispatcherServlet.java
  metadata-jobs/mce-consumer-job/src/main/java/com/linkedin/metadata/kafka/CustomDispatcherServlet.java
Labels: community-contribution

#11518 feat(bootstrap): bootstrap template mcps
  build.gradle
  datahub-upgrade/build.gradle
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/UpgradeManager.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/BootstrapMCPConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemUpdateConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/impl/DefaultUpgradeContext.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/impl/DefaultUpgradeManager.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/SystemUpdate.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/SystemUpdateBlocking.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/SystemUpdateNonBlocking.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/bootstrapmcps/BootstrapMCP.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/bootstrapmcps/BootstrapMCPStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/bootstrapmcps/BootstrapMCPUtil.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/bootstrapmcps/model/BootstrapMCPConfigFile.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/DatahubUpgradeBlockingTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/DatahubUpgradeNonBlockingTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/bootstrapmcps/BootstrapMCPUtilTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/bootstrapmcps/DataTypesTest.java
  datahub-upgrade/src/test/resources/bootstrapmcp/datahub-test-mcp.yaml
  datahub-upgrade/src/test/resources/bootstrapmcp/test.yaml
  datahub-upgrade/src/test/resources/bootstrapmcp_datatypes/test_data_types_invalid.yaml
  datahub-upgrade/src/test/resources/bootstrapmcp_datatypes/test_data_types_valid.yaml
  datahub-upgrade/src/test/resources/bootstrapmcp_datatypes/test_invalid.yaml
  datahub-upgrade/src/test/resources/bootstrapmcp_datatypes/test_valid.yaml
  docs-website/sidebars.js
  docs/advanced/bootstrap-mcps.md
  docs/how/add-custom-data-platform.md
  docs/what-is-datahub/datahub-concepts.md
  metadata-ingestion/adding-source.md
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-models/docs/entities/dataPlatform.md
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/ObjectMapperContext.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/OperationContext.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-types.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/ingestion-datahub-gc.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/ownership-types.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/roles.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/root-user.yaml
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/factories/BootstrapManagerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestDataPlatformsStep.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestDataTypesStep.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestOwnershipTypesStep.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestRolesStep.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestRootUserStep.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/IngestDataTypesStepTest.java
  metadata-service/factories/src/test/resources/boot/test_data_types_invalid.json
  metadata-service/factories/src/test/resources/boot/test_data_types_valid.json
  metadata-service/war/src/main/resources/boot/data_platforms.json
  metadata-service/war/src/main/resources/boot/data_types.json
  metadata-service/war/src/main/resources/boot/ownership_types.json
  metadata-service/war/src/main/resources/boot/roles.json
  metadata-service/war/src/main/resources/boot/root_user.json
  metadata-utils/src/main/java/com/linkedin/metadata/utils/GenericRecordUtils.java
Labels: devops

#11364 add new CREATE and UPDATE privileges for USERS_AND_GROUPS
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: community-contribution

#11510 feat(graphql/lineage): Support including ghost entities
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityLineageResultResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/ValidationUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/SiblingGraphService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/sibling/SiblingGraphServiceTest.java
Labels: product

#11535 fix(ingest/sigma): handle members api paginated response
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-ingestion/tests/integration/sigma/test_sigma.py
Labels: ingestion, merge-pending-ci

#11391 fix(metadata-service): Pass editableDatasetNameEnabled feature flag to the config.
  metadata-service/configuration/src/main/resources/application.yaml
Labels: community-contribution, devops

#11501 Added IEQUAL operator to support case insensitive searches
  datahub-graphql-core/src/main/resources/search.graphql
  docs/api/restli/restli-overview.md
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsTest.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/query/filter/Condition.pdl
  metadata-service/README.md
  metadata-service/restli-api/src/main/snapshot/com.linkedin.analytics.analytics.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
Labels: docs, community-contribution, product, devops

#11538 chore(bump): bump commons, misc versions
  build.gradle
  buildSrc/build.gradle
  metadata-service/factories/build.gradle
Labels: devops

#11512 feat(dataProduct): add data product unset side effect
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/dataproduct/DataProductPropertiesTemplate.java
  metadata-io/src/main/java/com/linkedin/metadata/dataproducts/sideeffects/DataProductUnsetSideEffect.java
  metadata-io/src/test/java/com/linkedin/metadata/dataproducts/sideeffects/DataProductUnsetSideEffectTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/DataProductService.java
Labels: product, devops

#11536 fix(search): Elasticsearch bool query should
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphFilterUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/filter/BaseQueryFilterRewriter.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/GoldenTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/filter/ContainerExpansionRewriterTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/filter/DomainExpansionRewriterTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsTest.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/LineageExporter.java
  metadata-io/src/test/resources/elasticsearch/sample_filters/lineage_query_filters_full.json
  metadata-io/src/test/resources/elasticsearch/sample_filters/lineage_query_filters_full_empty_filters.json
  metadata-io/src/test/resources/elasticsearch/sample_filters/lineage_query_filters_full_multiple_filters.json
  metadata-io/src/test/resources/elasticsearch/sample_filters/lineage_query_filters_limited.json
  metadata-io/src/test/resources/elasticsearch/sample_filters/lineage_time_query_filters_1.json
Labels: product

#11539 fix(changeGenerator): fix logic around descriptions and make execution more efficient
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGeneratorTest.java
Labels: product

#11528 fix(ingest): fix UnboundLocalError in dataproduct transformer
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_dataproduct.py
Labels: ingestion

#11545 fix(ingest): add typeUrn in glossary sync source
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
Labels: ingestion

#11455 fix(docs-site) cloud form copy spelling error
  docs-website/src/pages/cloud/DemoForm/index.jsx
Labels: community-contribution

#11498 fix(propagation): show last modified propagated documentation
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/getFieldDescriptionDetails.ts
Labels: product

#11549 privileges(refactor): consolidate individual sys op privileges
  docs/authorization/policies.md
  docs/how/updating-datahub.md
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/AuthUtil.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/OperationsController.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/OperationsResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/platform/PlatformResource.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: devops

#11548 feat(website): added built by acryl and linkedin to home hero
  docs-website/docusaurus.config.js
  docs-website/src/pages/_components/Hero/hero.module.scss
  docs-website/src/pages/_components/Hero/index.js
  docs/quickstart.md
Labels: community-contribution

#11534 feat(ingest/bigquery): casing for tmp table check for queries v2
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/common.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
Labels: ingestion

#11462 fix(ingestion/powerbi): fix for databricks lineage m-query pattern
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/tree_function.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/validator.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Labels: ingestion

#11554 fix(datahub-gc): set system flag on ingestion source
  metadata-service/configuration/src/main/resources/bootstrap_mcps/ingestion-datahub-gc.yaml
Labels: devops

#11553 fix(lint): fix yarn lint breakage from #11498
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/getFieldDescriptionDetails.ts
Labels: product, merge-pending-ci

#11555 chore(ci): bump trivy action version
  .github/workflows/docker-unified.yml
Labels: devops

#11546 feat(docker-profiles): add elasticsearch envs to docker profiles
  docker/profiles/docker-compose.actions.yml
Labels: devops

#11506 docs(release): 0.3.6 - docs update
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_3_6.md
Labels: docs

#11556 fix(datahub-gc): Update ingestion-datahub-gc.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/ingestion-datahub-gc.yaml
Labels: devops

#11557 fix(ci): fix cassandra test flake
  metadata-io/src/test/java/com/linkedin/metadata/entity/cassandra/CassandraAspectMigrationsDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/cassandra/CassandraEntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/cassandra/CassandraTimelineServiceTest.java
  metadata-io/src/test/resources/testng-cassandra.xml
  metadata-io/src/test/resources/testng-other.xml
  metadata-io/src/test/resources/testng.xml
Labels: product

#11563 feat(scan): add scanning to setup images
  .github/workflows/docker-unified.yml
Labels: devops, publish-docker

#11524 Fix data search for fieldType = OBJECT for non-string fields
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsTest.java
Labels: community-contribution, product

#11565 docs(search): add structured search examples for structured properties
  docs/how/search.md
Labels: docs

#11568 docs(datahub source): Add urn exclusions to docs
  metadata-ingestion/docs/sources/datahub/datahub_pre.md
Labels: ingestion

#11561 docs(csv-enricher): Add warning for write_semantics
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source_config/csv_enricher.py
Labels: ingestion

#11567 fix(test): fix test specific for single query
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoTest.java
Labels: product

#11573 chore: remove obsolete attribute from docker
  docker/airflow/docker-compose.yaml
  docker/cassandra/docker-compose.cassandra.yml
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.override.yml
  docker/docker-compose-without-neo4j.postgres.override.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.consumers-without-neo4j.yml
  docker/docker-compose.consumers.dev.yml
  docker/docker-compose.consumers.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.kafka-setup.yml
  docker/docker-compose.override.yml
  docker/docker-compose.tools.yml
  docker/docker-compose.yml
  docker/ingestion/docker-compose.yml
  docker/mariadb/docker-compose.mariadb.yml
  docker/monitoring/docker-compose.consumers.monitoring.yml
  docker/monitoring/docker-compose.monitoring.yml
  docker/mysql/docker-compose.mysql.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
  docker/quickstart/docker-compose.kafka-setup.quickstart.yml
  docker/quickstart/docker-compose.monitoring.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  docker/quickstart/generate_docker_quickstart.py
  metadata-integration/java/spark-lineage-legacy/spark-smoke-test/docker/spark-docker-compose.yml
Labels: ingestion, devops

#11550 fix(cli): update hard delete confirmation message in delete cli
  metadata-ingestion/src/datahub/cli/delete_cli.py
  smoke-test/cypress-dev.sh
  smoke-test/run-quickstart.sh
Labels: ingestion, smoke_test

#11558 feat(ingest/stateful): omit irrelevant urns for deletion
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/golden_test_checkpoint_state.json
  metadata-ingestion/tests/unit/stateful_ingestion/state/golden_test_checkpoint_state_after_deleted.json
  metadata-ingestion/tests/unit/stateful_ingestion/state/golden_test_stateful_ingestion.json
  metadata-ingestion/tests/unit/stateful_ingestion/state/golden_test_stateful_ingestion_after_deleted.json
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_stateful_ingestion.py
Labels: ingestion, merge-pending-ci

#11562 feat(ingest): add extra reporting for rest sink ASYNC_BATCH mode
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
Labels: ingestion

#11529 feat(models): support dashboards containing dashboards
  metadata-models/src/main/pegasus/com/linkedin/dashboard/DashboardInfo.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: merge-pending-ci

#11580 fix(test): Update EbeanAspectDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoTest.java
Labels: product

#11537 feat(airflow): add a `render_templates` config parameter
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_config.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
Labels: ingestion, docs

#10954 feat(ingest): add preset source
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/preset.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/preset/golden_test_ingest.json
  metadata-ingestion/tests/integration/preset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/preset/test_preset.py
  metadata-ingestion/tests/unit/test_preset_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#11571 fix(ui): update soft-deletion banner message
  datahub-web-react/src/app/entity/shared/containers/profile/EntityProfile.tsx
Labels: product, merge-pending-ci

#11575 fix(ingest/looker): handle sdk error for folder_ancestors
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
Labels: ingestion

#11579 feat(airflow): add airflow 2.10 to test matrix
  .github/workflows/airflow-plugin.yml
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/tox.ini
Labels: ingestion, devops

#11588 docs(cypress): Update README.txt
  smoke-test/tests/cypress/README.txt
Labels: smoke_test

#11590 fix(trivy): multi-repo, bump trivy version
  .github/workflows/docker-unified.yml
  docker/build.gradle
Labels: devops

#11591 fix(trivy): also add alternative java db
  .github/workflows/docker-unified.yml
Labels: devops

#11564 feat(openapi-v3): generic entities scroll
  metadata-io/src/main/java/com/linkedin/metadata/search/SearchService.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityAspectsBodyV3.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
Labels: product, devops

#11583 fix(ingest): ignore irrelevant urns from % change computation
  metadata-ingestion/src/datahub/ingestion/source/state/entity_removal_state.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_stale_entity_removal_handler.py
Labels: ingestion

#11523 feat(ingest/powerbi): fix subTypes and add workspace_type_filter
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_independent_datasets.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest_patch_disabled.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_personal_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_profiling.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
  metadata-ingestion/tests/integration/powerbi/test_admin_only_api.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
  metadata-ingestion/tests/integration/powerbi/test_profiling.py
  metadata-ingestion/tests/integration/powerbi/test_stateful_ingestion.py
Labels: ingestion, merge-pending-ci

#11592 fix(ingest): gracefully handle missing system metadata in client
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion

#11566 docs(assertions): add example of fetching associated dataset to assertion docs
  docs/api/tutorials/custom-assertions.md
Labels: docs

#11572 fix(ingest/sac): handle descriptions which are None correctly
  metadata-ingestion/src/datahub/ingestion/source/sac/sac.py
  metadata-ingestion/src/datahub/ingestion/source/sac/sac_common.py
Labels: ingestion, community-contribution

#11472 fix(airflow): add dag AllowDenyPattern config
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_config.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/dag_to_skip.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
Labels: ingestion, docs, merge-pending-ci

#11603 docs(structured-properties): example to read structured properties fr…
  docs/api/tutorials/structured-properties.md
Labels: docs

#11605 fix(bootstrap): fix early bootstrap mcps
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
Labels: devops

#11608 fix(spark-lineage-legacy): fix check jar script
  metadata-integration/java/spark-lineage-legacy/scripts/check_jar.sh
Labels: ingestion

#11610 fix(sdk): platform resource api for non existent resources
  metadata-ingestion/src/datahub/api/entities/platformresource/platform_resource.py
  smoke-test/tests/platform_resources/test_platform_resource.py
Labels: ingestion, smoke_test

#11552 fix(ingestion/redshift): Fix for Redshift COPY-based lineage
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
Labels: ingestion

#11611 fix(ingest/delta-lake): skip file count if require_files is false
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/tests/unit/test_mlflow_source.py
Labels: ingestion

#11540 fix(ingest/superset): parse postgres platform correctly
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Labels: ingestion, community-contribution, merge-pending-ci

#11609 feat(openapi-v3): support async and createIfNotExists params on aspect
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/IngestResult.java
Labels: product, devops

#11615 fix(ingest/preset): Add skip_on_failure to root_validator decorator
  metadata-ingestion/src/datahub/ingestion/source/preset.py
Labels: ingestion

#11617 docs(apis): update OpenAPI disclaimer
  docs/api/datahub-apis.md
Labels: docs

#11606 docs: add docs on term suggestion
  docs-website/sidebars.js
  docs/automations/ai-docs.md
  docs/automations/ai-term-suggestion.md
  docs/automations/snowflake-tag-propagation.md
Labels: docs

#11616 fix(airflow): fix lint related to dag_run field
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
Labels: ingestion

#11613 fix(ingest): drop empty fields
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
Labels: ingestion

#11618 feat(docs-site) brought back announcement banner
  docs-website/docusaurus.config.js
  docs-website/src/pages/index.js
  docs-website/src/styles/global.scss
Labels: community-contribution

#11586 fix(search): make graphql query autoCompleteForMultiple to show exact matches first
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/SampleDataFixtureTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AutocompleteRequestHandlerTest.java
  metadata-io/src/test/resources/elasticsearch/sample_data/containerindex_v2.json.gz
Labels: community-contribution, product

#11487 feat: add contributor pr open comment action
  .github/workflows/contributor-open-pr-comment.yml
Labels: devops

#11628 docs(ingestion): add architecture diagrams
  docs/advanced/mcp-mcl.md
Labels: docs

#11631 fix(ci): Update contributor-open-pr-comment.yml
  .github/workflows/contributor-open-pr-comment.yml
Labels: devops

#11630 fix(ci): add runtime limit
  .github/workflows/metadata-ingestion.yml
Labels: devops

#11632 fix(ci): metadata-io req python
  .github/workflows/metadata-io.yml
Labels: devops

#11623 feat: add quickstart post
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
Labels: ingestion

#11602 feat(ingest/bigquery): Generate platform resource entities for BigQuery labels
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_platform_resource_helper.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#11643 feat(docker-profiles): allow version override for quickstartDebug
  docker/build.gradle
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/profiles/docker-compose.prerequisites.yml
Labels: devops

#11560 feat(ingest/powerbi): link cross workspace dataset into assets
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cross_workspace_dataset.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest_patch_disabled.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_profiling.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
  metadata-ingestion/tests/integration/powerbi/mock_data/cross_workspace_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/default_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/workspace_type_filter.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion

#11644 fix(ci): fix build and test workflow
  .github/workflows/build-and-test.yml
Labels: devops

#11570 fix(ingest): remove default value from DatahubClientConfig.server
  docs/how/updating-datahub.md
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/client/dagster_generator.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/sensors/datahub_sensors.py
  metadata-ingestion/src/datahub/api/entities/dataproduct/dataproduct.py
  metadata-ingestion/src/datahub/ingestion/graph/config.py
  metadata-ingestion/src/datahub/ingestion/source/state_provider/datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/tests/conftest.py
  metadata-ingestion/tests/integration/business-glossary/test_business_glossary.py
  metadata-ingestion/tests/test_helpers/state_helpers.py
  metadata-ingestion/tests/unit/graph/test_client.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_redundant_run_skip_handler.py
  metadata-ingestion/tests/unit/stateful_ingestion/test_configs.py
  metadata-ingestion/tests/unit/test_glue_source.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
  smoke-test/pytest.ini
  smoke-test/tests/test_stateful_ingestion.py
Labels: ingestion, docs, merge-pending-ci

#11636 chore(ingest): reorganize unit tests
  metadata-ingestion/tests/unit/api/test_apis.py
  metadata-ingestion/tests/unit/api/test_entity_filter_report.py
  metadata-ingestion/tests/unit/api/test_pipeline.py
  metadata-ingestion/tests/unit/api/test_plugin_system.py
  metadata-ingestion/tests/unit/api/test_source_report.py
  metadata-ingestion/tests/unit/api/test_workunit.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_lineage.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_profiler.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_source.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_sql_lineage.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_usage.py
  metadata-ingestion/tests/unit/bigquery/test_bigqueryv2_usage_source.py
  metadata-ingestion/tests/unit/bigquery/test_bq_get_partition_range.py
  metadata-ingestion/tests/unit/cli/test_check.py
  metadata-ingestion/tests/unit/cli/test_check_upgrade.py
  metadata-ingestion/tests/unit/cli/test_cli_utils.py
  metadata-ingestion/tests/unit/config/test_key_value_pattern.py
  metadata-ingestion/tests/unit/glue/__init__.py
  metadata-ingestion/tests/unit/glue/test_glue_source.py
  metadata-ingestion/tests/unit/glue/test_glue_source_stubs.py
  metadata-ingestion/tests/unit/redshift/__init__.py
  metadata-ingestion/tests/unit/redshift/redshift_query_mocker.py
  metadata-ingestion/tests/unit/redshift/test_redshift_config.py
  metadata-ingestion/tests/unit/redshift/test_redshift_lineage.py
  metadata-ingestion/tests/unit/redshift/test_redshift_source.py
  metadata-ingestion/tests/unit/sagemaker/__init__.py
  metadata-ingestion/tests/unit/sagemaker/test_sagemaker_source.py
  metadata-ingestion/tests/unit/sagemaker/test_sagemaker_source_stubs.py
  metadata-ingestion/tests/unit/sdk/test_client.py
  metadata-ingestion/tests/unit/sdk/test_kafka_emitter.py
  metadata-ingestion/tests/unit/sdk/test_mce_builder.py
  metadata-ingestion/tests/unit/sdk/test_mcp_builder.py
  metadata-ingestion/tests/unit/sdk/test_mcp_wrapper.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
  metadata-ingestion/tests/unit/serde/test_codegen.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_ldap_state.py
  metadata-ingestion/tests/unit/utilities/test_cli_logging.py
  metadata-ingestion/tests/unit/utilities/test_ordered_set.py
  metadata-ingestion/tests/unit/utilities/test_perf_timer.py
  metadata-ingestion/tests/unit/utilities/test_serialized_lru_cache.py
  metadata-ingestion/tests/unit/utilities/test_topological_sort.py
  metadata-ingestion/tests/unit/utilities/test_utilities.py
Labels: ingestion, merge-pending-ci

#11650 fix(ingest): run sqllineage in process by default
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_config.py
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/utilities/sql_parser.py
  metadata-ingestion/tests/integration/lookml/lookml_mces_badsql_parser.json
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion, merge-pending-ci

#11635 feat(ingest): add offline flag to SQL parser CLI
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Labels: ingestion

#11621 fix(ingest/redshift): reduce sequence limit for LISTAGG
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/tests/unit/redshift/redshift_query_mocker.py
Labels: ingestion, merge-pending-ci

#11659 fix(ingest/bigquery): Not setting platform instance for bigquery platform resources
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_platform_resource_helper.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
Labels: ingestion

#11614 fix(ingest/dbt): fix bug in CLL pruning
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Labels: ingestion

#11661 fix(ingest/redshift): fix syntax error in temp sql
  metadata-ingestion/src/datahub/ingestion/source/redshift/exception.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/tests/unit/redshift/redshift_query_mocker.py
Labels: ingestion, merge-pending-ci

#11652 docs(airflow): add known limitations for automatic lineage
  docs/lineage/airflow.md
Labels: docs

#11645 perf(ingest): streamline CLL generation
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_subquery_column_inference.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion

#11612 feat(ingest): ensure sqlite file delete on clean exit
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_queries.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery_queries.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_queries.py
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
Labels: ingestion

#11660 fix(sdk): platform resource - support indexed queries when urns are i…
  metadata-ingestion/src/datahub/api/entities/platformresource/platform_resource.py
  smoke-test/tests/platform_resources/test_platform_resource.py
Labels: ingestion, smoke_test

#11666 fix(ingest/dbt): Prevent lineage cycles when parsing sql of dbt models
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion

#11672 fix(ingest/dagster): FIx JobSnapshot import is broken
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/client/dagster_generator.py
Labels: ingestion

#11649 feat(ingest/transformer/domain): Add support for on conflict do nothing to dataset domain transformers
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_domain.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#11663 fix(ingest/looker): Remove bad imports from looker_common
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
Labels: ingestion, community-contribution

#11664 feat(ingest/looker): include project name in model/explore properties
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/tests/integration/looker/golden_looker_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_allow_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_external_project_view_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_file_path_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_folder_path_pattern_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_independent_look_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_joins.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_unaliased_joins.json
  metadata-ingestion/tests/integration/looker/golden_test_non_personal_independent_look.json
  metadata-ingestion/tests/integration/looker/looker_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/looker/looker_mces_usage_history.json
Labels: ingestion, merge-pending-ci

#11589 feat(ingest/fivetran): protect against high sync volume
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion

#11675 feat(sdk):platform-resource - complex queries
  metadata-ingestion/src/datahub/api/entities/platformresource/platform_resource.py
  metadata-ingestion/src/datahub/utilities/openapi_utils.py
  metadata-ingestion/src/datahub/utilities/search_utils.py
  metadata-ingestion/tests/unit/api/entities/platformresource/test_platform_resource.py
  metadata-ingestion/tests/unit/utilities/test_search_utils.py
  smoke-test/tests/platform_resources/test_platform_resource.py
Labels: ingestion, smoke_test

#11653 fix(docs): fix businessattributes doc
  docs/businessattributes.md
Labels: docs, community-contribution

#11674 feat(ingest/fivetran): add safeguards on table/column lineage
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion

#11658 fix(ui): show DataHub logo for DataHub sources in ingestion souces list
  datahub-web-react/src/app/ingest/source/builder/constants.ts
Labels: community-contribution, product, merge-pending-ci

#11680 fix(ingest/prefect): Fix prefect mypy errors
  metadata-ingestion-modules/prefect-plugin/src/prefect_datahub/datahub_emitter.py
Labels: ingestion

#11681 fix(docs-site): announcement bar responsive behavior
  docs-website/docusaurus.config.js
  docs-website/src/styles/global.scss
Labels: community-contribution

#11678 fix(misc): misc fixes
  datahub-frontend/app/auth/AuthModule.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemUpdateConfig.java
  docker/profiles/docker-compose.gms.yml
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/PluginSpec.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/EntityAspect.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/PatchItemImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/ProposedItem.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/hooks/IgnoreUnknownMutator.java
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/filter/BaseQueryFilterRewriter.java
  metadata-io/src/test/java/com/linkedin/metadata/client/JavaEntityClientTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/cassandra/CassandraEntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/filter/BaseQueryFilterRewriterTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/filter/ContainerExpansionRewriterTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/filter/DomainExpansionRewriterTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESAccessControlUtilTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLSpringCommonTestConfiguration.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/OperationContext.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/ValidationContext.java
  metadata-operation-context/src/main/java/io/datahubproject/test/metadata/context/TestOperationContexts.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/OperationContextTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DataHubAuthorizerTest.java
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/MCPValidationConfig.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/MetadataChangeProposalConfig.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/structuredProperties/extensions/ModelExtensionValidationConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/CacheConfig.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/context/SystemOperationContextFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/GenericEntityV2.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityV3.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/entity/AspectResourceTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/GenericRecordUtils.java
  smoke-test/conftest.py
  smoke-test/cypress-dev.sh
  smoke-test/test_e2e.py
  smoke-test/tests/consistency_utils.py
  smoke-test/tests/lineage/test_lineage.py
  smoke-test/tests/platform_resources/test_platform_resource.py
  smoke-test/tests/restli/__init__.py
  smoke-test/tests/restli/restli_test.py
  smoke-test/tests/tests/data.json
  smoke-test/tests/tests/tests_test.py
  smoke-test/tests/tokens/revokable_access_token_test.py
Labels: product, devops, smoke_test

#11676 feat(ingest): generate urn types for all entities
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/src/datahub/api/entities/platformresource/platform_resource.py
Labels: ingestion

#11665 fix(ingest): cache sql is_profiling_enabled method
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/utilities/cachetools_keys.py
Labels: ingestion, merge-pending-ci

#11691 fix(ingest/bigquery): Fix tags urn/name ingestion for BigQuery
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
Labels: ingestion

#11577 doc(bigquery-sync): Add doc for BigQuery sync
  docs-website/sidebars.js
  docs/automations/bigquery-metadata-sync.md
Labels: docs

#11693 feat(ingest): use mainline sqlglot
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/sql_parsing/_sqlglot_patch.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/src/datahub/utilities/is_pytest.py
  metadata-ingestion/src/datahub/utilities/unified_diff.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_patch.py
  metadata-ingestion/tests/unit/utilities/test_unified_diff.py
  metadata-ingestion/tests/unit/utilities/test_utilities.py
Labels: ingestion, merge-pending-ci

#11683 fix(ingest): add logging for mcp diff
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/transformer/system_metadata_transformer.py
  metadata-ingestion/src/datahub/testing/compare_metadata_json.py
Labels: ingestion

#11695 feat(ingest/fivetran): show connector filter reason
  metadata-ingestion/docs/sources/fivetran/fivetran_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion

#11698 fix(ingest/mongodb): Add Collection Name as Dataset Name in MongoDB
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/tests/integration/mongodb/mongodb_mces_golden.json
  metadata-ingestion/tests/integration/mongodb/mongodb_mces_small_schema_size_golden.json
Labels: ingestion, community-contribution

#11673 fix(ui): show structured report context in pre
  datahub-web-react/src/app/ingest/source/executions/reporting/StructuredReportItemContext.tsx
Labels: product

#11690 feat(logs): add change event details to log context and improve some logs in MCL/MCP
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateGraphIndicesService.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesService.java
  metadata-jobs/mae-consumer-job/src/main/resources/logback.xml
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/MCLKafkaListener.java
  metadata-jobs/mce-consumer-job/src/main/resources/logback.xml
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessor.java
Labels: product

#11607 feat(ingest/oracle): retire deprecated cx_oracle library
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/unit/test_oracle_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#11682 fix(ingest/superset): Don't set schema/db for druid
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Labels: ingestion, community-contribution

#11702 fix(ci): remove pip cache
  .github/workflows/build-and-test.yml
  .github/workflows/documentation.yml
  .github/workflows/metadata-ingestion.yml
Labels: devops

#11686 fet(ingest/bigquery): Add support ingesting foreign keys and primary keys for BigQuery tables
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries.py
Labels: ingestion

#11701 feat(ingest/fivetran): support overriding destination db
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion

#11157 feat(ingest/tableau): support ingestion of access roles
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/container/ContainerType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/container/mappers/ContainerMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/DatasetType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/AccessManagement.tsx
  datahub-web-react/src/graphql/container.graphql
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/integration/tableau/tableau_permission_ingestion_mces_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-models/src/main/resources/entity-registry.yml
Labels: ingestion, community-contribution, product, merge-pending-ci

#11703 fix(logging): minor modifications for logging
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateGraphIndicesService.java
Labels: product

#11708 feat: multi-query lineage for temp upstreams
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_queries_mcps_golden.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_multistep_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_overlapping_inserts_from_temp_tables.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_lineage_via_temp_table_disordered_add.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_rename.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_rename_with_temp.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_swap.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_swap_with_temp.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
Labels: ingestion

#11715 docs(managed/v0.3.6): Add additional release notes for 0.3.6.8
  docs/managed-datahub/release-notes/v_0_3_6.md
Labels: docs

#11716 gradle(profiles): create compose base variable
  docker/build.gradle
Labels: devops

#11714 fix(log): reduce log volume for ingestion and consumers
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/MCLKafkaListener.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
Labels: community-contribution, product, devops

#11717 misc(gradle): project name parameter
  docker/build.gradle
Labels: devops

#11709 refactor(datahub-frontend): upgrade frontend pac4j
  build.gradle
  datahub-frontend/app/auth/AuthModule.java
  datahub-frontend/app/auth/AuthUtils.java
  datahub-frontend/app/auth/CookieConfigs.java
  datahub-frontend/app/auth/JAASConfigs.java
  datahub-frontend/app/auth/NativeAuthenticationConfigs.java
  datahub-frontend/app/auth/sso/SsoConfigs.java
  datahub-frontend/app/auth/sso/SsoManager.java
  datahub-frontend/app/auth/sso/SsoProvider.java
  datahub-frontend/app/auth/sso/oidc/OidcAuthorizationGenerator.java
  datahub-frontend/app/auth/sso/oidc/OidcCallbackLogic.java
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
  datahub-frontend/app/auth/sso/oidc/OidcProvider.java
  datahub-frontend/app/auth/sso/oidc/OidcResponseErrorHandler.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcAuthenticator.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcClient.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcRedirectionActionBuilder.java
  datahub-frontend/app/client/KafkaTrackingProducer.java
  datahub-frontend/app/config/ConfigurationProvider.java
  datahub-frontend/app/controllers/Application.java
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/app/controllers/CentralLogoutController.java
  datahub-frontend/app/controllers/RedirectController.java
  datahub-frontend/app/controllers/SsoCallbackController.java
  datahub-frontend/app/controllers/TrackingController.java
  datahub-frontend/build.gradle
  datahub-frontend/conf/application.conf
  datahub-frontend/play.gradle
  datahub-frontend/test/app/ApplicationTest.java
  datahub-frontend/test/oidc/OidcCallbackLogicTest.java
  datahub-frontend/test/security/OidcConfigurationTest.java
Labels: product

#11720 fix: business attribute empty bubble selection issue
  datahub-web-react/src/app/shared/businessAttribute/AddBusinessAttributeModal.tsx
Labels: community-contribution, product

#11585 feat(frontend): show browse paths for business attributes related entities - schema fields
  datahub-web-react/src/app/entity/schemaField/SchemaFieldPropertiesEntity.tsx
  datahub-web-react/src/app/entity/schemaField/preview/Preview.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/PlatformContent/DatasetLink.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/PlatformContent/PlatformContentView.tsx
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/graphql/search.graphql
Labels: community-contribution, product

#11728 feat(bigquery): support config for region qualifiers to fetch jobs
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
Labels: ingestion

#11726 feat(docs) steps on handling workspace admin approvals for slack installation
  docs/managed-datahub/slack/saas-slack-setup.md
Labels: docs, community-contribution

#11727 feat(docs-site) slack bot scopes
  docs/managed-datahub/slack/saas-slack-setup.md
Labels: docs, community-contribution

#11723 feat(docs) steps on how to troubleshoot the slack command not working
  docs/managed-datahub/slack/saas-slack-troubleshoot.md
Labels: docs, community-contribution

#11729 fix(docs-site) remove free trial notes
  docs-website/docusaurus.config.js
  docs-website/src/pages/_components/Trial/index.js
  docs-website/src/pages/cloud/DemoForm/index.jsx
  docs-website/src/pages/cloud/Enterprise/styles.module.scss
  docs-website/src/pages/cloud/Hero/styles.module.scss
  docs-website/src/pages/cloud/UnifiedTabs/styles.module.scss
  docs-website/src/pages/cloud/index.js
  docs-website/src/pages/cloud/styles.module.scss
Labels: community-contribution

#11725 doc: add missed breaking change note
  docs/how/updating-datahub.md
Labels: docs

#11442 fix(ingestion/bigquery-gcs-lineage): Add lineage extraction for BigQuery with GCS source
  metadata-ingestion/examples/recipes/bigquery_to_datahub.dhub.yaml
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_lineage.py
Labels: ingestion

#11629 feat(ingestion/powerbi): ingest powerbi app
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/integration/powerbi/golden_test_app_ingest.json
  metadata-ingestion/tests/integration/powerbi/mock_data/workspace_with_app_mock_response.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion

#11576 feat(ingest/databricks): report unique query count from usage
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
Labels: ingestion

#11731 feat(ingest): unpin traitlets
  metadata-ingestion/setup.py
Labels: ingestion
