Repository datahub-project/datahub, pull requests merged in 2024-02, with the labels that each got.

#9758 chore(gradle): datahub-frontend docker dependency avoid yarnInstall
  datahub-frontend/build.gradle
Labels: product, merge-pending-ci

#9761 fix(search): fix default entities for aggregation filters
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/recommendation/candidatesource/EntitySearchAggregationCandidateSourceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AggregationQueryBuilderTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/recommendation/candidatesource/DomainsCandidateSourceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/recommendation/candidatesource/TopTagsCandidateSourceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/recommendation/candidatesource/TopTermsCandidateSourceFactory.java
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/DomainsCandidateSource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/EntitySearchAggregationSource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/TopPlatformsSource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/TopTagsSource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/TopTermsSource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/utils/QueryUtils.java
Labels: product, devops

#9704 feat(ingestion/redshift): collapse lineage to permanent table
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/api/common.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/tests/unit/redshift_query_mocker.py
  metadata-ingestion/tests/unit/test_redshift_lineage.py
Labels: ingestion

#9765 fix(ingest): upgrade pytest-docker
  metadata-ingestion/setup.py
  metadata-ingestion/tests/test_helpers/docker_helpers.py
Labels: ingestion

#9770 chore(ingest/feast): drop redundant typeguard constraint
  metadata-ingestion/setup.py
Labels: ingestion, community-contribution

#9769 feat(ingestion/feast): loosen feast dependency
  metadata-ingestion/setup.py
Labels: ingestion, community-contribution

#9759 feat(ci): check for packages, change location of lint
  .github/scripts/check_python_package.py
  .github/workflows/docker-unified.yml
  metadata-ingestion/src/datahub/cli/config_utils.py
  smoke-test/tests/dataproduct/queries/__init__.py
Labels: ingestion, devops, merge-pending-ci

#9727 feat(ingest/metabase): Allow to configure a different url for links
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/tests/unit/test_metabase_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#9693 docs(elastricsearch): add description fiels
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
Labels: ingestion, community-contribution

#9762 feat(cli): Add support for custom ownership types to dataproduct CLI
  metadata-ingestion/src/datahub/api/entities/dataproduct/dataproduct.py
  metadata-ingestion/src/datahub/cli/specific/dataproduct_cli.py
  metadata-ingestion/tests/unit/api/entities/dataproducts/dataproduct_ownership_type_urn.yaml
  metadata-ingestion/tests/unit/api/entities/dataproducts/dataproduct_ownership_type_urn_different_owner.yaml
  metadata-ingestion/tests/unit/api/entities/dataproducts/golden_dataproduct_out_ownership_type_urn.json
  metadata-ingestion/tests/unit/api/entities/dataproducts/test_dataproduct.py
Labels: ingestion, community-contribution, datahub-community-champion

#9763 feat(ingest/glossary): support pydantic v2 in business-glossary source
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
Labels: ingestion

#9783 fix(datahub-flow-diagram): add missing image for onboarding tour
  datahub-web-react/src/app/onboarding/config/HomePageOnboardingConfig.tsx
  datahub-web-react/src/images/datahub-flow-diagram-light.png
Labels: community-contribution, product

#9726 Update aws.md
  docs/deploy/aws.md
Labels: docs, community-contribution

#9789 chore(lint): apply spotless
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
Labels: product

#9766 docs(observe): add upsert assertion monitor graphql examples
  docs/managed-datahub/observe/column-assertions.md
  docs/managed-datahub/observe/custom-sql-assertions.md
  docs/managed-datahub/observe/freshness-assertions.md
  docs/managed-datahub/observe/volume-assertions.md
Labels: docs, community-contribution

#9681 feat(airflow) Override datajob external_url
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_config.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin_v22.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/lineage/_lineage_core.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/lineage/datahub.py
Labels: ingestion, docs, community-contribution

#9796 misc: datahub-upgrade improvements, aspect key & default aspects fixes
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/UpgradeCliApplication.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/BackfillBrowsePathsV2Config.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/ReindexDataJobViaNodesCLLConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemUpdateCondition.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemUpdateConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/entity/steps/BackfillBrowsePathsV2.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/entity/steps/BackfillBrowsePathsV2Step.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/via/ReindexDataJobViaNodesCLL.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/via/ReindexDataJobViaNodesCLLStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/DatahubUpgradeNoSchemaRegistryTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/UpgradeCliApplicationTestConfiguration.java
  metadata-events/mxe-utils-avro/src/main/java/com/linkedin/metadata/EventUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/EntityServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/schemaregistry/DUHESchemaRegistryFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/schemaregistry/InternalSchemaRegistryFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/schemaregistry/SchemaRegistryServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/schemaregistry/SystemUpdateSchemaRegistryFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/BootstrapStep.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/MockDUHESerializer.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/MockSystemUpdateDeserializer.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/MockSystemUpdateSerializer.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/entity/AspectResourceTest.java
Labels: product, devops

#9792 feat(graphql): get raw aspects for assertions, allow aspectNames filter
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/WeaklyTypedAspectsResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
Labels: community-contribution, product

#9776 feat(ingest/slack): source to get user info from slack
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/slack/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/slack/slack.py
Labels: ingestion

#9797 fix(forms) Update styles of submit/confirm button and fix num input bug
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/FormInfo/utils.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/StructuredPropertyPrompt/MultiSelectInput.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/StructuredPropertyPrompt/MultipleStringInput.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/StructuredPropertyPrompt/NumberInput.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/StructuredPropertyPrompt/StructuredPropertyPrompt.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/StructuredPropertyPrompt/useStructuredPropertyPrompt.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/usePromptCompletionInfo.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/useGetEntitySchema.tsx
Labels: product

#9800 feat(recommendations): Correct searchable entities for top platform
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/TopPlatformsSource.java
Labels: devops

#9791 feat(ingest/dbt): speed up test result only ingestion
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion

#9803 feat(access-token-list): admin being able to view all org access tokens
  datahub-web-react/src/app/settings/AccessTokens.tsx
  datahub-web-react/src/graphql/me.graphql
Labels: community-contribution, product, merge-pending-ci

#9802 feat(graphql): add configuration for limiting graphql query complexity
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GraphQLEngine.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/GraphQLConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/GraphQLQueryConfiguration.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/config/ConfigurationProvider.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
Labels: product, devops, platform

#9685 docs: fix links to metadata modeling
  metadata-models-custom/README.md
Labels: community-contribution

#9805 feat(ingest/glossary): handle ownership type in business glossary connector
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/tests/integration/business-glossary/business_glossary.yml
  metadata-ingestion/tests/integration/business-glossary/glossary_events_auto_id_golden.json
  metadata-ingestion/tests/integration/business-glossary/glossary_events_golden.json
Labels: ingestion, community-contribution, datahub-community-champion

#9753 test(ingest): use pytest-random-order for unit tests
  metadata-ingestion/build.gradle
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/tests/unit/test_pipeline.py
Labels: ingestion, merge-pending-ci

#9808 feat(cli): make docker compose project name configurable
  metadata-ingestion/src/datahub/cli/docker_check.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion, merge-pending-ci

#8873 feat(ingest/oracle): support changing data dictionary (ALL_ or DBA_)
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/tests/integration/oracle/common.py
  metadata-ingestion/tests/integration/oracle/golden_test_ingest_with_database.json
  metadata-ingestion/tests/integration/oracle/golden_test_ingest_with_out_database.json
  metadata-ingestion/tests/integration/oracle/test_oracle.py
Labels: ingestion, community-contribution, merge-pending-ci

#9809 feat(quickstart): remove `container_name` from compose files
  docker/cassandra/docker-compose.cassandra.yml
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.override.yml
  docker/docker-compose-without-neo4j.postgres.override.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.consumers-without-neo4j.yml
  docker/docker-compose.consumers.yml
  docker/docker-compose.override.yml
  docker/docker-compose.tools.yml
  docker/docker-compose.yml
  docker/ingestion/docker-compose.yml
  docker/mariadb/docker-compose.mariadb.yml
  docker/monitoring/docker-compose.monitoring.yml
  docker/mysql/docker-compose.mysql.yml
  docker/profiles/docker-compose.actions.yml
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/profiles/docker-compose.prerequisites.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
  docker/quickstart/docker-compose.monitoring.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-ingestion/src/datahub/cli/docker_cli.py
  smoke-test/tests/consistency_utils.py
Labels: devops, merge-pending-ci

#9806 fix(cli): fix quickstart command with pydantic v2
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion

#9807 docs: update docs referencing jdk8
  docs/developers.md
  metadata-jobs/mae-consumer-job/README.md
  metadata-service/README.md
Labels: docs, devops, merge-pending-ci

#9669 feat(openapi): allow Bearer token
  metadata-ingestion/src/datahub/ingestion/source/openapi.py
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
Labels: ingestion, community-contribution

#9818 Upgrade shiro-core to 1.13
  build.gradle
Labels: community-contribution

#9817 fix(mysql-setup): specify charset and collation when creating table
  docker/mysql-setup/init.sql
Labels: community-contribution, devops

#9819 feat(build): upgrade fastapi and gitdb due to vulnerablities
  docker/datahub-ingestion-base/base-requirements.txt
Labels: ingestion, community-contribution, devops

#9635 fix(ingest/profiling): ignore limit/offset when counting table row count in profiling
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#9826 refactor(graphql): consolidate cache for stats
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/chart/ChartStatsSummaryResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dashboard/DashboardStatsSummaryResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataset/DatasetStatsSummaryResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataset/DatasetUsageStatsResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/dashboard/DashboardStatsSummaryTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/dataset/DatasetStatsSummaryResolverTest.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/EntityClientCache.java
  metadata-service/restli-client/src/main/java/com/linkedin/usage/UsageClientCache.java
Labels: product, devops

#9823 doc(policies): consistent descriptions for root user policies
  metadata-service/war/src/main/resources/boot/policies.json
Labels: devops

#9837 doc(acryl cloud): release notes for 0.2.15.1
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_15.md
Labels: docs

#9831 fix(forms) Prevent schema field prompts from being required
  metadata-ingestion/src/datahub/api/entities/forms/forms.py
Labels: ingestion

#9827 fix(ui/token): token page failing to render
  datahub-web-react/src/app/settings/AccessTokens.tsx
Labels: product

#9836 fix(ui/lineage): Do not crash on query entity
  datahub-web-react/src/app/lineage/LineageExplorer.tsx
Labels: product

#9835 feat(ingest): reporting logging tweaks
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/source_report/ingestion_stage.py
  metadata-ingestion/src/datahub/utilities/logging_manager.py
Labels: ingestion

#9832 feat(operations): add explain endpoint for search
  docs/authorization/access-policies-guide.md
  docs/authorization/policies.md
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/SearchDAOElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/SearchDAOOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/SearchDAOTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/OperationsController.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: docs, product, devops, platform

#9858 fix(search): fix inequality filters for count fields
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
Labels: bug, product, platform

#9848 feat(ingest): clean up reporting methods
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
Labels: ingestion

#9855 feat(graphql): Miscellaneous query additions
  datahub-web-react/src/graphql/dataPlatform.graphql
  datahub-web-react/src/graphql/post.graphql
  datahub-web-react/src/graphql/preview.graphql
Labels: product

#9854 refactor(ui): Update eslint and rearrange imports
  datahub-web-react/.eslintrc.js
  datahub-web-react/src/app/lineage/types.ts
Labels: product

#9849 feat(ui): Add and update platform logos
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/conf/looker/looker.ts
  datahub-web-react/src/images/domain.svg
  datahub-web-react/src/images/excel-logo.svg
  datahub-web-react/src/images/file-logo.png
  datahub-web-react/src/images/file-logo.svg
  datahub-web-react/src/images/lookerlogo.svg
  datahub-web-react/src/images/slacklogo.png
  datahub-web-react/src/images/tableaulogo.svg
  datahub-web-react/src/images/teamslogo.png
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: product, devops

#9852 feat(ingest/dynamoDB): flatten struct fields
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/tests/integration/dynamodb/dynamodb_default_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dynamodb/dynamodb_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dynamodb/test_dynamodb.py
Labels: ingestion, community-contribution

#9865 fix(ingest/looker): update for Looker query API breaking change
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/tests/integration/looker/test_looker.py
Labels: ingestion, community-contribution

#9873 fix(ingest/redash): Limit size of RedashSourceReport
  metadata-ingestion/src/datahub/ingestion/source/redash.py
Labels: ingestion, community-contribution, merge-pending-ci

#9840 feat(forms) Add batchRemoveForm graphql endpoint
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/form/BatchRemoveFormResolver.java
  datahub-graphql-core/src/main/resources/forms.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/form/BatchRemoveFormResolverTest.java
Labels: product

#9878 fix(lineage): logging reduction and fixes
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossLineageResolver.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-service/configuration/src/main/resources/application.yml
  smoke-test/tests/lineage/test_lineage.py
Labels: product, devops, platform

#9876 fix(ingest): better logging line attribution
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/utilities/logging_manager.py
  metadata-ingestion/tests/unit/test_utilities.py
Labels: ingestion

#9867 fix(ingest): bump sqlglot + add some debug info to tests
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_add_known_query_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_basic_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_column_lineage_deduplication.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_overlapping_inserts.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_view_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_create_view_with_cte.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_from_sharded_table_wildcard.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_nested_subqueries.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_sharded_table_normalization.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_star_with_replace.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_view_from_union.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_create_table_ddl.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_create_view_as_select.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_expand_select_star_basic.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_insert_as_select.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_insert_with_column_list.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_merge_from_union.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_postgres_select_subquery.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_redshift_materialized_view_auto_refresh.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_redshift_temp_table_shortcut.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_ambiguous_column_no_schema.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_count.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_from_struct_subfields.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_from_union.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_max.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_max_with_schema.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_with_ctes.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_with_full_col_name.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_case_statement.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_column_cast.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_column_normalization.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_ctas_column_normalization.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_cte_name_collision.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_default_normalization.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_full_table_name_col_reference.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_unused_cte.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_update_from_table.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_update_hardcoded.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_update_self.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_teradata_default_normalization.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_teradata_strange_operators.json
Labels: ingestion, merge-pending-ci

#9897 docs(ingest): document remote for ingest deploy
  docs/cli.md
Labels: docs, merge-pending-ci

#9901 build(workflow): test enable workflow for docs change
  .github/workflows/docker-unified.yml
  docs/README.md
Labels: docs, devops

#9856 feat(ingest/mongodb): improve sorting when downsampling collection schema
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/tests/integration/mongodb/mongodb_mces_small_schema_size_golden.json
  metadata-ingestion/tests/integration/mongodb/test_mongodb.py
Labels: ingestion, community-contribution, merge-pending-ci

#9899 feat(ingest/snowflake): speed up snowflake usage query
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
Labels: ingestion, merge-pending-ci

#9868 feat(ingest): add timeout to sqlglot parser
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/utilities/cooperative_timeout.py
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/conftest.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_invalid_sql.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion

#9907 fix(cli): add-sibling preserve existing siblings
  metadata-ingestion/src/datahub/cli/specific/dataset_cli.py
Labels: ingestion, community-contribution, merge-pending-ci

#9904 feat(ingest/redshift): redshift lineage v2
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/report.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_rename.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_redshift_system_automove.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_redshift_union_view.json
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion, merge-pending-ci

#9883 fix(posts): add padding to post link card
  datahub-web-react/src/app/search/PostLinkCard.tsx
Labels: product

#9917 PRD-1069 | Changed secret name
  smoke-test/tests/privileges/test_privileges.py
Labels: smoke_test

#9877 feat(policies): Make policies searchable by privilege, type, status or editable fields
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/policy/ListPoliciesResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/BackfillPolicyFieldsConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemUpdateConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/SystemUpdate.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/entity/steps/BackfillPolicyFields.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/entity/steps/BackfillPolicyFieldsStep.java
  metadata-models/src/main/pegasus/com/linkedin/policy/DataHubPolicyInfo.pdl
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DataHubAuthorizer.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/PolicyFetcher.java
  metadata-service/configuration/src/main/resources/application.yml
Labels: devops

#9918 feat(ci): exempt more names from being marked as community
  .github/workflows/pr-labeler.yml
Labels: devops

#9682 feat(ingest/qlik): Qlik cloud connector integration
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/images/qliklogo.png
  metadata-ingestion/docs/sources/qlik-sense/qlik-sense_pre.md
  metadata-ingestion/docs/sources/qlik-sense/qlik-sense_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/config.py
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/qlik_api.py
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/qlik_sense.py
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/websocket_connection.py
  metadata-ingestion/tests/integration/qlik_sense/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/qlik_sense/golden_test_qlik_sense_ingest.json
  metadata-ingestion/tests/integration/qlik_sense/test_qlik_sense.py
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: ingestion, product, devops, merge-pending-ci

#9885 feat(ingest): use `uv` for python package installs
  .dockerignore
  .github/scripts/docker_helpers.sh
  .github/workflows/docker-unified.yml
  .github/workflows/metadata-ingestion.yml
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion-base/base-requirements.txt
  docker/datahub-ingestion-base/entrypoint.sh
  docker/datahub-ingestion-base/regenerate-base-requirements.sh
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/Dockerfile-slim-only
  docker/datahub-ingestion/pyspark_jars.sh
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion/build.gradle
  metadata-ingestion/setup.py
  smoke-test/build.gradle
Labels: ingestion, devops, merge-pending-ci

#9872 fix(ingest/patch): Adding proper json patch path quoting
  metadata-ingestion/src/datahub/emitter/mcp_patch_builder.py
  metadata-ingestion/src/datahub/specific/chart.py
  metadata-ingestion/src/datahub/specific/dashboard.py
  metadata-ingestion/src/datahub/specific/datajob.py
  metadata-ingestion/src/datahub/specific/dataset.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
  metadata-ingestion/tests/unit/api/source_helpers/incremental_table_lineage_golden.json
  metadata-ingestion/tests/unit/patch/complex_dataset_patch.json
  metadata-ingestion/tests/unit/patch/test_patch_builder.py
Labels: ingestion

#9930 feat(token-status-filter): add filter for expired and all tokens
  datahub-web-react/src/app/settings/AccessTokens.tsx
Labels: product

#9884 feat(ingest/slack): add option to ingest slack channels
  metadata-ingestion/src/datahub/ingestion/source/slack/slack.py
Labels: ingestion, merge-pending-ci

#9925 feat(search): search access controls unit tests
  datahub-frontend/app/auth/AuthModule.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/hooks/OwnerTypeMapTest.java
  metadata-auth/auth-api/src/main/java/com/datahub/plugins/auth/authorization/Authorizer.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESAccessControlUtil.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/SearchGraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESAccessControlUtilTest.java
  metadata-operation-context/build.gradle
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/ActorContext.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/AuthorizerContext.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/OperationContext.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/SearchContext.java
  metadata-operation-context/src/main/java/io/datahubproject/test/metadata/context/TestOperationContexts.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/ActorContextTest.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/OperationContextTest.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/SearchContextTest.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/AuthorizerChain.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DataHubAuthorizer.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/elasticsearch/IndexConventionImpl.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/elasticsearch/IndexConventionImplTest.java
Labels: product, devops

#9935 feat(ingest/csv-enricher): add support for ownership type urn
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/tests/unit/test_csv_enricher_source.py
Labels: ingestion, merge-pending-ci

#9922 feat(patch): refactor cll patch
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/UpstreamLineagePatchBuilder.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/dataset/UpstreamLineageTemplate.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/patch/template/UpstreamLineageTemplateTest.java
  metadata-ingestion/src/datahub/emitter/mcp_patch_builder.py
  metadata-ingestion/src/datahub/specific/dataset.py
  metadata-ingestion/tests/unit/patch/complex_dataset_patch.json
  metadata-ingestion/tests/unit/patch/test_patch_builder.py
  metadata-integration/java/datahub-client/src/test/java/datahub/client/patch/PatchTest.java
Labels: ingestion

#9937 fix(pr): make prs only pull changes from pr branch instead of head merge
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/code-checks.yml
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-postgres-setup.yml
  .github/workflows/docker-unified.yml
  .github/workflows/documentation.yml
  .github/workflows/lint-actions.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/metadata-model.yml
  .github/workflows/publish-datahub-jars.yml
  .github/workflows/qodana-scan.yml
  .github/workflows/spark-smoke-test.yml
Labels: wip, devops

#9936 feat(ingest): loosen sentry requirements
  metadata-ingestion/setup.py
Labels: ingestion

#9943 feat(lineage) Restrict lineage nodes in the lineage graph if user lacks view permissions
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityLineageResultResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/UrnToEntityMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/restricted/RestrictedMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/restricted/RestrictedType.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/buildEntityRegistry.ts
  datahub-web-react/src/app/entity/restricted/RestrictedEntity.tsx
  datahub-web-react/src/app/entity/restricted/RestrictedEntityProfile.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityName.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/PlatformContent/PlatformContentView.tsx
  datahub-web-react/src/app/lineage/LineageEntityNode.tsx
  datahub-web-react/src/app/lineage/LineageExplorer.tsx
  datahub-web-react/src/graphql/lineage.graphql
  datahub-web-react/src/images/restricted.svg
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESAccessControlUtil.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/auth/RestrictedServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/RestrictedService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/RestrictedServiceTest.java
Labels: product, devops

#9938 feat(ingest/patch): add helper for auto-quoting
  metadata-ingestion/build.gradle
  metadata-ingestion/src/datahub/emitter/mcp_patch_builder.py
  metadata-ingestion/src/datahub/specific/chart.py
  metadata-ingestion/src/datahub/specific/custom_properties.py
  metadata-ingestion/src/datahub/specific/dashboard.py
  metadata-ingestion/src/datahub/specific/datajob.py
  metadata-ingestion/src/datahub/specific/dataproduct.py
  metadata-ingestion/src/datahub/specific/dataset.py
  metadata-ingestion/src/datahub/specific/ownership.py
  metadata-ingestion/src/datahub/specific/structured_properties.py
Labels: ingestion

#9926 feat(ingest): fix bugs in SqlParsingAggregator
  metadata-ingestion/src/datahub/sql_parsing/schema_resolver.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_known_lineage_mapping.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/test_schemaresolver.py
Labels: ingestion

#9952 fix(ui/schema): error handling add
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTab.tsx
Labels: product

#9888 PRD-1067 | added owner in gen_datahub_groups and condition for maximu…
  smoke-test/tests/cli/user_groups_cmd/test_group_cmd.py
  smoke-test/tests/consistency_utils.py
Labels: smoke_test

#9945 feat(ci): skip smoke-test lint if there are no changes
  .github/actions/ci-optimization/action.yml
  .github/workflows/docker-unified.yml
Labels: devops

#9956 feat(ingest/sql-parser): add alias for mariadb
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
Labels: ingestion

#9941 docs(ingest/lookml): update known discrepancy list
  docs-website/build.gradle
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion/build.gradle
  metadata-ingestion/docs/sources/looker/lookml_post.md
Labels: ingestion, merge-pending-ci

#9929 chore(vulnerability): Bumped up versions for vulnerability fix
  build.gradle
  buildSrc/build.gradle
Labels: community-contribution

#9962 bump(kafka-setup): client version bump
  docker/kafka-setup/Dockerfile
Labels: devops
