Repository datahub-project/datahub, pull requests merged in 2024-07, with the labels that each got.

#10765 docs: hivePlatformAlias is different
  metadata-integration/java/spark-lineage-beta/README.md
Labels: ingestion, community-contribution, merge-pending-ci

#9433 fix(ingestion): ingest emails as empty if no ldap attribute
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_deleted_group_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_group_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_memberof_mces_golden.json
Labels: ingestion, on-deck, merge-pending-ci

#10717 fix(patch): consider escaped characters when applying JSON patches
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/TemplateUtil.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/patch/template/UpstreamLineageTemplateTest.java
Labels: community-contribution, merge-pending-ci

#10809 fix(plugin): include ancestors when loading Spring custom plugin
  metadata-service/plugin/src/main/java/com/datahub/plugins/metadata/aspect/SpringPluginFactory.java
Labels: devops

#10533 feat(docker/quickstart): Adding in support for overriding the conflue…
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
Labels: community-contribution, devops, merge-pending-ci

#10790 feat(ui): Add support for structured reporting of warnings and failures in the UI ingestion flow (ingest uplift 2/2)
  datahub-web-react/src/app/ingest/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingest/source/executions/ExecutionRequestDetailsModal.tsx
  datahub-web-react/src/app/ingest/source/executions/IngestionExecutionTable.tsx
  datahub-web-react/src/app/ingest/source/executions/reporting/StructuredReport.tsx
  datahub-web-react/src/app/ingest/source/executions/reporting/StructuredReportItem.tsx
  datahub-web-react/src/app/ingest/source/executions/reporting/StructuredReportItemContext.tsx
  datahub-web-react/src/app/ingest/source/executions/reporting/StructuredReportItemList.tsx
  datahub-web-react/src/app/ingest/source/types.ts
  datahub-web-react/src/app/ingest/source/utils.ts
  datahub-web-react/src/app/shared/ShowMoreSection.tsx
  datahub-web-react/src/graphql/ingestion.graphql
Labels: product

#10782 docs(classification): correct the casing for full name infotype
  metadata-ingestion/docs/dev_guides/classification.md
Labels: ingestion, merge-pending-ci

#8415 feat(ingest): add and use file system abstraction in file source
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/fs/__init__.py
  metadata-ingestion/src/datahub/ingestion/fs/fs_base.py
  metadata-ingestion/src/datahub/ingestion/fs/fs_registry.py
  metadata-ingestion/src/datahub/ingestion/fs/http_fs.py
  metadata-ingestion/src/datahub/ingestion/fs/local_fs.py
  metadata-ingestion/src/datahub/ingestion/fs/s3_fs.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
  metadata-ingestion/tests/unit/test_plugin_system.py
Labels: accepted, ingestion, community-contribution, merge-pending-ci

#10794 fix(assertions): minor changes in custom assertion api
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/ReportAssertionResultResolver.java
  datahub-graphql-core/src/main/resources/assertions.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/assertion/ReportAssertionResultResolverTest.java
  metadata-io/src/test/java/com/linkedin/metadata/service/AssertionServiceTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/AssertionService.java
Labels: product, devops, merge-pending-ci

#10812 build(jar): add datahub-custom-plugin-lib to jar workflow
  .github/workflows/publish-datahub-jars.yml
Labels: devops

#10821 feat(SDK) Add FormPatchBuilder in python sdk and provide sample CRUD files
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/AspectTemplateEngine.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/form/FormInfoTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/SnapshotEntityRegistry.java
  metadata-ingestion/examples/library/create_form.py
  metadata-ingestion/examples/library/delete_form.py
  metadata-ingestion/examples/library/update_form.py
  metadata-ingestion/src/datahub/specific/form.py
Labels: ingestion

#9851 docs(ingest): add business glossary examples
  metadata-ingestion/examples/bootstrap_data/banking_business_glossary.yaml
  metadata-ingestion/examples/bootstrap_data/ecommerce_business_glossary.yaml
  metadata-ingestion/examples/bootstrap_data/healthcare_business_glossary.yaml
Labels: ingestion

#10820 feat(forms) Handle deleting forms references when hard deleting forms
  metadata-io/src/test/java/com/linkedin/metadata/entity/DeleteEntityServiceTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/DeleteEntityServiceFactory.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/DeleteEntityService.java
Labels: product, devops

#10764 refactor(ui): Misc improvements to the setup ingestion flow (ingest uplift 1/2)
  datahub-web-react/src/app/ingest/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingest/source/builder/CreateScheduleStep.tsx
  datahub-web-react/src/app/ingest/source/builder/DataPlatformCard.tsx
  datahub-web-react/src/app/ingest/source/builder/DefineRecipeStep.tsx
  datahub-web-react/src/app/ingest/source/builder/IngestionDocumentationHint.tsx
  datahub-web-react/src/app/ingest/source/builder/IngestionSourceBuilderModal.tsx
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeBuilder.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/RecipeForm.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/common.tsx
  datahub-web-react/src/app/ingest/source/builder/SelectTemplateStep.tsx
  datahub-web-react/src/app/ingest/source/builder/TimezoneSelect.tsx
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingest/source/builder/types.ts
  datahub-web-react/src/app/shared/form/RequiredFieldForm.tsx
  smoke-test/tests/cypress/cypress/e2e/mutations/ingestion_source.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managed_ingestion.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managing_secrets.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: product

#10819 fix(ingestion/airflow-plugin): pipeline tasks discoverable in search
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_snowflake_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator_no_dag_listener.json
Labels: ingestion

#10758 feat(ingest/transformer): tags to terms transformer
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_transformer.py
  metadata-ingestion/src/datahub/ingestion/transformer/tags_to_terms.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion, community-contribution, merge-pending-ci

#10752 fix(ingestion/unity-catalog): fixed issue with profiling with GE turned on
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Labels: ingestion, merge-pending-ci

#10822 feat(forms) Add java SDK for form entity PATCH + CRUD examples
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/FormInfoPatchBuilder.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/patch/PatchTest.java
  metadata-integration/java/examples/src/main/java/io/datahubproject/examples/FormCreate.java
  metadata-integration/java/examples/src/main/java/io/datahubproject/examples/FormUpdate.java
Labels: ingestion

#10823 feat(SDK) Add java SDK for structuredProperty entity PATCH + CRUD examples
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/StructuredPropertiesPatchBuilder.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/StructuredPropertyDefinitionPatchBuilder.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/patch/PatchTest.java
  metadata-integration/java/examples/src/main/java/io/datahubproject/examples/DatasetStructuredPropertiesUpdate.java
  metadata-integration/java/examples/src/main/java/io/datahubproject/examples/StructuredPropertyUpsert.java
Labels: ingestion

#10824 feat(SDK) Add StructuredPropertyPatchBuilder in python sdk and provide sample CRUD files
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/ArrayMergingTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/AspectTemplateEngine.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/structuredproperty/StructuredPropertyDefinitionTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/SnapshotEntityRegistry.java
  metadata-ingestion/examples/library/dataset_add_structured_properties.py
  metadata-ingestion/examples/library/dataset_remove_structured_properties.py
  metadata-ingestion/examples/library/dataset_update_structured_properties.py
  metadata-ingestion/examples/structured_properties/create_structured_property.py
  metadata-ingestion/examples/structured_properties/update_structured_property.py
  metadata-ingestion/src/datahub/specific/structured_property.py
Labels: ingestion

#10825 feat(forms) Add CRUD endpoints to GraphQL for Form entities
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/form/CreateFormResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/form/DeleteFormResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/form/UpdateFormResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/FormUtils.java
  datahub-graphql-core/src/main/resources/forms.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/form/CreateFormResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/form/DeleteFormResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/form/UpdateFormResolverTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/FormService.java
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: ingestion, product, devops

#10831 add flag for includeSoftDeleted in scroll entities API
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
Labels: community-contribution, devops, merge-pending-ci

#10832 feat(deprecation) Return actor entity with deprecation aspect
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/DeprecationMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
Labels: product

#10826 feat(structuredProperties) Add CRUD graphql APIs for structured property entities
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/CreateStructuredPropertyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/RemoveStructuredPropertiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpdateStructuredPropertyResolver.java
  datahub-graphql-core/src/main/resources/properties.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/CreateStructuredPropertyResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/RemoveStructuredPropertiesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpdateStructuredPropertyResolverTest.java
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: ingestion, product, devops

#10833 add scroll parameters to openapi v3 spec
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
Labels: community-contribution, devops

#10818 fix(ingest): correct profile_day_of_week implementation
  metadata-ingestion/src/datahub/ingestion/source_config/operation_config.py
Labels: ingestion, community-contribution, merge-pending-ci

#10815 feat(cli): add more details to get cli
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/cli/get_cli.py
Labels: ingestion, docs

#10836 fix(ingestion/glue): ensure date formatting works on all platforms for aws glue
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/glue_delta_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_malformed_delta_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_platform_instance_golden.json
Labels: ingestion, community-contribution

#10827 fix(ingestion): fix datajob patcher
  metadata-ingestion/src/datahub/specific/datajob.py
Labels: ingestion

#10841 fix(smoke-test): add suffix in temp file creation
  smoke-test/tests/dataproduct/test_dataproduct.py
Labels: smoke_test

#10784 feat(ingest/glue): add helper method to permit user or group ownership
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Labels: ingestion, community-contribution, merge-pending-ci

#10645 Show data platform instances in policy modal if they are set on the policy
  datahub-web-react/src/app/ingest/source/utils.ts
  datahub-web-react/src/app/permissions/policy/PolicyDetailsModal.tsx
Labels: community-contribution, product, merge-pending-ci

#10010 docs(patch): add patch documentation for how implementation works
  docs/advanced/patch.md
Labels: docs, merge-pending-ci

#10847 fix(jar): add missing custom-plugin-jar task
  metadata-integration/java/custom-plugin-lib/build.gradle
Labels: ingestion

#10391 fix: also check exceptions/stack trace when filtering log messages
  metadata-utils/src/main/java/com/linkedin/metadata/utils/log/LogMessageFilter.java
Labels: community-contribution, devops, merge-pending-ci

#9893 Update posts.md
  docs/posts.md
Labels: docs, community-contribution, merge-pending-ci

#10844 chore(ingest): update acryl-datahub-classify version
  metadata-ingestion/setup.py
Labels: ingestion, community-contribution, merge-pending-ci

#10828 refactor(ingest): Refactor structured logging to support infos, warnings, and failures structured reporting to UI
  datahub-web-react/src/app/ingest/source/executions/reporting/StructuredReportItem.tsx
  datahub-web-react/src/app/ingest/source/executions/reporting/StructuredReportItemContext.tsx
  datahub-web-react/src/app/ingest/source/executions/reporting/StructuredReportItemList.tsx
  datahub-web-react/src/app/ingest/source/types.ts
  datahub-web-react/src/app/ingest/source/utils.ts
  metadata-ingestion/src/datahub/cli/json_file.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/ingestion/source/openapi.py
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/utilities/lossy_collections.py
  metadata-ingestion/tests/integration/metabase/test_metabase.py
  metadata-ingestion/tests/integration/mode/test_mode.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
  metadata-ingestion/tests/unit/api/test_report.py
  metadata-ingestion/tests/unit/test_nifi_source.py
  metadata-ingestion/tests/unit/test_pipeline.py
Labels: ingestion, merge-pending-ci

#10834 fix(restli): log aspect-not-found as a warning rather than as an error
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/filter/RestliLoggingFilter.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-utils/src/main/java/com/linkedin/metadata/restli/NonExceptionHttpErrorResponse.java
  metadata-utils/src/main/java/com/linkedin/metadata/restli/RestliUtil.java
Labels: community-contribution, devops

#10849 fix(ingest/nifi): remove duplicate upstream jobs
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
Labels: ingestion

#10848 fix(smoke-test): test access to create/revoke personal access tokens
  smoke-test/tests/privileges/test_privileges.py
Labels: community-contribution, smoke_test

#10837 fix(smoke-test): missing test for move domain
  smoke-test/tests/cypress/cypress/e2e/domains/nested_domains.js
Labels: smoke_test

#10851 ci: update usernames to not considered for community
  .github/workflows/pr-labeler.yml
Labels: devops, merge-pending-ci

#10854 env: change defaults for data contract visibility
  metadata-service/configuration/src/main/resources/application.yaml
Labels: devops

#10842 fix(ingest/tableau): quote special characters in external URL
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/integration/tableau/tableau_cll_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_extract_all_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_nested_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_signout_timeout_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
Labels: ingestion, community-contribution, merge-pending-ci

#10861 fix/ added click to perticular result and delay to element visibility
  smoke-test/tests/cypress/cypress/e2e/auto_complete/auto_complete.js
Labels: smoke_test

#10865 ci(ingest): pin dask dependency for feast
  metadata-ingestion/setup.py
Labels: ingestion

#10829 feat(ingest/audit): add client id and version in system metadata props
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/tests/unit/test_rest_sink.py
Labels: ingestion, devops

#10867 chore(ingest): Mypy 1.10.1 pin
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/extractor/json_schema_util.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/usage/clickhouse_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/starburst_trino_usage.py
Labels: ingestion

#10852 docs: use acryl-datahub-actions as expected python package to install
  docs/actions/actions/slack.md
  docs/actions/actions/teams.md
Labels: docs, community-contribution, merge-pending-ci

#10839 refactor(ingestion): remove company domain for security reason
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
  metadata-ingestion/tests/integration/powerbi/test_admin_only_api.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
  metadata-ingestion/tests/integration/qlik_sense/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/qlik_sense/golden_test_qlik_sense_ingest.json
  metadata-ingestion/tests/integration/qlik_sense/test_qlik_sense.py
  metadata-ingestion/tests/integration/sigma/test_sigma.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion, merge-pending-ci

#10843 fix(ingestion/spark): Platform instance and column level lineage fix
  metadata-ingestion/docs/sources/databricks/README.md
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/config/DatahubOpenlineageConfig.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageToDataHub.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/dataset/DatahubJob.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/dataset/PathSpec.java
  metadata-integration/java/spark-lineage-beta/README.md
  metadata-integration/java/spark-lineage-beta/src/main/java/datahub/spark/conf/SparkConfigParser.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/util/RddPathUtils.java
  metadata-integration/java/spark-lineage-beta/src/test/java/datahub/spark/OpenLineageEventToDatahubTest.java
  metadata-integration/java/spark-lineage-beta/src/test/resources/ol_events/redshift_mixed_case_lineage_spark.json
Labels: ingestion

#10498 feat(ingestion/tableau): optionally ingest multiple sites and create site containers
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_constant.py
  metadata-ingestion/tests/integration/tableau/tableau_multiple_sites_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_site_name_pattern_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_sites_as_container_mces_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/unit/test_tableau_source.py
Labels: ingestion, community-contribution

#10874 fix(ingestion/looker): Add sqlglot dependency and remove unused sqlparser
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
Labels: ingestion, merge-pending-ci

#10853 fix(manage-tokens): fix manage access token policy
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: product

#10880 Batch get entity endpoints
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/client/OpenApiClient.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/models/BatchGetUrnRequest.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/models/BatchGetUrnResponse.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
Labels: community-contribution, devops

#10868 feat(system): support conditional write semantics
  docs/advanced/mcp-mcl.md
  docs/api/openapi/openapi-usage-guide.md
  docs/how/updating-datahub.md
  entity-registry/src/main/java/com/linkedin/metadata/aspect/AspectRetriever.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/EnvelopedSystemAspect.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/SystemAspect.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/batch/MCPItem.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/AspectValidationException.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/ValidationExceptionCollection.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/validation/ConditionalWriteValidator.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/validators/ConditionalWriteValidatorTest.java
  entity-registry/src/testFixtures/java/com/linkedin/test/metadata/aspect/MockAspectRetriever.java
  entity-registry/src/testFixtures/java/com/linkedin/test/metadata/aspect/batch/TestMCP.java
  entity-registry/src/testFixtures/java/com/linkedin/test/metadata/aspect/batch/TestSystemAspect.java
  metadata-integration/java/datahub-client/src/main/resources/MetadataChangeProposal.avsc
  metadata-integration/java/datahub-event/src/main/resources/MetadataChangeProposal.avsc
  metadata-integration/java/openlineage-converter/build.gradle
  metadata-integration/java/openlineage-converter/src/test/java/io/datahubproject/openlineage/HdfsPathDatasetTest.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/ChangeItemImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/utils/DefaultAspectsUtil.java
  metadata-io/src/main/java/com/linkedin/metadata/client/EntityClientAspectRetriever.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceAspectRetriever.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/AspectGenerationUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/structuredproperties/validators/StructuredPropertiesValidatorTest.java
  metadata-models-custom/src/main/java/com/linkedin/metadata/aspect/plugins/spring/validation/CustomDataQualityRulesValidator.java
  metadata-models-custom/src/main/java/com/linkedin/metadata/aspect/plugins/validation/CustomDataQualityRulesValidator.java
  metadata-models/src/main/pegasus/com/linkedin/mxe/MetadataChangeProposal.pdl
  metadata-models/src/main/pegasus/com/linkedin/mxe/SystemMetadata.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-operation-context/src/main/java/io/datahubproject/test/metadata/context/TestOperationContexts.java
  metadata-service/openapi-entity-servlet/src/main/java/io/datahubproject/openapi/v2/delegates/EntityApiDelegateImpl.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/client/OpenApiClient.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/models/GenericAspect.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/models/GenericEntity.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/models/GenericEntityScrollResult.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/BatchGetUrnRequestV2.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/BatchGetUrnResponseV2.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/GenericAspectV2.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/GenericEntityScrollResultV2.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/GenericEntityV2.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericAspectV3.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityScrollResultV3.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityV3.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entitiesV2.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entitiesVersionedV2.snapshot.json
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/GenericRecordUtils.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/metrics/ExceptionUtils.java
Labels: ingestion, product, devops

#10888 feat(ingest/lookml): shallow clone repos
  metadata-ingestion/src/datahub/ingestion/source/git/git_import.py
Labels: ingestion

#10876 fix(ingest/looker): add missing dependency
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
Labels: ingestion

#10604 fix(ingest): only populate audit stamps where accurate
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/metabase/metabase_mces_golden.json
  metadata-ingestion/tests/integration/superset/golden_test_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/unit/test_redash_source.py
Labels: ingestion

#10799 fix(ingest/dbt): always encode tag urns
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion, merge-pending-ci

#10727 fix(ingest/redshift): handle multiline alter table commands
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/report.py
Labels: ingestion, merge-pending-ci

#10892 fix(ingestion/looker): column name missing in explore
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_config.py
Labels: ingestion

#10879 fix(lineage) Fix lineage source/dest filtering with explored per hop limit
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
Labels: product

#10901 feat(conditional-writes): misc updates and fixes
  docs/advanced/mcp-mcl.md
  docs/api/openapi/openapi-usage-guide.md
  entity-registry/src/main/java/com/linkedin/metadata/aspect/validation/ConditionalWriteValidator.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/validators/ConditionalWriteValidatorTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/EntityControllerTest.java
Labels: docs, devops

#10899 feat(ci): update outdated action
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/docker-unified.yml
  .github/workflows/documentation.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/metadata-model.yml
  .github/workflows/publish-datahub-jars.yml
  .github/workflows/spark-smoke-test.yml
Labels: devops

#10902 feat(rest-emitter): adding async flag to rest emitter
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/tests/test_helpers/graph_helpers.py
Labels: ingestion

#10835 feat(ingest): add snowflake-queries source
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_assertion.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_data_reader.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_summary.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/__init__.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_add_known_query_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_basic_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_column_lineage_deduplication.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_multistep_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_overlapping_inserts.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_overlapping_inserts_from_temp_tables.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_rename.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_view_lineage.json
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_redundant_run_skip_handler.py
  metadata-ingestion/tests/unit/test_snowflake_source.py
  metadata-models/src/main/pegasus/com/linkedin/query/QueryUsageStatistics.pdl
  metadata-models/src/main/resources/entity-registry.yml
Labels: ingestion

#10906 fix(ingest): improve `auto_materialize_referenced_tags_terms` error handling
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
Labels: ingestion, merge-pending-ci

#10909 docs: add new company to adoption list
  README.md
Labels: community-contribution

#10870 refactor(redshift): Improve redshift error handling with new structured reporting system
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/exception.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/profile.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
Labels: ingestion

#10811 Index ExecutionRequestResults status field
  datahub-web-react/src/app/ingest/source/utils.ts
  metadata-models/src/main/pegasus/com/linkedin/execution/ExecutionRequestResult.pdl
Labels: product, merge-pending-ci

#10891 feat(ingest): grafana connector
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/grafana/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/grafana/grafana_source.py
  metadata-ingestion/tests/integration/grafana/default-dashboard.json
  metadata-ingestion/tests/integration/grafana/docker-compose.yml
  metadata-ingestion/tests/integration/grafana/grafana_mcps_golden.json
  metadata-ingestion/tests/integration/grafana/provisioning/api-keys/api_keys.yaml
  metadata-ingestion/tests/integration/grafana/provisioning/dashboards/dashboard.yaml
  metadata-ingestion/tests/integration/grafana/provisioning/datasources/datasource.yaml
  metadata-ingestion/tests/integration/grafana/provisioning/service_accounts/service_accounts.yaml
  metadata-ingestion/tests/integration/grafana/test_grafana.py
Labels: ingestion, merge-pending-ci

#10916 fix(gms) Add Form entity type to EntityTypeMapper
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeMapper.java
Labels: product

#10877 feat(dataset): add support for external url in Dataset
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
Labels: ingestion, community-contribution, merge-pending-ci

#10913 docs(saas-overview) added missing features to observe section
  docs/managed-datahub/managed-datahub-overview.md
Labels: docs, community-contribution

#10703 refactor: use blog plugin for use cases
  docs-website/docusaurus.config.js
  docs-website/src/learn/_components/LearnItemCard/index.jsx
  docs-website/src/learn/_components/LearnItemCard/styles.module.scss
  docs-website/src/learn/_components/LearnListPage/index.jsx
  docs-website/src/learn/_components/LearnListPage/styles.module.scss
  docs-website/src/learn/business-glossary.md
  docs-website/src/learn/business-metric.md
  docs-website/src/learn/data-freshness.md
  docs-website/src/learn/data-mesh.md
  docs-website/src/learn/data-pipeline.md
  docs-website/src/pages/docs/_components/UseCaseCard/index.jsx
  docs-website/src/pages/docs/_components/UseCaseCard/quicklinkcard.module.scss
  docs-website/src/pages/docs/_components/UseCaseCards/index.jsx
  docs-website/src/pages/docs/_components/UseCaseCards/quicklinkcards.module.scss
  docs-website/src/pages/docs/_components/UseCasePage/index.jsx
  docs-website/src/pages/use_cases.jsx
  docs-website/static/img/assets/business-glossary.jpg
  docs-website/static/img/assets/business-metric.jpg
  docs-website/static/img/assets/data-mesh.jpg
  docs-website/static/img/assets/data-pipeline.jpg
  docs-website/static/img/learn/use-case-business-glossary.png
  docs-website/static/img/learn/use-case-business-metric.png
  docs-website/static/img/learn/use-case-data-freshness.png
  docs-website/static/img/learn/use-case-data-mesh.png
  docs-website/static/img/learn/use-case-data-pipeline.png
  docs-website/useCaseIndexes.json
Labels: community-contribution

#10882 fix(ingest/spark): Fixing Micrometer warning
  metadata-integration/java/spark-lineage-beta/README.md
  metadata-integration/java/spark-lineage-beta/src/main/java/datahub/spark/DatahubSparkListener.java
Labels: ingestion

#10918 fix(structured properties): allow application of structured properties without schema file
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
Labels: ingestion

#10919 fix(data-contracts-web) handle other schedule types
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/FreshnessScheduleSummary.tsx
Labels: community-contribution, product

#10866 fix(ingestion/tableau): human-readable message for PERMISSIONS_MODE_SWITCHED error
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/integration/tableau/setup/permission_mode_switched_error.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion

#10914 Add feature flag for view defintions
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
Labels: ingestion

#10884 feat(ingest/BigQuery): refactor+parallelize dataset metadata extraction
  metadata-ingestion/docs/dev_guides/classification.md
  metadata-ingestion/src/datahub/ingestion/glossary/classifier.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_test_connection.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/utilities/threaded_iterator_executor.py
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
  metadata-ingestion/tests/unit/utilities/test_threaded_iterator_executor.py
Labels: ingestion

#10907 fix(airflow): add error handling around render_template()
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
Labels: ingestion

#10830 feat(ingestion/sqlglot): add optional `default_dialect` parameter to sqlglot lineage
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Labels: ingestion, community-contribution, merge-pending-ci

#10904 feat(mcp-mutator): new mcp mutator plugin
  entity-registry/src/main/java/com/linkedin/metadata/aspect/ReadItem.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/batch/AspectsBatch.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/PluginSpec.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/hooks/MCLSideEffect.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/hooks/MCPSideEffect.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/hooks/MutationHook.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/AspectPayloadValidator.java
  metadata-io/build.gradle
  metadata-io/metadata-io-api/build.gradle
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/ProposedItem.java
  metadata-io/metadata-io-api/src/test/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImplTest.java
  metadata-io/metadata-io-api/src/test/resources/AspectsBatchImplTest.yaml
  metadata-io/src/main/java/com/linkedin/metadata/aspect/hooks/IgnoreUnknownMutator.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/hooks/IgnoreUnknownMutatorTest.java
  metadata-jobs/mae-consumer-job/src/main/java/com/linkedin/metadata/kafka/MaeConsumerApplication.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLSpringCommonTestConfiguration.java
  metadata-jobs/mce-consumer-job/src/main/java/com/linkedin/metadata/kafka/MceConsumerApplication.java
  metadata-models/src/main/resources/entity-registry.yml
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestContext.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entityregistry/ConfigEntityRegistryFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/plugin/src/main/java/com/datahub/plugins/metadata/aspect/SpringPluginFactory.java
  metadata-service/war/src/main/java/com/linkedin/gms/CommonApplicationConfig.java
Labels: product

#10845 fix(ingest/bigquery): changes helper function to decode unicode scape sequences
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_helper.py
  metadata-ingestion/tests/unit/test_bigqueryv2_usage_source.py
Labels: ingestion, community-contribution, datahub-community-champion

#10864 feat(ingest/postgres): fetch table sizes for profile
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
  metadata-ingestion/tests/integration/postgres/postgres_all_db_mces_with_db_golden.json
  metadata-ingestion/tests/integration/postgres/postgres_mces_with_db_golden.json
Labels: ingestion, community-contribution

#10813 feat(ingest/abs): Adding azure blob storage ingestion source
  metadata-ingestion/docs/sources/abs/README.md
  metadata-ingestion/docs/sources/abs/abs.md
  metadata-ingestion/docs/sources/abs/abs_recipe.yml
  metadata-ingestion/docs/sources/s3/README.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/abs/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/abs/config.py
  metadata-ingestion/src/datahub/ingestion/source/abs/datalake_profiler_config.py
  metadata-ingestion/src/datahub/ingestion/source/abs/profiling.py
  metadata-ingestion/src/datahub/ingestion/source/abs/report.py
  metadata-ingestion/src/datahub/ingestion/source/abs/source.py
  metadata-ingestion/src/datahub/ingestion/source/azure/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/azure/abs_util.py
  metadata-ingestion/src/datahub/ingestion/source/azure/azure_common.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/data_lake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
Labels: ingestion, community-contribution

#10924 fix(ingest/redshift): reduce severity of SQL parsing issues
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
Labels: ingestion

#10896 fix(build): fix lint fix web react
  datahub-web-react/package.json
Labels: product

#10912 fix(ingest/bigquery): handle quota exceeded for project.list requests
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#10908 feat(ingest): report extractor failures more loudly
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/integration/tableau/tableau_cll_mces_golden.json
Labels: ingestion

#10905 feat(ingest/snowflake): integrate snowflake-queries into main source
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_assertion.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_shares.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_summary.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_tag.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source_report/ingestion_stage.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/unit/test_snowflake_shares.py
Labels: ingestion

#10927 fix(ingest/snowflake): fix test connection
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/unit/test_snowflake_source.py
Labels: ingestion

#10923 fix(ingest/lookml): add view load failures to cache
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_file_loader.py
Labels: ingestion, merge-pending-ci

#10922 docs(slack) overhauled setup instructions and screenshots
  docs-website/sidebars.js
  docs/actions/actions/slack.md
  docs/incidents/incidents.md
  docs/managed-datahub/managed-datahub-overview.md
  docs/managed-datahub/observe/assertions.md
  docs/managed-datahub/saas-slack-setup.md
  docs/managed-datahub/slack/saas-slack-app.md
  docs/managed-datahub/slack/saas-slack-setup.md
  docs/managed-datahub/subscription-and-notification.md
Labels: docs, community-contribution

#10903 fix(airflow): Add comma parsing of owners to DataJobs
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
Labels: ingestion

#10938 feat(ingest): Support System Ingestion Sources, Show and hide system ingestion sources with Command-S
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingest/source/hooks.ts
  metadata-models/src/main/pegasus/com/linkedin/ingestion/DataHubIngestionSourceInfo.pdl
Labels: product

#10925 chore() Set a default lineage filtering end time on backend when a start time is present
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ResolverUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityLineageResultResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/ScrollAcrossLineageResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossLineageResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/LineageFlagsInputMapper.java
Labels: product

#10941 chore(airflow): add python 3.11 w/ Airflow 2.9 to CI
  .github/workflows/airflow-plugin.yml
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/tox.ini
  metadata-ingestion/build.gradle
Labels: ingestion, devops

#10895 fix(Ingestor/Glue): Implement column upstream lineage between S3 and Glue
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/glue_mces_golden_table_column_lineage.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden_table_lineage.json
  metadata-ingestion/tests/unit/test_glue_source.py
  metadata-ingestion/tests/unit/test_glue_source_stubs.py
Labels: ingestion

#10945 fix(ingest/abs): Splitting abs utils into multiple files to not include abs specific includes which broke path_spec includes
  metadata-ingestion/src/datahub/ingestion/source/abs/source.py
  metadata-ingestion/src/datahub/ingestion/source/azure/abs_folder_utils.py
  metadata-ingestion/src/datahub/ingestion/source/azure/abs_utils.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/data_lake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
Labels: ingestion, merge-pending-ci

#10883 fix(ingestion/looker): fix doc for sql parsing documentation
  metadata-ingestion/docs/sources/looker/lookml_post.md
Labels: ingestion, merge-pending-ci

#10950 fix(ingest/bigquery): Adding missing BigQuery types
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
Labels: ingestion, merge-pending-ci

#10942 fix(connections) Harden adding /gms to connections in backend
  metadata-ingestion/src/datahub/cli/cli_utils.py
Labels: ingestion

#10952 feat(siblings) Add flag to prevent combining siblings in the UI
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/entity/shared/containers/profile/header/PlatformContent/PlatformContentView.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/SidebarSiblingsSection.tsx
  datahub-web-react/src/app/entity/shared/siblingUtils.ts
  datahub-web-react/src/app/lineage/controls/LineageVizToggles.tsx
  datahub-web-react/src/app/search/SearchBar.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
  datahub-web-react/src/app/search/autoComplete/AutoCompleteEntity.tsx
  datahub-web-react/src/app/search/utils/combineSiblingsInSearchResults.test.ts
  datahub-web-react/src/app/search/utils/combineSiblingsInSearchResults.ts
  datahub-web-react/src/app/useAppConfig.ts
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/configuration/src/main/resources/application.yaml
Labels: product, devops

#10953 fix(docs): make graphql doc gen more automated
  .github/workflows/documentation.yml
  docs-website/graphql/generateGraphQLSchema.sh
Labels: merge-pending-ci

#10723 feat(ingest/athena): Add option for Athena partitioned profiling
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive_metastore.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/src/datahub/utilities/sqlalchemy_type_converter.py
Labels: ingestion

#10947 fix(spark-lineage): default timeout for future responses
  metadata-integration/java/datahub-client/src/main/java/datahub/client/MetadataResponseFuture.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/rest/RestEmitter.java
  metadata-integration/java/spark-lineage-beta/src/main/java/datahub/spark/DatahubEventEmitter.java
Labels: ingestion, community-contribution

#10814 feat(datajob/flow): add environment filter using info aspects
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/api/entities/datajob/dataflow.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_empty_connection_user_golden.json
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_golden.json
  metadata-models/src/main/pegasus/com/linkedin/datajob/DataFlowInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/datajob/DataJobInfo.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: ingestion, devops

#10483 fix(ui/ingest): ingest tab should show with manage ingestion privilege
  datahub-web-react/src/app/ingest/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingest/secret/SecretsList.tsx
  datahub-web-react/src/app/shared/admin/HeaderLinks.tsx
  smoke-test/tests/cypress/cypress/e2e/mutations/ingestion_source.js
  smoke-test/tests/cypress/cypress/e2e/mutations/manage_ingestion_secret_privilege.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managing_secrets.js
Labels: product, merge-pending-ci

#10955 feat(ingest/looker): include dashboard urns in browse v2
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/tests/integration/looker/golden_test_external_project_view_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_file_path_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_independent_look_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_joins.json
  metadata-ingestion/tests/integration/looker/looker_mces_golden_deleted_stateful.json
Labels: ingestion

#10956 add a structured type to batchGet in OpenAPI V3 spec
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/OpenAPIV3GeneratorTest.java
Labels: ingestion, community-contribution, devops, merge-pending-ci

#10966 fix(ui) Fix scroll on the domain sidebar to show all domains
  datahub-web-react/src/app/shared/sidebar/components.tsx
Labels: product

#10965 fix: resolve incorrect variable assignment for SageMaker API call
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/models.py
Labels: ingestion, community-contribution, merge-pending-ci

#10972 fix(airflow/build): Pinning mypy
  metadata-ingestion-modules/airflow-plugin/setup.py
Labels: ingestion

#10974 Fixed a bug where the OpenAPI V3 spec was incorrect. The bug was introduced in https://github.com/datahub-project/datahub/pull/10939.
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/SpringWebConfig.java
Labels: community-contribution, devops

#10962 fix: fix customer logo alignment and make responsive
  docs-website/src/pages/_components/Logos/index.js
  docs-website/src/pages/_components/Logos/logos.module.scss
Labels: community-contribution

#10978 fix(ingest/test): Fix for mssql integration tests
  metadata-ingestion/tests/integration/sql_server/test_sql_server.py
Labels: ingestion, merge-pending-ci

#10973 fix(entity-service) exist check correctly extracts status
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
Labels: community-contribution, product

#10982 fix(structuredProps) Fix casing bug in StructuredPropertiesValidator
  metadata-io/src/main/java/com/linkedin/metadata/structuredproperties/validation/StructuredPropertiesValidator.java
Labels: product

#10986 bugfix: use anyOf instead of allOf when creating references in openapi v3 spec
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/OpenAPIV3GeneratorTest.java
Labels: community-contribution, devops

#10988 fix(ui): Remove ant less imports
  datahub-web-react/src/app/entity/ermodelrelationships/preview/ERModelRelationshipAction.less
  datahub-web-react/src/app/entity/shared/components/styled/ERModelRelationship/CreateERModelRelationModal.less
  datahub-web-react/src/app/entity/shared/components/styled/ERModelRelationship/ERModelRelationPreview.less
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Relationship/RelationshipsTab.less
  datahub-web-react/src/app/entity/shared/tabs/ERModelRelationship/ERModelRelationshipTab.less
Labels: product

#10987 feat(ingest/graph): Add get_results_by_filter to DataHubGraph
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/filters.py
Labels: ingestion, merge-pending-ci

#10989 feat(ingest/cli): init does not actually support environment variables
  docs/cli.md
  metadata-ingestion/src/datahub/entrypoints.py
Labels: ingestion, docs, community-contribution

#10991 fix(ingest/graph): Update get_results_by_filter graphql query
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion

#10967 feat(ingest): support domains in meta -> "datahub" section
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/utilities/mapping.py
  metadata-ingestion/tests/unit/test_mapping.py
Labels: ingestion

#10466 feat(cli): Make consistent use of DataHubGraphClientConfig
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/cli/config_utils.py
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-ingestion/src/datahub/cli/get_cli.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/src/datahub/cli/migration_utils.py
  metadata-ingestion/src/datahub/cli/put_cli.py
  metadata-ingestion/src/datahub/cli/timeline_cli.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
  metadata-ingestion/src/datahub/upgrade/upgrade.py
  metadata-ingestion/tests/unit/test_cli_utils.py
  smoke-test/tests/cli/datahub_cli.py
  smoke-test/tests/cli/datahub_graph_test.py
  smoke-test/tests/delete/delete_test.py
  smoke-test/tests/lineage/test_lineage.py
  smoke-test/tests/patch/test_dataset_patches.py
  smoke-test/tests/telemetry/telemetry_test.py
  smoke-test/tests/timeline/timeline_test.py
  smoke-test/tests/utils.py
Labels: ingestion

#10993 fix(ingest/s3): Fixing container creation when there is no folder in path
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/data_lake_utils.py
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Labels: ingestion

#10771 fix(ingest/looker): support platform instance for dashboards & charts
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/tests/integration/looker/golden_test_ingest.json
  metadata-ingestion/tests/integration/looker/test_looker.py
Labels: ingestion

#10985 feat(ingest/bigquery): improve handling of information schema in sql parser
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/sql_parsing/_models.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_information_schema_query.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion

#10944 feat(ingest): improve `ingest deploy` command
  docs/cli.md
  metadata-ingestion/src/datahub/cli/ingest_cli.py
Labels: ingestion, docs, merge-pending-ci

#10996 fix(ingest/looker): downgrade missing chart type log level
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion

#10984 doc(acryl-cloud): release docs for 0.3.4.x
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_3_4.md
Labels: docs

#11006 fix(protobuf/build): Fix protobuf check jar script
  metadata-integration/java/acryl-spark-lineage/README.md
  metadata-integration/java/acryl-spark-lineage/src/main/java/datahub/spark/DatahubSparkListener.java
  metadata-integration/java/datahub-protobuf/scripts/check_jar.sh
Labels: ingestion

#10998 fix(ui/ingest): Support invalid cron jobs
  datahub-web-react/src/app/context/UserContextProvider.tsx
  datahub-web-react/src/app/context/userContext.tsx
  datahub-web-react/src/app/ingest/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTableColumns.tsx
  smoke-test/tests/cypress/cypress/e2e/mutations/managing_secrets.js
Labels: product

#11002 fix(ingest): fix graph config loading
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/cli/config_utils.py
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/config.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/upgrade/upgrade.py
  metadata-ingestion/tests/unit/test_cli_utils.py
  metadata-ingestion/tests/unit/test_pipeline.py
  smoke-test/smoke.sh
  smoke-test/tests/utils.py
Labels: ingestion

#10968 feat(docs): Document __DATAHUB_TO_FILE_ directive
  metadata-ingestion/recipe_overview.md
Labels: ingestion

#11011 fix(graphql/upsertIngestionSource): Validate cron schedule; parse error in CLI
  datahub-graphql-core/build.gradle
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/source/UpsertIngestionSourceResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/source/UpsertIngestionSourceResolverTest.java
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion, product

#10999 feat(ece): support custom ownership type urns in ECE generation
  metadata-io/src/main/java/com/linkedin/metadata/timeline/data/entity/OwnerChangeEvent.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/OwnershipChangeEventGenerator.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/EntityChangeEventGeneratorHookTest.java
Labels: product, merge-pending-ci

#10858 fix(ingestion/glue): Add support for missing config options for profiling in Glue
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/glue_profiling_config.py
  metadata-ingestion/tests/unit/glue/glue_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden_profiling.json
  metadata-ingestion/tests/unit/test_glue_source.py
  metadata-ingestion/tests/unit/test_glue_source_stubs.py
Labels: ingestion

#11003 docs: standardize terminology to DataHub Cloud
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/home/AcrylDemoBanner.tsx
  docs-website/README.md
  docs-website/docusaurus.config.js
  docs-website/filterTagIndexes.json
  docs-website/generateDocsDir.ts
  docs-website/sidebars.js
  docs-website/src/components/FeatureAvailability/index.js
  docs-website/src/learn/business-glossary.md
  docs-website/src/learn/business-metric.md
  docs-website/src/learn/data-freshness.md
  docs-website/src/learn/data-mesh.md
  docs-website/src/learn/data-pipeline.md
  docs-website/src/pages/_components/Section/index.js
  docs-website/src/pages/docs/_components/QuickstartCards/index.jsx
  docs/_feature-guide-template.md
  docs/actions/actions/slack.md
  docs/api/tutorials/assertions.md
  docs/api/tutorials/data-contracts.md
  docs/api/tutorials/forms.md
  docs/api/tutorials/operations.md
  docs/api/tutorials/structured-properties.md
  docs/assertions/open-assertions-spec.md
  docs/authentication/guides/add-users.md
  docs/authorization/policies.md
  docs/authorization/roles.md
  docs/features.md
  docs/features/feature-guides/documentation-forms.md
  docs/how/search.md
  docs/incidents/incidents.md
  docs/lineage/airflow.md
  docs/managed-datahub/approval-workflows.md
  docs/managed-datahub/chrome-extension.md
  docs/managed-datahub/datahub-api/graphql-api/getting-started.md
  docs/managed-datahub/managed-datahub-overview.md
  docs/managed-datahub/observe/column-assertions.md
  docs/managed-datahub/observe/custom-sql-assertions.md
  docs/managed-datahub/observe/freshness-assertions.md
  docs/managed-datahub/observe/schema-assertions.md
  docs/managed-datahub/observe/volume-assertions.md
  docs/managed-datahub/operator-guide/setting-up-events-api-on-aws-eventbridge.md
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
  docs/managed-datahub/release-notes/v_0_1_69.md
  docs/managed-datahub/release-notes/v_0_1_70.md
  docs/managed-datahub/slack/saas-slack-setup.md
  docs/managed-datahub/subscription-and-notification.md
  docs/managed-datahub/welcome-acryl.md
  docs/quickstart.md
  docs/townhall-history.md
  docs/ui-ingestion.md
  metadata-ingestion/cli-ingestion.md
  metadata-ingestion/sink_docs/datahub.md
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-integration/java/as-a-library.md
  metadata-service/configuration/src/main/resources/application.yaml
Labels: ingestion, docs, product, devops

#11013 fix(ingestion/transformer): tranformer to replace the externalUrl in container properties
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_transformer.py
  metadata-ingestion/src/datahub/ingestion/transformer/replace_external_url.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#11030 feat(propagation): Add graphql API
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/Constants.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/DocumentationMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/MetadataAttributionMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldType.java
  datahub-graphql-core/src/main/resources/common.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/home/AcrylDemoBanner.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/search.graphql
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
Labels: product

#11029 feat(propagation): Add models for Action feature settings
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/settings/docPropagation/DocPropagationSettingsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/settings/docPropagation/UpdateDocPropagationSettingsResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  metadata-models/src/main/pegasus/com/linkedin/settings/global/DocPropagationFeatureSettings.pdl
  metadata-models/src/main/pegasus/com/linkedin/settings/global/FeatureSettings.pdl
  metadata-models/src/main/pegasus/com/linkedin/settings/global/GlobalSettingsInfo.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: community-contribution, product, devops, merge-pending-ci

#10997 feat(models): Introducing Dataset Partitions Aspect
  metadata-models/src/main/pegasus/com/linkedin/dataset/PartitionSummary.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataset/PartitionsSummary.pdl
  metadata-models/src/main/pegasus/com/linkedin/schema/SchemaField.pdl
  metadata-models/src/main/pegasus/com/linkedin/timeseries/PartitionSpec.pdl
  metadata-models/src/main/resources/entity-registry.yml
Labels: ingestion

#11038 feat(propagation): Add Documentation Propagation Settings
  datahub-web-react/src/app/settings/SettingsPage.tsx
  datahub-web-react/src/app/settings/features/Feature.tsx
  datahub-web-react/src/app/settings/features/Features.tsx
  datahub-web-react/src/app/settings/features/useDocPropagationSettings.ts
  datahub-web-react/src/graphql/app.graphql
Labels: community-contribution, product

#11040 fix(models): chart schema fields mapping, add dataHubAction entity, t…
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/mappers/InputFieldsMapper.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/DataHubActionKey.pdl
  metadata-models/src/main/resources/entity-registry.yml
  smoke-test/tests/schema_fields/__init__.py
  smoke-test/tests/schema_fields/queries/get_chart_field.gql
  smoke-test/tests/schema_fields/test_schemafields.py
Labels: product

#11044 fix(ci): smoke test lint failures
  .github/scripts/check_python_package.py
  smoke-test/tests/schema_fields/queries/__init__.py
  smoke-test/tests/schema_fields/test_schemafields.py
  smoke-test/tests/structured_properties/test_structured_properties.py
Labels: devops, smoke_test
