Repository datahub-project/datahub, pull requests merged in 2024-03, with the labels that each got.

#9960 feat(ingest): throw codegen error on duplicate class names
  metadata-ingestion/scripts/avro_codegen.py
Labels: ingestion

#9963 feat(docker): respect pip mirrors with uv
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/Dockerfile-slim-only
Labels: devops

#9757 fix(ingest/json-schema): adding support descriptions for array
  metadata-ingestion/src/datahub/ingestion/extractor/json_schema_util.py
  metadata-ingestion/tests/unit/schema/test_json_schema_util.py
Labels: ingestion

#9967 fix(ingest/redshift): fix bug in lineage v2 table renames
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
Labels: ingestion

#9969 feat(ingest): speed up to_obj() and validate()
  metadata-ingestion/setup.py
Labels: ingestion

#9976 feat(ingest): fix fspath lint error
  metadata-ingestion/tests/conftest.py
Labels: ingestion

#9949 fix(ui/markdown-editor): arrows change field when editing description…
  datahub-web-react/src/app/entity/shared/components/legacy/DescriptionModal.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/Editor.tsx
Labels: product

#9958 feat(ui/policies): add filter for Active/Inactive/All on policy page
  datahub-web-react/src/app/permissions/policy/ManagePolicies.tsx
Labels: product, merge-pending-ci

#9978 feat(ingest): add Looks subtype + stop reemitting browsePathV2
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/tests/integration/looker/expected_output.json
  metadata-ingestion/tests/integration/looker/golden_test_independent_look_ingest.json
Labels: ingestion

#9932 fix(ingest/bigquery): escape special characters for table descriptions
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_helper.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
  metadata-ingestion/tests/unit/test_bigqueryv2_usage_source.py
Labels: ingestion, merge-pending-ci

#9974 feat(ui): add loading spin to access management table
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/AccessManagement.tsx
Labels: community-contribution, product

#9975 fix(ingestion/fivetran): Fix fivetran get connector jobs bug
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion, community-contribution

#9964 feat(ingest/dbt): generate CLL for all node types
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/api/incremental_lineage_helper.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
Labels: ingestion

#9934 feat(ingest): enable stateful_ingestion by default for DataHub rest sink
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
  metadata-ingestion/tests/unit/stateful_ingestion/provider/test_provider.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion, community-contribution

#9983 feat(ingestion/cli): Adding check option to validate allow/deny and path_specs
  metadata-ingestion/src/datahub/cli/check_cli.py
Labels: ingestion

#9989 fix(ingest): only import PathSpec when necessary
  metadata-ingestion/src/datahub/cli/check_cli.py
Labels: ingestion

#9988 feat(config): add configuration to reprocess UI sourced events
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHookTest.java
  metadata-service/configuration/src/main/resources/application.yml
Labels: devops

#9990 feat(pluginRegistry): add configuration to reduce runnable frequency
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/PluginEntityRegistryLoader.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/PluginEntityRegistryLoaderTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/EntityRegistryPluginConfiguration.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entityregistry/PluginEntityRegistryFactory.java
  metadata-service/openapi-entity-servlet/src/test/java/io/datahubproject/openapi/config/OpenAPIEntityTestConfiguration.java
Labels: devops

#9982 build(react): Fix typescript errors in test files
  datahub-web-react/src/app/analyticsDashboard/components/__tests__/timeSeriesChart.test.tsx
  datahub-web-react/src/app/entity/dataset/profile/__tests__/Schema.test.tsx
  datahub-web-react/src/app/entity/glossaryTerm/preview/__tests__/Preview.test.tsx
  datahub-web-react/src/app/entity/glossaryTerm/profile/__tests__/GlossaryTermHeader.test.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/__tests__/EntityProfile.test.tsx
  datahub-web-react/src/app/entity/shared/entityForm/__tests__/Form.test.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/__tests__/AccessManagement.test.ts
  datahub-web-react/src/app/entity/shared/tabs/Documentation/__tests__/DocumentationTab.test.tsx
  datahub-web-react/src/app/entity/shared/tabs/Entity/__tests__/DataJobFlowTab.test.tsx
  datahub-web-react/src/app/lineage/__tests__/LineageEdges.test.tsx
  datahub-web-react/src/app/lineage/__tests__/LineageTree.test.tsx
  datahub-web-react/src/app/lineage/__tests__/adjustVXTreeLayout.test.tsx
  datahub-web-react/src/app/lineage/__tests__/constructFetchedNode.test.tsx
  datahub-web-react/src/app/lineage/__tests__/constructTree.test.ts
  datahub-web-react/src/app/lineage/types.ts
  datahub-web-react/src/app/shared/tags/__tests__/TagTermGroup.test.tsx
Labels: community-contribution, product, merge-pending-ci

#9987 feat(docs): disable last update timestamps
  .github/workflows/documentation.yml
  docs-website/docusaurus.config.js
Labels: devops

#9986 fix(ingest/redshift): fix stl scan lineage for lineage v2
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
Labels: ingestion

#9966 feat(ingest/snowflake): generate query nodes for snowflake
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
  metadata-ingestion/tests/unit/config/test_datetime_parser.py
Labels: ingestion, community-contribution, merge-pending-ci

#9951 fix(ingest/unity): creating group urn in case of group
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Labels: ingestion

#10001 fix(ui/left-side-bar): hide data products option in left side bar
  datahub-web-react/src/app/search/sidebar/BrowseSidebar.tsx
Labels: product

#10000 feat(ingest/redshift): make query generation configurable
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
Labels: ingestion

#10006 fix(opensearch): Rollover usage events at a file size rather than time-based manner
  metadata-service/restli-servlet-impl/src/main/resources/index/usage-event/aws_es_ism_policy.json
Labels: community-contribution, devops

#10009 chore(java): bump java dependency versions
  build.gradle
  datahub-upgrade/build.gradle
  metadata-integration/java/spark-lineage/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/IndexBuilderTestBase.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/elasticsearch/JsonElasticEvent.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/elasticsearch/MCEElasticEvent.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/form/FormAssignmentHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/incident/IncidentsSummaryHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/ingestion/IngestionSchedulerHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/siblings/SiblingAssociationHook.java
Labels: product

#10011 ci(react): Update package.json to enable lint check
  datahub-web-react/package.json
  datahub-web-react/tsconfig.test.json
Labels: community-contribution, product

#10012 fix(ui/ingest): trim leading and trailing whitespaces from the text f…
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingest/source/builder/__tests__/NameSourceStep.test.tsx
Labels: product

#10018 feat(opensearch): support for updating ISM policy used for usage events
  docker/elasticsearch-setup/create-indices.sh
Labels: community-contribution, devops

#9940 refactor(react): Provide option to skip importing theme in CustomThemeProvider; rearrange toplevel components
  datahub-web-react/src/AppConfigProvider.tsx
  datahub-web-react/src/CustomThemeProvider.tsx
  datahub-web-react/src/app/ProtectedRoutes.tsx
  datahub-web-react/src/app/Routes.tsx
  datahub-web-react/src/appConfigContext.tsx
Labels: product

#10019 fix(openapi): fix openapi openlineage endpoint
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/SpringWebConfig.java
Labels: devops

#10022 feat(ingest): update sqlglot fork
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_from_sharded_table_wildcard.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_sharded_table_normalization.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_star_with_replace.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_create_view_as_select.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_redshift_temp_table_shortcut.json
Labels: ingestion

#10005 feat(ingest/superset): map awsathena platform name to athena
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Labels: ingestion, community-contribution, merge-pending-ci

#9293 fix(ingest/redshift): patch instead of replace redshift custom properties
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/specific/dataset.py
  metadata-ingestion/tests/unit/test_redshift_source.py
Labels: ingestion

#10007 fix(ingest/slack): tweak docs for slack source
  metadata-ingestion/src/datahub/ingestion/source/slack/slack.py
Labels: ingestion

#10021 fix(ingest): use contextvar for cooperative timeout
  metadata-ingestion/src/datahub/utilities/cooperative_timeout.py
  metadata-ingestion/src/datahub/utilities/lossy_collections.py
  metadata-ingestion/tests/unit/utilities/test_cooperative_timeout.py
  metadata-ingestion/tests/unit/utilities/test_lossy_collections.py
Labels: ingestion

#9985 feat(ingest): improve custom package metadata
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/scripts/custom_package_codegen.py
Labels: ingestion

#10025 feat(ingest): add query formatting to sql aggregator
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/src/datahub/utilities/sql_formatter.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_add_known_query_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_basic_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_column_lineage_deduplication.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_overlapping_inserts.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_rename.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_view_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_utils.py
Labels: ingestion

#10002 feat(ingest): add DataHubGraph.emit_all method
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/cli/specific/user_cli.py
  metadata-ingestion/src/datahub/configuration/source_common.py
  metadata-ingestion/src/datahub/emitter/mcp.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/api/workunit.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
Labels: ingestion, merge-pending-ci

#9953 fix(ingest/teradata): small teradata improvements
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
Labels: ingestion

#10013 feat(ingest): add classification for sql sources
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/source/sql/data_reader.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/tests/integration/mysql/mysql_mces_no_db_golden.json
  metadata-ingestion/tests/integration/mysql/mysql_mces_with_db_golden.json
  metadata-ingestion/tests/integration/mysql/mysql_table_row_count_estimate_only.json
  metadata-ingestion/tests/integration/mysql/mysql_to_file_dbalias.yml
  metadata-ingestion/tests/integration/mysql/mysql_to_file_no_db.yml
  metadata-ingestion/tests/integration/mysql/setup/setup.sql
  metadata-ingestion/tests/integration/postgres/postgres_mces_with_db_golden.json
  metadata-ingestion/tests/integration/postgres/postgres_to_file_with_db_estimate_row_count.yml
  metadata-ingestion/tests/integration/trino/setup/hive_setup.sql
  metadata-ingestion/tests/integration/trino/test_trino.py
  metadata-ingestion/tests/integration/trino/trino_hive_instance_mces_golden.json
  metadata-ingestion/tests/integration/trino/trino_hive_mces_golden.json
Labels: ingestion, community-contribution

#10033 docs(monitoring): add health check endpoint
  docs/advanced/monitoring.md
Labels: docs, community-contribution

#10026 feat(ingest/dbt): capture both raw and compiled code
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/test_dbt.py
  metadata-models/src/main/pegasus/com/linkedin/dataset/ViewProperties.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: ingestion, devops

#10008 fix(ingest/redshift): Temp table lineage fix
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/unit/redshift_query_mocker.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_multistep_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
Labels: ingestion

#10036 feat(ingest): utilities for query logs
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/src/datahub/testing/compare_metadata_json.py
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_basic_lineage_query_log.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_multistep_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
Labels: ingestion, merge-pending-ci

#9869 docs: add missing api sample docs
  .github/workflows/documentation.yml
  docs/api/datahub-apis.md
Labels: docs, merge-pending-ci

#10031 feat(ingest): add classification to bigquery, redshift
  metadata-ingestion/docs/dev_guides/classification.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_data_reader.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_data_reader.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_data_reader.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/data_reader.py
  metadata-ingestion/src/datahub/ingestion/source/sql/druid.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hana.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_classification.py
Labels: ingestion, community-contribution

#10038 fix(ui/lineage): show data is too large error when limitation exceeds
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchResults.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchSection.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/ImpactAnalysis.tsx
  datahub-web-react/src/app/entity/shared/tabs/Lineage/LineageTab.tsx
Labels: product

#10039 feat(ci): exempt more names from community
  .github/workflows/pr-labeler.yml
Labels: community-contribution, devops

#10045 fix(ingest/redshift): tweak lineage v2 queries
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic.py
  metadata-ingestion/src/datahub/sql_parsing/schema_resolver.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/unit/redshift_query_mocker.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_overlapping_inserts_from_temp_tables.json
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
Labels: ingestion

#10063 chore(aws-msk-iam-auth): bump dependency version
  build.gradle
  datahub-upgrade/build.gradle
  docker/kafka-setup/Dockerfile
  metadata-service/factories/build.gradle
Labels: community-contribution, devops

#10034 feat(lineage): add priority to via node
  metadata-ingestion/examples/recipes/file_to_datahub-jobs-golden.dhub.yaml
  metadata-ingestion/examples/test_examples/via_node_test_example_fivetran.json
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/GraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/GraphServiceTestBaseNoVia.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/dgraph/DgraphGraphServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/ESGraphQueryDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/SearchGraphServiceTestBase.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHookTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/GraphQueryConfiguration.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/RelationshipController.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/Edge.java
Labels: devops, platform

#10069 docs(acryl-cloud): notes for 0.2.16
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_16.md
Labels: docs

#9894 fix(ingest/unity-catalog): generate sibling and lineage
  metadata-ingestion/docs/sources/databricks/unity-catalog_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
Labels: ingestion

#10075 fix(ingest): only auto-enable stateful ingestion if pipeline name is set
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/state/stateful_ingestion_base.py
Labels: ingestion, docs

#10057 feat(ingest/s3): set default spark version
  metadata-ingestion/scripts/docgen.sh
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/test_s3.py
Labels: ingestion

#10073 feat(ingest): better rest emitter error message
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
Labels: ingestion

#10072 docs(sdk): Update API guide with example for Acryl
  metadata-ingestion/as-a-library.md
Labels: ingestion

#10059 feat(ingest): check for private import path usages
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_packaging.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/testing/check_imports.py
  metadata-ingestion/tests/unit/test_packages.py
Labels: ingestion

#10064 feat(ingest): add sql formatter utility
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
Labels: ingestion

#10074 feat(ingest): refactor LineageConfig class
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/configuration/source_common.py
  metadata-ingestion/src/datahub/ingestion/api/incremental_lineage_helper.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_utils.py
Labels: ingestion

#10055 feat(ingest/dbt): point dbt assertions at dbt nodes
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/dbt/README.md
  metadata-ingestion/docs/sources/dbt/dbt.md
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
Labels: ingestion

#10028 feat(dbt): show source and compiled code in the UI
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/shared/tabs/Dataset/View/ViewDefinitionTab.tsx
  datahub-web-react/src/graphql/dataset.graphql
  docs/how/updating-datahub.md
Labels: ingestion, product, devops

#9890 Update domains docs to include nested domains
  docs/api/tutorials/domains.md
  docs/domains.md
  metadata-ingestion/examples/library/create_nested_domain.py
Labels: ingestion, docs

#10051 fix(ingestion): Handle Redshift string length limit in Serverless mode
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
Labels: ingestion, community-contribution, datahub-community-champion

#10081 fix(lineage): fix array out of bounds error
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
Labels: product

#9859 Add owners, tags, glossary terms to dataset yaml loader
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
Labels: ingestion

#10082 Add rate limiting to slack source
  metadata-ingestion/src/datahub/ingestion/source/slack/slack.py
Labels: ingestion

#10052 fix(metadata-ingestion)glue connector failure when Optional field Type of PartitionKey is absent for a Table
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/utilities/test_hive_schema_to_avro.py
Labels: ingestion, community-contribution, merge-pending-ci, datahub-community-champion

#10040 feat(redshift): adds flag to skip all external tables
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
Labels: ingestion, community-contribution, datahub-community-champion

#9906 feat(properties) Add upsertStructuredProperties graphql endpoint for assets
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/EntityPrivilegesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/FormUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/StructuredPropertyUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpsertStructuredPropertiesResolver.java
  datahub-graphql-core/src/main/resources/auth.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/main/resources/properties.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpsertStructuredPropertiesResolverTest.java
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/DateInput.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/DropdownLabel.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/MultiSelectInput.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/MultipleStringInput.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/NumberInput.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/RichTextInput.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/SingleSelectInput.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/StringInput.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/StructuredPropertyInput.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/useEditStructuredProperty.ts
  datahub-web-react/src/app/entity/shared/entityForm/prompts/StructuredPropertyPrompt/StructuredPropertyPrompt.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/StructuredPropertyPrompt/useStructuredPropertyPrompt.ts
  datahub-web-react/src/app/entity/shared/tabs/Properties/Edit/EditColumn.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/Edit/EditStructuredPropertyModal.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/PropertiesTab.tsx
  datahub-web-react/src/app/lineage/__tests__/constructTree.test.ts
  datahub-web-react/src/graphql/chart.graphql
  datahub-web-react/src/graphql/container.graphql
  datahub-web-react/src/graphql/dashboard.graphql
  datahub-web-react/src/graphql/dataFlow.graphql
  datahub-web-react/src/graphql/dataJob.graphql
  datahub-web-react/src/graphql/dataProduct.graphql
  datahub-web-react/src/graphql/dataset.graphql
  datahub-web-react/src/graphql/domain.graphql
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/glossaryNode.graphql
  datahub-web-react/src/graphql/glossaryTerm.graphql
  datahub-web-react/src/graphql/group.graphql
  datahub-web-react/src/graphql/mlFeature.graphql
  datahub-web-react/src/graphql/mlFeatureTable.graphql
  datahub-web-react/src/graphql/mlModel.graphql
  datahub-web-react/src/graphql/mlModelGroup.graphql
  datahub-web-react/src/graphql/mlPrimaryKey.graphql
  datahub-web-react/src/graphql/structuredProperties.graphql
  datahub-web-react/src/graphql/user.graphql
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: product, devops

#10089 Clean up logic for dataset.py yaml loader
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
  smoke-test/tests/structured_properties/test_structured_properties.py
Labels: ingestion, smoke_test

#10090 feat(ingest): support incremental column-level lineage
  metadata-ingestion/src/datahub/ingestion/api/incremental_lineage_helper.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/tests/unit/api/source_helpers/incremental_cll_less_upstreams_in_gms_aspect_golden.json
  metadata-ingestion/tests/unit/api/source_helpers/incremental_cll_more_upstreams_in_gms_aspect_golden.json
  metadata-ingestion/tests/unit/api/source_helpers/incremental_column_lineage_golden.json
  metadata-ingestion/tests/unit/api/source_helpers/test_incremental_lineage_helper.py
Labels: ingestion

#10076 feat(ingest/powerbi): add chart subtypes
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/testing/check_imports.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_access_not_allowed.json
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion

#9996 fix(ingest/metabase): Use connect_uri instead of display_uri to query Metabase API
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
Labels: ingestion, community-contribution, merge-pending-ci

#9838 feat(tableau): ability to force extraction of table/column level linage from SQL queries
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_result_utils.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/integration/tableau/tableau_cll_mces_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/unit/sql_parsing/test_sql_parsing_result_utils.py
  metadata-ingestion/tests/unit/test_tableau_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#10085 feat(ingest/datahub-gc): gc source to cleanup things
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/gc/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/gc/datahub_gc.py
Labels: ingestion

#10095 docs(acryl-cloud): fix year in notes from 2023 to 2024
  docs/managed-datahub/release-notes/v_0_2_14.md
  docs/managed-datahub/release-notes/v_0_2_15.md
  docs/managed-datahub/release-notes/v_0_2_16.md
Labels: docs

#10100 feeat(openapi): add batch endpoint to v2 using requestbody
  metadata-service/openapi-servlet/build.gradle
  metadata-service/openapi-servlet/models/build.gradle
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/client/OpenApiClient.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/BatchGetUrnRequest.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/BatchGetUrnResponse.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/GenericEntity.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/GenericRelationship.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/GenericScrollResult.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/GenericTimeseriesAspect.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/PatchOperation.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  settings.gradle
Labels: devops

#10098 fix(ingest/dbt): fix config validator for skip_sources_in_lineage
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion

#10029 docs: add doc for assertions & data contracts
  docs-website/sidebars.js
  docs/managed-datahub/observe/assertions.md
  docs/managed-datahub/observe/data-contract.md
  metadata-ingestion/examples/library/create_data_contract.yml
Labels: docs

#10104 test(ingest/mssql): use non-ephemeral mapping port
  metadata-ingestion/tests/integration/sql_server/docker-compose.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_no_db_to_file.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_no_db_with_filter.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_to_file.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_with_lower_case_urn.yml
Labels: ingestion

#10067 fix(ingestion/transformer): added new transformer to cleanup suffix/prefix in owner URN
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/transformer/pattern_cleanup_ownership.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion, merge-pending-ci

#10004 fix(ui/user-group): add non existent entity page for user
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/user/UserProfile.tsx
  datahub-web-react/src/graphql/user.graphql
Labels: product

#9895 fix(resolver): Allow users to add/remove related terms for children glossary terms
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/AddRelatedTermsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/RemoveRelatedTermsResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/AddRelatedTermsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/RemoveRelatedTermsResolverTest.java
Labels: community-contribution, product

#10020 Increase role member count in listRoles query to 20 from 10
  datahub-web-react/src/graphql/role.graphql
Labels: community-contribution, product

#10054 fix(ui): show dataset display name in browse paths v2
  datahub-web-react/src/graphql/browseV2.graphql
  datahub-web-react/src/graphql/fragments.graphql
Labels: community-contribution, product

#9972 fix(metrics): get fieldName for GraphQL Mutation queries
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/GraphQLController.java
Labels: community-contribution, devops, merge-pending-ci

#9610 feat(UI): disable access management ui when no roles are linked to entity
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/graphql/dataset.graphql
Labels: community-contribution, product

#10113 ci(filters): add graphql code to backend trigger
  .github/actions/ci-optimization/action.yml
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/AddRelatedTermsResolver.java
Labels: devops

#10056 fix(ui) Add min width to the usage stats component
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldUsageStats.tsx
Labels: product

#10105 fix(usage-stats): usage-stats error handling and filter
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataset/DatasetUsageStatsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/usage/UsageQueryResultMapper.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java
Labels: product, devops

#10116 fix(elasticsearch logging): log how long bulk execution took
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/update/BulkListener.java
Labels: community-contribution, product

#10093 fix(ingest/looker): use `external_base_url` for explore url generation
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#10071 feat(ingest/dagster): Dagster source
  .github/workflows/build-and-test.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/test-results.yml
  docs-website/build.gradle
  docs-website/generateDocsDir.ts
  docs-website/sidebars.js
  docs/lineage/dagster.md
  metadata-ingestion-modules/dagster-plugin/.gitignore
  metadata-ingestion-modules/dagster-plugin/README.md
  metadata-ingestion-modules/dagster-plugin/build.gradle
  metadata-ingestion-modules/dagster-plugin/examples/advanced_ops_jobs.py
  metadata-ingestion-modules/dagster-plugin/examples/assets_job.py
  metadata-ingestion-modules/dagster-plugin/examples/basic_setup.py
  metadata-ingestion-modules/dagster-plugin/examples/ops_job.py
  metadata-ingestion-modules/dagster-plugin/pyproject.toml
  metadata-ingestion-modules/dagster-plugin/scripts/release.sh
  metadata-ingestion-modules/dagster-plugin/setup.cfg
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/__init__.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/client/__init__.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/client/dagster_generator.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/datahub_dagster_plugin.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/sensors/__init__.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/sensors/datahub_sensors.py
  metadata-ingestion-modules/dagster-plugin/tests/integration/integration_test_dummy.py
  metadata-ingestion-modules/dagster-plugin/tests/unit/test_dagster.py
  metadata-ingestion-modules/dagster-plugin/tests/unit/test_dummy.py
  metadata-ingestion/developing.md
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_single_file.json
  settings.gradle
Labels: ingestion, docs, devops

#9928 fix(forms) Fix a couple of small inconsistencies with forms
  datahub-web-react/src/app/entity/dataset/profile/stats/stats/DatasetStatsSummarySubHeader.tsx
  datahub-web-react/src/app/entity/dataset/shared/DatasetStatsSummary.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StatsSummary.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/EntityInfo/EntityInfo.tsx
  datahub-web-react/src/app/onboarding/OnboardingStep.tsx
  datahub-web-react/src/app/onboarding/utils.tsx
  datahub-web-react/src/providers/EducationStepsProvider.tsx
Labels: product, merge-pending-ci

#10042 fix: exclude Elasticsearch ignore_throttled warnings from log
  datahub-upgrade/src/main/resources/logback.xml
  metadata-jobs/mae-consumer-job/src/main/resources/logback.xml
  metadata-jobs/mce-consumer-job/src/main/resources/logback.xml
  metadata-service/war/src/main/resources/logback.xml
Labels: community-contribution, devops

#10127 Update build-and-test.yml
  .github/workflows/build-and-test.yml
Labels: devops

#10129 fix(docs): fix docs build
  .github/workflows/documentation.yml
  vercel.json
Labels: devops

#10130 fix(search): respect the search flags term bucket size
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AggregationQueryBuilderTest.java
Labels: product

#10126 fix(ingestProposal): fix/handle no-op ingestion
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
Labels: product, devops

#10133 fix(ci): simplify python release process
  .github/workflows/documentation.yml
  docs-website/build.gradle
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/airflow-plugin/scripts/release.sh
  metadata-ingestion-modules/dagster-plugin/build.gradle
  metadata-ingestion-modules/dagster-plugin/scripts/release.sh
  metadata-ingestion/scripts/release.sh
  vercel.json
Labels: ingestion, devops

#10062 feat(lineage): add a parameter to allow limiting the per hop exploration of lineage search
  .github/workflows/build-and-test.yml
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityLineageResultResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/ScrollAcrossLineageResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossLineageResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/LineageFlagsInputMapper.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossLineageResolverTest.java
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/SiblingGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/EntityLineageResultCacheKey.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/GraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/dgraph/DgraphGraphServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/ESGraphQueryDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/SearchGraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/sibling/SiblingGraphServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageSearchResultCacheKeyTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageServiceTestBase.java
  metadata-io/src/test/java/io/datahubproject/test/search/SearchTestUtils.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeEventsProcessor.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/query/LineageFlags.pdl
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/OperationContext.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/SearchContext.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/search/CacheTest.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/GraphService.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/DataPlatformInstanceUtils.java
Labels: product, devops

#10080 feat(ingest/bigquery): Respect dataset and table patterns when ingesting lineage via catalog api
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
Labels: ingestion, community-contribution

#10103 feat(ingest): emit platform for query entities
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_add_known_query_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_basic_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_column_lineage_deduplication.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_multistep_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_overlapping_inserts.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_overlapping_inserts_from_temp_tables.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_rename.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_view_lineage.json
Labels: ingestion, docs, merge-pending-ci

#10141 feat(ingest): loosen pyarrow dep
  metadata-ingestion/setup.py
Labels: ingestion, merge-pending-ci

#10132 fix(ingest/dbt): respect `convert_column_urns_to_lowercase` in mapping CLL
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Labels: ingestion

#10142 chore(ingestion-base): update base requirements
  docker/datahub-ingestion-base/base-requirements.txt
Labels: devops

#9959 feat(ui): sort partition keys to the top of the table for better visibility
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTab.tsx
Labels: community-contribution, product, datahub-community-champion

#10140 fix: OBS-729 | Filters: Fix alignment on nested dropdown
  datahub-web-react/src/app/search/filters/MoreFilterOption.tsx
  datahub-web-react/src/app/search/filters/OptionsDropdownMenu.tsx
  datahub-web-react/src/app/search/filters/render/shared/BooleanMoreFilter.tsx
  datahub-web-react/src/app/search/filters/render/shared/BooleanMoreFilterMenu.tsx
  datahub-web-react/src/app/search/filters/utils.tsx
Labels: community-contribution, product

#10138 feat(ingest/dynamodb): add support for classification
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_data_reader.py
  metadata-ingestion/src/datahub/ingestion/source/common/data_reader.py
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/data_reader.py
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_data_reader.py
  metadata-ingestion/src/datahub/ingestion/source/schema_inference/object.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_data_reader.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/druid.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hana.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
  metadata-ingestion/src/datahub/ingestion/source/sql/presto_on_hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sqlalchemy_data_reader.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/tests/integration/dynamodb/dynamodb_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dynamodb/test_dynamodb.py
Labels: ingestion

#10151 feat(incidents) incident resolution note more clearly displayed
  datahub-web-react/src/app/entity/shared/tabs/Incident/components/IncidentListItem.tsx
Labels: community-contribution, product

#10149 fix(entity-client): fix entity client cache and test
  build.gradle
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hydrator/EntityHydrator.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/transformer/DataHubUsageEventTransformer.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/common/client/ClientCache.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/EntityClientCache.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/SystemEntityClient.java
  metadata-service/restli-client/build.gradle
  metadata-service/restli-client/src/test/java/com/linkedin/entity/client/SystemRestliEntityClientTest.java
Labels: devops

#10139 chore(ingest): update doc & log detail
  docs/cli.md
  metadata-ingestion/src/datahub/configuration/config_loader.py
  metadata-ingestion/src/datahub/utilities/advanced_thread_executor.py
Labels: ingestion, docs, community-contribution, merge-pending-ci

#10106 feat(ingest): loosen airflow plugin dependencies requirements
  .github/workflows/airflow-plugin.yml
  metadata-ingestion-modules/airflow-plugin/README.md
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/tests/__init__.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_airflow.py
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_packaging.py
  metadata-ingestion-modules/airflow-plugin/tests/utils.py
  metadata-ingestion-modules/airflow-plugin/tox.ini
  metadata-ingestion/developing.md
Labels: ingestion

#10115 feat(ingest): fix validators
  metadata-ingestion/src/datahub/configuration/source_common.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/openapi.py
  metadata-ingestion/src/datahub/ingestion/source_config/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source_config/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source_config/operation_config.py
  metadata-ingestion/src/datahub/ingestion/source_config/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source_config/usage/bigquery_usage.py
  metadata-ingestion/tests/unit/test_elasticsearch_source.py
  metadata-ingestion/tests/unit/test_file_lineage_source.py
  metadata-ingestion/tests/unit/test_pulsar_source.py
Labels: ingestion

#10101 feat(ingest/bigquery): improve debug logs
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_usage.py
Labels: ingestion

#10148 fix(graphQL): Ignore soft-deleted assertions in UI calls
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/EntityAssertionsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/assertion/AssertionMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/assertion/EntityAssertionsResolverTest.java
  datahub-web-react/src/graphql/dataset.graphql
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-service/restli-api/src/main/idl/com.linkedin.entity.entities.restspec.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
Labels: product, devops

#10155 fix(openapi): fix system-metadata response
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/util/MappingUtil.java
Labels: devops

#10131 add row type for athena types
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
Labels: ingestion, community-contribution

#10154 fix(setup): fix postgres setup to create temp table with no data
  docker/postgres-setup/init.sql
Labels: community-contribution, devops

#10147 feat(ingest/looker): update browse paths to align with looker UI
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/tests/integration/looker/golden_looker_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_allow_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_external_project_view_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_file_path_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_independent_look_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_joins.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_unaliased_joins.json
  metadata-ingestion/tests/integration/looker/looker_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/looker/looker_mces_usage_history.json
  metadata-ingestion/tests/integration/looker/test_looker.py
  metadata-ingestion/tests/integration/lookml/expected_output.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_bigquery.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_badsql_parser.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_deny_pattern.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
  metadata-ingestion/tests/integration/lookml/lookml_reachable_views.json
  metadata-ingestion/tests/integration/lookml/refinement_include_order_golden.json
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion

#10152 feat(ingest/airflow): allow plugin to load on listener exception
  .github/workflows/airflow-plugin.yml
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin.py
Labels: ingestion

#10047 feat(ingestion/bigquery): BigQuery Owner Label to Datahub Ownership
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/transformer/extract_ownership_from_tags.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion, community-contribution

#10144 feat(ingest): bump sqlglot dep
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Labels: ingestion

#10168 fix(openapi): fix index out of bounds for sort order
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/RelationshipController.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/Edge.java
Labels: devops

#10170 fix(search): fix field name in api
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphRelationshipMappingsBuilder.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/Edge.java
Labels: product, devops

#10171 build(docker): prefix pr on pr sha tags
  .github/actions/ci-optimization/action.yml
  .github/scripts/docker_helpers.sh
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/build.gradle
Labels: devops

#10172 Revert docker helper changes
  .github/scripts/docker_helpers.sh
Labels: devops

#10173 feat(metadata-jobs): improve consumer logging
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/update/BulkListener.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/update/ESBulkProcessor.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/DataHubUsageEventsProcessor.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeLogProcessor.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeEventsProcessor.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessor.java
  metadata-jobs/pe-consumer/src/main/java/com/datahub/event/PlatformEventProcessor.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/entity/AspectResourceTest.java
Labels: community-contribution, product
