Repository datahub-project/datahub, pull requests merged in 2024-09, with the labels that each got.

#11259 doc(acryl cloud): release notes for 0.3.5.x
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_3_5.md
Labels: docs

#10766 feat(ingest/databricks): include metadata for browse only tables
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/unity/hive_metastore_proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
Labels: ingestion, merge-pending-ci

#11294 fix(docs): fix logout url
  docs/authentication/guides/sso/configure-oidc-react.md
Labels: docs

#11188 feat(ingest): add python deps for `apk`
  docker/datahub-ingestion-base/Dockerfile
  metadata-ingestion/scripts/install_deps.sh
  smoke-test/smoke.sh
Labels: ingestion, devops, smoke_test, merge-pending-ci

#10773 fix(ingest/mssql): remove lower() method from sql_common get_db_name
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/tests/integration/oracle/golden_test_ingest_with_database.json
  metadata-ingestion/tests/integration/oracle/golden_test_ingest_with_out_database.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
  metadata-ingestion/tests/integration/vertica/vertica_mces_with_db_golden.json
Labels: ingestion, docs, community-contribution, product, devops, merge-pending-ci

#11293 feat(graphql): Lazy dataLoaders
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/LazyDataLoaderRegistry.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/SpringWebConfig.java
Labels: product

#11291 fix(bigquery): followups on bigquery queries v2 integration
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
Labels: ingestion

#11270 fix(ingest): add custom StrEnum type
  metadata-ingestion/src/datahub/api/entities/assertion/compiler_interface.py
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
  metadata-ingestion/src/datahub/configuration/time_window_config.py
  metadata-ingestion/src/datahub/ingestion/glossary/datahub_classifier.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_query_model.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/constants.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive_metastore.py
  metadata-ingestion/src/datahub/testing/check_str_enum.py
  metadata-ingestion/src/datahub/utilities/str_enum.py
  metadata-ingestion/tests/performance/data_model.py
  metadata-ingestion/tests/unit/test_packages.py
Labels: ingestion

#11302 fix(ingest/prefect): Temporary pinning Prefect 2.x until we can upgrade to 3.x
  metadata-ingestion-modules/prefect-plugin/README.md
  metadata-ingestion-modules/prefect-plugin/setup.py
Labels: ingestion

#11286 feat(ingest/athena): Add option to disable partition extraction
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
Labels: ingestion

#11299 docs(adoption): Add Inter&Co
  README.md
Labels: community-contribution

#11288 fix(api/timeline): fix corner cases missed, add tests
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGeneratorTest.java
Labels: product, merge-pending-ci

#11303 config(kafka): clean-up kafka serializer config
  datahub-frontend/app/client/KafkaTrackingProducer.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemUpdateConfig.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/DatahubUpgradeNoSchemaRegistryTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/DatahubUpgradeNonBlockingTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/KafkaConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/DataHubKafkaProducerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaEventConsumerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/schemaregistry/AwsGlueSchemaRegistryFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/schemaregistry/InternalSchemaRegistryFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/schemaregistry/KafkaSchemaRegistryFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/schemaregistry/SchemaRegistryConfig.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/schemaregistry/SystemUpdateSchemaRegistryFactory.java
Labels: product, devops

#10975 fix(ingest/protobuf): Improve String Handling for Multilingual Support in Descriptions
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/ProtobufUtils.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/ProtobufUtilsTest.java
Labels: ingestion, community-contribution

#11027 feat(ingest): Support protobuf description for enum field
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/model/ProtobufField.java
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/visitors/field/ProtobufExtensionFieldVisitor.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/model/ProtobufFieldTest.java
  metadata-integration/java/datahub-protobuf/src/test/resources/extended_protobuf/messageE.proto
  metadata-integration/java/datahub-protobuf/src/test/resources/extended_protobuf/messageE.protoc
Labels: ingestion, community-contribution

#10932 fix(search): Search not returning result if query text contains forward slash
  datahub-frontend/app/utils/SearchUtil.java
  datahub-frontend/test/utils/SearchUtilTest.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ResolverUtils.java
Labels: community-contribution, product, datahub-community-champion

#11266 feat(ingest/salesforce): helpful error messages on failure
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
Labels: ingestion

#11309 fix(search): fix regression from #10932
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/ProtobufUtils.java
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/model/ProtobufField.java
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/visitors/field/ProtobufExtensionFieldVisitor.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/ProtobufUtilsTest.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/model/ProtobufFieldTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
Labels: product

#11058 chore(vulnerability): Insecure randomness
  smoke-test/tests/cypress/cypress/e2e/mutations/dataset_ownership.js
  smoke-test/tests/cypress/cypress/e2e/mutations/ingestion_source.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managing_secrets.js
  smoke-test/tests/cypress/cypress/e2e/settings/managing_groups.js
Labels: community-contribution, smoke_test

#11285 feat(ingest/sql): add default dialect support to SqlQueriesSource
  metadata-ingestion/src/datahub/ingestion/source/sql_queries.py
Labels: ingestion, community-contribution, merge-pending-ci

#11068 fix : added support for multiple values for CONTAIN, START_WITH and END_WITH operators
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsTest.java
Labels: community-contribution, product

#11281 feat(ingest): enable query usage stats by default
  metadata-ingestion/setup.cfg
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_queries_mcps_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery_queries.py
Labels: ingestion

#11323 fix(docs): Add correct link for automations
  docs-website/sidebars.js
  docs/automations/docs-propagation.md
  docs/automations/snowflake-tag-propagation.md
Labels: docs

#11313 feat(cli): reject missing urns in `datahub get`
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/cli/get_cli.py
Labels: ingestion

#11330 fix(smoke): fix timeseries delete test's usage of `datahub get`
  smoke-test/build.gradle
  smoke-test/smoke.sh
  smoke-test/tests/cli/delete_cmd/test_timeseries_delete.py
Labels: smoke_test

#11295 feat(ingest): make rest emitter version error messages more clear
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
Labels: ingestion

#11312 docs(ingest/dbt): clarify dbt ingestion docs
  metadata-ingestion/docs/sources/dbt/README.md
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
Labels: ingestion

#11311 fix(py): fix issues with AvroException
  metadata-ingestion/setup.py
Labels: ingestion

#11230 fix(ingestion/tableau): restructure the tableau graphql datasource query
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_constant.py
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesConnection_all.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesFieldUpstream_04ed1dcc7090_all.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesFieldUpstream_1570e7f932f6_all.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesFieldUpstream_26675da44a38_all.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesFieldUpstream_69eb47587cc2_all.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesFieldUpstream_6f5f4cc0b6c6_all.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesFieldUpstream_a0fced25e056_all.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesFieldUpstream_a561c7beccd3_all.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesFieldUpstream_bda46be068e3_all.json
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesFieldUpstream_c651da2f6ad8_all.json
  metadata-ingestion/tests/integration/tableau/setup/publishedDatasourcesConnection_all.json
  metadata-ingestion/tests/integration/tableau/setup/publishedDatasourcesFieldUpstream_17139d6e97ae_all.json
  metadata-ingestion/tests/integration/tableau/setup/publishedDatasourcesFieldUpstream_8e19660bb5dd_all.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/unit/test_tableau_source.py
Labels: ingestion

#11306 fix(ingest): disable reporting for dry-run pipelines
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
Labels: ingestion

#11328 fix(version): forUpdate needed for versioning
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/cassandra/CassandraAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
Labels: product

#11332 fix(ingest): avoid sqlite "too many SQL variables" error
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
Labels: ingestion

#11331 chore(ingest): bump acryl-sqlglot
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_view_from_union.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
  metadata-ingestion/tests/unit/test_bigquery_sql_lineage.py
Labels: ingestion, merge-pending-ci

#11344 docs(oidc): document azure logout uri
  docs/authentication/guides/sso/configure-oidc-react.md
Labels: docs

#11308 feat(logging): add option to log slow GraphQL queries
  datahub-frontend/app/controllers/Application.java
  datahub-frontend/conf/application.conf
Labels: community-contribution, product

#11334 docs(ingest/dbt): add docs on hiding sources
  metadata-ingestion/docs/sources/dbt/dbt.md
Labels: ingestion

#11290 feat(mode/ingest): Add support for missing Mode datasets in lineage
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/tests/integration/mode/mode_mces_golden.json
  metadata-ingestion/tests/integration/mode/setup/dataset_24f66e1701b6.json
  metadata-ingestion/tests/integration/mode/setup/dataset_queries_24f66e1701b6.json
  metadata-ingestion/tests/integration/mode/setup/datasets_157933cc1168.json
  metadata-ingestion/tests/integration/mode/setup/datasets_75737b70402e.json
  metadata-ingestion/tests/integration/mode/setup/reports_75737b70402e.json
  metadata-ingestion/tests/integration/mode/test_mode.py
Labels: ingestion

#11304 feat(entity-service): fallback logic for aspect version
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/TransactionContext.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/cassandra/CassandraAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceTest.java
  metadata-service/openapi-servlet/src/test/java/entities/EntitiesControllerTest.java
Labels: product, devops

#11333 fix(ingest/bq): fix ordering of queries for use_queries_v2
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_lineage_via_temp_table_disordered_add.json
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
Labels: ingestion

#11255 docs(updating-datahub) Bump minor version on v0.14.0 notes
  docs/how/updating-datahub.md
Labels: docs

#11032 docs(data product): Update example and docs
  docs/dataproducts.md
  metadata-ingestion/examples/data_product/dataproduct.yaml
Labels: ingestion, docs

#11346 feat(ingest): maintain ordering in file-backed dict
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_collections.py
Labels: ingestion

#11348 config(retention): update dataHubExecutionRequestResult
  metadata-service/war/src/main/resources/boot/retention.yaml
Labels: devops

#11208 feat(grafana): Using v2 metrics update datahub dashboard
  docker/monitoring/grafana/dashboards/datahub_dashboard.json
Labels: community-contribution, devops

#11352 chore(links): add attribution
  datahub-web-react/src/app/entity/shared/propagation/PropagationDetails.tsx
  datahub-web-react/src/app/settings/features/Features.tsx
Labels: product

#11345 fix(timeline api): adding modification category
  metadata-io/src/main/java/com/linkedin/metadata/timeline/data/dataset/DatasetSchemaFieldChangeEvent.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/data/dataset/SchemaFieldModificationCategory.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGeneratorTest.java
  smoke-test/tests/openapi/v1/timeline.json
  smoke-test/tests/openapi/v2/timeline.json
Labels: product

#11223 fix(gms): filter out runs of a dataJob without any run-events
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/jobs/DataJobRunsResolver.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/BackfillDataProcessInstancesConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/dataprocessinstances/BackfillDataProcessInstances.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/dataprocessinstances/BackfillDataProcessInstancesHasRunEventsStep.java
  metadata-models/src/main/pegasus/com/linkedin/dataprocess/DataProcessInstanceRunEvent.pdl
  metadata-service/configuration/src/main/resources/application.yaml
Labels: community-contribution, product

#11353 fix(ingest): followup on bigquery queries v2 ordering
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
Labels: ingestion

#11326 chore(ingest): improve code formatting
  metadata-ingestion/src/datahub/api/circuit_breaker/assertion_circuit_breaker.py
  metadata-ingestion/src/datahub/api/circuit_breaker/circuit_breaker.py
  metadata-ingestion/src/datahub/api/entities/datacontract/datacontract.py
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
  metadata-ingestion/src/datahub/api/entities/dataproduct/dataproduct.py
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
  metadata-ingestion/src/datahub/api/entities/forms/forms.py
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  metadata-ingestion/src/datahub/api/graphql/base.py
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/filters.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/confluent_schema_registry.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_tests.py
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_source.py
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/ldap.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_query_model.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_usage.py
  metadata-ingestion/src/datahub/ingestion/source/looker/str_functions.py
  metadata-ingestion/src/datahub/ingestion/source/looker/view_upstream.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server.py
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/qlik_sense.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/usage.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/src/datahub/ingestion/source/sac/sac.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/unity/analyze_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_dataproduct.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_schema_terms.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_terms.py
  metadata-ingestion/src/datahub/ingestion/transformer/base_transformer.py
  metadata-ingestion/src/datahub/ingestion/transformer/extract_ownership_from_tags.py
  metadata-ingestion/src/datahub/ingestion/transformer/generic_aspect_transformer.py
  metadata-ingestion/src/datahub/upgrade/upgrade.py
  metadata-ingestion/src/datahub/utilities/mapping.py
  metadata-ingestion/src/datahub/utilities/ratelimiter.py
  metadata-ingestion/src/datahub/utilities/sql_lineage_parser_impl.py
  metadata-ingestion/tests/integration/s3/test_s3.py
  metadata-ingestion/tests/performance/bigquery/bigquery_events.py
  metadata-ingestion/tests/performance/data_generation.py
  metadata-ingestion/tests/performance/databricks/unity_proxy_mock.py
  metadata-ingestion/tests/unit/api/source_helpers/test_incremental_lineage_helper.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#11324 chore(py): cleanup python CI
  .github/workflows/airflow-plugin.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/prefect-plugin.yml
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/dagster-plugin/build.gradle
  metadata-ingestion-modules/gx-plugin/build.gradle
  metadata-ingestion-modules/prefect-plugin/build.gradle
Labels: ingestion, devops

#11279 feat(search): search query rewriter
  datahub-graphql-core/src/main/resources/search.graphql
  entity-registry/src/main/java/com/linkedin/metadata/aspect/GraphRetriever.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESBrowseDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/filter/BaseQueryFilterRewriter.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/filter/ContainerExpansionRewriter.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/filter/DomainExpansionRewriter.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/filter/QueryFilterRewriteChain.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/filter/QueryFilterRewriter.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/filter/QueryFilterRewriterContext.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/filter/QueryFilterRewriterSearchType.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/query/ESAggregatedStatsDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/SearchServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/TestEntityTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/MappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/BrowseDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/SearchDAOTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/filter/ContainerExpansionRewriterTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/filter/DomainExpansionRewriterTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AutocompleteRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/TestSearchFieldConfig.java
  metadata-io/src/test/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceUnitTest.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SampleDataFixtureConfiguration.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SearchLineageFixtureConfiguration.java
  metadata-io/src/test/java/io/datahubproject/test/search/config/SearchCommonTestConfiguration.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLSpringCommonTestConfiguration.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/query/SearchFlags.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/query/filter/Condition.pdl
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/DataHubAppConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/QueryFilterRewriterConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/SearchServiceConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/filter/QueryFilterRewriterChainFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/ElasticSearchTimeseriesAspectServiceFactory.java
  metadata-service/restli-api/src/main/snapshot/com.linkedin.analytics.analytics.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
  metadata-service/services/src/main/java/com/linkedin/metadata/search/utils/QueryUtils.java
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
Labels: ingestion, product, devops

#11325 feat(throttle): extend throttling to API requests
  datahub-upgrade/src/main/resources/application.properties
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/UpgradeCliApplicationTest.java
  docs/authorization/policies.md
  docs/deploy/environment-vars.md
  lombok.config
  metadata-dao-impl/kafka-producer/src/main/java/com/datahub/metadata/dao/throttle/KafkaThrottleSensor.java
  metadata-dao-impl/kafka-producer/src/test/java/com/datahub/metadata/dao/throttle/KafkaThrottleSensorTest.java
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/dao/throttle/APIThrottle.java
  metadata-io/src/main/java/com/linkedin/metadata/dao/throttle/APIThrottleException.java
  metadata-io/src/main/java/com/linkedin/metadata/dao/throttle/NoOpSensor.java
  metadata-io/src/main/java/com/linkedin/metadata/dao/throttle/ThrottleControl.java
  metadata-io/src/main/java/com/linkedin/metadata/dao/throttle/ThrottleEvent.java
  metadata-io/src/main/java/com/linkedin/metadata/dao/throttle/ThrottleSensor.java
  metadata-io/src/main/java/com/linkedin/metadata/dao/throttle/ThrottleType.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/dao/throttle/APIThrottleTest.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessor.java
  metadata-operation-context/src/main/java/io/datahubproject/test/metadata/context/TestOperationContexts.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/MetadataChangeProposalConfig.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/CacheConfig.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/EntityServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/throttle/ManualThrottleSensor.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/throttle/KafkaThrottleFactory.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/GlobalControllerExceptionHandler.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/throttle/ThrottleController.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/BatchIngestionRunResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityV2Resource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityVersionedV2Resource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/lineage/Relationships.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/OperationsResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/platform/PlatformResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/restli/RestliUtils.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
  metadata-utils/src/main/java/com/linkedin/metadata/restli/RestliUtil.java
Labels: docs, product, devops

#11365 feat: slack section web UI
  docs-website/src/pages/_components/Community/community.module.scss
  docs-website/src/pages/_components/Community/index.js
  docs-website/static/img/slack/Crown.png
  docs-website/static/img/slack/slack-community-user-1.png
  docs-website/static/img/slack/slack-community-user-2.png
  docs-website/static/img/slack/slack-community-user-3.png
  docs-website/static/img/slack/slack-community-user-4.png
  docs-website/static/img/slack/slack-community-user-5.png
  docs-website/static/img/slack/slack-community-user-6.png
Labels: community-contribution

#11004 Fix: bug fix for empty key values pair in elastic search mapping
  metadata-io/src/main/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformer.java
  metadata-io/src/test/java/com/linkedin/metadata/TestEntityUtil.java
  metadata-io/src/test/java/com/linkedin/metadata/extractor/FieldExtractorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformerTest.java
Labels: community-contribution, product

#11335 feat(ingest): make default rest sink mode env-configurable
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion, merge-pending-ci

#11373 fix(NPE): fix NPE in EntityService
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
Labels: product

#11314 feat(ingest/dbt): add `only_include_if_in_catalog` flag for dbt core
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
Labels: ingestion

#11377 chore(actions): bump actions version in docker profiles
  docker/profiles/docker-compose.actions.yml
Labels: devops

#11385 fix(ingest/nifi): add error handling for version
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
Labels: ingestion

#11378 fix(XServiceProvider): fix ebean framework race condition
  .github/workflows/docker-unified.yml
  docker/datahub-ingestion-base/Dockerfile
  metadata-jobs/mce-consumer-job/src/main/java/com/linkedin/metadata/restli/RestliServletConfig.java
  metadata-service/auth-filter/src/main/java/com/datahub/auth/authentication/filter/AuthenticationFilter.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/OnBootApplicationListener.java
  metadata-service/factories/src/main/java/com/linkedin/restli/server/RAPServletFactory.java
  metadata-service/factories/src/main/java/com/linkedin/restli/server/RestliHandlerServlet.java
  metadata-service/war/src/main/java/com/linkedin/gms/WebApplicationInitializer.java
  metadata-service/war/src/main/java/com/linkedin/gms/servlet/RestliServletConfig.java
Labels: devops

#11380 fix(docs): clarify clean-up of indices when restoring search and graph indices
  docs/how/restore-indices.md
Labels: docs, community-contribution

#11329 feat(ingest): report ingest run for sample data
  metadata-ingestion/src/datahub/cli/docker_cli.py
Labels: ingestion, merge-pending-ci

#11379 fix(ebean): upgrade ebean library
  build.gradle
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocode/CreateAspectTableStep.java
  metadata-integration/java/acryl-spark-lineage/scripts/check_jar.sh
  metadata-integration/java/datahub-protobuf/scripts/check_jar.sh
  metadata-integration/java/spark-lineage-legacy/scripts/check_jar.sh
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectV1.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectV2.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoTest.java
Labels: product

#11384 fix(ingest/snowflake): Update snowflake_utils.py to account for iceberg tables
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
Labels: ingestion, community-contribution

#11369 feat(ingest): default to ASYNC_BATCH mode in datahub-rest sink
  docs/how/updating-datahub.md
  metadata-ingestion/sink_docs/datahub.md
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/utilities/partition_executor.py
  metadata-ingestion/tests/unit/test_pipeline.py
  metadata-ingestion/tests/unit/utilities/test_partition_executor.py
Labels: ingestion, docs

#11026 feat(graphql): Support START_WITH and END_WITH operator in GraphQL API
  datahub-graphql-core/src/main/resources/search.graphql
Labels: community-contribution, product

#11395 refactor(search): refactor field type detection
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ResolverUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/AssertionRunEventResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/auth/ListAccessTokensResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/chart/BrowseV2Resolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/ListDataProductAssetsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/DomainEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/form/CreateDynamicFormAssignmentResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/source/ListIngestionSourcesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/TimeSeriesAspectResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/FormUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ownership/ListOwnershipTypesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/policy/ListPoliciesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/query/ListQueriesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/recommendation/ListRecommendationsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/AggregateAcrossEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/AutoCompleteResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/AutocompleteUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/ScrollAcrossEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/ScrollAcrossLineageResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossLineageResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/view/ListGlobalViewsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/view/ListMyViewsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/view/ViewUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ResolverUtilsTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/auth/ListAccessTokensResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/browse/BrowseV2ResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/query/ListQueriesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/AggregateAcrossEntitiesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossEntitiesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/view/CreateViewResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/view/ListGlobalViewsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/view/ListMyViewsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/view/UpdateViewResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/view/ViewUtilsTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/EntityIndexBuilders.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/MappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESBrowseDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/MappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-io/src/test/java/io/datahubproject/test/search/SearchTestUtils.java
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
Labels: product, devops

#11359 fix(ingest): override setdefault in file-backed dict
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
Labels: ingestion

#11371 fix(ingest/airflow): simplify env configuration
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_snowflake_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion/src/datahub/api/entities/datajob/dataflow.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
Labels: ingestion, merge-pending-ci

#11300 fix(airflow): added support for jinja template for datahub emitter operator
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/operators/datahub.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/datahub_emitter_operator_jinja_template_dag.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_datahub_emitter_operator_jinja_template_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_datahub_emitter_operator_jinja_template_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
Labels: ingestion

#11405 fix(smoke-test): add wait for sync to smoke-test
  smoke-test/tests/tokens/revokable_access_token_test.py
Labels: smoke_test

#11406 fix(customSearch): apply query string interpolation to function score
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/CustomizedQueryHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/CustomizedQueryHandlerTest.java
Labels: product

#11401 fix(docs): Fix typo in bigquery permissions error
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
Labels: ingestion, merge-pending-ci

#11102 feat(ingest/gc): Add dataflow and soft deleted entities cleanup
  metadata-ingestion/docs/sources/gc/gc_recipe.dhub.yml
  metadata-ingestion/src/datahub/ingestion/source/gc/datahub_gc.py
  metadata-ingestion/src/datahub/ingestion/source/gc/dataprocess_cleanup.py
  metadata-ingestion/src/datahub/ingestion/source/gc/soft_deleted_entity_cleanup.py
Labels: ingestion

#11413 feat(ingest/gc): Add dry run mode to gc recipe
  metadata-ingestion/docs/sources/gc/gc_recipe.dhub.yml
  metadata-ingestion/src/datahub/ingestion/source/gc/datahub_gc.py
  metadata-ingestion/src/datahub/ingestion/source/gc/dataprocess_cleanup.py
  metadata-ingestion/src/datahub/ingestion/source/gc/soft_deleted_entity_cleanup.py
Labels: ingestion

#11408 chore(docs): update release notes v0.14.1
  docs/how/updating-datahub.md
Labels: docs

#11272 Advance search - Added case sensitive flag for wildcard searches
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsTest.java
Labels: community-contribution, product

#11386 fix(changeGenerator): fixes schema change generator corner cases v2
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGeneratorTest.java
  smoke-test/tests/openapi/v2/timeline.json
Labels: product

#11419 feat(structuredProps) Add created and lastModified timestamps to structured prop entity
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/CreateStructuredPropertyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpdateStructuredPropertyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/MapperUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/structuredproperty/StructuredPropertyMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/main/resources/properties.graphql
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/builder/StructuredPropertyDefinitionPatchBuilder.java
  metadata-models/src/main/pegasus/com/linkedin/structured/StructuredPropertyDefinition.pdl
Labels: product

#11420 feat(docs-site) tours to open in a modal
  docs-website/src/pages/_components/CaseStudy/case-study.module.scss
  docs-website/src/pages/_components/Community/index.js
  docs-website/src/pages/_components/Hero/hero.module.scss
  docs-website/src/pages/_components/Hero/index.js
  docs-website/src/pages/_components/Trial/index.js
  docs-website/src/pages/_components/Trial/trial.module.scss
  docs-website/src/pages/cloud/UnifiedTabs/index.js
  docs-website/src/pages/index.js
  docs-website/src/styles/global.scss
Labels: community-contribution

#11407 test(ingest/mcp_diff): Fallback to overwriting file on more complicated diffs
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_datahub_emitter_operator_jinja_template_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_datahub_emitter_operator_jinja_template_dag_no_dag_listener.json
  metadata-ingestion/src/datahub/testing/compare_metadata_json.py
  metadata-ingestion/src/datahub/testing/mcp_diff.py
Labels: ingestion, merge-pending-ci

#11425 feat(ingest): add `get_entity_as_mcps` method to client
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion

#11421 fix(siblings) Combine siblings in embedded search results
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchResults.tsx
Labels: product

#11424 fix(structuredProps) Fix adding new allowed types in updateStructuredProp endpoint
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpdateStructuredPropertyResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpdateStructuredPropertyResolverTest.java
Labels: product

#11434 fix(graphql/getDataset): Do not fetch parent for schema fields
  datahub-web-react/src/graphql/fragments.graphql
Labels: product

#11433 fix(ingest/dbt): handle null index values
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion

#11350 fix(ingest/dbt): fix dbt catalog version check
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
Labels: ingestion, merge-pending-ci

#11441 Add STARTS_WITH policy condition to allow for URN-wildcard-based policies
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/permissions/policy/PolicyDetailsModal.tsx
  datahub-web-react/src/app/permissions/policy/policyUtils.ts
  metadata-models/src/main/pegasus/com/linkedin/policy/PolicyMatchCondition.pdl
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/PolicyEngine.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/PolicyEngineTest.java
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: community-contribution, product, devops

#11430 fix(SearchDocumentTransformer): Use correct variable to update ES
  metadata-io/src/main/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformer.java
Labels: community-contribution, product

#11444 fix(search): restore prefix phrase match on quoted search
  docker/profiles/docker-compose.gms.yml
  docs/how/search.md
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/SampleDataFixtureSetupTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/SampleDataFixtureTestBase.java
  metadata-io/src/test/resources/search_config_fixture_test.yml
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/custom/CustomSearchConfiguration.java
  metadata-service/configuration/src/main/resources/search_config.yaml
Labels: docs, devops

#11447 fix(oidc): apply acr values to redirect url
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcClient.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcRedirectionActionBuilder.java
Labels: product

#11440 refactor(ui/lineage): Replace FetchedEntities Object with Map
  datahub-web-react/src/app/lineage/LineageEntityEdge.tsx
  datahub-web-react/src/app/lineage/LineageExplorer.tsx
  datahub-web-react/src/app/lineage/LineageTree.tsx
  datahub-web-react/src/app/lineage/LineageTreeNodeAndEdgeRenderer.tsx
  datahub-web-react/src/app/lineage/LineageVizInsideZoom.tsx
  datahub-web-react/src/app/lineage/LineageVizRootSvg.tsx
  datahub-web-react/src/app/lineage/__tests__/LineageTree.test.tsx
  datahub-web-react/src/app/lineage/__tests__/adjustVXTreeLayout.test.tsx
  datahub-web-react/src/app/lineage/__tests__/constructTree.test.ts
  datahub-web-react/src/app/lineage/types.ts
  datahub-web-react/src/app/lineage/utils/__tests__/columnLineageUtils.test.tsx
  datahub-web-react/src/app/lineage/utils/__tests__/extendAsyncEntities.test.ts
  datahub-web-react/src/app/lineage/utils/columnLineageUtils.ts
  datahub-web-react/src/app/lineage/utils/constructFetchedNode.ts
  datahub-web-react/src/app/lineage/utils/constructTree.ts
  datahub-web-react/src/app/lineage/utils/extendAsyncEntities.ts
  datahub-web-react/src/app/lineage/utils/useSortColumnsBySelectedField.ts
Labels: product

#11422 feat(ingest/sink): report datahub-rest sink mode
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
Labels: ingestion

#11423 docs(ingest): add docs on pydantic compatibility
  docs/cli.md
  metadata-ingestion/developing.md
Labels: ingestion, docs

#11445 chore: use unique docker log artifact names
  .github/workflows/docker-unified.yml
Labels: devops

#11448 test(graphql): fix searchFlags in searchAcrossLineage
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/ScrollAcrossLineageResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/ScrollAcrossLineageResolverTest.java
Labels: product

#11393 Update pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: community-contribution, devops

#11390 fix(docs): fix layout in documentation after #11380
  docs/how/restore-indices.md
Labels: docs, community-contribution

#11403 Group Modal Css fix
  datahub-web-react/src/app/entity/group/AddGroupMembersModal.tsx
Labels: community-contribution, product

#11456 config(reindex): create reindex timeout configuration
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchIndexBuilderFactory.java
Labels: product, devops

#11343 fix(ingest): sort by last modified not working in the UI
  metadata-ingestion/src/datahub/ingestion/api/auto_work_units/__init__.py
  metadata-ingestion/src/datahub/ingestion/api/auto_work_units/auto_dataset_properties_aspect.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_lineage_usage_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_queries_mcps_golden.json
  metadata-ingestion/tests/integration/delta_lake/delta_lake_minio_mces_golden.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_allow_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_inner_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_relative_path.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_single_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_tables_with_nested_datatypes.json
  metadata-ingestion/tests/integration/mode/mode_mces_golden.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_exclude.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_no_partition_glob.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_keyval.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_update_schema.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_update_schema_with_partition_autodetect.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_with_partition_autodetect_traverse_all.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_folder_partition_with_partition_autodetect_traverse_min_max.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_multiple_specs_of_different_buckets.json
  metadata-ingestion/tests/integration/s3/golden-files/local/golden_mces_single_file.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_inference_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_exclude.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_glob.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_update_schema_with_partition_autodetect.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_with_partition_autodetect_traverse_all.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_with_partition_autodetect_traverse_min_max.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_specs_of_different_buckets.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_single_file.json
  metadata-ingestion/tests/integration/s3/test_s3.py
  metadata-ingestion/tests/integration/salesforce/salesforce_mces_golden.json
  metadata-ingestion/tests/unit/api/source_helpers/test_source_helpers.py
Labels: ingestion

#11454 feat(data-contracts): support custom assertions in the data contracts builder
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/utils.tsx
Labels: community-contribution, product

#11449 fix(ingest/sqlglot): Make detach_ctes more robust
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
Labels: ingestion

#11245 fix(ingest/mode): add connection timeouts to avoid RemoteDisconnected errors
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/tests/integration/mode/test_mode.py
Labels: ingestion

#11461 build(yarn): increase yarn timeout and version bump
  build.gradle
  datahub-web-react/build.gradle
  docs-website/build.gradle
  smoke-test/build.gradle
Labels: product, smoke_test

#11460 fix(ingest/dbt): allow custom owner types for dbt meta
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Labels: ingestion

#11464 doc: fix typo
  docs/automations/docs-propagation.md
Labels: docs

#11432 fix(ingest): do not cache temporary tables schema resolvers
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Labels: ingestion

#11466 fix(structuredProps) Allow upserting structured props on schema fields that don't exist
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpsertStructuredPropertiesResolver.java
Labels: product

#11450 feat(ingest/dbt): speed up dbt CLL with node_name_patterns
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Labels: ingestion

#11451 feat(ingest/dbt): produce multiple assertions for multi-table dbt tests
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_prefer_sql_parser_lineage_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_test_model_performance_golden.json
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: ingestion

#11477 feat(ingest): add `git` to ingestion-base image
  docker/datahub-ingestion-base/Dockerfile
Labels: devops

#11469 fix(ingest): include platform instance in looker usage urns
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_usage.py
Labels: ingestion

#10980 fix(ingest/openapi): update recipe for DataHub OpenAPI with url_complement and bearer token
  metadata-ingestion/docs/sources/openapi/openapi_recipe.yml
Labels: ingestion, merge-pending-ci

#11284 docs(aws): Update AWS docs to keep consistency with Docker docs
  docs/deploy/aws.md
Labels: docs, community-contribution, merge-pending-ci

#11488 feat: CTA to live demos in cloud section and a few more case studies on home
  docs-website/docusaurus.config.js
  docs-website/src/pages/_components/CaseStudy/caseStudyContent.js
  docs-website/src/pages/cloud/index.js
  docs-website/src/pages/cloud/styles.module.scss
  docs-website/static/img/logos/companies/miro.png
Labels: community-contribution

#11463 fix(ingest/bq): do not query PARTITIONS for biglake tables
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_test_connection.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#11480 feat(ingest/databricks): add usage perf report
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
  metadata-ingestion/tests/performance/databricks/test_unity.py
  metadata-ingestion/tests/performance/databricks/unity_proxy_mock.py
Labels: ingestion

#10855 feat(ingestion/tableau): introduce project_path_pattern
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/integration/tableau/tableau_project_path_pattern_allow_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_project_path_pattern_deny_mces_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion, community-contribution, merge-pending-ci

#11138 docs(ingest/dbt): update run result paths examples
  metadata-ingestion/docs/sources/dbt/dbt.md
  metadata-ingestion/docs/sources/dbt/dbt_recipe.yml
  metadata-ingestion/tests/integration/dbt/test_dbt.py
Labels: ingestion

#11476 feat(ingest): support `DATAHUB_INCLUDE_ENV_IN_CONTAINER_PROPERTIES`
  metadata-ingestion/src/datahub/configuration/source_common.py
  metadata-ingestion/src/datahub/emitter/enum_helpers.py
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/tests/unit/test_codegen.py
Labels: ingestion

#11337 feat(auth) - Manage Children Glossary term authorization check for Owner, Domain, Remove link
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/SetDomainResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/UnsetDomainResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/AddRelatedTermsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/DeleteGlossaryEntityResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/RemoveRelatedTermsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/AddLinkResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/AddOwnerResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/AddOwnersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchAddOwnersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchRemoveOwnersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchSetDomainResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/RemoveLinkResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/RemoveOwnerResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateNameResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/DomainUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/GlossaryUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/OwnerUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/BatchSetDomainResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/owner/AddOwnersResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/owner/BatchAddOwnersResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/owner/BatchRemoveOwnersResolverTest.java
Labels: community-contribution, product

#11489 fix(ingest/dagster): Fixing path to the dagster logo
  docs/lineage/openlineage.md
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: docs, devops, merge-pending-ci

#11495 docker(config): Update docker profiles
  docker/profiles/docker-compose.gms.yml
Labels: devops

#11497 fix(docs): fix form type
  docs/api/tutorials/forms.md
Labels: docs, community-contribution

#11485 fix(fragments.graphql): values is a correct parameter for FacetFilterInput
  datahub-web-react/src/graphql/fragments.graphql
Labels: community-contribution, product

#11496 feat: made datahub home page colors more consistent
  docs-website/src/pages/_components/Community/community.module.scss
  docs-website/src/pages/_components/Ecosystem/ecosystem.module.scss
  docs-website/src/pages/_components/Ecosystem/index.js
  docs-website/src/pages/_components/QuickstartContent/index.js
  docs-website/src/pages/_components/QuickstartContent/quickstartcontent.module.scss
  docs-website/src/pages/_components/SocialMedia/index.js
  docs-website/src/pages/_components/SocialMedia/socialmedia.module.scss
  docs-website/src/pages/_components/Trial/index.js
  docs-website/src/pages/_components/Trial/trial.module.scss
  docs-website/static/img/datahub-architechture-diagram.png
  docs-website/static/img/datahub-architechture-diagram.svg
Labels: community-contribution

#11492 fix(ingest/bigquery): optimise queries v2 session processing
  metadata-ingestion/src/datahub/sql_parsing/schema_resolver.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
Labels: ingestion, merge-pending-ci

#11475 feat(ingest/elasticsearch): add api_key auth
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
Labels: ingestion, community-contribution, merge-pending-ci

#11504 fix(doc): Update the documentation for Timeline API
  docs/dev-guides/timeline.md
Labels: docs

#11494 chore(cleanup): remove legacy bootstrap step
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/boot/MCLBootstrapManagerFactory.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/boot/MCPBootstrapManagerFactory.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/factories/BootstrapManagerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/BackfillBrowsePathsV2Step.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/UpgradeDefaultBrowsePathsStep.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/BackfillBrowsePathsV2StepTest.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/IngestEntityTypesStepTest.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/UpgradeDefaultBrowsePathsStepTest.java
Labels: devops
