Repository datahub-project/datahub, pull requests merged in 2024-05, with the labels that each got.

#10404 feat(graphql): Improve logging of GraphQL requests
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/GraphQLController.java
  metadata-service/war/src/main/resources/logback.xml
Labels: community-contribution, devops

#10409 fix(ingest): map bigquery nested types properly
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/utilities/hive_schema_to_avro.py
Labels: ingestion, merge-pending-ci

#10382 fix(ingestion/looker): fix lineage for dimension group column
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/looker/test_looker.py
  metadata-ingestion/tests/integration/lookml/expected_output.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_bigquery.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_badsql_parser.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_deny_pattern.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
  metadata-ingestion/tests/integration/lookml/refinement_include_order_golden.json
  metadata-ingestion/tests/integration/lookml/refinements_ingestion_golden.json
Labels: ingestion

#10412 docs(apis): Update datahub-apis.md to add link to search example
  docs/api/datahub-apis.md
Labels: docs

#10420 feat(graphql): log query name if operation name is not provided
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/GraphQLController.java
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/SpringQueryContext.java
Labels: community-contribution, devops

#10419 DynamoDB IAM auth
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/dynamodb/dynamodb_pre.md
  metadata-ingestion/docs/sources/dynamodb/dynamodb_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/tests/integration/dynamodb/test_dynamodb.py
Labels: ingestion

#10386 fix(ingest/bigquery): Fixing double sanitization of urns
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
Labels: ingestion

#10398 fix(ingestion/transformer): new transformer to clean user URN for DatasetUsageStatistics aspect
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_transformer.py
  metadata-ingestion/src/datahub/ingestion/transformer/pattern_cleanup_dataset_usage_user.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#10422 feat(search): allow overriding case-sensitivity to zero
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
Labels: product

#10363 fix(ci): add labeled to list of pr types for ci
  .github/workflows/docker-unified.yml
Labels: devops

#10411 docs(ingest): update datahub sink doc to include an acryl example
  metadata-ingestion/sink_docs/datahub.md
Labels: ingestion

#10425 feat(ui) Support rich text for form descriptions
  datahub-web-react/src/app/entity/shared/entityForm/Form.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/Editor.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/EditorTheme.tsx
Labels: product

#10428 feat(auth): improve authentication flow logging
  datahub-frontend/app/auth/sso/oidc/OidcCallbackLogic.java
  datahub-frontend/app/client/AuthServiceClient.java
  datahub-frontend/app/controllers/AuthenticationController.java
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
Labels: community-contribution, product, devops

#10429 feat(upgrade): common base for mcl upgrades
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/ReindexDataJobViaNodesCLLConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/AbstractMCLStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/vianodes/ReindexDataJobViaNodesCLL.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/vianodes/ReindexDataJobViaNodesCLLStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/DatahubUpgradeNonBlockingTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/restoreindices/RestoreIndicesArgs.java
Labels: devops

#10438 fix(docker): use distinct empty env files
  docker/profiles/docker-compose.actions.yml
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/profiles/empty.env
  docker/profiles/empty2.env
Labels: devops

#10430 feat(ingest/snowflake): use system sampling on very large tables
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
Labels: ingestion

#10431 fix(ingest/bigquery): remove last modified timestamp fallback
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/tests/integration/mysql/docker-compose.yml
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion, merge-pending-ci

#10399 feat(cli): cache sql parsing intermediates
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
Labels: ingestion, merge-pending-ci

#10414 fix(changeEvents): add description-parameter to the change-event of a schemaField-description
  docs/managed-datahub/datahub-api/entity-events-api.md
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EditableSchemaMetadataChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/EntityChangeEventGeneratorHookTest.java
Labels: docs, community-contribution, product

#10424 feat(ci): add linting for cypress tests
  .github/workflows/docker-unified.yml
  smoke-test/build.gradle
  smoke-test/tests/cypress/.eslintrc.js
  smoke-test/tests/cypress/cypress.config.js
  smoke-test/tests/cypress/cypress/e2e/analytics/analytics.js
  smoke-test/tests/cypress/cypress/e2e/auto_complete/auto_complete.js
  smoke-test/tests/cypress/cypress/e2e/browse/browseV2.js
  smoke-test/tests/cypress/cypress/e2e/businessAttribute/attribute_mutations.js
  smoke-test/tests/cypress/cypress/e2e/businessAttribute/businessAttribute.js
  smoke-test/tests/cypress/cypress/e2e/domains/nested_domains.js
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary.js
  smoke-test/tests/cypress/cypress/e2e/glossary/glossaryTerm.js
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary_navigation.js
  smoke-test/tests/cypress/cypress/e2e/home/home.js
  smoke-test/tests/cypress/cypress/e2e/lineage/download_lineage_results.js
  smoke-test/tests/cypress/cypress/e2e/lineage/impact_analysis.js
  smoke-test/tests/cypress/cypress/e2e/lineage/lineage_column_level.js
  smoke-test/tests/cypress/cypress/e2e/lineage/lineage_column_path.js
  smoke-test/tests/cypress/cypress/e2e/lineage/lineage_graph.js
  smoke-test/tests/cypress/cypress/e2e/login/login.js
  smoke-test/tests/cypress/cypress/e2e/ml/feature_table.js
  smoke-test/tests/cypress/cypress/e2e/ml/model.js
  smoke-test/tests/cypress/cypress/e2e/mutations/add_users.js
  smoke-test/tests/cypress/cypress/e2e/mutations/dataset_health.js
  smoke-test/tests/cypress/cypress/e2e/mutations/dataset_ownership.js
  smoke-test/tests/cypress/cypress/e2e/mutations/deprecations.js
  smoke-test/tests/cypress/cypress/e2e/mutations/domains.js
  smoke-test/tests/cypress/cypress/e2e/mutations/edit_documentation.js
  smoke-test/tests/cypress/cypress/e2e/mutations/ingestion_source.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managed_ingestion.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managing_secrets.js
  smoke-test/tests/cypress/cypress/e2e/mutations/mutations.js
  smoke-test/tests/cypress/cypress/e2e/operations/operations.js
  smoke-test/tests/cypress/cypress/e2e/ownership/manage_ownership.js
  smoke-test/tests/cypress/cypress/e2e/query/query_tab.js
  smoke-test/tests/cypress/cypress/e2e/schema_blame/schema_blame.js
  smoke-test/tests/cypress/cypress/e2e/search/query_and_filter_search.js
  smoke-test/tests/cypress/cypress/e2e/search/search.js
  smoke-test/tests/cypress/cypress/e2e/search/searchFilters.js
  smoke-test/tests/cypress/cypress/e2e/settings/homePagePost.js
  smoke-test/tests/cypress/cypress/e2e/settings/manage_access_tokens.js
  smoke-test/tests/cypress/cypress/e2e/settings/manage_policies.js
  smoke-test/tests/cypress/cypress/e2e/settings/managing_groups.js
  smoke-test/tests/cypress/cypress/e2e/siblings/siblings.js
  smoke-test/tests/cypress/cypress/e2e/task_runs/task_runs.js
  smoke-test/tests/cypress/cypress/e2e/views/manage_views.js
  smoke-test/tests/cypress/cypress/e2e/views/view_select.js
  smoke-test/tests/cypress/cypress/plugins/index.js
  smoke-test/tests/cypress/cypress/support/commands.js
  smoke-test/tests/cypress/cypress/support/e2e.js
  smoke-test/tests/cypress/cypress_dbt_data.json
  smoke-test/tests/cypress/data.json
  smoke-test/tests/cypress/package.json
  smoke-test/tests/cypress/yarn.lock
Labels: smoke_test

#10433 feat(spark/openlineage): Openlineage 1.13.1 upgrade
  build.gradle
  docs-website/filterTagIndexes.json
  docs-website/sidebars.js
  docs-website/static/img/logos/platforms/dagster.svg
  docs/lineage/openlineage.md
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-client/src/main/java/datahub/client/MetadataResponseFuture.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/rest/DatahubHttpRequestRetryStrategy.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/rest/RestEmitter.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/rest/RestEmitterConfig.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/rest/RestEmitterTest.java
  metadata-integration/java/datahub-event/build.gradle
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageToDataHub.java
  metadata-integration/java/spark-lineage-beta/README.md
  metadata-integration/java/spark-lineage-beta/build.gradle
  metadata-integration/java/spark-lineage-beta/src/main/java/datahub/spark/DatahubEventEmitter.java
  metadata-integration/java/spark-lineage-beta/src/main/java/datahub/spark/DatahubSparkListener.java
  metadata-integration/java/spark-lineage-beta/src/main/java/datahub/spark/conf/SparkConfigParser.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/lifecycle/OpenLineageRunEventBuilder.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/lifecycle/plan/LogicalRelationDatasetBuilder.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/util/PathUtils.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/util/PlanUtils.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/util/RemovePathPatternUtils.java
  metadata-integration/java/spark-lineage-beta/src/test/resources/ol_events/sample_spark.json
  metadata-integration/java/spark-lineage/build.gradle
Labels: ingestion

#10279 fix(ingest/snowflake): add more reporting for usage aggregation, handle lineage errors
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/performance/README.md
  metadata-ingestion/tests/performance/bigquery/test_bigquery_usage.py
  metadata-ingestion/tests/performance/databricks/test_unity.py
  metadata-ingestion/tests/performance/helpers.py
  metadata-ingestion/tests/performance/snowflake/__init__.py
  metadata-ingestion/tests/performance/snowflake/test_snowflake.py
  metadata-ingestion/tests/performance/sql/test_sql_formatter.py
Labels: ingestion

#10450 remove value from aspect request schemas
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
Labels: community-contribution, devops

#10284 fix(ingest/mode): Improve query lineage
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/utilities/lossy_collections.py
  metadata-ingestion/tests/integration/mode/mode_mces_golden.json
  metadata-ingestion/tests/integration/mode/setup/queries.json
  metadata-ingestion/tests/integration/mode/test_mode.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_unnamed_column_udf.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion

#10447 feat(ingest): add actorUrn for ingestion through UI
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/IngestionResolverUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateIngestionExecutionRequestResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/CreateTestConnectionRequestResolver.java
  datahub-graphql-core/src/main/resources/ingestion.graphql
  datahub-web-react/src/graphql/ingestion.graphql
  metadata-models/src/main/pegasus/com/linkedin/execution/ExecutionRequestInput.pdl
Labels: product, merge-pending-ci

#10421 fix(ingestion/airflow-plugin): warning log for non-materialized iolets
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
Labels: ingestion

#10446 fix(ingestion/salesforce): handle the label with none value scenario
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/tests/integration/salesforce/mock_files/account_fields_soql_response.json
  metadata-ingestion/tests/integration/salesforce/salesforce_mces_golden.json
Labels: ingestion

#10445 fix(ingestion): Explicitly set requirement on snowflake-connector-python to be newer or equal to 3.4.0
  metadata-ingestion/setup.py
Labels: ingestion, community-contribution, merge-pending-ci, datahub-community-champion

#10451 perf(ingest): speed up urn encode happy path
  metadata-ingestion/src/datahub/utilities/urn_encoder.py
Labels: ingestion

#9874 feat(ingest/tableau): Fetch Upstreams From Columns
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/tests/integration/tableau/setup/embeddedDatasourcesConnection_all.json
  metadata-ingestion/tests/integration/tableau/tableau_cll_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_extract_all_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/tableau/tableau_nested_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_signout_timeout_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion, community-contribution

#10405 docs(ingest): fix typos and clarify ingestion recipe docs
  metadata-ingestion/cli-ingestion.md
Labels: ingestion, community-contribution, merge-pending-ci

#10463 Adding nullable to open api models
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
Labels: community-contribution, devops

#10449 fix(patch): update json patch library
  build.gradle
  entity-registry/build.gradle
  entity-registry/src/main/java/com/linkedin/metadata/aspect/batch/PatchMCP.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/GenericJsonPatch.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/AspectTemplateEngine.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/CompoundKeyTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/Template.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/TemplateUtil.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/common/GenericPatchTemplate.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/patch/template/ChartInfoTemplateTest.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/patch/template/DashboardInfoTemplateTest.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/patch/template/UpstreamLineageTemplateTest.java
  entity-registry/src/test/resources/patch/large_upstream_lineage_aspect.json.gz
  entity-registry/src/test/resources/patch/large_upstream_lineage_mcp.json.gz
  metadata-integration/java/datahub-client/build.gradle
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/batch/ChangeItemImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/batch/PatchItemImpl.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/services/build.gradle
Labels: ingestion, product, devops

#10462 fix(metadata-service): add PE processor to component scan
  metadata-service/war/src/main/java/com/linkedin/gms/CommonApplicationConfig.java
Labels: community-contribution, devops

#10457 fix(ingestion/airflow-plugin): bumping up the openlineage-airflow version
  .github/workflows/airflow-plugin.yml
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
Labels: ingestion, merge-pending-ci

#10459 fix(ingest/tableau): catch exception during sign out
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion, community-contribution, merge-pending-ci, datahub-community-champion

#10467 fix(ingest/dbt): failures due to API change
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
Labels: ingestion

#10443 fix(ingestion/kafka-connect): fixed the issue with ingestion requiring multiple substitutes
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_to_file.yml
  metadata-ingestion/tests/integration/kafka-connect/setup/connect.env
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
Labels: ingestion

#10468 feat(ingest/cli): add some URNs per aspect for easier debugging
  metadata-ingestion/src/datahub/ingestion/api/source.py
Labels: ingestion, merge-pending-ci

#10471 fix(ingest/dbt): Adding fix if dbt data type is null
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
Labels: ingestion, merge-pending-ci

#10470 fix(docs): adjust new requirements for DynamoDB ingestion
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/dynamodb/dynamodb_pre.md
Labels: ingestion, docs, community-contribution

#10460 feat(ingest/redshift): add timers for lineage v2
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/report.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
Labels: ingestion

#10472 feat(fabricType): add fabric type RVW
  datahub-graphql-core/src/main/resources/entity.graphql
  docs/how/updating-datahub.md
  li-utils/src/main/pegasus/com/linkedin/common/FabricType.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: product

#10461 feat(structured-properties): immutable flag
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/structuredproperty/StructuredPropertyMapper.java
  datahub-graphql-core/src/main/resources/properties.graphql
  datahub-web-react/src/app/entity/shared/tabs/Properties/Edit/EditColumn.tsx
  datahub-web-react/src/graphql/fragments.graphql
  entity-registry/src/main/java/com/linkedin/metadata/aspect/validation/StructuredPropertiesValidator.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/validators/StructuredPropertiesValidatorTest.java
  entity-registry/src/test/java/com/linkedin/test/metadata/aspect/batch/TestMCP.java
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  metadata-models/src/main/pegasus/com/linkedin/structured/StructuredPropertyDefinition.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: release-notes

#10475 fix(docker): mount newly added jetty-jmx.xml
  docker/docker-compose.dev.yml
  docker/profiles/docker-compose.gms.yml
Labels: community-contribution, devops

#10427 docs(impact analysis): Add column level impact analysis graphql example
  docs/api/tutorials/lineage.md
Labels: docs

#10478 fix(openapi): fix lookupAspectSpec
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
Labels: devops, publish-docker

#10484 fix(openapi-v3): comprehensive aspect name casing fix
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
Labels: devops, publish-docker

#10410 feat(ingest/slack): Support profile ingestion using users:info
  metadata-ingestion/src/datahub/ingestion/source/slack/slack.py
Labels: ingestion

#10481 docs: fix docs utms & slack footer
  README.md
  docs/slack.md
  metadata-ingestion/docs/dev_guides/profiling_ingestions.md
  metadata-ingestion/docs/dev_guides/sql_profiles.md
  metadata-ingestion/docs/sources/hana/hana.md
  metadata-ingestion/sink_docs/console.md
  metadata-ingestion/sink_docs/file.md
Labels: ingestion, docs

#10473 feat(docs): Updating assertion docs + adding schema assertion doc
  docs-website/sidebars.js
  docs/managed-datahub/observe/column-assertions.md
  docs/managed-datahub/observe/custom-sql-assertions.md
  docs/managed-datahub/observe/freshness-assertions.md
  docs/managed-datahub/observe/schema-assertions.md
  docs/managed-datahub/observe/volume-assertions.md
Labels: docs

#10493 fix(misc): misc fixes for OSS release
  datahub-frontend/app/auth/AuthModule.java
  datahub-frontend/conf/application.conf
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/AbstractMCLStep.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/batch/AspectsBatch.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/batch/ChangeMCP.java
  li-utils/src/main/java/com/datahub/util/RecordUtils.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/ChangeItemImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/client/SystemJavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/client/JavaEntityClientTest.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SampleDataFixtureConfiguration.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SearchLineageFixtureConfiguration.java
  metadata-jobs/mce-consumer-job/src/test/java/com/linkedin/metadata/kafka/MceConsumerApplicationTestConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entityclient/JavaEntityClientFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entityclient/RestliEntityClientFactory.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/SystemRestliEntityClient.java
  metadata-service/restli-client/src/test/java/com/linkedin/common/client/BaseClientTest.java
  metadata-service/restli-client/src/test/java/com/linkedin/entity/client/SystemRestliEntityClientTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/BaseService.java
Labels: product, devops

#10400 docs: sort feature section alphabetically
  docs-website/sidebars.js
  docs/_feature-guide-template.md
  docs/act-on-metadata/impact-analysis.md
  docs/authentication/personal-access-tokens.md
  docs/authorization/access-policies-guide.md
  docs/authorization/roles.md
  docs/domains.md
  docs/features/dataset-usage-and-query-history.md
  docs/glossary/business-glossary.md
  docs/how/search.md
  docs/incidents/incidents.md
  docs/managed-datahub/approval-workflows.md
  docs/posts.md
  docs/schema-history.md
  docs/sync-status.md
  docs/tags.md
Labels: docs

#10487 docs(developers): add section regarding symbolic links on Windows 10/11 to developer's guide
  docs/developers.md
Labels: docs, community-contribution

#10458 fix(ingestion/transformer): Add dataset domains based on tags using transformer
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_domain_based_on_tags.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion, community-contribution

#10469 chore(ingest/presto-on-hive) Set enable_properties_merge to True by default
  metadata-ingestion/src/datahub/ingestion/source/sql/hive_metastore.py
  metadata-ingestion/src/datahub/testing/compare_metadata_json.py
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_1.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_2.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_3.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_4.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_5.json
  metadata-ingestion/tests/integration/hive-metastore/test_hive_metastore.py
  metadata-ingestion/tests/test_helpers/mce_helpers.py
Labels: ingestion, merge-pending-ci

#10377 docs: 0.3.2 Acryl
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_3_2.md
Labels: docs

#10254 feat(ingest/tableau): support platform instance mapping based off database server hostname
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_constant.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion, community-contribution

#10482 fix(ingestion/looker): deduplicate the view field
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/lookml/duplicate_field_ingestion_golden.json
  metadata-ingestion/tests/integration/lookml/lkml_samples_duplicate_field/data.model.lkml
  metadata-ingestion/tests/integration/lookml/lkml_samples_duplicate_field/dataset_lineages.view.lkml
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion, merge-pending-ci

#10506 fix(ebean): fix auto-closeable ebean dao streams
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/SendMAEStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/AbstractMCLStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/elasticsearch/steps/BuildIndicesPreStep.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/cassandra/CassandraAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/PartitionedStream.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanAspectMigrationsDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-jobs/mce-consumer-job/src/test/java/com/linkedin/metadata/kafka/MceConsumerApplicationTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/OperationsController.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/Utils.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/EntityService.java
Labels: product, publish-docker

#10452 feat(ingest/airflow): support BigQueryInsertJobOperator
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_extractors.py
Labels: ingestion, docs

#10492 fix(ingest): avoid using `_inner_dict` in urn iterator
  metadata-ingestion/setup.cfg
  metadata-ingestion/src/datahub/utilities/urns/urn_iter.py
Labels: ingestion

#10494 fix(ingest/snowflake): use block sampling more conservatively
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
Labels: ingestion

#10503 fix(mcp): fix mcp key aspect
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/ChangeItemImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
Labels: product

#10515 fix(ingest): fix bug in incremental lineage
  metadata-ingestion/src/datahub/ingestion/api/incremental_lineage_helper.py
  metadata-ingestion/tests/unit/api/source_helpers/test_incremental_lineage_helper.py
  metadata-ingestion/tests/unit/api/source_helpers/test_incremental_lineage_pass_through.json
Labels: ingestion

#10518 docs: update cli recommendation
  docs/managed-datahub/release-notes/v_0_3_2.md
Labels: docs

#10514 Wrap non-required $ref properties in an object to mark as nullable
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/OpenAPIV3GeneratorTest.java
Labels: community-contribution, devops

#10525 Fix formatting for #10514
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/OpenAPIV3GeneratorTest.java
Labels: community-contribution, devops, merge-pending-ci

#10299 feat(ingestion/glue): delta schemas
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/src/datahub/utilities/delta.py
  metadata-ingestion/src/datahub/utilities/hive_schema_to_avro.py
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_tables_with_nested_datatypes.json
  metadata-ingestion/tests/unit/glue/glue_delta_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_malformed_delta_mces_golden.json
  metadata-ingestion/tests/unit/test_glue_source.py
  metadata-ingestion/tests/unit/test_glue_source_stubs.py
Labels: ingestion, community-contribution, datahub-community-champion

#10529 fix(ingestion/snowflake): fix dataclass defaults for SnowflakeReport
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
Labels: ingestion, community-contribution

#10531 Security/CWE 200 graphql introspection toggle
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GraphQLEngine.java
  metadata-service/configuration/src/main/resources/application.yaml
Labels: community-contribution, product, devops

#10537 feat(neo4j): neo4j pagination as per v2 scrollApi for related entities
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/service/BusinessAttributeUpdateHookService.java
Labels: community-contribution, product

#10521 docs: add api templates
  docs-website/sidebars.js
  docs/_api-guide-template.md
Labels: docs

#10520 fix(ingestion/powerbi): handle special character #(tab) in native query parsing
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/tests/integration/powerbi/test_admin_only_api.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion, merge-pending-ci

#10548 OpenAPI v3 Spec bug fixes:
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/OpenAPIV3GeneratorTest.java
Labels: community-contribution, devops, merge-pending-ci

#10534 fix(assertions) aligned graphql AssertionType definition with the AssertionType defined in metadata-models
  datahub-graphql-core/src/main/resources/entity.graphql
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionInfo.pdl
Labels: community-contribution, product

#10549 fix(smoke-test): pin requests to 2.31.0
  smoke-test/requirements.txt
Labels: community-contribution, smoke_test

#10535 fix(ingest/dbt): improve handling for CLL via ephemeral nodes
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/unit/sql_parsing/test_sql_detach.py
Labels: ingestion

#10550 feat(connections) Add Connection entity type and graphql endpoints
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/Constants.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/connection/ConnectionMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/connection/ConnectionUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/connection/UpsertConnectionResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/connection/DataHubConnectionType.java
  datahub-graphql-core/src/main/resources/connection.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/connection/UpsertConnectionResolverTest.java
  datahub-web-react/src/graphql/connection.graphql
  docs-website/graphql/generateGraphQLSchema.sh
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/connection/ConnectionService.java
  metadata-io/src/test/java/com/linkedin/metadata/connection/ConnectionServiceTest.java
  metadata-models/src/main/pegasus/com/linkedin/connection/DataHubConnectionDetails.pdl
  metadata-models/src/main/pegasus/com/linkedin/connection/DataHubJsonConnection.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/DataHubConnectionKey.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/connection/ConnectionServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
  metadata-service/war/src/main/java/com/linkedin/gms/servlet/GraphQLServletConfig.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: product, devops, merge-pending-ci

#10388 doc(gms/scim-api): fix title and add overview
  docs/managed-datahub/configuring-identity-provisioning-with-ms-entra.md
Labels: docs

#10340 docs: add guides on forms & structured properties
  docs-website/sidebars.js
  docs/api/openapi/openapi-structured-properties.md
  docs/api/tutorials/forms.md
  docs/api/tutorials/structured-properties.md
  docs/features/feature-guides/documentation-forms.md
  docs/features/feature-guides/properties.md
Labels: docs

#10554 feat(ingest): bump acryl-sqlglot dep
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_expand_select_star_basic.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_postgres_select_subquery.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_postgres_update_subselect.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_redshift_system_automove.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion

#10526 feat(ingest): auto-fix duplicate schema fieldPaths
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
Labels: ingestion

#10504 refactor(ingest): defer ctx.graph initialization
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/api/pipeline_run_listener.py
  metadata-ingestion/src/datahub/ingestion/api/registry.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
  metadata-ingestion/src/datahub/ingestion/reporting/file_reporter.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/ingestion/source/gc/datahub_gc.py
  metadata-ingestion/tests/unit/test_pipeline.py
Labels: ingestion

#10564 consider all values of FabricType enum in DatasetUrn util
  li-utils/src/main/javaPegasus/com/linkedin/common/urn/UrnUtils.java
Labels: community-contribution

#10567 fix(ingest/airflow): fix support for bigquery insert job operator
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_extractors.py
Labels: ingestion

#10563 fix(ingest/mode): Adding Dashboards into containers
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/tests/integration/mode/mode_mces_golden.json
Labels: ingestion

#10396 docs: improve lineage docs
  docs/api/tutorials/lineage.md
  metadata-ingestion/examples/library/read_lineage_datajob_rest.py
  metadata-ingestion/examples/library/read_lineage_dataset_rest.py
  metadata-ingestion/examples/library/read_lineage_execute_graphql.py
  metadata-ingestion/examples/library/read_lineage_rest.py
Labels: ingestion, docs, merge-pending-ci

#10416 fix(ingestion/powerbi): Databricks support for table lineage
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/parser.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi-lexical-grammar.rule
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Labels: ingestion, merge-pending-ci

#10553 fix(ingest/dbt): resolve more dbt ephemeral node lineage gaps
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
Labels: ingestion

#10510 fix(ui) Fix preventing users from deleting personal views
  datahub-web-react/src/app/entity/view/menu/ViewDropdownMenu.tsx
Labels: product

#10552 build(jar): enable custom plugin lib
  metadata-integration/java/custom-plugin-lib/build.gradle
Labels: ingestion

#10546 fix(ingest/unity-catalog) upstream lineage for hive_metastore external table with s3 location
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
Labels: ingestion

#10547 feat(ingestion/looker): ingest explore tags into the DataHub
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/tests/integration/looker/test_looker.py
Labels: ingestion

#10579 fix(instropection): fix configuration application order
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
Labels: product

#10565 fix(ingest/slack): pull real names
  metadata-ingestion/src/datahub/ingestion/source/slack/slack.py
Labels: ingestion

#10581 fix(ingest): Remove env deprecation message
  metadata-ingestion/src/datahub/configuration/source_common.py
Labels: ingestion

#10580 test(ingest/sql): refactor CLL generator + add tests
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_extractors.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion-modules/airflow-plugin/tox.ini
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/api/report.py
  metadata-ingestion/src/datahub/sql_parsing/_models.py
  metadata-ingestion/src/datahub/sql_parsing/query_types.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/utilities/logging_manager.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_multiple_select_subqueries.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_with_complex_ctes.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_sqlite_insert_into_values.json
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion

#10575 feat(graphql): Support tagging incidents and assertions via GraphQL API
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/assertion/AssertionMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/assertion/AssertionType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/incident/IncidentMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/incident/IncidentType.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/main/resources/incident.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/incident/IncidentMapperTest.java
  datahub-web-react/src/graphql/assertion.graphql
  datahub-web-react/src/graphql/incident.graphql
  metadata-models/src/main/resources/entity-registry.yml
Labels: product

#10585 docs(update): updating-datahub
  docs/how/updating-datahub.md
Labels: docs

#10413 feat(auth): add viewTests platform privilege
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/MeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/test/ListTestsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/test/TestUtils.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/graphql/me.graphql
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: community-contribution, product

#10573 feat(ingestion/SageMaker): Remove deprecated apis and add stateful ingestion capability
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/common.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/job_classes.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/jobs.py
  metadata-ingestion/tests/unit/sagemaker/sagemaker_mces_golden.json
  metadata-ingestion/tests/unit/test_sagemaker_source_stubs.py
Labels: ingestion, community-contribution

#10599 fix(search): fix autocomplete filter
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
Labels: product

#10258 fix(ingest/snowflake): handle column level lineage for dbt temporary tables
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
Labels: ingestion, community-contribution, merge-pending-ci

#10586 fix(mae-consumer): fix UpdateIndicesHook ignoring events with forceIndexing property set to true
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHook.java
Labels: community-contribution

#10588 docs: update Town Hall page
  docs/townhalls.md
Labels: docs

#10603 fix(search): implement queryByDefault annotation for SearchableRef
  entity-registry/src/main/java/com/linkedin/metadata/models/SearchableRefFieldSpecExtractor.java
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/SearchableRefAnnotation.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchQueryBuilderTest.java
Labels: product

#10606 fix(ingest/sagemaker): remove unsupported config
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/common.py
Labels: ingestion

#10598 feat(neo4j): combine neo4j statements in addEdge into one statement
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
Labels: community-contribution, product

#10593 feat(neo4j): improve neo4j read query performance by specifying labels
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
Labels: community-contribution, product

#10511 feat(ingest): fetch connections from the backend
  metadata-ingestion/src/datahub/configuration/connection_resolver.py
  metadata-ingestion/src/datahub/ingestion/api/global_context.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/connections.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source_config/sql/snowflake.py
  metadata-ingestion/tests/unit/config/test_connection_resolver.py
Labels: ingestion

#10615 fix(ingest/dbt): only generate one subtype
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_test_model_performance_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
Labels: ingestion

#10587 fix(ingest/snowflake): make test connection logs less noisy
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion

#10591 fix(ingest): move status aspect fixer logic
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
Labels: ingestion

#10512 fix(gms/autosuggestion): autosuggestion query not returning the result if the query text has a prefix or suffix '-' on the search field
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
Labels: community-contribution, product, merge-pending-ci, datahub-community-champion

#10626 feat(consumers): mce-consumer throttling based on mae-consumer lag
  build.gradle
  metadata-dao-impl/kafka-producer/build.gradle
  metadata-dao-impl/kafka-producer/src/main/java/com/datahub/metadata/dao/producer/KafkaProducerThrottle.java
  metadata-dao-impl/kafka-producer/src/test/java/com/datahub/metadata/dao/producer/KafkaProducerThrottleTest.java
  metadata-jobs/mce-consumer/build.gradle
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/MetadataChangeProposalConfig.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/config/ConfigurationProvider.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/DataHubKafkaProducerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaEventConsumerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/SimpleKafkaConsumerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/throttle/KafkaProducerThrottleFactory.java
  metadata-service/schema-registry-servlet/src/test/java/io/datahubproject/openapi/test/SchemaRegistryControllerTestConfiguration.java
Labels: devops
