Repository datahub-project/datahub, pull requests merged in 2024-12, with the labels that each got.

#11989 fix[ingest/build]: Disable preflight script as it is not needed anymore
  metadata-ingestion/build.gradle
  metadata-ingestion/scripts/datahub_preflight.sh
Labels: ingestion, pending-submitter-merge

#11526 feat: connector for Neo4j
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/images/neo4j.png
  metadata-ingestion/docs/sources/neo4j/neo4j.md
  metadata-ingestion/docs/sources/neo4j/neo4j_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/neo4j/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/neo4j/neo4j_source.py
  metadata-ingestion/tests/unit/test_neo4j_source.py
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Labels: ingestion, community-contribution, product, devops, needs-review

#11998 fix(ingest/gc): delete invalid dpis
  metadata-ingestion/src/datahub/ingestion/source/gc/dataprocess_cleanup.py
Labels: ingestion, pending-submitter-merge

#11981 feat(airflow): show dag/task logs in CI
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion-modules/airflow-plugin/tox.ini
Labels: ingestion, pending-submitter-merge

#11983 chore(ingest): remove deprecated calls to Urn.create_from_string
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  metadata-ingestion/src/datahub/cli/put_cli.py
  metadata-ingestion/src/datahub/cli/specific/dataproduct_cli.py
  metadata-ingestion/src/datahub/emitter/mcp_patch_builder.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
  metadata-ingestion/src/datahub/ingestion/source/gc/soft_deleted_entity_cleanup.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_tags.py
  metadata-ingestion/src/datahub/ingestion/transformer/generic_aspect_transformer.py
  metadata-ingestion/src/datahub/integrations/assertion/common.py
  metadata-ingestion/src/datahub/lite/duckdb_lite.py
  metadata-ingestion/src/datahub/specific/chart.py
  metadata-ingestion/src/datahub/specific/dashboard.py
  metadata-ingestion/src/datahub/specific/datajob.py
  metadata-ingestion/src/datahub/utilities/urns/_urn_base.py
  metadata-ingestion/src/datahub/utilities/urns/structured_properties_urn.py
  metadata-ingestion/tests/test_helpers/mce_helpers.py
  metadata-ingestion/tests/unit/test_generic_aspect_transformer.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion, pending-submitter-merge

#11991 fix(ingest): resolve missing numeric types for profiling
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
Labels: ingestion, pending-submitter-merge

#11992 build(coverage): enable code coverage for java and python
  datahub-graphql-core/build.gradle
  datahub-upgrade/build.gradle
  entity-registry/build.gradle
  entity-registry/src/test/java/com/linkedin/metadata/aspect/patch/template/UpstreamLineageTemplateTest.java
  gradle/coverage/java-coverage.gradle
  gradle/coverage/python-coverage.gradle
  ingestion-scheduler/build.gradle
  li-utils/build.gradle
  metadata-auth/auth-api/build.gradle
  metadata-dao-impl/kafka-producer/build.gradle
  metadata-events/mxe-utils-avro/build.gradle
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/dagster-plugin/build.gradle
  metadata-ingestion-modules/gx-plugin/build.gradle
  metadata-ingestion-modules/prefect-plugin/build.gradle
  metadata-ingestion/build.gradle
  metadata-integration/java/acryl-spark-lineage/build.gradle
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-event/build.gradle
  metadata-integration/java/datahub-protobuf/build.gradle
  metadata-integration/java/openlineage-converter/build.gradle
  metadata-integration/java/spark-lineage-legacy/build.gradle
  metadata-io/build.gradle
  metadata-io/metadata-io-api/build.gradle
  metadata-jobs/common/build.gradle
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mae-consumer/build.gradle
  metadata-jobs/mce-consumer-job/build.gradle
  metadata-jobs/mce-consumer/build.gradle
  metadata-jobs/pe-consumer/build.gradle
  metadata-models-custom/build.gradle
  metadata-models-validator/build.gradle
  metadata-models/build.gradle
  metadata-operation-context/build.gradle
  metadata-service/auth-config/build.gradle
  metadata-service/auth-filter/build.gradle
  metadata-service/auth-impl/build.gradle
  metadata-service/auth-servlet-impl/build.gradle
  metadata-service/configuration/build.gradle
  metadata-service/factories/build.gradle
  metadata-service/graphql-servlet-impl/build.gradle
  metadata-service/openapi-analytics-servlet/build.gradle
  metadata-service/openapi-entity-servlet/build.gradle
  metadata-service/openapi-servlet/build.gradle
  metadata-service/plugin/build.gradle
  metadata-service/restli-api/build.gradle
  metadata-service/restli-client-api/build.gradle
  metadata-service/restli-client/build.gradle
  metadata-service/restli-servlet-impl/build.gradle
  metadata-service/schema-registry-api/build.gradle
  metadata-service/schema-registry-servlet/build.gradle
  metadata-service/services/build.gradle
  metadata-service/servlet/build.gradle
  metadata-service/war/build.gradle
  metadata-utils/build.gradle
  mock-entity-registry/build.gradle
Labels: ingestion, community-contribution, product, devops, merge-pending-ci

#12005 chore(docs): Update v_0_3_7.md - v0.3.7.5
  docs/managed-datahub/release-notes/v_0_3_7.md
Labels: docs, needs-review

#12002 feat(java-sdk): add utils classes to give equivalence with python uti…
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-client/scripts/container_key_guid_generator.py
  metadata-integration/java/datahub-client/src/main/java/io/datahubproject/models/util/ContainerKey.java
  metadata-integration/java/datahub-client/src/main/java/io/datahubproject/models/util/DataHubGuidGenerator.java
  metadata-integration/java/datahub-client/src/main/java/io/datahubproject/models/util/DataHubKey.java
  metadata-integration/java/datahub-client/src/main/java/io/datahubproject/models/util/DatabaseKey.java
  metadata-integration/java/datahub-client/src/main/java/io/datahubproject/models/util/FieldPath.java
  metadata-integration/java/datahub-client/src/main/java/io/datahubproject/models/util/SchemaKey.java
  metadata-integration/java/datahub-client/src/test/java/io/datahubproject/models/util/DataHubGuidGeneratorTest.java
  metadata-integration/java/datahub-client/src/test/java/io/datahubproject/models/util/DatabaseKeyTest.java
  metadata-integration/java/datahub-client/src/test/java/io/datahubproject/models/util/FieldPathTest.java
  metadata-integration/java/datahub-client/src/test/java/io/datahubproject/models/util/SchemaKeyTest.java
  metadata-integration/java/datahub-client/src/test/java/io/datahubproject/models/util/TestHelper.java
Labels: ingestion, pending-submitter-merge

#12000 fix(ingest/sagemaker): Gracefully handle missing model group
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/feature_groups.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/models.py
  metadata-ingestion/tests/unit/sagemaker/test_sagemaker_source.py
Labels: ingestion, pending-submitter-merge

#12011 fix(ingest/gc): typo fix, do not delete empty entities
  metadata-ingestion/src/datahub/ingestion/source/gc/dataprocess_cleanup.py
Labels: ingestion, pending-submitter-merge

#12013 fix(ingest/gc): do not cleanup empty job/flow
  metadata-ingestion/src/datahub/ingestion/source/gc/dataprocess_cleanup.py
Labels: merge-pending-ci

#12006 fix(test): fix metadata-io tests
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/SampleDataFixtureTestBase.java
  metadata-io/src/test/resources/search_config_fixture_test.yml
Labels: product, pending-submitter-merge

#12014 fix(ingest/looker): Don't fail on unknown liquid filters
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_liquid_tag.py
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion, merge-pending-ci

#12019 feat(docs-website) fix links
  docs-website/src/pages/cloud/UnifiedTabs/index.js
Labels: community-contribution, merge-pending-ci

#12023 fix(ci): fix datahub-client validatePythonEnv
  metadata-integration/java/datahub-client/build.gradle
Labels: ingestion, pending-submitter-merge

#11993 feat(hudi): add hudi platform to the list of default platforms
  datahub-web-react/src/images/hudilogo.png
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Labels: product, devops, pending-submitter-merge

#11857 fix(airflow): fix AthenaOperator extraction
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_extractors.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/athena_operator.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_athena_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_athena_operator_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
Labels: ingestion, community-contribution, merge-pending-ci

#12015 feat(tableau): review reporting and debug traces
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Labels: ingestion, community-contribution, merge-pending-ci

#12024 fix(ingest/tableau): make `sites.get_by_id` call optional
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion, pending-submitter-merge

#12012 feat(cli): add platform filter for undo soft delete
  metadata-ingestion/src/datahub/cli/delete_cli.py
Labels: ingestion, pending-submitter-merge

#12032 chore: update label for team
  .github/workflows/pr-labeler.yml
Labels: devops

#12022 fix(ui): Adding overflow handling (also goes to oss)
  datahub-web-react/src/app/ingest/source/executions/reporting/StructuredReportItem.tsx
Labels: product, needs-review

#11945 fix(ingest/pulsar): handle missing/invalid schema objects
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
Labels: ingestion, community-contribution, merge-pending-ci

#11946 fix(filters) Fix issues with structured properties filters
  entity-registry/src/main/java/com/linkedin/metadata/models/StructuredPropertyUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AggregationQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsTest.java
Labels: product, pending-submitter-merge

#11996 feat(ingest/kafka): additional validation for oauth_db signature
  metadata-ingestion/src/datahub/configuration/kafka_consumer_config.py
  metadata-ingestion/tests/integration/kafka/oauth.py
  metadata-ingestion/tests/integration/kafka/test_kafka.py
Labels: ingestion, pending-submitter-merge

#12027 fix(ingest/gc): Adding test and more checks to gc source
  metadata-ingestion/src/datahub/ingestion/source/gc/dataprocess_cleanup.py
  metadata-ingestion/tests/unit/test_gc.py
Labels: ingestion, pending-submitter-merge

#12025 fix(graph-edge): fix graph edge delete exception
  .github/workflows/build-and-test.yml
  entity-registry/src/main/java/com/linkedin/metadata/models/extractor/FieldExtractor.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateGraphIndicesService.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateGraphIndicesServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesServiceTest.java
Labels: product, pending-submitter-merge

#12036 feat(ingest): add urn validation test files
  metadata-ingestion/tests/unit/urns/invalid_urns.txt
  metadata-ingestion/tests/unit/urns/test_corp_group_urn.py
  metadata-ingestion/tests/unit/urns/test_corpuser_urn.py
  metadata-ingestion/tests/unit/urns/test_data_flow_urn.py
  metadata-ingestion/tests/unit/urns/test_data_job_urn.py
  metadata-ingestion/tests/unit/urns/test_data_process_instance_urn.py
  metadata-ingestion/tests/unit/urns/test_dataset_urn.py
  metadata-ingestion/tests/unit/urns/test_domain_urn.py
  metadata-ingestion/tests/unit/urns/test_notebook_urn.py
  metadata-ingestion/tests/unit/urns/test_tag_urn.py
  metadata-ingestion/tests/unit/urns/test_urn.py
  metadata-ingestion/tests/unit/urns/valid_urns.txt
Labels: ingestion, pending-submitter-merge

#12037 fix(datahub-client): prevent unneeded classes in datahub-client jar
  entity-registry/build.gradle
  metadata-integration/java/datahub-event/build.gradle
  metadata-models/build.gradle
  metadata-service/openapi-servlet/models/build.gradle
Labels: ingestion, devops, pending-submitter-merge, release-0.15.0

#12047 fix(entity-service): no-op batches
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceTest.java
Labels: pending-submitter-response, product

#11936 docs(compliance-forms) update guide for creating form via UI
  docs-website/sidebars.js
  docs/api/tutorials/forms.md
  docs/features/feature-guides/compliance-forms/complete-a-form.md
  docs/features/feature-guides/compliance-forms/create-a-form.md
  docs/features/feature-guides/compliance-forms/overview.md
  docs/features/feature-guides/documentation-forms.md
  docs/features/feature-guides/properties.md
Labels: docs, pending-submitter-merge

#12048 feat(snowflake): adding oauth token bypass to snowflake
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
Labels: ingestion, pending-submitter-merge

#12044 fix(ingest): avoid shell entities during view lineage generation
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/integration/oracle/golden_test_ingest_with_database.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
Labels: ingestion, pending-submitter-merge

#12030 fix(logs): add actor urn on unauthorised
  metadata-service/auth-filter/src/main/java/com/datahub/auth/authentication/filter/AuthenticationFilter.java
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java
Labels: devops, pending-submitter-merge

#12004 fix(ingest/powerbi): reduce type cast usage
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/tree_function.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
Labels: ingestion, pending-submitter-merge

#12033 refactor(ingest/sql): add _get_view_definition helper method
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
Labels: ingestion, pending-submitter-merge

#11972 feat(ingest/superset): initial support for superset datasets
  metadata-ingestion/src/datahub/ingestion/source/preset.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/superset/golden_test_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/superset/test_superset.py
  metadata-ingestion/tests/unit/test_preset_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#8727 fix(ingest/sagemaker): Adding option to control retry for any aws source
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/common.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/jobs.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/lineage.py
Labels: ingestion, on-deck, pending-submitter-merge

#12049 fix(ingest/gc): Additional dataprocess cleanup fixes
  metadata-ingestion/src/datahub/ingestion/source/gc/dataprocess_cleanup.py
  metadata-ingestion/tests/unit/test_gc.py
Labels: ingestion, pending-submitter-merge

#12008 feat(tableau): adds more reporting metrics to better understand lineage construction in tableau ingestion
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Labels: pending-submitter-response, ingestion

#12056 feat(airflow): drop Airflow < 2.3 support + make plugin v2 the default
  .github/workflows/airflow-plugin.yml
  docs/how/updating-datahub.md
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_airflow_shims.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion-modules/airflow-plugin/tox.ini
Labels: ingestion, docs, devops, merge-pending-ci, release-0.15.0

#12063 fix(web) disallow deselecting all degrees on impact analysis view
  datahub-web-react/src/app/search/SimpleSearchFilters.tsx
Labels: community-contribution, product, merge-pending-ci

#11705 feat: Add parent container hierarchy label to the container
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Container/ContainerSelectModal.tsx
  datahub-web-react/src/app/search/SearchFilterLabel.tsx
  datahub-web-react/src/app/search/filters/FilterOption.tsx
  datahub-web-react/src/app/search/filters/utils.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/search.graphql
Labels: community-contribution, product, datahub-community-champion, needs-review

#12067 fix(py-sdk): DataJobPatchBuilder handling timestamps, output edges
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/specific/datajob.py
  metadata-ingestion/tests/integration/nifi/nifi_mces_golden_standalone.json
  metadata-ingestion/tests/unit/patch/test_patch_builder.py
  smoke-test/tests/patch/test_datajob_patches.py
Labels: ingestion, smoke_test, merge-pending-ci

#12055 fix(entity-service): handle no-op system-metadata batches
  entity-registry/src/main/java/com/linkedin/metadata/aspect/batch/AspectsBatch.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/batch/BatchItem.java
  entity-registry/src/testFixtures/java/com/linkedin/test/metadata/aspect/batch/TestMCL.java
  entity-registry/src/testFixtures/java/com/linkedin/test/metadata/aspect/batch/TestMCP.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/EntityAspect.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/ChangeItemImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/DeleteItemImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/MCLItemImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/PatchItemImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/ProposedItem.java
  metadata-io/metadata-io-api/src/test/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImplTest.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/TransactionContext.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/cassandra/CassandraAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/test/java/com/linkedin/metadata/AspectGenerationUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/batch/ChangeItemImplTest.java
  metadata-io/src/test/java/com/linkedin/metadata/schemafields/sideeffects/SchemaFieldSideEffectTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-utils/src/main/java/com/linkedin/metadata/utils/GenericRecordUtils.java
Labels: product, devops, pending-submitter-merge, release-0.15.0

#12020 fix(ingest): replace sqllineage/sqlparse with our SQL parser
  docs/how/updating-datahub.md
  metadata-ingestion-modules/gx-plugin/setup.py
  metadata-ingestion-modules/gx-plugin/src/datahub_gx_plugin/action.py
  metadata-ingestion/docs/sources/redash/redash.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
  metadata-ingestion/src/datahub/utilities/sql_lineage_parser_impl.py
  metadata-ingestion/src/datahub/utilities/sql_parser.py
  metadata-ingestion/src/datahub/utilities/sql_parser_base.py
  metadata-ingestion/tests/unit/test_redash_source.py
  metadata-ingestion/tests/unit/utilities/test_utilities.py
Labels: ingestion, merge-pending-ci

#12081 fix(entity-service): prevent mutation of systemMetdata on prev
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
Labels: product, devops, pending-submitter-merge

#12072 build(datahub-frontend): enable code-coverage
  datahub-frontend/build.gradle
Labels: product, pending-submitter-merge

#12073 build(ci): codecov integration
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/prefect-plugin.yml
Labels: devops, pending-submitter-merge

#12068 fix(openapi): adds in previously ignored keep alive value
  docs/how/updating-datahub.md
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
Labels: docs, devops, pending-submitter-merge, release-0.15.0

#12088 feat(ingest): allow max_workers=1 with ASYNC_BATCH rest sink
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/utilities/partition_executor.py
  metadata-ingestion/tests/unit/utilities/test_partition_executor.py
Labels: ingestion, pending-submitter-merge

#12090 fix(openapi): fix sort criteria parameter
  docs/how/updating-datahub.md
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
Labels: devops, pending-submitter-merge

#12080 feat(ingest/snowflake): allow option for incremental properties
  metadata-ingestion/src/datahub/ingestion/api/incremental_properties_helper.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
Labels: ingestion, pending-submitter-merge

#12083 fix(cli): don't use /api in gms url
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/tests/unit/cli/test_cli_utils.py
Labels: ingestion, needs-review

#12076 docs(ingest/athena): update recipe with aws key pair example
  datahub-web-react/src/app/ingest/source/builder/sources.json
  metadata-ingestion/docs/sources/athena/athena_recipe.yml
Labels: ingestion, product, pending-submitter-merge

#12093 fix(ingest/gc): minor tweak gc source
  metadata-ingestion/src/datahub/ingestion/source/gc/datahub_gc.py
  metadata-ingestion/src/datahub/ingestion/source/gc/soft_deleted_entity_cleanup.py
Labels: ingestion, pending-submitter-merge

#12052 feat(structuredProperties) Add new settings aspect plus graphql changes for structured props
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/CreateStructuredPropertyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/DeleteStructuredPropertyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/RemoveStructuredPropertiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpdateStructuredPropertyResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpsertStructuredPropertiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/chart/mappers/ChartMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/container/mappers/ContainerMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/corpgroup/mappers/CorpGroupMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/corpuser/mappers/CorpUserMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dashboard/mappers/DashboardMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataflow/mappers/DataFlowMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datajob/mappers/DataJobMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataproduct/mappers/DataProductMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/domain/DomainMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryNodeMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryTermMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureTableMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelGroupMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLPrimaryKeyMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/structuredproperty/StructuredPropertiesMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/structuredproperty/StructuredPropertyMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/structuredproperty/StructuredPropertyType.java
  datahub-graphql-core/src/main/resources/properties.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/CreateStructuredPropertyResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/DeleteStructuredPropertyResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/StructuredPropertyUtilsTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpdateStructuredPropertyResolverTest.java
  entity-registry/src/main/java/com/linkedin/metadata/models/StructuredPropertyUtils.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  metadata-models/src/main/pegasus/com/linkedin/structured/StructuredPropertyDefinition.pdl
  metadata-models/src/main/pegasus/com/linkedin/structured/StructuredPropertySettings.pdl
  metadata-models/src/main/resources/entity-registry.yml
Labels: product, pending-submitter-merge

#12010 fix(ingest/tableau): project_path_pattern use in _is_denied_project
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Labels: ingestion, pending-submitter-merge

#12017 fix(ui) Add backwards compatibility to the UI for old policy filters
  datahub-web-react/src/app/permissions/policy/PolicyDetailsModal.tsx
  datahub-web-react/src/app/permissions/policy/PolicyPrivilegeForm.tsx
  datahub-web-react/src/app/permissions/policy/_tests_/policyUtils.test.tsx
  datahub-web-react/src/app/permissions/policy/constants.ts
  datahub-web-react/src/app/permissions/policy/policyUtils.ts
Labels: product, pending-submitter-merge

#12100 feat(ui) Add full support for structured properties on assets
  datahub-web-react/src/app/entity/EntityRegistry.tsx
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
  datahub-web-react/src/app/entity/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entity/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entity/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entity/dataProduct/DataProductEntity.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/dataset/profile/schema/components/StructuredPropValues.tsx
  datahub-web-react/src/app/entity/domain/DomainEntity.tsx
  datahub-web-react/src/app/entity/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entity/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entity/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entity/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entity/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entity/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entity/mlPrimaryKey/MLPrimaryKeyEntity.tsx
  datahub-web-react/src/app/entity/shared/PreviewContext.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHeader.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/StructuredPropertyBadge.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/utils.ts
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/DataProduct/DataProductSection.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/SidebarHeader.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/StructuredProperties/SidebarStructuredPropsSection.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/PropertiesColumn.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldProperties.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/SchemaFieldDrawer.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/useGetSchemaColumnProperties.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/useGetStructuredPropColumns.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/useGetTableColumnProperties.ts
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/AddPropertyButton.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/Edit/EditColumn.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/Edit/EditStructuredPropertyModal.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/PropertiesTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/StructuredPropertyValue.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/TabHeader.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/types.ts
  datahub-web-react/src/app/entity/shared/tabs/Properties/useStructuredProperties.tsx
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/app/lineage/LineageEntityNode.tsx
  datahub-web-react/src/app/lineage/types.ts
  datahub-web-react/src/app/lineage/utils/constructFetchedNode.ts
  datahub-web-react/src/app/lineage/utils/constructTree.ts
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/app/shared/sidebar/EmptySectionText.tsx
  datahub-web-react/src/utils/test-utils/TestPageContainer.tsx
  entity-registry/src/main/java/com/linkedin/metadata/models/StructuredPropertyUtils.java
Labels: product, pending-submitter-merge

#12094 feat(ingest/snowflake): ingest secure, dynamic, hybrid table metadata
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
Labels: ingestion, pending-submitter-merge

#12045 fix(ingest): always resolve platform for browse path v2
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/source/state/redundant_run_skip_handler.py
Labels: ingestion, pending-submitter-merge

#12102 feat(cli): add --workers arg in delete command
  metadata-ingestion/src/datahub/cli/delete_cli.py
Labels: ingestion, pending-submitter-merge

#12105 fix(ingest/snowflake): handle dots in snowflake table names
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/testing/doctest.py
  metadata-ingestion/tests/integration/git/test_git_clone.py
  metadata-ingestion/tests/unit/sagemaker/test_sagemaker_source.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
  metadata-ingestion/tests/unit/test_dbt_source.py
  metadata-ingestion/tests/unit/utilities/test_utilities.py
Labels: ingestion, pending-submitter-merge

#12026 fix(ingest/tableau): apply `page_size` regardless of object count
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion, pending-submitter-merge

#12074 docs(ingest/snowflake): update permissions for dynamic tables
  docs/quick-ingestion-guides/snowflake/setup.md
  metadata-ingestion/docs/sources/snowflake/snowflake_pre.md
Labels: ingestion, docs, pending-submitter-merge

#11876 fix(ingestion/lookml): resolve CLL issue caused by column name casing.
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_concept_context.py
  metadata-ingestion/src/datahub/ingestion/source/looker/view_upstream.py
  metadata-ingestion/src/datahub/sql_parsing/schema_resolver.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/integration/lookml/gms_schema_resolution/data.model.lkml
  metadata-ingestion/tests/integration/lookml/gms_schema_resolution/top_10_employee_income_source.view.lkml
  metadata-ingestion/tests/integration/lookml/gms_schema_resolution_golden.json
  metadata-ingestion/tests/integration/lookml/test_lookml.py
  metadata-ingestion/tests/unit/sql_parsing/test_schemaresolver.py
Labels: ingestion, pending-submitter-merge

#12050 feat(glossary): support multiple ownership types
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/tests/integration/business-glossary/custom_ownership_urns.yml
  metadata-ingestion/tests/integration/business-glossary/custom_ownership_urns_golden.json
  metadata-ingestion/tests/integration/business-glossary/multiple_owners_different_types.yml
  metadata-ingestion/tests/integration/business-glossary/multiple_owners_different_types_golden.json
  metadata-ingestion/tests/integration/business-glossary/multiple_owners_same_type.yml
  metadata-ingestion/tests/integration/business-glossary/multiple_owners_same_type_golden.json
  metadata-ingestion/tests/integration/business-glossary/single_owner_types.yml
  metadata-ingestion/tests/integration/business-glossary/single_owner_types_golden.json
  metadata-ingestion/tests/integration/business-glossary/test_business_glossary.py
Labels: ingestion, merge-pending-ci

#12106 feat(datahub-client): additionally generates java8 artefacts
  .github/workflows/publish-datahub-jars.yml
  metadata-integration/java/datahub-client/build.gradle
Labels: ingestion, devops, pending-submitter-merge

#12096 feat(openapi-v3): add minimal timeseries aspect support
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceUnitTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/DataHubAppConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/ExecutorServiceConfig.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/TimeseriesAspectServiceConfig.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/ElasticSearchTimeseriesAspectServiceFactory.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/EntityControllerTest.java
  metadata-service/restli-servlet-impl/src/test/java/mock/MockTimeseriesAspectService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/timeseries/TimeseriesAspectService.java
  smoke-test/tests/openapi/test_openapi.py
  smoke-test/tests/openapi/v3/timeseries.json
Labels: product, devops, smoke_test, pending-submitter-merge, release-0.15.0

#12053 feat(forms) Clean up form prompts on structured property deletion
  metadata-io/src/test/java/com/linkedin/metadata/entity/DeleteEntityUtilsTest.java
  metadata-models/src/main/pegasus/com/linkedin/form/FormPrompt.pdl
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/factories/BootstrapManagerFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/RestoreFormInfoIndicesStep.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/RestoreFormInfoIndicesStepTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/DeleteEntityService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/DeleteEntityUtils.java
Labels: product, devops, pending-submitter-merge

#12112 fix(datahub-client): adds missing archiveAppendix to artifactid when publishing
  metadata-integration/java/datahub-client/build.gradle
Labels: ingestion, pending-submitter-merge

#12110 fix(ingest/snowflake): further improve dot handling
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
Labels: ingestion, pending-submitter-merge

#12104 feat(ingest): improve query fingerprinting
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_rename.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_swap.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_swap_with_temp.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_utils.py
Labels: ingestion, pending-submitter-merge

#12103 docs(ingest): add docs on the SQL parser
  docs-website/generateDocsDir.ts
  docs-website/sidebars.js
  docs/lineage/airflow.md
  docs/lineage/sql_parsing.md
  metadata-ingestion/scripts/docgen.py
Labels: ingestion, docs, pending-submitter-merge

#12109 fix(ui): dereference issues
  datahub-web-react/src/app/entity/dataset/profile/schema/components/StructuredPropValues.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/StructuredPropertyBadge.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/StructuredProperties/SidebarStructuredPropsSection.tsx
  datahub-web-react/src/app/entity/shared/entityForm/Form.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/Edit/EditStructuredPropertyModal.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredProperties.tsx
  datahub-web-react/src/app/govern/structuredProperties/ViewAdvancedOptions.tsx
  datahub-web-react/src/app/govern/structuredProperties/ViewStructuredPropsDrawer.tsx
  datahub-web-react/src/app/ingest/source/executions/ExecutionRequestDetailsModal.tsx
Labels: product, merge-pending-ci

#12120 fix(datahub-client): avoid parallel execution of publish and publish-java8
  .github/workflows/publish-datahub-jars.yml
Labels: devops, pending-submitter-merge

#12082 fix(ingest/kafka-connect): update connection test url, handle api failures
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka_connect.py
Labels: ingestion, pending-submitter-merge

#12121 fix(ingest/dagster): Fix Dagster build
  .github/workflows/dagster-plugin.yml
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/sensors/datahub_sensors.py
Labels: ingestion, devops, merge-pending-ci

#12125 fix(ingest/snowflake): improve warn message
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
Labels: ingestion, merge-pending-ci

#12127 fix(dataproduct): creator is assigned as owner
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/CreateDataProductResolver.java
Labels: product, needs-review

#12119 fix(mysql): index gap lock deadlock
  docs/advanced/mcp-mcl.md
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/AspectValidationException.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/ValidationExceptionCollection.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/validation/CreateIfNotExistsValidator.java
  entity-registry/src/testFixtures/java/com/linkedin/test/metadata/aspect/batch/TestMCP.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/utils/DefaultAspectsUtil.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/cassandra/CassandraAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/DeleteEntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanAspectDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeline/TimelineServiceTest.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SampleDataFixtureConfiguration.java
  metadata-service/openapi-servlet/src/test/java/mock/MockEntityService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/EntityService.java
  smoke-test/tests/database/__init__.py
  smoke-test/tests/database/test_database.py
  smoke-test/tests/database/v3/__init__.py
  smoke-test/tests/database/v3/mysql_gap_deadlock/__init__.py
  smoke-test/tests/database/v3/mysql_gap_deadlock/batchA1.json
  smoke-test/tests/database/v3/mysql_gap_deadlock/batchA2.json
  smoke-test/tests/database/v3/mysql_gap_deadlock/batchB1.json
  smoke-test/tests/database/v3/mysql_gap_deadlock/batchB2.json
  smoke-test/tests/database/v3/mysql_gap_deadlock/batchC1.json
  smoke-test/tests/database/v3/mysql_gap_deadlock/batchC2.json
  smoke-test/tests/database/v3/mysql_gap_deadlock/batchD1.json
  smoke-test/tests/database/v3/mysql_gap_deadlock/batchD2.json
  smoke-test/tests/openapi/test_openapi.py
  smoke-test/tests/utilities/concurrent_openapi.py
Labels: product, smoke_test, pending-submitter-merge, release-0.15.0

#12130 feat(ingest): additional limits on ingestProposalBatch
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
Labels: ingestion, pending-submitter-merge

#12115 refactor(ingest): cleanup structured properties validation
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
Labels: ingestion, pending-submitter-merge

#12051 config(docker-profiles): clean-up
  docker/profiles/docker-compose.gms.yml
Labels: devops, pending-submitter-merge

#11999 build(gradle): version change (Gradle and shadow plugin)
  build.gradle
  docs/plugins.md
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  metadata-auth/auth-api/build.gradle
  metadata-integration/java/acryl-spark-lineage/build.gradle
  metadata-integration/java/custom-plugin-lib/build.gradle
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-event/build.gradle
  metadata-integration/java/datahub-protobuf/build.gradle
  metadata-integration/java/openlineage-converter/build.gradle
  metadata-integration/java/spark-lineage-legacy/build.gradle
Labels: ingestion, docs, community-contribution, needs-review

#12116 feat(airflow): add `DatahubRestHook.make_graph` method
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/example_dags/graph_usage_sample_dag.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/hooks/datahub.py
Labels: ingestion, pending-submitter-merge

#12087 tests(datahub-client): new tests for the AvroSchemaConverter
  .github/workflows/check-datahub-jars.yml
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-schematron/lib/src/test/java/io/datahubproject/schematron/converters/avro/AvroSchemaConverterTest.java
  metadata-integration/java/datahub-schematron/lib/src/test/resources/CustomerProfile.avsc
  metadata-integration/java/datahub-schematron/lib/src/test/resources/CustomerProfile2.avsc
  metadata-integration/java/datahub-schematron/lib/src/test/resources/FlatUser.avsc
  metadata-integration/java/datahub-schematron/lib/src/test/resources/complex_arrays.avsc
  metadata-integration/java/datahub-schematron/lib/src/test/resources/complex_maps.avsc
  metadata-integration/java/datahub-schematron/lib/src/test/resources/complex_structs.avsc
  metadata-integration/java/datahub-schematron/lib/src/test/resources/complex_unions.avsc
  metadata-integration/java/datahub-schematron/lib/src/test/resources/logical_types.avsc
  metadata-integration/java/datahub-schematron/lib/src/test/resources/primitive_types.avsc
  metadata-integration/java/datahub-schematron/lib/src/test/resources/users_record.avsc
Labels: ingestion, needs-review

#12007 chore(dep): exclude end of life dependency
  build.gradle
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/dataprocessinstances/BackfillDataProcessInstancesHasRunEventsStep.java
Labels: community-contribution, needs-review

#12136 chore(version): bump kafka version
  datahub-upgrade/build.gradle
  docker/kafka-setup/Dockerfile
Labels: devops, pending-submitter-merge

#12098 feat(ingest/airflow): Add way to disable Airflow plugin without a restart
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
Labels: ingestion, pending-submitter-merge

#12129 fix(ingest/datahub): Use server side cursor instead of local one
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_database_reader.py
Labels: ingestion, pending-submitter-merge

#12042 feat(ingestion/tableau): verify role assignment to user in `test_connection`.
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_constant.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_server_wrapper.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_validation.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion, pending-submitter-merge

#12132 docs(ingest): fix sink recipe to correct config parameter
  metadata-ingestion/sink_docs/metadata-file.md
Labels: ingestion, community-contribution, merge-pending-ci

#12111 feat(ui) Add finishing touches to the structured props feature
  datahub-web-react/src/app/entity/schemaField/SchemaFieldPropertiesEntity.tsx
  datahub-web-react/src/app/entity/shared/components/styled/DeprecationPill.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/MultipleOpenEndedInput.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/NumberInput.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/StringInput.tsx
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/StructuredPropertyInput.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHeader.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityName.tsx
  datahub-web-react/src/app/govern/structuredProperties/AllowedValuesDrawer.tsx
  datahub-web-react/src/app/govern/structuredProperties/DisplayPreferences.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsDrawer.tsx
  datahub-web-react/src/app/govern/structuredProperties/cacheUtils.ts
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/graphql/search.graphql
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: product, needs-review, release-0.15.0

#11980 feat(cli): added cli option for ingestion source
  docs/cli.md
  docs/how/delete-metadata.md
  metadata-ingestion/src/datahub/cli/ingest_cli.py
Labels: ingestion, pending-submitter-merge

#12135 fix(ingest/s3): incorrectly parsing path in s3_uri
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
Labels: ingestion, community-contribution, needs-review

#12117 feat(ingest/datahub): report progress on db ingestion
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_source.py
Labels: ingestion, needs-review

#12003 build(ingest/sqlglot): Bump pin to support snowflake CREATE ... WITH TAG
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/testing/compare_metadata_json.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_rename.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_swap.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_swap_with_temp.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_information_schema_query.json
Labels: ingestion, pending-submitter-merge

#12134 fix(frontend): fix typo datahub-frontend logback.xml
  datahub-frontend/conf/logback.xml
Labels: community-contribution, product, merge-pending-ci

#12131 feat(git): add subdir support to GitReference
  metadata-ingestion/src/datahub/configuration/git.py
  metadata-ingestion/tests/integration/git/test_git_clone.py
Labels: ingestion, pending-submitter-merge

#12151 fix(ui) Fix nesting logic in properties tab
  datahub-web-react/src/app/entity/shared/tabs/Properties/__tests__/useStructuredProperties.test.ts
  datahub-web-react/src/app/entity/shared/tabs/Properties/useStructuredProperties.tsx
Labels: product, pending-submitter-merge

#12153 fix(ingest/snowflake): improve lineage parse failure logging
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
Labels: ingestion, pending-submitter-merge

#12058 fix(ingest/pulsar): handle Avro schema with missing namespace or name
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
Labels: ingestion, community-contribution, merge-pending-ci

#12144 fix(cli/properties): allow structured properties without a graph instance
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  metadata-ingestion/src/datahub/cli/specific/structuredproperties_cli.py
  metadata-ingestion/tests/unit/api/entities/structuredproperties/__init__.py
  metadata-ingestion/tests/unit/api/entities/structuredproperties/example_structured_properties_golden.json
  metadata-ingestion/tests/unit/api/entities/structuredproperties/test_structuredproperties.py
  metadata-ingestion/tests/unit/serde/test_codegen.py
Labels: ingestion, pending-submitter-merge

#12124 fix(ingest/gc): more logging, error handling, explicit flag
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/gc/datahub_gc.py
  metadata-ingestion/src/datahub/ingestion/source/gc/dataprocess_cleanup.py
  metadata-ingestion/src/datahub/ingestion/source/gc/soft_deleted_entity_cleanup.py
Labels: ingestion, pending-submitter-merge

#12155 fix(env) Fix forms hook env var default config
  metadata-service/configuration/src/main/resources/application.yaml
Labels: devops, pending-submitter-merge

#12167 feat(ingest/mlflow): Support configurable base_external_url
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
  metadata-ingestion/tests/unit/test_mlflow_source.py
Labels: ingestion, pending-submitter-merge

#12170 fix(cli/properties): fix data type validation
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
Labels: ingestion, pending-submitter-merge

#12149 refactor(ingest/kafka-connect): define interface for new connector impl
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/sink_connectors.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
Labels: ingestion, pending-submitter-merge

#12062 feat(ingest): add looker meta extractor support in sql parsing
  metadata-ingestion/src/datahub/configuration/source_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/dataplatform_instance_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/src/datahub/sql_parsing/tool_meta_extractor.py
  metadata-ingestion/tests/integration/looker/golden_looker_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_allow_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_external_project_view_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_file_path_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_folder_path_pattern_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_independent_look_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_joins.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_unaliased_joins.json
  metadata-ingestion/tests/integration/looker/golden_test_non_personal_independent_look.json
  metadata-ingestion/tests/integration/looker/looker_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/looker/looker_mces_usage_history.json
  metadata-ingestion/tests/integration/looker/test_looker.py
  metadata-ingestion/tests/unit/sql_parsing/test_tool_meta_extractor.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_redundant_run_skip_handler.py
  metadata-models/src/main/pegasus/com/linkedin/platformresource/PlatformResourceType.pdl
Labels: ingestion, merge-pending-ci

#12163 feat(ingest/iceberg): Improve iceberg connector
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/tests/unit/test_iceberg.py
Labels: ingestion, pending-submitter-merge

#12157 feat(python): split out temp wheel builds
  .github/workflows/airflow-plugin.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/prefect-plugin.yml
  .github/workflows/python-build-pages.yml
  docs-website/build.gradle
  docs-website/generateDocsDir.ts
  metadata-ingestion/build.gradle
  python-build/.gitignore
  python-build/build.gradle
  python-build/build_site.py
  python-build/copy_wheels.py
  settings.gradle
Labels: ingestion, devops, pending-submitter-merge

#12091 docs(release): v0.3.7.7
  docs/managed-datahub/release-notes/v_0_3_7.md
Labels: docs, pending-submitter-merge

#12165 fix(docs): Add improvements in examples for PATCH documentation
  docs/advanced/patch.md
  docs/api/tutorials/custom-properties.md
  metadata-ingestion/examples/library/dataset_add_custom_properties_patch.py
  metadata-ingestion/examples/library/dataset_add_glossary_term_patch.py
  metadata-ingestion/examples/library/dataset_add_owner_patch.py
  metadata-ingestion/examples/library/dataset_add_properties.py
  metadata-ingestion/examples/library/dataset_add_remove_custom_properties_patch.py
  metadata-ingestion/examples/library/dataset_add_remove_properties.py
  metadata-ingestion/examples/library/dataset_add_structured_properties.py
  metadata-ingestion/examples/library/dataset_add_structured_properties_patch.py
  metadata-ingestion/examples/library/dataset_add_tag_patch.py
  metadata-ingestion/examples/library/dataset_add_upstream_lineage_patch.py
  metadata-ingestion/examples/library/dataset_field_add_glossary_term_patch.py
  metadata-ingestion/examples/library/dataset_field_add_tag_patch.py
Labels: ingestion, docs, pending-submitter-merge

#12152 feat(graphql/ml): Add custom properties to ml entities
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/EmbeddedModelMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeaturePropertiesMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureTableMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLFeatureTablePropertiesMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelGroupMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelGroupPropertiesMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelPropertiesMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLPrimaryKeyMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLPrimaryKeyPropertiesMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
Labels: product, pending-submitter-merge

#12171 chore(bump): ingestion-base & actions
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/build.gradle
  docker/profiles/docker-compose.actions.yml
Labels: devops, pending-submitter-merge, release-0.15.0

#12180 feat(mssql): platform instance aspect for dataflow and datajob entities
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_to_file.yml
Labels: ingestion, pending-submitter-merge

#12175 fix(tableau): prevents warning in case of site admin creator role
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_constant.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_server_wrapper.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_validation.py
Labels: ingestion, pending-submitter-merge

#12182 fix(tableau): restart server object when reauthenticating
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Labels: ingestion, pending-submitter-merge

#12189 fix(dagster): support dagster v1.9.6
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/client/dagster_generator.py
Labels: ingestion

#12185 fix(graphql): add suspended to corpuserstatus
  datahub-graphql-core/src/main/resources/entity.graphql
Labels: product, pending-submitter-merge

#12179 feat(ingest/snowflake): include external table ddl lineage for queries…
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source_report/ingestion_stage.py
Labels: ingestion, pending-submitter-merge

#12192 fix(gms): Change names of charts in Analytics
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetChartsResolver.java
Labels: community-contribution, product, merge-pending-ci

#12060 fix(ingest/databricks): Fix profiling
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/api/auto_work_units/auto_ensure_aspect_size.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/unit/api/source_helpers/test_ensure_aspect_size.py
Labels: ingestion, pending-submitter-merge

#12126 refactor(ingestion/tableau): mark the `fetch_size` configuration as deprecated.
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion, pending-submitter-merge

#12079 test(ingest/tableau): add test for extract_project_hierarchy scenario
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion, pending-submitter-merge

#12187 docs(structured properties) fix entityTypes in creating structured property
  docs/api/tutorials/structured-properties.md
Labels: docs, community-contribution, needs-review

#12184 chore(bump): bump alpine and dockerize
  .github/actions/docker-custom-build-and-push/action.yml
  .github/workflows/docker-postgres-setup.yml
  .github/workflows/docker-unified.yml
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/elasticsearch-setup/Dockerfile
  docker/mysql-setup/Dockerfile
  docker/postgres-setup/Dockerfile
Labels: devops, pending-submitter-merge

#12197 docs update: Update v_0_3_7.md
  docs/managed-datahub/release-notes/v_0_3_7.md
Labels: docs, pending-submitter-merge

#12195 feat(gradle): add quickstartPgDebug option
  docker/build.gradle
Labels: devops, pending-submitter-merge

#12177 fix(ingest/powerbi): support comments in m-query grammar
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi-lexical-grammar.rule
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
Labels: ingestion, merge-pending-ci

#12139 feat(ingestion/aws-common): improved instance profile support for ec2, ecs, eks, lambda, beanstalk, app runner and cft roles
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
  metadata-ingestion/tests/unit/test_aws_common.py
Labels: ingestion, merge-pending-ci

#11841 feat(ingestion/hive): Add lineage functionality for hive tables from/to file storage
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
Labels: ingestion, merge-pending-ci

#12194 fix(mssql): adds missing containers for dataflow and datajob entities, required for browse paths v2 generation
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
Labels: ingestion, pending-submitter-merge

#12201 Revert "fix(mssql): adds missing containers for dataflow and datajob entities, required for browse paths v2 generation"
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
Labels: ingestion, pending-submitter-merge

#12199 chore(bump): bump node version long term support release (build time …
  .github/workflows/build-and-test.yml
  .github/workflows/docker-unified.yml
  datahub-web-react/build.gradle
  datahub-web-react/package.json
  docs-website/build.gradle
  smoke-test/build.gradle
Labels: product, smoke_test, pending-submitter-merge

#12206 fix(ingest): exclude aspect from migration
  metadata-ingestion/src/datahub/ingestion/source/datahub/config.py
Labels: ingestion, merge-pending-ci

#12193 fix(ui): null dereference
  datahub-web-react/src/app/entity/shared/components/styled/ERModelRelationship/ERModelRelationUtils.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Queries/utils/filterQueries.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/filterSchemaRows.ts
  datahub-web-react/src/app/ingest/source/executions/ExecutionRequestDetailsModal.tsx
  datahub-web-react/src/app/lineage/utils/titleUtils.ts
  datahub-web-react/src/app/search/context/SearchResultContext.tsx
  datahub-web-react/src/app/search/matches/MatchedFieldList.tsx
  datahub-web-react/src/app/search/matches/SearchTextHighlighter.tsx
Labels: product, pending-submitter-merge

#12212 fix(ingest): quote asset urns in patch path
  metadata-ingestion/src/datahub/specific/dataproduct.py
Labels: ingestion, pending-submitter-merge

#12210 feat(ingest): add sql parser trace mode
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Labels: ingestion, pending-submitter-merge

#12211 fix(ingest): preserve certs when converting emitter to graph
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion, pending-submitter-merge

#12196 fix(ingest/mode): move sql logic to view properties aspect
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/tests/integration/mode/mode_mces_golden.json
Labels: ingestion, pending-submitter-merge

#11647 feat(ingest/looker): Do not emit usage for non-ingested dashboards and charts
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_usage.py
  metadata-ingestion/tests/integration/looker/looker_mces_usage_history.json
  metadata-ingestion/tests/integration/looker/test_looker.py
Labels: ingestion, pending-submitter-merge

#12213 fix(tableau): retry on InternalServerError 504
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Labels: ingestion, pending-submitter-merge

#12191 fix(ingest/snowflake): always ingest view and external table ddl lineage
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_shares.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source_report/ingestion_stage.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_classification.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_tag.py
  metadata-ingestion/tests/performance/snowflake/test_snowflake.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
Labels: ingestion, docs, pending-submitter-merge

#12216 fix(tableau): fixes wrong argument when reauthenticating
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion, pending-submitter-merge

#12205 fix(ingest/looker): Add flag for Looker metadata extraction
  metadata-ingestion/src/datahub/sql_parsing/tool_meta_extractor.py
Labels: ingestion, merge-pending-ci

#12156 fix(ingest/mode): Handle 204 response and invalid json
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/tests/integration/mode/test_mode.py
Labels: ingestion, pending-submitter-merge
