Repository datahub-project/datahub, pull requests merged in 2024-06, with the labels that each got.

#10618 feat(graphql) data contract resolvers for graphql
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/datacontract/DataContractUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/datacontract/EntityDataContractResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/datacontract/UpsertDataContractResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datacontract/DataContractMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datacontract/DataContractType.java
  datahub-graphql-core/src/main/resources/contract.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/datacontract/DataContractUtilsTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/datacontract/EntityDataContractResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/datacontract/UpsertDataContractResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/datacontract/DataContractMapperTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/datacontract/DataContractTypeTest.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-models/src/main/pegasus/com/linkedin/assertion/FreshnessAssertionSchedule.pdl
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: community-contribution, product

#10629 feat(cli) Delete form references when using delete CLI
  metadata-ingestion/src/datahub/cli/delete_cli.py
Labels: ingestion

#10624 feat(ingest/looker): add ownership info to independent looks
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion, community-contribution

#10627 log(custom-plugins): add additional logging for spring plugins
  metadata-service/plugin/src/main/java/com/datahub/plugins/metadata/aspect/SpringPluginFactory.java
Labels: devops

#10589 refactor(ui/glossary): Clean up term deletion
  datahub-web-react/src/app/entity/shared/EntityDropdown/useDeleteEntity.tsx
Labels: product

#10640 fix(views): handle unknown view when resolving a view to a filter
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ResolverUtils.java
Labels: community-contribution, product

#10607 feat(lineage): change query structure for explored hop limit
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/UrnSearchAcrossLineageResultsMapper.java
  datahub-graphql-core/src/main/resources/search.graphql
  metadata-ingestion/examples/perf/lineage_perf_example.py
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/GraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/SearchGraphServiceTestBase.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/graph/LineageRelationship.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/LineageSearchEntity.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.lineage.relationships.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: ingestion, product, devops

#10628 feat(ingest): measure sink bottlenecking
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
Labels: ingestion

#10614 fix(ingest/iceberg): update iceberg source to support newer versions of pyiceberg at runtime
  metadata-ingestion/docs/sources/iceberg/iceberg.md
  metadata-ingestion/docs/sources/iceberg/iceberg_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/tests/integration/iceberg/iceberg_deleted_table_mces_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_ingest_mces_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_profile_mces_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_profile_to_file.yml
  metadata-ingestion/tests/integration/iceberg/iceberg_to_file.yml
  metadata-ingestion/tests/integration/iceberg/test_iceberg.py
  metadata-ingestion/tests/unit/test_iceberg.py
Labels: ingestion, community-contribution

#10638 feat(businessAttribute): parallelize-business-attribute-propagation
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/service/BusinessAttributeUpdateHookService.java
  metadata-jobs/pe-consumer/src/test/java/com/datahub/event/hook/BusinessAttributeUpdateHookTest.java
  metadata-service/configuration/src/main/resources/application.yaml
Labels: community-contribution, product, devops

#10634 docs(ingest): remove trailing comma on athena permission
  metadata-ingestion/docs/sources/athena/athena_pre.md
Labels: ingestion, community-contribution, merge-pending-ci

#10528 doc(roles): update privileges
  docs/authorization/access-policies-guide.md
  docs/authorization/policies.md
  docs/authorization/roles.md
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: docs, community-contribution

#10495 docs(subscriptions): adding docs for assertion level subscriptions on managed DH
  docs/managed-datahub/subscription-and-notification.md
Labels: docs, community-contribution

#10619 feat(ingest): add fast query fingerprinting
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_add_known_query_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_utils.py
Labels: ingestion, merge-pending-ci

#10633 fix(ingestion/airflow-plugin): updated the document for developers
  docs/lineage/airflow.md
  metadata-ingestion/developing.md
Labels: ingestion, docs

#10646 fix(ingest/trino): variable reference before define
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#10630 feat(entity-client): restli batchGetV2 batchSize fix and concurrency
  datahub-frontend/app/auth/AuthModule.java
  datahub-frontend/conf/application.conf
  metadata-jobs/mce-consumer-job/src/test/java/com/linkedin/metadata/kafka/MceConsumerApplicationTestConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entityclient/RestliEntityClientFactory.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/SystemRestliEntityClient.java
  metadata-service/restli-client/src/test/java/com/linkedin/common/client/BaseClientTest.java
  metadata-service/restli-client/src/test/java/com/linkedin/entity/client/SystemRestliEntityClientTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/BaseService.java
Labels: product, devops

#10522 docs(): Adding API docs for incidents, operations, and assertions
  docs-website/sidebars.js
  docs/api/tutorials/assertions.md
  docs/api/tutorials/data-contracts.md
  docs/api/tutorials/incidents.md
  docs/api/tutorials/operations.md
  metadata-ingestion/examples/library/dataset_read_operations.py
  metadata-ingestion/examples/library/dataset_report_operation.py
  metadata-ingestion/examples/library/delete_assertion.py
  metadata-ingestion/examples/library/run_assertion.py
  metadata-ingestion/examples/library/run_assertions.py
  metadata-ingestion/examples/library/run_assertions_for_asset.py
Labels: ingestion, docs

#10649 feat(ci): fix conditionals and consolidate change detection
  .github/actions/ci-optimization/action.yml
  .github/workflows/docker-unified.yml
Labels: devops

#10527 fix(ingest/snowflake): avoid overfetching schemas from datahub
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion, merge-pending-ci

#10660 docs: add note for subResourceType being a fieldPath
  docs/api/tutorials/tags.md
Labels: docs

#10659 fix(ingest/qlik): improve logging for debug
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/config.py
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/qlik_api.py
Labels: ingestion

#10658 fix(doc): Fix doc typo in transformer
  metadata-ingestion/docs/transformer/dataset_transformer.md
Labels: ingestion

#10632 feat(graphql) data contract resolvers
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/Constants.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/datacontract/DataContractUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/datacontract/EntityDataContractResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/datacontract/UpsertDataContractResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datacontract/DataContractMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/datacontract/DataContractType.java
  datahub-graphql-core/src/main/resources/contract.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/datacontract/DataContractUtilsTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/datacontract/EntityDataContractResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/datacontract/UpsertDataContractResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/datacontract/DataContractMapperTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/datacontract/DataContractTypeTest.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: community-contribution, product

#10654 fix(openapiv3): v3 scroll response fix
  metadata-service/openapi-analytics-servlet/build.gradle
  metadata-service/openapi-entity-servlet/build.gradle
  metadata-service/openapi-servlet/models/build.gradle
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/exception/UnauthorizedException.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/models/GenericEntity.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/models/GenericEntityScrollResult.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/models/GenericScrollResult.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/BatchGetUrnResponse.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/GenericEntityScrollResultV2.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v2/models/GenericEntityV2.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityScrollResultV3.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityV3.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/RelationshipController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/TimeseriesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
Labels: devops, publish-docker

#10663 Use type: string for enum schemas
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/OpenAPIV3GeneratorTest.java
Labels: community-contribution, devops, publish-docker

#10485 fix(ingestion/airflow-plugin): airflow remove old tasks
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
Labels: ingestion

#10601 feat(platform): added db2 platform
  datahub-web-react/src/images/db2logo.png
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: community-contribution, product, devops

#10612 feat(ingestion/kafka)-Add support for ingesting schemas from schema registry
  metadata-ingestion/src/datahub/ingestion/source/confluent_schema_registry.py
  metadata-ingestion/src/datahub/ingestion/source/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_schema_registry_base.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_assertion.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/tests/integration/kafka/kafka_mces_golden.json
  metadata-ingestion/tests/unit/test_kafka_source.py
Labels: ingestion, community-contribution

#10677 fix(azure_ad): print request URL on error
  metadata-ingestion/src/datahub/ingestion/source/identity/azure_ad.py
Labels: ingestion, community-contribution

#10675 docs(ingest): Rename csv / s3 / file source and sink
  .gitignore
  docs-website/build.gradle
  docs-website/filterTagIndexes.json
  docs/cli.md
  docs/how/updating-datahub.md
  docs/troubleshooting/quickstart.md
  metadata-ingestion/cli-ingestion.md
  metadata-ingestion/docs/sources/csv-enricher/csv-enricher_recipe.yml
  metadata-ingestion/docs/sources/metadata-file/metadata-file_recipe.yml
  metadata-ingestion/docs/sources/s3/README.md
  metadata-ingestion/docs/sources/s3/s3_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/sink_docs/metadata-file.md
  metadata-ingestion/sink_overview.md
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-integration/java/as-a-library.md
Labels: ingestion, docs, merge-pending-ci

#10665 feat(ingest/glue): database parameters extraction
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/tests/unit/glue/glue_delta_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_malformed_delta_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_platform_instance_golden.json
  metadata-ingestion/tests/unit/test_glue_source_stubs.py
Labels: ingestion, community-contribution, datahub-community-champion

#10679 fix(azure_ad): fix infinite loop on request error
  metadata-ingestion/src/datahub/ingestion/source/identity/azure_ad.py
Labels: ingestion, community-contribution, merge-pending-ci

#10556 perf(ingestion/fivetran): Connector performance optimization
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
  metadata-ingestion/tests/unit/stateful_ingestion/state/golden_test_checkpoint_state.json
  metadata-ingestion/tests/unit/stateful_ingestion/state/golden_test_checkpoint_state_after_deleted.json
  metadata-ingestion/tests/unit/stateful_ingestion/state/golden_test_stateful_ingestion.json
  metadata-ingestion/tests/unit/stateful_ingestion/state/golden_test_stateful_ingestion_after_deleted.json
  metadata-ingestion/tests/unit/stateful_ingestion/state/test_stateful_ingestion.py
Labels: ingestion, merge-pending-ci

#10678 feat(ingest): make query formatting more robust
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
Labels: ingestion

#10683 feat(cli) Add actors to forms yaml API
  metadata-ingestion/src/datahub/api/entities/forms/forms.py
Labels: ingestion

#10687 doc(glossary): add note for github action for glossary
  docs/glossary/business-glossary.md
Labels: ingestion, docs, merge-pending-ci

#10686 feat(cli/data product): add support for institutional memory
  metadata-ingestion/examples/data_product/dataproduct.yaml
  metadata-ingestion/src/datahub/api/entities/dataproduct/dataproduct.py
Labels: ingestion, merge-pending-ci

#10688 docs(cli/dataset): add dataset CLI get and upsert examples
  docs/cli.md
  metadata-ingestion/examples/cli_usage/dataset/dataset.yaml
Labels: ingestion, docs, merge-pending-ci

#10613 feat(ingest/airflow): fix materialize_iolets bug
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin_v22.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/lineage/_lineage_core.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_snowflake_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_airflow.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
Labels: ingestion

#10652 feat(ingest/dbt): include package_name in dbt custom props
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_events_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_test_model_performance_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
Labels: ingestion

#10642 feat(ingest): add snowflake-summary source
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_summary.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source_config/usage/snowflake_usage.py
Labels: ingestion

#10668 feat(ui): Display 'View in Gitlab' if externalUrl is a link to Gitlab
  datahub-web-react/src/app/entity/shared/ExternalUrlButton.tsx
Labels: community-contribution, product

#10676 feat(ingest/cli): optionally show server config
  metadata-ingestion/src/datahub/entrypoints.py
Labels: ingestion

#10671 fix(docs): structured properties openapi guide
  docs/api/tutorials/structured-properties.md
Labels: docs

#10609 docs(): Announcing DataHub Open Assertions Specification
  docs-website/sidebars.js
  docs/assertions/open-assertions-spec.md
  docs/assertions/snowflake/snowflake_dmfs.md
  metadata-service/configuration/src/main/resources/application.yaml
Labels: docs

#10692 fix(metadata-models) bridge gaps between graphql and pegasus models
  datahub-graphql-core/src/main/resources/assertions.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  metadata-models/src/main/pegasus/com/linkedin/assertion/FreshnessAssertionSchedule.pdl
  metadata-models/src/main/pegasus/com/linkedin/common/CronSchedule.pdl
Labels: community-contribution

#10695 Aspect refs inside entity schema are nullable
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
Labels: community-contribution, devops

#10569 fix: APPT-43 | Lineage Edit: Modal Autocomplete
  datahub-web-react/src/app/lineage/__tests__/manageLineage.test.tsx
  datahub-web-react/src/app/lineage/manage/AddEntityEdge.tsx
Labels: community-contribution, product

#10698 chore(ui/ingest): improve description of executor ID
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
Labels: community-contribution, product

#10693 fix(ingest/fivetran): fix fivetran bigquery support
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/integration/fivetran/fivetran_bigquery_golden.json
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion

#10691 fix(ingest): fix redshift query urns + reduce memory usage
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/unit/test_redshift_lineage.py
Labels: ingestion

#10701 fix(operations): fix authorizer on operations controller
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/OperationsController.java
Labels: devops

#10696 fix(graphql): fix plugin collection
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
Labels: product

#10669 fix(ingest/bigquery): Map BigQuery policy tags to datahub column-level tags
  metadata-ingestion/docs/sources/bigquery/bigquery_pre.md
  metadata-ingestion/examples/recipes/bigquery_to_datahub.dhub.yaml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
Labels: ingestion, community-contribution

#10647 fix(ingest/kafka-connect): Add lineage extraction for BigQuery Sink Connector in Kafka Connect source
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
  metadata-ingestion/tests/integration/kafka-connect/docker-compose.override.yml
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_bigquery_sink_mces_golden.json
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_bigquery_sink_to_file.yml
  metadata-ingestion/tests/integration/kafka-connect/kafka_connect_to_file.yml
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
Labels: ingestion, community-contribution

#10690 fix(search): fixes issue where exact match exclusive flag broke quoted structured search
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchQueryBuilder.java
Labels: community-contribution, product

#10710 feat(openapi): openapi v3 updates
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-service/openapi-servlet/models/build.gradle
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/exception/InvalidUrnException.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/GlobalControllerExceptionHandler.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/openapi-servlet/src/test/java/mock/MockEntityService.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/EntityService.java
Labels: product, devops

#10712 docs(ingest): Add Oracle prerequisites
  metadata-ingestion/docs/sources/oracle/oracle_pre.md
Labels: ingestion, community-contribution, merge-pending-ci

#10706 feat(gms): add ingestProposalBatch endpoint
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-service/restli-api/src/main/idl/com.linkedin.entity.aspects.restspec.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
Labels: ingestion, devops

#10653 feat(ingest/snowflake): refactor + parallel schema extraction
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_summary.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/utilities/serialized_lru_cache.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/unit/test_serialized_lru_cache.py
Labels: ingestion

#10694 Expose get_entities_v2 endpoint in python client
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion, community-contribution

#10670 fix(docs): formatting of transformers code blocks
  metadata-ingestion/docs/transformer/dataset_transformer.md
Labels: ingestion, community-contribution

#10636 feat(ingest/vertica): use 3 part naming
  datahub-web-react/src/images/verticalogo copy.png
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/tests/integration/vertica/vertica_mces_with_db_golden.json
  metadata-ingestion/tests/integration/vertica/vertica_to_file.yml
Labels: ingestion, community-contribution, product

#10715 feat(ingest): log http request retries
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/utilities/logging_manager.py
Labels: ingestion

#10578 fix(ingestion/bigquery): user exceeded quota for concurrent project.lists requests
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Labels: ingestion, merge-pending-ci

#10713 fix(ingest): fix dagster plugin release process
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/__init__.py
Labels: ingestion

#10648 feat(ingest/bigquery): Support for View Labels
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_helper.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion

#10726 feat(observe) expose assertion runId and lastObservedMillis to graphql
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/AssertionRunEventMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/assertion/AssertionRunEventResolverTest.java
  datahub-web-react/src/graphql/assertion.graphql
Labels: community-contribution, product

#10699 feat(ingest/bigquery): support using table read permission without profiling
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
Labels: ingestion

#10700 fix(ingest/looker): fix looker browse paths v2
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
Labels: ingestion

#10718 feat(ingest/snowflake): support more than 10k views in a db
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
Labels: ingestion

#10724 feat(cli): Make ingest deploy create recipe with urn if not exists
  metadata-ingestion/src/datahub/cli/ingest_cli.py
Labels: ingestion

#10737 fix(ingestion/airflow-plugin): fixed the failing pipeline
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator_no_dag_listener.json
Labels: ingestion

#10740 chore(security): updates for security vulnerabilities
  build.gradle
  datahub-upgrade/build.gradle
  docker/datahub-gms/Dockerfile
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/elasticsearch-setup/Dockerfile
  docker/mysql-setup/Dockerfile
  docker/postgres-setup/Dockerfile
  metadata-integration/java/datahub-client/build.gradle
Labels: ingestion, devops

#10714 fix(ingest/dbt): support emitting only model performance
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Labels: ingestion

#10743 config(header): increase header size to 32k
  datahub-frontend/conf/application.conf
  docker/datahub-gms/jetty.xml
Labels: product, devops

#10744 chore(security): bump jetty version
  docker/datahub-gms/Dockerfile
  docker/datahub-upgrade/Dockerfile
Labels: community-contribution, devops

#10745 feat(ingest/snowflake): log queries at info level
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
Labels: ingestion

#10742 feat: allow task ownership as group
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_config.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
Labels: ingestion, docs, community-contribution

#10735 fix(ingest/logging): fix excessive ingestion logging
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/utilities/logging_manager.py
Labels: ingestion, community-contribution, merge-pending-ci

#10730 docs(notifications): add personal notifications docs
  docs/managed-datahub/subscription-and-notification.md
Labels: docs

#10747 feat(ci): update base requirements file
  docker/datahub-ingestion-base/base-requirements.txt
Labels: devops, merge-pending-ci

#10625 feat(ui/data-contract): Data contract UI under Validation Tab
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/Assertions.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/DatasetAssertionsList.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/FieldAssertionDescription.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/SqlAssertionDescription.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/ValidationsTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/VolumeAssertionDescription.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/assertionUtils.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/DataContractAssertionStatus.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/DataContractEmptyState.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/DataContractSummary.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/DataContractSummaryFooter.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/DataContractTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/DataQualityContractSummary.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/FreshnessContractSummary.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/FreshnessScheduleSummary.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/SchemaContractSummary.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/builder/DataContractAssertionGroupSelect.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/builder/DataContractBuilder.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/builder/DataContractBuilderModal.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/builder/types.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/builder/utils.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/utils.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/fieldDescriptionUtils.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/shared/styledComponents.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/types.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/utils.tsx
  datahub-web-react/src/app/shared/numberUtil.ts
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  datahub-web-react/src/graphql/assertion.graphql
  datahub-web-react/src/graphql/contract.graphql
  metadata-service/configuration/src/main/resources/application.yaml
Labels: community-contribution, product

#10738 fix(ingestion/airflow-plugin): emit browsePathV2
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_snowflake_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
Labels: ingestion

#10749 fix(ingest/tableau): warn with better error message
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#10751 fix(mae-consumer-job): add PE processor to component scan
  metadata-jobs/mae-consumer-job/src/main/java/com/linkedin/metadata/kafka/MaeConsumerApplication.java
Labels: community-contribution

#10754 chore(alpine): update alpine base image
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/elasticsearch-setup/Dockerfile
  docker/mysql-setup/Dockerfile
  docker/postgres-setup/Dockerfile
Labels: devops

#10756 fix(bigquery): use get() instead of hassattr for view labels
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Labels: ingestion, merge-pending-ci

#10637 feat(spark): Adding OpenLineage symlink support to Spark lineage
  build.gradle
  metadata-integration/java/datahub-client/src/main/java/datahub/client/rest/RestEmitter.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/config/DatahubOpenlineageConfig.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageToDataHub.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/dataset/DatahubJob.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/dataset/HdfsPathDataset.java
  metadata-integration/java/openlineage-converter/src/test/java/io/datahubproject/openlineage/HdfsPathDatasetTest.java
  metadata-integration/java/spark-lineage-beta/README.md
  metadata-integration/java/spark-lineage-beta/build.gradle
  metadata-integration/java/spark-lineage-beta/src/main/java/datahub/spark/DatahubEventEmitter.java
  metadata-integration/java/spark-lineage-beta/src/main/java/datahub/spark/conf/SparkConfigParser.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/lifecycle/plan/InsertIntoHadoopFsRelationVisitor.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/util/RemovePathPatternUtils.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/vendor/redshift/Constants.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/vendor/redshift/RedshiftVendor.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/vendor/redshift/lifecycle/RedshiftDataset.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/vendor/redshift/lifecycle/RedshiftRelationVisitor.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/vendor/redshift/lifecycle/RedshiftVisitorFactory.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/vendor/redshift/lifecycle/plan/RedshiftEventHandlerFactory.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/agent/vendor/redshift/lifecycle/plan/RedshiftSaveIntoDataSourceCommandBuilder.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/api/Vendors.java
  metadata-integration/java/spark-lineage-beta/src/main/java/io/openlineage/spark/api/VendorsImpl.java
  metadata-integration/java/spark-lineage-beta/src/test/java/datahub/spark/HdfsPathDatasetTest.java
  metadata-integration/java/spark-lineage-beta/src/test/java/datahub/spark/OpenLineageEventToDatahubTest.java
  metadata-integration/java/spark-lineage-beta/src/test/resources/ol_events/redshift_lineage_spark.json
  metadata-integration/java/spark-lineage-beta/src/test/resources/ol_events/sample_glue.json
Labels: ingestion

#10762 fix(ingest/iceberg): add support for nested dictionaries when configuring pyiceberg
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/tests/unit/test_iceberg.py
Labels: ingestion, community-contribution, merge-pending-ci

#10763 fix(media-type): fix proxy media-type and openapi patch endpoint
  datahub-frontend/app/controllers/Application.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
Labels: product, devops

#10767 fix(spark):Add option to disable symlink resolution
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/config/DatahubOpenlineageConfig.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageToDataHub.java
  metadata-integration/java/spark-lineage-beta/README.md
  metadata-integration/java/spark-lineage-beta/src/main/java/datahub/spark/conf/SparkConfigParser.java
  metadata-integration/java/spark-lineage-beta/src/test/java/datahub/spark/OpenLineageEventToDatahubTest.java
Labels: ingestion

#10768 feat(openapi): restore Timeline OpenAPIv1 and deprecations
  docs/how/updating-datahub.md
  metadata-service/openapi-entity-servlet/src/test/java/io/datahubproject/openapi/config/OpenAPIEntityTestConfiguration.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v1/entities/EntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v1/relationships/RelationshipsController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v1/timeline/TimelineControllerV1.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/TimelineControllerV2.java
Labels: docs, devops

#8231 feat(web-react): adds the possibility to track events through GA4
  datahub-web-react/package.json
  datahub-web-react/src/app/analytics/README.md
  datahub-web-react/src/app/analytics/plugin/googleAnalytics.ts
  datahub-web-react/src/conf/analytics.ts
  datahub-web-react/yarn.lock
Labels: community-contribution, product

#10464 docs: merge cli guide
  docs-website/sidebars.js
  docs/components.md
  docs/managed-datahub/metadata-ingestion-with-acryl/ingestion.md
  docs/managed-datahub/welcome-acryl.md
  metadata-ingestion/cli-ingestion.md
Labels: ingestion, docs

#10761 feat(data quality): custom assertions models, graphql, sdk
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/AssertionUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/ReportAssertionResultResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/assertion/UpsertCustomAssertionResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/assertion/AssertionMapper.java
  datahub-graphql-core/src/main/resources/assertions.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/assertion/ReportAssertionResultResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/assertion/UpsertCustomAssertionResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/assertion/AssertionMapperTest.java
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-io/src/test/java/com/linkedin/metadata/service/AssertionServiceTest.java
  metadata-jobs/mae-consumer-job/src/main/java/com/linkedin/metadata/kafka/MaeConsumerApplication.java
  metadata-models/src/main/pegasus/com/linkedin/assertion/AssertionInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/assertion/CustomAssertionInfo.pdl
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/assertions/AssertionServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/AssertionService.java
  smoke-test/tests/assertions/custom_assertions_test.py
Labels: ingestion, product, devops, smoke_test

#10779 chore(lint): spotless apply
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/config/DatahubOpenlineageConfig.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageToDataHub.java
  metadata-integration/java/spark-lineage-beta/src/main/java/datahub/spark/conf/SparkConfigParser.java
  metadata-integration/java/spark-lineage-beta/src/test/java/datahub/spark/OpenLineageEventToDatahubTest.java
Labels: ingestion

#10778 feat(protobuf): disable binary protoc custom properties
  docs/how/updating-datahub.md
  metadata-integration/java/datahub-protobuf/README.md
  metadata-integration/java/datahub-protobuf/build.gradle
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/Proto2DataHub.java
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/ProtobufDataset.java
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/visitors/dataset/DatasetVisitor.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/visitors/dataset/DatasetVisitorTest.java
Labels: ingestion, docs

#10656 feat(docs): Adding docs for custom assertion reporting APIs (WIP)
  docs-website/sidebars.js
  docs/api/tutorials/assertions.md
  docs/api/tutorials/custom-assertions.md
  metadata-ingestion/examples/library/report_assertion_result.py
  metadata-ingestion/examples/library/upsert_custom_assertion.py
Labels: ingestion, docs

#10776 feat(schema-registry): enable config endpoint internal schema registry
  metadata-service/schema-registry-servlet/src/main/java/io/datahubproject/openapi/schema/registry/SchemaRegistryController.java
Labels: devops

#10769 fix(ingest): use more aggressive errors with sqlglot
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
Labels: ingestion

#10746 feat(ingest/snowflake): performance improvements
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/utilities/prefix_batch_builder.py
  metadata-ingestion/src/datahub/utilities/serialized_lru_cache.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
  metadata-ingestion/tests/unit/utilities/test_prefix_patch_builder.py
Labels: ingestion, merge-pending-ci

#10733 feat(ingest): add async batch mode to the rest sink
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/utilities/advanced_thread_executor.py
  metadata-ingestion/src/datahub/utilities/backpressure_aware_executor.py
  metadata-ingestion/src/datahub/utilities/partition_executor.py
  metadata-ingestion/tests/unit/utilities/test_advanced_thread_executor.py
  metadata-ingestion/tests/unit/utilities/test_backpressure_aware_executor.py
  metadata-ingestion/tests/unit/utilities/test_partition_executor.py
Labels: ingestion, merge-pending-ci

#10774 feat(search): adjust search config
  docker/profiles/docker-compose.gms.yml
  docs/deploy/environment-vars.md
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/main/resources/search_config.yaml
  metadata-service/factories/src/main/resources/search_config.yml
  metadata-service/openapi-servlet/build.gradle
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/OperationsController.java
  smoke-test/tests/cypress/cypress/e2e/search/search.js
  smoke-test/tests/cypress/cypress/e2e/siblings/siblings.js
Labels: ingestion, devops

#10777 fix(ui/entityProfile/dataset): Show view definition tab if viewProperties.logic defined
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
Labels: product, merge-pending-ci

#10781 fix(ingest/snowflake): fix column batcher
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/utilities/prefix_batch_builder.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/unit/utilities/test_prefix_patch_builder.py
Labels: ingestion

#10772 docs(acryl cloud): release 0.3.3
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_3_3.md
Labels: docs

#10721 docs(champions): update champions entry
  docs-website/src/pages/champions/index.js
Labels: community-contribution, datahub-community-champion

#10770 feat(ingest): bump sqlglot
  metadata-ingestion/setup.py
Labels: ingestion

#10795 fix(ui/data-contract): fix freshness & schema assertion is not working
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/Assertions.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/DatasetAssertionsList.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/contract/builder/DataContractBuilder.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/utils.tsx
  datahub-web-react/src/graphql/assertion.graphql
Labels: community-contribution, product

#10786 refactor(tags): Use TagUrn class when generating urn
  metadata-ingestion/src/datahub/emitter/mce_builder.py
Labels: ingestion, merge-pending-ci

#10785 fix(ingest/looker): prevent bad input fields
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion, merge-pending-ci

#10757 fix(ingest): add status aspect to dataProcessInstance
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/tests/integration/dbt/dbt_test_test_model_performance_golden.json
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_empty_connection_user_golden.json
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_golden.json
  metadata-ingestion/tests/integration/hive-metastore/docker-compose.yml
  metadata-ingestion/tests/integration/kafka-connect/docker-compose.override.yml
  metadata-ingestion/tests/integration/kafka/docker-compose.yml
  metadata-ingestion/tests/integration/trino/docker-compose.yml
  metadata-ingestion/tests/unit/stateful_ingestion/state/golden_test_stateful_ingestion.json
  metadata-ingestion/tests/unit/stateful_ingestion/state/golden_test_stateful_ingestion_after_deleted.json
  metadata-models/src/main/resources/entity-registry.yml
Labels: ingestion

#10753 fix(ingest/pipeline): catch pipeline exceptions
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
Labels: ingestion, community-contribution, merge-pending-ci

#10787 chore(gradle): remove httpclient 4 references
  build.gradle
  metadata-integration/java/examples/build.gradle
Labels: ingestion

#10780 feat(structuredproperties): aggregration fix & docs
  docs/api/tutorials/structured-properties.md
  entity-registry/src/main/java/com/linkedin/metadata/models/StructuredPropertyUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
Labels: docs, product

#10190 feat(ingest): set pipeline name in system metadata
  metadata-ingestion/docs/sources/datahub/datahub_recipe.yml
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/ingestion/api/workunit.py
  metadata-ingestion/src/datahub/ingestion/extractor/mce_extractor.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/ingestion/transformer/auto_helper_transformer.py
  metadata-ingestion/src/datahub/ingestion/transformer/system_metadata_transformer.py
  metadata-ingestion/tests/integration/iceberg/docker-compose.yml
  metadata-ingestion/tests/integration/iceberg/iceberg_deleted_table_mces_golden.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_deleted_group_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_group_stateful.json
  metadata-ingestion/tests/integration/ldap/ldap_mces_golden_stateful.json
  metadata-ingestion/tests/integration/looker/golden_looker_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_independent_look_ingest.json
  metadata-ingestion/tests/integration/looker/looker_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/metabase/metabase_mces_golden.json
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/tableau/tableau_cll_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_extract_all_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_nested_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_signout_timeout_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/test_helpers/graph_helpers.py
  metadata-ingestion/tests/unit/glue/glue_deleted_actor_mces_golden.json
  metadata-ingestion/tests/unit/test_bigquery_source.py
  metadata-ingestion/tests/unit/test_mlflow_source.py
  metadata-ingestion/tests/unit/test_usage_common.py
Labels: ingestion, merge-pending-ci, publish-docker

#10804 fix(ingest/snowflake): add limits on tables/columns/queries in lineage
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
Labels: ingestion

#10803 fix(airflow): fix airflow snowflake tests
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/snowflake_operator.py
Labels: ingestion

#10796 feat(custom-plugins): improve plugin factory merge
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/PluginFactory.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/config/PluginConfiguration.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/plugins/PluginsTest.java
  metadata-service/plugin/build.gradle
  metadata-service/plugin/src/main/java/com/datahub/plugins/metadata/aspect/SpringPluginFactory.java
  metadata-service/plugin/src/test/java/com/datahub/plugins/metadata/aspect/SpringPluginFactoryTest.java
  metadata-service/plugin/src/test/java/com/datahub/plugins/metadata/aspect/test/TestSpringPluginConfiguration.java
  metadata-service/plugin/src/test/resources/test-entity-registry-plugins-1.yml
  metadata-service/plugin/src/test/resources/test-entity-registry-spring-plugins-1.yml
Labels: devops, publish-docker

#10808 fix(ingest/snowflake): fix error case in column lineage
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
Labels: ingestion

#10672 feat(ui): display chart query if it exists
  datahub-web-react/src/app/entity/chart/ChartEntity.tsx
  datahub-web-react/src/app/entity/chart/ChartQueryTab.tsx
Labels: community-contribution, product, datahub-community-champion

#10543 docs: update api overview
  docs/api/datahub-apis.md
Labels: docs

#10496 refactor(web-react): add encoder to support non-ASCII characters csv download
  datahub-web-react/src/app/search/utils/csvUtils.ts
Labels: community-contribution, product

#10392 fix(metadata-service): consider missing entities in form assignment hook
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/form/FormAssignmentHook.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/util/SearchBasedFormAssignmentManager.java
Labels: community-contribution, devops

#9355 feat(ingest/powerbi): powerbi dataset profiling
  docs/quick-ingestion-guides/powerbi/setup.md
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
  metadata-ingestion/docs/sources/powerbi/powerbi_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/profiling_utils.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/query.py
  metadata-ingestion/tests/integration/powerbi/golden_test_profiling.json
  metadata-ingestion/tests/integration/powerbi/test_profiling.py
Labels: ingestion, community-contribution, poc-marathon-dec-2023

#10390 fix(ui): show external url also in entity profile of containers
  datahub-web-react/src/graphql/container.graphql
Labels: community-contribution, product, merge-pending-ci

#10355 fix(ERModelRelationship) UUID should mimic datahub_guid.py
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/ermodelrelationship/CreateERModelRelationshipResolver.java
Labels: community-contribution, product, datahub-community-champion

#10315 chore(vulnerability): Inefficient Regular Expression - Potential high time complexity leading to ReDoS
  datahub-web-react/src/app/ingest/source/utils.ts
Labels: community-contribution, product

#10218 chore(vulnerability): Bumped up reactour version to address high vulnerability
  datahub-web-react/package.json
  datahub-web-react/yarn.lock
Labels: community-contribution, product

#9637 feat(backend): Add new PDL entities + models for persona capture
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/Constants.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/corpuser/CorpUserType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/corpuser/mappers/CorpUserEditableInfoMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserEditableInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/key/DataHubPersonaKey.pdl
  metadata-models/src/main/pegasus/com/linkedin/persona/DataHubPersonaInfo.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: product

#10802 feat(logging): unified request logging (graphql, openapi, restli)
  metadata-operation-context/build.gradle
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestContext.java
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/GraphQLController.java
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/SpringQueryContext.java
  metadata-service/openapi-analytics-servlet/build.gradle
  metadata-service/openapi-analytics-servlet/src/main/java/io/datahubproject/openapi/delegates/DatahubUsageEventsImpl.java
  metadata-service/openapi-entity-servlet/src/main/java/io/datahubproject/openapi/v2/delegates/EntityApiDelegateImpl.java
  metadata-service/openapi-entity-servlet/src/main/resources/JavaSpring/apiController.mustache
  metadata-service/openapi-entity-servlet/src/test/java/io/datahubproject/openapi/config/OpenAPIEntityTestConfiguration.java
  metadata-service/openapi-servlet/build.gradle
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/openlineage/controller/LineageApiImpl.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/OperationsController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v1/entities/EntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/PlatformEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/TimeseriesController.java
  metadata-service/openapi-servlet/src/test/java/entities/EntitiesControllerTest.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/analytics/Analytics.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/BatchIngestionRunResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityV2Resource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityVersionedV2Resource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/OperationsResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/Utils.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java
Labels: devops
