Repository datahub-project/datahub, pull requests merged in 2024-08, with the labels that each got.

#10878 build: Reduce size of datahub-frontend-react image by 50-ish%
  docker/datahub-frontend/Dockerfile
Labels: community-contribution, devops, merge-pending-ci

#11063 fix(ci): Fix lint issue in datahub_ingestion_run_summary_provider.py
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
Labels: ingestion, merge-pending-ci

#11019 docs(ingest): update developing-a-transformer.md
  docs/actions/guides/developing-a-transformer.md
Labels: docs, community-contribution, merge-pending-ci

#11056 feat(search-test): update search tests from #10408
  metadata-io/src/test/java/com/linkedin/metadata/graph/GraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/SearchGraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/SearchServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/TestEntityTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/IndexBuilderTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/systemmetadata/SystemMetadataServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceTestBase.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SearchLineageFixtureConfiguration.java
  metadata-io/src/test/java/io/datahubproject/test/search/BulkProcessorProxyListener.java
  metadata-io/src/test/java/io/datahubproject/test/search/BulkProcessorTestUtils.java
  metadata-io/src/test/java/io/datahubproject/test/search/SearchTestUtils.java
  metadata-io/src/test/java/io/datahubproject/test/search/config/SearchTestContainerConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/GraphQueryConfiguration.java
Labels: product, devops, merge-pending-ci

#11009 feat(cli): add aspects parameter to DataHubGraph.get_entity_semityped
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion, community-contribution, merge-pending-ci

#11065 docs(airflow): update min version for plugin v2
  docs/lineage/airflow.md
Labels: docs

#11054 doc(ingestion/tableau): doc update for derived permission
  docs/quick-ingestion-guides/tableau/setup.md
  metadata-ingestion/docs/sources/tableau/tableau_pre.md
Labels: ingestion, docs, merge-pending-ci

#11076 fix(py): remove dep on types-pkg_resources
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion/setup.py
Labels: ingestion

#11081 feat(ingest/mode): add option to exclude restricted
  metadata-ingestion/src/datahub/ingestion/source/mode.py
Labels: ingestion, merge-pending-ci

#11071 fix(ingest): set lastObserved in sdk when unset
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/tests/unit/test_rest_sink.py
Labels: ingestion

#11072 doc(ingest): Update capabilities
  metadata-ingestion/src/datahub/ingestion/source/abs/source.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/src/datahub/ingestion/source/feast.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/qlik_sense.py
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Labels: ingestion

#11090 chore(vulnerability): Log Injection
  datahub-frontend/app/controllers/SsoCallbackController.java
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/GraphQLController.java
Labels: community-contribution, devops

#11091 chore(vulnerability): Information exposure through a stack trace
  metadata-service/auth-filter/src/main/java/com/datahub/auth/authentication/filter/AuthenticationFilter.java
Labels: community-contribution, devops

#11089 chore(vulnerability): Comparison of narrow type with wide type in loop condition
  entity-registry/src/main/java/com/linkedin/metadata/models/extractor/FieldExtractor.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/IngestDataPlatformInstancesStep.java
Labels: community-contribution, devops

#11088 chore(vulnerability): Insertion of sensitive information into log files
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/auth/RevokeAccessTokenResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/secret/DeleteSecretResolver.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/SearchUtil.java
Labels: community-contribution, product

#11059 chore(vulnerability): Risky Cryptographic Algorithm
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/secret/SecretUtils.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/services/SecretService.java
Labels: community-contribution, product

#11061 chore(vulnerability): Overly permissive regex range
  metadata-ingestion/src/datahub/ingestion/source/mode.py
Labels: ingestion, community-contribution, merge-pending-ci

#11084 fix(ui): Adding view, forms GraphQL query, remove showing a fallback error message on unhandled GraphQL error
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/App.tsx
  datahub-web-react/src/graphql/view.graphql
Labels: product

#11097 feat(docs-site) hiding learn more from cloud page
  docs-website/src/pages/cloud/index.js
Labels: community-contribution

#11082 fix(docs): Add correct usage of orFilters in search API docs
  docs/how/search.md
Labels: docs

#11098 fix(ingest/mode): Regexp in mode name matcher didn't allow underscore
  metadata-ingestion/src/datahub/ingestion/source/mode.py
Labels: ingestion

#11087 fix(release): fix full/slim suffix on tag
  .github/scripts/docker_helpers.sh
Labels: devops

#10423 feat(config): support alternate hashing algorithm for doc id
  docker/datahub-gms/env/docker-without-neo4j.env
  docker/datahub-gms/env/docker.env
  docker/datahub-mae-consumer/env/docker-without-neo4j.env
  docker/datahub-mae-consumer/env/docker.env
  docker/datahub-mce-consumer/env/docker-without-neo4j.env
  docker/datahub-mce-consumer/env/docker.env
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  entity-registry/src/main/java/com/linkedin/metadata/aspect/models/graph/Edge.java
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/systemmetadata/ElasticSearchSystemMetadataService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/transformer/TimeseriesAspectTransformer.java
  metadata-service/configuration/src/main/resources/application.yaml
  smoke-test/build.gradle
  smoke-test/cypress-dev.sh
  smoke-test/run-quickstart.sh
  smoke-test/smoke.sh
Labels: community-contribution, product, devops, merge-pending-ci

#11007 fix(emitter): fix typo in get method of java kafka emitter
  metadata-integration/java/datahub-client/src/main/java/datahub/client/kafka/KafkaEmitter.java
Labels: ingestion, community-contribution, datahub-community-champion

#10898 fix(ingest): use correct native data type in all SQLAlchemy sources by compiling data type using dialect
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive_metastore.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
  metadata-ingestion/src/datahub/ingestion/source/sql/vertica.py
  metadata-ingestion/src/datahub/utilities/sqlalchemy_type_converter.py
  metadata-ingestion/tests/integration/hana/docker-compose.yml
  metadata-ingestion/tests/integration/hana/hana_mces_golden.json
  metadata-ingestion/tests/integration/mysql/mysql_mces_no_db_golden.json
  metadata-ingestion/tests/integration/mysql/mysql_mces_with_db_golden.json
  metadata-ingestion/tests/integration/mysql/mysql_table_level_only.json
  metadata-ingestion/tests/integration/mysql/mysql_table_row_count_estimate_only.json
  metadata-ingestion/tests/integration/oracle/golden_test_ingest_with_database.json
  metadata-ingestion/tests/integration/oracle/golden_test_ingest_with_out_database.json
  metadata-ingestion/tests/integration/oracle/test_oracle.py
  metadata-ingestion/tests/integration/postgres/postgres_all_db_mces_with_db_golden.json
  metadata-ingestion/tests/integration/postgres/postgres_mces_with_db_golden.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
  metadata-ingestion/tests/integration/trino/trino_hive_instance_mces_golden.json
  metadata-ingestion/tests/integration/trino/trino_hive_mces_golden.json
  metadata-ingestion/tests/integration/trino/trino_mces_golden.json
  metadata-ingestion/tests/integration/vertica/vertica_mces_with_db_golden.json
  metadata-ingestion/tests/unit/utilities/test_sqlalchemy_type_converter.py
Labels: ingestion, community-contribution, merge-pending-ci

#11105 chore: Update contributors list in PR labeler
  .github/workflows/pr-labeler.yml
Labels: community-contribution, devops, datahub-community-champion

#11104 fix(ingestion): enforce lastObserved timestamps in SystemMetadata
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/MutationUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/TestUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/assertion/DeleteAssertionResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/businessattribute/AddBusinessAttributeResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/businessattribute/CreateBusinessAttributeResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/businessattribute/RemoveBusinessAttributeResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/datacontract/UpsertDataContractResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/delete/BatchUpdateSoftDeletedResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/deprecation/BatchUpdateDeprecationResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/deprecation/UpdateDeprecationResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/BatchSetDomainResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/CreateDomainResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/MoveDomainResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/SetDomainResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/UnsetDomainResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/embed/UpdateEmbedResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/AddRelatedTermsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryNodeResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryTermResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/DeleteGlossaryEntityResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/RemoveRelatedTermsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/UpdateNameResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/glossary/UpdateParentNodeResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/source/UpsertIngestionSourceResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/SiblingsUtilsTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateUserSettingResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/operation/ReportOperationResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/owner/AddOwnersResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/owner/BatchAddOwnersResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/owner/BatchRemoveOwnersResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/tag/AddTagsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/tag/BatchAddTagsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/tag/BatchRemoveTagsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/tag/CreateTagResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/tag/SetTagColorResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/term/AddTermsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/term/BatchAddTermsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/term/BatchRemoveTermsResolverTest.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/browsepaths/BackfillBrowsePathsV2Step.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/policyfields/BackfillPolicyFieldsStep.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/EntityApiUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/AspectGenerationUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/BackfillBrowsePathsV2Step.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/UpgradeDefaultBrowsePathsStep.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/EntityResource.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/SystemMetadataUtils.java
Labels: product, devops

#11080 fix(ingest/powerbi): fix broken lineage between chart and dataset
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/utilities/urns/urn_iter.py
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion

#11069 feat(ingest/lookml): CLL support for sql set in sql_table_name attribute of lookml view
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_template_language.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_concept_context.py
  metadata-ingestion/src/datahub/ingestion/source/looker/view_upstream.py
  metadata-ingestion/tests/integration/looker/golden_test_ingest.json
  metadata-ingestion/tests/integration/lookml/vv-lineage-and-liquid-templates/data.model.lkml
  metadata-ingestion/tests/integration/lookml/vv-lineage-and-liquid-templates/rent_as_employee_income_source.view.lkml
  metadata-ingestion/tests/integration/lookml/vv_lineage_liquid_template_golden.json
Labels: ingestion

#11100 docs: update graphql docs on forms & structured properties
  docs/api/tutorials/forms.md
  docs/api/tutorials/structured-properties.md
  docs/features/feature-guides/documentation-forms.md
Labels: docs

#11049 test(openAPI v3): search openAPI test has been added
  smoke-test/tests/read_only/test_search.py
Labels: smoke_test

#11057 fix(ingest/tableau): prevent empty site content urls
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
Labels: ingestion

#11106 feat(entity-client): implement client batch interface
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/ProposedItem.java
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  smoke-test/tests/privileges/test_privileges.py
  smoke-test/tests/privileges/utils.py
Labels: product, devops

#11114 fix(snowflake): avoid reporting warnings/info for sys tables
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
Labels: ingestion

#11115 fix(ingest): downgrade column type mapping warning to info
  metadata-ingestion/src/datahub/ingestion/source/abs/source.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
Labels: ingestion

#11118 feat(api): add AuditStamp to the V3 API entity/aspect response
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/AspectItem.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericAspectV3.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityV3.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
Labels: community-contribution, devops

#11111 fix(ingest/redshift): replace r'\n' with '\n' to avoid token error redshift serverless…
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
Labels: ingestion, community-contribution, merge-pending-ci

#11122 fix(entiy-client): handle null entityUrn case for restli
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
Labels: devops

#11092 fix(sql-parser): prevent bad urns from alter table lineage
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator_no_dag_listener.json
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/testing/check_sql_parser_result.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_alter_table_column.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_drop_schema.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_sqlite_drop_table.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_sqlite_drop_view.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion, merge-pending-ci

#11121 fix(ingest/bigquery): use small batch size if use_tables_list_query_v2 is set
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
Labels: ingestion

#10366 fix(graphql): add missing entities to EntityTypeMapper and EntityTypeUrnMapper
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeUrnMapper.java
Labels: community-contribution, product

#10608 Changes to allow editable dataset name
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/UpdateNameResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetUpdateInputMapper.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHeader.tsx
  datahub-web-react/src/app/useAppConfig.ts
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  datahub-web-react/src/graphql/browse.graphql
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/preview.graphql
  datahub-web-react/src/graphql/search.graphql
  metadata-models/src/main/pegasus/com/linkedin/dataset/EditableDatasetProperties.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: community-contribution, product, devops

#11134 feat(mcl-processor): Update mcl processor hooks
  docs/how/kafka-config.md
  metadata-jobs/mae-consumer-job/src/main/java/com/linkedin/metadata/kafka/MaeConsumerApplication.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/MCLKafkaListener.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/MCLKafkaListenerRegistrar.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeLogProcessor.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/MetadataChangeLogHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/event/EntityChangeEventGeneratorHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/form/FormAssignmentHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/incident/IncidentsSummaryHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/ingestion/IngestionSchedulerHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/siblings/SiblingAssociationHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLGMSSpringTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLMAESpringTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLSpringCommonTestConfiguration.java
  metadata-jobs/pe-consumer/src/main/java/com/datahub/event/PlatformEventProcessor.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaEventConsumerFactory.java
  metadata-service/war/src/main/java/com/linkedin/gms/CommonApplicationConfig.java
Labels: devops

#11073 docs(policies): updates to policies documentation
  docs/authorization/access-policies-guide.md
  docs/authorization/policies.md
Labels: docs

#11139 fix(openapi): fix openapi v2 and v3 docs update
  docs/api/tutorials/structured-properties.md
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
Labels: docs, devops

#11116 feat(auth): grant type and acr values custom oidc parameters support
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
  datahub-frontend/app/auth/sso/oidc/OidcProvider.java
  datahub-frontend/conf/application.conf
Labels: product, release-0.14.0

#11140 fix(mutator): mutator hook fixes
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/ConfigEntityRegistry.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/SnapshotEntityRegistry.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/plugins/PluginsTest.java
  li-utils/src/main/java/com/datahub/util/RecordUtils.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImpl.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entityregistry/EntityRegistryFactory.java
Labels: product, devops, release-0.14.0

#11126 feat(ingest): various logging improvements
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/telemetry/telemetry.py
  metadata-ingestion/src/datahub/utilities/logging_manager.py
Labels: ingestion

#11079 fix(ingestion/lookml): fix for sql parsing error
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_information_schema_query.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_merge_from_union.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion, merge-pending-ci

#11141 feat(docs-site) cloud page spacing and content polishes
  docs-website/src/pages/cloud/CompanyLogos/logos.module.scss
  docs-website/src/pages/cloud/index.js
  docs-website/src/pages/cloud/styles.module.scss
Labels: community-contribution

#11117 feat(tests): add md5 and last computed to testResult model
  metadata-models/src/main/pegasus/com/linkedin/test/TestResult.pdl
Labels: release-0.14.0

#11143 test(openapi): openapi regression smoke tests
  smoke-test/requirements.txt
  smoke-test/tests/openapi/README.md
  smoke-test/tests/openapi/__init__.py
  smoke-test/tests/openapi/test_openapi.py
  smoke-test/tests/openapi/v1/__init__.py
  smoke-test/tests/openapi/v1/timeline.json
  smoke-test/tests/openapi/v2/__init__.py
  smoke-test/tests/openapi/v2/structured_properties.json
  smoke-test/tests/openapi/v2/timeline.json
  smoke-test/tests/openapi/v3/__init__.py
  smoke-test/tests/openapi/v3/structured_properties.json
Labels: smoke_test

#11125 fix(airflow): fix tox tests + update docs
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin_v22.py
  metadata-ingestion-modules/airflow-plugin/tox.ini
Labels: ingestion, docs, merge-pending-ci

#11158 fix(ingest/databricks): Updating code to work with Databricks sdk 0.30
  docs-website/sidebars.js
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_profiling.py
Labels: ingestion

#11152 test(smoke-test): updates to smoke-tests
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/profiles/docker-compose.prerequisites.yml
  smoke-test/build.gradle
  smoke-test/cypress-dev.sh
  smoke-test/run-quickstart.sh
  smoke-test/set-cypress-creds.sh
  smoke-test/set-test-env-vars.sh
  smoke-test/smoke.sh
  smoke-test/test_e2e.py
  smoke-test/tests/consistency_utils.py
Labels: smoke_test

#11168 feat(dbt): support prefer_sql_parser_lineage with sources enabled
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/integration/dbt/dbt_test_prefer_sql_parser_lineage_golden.json
  metadata-ingestion/tests/integration/dbt/test_dbt.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion

#11150 feat(actions): updates to gha workflows
  .github/actions/ci-optimization/action.yml
  .github/actions/docker-custom-build-and-push/action.yml
  .github/scripts/docker_helpers.sh
  .github/workflows/build-and-test.yml
  .github/workflows/docker-unified.yml
  .github/workflows/lint-actions.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/metadata-model.yml
  .github/workflows/publish-datahub-jars.yml
  .github/workflows/spark-smoke-test.yml
  .github/workflows/test-results.yml
Labels: devops, publish-docker

#11163 build: fix docker warnings
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/elasticsearch-setup/Dockerfile
  docker/kafka-setup/Dockerfile
  docker/mysql-setup/Dockerfile
  docker/postgres-setup/Dockerfile
Labels: devops

#11159 feat(hooks): Make hook enable flag non-default
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/MetadataChangeLogHook.java
  metadata-jobs/pe-consumer/src/main/java/com/datahub/event/hook/PlatformEventHook.java
Labels: release-0.14.0

#11174 fix(ci): smoke-test changes do not need to build images
  .github/actions/ci-optimization/action.yml
  .github/actions/docker-custom-build-and-push/action.yml
Labels: devops

#11179 fix(ci): fix single tag comma split
  .github/actions/docker-custom-build-and-push/action.yml
Labels: devops

#11183 fix(ci): additional ci and smoke-test updates
  .github/actions/docker-custom-build-and-push/action.yml
  .github/scripts/docker_helpers.sh
  .github/scripts/docker_logs.sh
  .github/workflows/docker-unified.yml
Labels: devops

#11184 test(smoke-test): minor update to openapi test
  smoke-test/tests/openapi/test_openapi.py
Labels: smoke_test

#11181 feat(ingest): use pre-built dockerize binary
  docker/datahub-ingestion-base/Dockerfile
Labels: devops

#11175 doc: mark deprecated feature
  docs/authorization/policies.md
  docs/authorization/roles.md
Labels: docs

#11172 fix(delete) Fix removing completed/verified forms references
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/DeleteEntityService.java
Labels: devops

#11187 fix(ingest): invalid urn should not fail full batch of changes
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImpl.java
  metadata-io/metadata-io-api/src/test/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImplTest.java
Labels: product

#11190 fix(kafka-setup): add missing script to image
  docker/kafka-setup/Dockerfile
Labels: devops

#11191 fix(config): fix hash algo config
  metadata-io/src/main/java/com/linkedin/metadata/systemmetadata/ElasticSearchSystemMetadataService.java
  metadata-io/src/test/java/com/linkedin/metadata/systemmetadata/SystemMetadataServiceTestBase.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/ElasticSearchSystemMetadataServiceFactory.java
Labels: product, devops

#11145 feat(ingest): allow custom SF API version
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/tests/integration/salesforce/test_salesforce.py
Labels: ingestion

#11124 fix(ingestion/transformer): extend dataset_to_data_product_urns_pattern to support containers
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_dataproduct.py
Labels: ingestion

#11186 fix(ui) Fix bug with editing entity names
  datahub-web-react/src/app/entity/shared/containers/profile/__tests__/EntityHeader.test.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityHeader.tsx
Labels: product

#11194 ci(smoke-test): allow smoke-test only PRs
  .github/workflows/docker-unified.yml
Labels: devops

#11113 feat(ingestion/lookml): support looker `-- if` comments
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_constant.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_file_loader.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_template_language.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_concept_context.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/lookml/vv-lineage-and-liquid-templates/data.model.lkml
  metadata-ingestion/tests/integration/lookml/vv-lineage-and-liquid-templates/employee_income_source_as_per_env.view.lkml
  metadata-ingestion/tests/integration/lookml/vv-lineage-and-liquid-templates/environment_activity_logs.view.lkml
  metadata-ingestion/tests/integration/lookml/vv_lineage_liquid_template_golden.json
Labels: ingestion

#11193 fix(elasticsearch): refactor idHashAlgo setting
  docker/datahub-gms/env/docker-without-neo4j.env
  docker/datahub-gms/env/docker.env
  docker/datahub-mae-consumer/env/docker-without-neo4j.env
  docker/datahub-mae-consumer/env/docker.env
  docker/datahub-mce-consumer/env/docker-without-neo4j.env
  docker/datahub-mce-consumer/env/docker.env
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  entity-registry/src/main/java/com/linkedin/metadata/aspect/models/graph/Edge.java
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/transformer/TimeseriesAspectTransformer.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/SearchGraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/SearchServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/TestEntityTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/BrowseDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/systemmetadata/SystemMetadataServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceTestBase.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SampleDataFixtureConfiguration.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SearchLineageFixtureConfiguration.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHookTest.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/SearchContext.java
  metadata-operation-context/src/main/java/io/datahubproject/test/metadata/context/TestOperationContexts.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/SearchContextTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/ElasticSearchConfiguration.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/ElasticSearchGraphServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/IndexConventionFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/update/indices/UpdateIndicesServiceFactory.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/usage/UsageStats.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/elasticsearch/IndexConvention.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/elasticsearch/IndexConventionImpl.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/elasticsearch/IndexConventionImplTest.java
  smoke-test/run-quickstart.sh
  smoke-test/set-test-env-vars.sh
Labels: product, devops, smoke_test

#11101 fix(ingestion/airflow-plugin): fixed missing inlet/outlets
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/custom_operator_dag.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
Labels: ingestion, merge-pending-ci

#11144 docs: Update README.md
  README.md
Labels: community-contribution

#11195 feat(ingest/dbt): skip CLL on sources with `skip_sources_in_lineage`
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/tests/integration/dbt/dbt_test_prefer_sql_parser_lineage_golden.json
Labels: ingestion

#11154 fix(graphql): Correct ownership check when removing owners
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/OwnerUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/utils/OwnerUtilsTest.java
Labels: product, release-0.14.0

#11047 feat(propagation): UI for rendering propagated column documentation
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/settings/docPropagation/DocPropagationSettingsResolver.java
  datahub-web-react/.eslintrc.js
  datahub-web-react/README.md
  datahub-web-react/src/app/entity/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entity/shared/components/legacy/DescriptionModal.tsx
  datahub-web-react/src/app/entity/shared/propagation/PropagationDetails.tsx
  datahub-web-react/src/app/entity/shared/propagation/PropagationEntityLink.tsx
  datahub-web-react/src/app/entity/shared/propagation/PropagationIcon.tsx
  datahub-web-react/src/app/entity/shared/propagation/utils.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDescription.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/getFieldDescriptionDetails.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
  datahub-web-react/src/app/entity/shared/useGetEntities.ts
  datahub-web-react/src/app/lineage/LineageExplorer.tsx
  datahub-web-react/src/app/settings/SettingsPage.tsx
  datahub-web-react/src/app/settings/features/Feature.tsx
  datahub-web-react/src/app/settings/features/Features.tsx
  docs-website/sidebars.js
  docs/automation/docs-propagation.md
  docs/automation/snowflake-tag-propagation.md
  metadata-models/src/main/pegasus/com/linkedin/settings/global/GlobalSettingsInfo.pdl
  metadata-service/war/src/main/resources/boot/global_settings.json
  smoke-test/tests/cypress/cypress/e2e/actions/docPropagation.js
  smoke-test/tests/cypress/data.json
Labels: product, smoke_test

#10840 fix(ui): checks truthy value for last ingested
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/EntitySidebar.tsx
Labels: community-contribution, product, merge-pending-ci

#11120 docs(scim): document okta integration with datahub for scim provisioning
  docs-website/sidebars.js
  docs/managed-datahub/configuring-identity-provisioning-with-okta.md
Labels: docs, community-contribution

#11202 fix(ingestion/tableau): Tableau field type parsing
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/tests/unit/test_tableau_source.py
Labels: ingestion

#11151 feat(analytics): Add page number to SearchResultClickEvent analytics event
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/search/SearchResultList.tsx
  datahub-web-react/src/app/search/SearchResults.tsx
  docs/developers.md
Labels: docs, community-contribution, product

#11203 fix(graphql) Fix NPE on form actor assignemnt
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
Labels: product

#11209 fix(tests): Bump databricks-sdk dependency to `>=0.30.0`
  metadata-ingestion/setup.py
Labels: ingestion

#11131 chore(vulnerability): Log Injection (High)
  metadata-io/src/main/java/com/linkedin/metadata/systemmetadata/ESSystemMetadataDAO.java
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
  metadata-service/schema-registry-servlet/src/main/java/io/datahubproject/openapi/schema/registry/SchemaRegistryController.java
Labels: community-contribution, product, devops

#11169 feat(ingestion/bigquery): Add ability to filter GCP project ingestion based on project labels
  docs/quick-ingestion-guides/bigquery/setup.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_test_connection.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_project_label_mcp_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion, devops

#11211 chore(kafka): kafka version bump
  datahub-upgrade/build.gradle
  docker/kafka-setup/Dockerfile
Labels: devops

#11216 fix(forms) Fix small bug in createForm graphql endpoint
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/FormUtils.java
Labels: product

#11210 fix(ingestion/lookml): drop `hive.` from CLL
  metadata-ingestion/src/datahub/ingestion/source/looker/view_upstream.py
  metadata-ingestion/tests/integration/lookml/drop_hive_dot/data.model.lkml
  metadata-ingestion/tests/integration/lookml/drop_hive_dot/top_10_employee_income_source.view.lkml
  metadata-ingestion/tests/integration/lookml/drop_hive_dot_golden.json
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion

#11178 feat(ingest/mongodb): Ingest databases as containers
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/tests/integration/mongodb/mongodb_mces_golden.json
  metadata-ingestion/tests/integration/mongodb/mongodb_mces_small_schema_size_golden.json
Labels: ingestion

#11219 fix(ingest/redshift): avoid asserts in redshift schemas
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
Labels: ingestion, merge-pending-ci

#10961 feat(ingest/snowflake): allow iceberg tables in lineage and access metadata
  metadata-ingestion/src/datahub/ingestion/source/snowflake/constants.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/tests/integration/snowflake/common.py
Labels: ingestion, community-contribution, merge-pending-ci

#11205 feat(ingestion/looker): filter Looker dashboards by folder
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/tests/integration/looker/golden_test_folder_path_pattern_ingest.json
  metadata-ingestion/tests/integration/looker/test_looker.py
Labels: ingestion, merge-pending-ci

#11170 fix(ingest/sagemaker): ensure consistent STS token usage with refresh mechanism
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker_processors/jobs.py
  metadata-ingestion/tests/unit/sagemaker/test_sagemaker_source.py
Labels: ingestion, merge-pending-ci

#11206 docs(ingest): update config docs on platform instances
  metadata-ingestion/src/datahub/configuration/source_common.py
Labels: ingestion, merge-pending-ci

#11221 feat(ingest/dbt): add support for urns in add_owner directive
  metadata-ingestion/docs/sources/dbt/dbt.md
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/tests/unit/test_mapping.py
Labels: ingestion

#11222 fix(ingest/snowflake): propagate table list from main to query extractor
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion

#11236 chore(bump): bump kafka base image
  docker/kafka-setup/Dockerfile
Labels: devops

#11237 fix(datahub-frontend): remove old test creds
  docker/datahub-frontend/env/docker.env
Labels: devops

#11212 docs: Update confluent-cloud.md
  docs/deploy/confluent-cloud.md
Labels: docs, community-contribution, merge-pending-ci

#11241 docs(update): Security stance docs.md
  README.md
  docs-website/sidebars.js
  docs/SECURITY_STANCE.md
Labels: docs

#10994 feat(ingest): add bigquery-queries source
  metadata-ingestion/docs/sources/bigquery/bigquery_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_queries.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_test_connection.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/common.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/src/datahub/ingestion/source_config/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source_config/usage/__init__.py
  metadata-ingestion/src/datahub/ingestion/source_config/usage/bigquery_usage.py
  metadata-ingestion/src/datahub/ingestion/source_config/usage/snowflake_usage.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_queries_mcps_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/query_log.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery_queries.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
  metadata-ingestion/tests/performance/bigquery/test_bigquery_usage.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_basic_usage.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_create_table_query_mcps.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_lineage_via_temp_table_disordered_add.json
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
  metadata-ingestion/tests/unit/test_bigquery_lineage.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
  metadata-ingestion/tests/unit/test_bigquery_usage.py
  metadata-ingestion/tests/unit/test_bigqueryv2_usage_source.py
Labels: ingestion

#11130 fix(spark-lineage): enable user with editor role to ingest dataProces…
  metadata-service/war/src/main/resources/boot/policies.json
Labels: community-contribution, devops, merge-pending-ci

#11235 chore(bump): bump azure-identity
  metadata-ingestion/setup.py
Labels: ingestion

#11243 feat(docs): Update docs on managing user subscriptions
  docs/authorization/roles.md
  docs/managed-datahub/subscription-and-notification.md
Labels: docs, merge-pending-ci

#11246 fix(cli/delete): change filter to include env
  metadata-ingestion/src/datahub/ingestion/graph/filters.py
Labels: ingestion

#11213 docs(urn): Update urn docs with restrictions
  docs/what/urn.md
Labels: docs

#10958 feat(ingest): add ingestion source for SAP Analytics Cloud
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/constants.ts
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/sac.ts
  datahub-web-react/src/app/ingest/source/builder/SelectTemplateStep.tsx
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingest/source/conf/sac/sac.ts
  datahub-web-react/src/app/ingest/source/conf/sources.tsx
  datahub-web-react/src/app/shared/getLogoFromPlatform.tsx
  datahub-web-react/src/images/saclogo.svg
  metadata-ingestion/docs/sources/sac/sac_pre.md
  metadata-ingestion/docs/sources/sac/sac_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/sac/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/sac/sac.py
  metadata-ingestion/src/datahub/ingestion/source/sac/sac_common.py
  metadata-ingestion/src/datahub/utilities/logging_manager.py
  metadata-ingestion/tests/integration/sac/__init__.py
  metadata-ingestion/tests/integration/sac/metadata.xml
  metadata-ingestion/tests/integration/sac/sac_mces_golden.json
  metadata-ingestion/tests/integration/sac/test_sac.py
  metadata-service/war/src/main/resources/boot/data_platforms.json
  smoke-test/tests/cypress/cypress/e2e/mutations/ingestion_source.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managing_secrets.js
Labels: ingestion, community-contribution, product, merge-pending-ci

#11201 feat(ingest/superset): clickhousedb -> clickhouse mapping in superset ingestion
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Labels: ingestion, community-contribution, merge-pending-ci

#11162 feat(ingest/bigquery): Add query job retries for transient errors
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
Labels: ingestion, community-contribution, merge-pending-ci

#11229 Replacing ant dropdown 'overlay' with 'menu'
  datahub-web-react/src/app/businessAttribute/BusinessAttributeItemMenu.tsx
  datahub-web-react/src/app/domain/DomainItemMenu.tsx
  datahub-web-react/src/app/entity/dataset/profile/schema/components/CustomPagination.tsx
  datahub-web-react/src/app/entity/glossaryTerm/profile/RelatedTerm.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/SearchExtendedMenu.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/action/ActionDropdown.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Queries/QueryCardDetailsMenu.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/MenuColumn.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/AssertionMenu.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/DatasetAssertionsList.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/toolbar/TableCellMenu.tsx
  datahub-web-react/src/app/entity/shared/tabs/Incident/components/IncidentListItem.tsx
  datahub-web-react/src/app/entity/view/menu/ViewDropdownMenu.tsx
  datahub-web-react/src/app/entity/view/menu/item/DeleteViewItem.tsx
  datahub-web-react/src/app/entity/view/menu/item/EditViewItem.tsx
  datahub-web-react/src/app/entity/view/menu/item/PreviewViewItem.tsx
  datahub-web-react/src/app/entity/view/menu/item/RemoveGlobalDefaultItem.tsx
  datahub-web-react/src/app/entity/view/menu/item/RemoveUserDefaultItem.tsx
  datahub-web-react/src/app/entity/view/menu/item/SetGlobalDefaultItem.tsx
  datahub-web-react/src/app/entity/view/menu/item/SetUserDefaultItem.tsx
  datahub-web-react/src/app/entity/view/menu/item/styledComponent.ts
  datahub-web-react/src/app/identity/user/UserListItem.tsx
  datahub-web-react/src/app/lineage/manage/ManageLineageMenu.tsx
  datahub-web-react/src/app/settings/posts/PostItemMenu.tsx
  datahub-web-react/src/app/shared/ManageAccount.tsx
  datahub-web-react/src/app/shared/admin/HeaderLinks.tsx
  datahub-web-react/src/app/shared/share/ShareButton.tsx
  datahub-web-react/src/app/shared/share/ShareButtonMenu.tsx
  datahub-web-react/src/app/shared/share/items/CopyLinkMenuItem.tsx
  datahub-web-react/src/app/shared/share/items/CopyUrnMenuItem.tsx
  datahub-web-react/src/app/shared/share/items/EmailMenuItem.tsx
  datahub-web-react/src/app/shared/share/useShareButtonMenu.tsx
Labels: community-contribution, product

#11250 fix(ingest/snowflake): exclude snowflake excluded tags
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_tag.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_tag.py
Labels: ingestion, community-contribution

#11171 fix(ingest/kafka): update warning reporting for kafka
  metadata-ingestion/src/datahub/ingestion/source/confluent_schema_registry.py
Labels: ingestion, merge-pending-ci

#11060 chore(vulnerability): Incomplete string escaping or encoding
  datahub-web-react/src/app/entity/dataset/profile/schema/utils/translateFieldPathSegment.tsx
Labels: community-contribution, product

#11253 docs: fix great-expectations doc module_name
  metadata-ingestion/integration_docs/great-expectations.md
Labels: ingestion, merge-pending-ci

#11189 feat(ingest/dagster): Add automatic snowflake_pandas_io_manager asset capture
  docs/lineage/dagster.md
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_airflow.py
  metadata-ingestion-modules/dagster-plugin/examples/iris.py
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/client/dagster_generator.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/modules/__init__.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/modules/snowflake_pandas/__init__.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/modules/snowflake_pandas/datahub_snowflake_pandas_io_manager.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/modules/storage/__init__.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/modules/storage/datahub_db_io_manager.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/sensors/datahub_sensors.py
  metadata-ingestion/src/datahub/api/entities/datajob/dataflow.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
Labels: ingestion, docs

#11257 chore: update contributor list
  .github/workflows/pr-labeler.yml
Labels: community-contribution, devops

#11260 ci(build): update outdated action & pin deepdiff lib
  .github/workflows/dagster-plugin.yml
  .github/workflows/docker-unified.yml
  .github/workflows/gx-plugin.yml
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/gx-plugin/setup.py
  metadata-ingestion/docs/sources/looker/lookml_pre.md
  metadata-ingestion/setup.py
  smoke-test/requirements.txt
Labels: ingestion, devops

#11263 feat(ingestion-base): convert to ubuntu image
  .github/workflows/docker-unified.yml
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/build.gradle
Labels: devops

#11261 ci: update outdated actions for java and python setup
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/code-checks.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/docker-unified.yml
  .github/workflows/documentation.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/metadata-model.yml
  .github/workflows/publish-datahub-jars.yml
  .github/workflows/spark-smoke-test.yml
  metadata-ingestion/docs/sources/looker/lookml_pre.md
Labels: ingestion, devops

#11264 chore(platform): Adding Dagster and Prefect platforms
  datahub-web-react/src/images/dagsterlogo.svg
  datahub-web-react/src/images/prefectlogo.svg
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: product, devops, merge-pending-ci

#11268 fix(build/spark): Add explicit dependency to openlineage-converter
  metadata-integration/java/acryl-spark-lineage/build.gradle
Labels: ingestion

#11265 ci(flavor): reintroduce flavor suffix
  .github/actions/docker-custom-build-and-push/action.yml
  .github/workflows/docker-unified.yml
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/build.gradle
Labels: devops, publish-docker

#11254 feat(ingest/snowflake): Add cluster formula to dataset properties
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
Labels: ingestion, community-contribution

#11269 fix(ingestion-base): add missing util
  docker/datahub-ingestion-base/Dockerfile
Labels: devops

#11238 feat(build): remove base-requirements.txt
  .github/actions/ci-optimization/action.yml
  .github/actions/docker-custom-build-and-push/action.yml
  .github/workflows/docker-unified.yml
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion-base/base-requirements.txt
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion-base/regenerate-base-requirements.sh
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/Dockerfile-slim-only
  docker/datahub-ingestion/build.gradle
Labels: devops, publish-docker

#11177 feat(ingest/s3): Support reading S3 file type
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_inference_without_extension.json
  metadata-ingestion/tests/integration/s3/sources/s3/file_inference_without_extension.json
  metadata-ingestion/tests/integration/s3/sources/shared/file_without_extension.json
  metadata-ingestion/tests/integration/s3/sources/shared/folder_no_partition.json
  metadata-ingestion/tests/integration/s3/sources/shared/folder_no_partition_exclude.json
  metadata-ingestion/tests/integration/s3/sources/shared/folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/sources/shared/folder_no_partition_glob.json
  metadata-ingestion/tests/integration/s3/sources/shared/folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/sources/shared/folder_partition_keyval.json
  metadata-ingestion/tests/integration/s3/sources/shared/folder_partition_update_schema.json
  metadata-ingestion/tests/integration/s3/sources/shared/multiple_files.json
  metadata-ingestion/tests/integration/s3/sources/shared/multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/sources/shared/multiple_specs_of_different_buckets.json
  metadata-ingestion/tests/integration/s3/sources/shared/single_file.json
  metadata-ingestion/tests/integration/s3/test_s3.py
Labels: ingestion

#11278 fix(openlineage): fix jar conflict
  metadata-integration/java/openlineage-converter/build.gradle
Labels: ingestion

#11267 fix(ingest): limit number of upstreams generated by sql parsing aggre…
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
Labels: ingestion

#11277 feat(ingest/fivetran): support filtering on destination ids
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion, community-contribution

#11247 feat(ingest/bq): integrate bigquery-queries into main source
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_queries.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_test_connection.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries_extractor.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery_queries.py
  metadata-ingestion/tests/unit/test_bigquery_lineage.py
Labels: ingestion
