Repository datahub-project/datahub, pull requests merged in 2024-04, with the labels that each got.

#10158 <fix>[oracle ingestion]: get database name when using service
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
Labels: ingestion, community-contribution

#10176 fix(docker): fix versioning for compose file post release
  docker/docker-compose-without-neo4j.override.yml
  docker/docker-compose.override.yml
  docker/mysql/docker-compose.mysql.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  docker/quickstart/quickstart_version_mapping.yaml
  metadata-ingestion/src/datahub/cli/quickstart_versioning.py
  metadata-ingestion/tests/unit/cli/test_quickstart_version_mapping.py
Labels: ingestion, devops

#10178 fix(restoreIndices): batchSize vs limit
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/SendMAEStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/vianodes/ReindexDataJobViaNodesCLLStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/DatahubUpgradeNonBlockingTest.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/cassandra/CassandraAspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanAspectDao.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-jobs/mce-consumer-job/src/test/java/com/linkedin/metadata/kafka/MceConsumerApplicationTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/OperationsController.java
  metadata-service/restli-api/src/main/idl/com.linkedin.entity.aspects.restspec.json
  metadata-service/restli-api/src/main/idl/com.linkedin.operations.operations.restspec.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/OperationsResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/Utils.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/restoreindices/RestoreIndicesArgs.java
Labels: product, devops

#10156 feat(ui): show classification in test connection
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/TestConnection/types.ts
Labels: product, release-0.13.1

#10162 fix(ingest): add classification dep for dynamodb
  metadata-ingestion/setup.py
Labels: ingestion, release-0.13.1

#10164 feat(ingest/dbt): enable model performance and compiled code by default
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/integration/dbt/test_dbt.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion, docs, release-0.13.1

#9459 refactor(docker): move to acryldata repo for all images
  .github/actions/docker-custom-build-and-push/action.yml
  .github/workflows/docker-unified.yml
  README.md
  build.gradle
  docker/README.md
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.consumers-without-neo4j.yml
  docker/docker-compose.consumers.dev.yml
  docker/docker-compose.consumers.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.yml
  docker/ingestion/docker-compose.yml
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/profiles/docker-compose.prerequisites.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  docs/authentication/guides/add-users.md
  docs/authentication/guides/jaas.md
  docs/authentication/guides/sso/configure-oidc-behind-proxy.md
  docs/deploy/aws.md
  docs/deploy/azure.md
  docs/docker/development.md
  docs/how/extract-container-logs.md
  docs/troubleshooting/quickstart.md
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/telemetry/telemetry.py
  metadata-ingestion/src/datahub/upgrade/upgrade.py
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/MclConsumerConfig.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/McpConsumerConfig.java
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/Config.java
  smoke-test/tests/read_only/test_services_up.py
Labels: ingestion, docs, devops, smoke_test, release-0.13.0

#10186 fix(github): fix docker publish
  .github/workflows/docker-unified.yml
Labels: devops

#10180 feat(lineage): mark nodes as explored
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/UrnSearchAcrossLineageResultsMapper.java
  datahub-graphql-core/src/main/resources/search.graphql
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/SearchGraphServiceTestBase.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/graph/LineageRelationship.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/LineageSearchEntity.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.lineage.relationships.snapshot.json
Labels: product, devops

#10099 feat(ingest/gc): add index truncation logic
  metadata-ingestion/src/datahub/ingestion/source/gc/datahub_gc.py
Labels: ingestion

#10157 fix(ingestion/salesforce): fixed the issue by escaping the markdown string
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/tests/integration/salesforce/mock_files/account_fields_soql_response.json
  metadata-ingestion/tests/integration/salesforce/salesforce_mces_golden.json
Labels: ingestion, merge-pending-ci

#10191 fix(ingest/bigquery): Supporting lineage extraction in case the select query result's target table is set on job
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/tests/unit/test_bigquery_lineage.py
Labels: ingestion

#10118 fix(retention): fix time-based retention
  metadata-io/src/main/java/com/linkedin/metadata/entity/cassandra/CassandraRetentionService.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanRetentionService.java
Labels: community-contribution, product

#10192 feat(lineage): give via and paths in entity lineage response
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/EntityLineageResultResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/MapperUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/UrnSearchAcrossLineageResultsMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/main/resources/search.graphql
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/graph/LineageRelationship.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/LineageSearchEntity.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.lineage.relationships.snapshot.json
Labels: wip, product, devops

#10153 feat(ingest/looker): cleanup usage generation code
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_usage.py
Labels: ingestion

#10194 fix(dev): fix env file overrides for profiles
  docker/profiles/docker-compose.actions.yml
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/profiles/empty.env
Labels: devops

#10096 fix(ingestion/hive): ignore sampling for tagged column/table
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
Labels: ingestion

#10203 fix(ui/property): add collapse for long dataset properties
  datahub-web-react/src/app/entity/shared/tabs/Properties/StructuredPropertyValue.tsx
Labels: product

#10205 saas release v0.3.1 release notes
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_3_1.md
Labels: docs

#10204 fix(ingest/databricks): pin pandas for databricks ingestion
  metadata-ingestion/setup.py
Labels: ingestion

#10201 feat(ingestion/transformer): Handle overlapping while mapping in extract ownership from tags transformer
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/src/datahub/ingestion/transformer/extract_ownership_from_tags.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#10198 fix(build): avoid nested gradle commands
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/airflow-plugin/scripts/release.sh
  metadata-ingestion-modules/dagster-plugin/build.gradle
  metadata-ingestion-modules/dagster-plugin/scripts/release.sh
  metadata-ingestion/build.gradle
  metadata-ingestion/scripts/release.sh
Labels: ingestion

#9811 feat(ingest/great_expectations): support in-memory (Pandas) data assets
  metadata-ingestion/src/datahub/integrations/great_expectations/action.py
  metadata-ingestion/tests/unit/test_great_expectations_action.py
Labels: ingestion, community-contribution, merge-pending-ci

#10193 ci(workflow): publish docker from pr with label
  .github/workflows/docker-unified.yml
  smoke-test/build.gradle
Labels: devops

#10110 fix(ingestion/mongodb): MongoDB source unable to parse datetimes with years > 9999
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
Labels: ingestion, community-contribution, merge-pending-ci

#10188 fix(graphql-core): DomainEntitiesResolver does not support values FacetFilterInput parameter
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/DomainEntitiesResolver.java
Labels: community-contribution, product, datahub-community-champion

#10150 fix(graphql-core):Auto completion/suggestion of Domains are not working
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
Labels: community-contribution, product, datahub-community-champion

#10206 test(search): introduce retry for search test
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/GoldenTestBase.java
  metadata-io/src/test/java/io/datahubproject/test/SearchRetry.java
Labels: product

#10222 feat(ingest/bigquery): fix support for incremental column lineage
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
Labels: ingestion

#10223 fix(ingest/dbt): better dbt timestamp parsing
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion

#10224 feat(ingest/sql): normalize bigquery partitioned tables when parsing
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_audit.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_partitioned_table_insert.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion

#10215 fix(ingestion/datahub): moved urn_pattern config to source config
  metadata-ingestion/docs/sources/datahub/datahub_pre.md
  metadata-ingestion/docs/sources/datahub/datahub_recipe.yml
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/config.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_source.py
Labels: ingestion, merge-pending-ci

#10216 fix(ingestion/airflow-plugin): ingesting the tags along with the data
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
Labels: ingestion

#10211 fix(ingest): suppress all column-level parsing errors
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Labels: ingestion

#10235 fix(ci): unified workflow login logic
  .github/workflows/docker-unified.yml
Labels: devops

#10233 fix(lineage): fix lighting cache dataJob platform
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageServiceTestBase.java
Labels: product, merge-pending-ci

#10221 feat(vianode): v3 of cll via datajob update
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/ReindexDataJobViaNodesCLLConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/vianodes/ReindexDataJobViaNodesCLL.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/vianodes/ReindexDataJobViaNodesCLLStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/DatahubUpgradeNonBlockingTest.java
  metadata-service/configuration/src/main/resources/application.yml
Labels: devops

#10240 chore(build): bump actions versions
  .github/actions/docker-custom-build-and-push/action.yml
  .github/workflows/docker-unified.yml
Labels: devops

#10213 fix(ingest): avoid requiring sqlalchemy for dynamodb classification
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sqlalchemy_data_reader.py
Labels: ingestion

#10245 docs(cli/init): make datahub init docs more clear
  docs/cli.md
Labels: docs

#10247 feat(ingest/redshift): filter out system queries from usage
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
Labels: ingestion, release-0.13.1

#10210 feat(gql): support operationName
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GraphQLEngine.java
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/GraphQLController.java
Labels: ingestion, product, devops

#10243 fix(frontend): fix frontend script used in release checklist
  datahub-frontend/run/run-local-frontend
  datahub-frontend/run/run-local-frontend-debug
Labels: product

#10248 docs(init): Update entrypoints.py to be more clear about acryl init
  metadata-ingestion/src/datahub/entrypoints.py
Labels: ingestion

#10250 fix(airflow): disable OL regardless of plugin status
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
Labels: ingestion

#10239 fix(ingestion/salesforce): added additional check for description
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
Labels: ingestion

#10237 feat(api): Add description parameter to editable dataset change entity event
  docs/managed-datahub/datahub-api/entity-events-api.md
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/DatasetPropertiesChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EditableDatasetPropertiesChangeEventGenerator.java
Labels: docs, product

#10202 feat(ingest/nifi): ingest process group as browse path v2, incremental lineage
  metadata-ingestion/docs/sources/nifi/nifi_pre.md
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/tests/integration/nifi/nifi_mces_golden_cluster.json
  metadata-ingestion/tests/integration/nifi/nifi_mces_golden_standalone.json
  metadata-ingestion/tests/integration/nifi/test_nifi.py
  metadata-ingestion/tests/unit/test_nifi_source.py
Labels: ingestion, merge-pending-ci

#10244 fix publish-datahub-jars workflow
  .github/workflows/publish-datahub-jars.yml
Labels: devops

#10253 fix(ingest/unity): Fix bug around unity notebook ingestion
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Labels: ingestion, merge-pending-ci

#10146 feat(ingestion/bigquery): support patterns for label -> tag capture
  metadata-ingestion/src/datahub/configuration/pattern_utils.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
Labels: ingestion, community-contribution, merge-pending-ci

#10229 feat(ingest/fivetran): use emails in owner user urns
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/integration/fivetran/fivetran_bigquery_golden.json
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_golden.json
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion, merge-pending-ci

#10257 feat(cli): Make yaml loaders compatible with pydantic v2
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
  metadata-ingestion/src/datahub/api/entities/forms/forms.py
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
Labels: ingestion, merge-pending-ci

#10256 fix(ingest): support pydantic v2 with properties subcommand
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
Labels: ingestion, merge-pending-ci

#10266 fix(quickstart): remove unneeded init.sql
  docker/docker-compose-without-neo4j.override.yml
  docker/docker-compose.override.yml
  docker/mariadb/docker-compose.mariadb.yml
  docker/mariadb/init.sql
  docker/mysql/docker-compose.mysql.yml
  docker/mysql/init.sql
  docker/profiles/docker-compose.prerequisites.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
Labels: community-contribution, devops

#10238 fix(ingestion/airflow-plugin): replace deprecated calls
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
Labels: ingestion, community-contribution

#10234 fix(metadata-io):Recently viewed, Recently Edited and Recently Searched section is missing in datahub home page
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlyEditedSource.java
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlyViewedSource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlySearchedSource.java
Labels: community-contribution, product, datahub-community-champion

#10263 Update datahub-executor docs
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor-on-aws.md
Labels: docs, community-contribution

#10160 feat(access): Improve external role retrieval
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataset/IsAssignedToMeResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/role/IsAssignedToMeResolverTest.java
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/AccessManagement.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/__tests__/AccessManagement.test.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/AccessManagement/utils.tsx
  datahub-web-react/src/graphql/dataset.graphql
Labels: community-contribution, product

#10260 fix(openapi): fix structured properties mapping
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/util/MappingUtil.java
Labels: devops

#10265 fix(authorization): fix restricted entity privmitives
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtilsTest.java
Labels: product

#10169 fix(ingest/mongodb): schema_metadata referenced before assignment
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
Labels: ingestion

#10268 feat(ui/folder-structure-sort): sort folder structure alphabetically
  datahub-web-react/src/app/search/sidebar/BrowseNode.tsx
  datahub-web-react/src/app/search/sidebar/BrowseSidebar.tsx
  datahub-web-react/src/app/search/sidebar/EntityNode.tsx
  datahub-web-react/src/app/search/sidebar/EnvironmentNode.tsx
  datahub-web-react/src/app/search/sidebar/PlatformNode.tsx
  datahub-web-react/src/app/search/sidebar/useSort.ts
Labels: product

#10269 feat(ui/ingestion): add pagination on ingestion executions
  datahub-web-react/src/app/ingest/source/executions/IngestionExecutionTable.tsx
  datahub-web-react/src/app/ingest/source/executions/IngestionSourceExecutionList.tsx
Labels: product, merge-pending-ci

#9833 feat(access): Experimental policy debugger
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/auth/DebugAccessResolver.java
  datahub-graphql-core/src/main/resources/auth.graphql
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/policyfields/BackfillPolicyFieldsStep.java
  metadata-models/src/main/pegasus/com/linkedin/policy/DataHubActorFilter.pdl
Labels: product, merge-pending-ci

#10259 feat(ingest): show custom model info
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/utilities/_custom_package_loader.py
Labels: ingestion

#10255 fix(ingest/bigquery): Adding way to change api's batch size on schema init
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
Labels: ingestion

#10273 feat(ingest/mode): Mode improvements:
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/tests/integration/mode/mode_mces_golden.json
  metadata-ingestion/tests/integration/mode/setup/verify.json
  metadata-ingestion/tests/integration/mode/test_mode.py
Labels: ingestion

#10270 fix(ingestion/powerbi): patch column lineage for powerbi report
  metadata-ingestion/src/datahub/ingestion/api/incremental_lineage_helper.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_access_not_allowed.json
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_most_config_and_modified_since_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
Labels: ingestion

#10267 fix(ingestion/lite): An index with the name aspect_idxalready exists …
  metadata-ingestion/src/datahub/lite/duckdb_lite.py
Labels: ingestion, community-contribution, merge-pending-ci

#10217 feat(ingest/looker): browse path followups
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/looker/golden_looker_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_allow_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_external_project_view_mces.json
  metadata-ingestion/tests/integration/looker/golden_test_file_path_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_independent_look_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_joins.json
  metadata-ingestion/tests/integration/looker/golden_test_ingest_unaliased_joins.json
  metadata-ingestion/tests/integration/looker/looker_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/looker/looker_mces_usage_history.json
  metadata-ingestion/tests/integration/lookml/expected_output.json
  metadata-ingestion/tests/integration/lookml/golden_test_state.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_bigquery.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_badsql_parser.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_deny_pattern.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
  metadata-ingestion/tests/integration/lookml/lookml_reachable_views.json
  metadata-ingestion/tests/integration/lookml/lookml_same_name_views_different_file_path.json
  metadata-ingestion/tests/integration/lookml/refinement_include_order_golden.json
  metadata-ingestion/tests/integration/lookml/refinements_ingestion_golden.json
  metadata-ingestion/tests/unit/api/source_helpers/test_source_helpers.py
Labels: ingestion, release-0.13.1

#10276 feat: add posts to quickstart sample data
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
Labels: ingestion

#10281 fix(ingestion/transformer): tranformer to replace the externalUrl in dataset properties
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/transformer/replace_external_url.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#10287 fix(ingestion/csv): add to support multiple ownership type for the sa…
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/tests/integration/csv-enricher/csv_enricher_golden.json
  metadata-ingestion/tests/integration/csv-enricher/csv_enricher_test_data.csv
Labels: ingestion

#10037 feat(ingest/sigma): Sigma connector integration
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/images/sigmalogo.png
  metadata-ingestion/docs/sources/sigma/sigma_pre.md
  metadata-ingestion/docs/sources/sigma/sigma_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
  metadata-service/war/src/main/resources/boot/data_platforms.json
Labels: ingestion, community-contribution, product, devops, merge-pending-ci

#10195 fix(ingestion/scheduler): add extraArgs support for Ingestion Scheduler (e.g. for extra pip packages)
  ingestion-scheduler/src/main/java/com/datahub/metadata/ingestion/IngestionScheduler.java
Labels: community-contribution

#10219 fix(ingest): improve performance of get_allowed_list in AllowDenyPattern when dealing with large lists
  metadata-ingestion/src/datahub/configuration/common.py
Labels: ingestion, community-contribution

#10302 fix(oidc settings): use correct path for preferredJwsAlgorithm
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
  datahub-frontend/test/security/OidcConfigurationTest.java
Labels: community-contribution, product

#10278 chore(ingest/presto-on-hive): Renaming presto-on-hive to hive-metastore source
  docs-website/sidebars.js
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/hive-metastore/hive-metastore_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/source_registry.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive_metastore.py
  metadata-ingestion/tests/integration/hive-metastore/docker-compose.yml
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_1.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_2.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_3.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_4.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_5.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_to_file.yml
  metadata-ingestion/tests/integration/hive-metastore/setup/etc/catalog/hivedb.properties
  metadata-ingestion/tests/integration/hive-metastore/setup/etc/config.properties
  metadata-ingestion/tests/integration/hive-metastore/setup/etc/jvm.config
  metadata-ingestion/tests/integration/hive-metastore/setup/etc/node.properties
  metadata-ingestion/tests/integration/hive-metastore/setup/hadoop-hive.env
  metadata-ingestion/tests/integration/hive-metastore/setup/hive_setup.sql
  metadata-ingestion/tests/integration/hive-metastore/test_hive_metastore.py
Labels: ingestion

#10292 fix(ingest): disallow src.* imports, fix powerbi/sigma
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/api/incremental_lineage_helper.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/testing/check_imports.py
Labels: ingestion

#10303 Cc fix broken cll impact analysis
  datahub-web-react/src/graphql/search.graphql
Labels: product

#10301 docs: add content describing diff between datahub and acryl datahub
  docs/managed-datahub/managed-datahub-overview.md
Labels: docs

#10285 docs: versions bump for 0.13.1
  README.md
  docs-website/docusaurus.config.js
  docs-website/src/pages/_components/Hero/index.js
  docs-website/versions.json
  docs/components.md
  docs/how/updating-datahub.md
Labels: docs

#10313 chore(docker): bump kafka docker base image
  docker/kafka-setup/Dockerfile
Labels: devops

#10314 fix(ui) Show edited field descriptions in schema table
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
Labels: product

#10318 chore(pyiceburg): set minimum version
  metadata-ingestion/setup.py
Labels: ingestion

#10295 fix(ingest/tableau): handle very large filter queries
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/tests/unit/test_tableau_source.py
Labels: ingestion

#10261 fix(ingest/databricks): handle and report config parse failure, updat…
  metadata-ingestion/docs/sources/databricks/unity-catalog_pre.md
  metadata-ingestion/src/datahub/ingestion/source/unity/connection_test.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
  metadata-ingestion/tests/unit/test_unity_catalog_config.py
Labels: ingestion

#10305 feat(ingest/airflow): support disabling iolet materialization
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_config.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin_v22.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/lineage/_lineage_core.py
Labels: ingestion, docs

#10321 feat(ingest/sigma): fix stateful ingestion
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Labels: ingestion

#10319 fix(ingest/profiling): compute sample row count correctly
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
Labels: ingestion

#10317 fix(ingest/transformers): Use set to store tags in AddDatasetTags
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_tags.py
Labels: ingestion, merge-pending-ci

#10283 feat(views): apply views to homepage entity counts & recommendations
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ResolverUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/group/EntityCountsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/recommendation/ListRecommendationsResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/main/resources/recommendation.graphql
  datahub-web-react/src/app/home/HomePageRecommendations.tsx
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/MostPopularSource.java
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlyEditedSource.java
  metadata-io/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlyViewedSource.java
  metadata-io/src/main/java/com/linkedin/metadata/search/SearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/cache/EntityDocCountCache.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/recommendation/RecommendationsServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/recommendation/candidatesource/EntitySearchAggregationCandidateSourceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/recommendation/candidatesource/TestSource.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/RecommendationsService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/EntitySearchAggregationSource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlySearchedSource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecommendationSource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
Labels: product, devops

#10316 fix(ingest): make gms url configuration resilient in rest emitter
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_airflow.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
Labels: ingestion

#10322 feat(ingest/profiling): allow unique count queries to be combined
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion

#10320 fix(ingest/kafka): clarify meta-mapping docs
  metadata-ingestion/docs/sources/kafka/kafka.md
Labels: ingestion

#10249 feat(ingest): materialize terms produced by ingestion
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
  metadata-ingestion/tests/integration/csv-enricher/csv_enricher_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dynamodb/dynamodb_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/mysql/mysql_mces_no_db_golden.json
  metadata-ingestion/tests/integration/postgres/postgres_mces_with_db_golden.json
  metadata-ingestion/tests/integration/remote/golden/remote_enricher_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/trino/trino_hive_mces_golden.json
  metadata-ingestion/tests/unit/test_kafka_source.py
Labels: ingestion, merge-pending-ci

#10329 chore(kafka-setup): bump kafka version
  docker/kafka-setup/Dockerfile
Labels: devops

#10309 fix: make next as default version & create redirection
  docs-website/docusaurus.config.js
  docs-website/filterTagIndexes.json
  docs-website/package.json
  docs-website/src/pages/docs/index.js
  docs-website/yarn.lock
  docs/features.md
  docs/managed-datahub/configuring-identity-provisioning-with-ms-entra.md
  metadata-ingestion-modules/airflow-plugin/README.md
Labels: docs, merge-pending-ci

#10293 feat(ui/tasks): add pagination on tasks listing page
  datahub-web-react/src/app/entity/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entity/shared/tabs/Entity/DataFlowJobsTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Entity/components/EntityList.tsx
  datahub-web-react/src/graphql/dataFlow.graphql
  smoke-test/tests/cypress/cypress/e2e/schema_blame/schema_blame.js
Labels: product

#10334 feat(ingest): mark acryl cloud package first-party for logging
  metadata-ingestion/src/datahub/utilities/logging_manager.py
Labels: ingestion, merge-pending-ci

#10330 feat(ingest/metabase): add ability to exclude other users collections
  metadata-ingestion/docs/sources/metabase/metabase.md
  metadata-ingestion/docs/sources/metabase/metabase.yml
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/tests/integration/metabase/test_metabase.py
Labels: ingestion, community-contribution, merge-pending-ci

#10296 chore(metadata) Addressing vulnerabilities
  metadata-ingestion/docs/sources/presto/presto_recipe.yml
  metadata-ingestion/docs/sources/trino/trino_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
Labels: ingestion, community-contribution, product, smoke_test, merge-pending-ci, datahub-community-champion

#10342 fix(ingest/bigquery): set default `max_overflow` to -1
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
Labels: ingestion

#10341 fix(auth-impl): handle empty entities in field resolver providers
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DataHubAuthorizer.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/DataPlatformInstanceFieldResolverProvider.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/DomainFieldResolverProvider.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/EntityUrnFieldResolverProvider.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/GroupMembershipFieldResolverProvider.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/OwnerFieldResolverProvider.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/TagFieldResolverProvider.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/DataPlatformInstanceFieldResolverProviderTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/DomainFieldResolverProviderTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/EntityFieldResolverProviderBaseTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/EntityUrnFieldResolverProviderTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/GroupMembershipFieldResolverProviderTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/OwnerFieldResolverProviderTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/TagFieldResolverProviderTest.java
Labels: devops

#10343 feat(ingest): bump acryl-sqlglot dep
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_max_with_schema.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_default_normalization.json
Labels: ingestion

#10348 fix(ingestion/transformer): updated transformer to avoid duplicating …
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_schema_terms.py
Labels: ingestion

#10349 feat(schema-registry): exclude schema reg onboot check from schema re…
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/OnBootApplicationListener.java
  metadata-service/war/src/main/java/com/linkedin/gms/WebApplicationInitializer.java
Labels: devops

#10345 fix(ingest/starburst): parse create_time datetime format
  metadata-ingestion/src/datahub/ingestion/source/usage/starburst_trino_usage.py
Labels: ingestion, community-contribution

#10356 test(ingestion/sigma): Add integration test cases
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/tests/integration/sigma/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/sigma/golden_test_sigma_ingest.json
  metadata-ingestion/tests/integration/sigma/test_sigma.py
Labels: ingestion

#10351 fix(ingestion/salesforce): escape markdown char for multiline description
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/tests/integration/salesforce/mock_files/account_fields_soql_response.json
  metadata-ingestion/tests/integration/salesforce/salesforce_mces_golden.json
Labels: ingestion

#10352 fix(mae): fix mae standalone platform consumer
  metadata-io/src/main/java/com/linkedin/metadata/service/BusinessAttributeUpdateHookService.java
  metadata-jobs/pe-consumer/build.gradle
  metadata-jobs/pe-consumer/src/main/java/com/datahub/event/hook/BusinessAttributeUpdateHook.java
  metadata-jobs/pe-consumer/src/test/java/com/datahub/event/hook/BusinessAttributeUpdateHookTest.java
  metadata-service/configuration/src/main/resources/application.yaml
Labels: product, devops

#10228 fix(ingestion/qlik): Unable to ingest more than ten spaces
  metadata-ingestion/src/datahub/ingestion/source/qlik_sense/qlik_api.py
  metadata-ingestion/tests/integration/qlik_sense/test_qlik_sense.py
Labels: ingestion

#10364 docker(ingestion-base): set certificate location for python
  docker/datahub-ingestion-base/Dockerfile
Labels: devops

#10353 build(ci): unified workflow update 1
  .github/workflows/docker-unified.yml
Labels: devops

#10344 feat(ui): Adding new analytics charts for new users, top users past month
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetChartsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetMetadataAnalyticsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/service/AnalyticsUtil.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/util/DateUtil.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserStatus.pdl
  smoke-test/tests/cypress/cypress/e2e/analytics/analytics.js
Labels: product, merge-pending-ci

#10274 feat(ingestion/bigquery): support for table clones
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries.py
Labels: ingestion, community-contribution, merge-pending-ci

#10368 build(ingest): update base requirements file
  docker/datahub-ingestion-base/base-requirements.txt
Labels: devops

#10370 feat(ingest/mssql): improve docs on using odbc
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
Labels: ingestion

#10323 feat(ingest/dbt): handle complex dbt sql + improve docs
  metadata-ingestion/docs/sources/dbt/dbt-cloud_pre.md
  metadata-ingestion/docs/sources/dbt/dbt.md
  metadata-ingestion/docs/sources/dbt/dbt_pre.md
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
Labels: ingestion

#10324 feat:(entity-registry): add ability to search for float and double
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/SearchableAnnotation.java
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/SearchableRefAnnotation.java
  metadata-io/src/main/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformer.java
  metadata-io/src/test/java/com/linkedin/metadata/TestEntityUtil.java
  metadata-io/src/test/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformerTest.java
  test-models/src/main/pegasus/com/datahub/test/TestEntityInfo.pdl
Labels: community-contribution

#10373 fix(hazelcast): fix cache value classloading
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/CacheConfig.java
Labels: devops

#10379 docs(business-attribute):add info businessAttributeEntityEnable flag
  docs/businessattributes.md
Labels: docs, community-contribution

#10383 fix(ingest/bigquery): map date types correctly
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
Labels: ingestion

#10374 feat(ingest/dbt): use columns from manifest as a fallback
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
Labels: ingestion

#10378 fix(ingest/profiling): Filter tables early based on profile pattern filter
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_generic_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_utils.py
  metadata-ingestion/tests/unit/test_sql_utils.py
Labels: ingestion

#10371 feat(ingest/dbt): support a `datahub` section in meta mappings
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/utilities/mapping.py
  metadata-ingestion/tests/unit/test_mapping.py
Labels: ingestion

#10393 docs(observe): update docs for remote executor, databricks
  docs/managed-datahub/observe/assertions.md
  docs/managed-datahub/observe/column-assertions.md
  docs/managed-datahub/observe/custom-sql-assertions.md
  docs/managed-datahub/observe/freshness-assertions.md
  docs/managed-datahub/observe/volume-assertions.md
Labels: docs

#10362 fix(graphql) Fix entity type filter clash with legacy filters
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/AggregateAcrossEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
Labels: product

#10385 fix(backend): do not lower-case dataset key parts i.e. data platform …
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/BrowsePathV2Utils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/BrowsePathV2UtilsTest.java
Labels: product

#10358 feat: add keywords for SEO
  README.md
  docs-website/src/pages/_components/CardCTAs/index.js
  docs-website/src/pages/_components/Hero/index.js
  docs-website/src/pages/index.js
  docs/act-on-metadata/impact-analysis.md
  docs/api/tutorials/lineage.md
  docs/architecture/architecture.md
  docs/dataproducts.md
  docs/features.md
  docs/features/feature-guides/ui-lineage.md
  docs/managed-datahub/managed-datahub-overview.md
  docs/roadmap.md
  docs/townhall-history.md
  metadata-ingestion/scripts/docgen.py
Labels: ingestion, docs

#10214 docs: add slack utm component in docs
  README.md
  docs-website/src/components/SlackUtm/index.js
  docs-website/src/components/SlackUtm/styles.module.scss
  docs-website/src/theme/DocItem/Footer/index.js
  docs/_feature-guide-template.md
  docs/act-on-metadata/impact-analysis.md
  docs/actions/sources/kafka-event-source.md
  docs/api/graphql/getting-started.md
  docs/api/graphql/overview.md
  docs/api/graphql/token-management.md
  docs/authentication/personal-access-tokens.md
  docs/authorization/access-policies-guide.md
  docs/dataproducts.md
  docs/domains.md
  docs/features/dataset-usage-and-query-history.md
  docs/how/search.md
  docs/ownership/ownership-types.md
  docs/posts.md
  docs/quick-ingestion-guides/bigquery/configuration.md
  docs/quick-ingestion-guides/bigquery/overview.md
  docs/quick-ingestion-guides/bigquery/setup.md
  docs/quick-ingestion-guides/looker/configuration.md
  docs/quick-ingestion-guides/looker/overview.md
  docs/quick-ingestion-guides/looker/setup.md
  docs/quick-ingestion-guides/powerbi/configuration.md
  docs/quick-ingestion-guides/powerbi/overview.md
  docs/quick-ingestion-guides/powerbi/setup.md
  docs/quick-ingestion-guides/redshift/configuration.md
  docs/quick-ingestion-guides/redshift/overview.md
  docs/quick-ingestion-guides/redshift/setup.md
  docs/quick-ingestion-guides/snowflake/configuration.md
  docs/quick-ingestion-guides/snowflake/overview.md
  docs/quick-ingestion-guides/snowflake/setup.md
  docs/quick-ingestion-guides/tableau/configuration.md
  docs/quick-ingestion-guides/tableau/overview.md
  docs/quick-ingestion-guides/tableau/setup.md
  docs/slack.md
  docs/sync-status.md
  docs/tags.md
  docs/tests/metadata-tests.md
  docs/troubleshooting/quickstart.md
  metadata-ingestion/docs/dev_guides/profiling_ingestions.md
  metadata-ingestion/docs/dev_guides/sql_profiles.md
  metadata-ingestion/docs/sources/hana/hana.md
  metadata-ingestion/sink_docs/console.md
  metadata-ingestion/sink_docs/datahub.md
  metadata-ingestion/sink_docs/file.md
Labels: ingestion, docs

#10346 perf(ingestion/fivetran): Connector performance optimization
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion
