Repository datahub-project/datahub, pull requests merged in 2024-01, with the labels that each got.

#9533 fix posts are failing to be created as Admin user
  datahub-web-react/src/app/settings/posts/utils.ts
Labels: product

#9548 while creating secrets via UI validate validate character~
  datahub-web-react/src/app/ingest/secret/SecretBuilderModal.tsx
Labels: product

#9473 feat(ui): add databricks logo
  datahub-web-react/src/app/ingest/source/builder/constants.ts
Labels: product

#9511 feat(databricks): add hive metastore analyze profiling
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/hive_metastore_proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_profiling.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/source/unity/usage.py
  metadata-ingestion/tests/integration/unity/test_unity_catalog_ingest.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
Labels: ingestion

#9547 Fix/PRD-906 make setting manage policy test
  smoke-test/tests/cypress/cypress/e2e/settings/manage_policies.js
Labels: smoke_test

#9532 search user functionality added
  datahub-web-react/src/app/identity/user/SelectRole.tsx
  datahub-web-react/src/app/identity/user/UserList.tsx
Labels: product

#9551 fix(ci): make test flexible to allow sha-based cli versions
  smoke-test/tests/read_only/test_services_up.py
Labels: smoke_test

#9545 feat/PRD-895-Navigation-test
  smoke-test/tests/cypress/cypress/e2e/search/query_and_filter_search.js
Labels: smoke_test

#9554 docs(acryl cloud): release notes for 0.2.14.1
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_2_14.md
Labels: docs

#9555 ci(doc): tweak build rule to avoid docker build for docs
  .github/workflows/docker-unified.yml
Labels: devops

#9519 fix(ingest): improve kafka-connect test stability
  metadata-ingestion/tests/integration/kafka/docker-compose.yml
Labels: ingestion

#9505 fix(ingest/looker): add user stats to report
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion

#9552 perf(lineage): Rewrite lineage query for Elastic graph store
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/ESGraphQueryDAOTest.java
  metadata-io/src/test/resources/elasticsearch/sample_filters/lineage_query_filters_full.json
  metadata-io/src/test/resources/elasticsearch/sample_filters/lineage_query_filters_full_empty_filters.json
  metadata-io/src/test/resources/elasticsearch/sample_filters/lineage_query_filters_full_multiple_filters.json
  metadata-io/src/test/resources/elasticsearch/sample_filters/lineage_query_filters_limited.json
Labels: product

#9477 feat(ingest): improve config loading helpers
  metadata-ingestion/src/datahub/configuration/config_loader.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/secret/__init__.py
  metadata-ingestion/src/datahub/secret/datahub_secret_store.py
  metadata-ingestion/src/datahub/secret/datahub_secrets_client.py
  metadata-ingestion/src/datahub/secret/secret_common.py
  metadata-ingestion/src/datahub/secret/secret_store.py
Labels: ingestion

#9536 feat(patch): add dashboardInfo and chartInfo support for patch
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/SnapshotEntityRegistry.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/AspectTemplateEngine.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/chart/ChartInfoTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/dashboard/DashboardInfoTemplate.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/template/datajob/DataJobInputOutputTemplate.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/patch/ChartInfoTemplateTest.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/patch/DashboardInfoTemplateTest.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/patch/UpstreamLineageTemplateTest.java
  metadata-ingestion/src/datahub/specific/chart.py
  metadata-ingestion/src/datahub/specific/dashboard.py
  metadata-ingestion/src/datahub/specific/datajob.py
  metadata-ingestion/src/datahub/specific/dataproduct.py
  metadata-ingestion/src/datahub/specific/dataset.py
  metadata-ingestion/src/datahub/specific/ownership.py
  metadata-ingestion/tests/unit/api/entities/dataproducts/golden_dataproduct_out_upsert.json
  metadata-ingestion/tests/unit/patch/complex_dataset_patch.json
  metadata-ingestion/tests/unit/patch/test_patch_builder.py
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/chart/ChartInfoPatchBuilder.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/common/PatchUtil.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/dashboard/DashboardInfoPatchBuilder.java
  metadata-integration/java/datahub-client/src/main/java/datahub/client/patch/datajob/DataJobInputOutputPatchBuilder.java
  metadata-integration/java/datahub-client/src/test/java/datahub/client/patch/PatchTest.java
Labels: ingestion

#9514 feat(docker): docker compose profiles updates
  docker/build.gradle
  docker/profiles/README.md
  docker/profiles/docker-compose.actions.yml
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/profiles/docker-compose.prerequisites.yml
  docs/developers.md
  docs/how/updating-datahub.md
Labels: docs, devops

#9557 fix(graphql): BatchGetEntitiesResolver respects order
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/BatchGetEntitiesResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/BatchGetEntitiesResolverTest.java
Labels: product

#9558 ci(label): datahub-community-champion label based off usernames
  .github/workflows/pr-labeler.yml
Labels: devops

#9559 feat(quickstart): add actions to debug quickstart
  docker/build.gradle
  docker/profiles/docker-compose.actions.yml
Labels: devops

#9549 refactor: PRD-900 | Review glossary related cypress tests and extract…
  smoke-test/tests/cypress/cypress/e2e/glossary/glossaryTerm.js
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary_navigation.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: smoke_test

#9563 fix(compose-profiles): hostname kafka-broker -> broker
  docker/profiles/docker-compose.actions.yml
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/profiles/docker-compose.prerequisites.yml
Labels: devops, datahub-community-champion

#9504 Implemented the provision of openapi spec at runtime as V3 APIs.
  entity-registry/build.gradle
  metadata-service/openapi-analytics-servlet/src/test/java/io/datahubproject/openapi/config/OpenAPIAnalyticsTestConfiguration.java
  metadata-service/openapi-servlet/build.gradle
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/SpringWebConfig.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/OpenAPIV3GeneratorTest.java
Labels: devops

#9565 build(spark-smoke): dump container logs for spark smoke test
  .github/workflows/spark-smoke-test.yml
  docker/build.gradle
Labels: devops, datahub-community-champion

#9564 fix(ingest/looker): limit dashboard object lifetime to thread
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
Labels: ingestion, datahub-community-champion

#9566 feat(ingest): track thread count in ingestion report
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_usage.py
Labels: ingestion, datahub-community-champion

#9568 Lower count for CSV download query from 500 to 200 to alleviate timeouts
  datahub-web-react/src/app/entity/shared/components/styled/search/DownloadAsCsvModal.tsx
Labels: product, datahub-community-champion

#9560 fix(ci): ignore binaries from test results upload
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/docker-unified.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/spark-smoke-test.yml
  metadata-ingestion/build.gradle
Labels: ingestion, devops

#9571 fix(ci): fix label logic
  .github/workflows/pr-labeler.yml
Labels: devops

#9569 bump(docker-compose): migrate to v2 docker compose cli
  docker/README.md
  docker/airflow/local_airflow.md
  docker/dev-with-cassandra.sh
  docker/dev-without-neo4j.sh
  docker/dev.sh
  docker/ingestion/ingestion.sh
  docker/nuke.sh
  docker/quickstart.sh
  docs/developers.md
  docs/quickstart.md
Labels: docs, devops

#9491 feat(ingestion/transformer): Add dataset dataproduct transformer
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_dataproduct.py
  metadata-ingestion/src/datahub/ingestion/transformer/add_dataset_tags.py
  metadata-ingestion/src/datahub/ingestion/transformer/base_transformer.py
  metadata-ingestion/src/datahub/ingestion/transformer/dataset_transformer.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion

#9581 Fix - Removed AWS S3 Platform
  smoke-test/tests/cypress/cypress/e2e/search/query_and_filter_search.js
Labels: community-contribution, smoke_test

#9584 Fix/glossary test
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary.js
  smoke-test/tests/cypress/cypress/e2e/glossary/glossaryTerm.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managed_ingestion.js
  smoke-test/tests/cypress/cypress/e2e/search/query_and_filter_search.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: community-contribution, smoke_test

#9553 fix(owner): last modified on adding owner
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/CreateDomainResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryNodeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/glossary/CreateGlossaryTermResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/AddOwnerResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/AddOwnersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchAddOwnersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/BatchRemoveOwnersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/RemoveOwnerResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/OwnerUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/tag/CreateTagResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/utils/OwnerUtilsTest.java
Labels: product

#9592 fix(frontend): restrict redirect uri domain
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/test/app/ApplicationTest.java
Labels: product

#9589 docs(slack): add note about private Slack channels
  docs/managed-datahub/saas-slack-setup.md
  metadata-ingestion/docs/sources/postgres/postgres_recipe.yml
Labels: docs

#9577 fix(ingest/snowflake): set platform instance for foreign keys
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion

#9576 fix(ingest/redshift): include table type in custom properties
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
Labels: ingestion

#9593 fix(graphql): fix npe in access mapper
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/rolemetadata/mappers/AccessMapper.java
Labels: product

#9595 fix(ingest/bigquery): support google-cloud-bigquery 3.15.0
  metadata-ingestion/src/datahub/emitter/sql_parsing_builder.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
Labels: ingestion

#9598 Fix - updated verification steps
  smoke-test/tests/cypress/cypress/e2e/query/query_tab.js
Labels: community-contribution, smoke_test

#9580 fix(ingestion/starburst-trino): Fix validation errors in TrinoJoinedAccessEvent
  metadata-ingestion/src/datahub/ingestion/source/usage/starburst_trino_usage.py
  metadata-ingestion/tests/integration/starburst-trino-usage/trino_usages_golden.json
  metadata-ingestion/tests/integration/starburst-trino-usage/usage_events_history.json
Labels: ingestion, merge-pending-ci

#9600 feat(ingest/snowflake): improve accuracy of computed sample-based pro…
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion, community-contribution

#9531 feat(ingestion/fivetran): Add fivetran bigquery destination support
  datahub-web-react/src/app/ingest/source/builder/sources.json
  metadata-ingestion/docs/sources/fivetran/fivetran_pre.md
  metadata-ingestion/docs/sources/fivetran/fivetran_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/integration/fivetran/fivetran_bigquery_golden.json
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_golden.json
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion, product, merge-pending-ci

#9444 feat: Auto-focus on entity profile action modals
  datahub-web-react/src/app/entity/shared/EntityDropdown/MoveGlossaryEntityModal.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/NodeParentSelect.tsx
  datahub-web-react/src/app/entity/shared/components/styled/AddLinkModal.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/DataProduct/SetDataProductModal.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Domain/SetDomainModal.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Ownership/EditOwnersModal.tsx
  datahub-web-react/src/app/entity/view/builder/ViewBuilderModal.tsx
  datahub-web-react/src/app/shared/tags/AddTagsTermsModal.tsx
  datahub-web-react/src/utils/focus/index.ts
  smoke-test/tests/cypress/cypress/e2e/mutations/dataset_ownership.js
Labels: product

#9482 fix(ingest): support `database_pattern` in clickhouse and clickhouse-usage
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/two_tier_sql_source.py
  metadata-ingestion/src/datahub/ingestion/source/usage/clickhouse_usage.py
Labels: ingestion, merge-pending-ci

#9607 feat(ingest/tableau): include platform_instance in browse v1 path
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/transformer/extract_ownership_from_tags.py
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
Labels: ingestion, merge-pending-ci

#9609 Fix/nested domain test
  smoke-test/tests/cypress/cypress/e2e/domains/nested_domains.js
Labels: community-contribution, smoke_test

#9596 feat(ingest/tableau): add retries on OSErrors
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
Labels: ingestion, merge-pending-ci

#9613 feat(ingest): key-partitioning for rest emitter
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/utilities/advanced_thread_executor.py
  metadata-ingestion/tests/unit/utilities/test_advanced_thread_executor.py
Labels: ingestion

#9599 fix(ingest/nifi): make s3 dataset urn consistent with s3 source
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/tests/unit/test_nifi_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#9611 Fix - Changed popup text visibility and removed unnecessary code
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary.js
  smoke-test/tests/cypress/cypress/e2e/glossary/glossaryTerm.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: community-contribution, smoke_test

#9622 fix(graphql): Add jsonProps to SchemaField type
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/SchemaFieldMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
Labels: product

#9615 feat(ingest/looker): add backpressure-aware executor
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/src/datahub/utilities/advanced_thread_executor.py
  metadata-ingestion/tests/integration/lookml/test_lookml.py
  metadata-ingestion/tests/unit/utilities/test_advanced_thread_executor.py
Labels: ingestion, merge-pending-ci

#9612 fix(ingest/mongodb): Fix downsampling the collection schema output undetermined
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
Labels: ingestion, community-contribution

#9630 Unskip "type" filter tests
  smoke-test/tests/cypress/cypress/e2e/search/query_and_filter_search.js
Labels: community-contribution, smoke_test

#9617 feat(ingest/dbt): speed up dbt CLL
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
Labels: ingestion

#9620 Added Homepage Post Steps
  smoke-test/tests/cypress/cypress/e2e/settings/homePagePost.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: community-contribution, smoke_test

#9634 feat(graphql): generate ToString method
  datahub-graphql-core/build.gradle
Labels: product

#9625 fix(autocomplete): Filter default entity types based on those present in types map
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/AutoCompleteForMultipleResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
Labels: product

#9624 feat(search): add support for empty aggregations through searchable annotation
  entity-registry/src/main/java/com/linkedin/metadata/models/SearchableFieldSpecExtractor.java
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/SearchableAnnotation.java
  entity-registry/src/test/java/com/linkedin/metadata/models/EntitySpecBuilderTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AggregationQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchQueryBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/SearchUtil.java
  test-models/src/main/pegasus/com/datahub/test/TestEntityInfo.pdl
Labels: product

#9633 feat(ingest/dbt-cloud): Add way to customize dbt cloud access endpoint
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion

#9627 build(ingest/feast): upgrade to latest feast version (0.35.x)
  metadata-ingestion/setup.py
Labels: ingestion, community-contribution

#9472 feat(classifier): Add support for excluding list of exact column names
  docker/datahub-ingestion-base/base-requirements.txt
  metadata-ingestion/docs/dev_guides/classification.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/glossary/datahub_classifier.py
  metadata-ingestion/tests/unit/test_classification.py
Labels: ingestion

#9642 feat(cli): add threads to sink report
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
Labels: ingestion

#9648 fix(extension) Fixes routing for the embed pages for chrome extension
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/EmbedRoutes.tsx
  datahub-web-react/src/app/ProtectedRoutes.tsx
  datahub-web-react/src/app/__tests__/Routes.test.tsx
  datahub-web-react/src/app/embed/EmbeddedPage.tsx
Labels: product

#9629 feat: add an endpoint to edit posts
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/post/UpdatePostResolver.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/post/UpdatePostResolverTest.java
  datahub-web-react/src/graphql/post.graphql
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/post/PostService.java
Labels: community-contribution, product, devops

#9643 feat(monitoring): add metrics for kafka consumers
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/DataHubUsageEventsProcessor.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeLogProcessor.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeEventsProcessor.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessor.java
  metadata-jobs/pe-consumer/src/main/java/com/datahub/event/PlatformEventProcessor.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/DataHubUpgradeKafkaListener.java
Labels: devops

#9660 feat(web): update aws logos
  datahub-web-react/src/images/awsathenalogo.png
  datahub-web-react/src/images/dynamodblogo.png
  datahub-web-react/src/images/gluelogo.png
  datahub-web-react/src/images/redshiftlogo.png
  datahub-web-react/src/images/s3.png
  datahub-web-react/src/images/s3logo.png
  datahub-web-react/src/images/sagemakerlogo.png
Labels: community-contribution, product, merge-pending-ci

#9661 fix(docs-website): update copy around the video on index
  docs-website/src/pages/index.js
  metadata-ingestion/docs/sources/mssql/mssql_recipe.yml
Labels: ingestion, merge-pending-ci

#9318 fix(protobuf): fix reseved field error in fields in nested messages
  metadata-integration/java/datahub-protobuf/src/main/java/datahub/protobuf/model/ProtobufField.java
  metadata-integration/java/datahub-protobuf/src/test/java/datahub/protobuf/model/ProtobufFieldTest.java
  metadata-integration/java/datahub-protobuf/src/test/resources/extended_protobuf/messageD.proto
  metadata-integration/java/datahub-protobuf/src/test/resources/extended_protobuf/messageD.protoc
Labels: ingestion, community-contribution

#9601 feat(ingest/databricks): ingest hive metastore by default, more docs
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/databricks/unity-catalog_post.md
  metadata-ingestion/docs/sources/databricks/unity-catalog_pre.md
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
  metadata-ingestion/tests/unit/test_unity_catalog_config.py
Labels: ingestion, community-contribution

#7618 fix(docker):The datahub-frontend service failed to start when executing dev.sh #7616
  docker/datahub-frontend/Dockerfile
  docker/docker-compose.dev.yml
Labels: community-contribution, devops, merge-pending-ci

#8730 feat(openapi): Implement getIndexSizes function from rest.li in openapi
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/OperationsController.java
Labels: devops, merge-pending-ci

#9654 feat(ingest/sql-parsing): Support file backed dict in SqlParsingBuilder for lineage
  metadata-ingestion/src/datahub/emitter/sql_parsing_builder.py
Labels: ingestion

#9666 feat(posts): add edit support for posts
  datahub-web-react/src/app/settings/posts/CreatePostForm.tsx
  datahub-web-react/src/app/settings/posts/CreatePostModal.tsx
  datahub-web-react/src/app/settings/posts/PostItemMenu.tsx
  datahub-web-react/src/app/settings/posts/PostsList.tsx
  datahub-web-react/src/app/settings/posts/PostsListColumns.tsx
  datahub-web-react/src/graphql/mutations.graphql
Labels: community-contribution, product

#9659 feat(roles): Add support for roles in groups in GMS
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/group/CreateGroupResolver.java
  metadata-models/src/main/pegasus/com/linkedin/identity/RoleMembership.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/PolicyEngine.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DataHubAuthorizerTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/PolicyEngineTest.java
  smoke-test/tests/privileges/test_privileges.py
  smoke-test/tests/privileges/utils.py
Labels: devops, merge-pending-ci

#9671 fix(user-removal): resolve user removal list update issue
  datahub-web-react/src/app/identity/user/UserList.tsx
Labels: community-contribution, product, merge-pending-ci

#9470 feat(ui) Add standardized GQL error handling function to FE
  datahub-web-react/src/App.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Queries/QueryCardDetailsMenu.tsx
  datahub-web-react/src/app/shared/constants.ts
  datahub-web-react/src/app/shared/handleGraphQLError.ts
Labels: product

#9662 feat(kafka): add health indicator for kafka
  docker/docker-compose.consumers-without-neo4j.yml
  docker/docker-compose.consumers.yml
  docker/quickstart/docker-compose.consumers-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.consumers.quickstart.yml
  metadata-jobs/common/build.gradle
  metadata-jobs/common/src/main/java/io/datahubproject/metadata/jobs/common/health/kafka/KafkaHealthIndicator.java
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mae-consumer-job/src/main/java/com/linkedin/metadata/kafka/MaeConsumerApplication.java
  metadata-jobs/mae-consumer-job/src/test/java/com/linkedin/metadata/kafka/MaeConsumerApplicationTest.java
  metadata-jobs/mce-consumer-job/build.gradle
  metadata-jobs/mce-consumer-job/src/main/java/com/linkedin/metadata/kafka/MceConsumerApplication.java
  metadata-jobs/mce-consumer-job/src/test/java/com/linkedin/metadata/kafka/MceConsumerApplicationTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/ConsumerConfiguration.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/OnBootApplicationListener.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/DataHubUpgradeKafkaListener.java
  settings.gradle
Labels: devops, platform

#9664 feat(ingest/airflow): support airflow 2.8 dataset listeners
  .github/workflows/airflow-plugin.yml
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_airflow_shims.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/tox.ini
Labels: ingestion, devops

#9672 fix(docs): Correct Kafka Connect sink documentation
  metadata-ingestion/docs/sources/kafka-connect/README.md
Labels: ingestion, docs

#9619 docs(observability): add databricks as supported source
  docs/managed-datahub/observe/column-assertions.md
  docs/managed-datahub/observe/custom-sql-assertions.md
  docs/managed-datahub/observe/freshness-assertions.md
  docs/managed-datahub/observe/volume-assertions.md
Labels: docs, community-contribution

#9652 feat(openapi): support structured properties & forms
  buildSrc/src/main/java/io/datahubproject/GenerateJsonSchemaTask.java
  buildSrc/src/main/java/io/datahubproject/OpenApiEntities.java
  docker/profiles/docker-compose.gms.yml
  docs-website/sidebars.js
  docs/api/openapi/openapi-structured-properties.md
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/GenericJsonPatch.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/common/GenericPatchTemplate.java
  metadata-ingestion/src/datahub/cli/docker_check.py
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/batch/MCPUpsertBatchItem.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/dgraph/DgraphGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-models/build.gradle
  metadata-service/openapi-entity-servlet/build.gradle
  metadata-service/openapi-entity-servlet/src/main/java/io/datahubproject/openapi/v2/delegates/EntityApiDelegateImpl.java
  metadata-service/openapi-entity-servlet/src/main/resources/JavaSpring/apiController.mustache
  metadata-service/openapi-entity-servlet/src/test/java/io/datahubproject/openapi/v2/delegates/EntityApiDelegateImplTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/GlobalControllerExceptionHandler.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/SpringWebConfig.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/util/ReflectionCache.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/RelationshipController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/TimeseriesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/models/GenericEntity.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/models/GenericRelationship.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/models/GenericScrollResult.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/models/GenericTimeseriesAspect.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/models/PatchOperation.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/utils/ControllerUtil.java
  metadata-service/restli-servlet-impl/src/test/java/mock/MockTimeseriesAspectService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/AspectUtils.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/GraphService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/RelatedEntities.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/RelatedEntitiesScrollResult.java
  metadata-service/services/src/main/java/com/linkedin/metadata/timeseries/GenericTimeseriesDocument.java
  metadata-service/services/src/main/java/com/linkedin/metadata/timeseries/TimeseriesAspectService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/timeseries/TimeseriesScrollResult.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/AuditStampUtils.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/SearchUtil.java
Labels: ingestion, docs, product, devops, smoke_test

#9673 feat(build): conditional ci
  .github/actions/ci-optimization/action.yml
  .github/workflows/build-and-test.yml
  .github/workflows/docker-unified.yml
Labels: devops

#9670 feat(superset): add some custom properties for dashboards
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/superset/golden_test_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/superset/test_superset.py
Labels: ingestion, community-contribution, merge-pending-ci

#9656 fix(superset): handle comma in dataset table name
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Labels: ingestion, community-contribution, merge-pending-ci

#9646 feat(openapi): allow swagger 3.x
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
Labels: ingestion, community-contribution, merge-pending-ci

#9647 feat(ingest/superset): add domains and platform_instance support
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Labels: ingestion, community-contribution, merge-pending-ci

#9678 fix(workflow): workflow tweaks
  .github/actions/ci-optimization/action.yml
  .github/workflows/build-and-test.yml
  .github/workflows/metadata-io.yml
Labels: devops

#9657 feat(ingest/databricks): view upstream lineage for hive metastore
  metadata-ingestion/src/datahub/ingestion/source/unity/hive_metastore_proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
Labels: ingestion, community-contribution, merge-pending-ci

#9658 feat(ingest/dynamodb): add domain arg
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
Labels: ingestion, community-contribution, merge-pending-ci

#9688 feat(ingest/lookml): support complex lookml manifests
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lkml_patched.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/lookml/lkml_manifest_samples/complex-manifest.lkml
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion, merge-pending-ci

#9527 fix(ingestion/mssql): use platform_instance for mssql dataflow/datajob
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
Labels: ingestion, merge-pending-ci

#9683 Added to Verify Edit Post Steps
  smoke-test/tests/cypress/cypress/e2e/settings/homePagePost.js
Labels: community-contribution, smoke_test

#9649 feat(ingest): improve sql tests + dbt reporting
  metadata-ingestion/docs/sources/datahub/datahub_recipe.yml
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_utils.py
Labels: ingestion

#9653 feat(ingest/sql-parser): test redshift temp tables
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_redshift_temp_table_shortcut.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion

#9684 feat(policies): Allow policies to be applied to resources based on tags
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/EntityFieldType.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DefaultEntitySpecResolver.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/TagFieldResolverProvider.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/PolicyEngineTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/TagFieldResolverProviderTest.java
Labels: devops

#9689 feat(role-assignment): add role assignment dropdown in the UI for groups
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/identity/group/AssignRoletoGroupConfirmation.tsx
  datahub-web-react/src/app/identity/group/GroupList.tsx
  datahub-web-react/src/app/identity/group/GroupListItem.tsx
  datahub-web-react/src/app/identity/group/SelectRoleGroup.tsx
  datahub-web-react/src/app/identity/group/cacheUtils.ts
  datahub-web-react/src/graphql/group.graphql
  metadata-service/services/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
  smoke-test/tests/cypress/cypress/e2e/settings/managing_groups.js
Labels: community-contribution, product

#9667 fix: Fix error message when attempting to delete home page posts with…
  datahub-web-react/src/app/settings/posts/CreatePostModal.tsx
  datahub-web-react/src/app/settings/posts/PostItemMenu.tsx
Labels: community-contribution, product

#9699 fix(consumer): wait for internal schema registry
  docker/datahub-mae-consumer/start.sh
  docker/datahub-mce-consumer/start.sh
Labels: community-contribution, devops

#9697 feat(build): support jdk8 spark lineage
  .github/workflows/build-and-test.yml
  build.gradle
  entity-registry/src/main/java/com/linkedin/metadata/aspect/batch/AspectsBatch.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/GenericJsonPatch.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/PluginFactory.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/config/PluginConfiguration.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/AspectRetriever.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/ConfigEntityRegistry.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/PatchEntityRegistry.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/config/EntityRegistryLoadResult.java
  ingestion-scheduler/build.gradle
  metadata-events/mxe-avro/build.gradle
  metadata-events/mxe-registration/build.gradle
  metadata-events/mxe-schemas/build.gradle
  metadata-events/mxe-utils-avro/build.gradle
  metadata-integration/java/datahub-client/build.gradle
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-jobs/common/build.gradle
  metadata-models/build.gradle
  metadata-models/src/main/resources/JavaSpring/model.mustache
  metadata-service/configuration/build.gradle
  metadata-service/restli-servlet-impl/build.gradle
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/EntityRecommendationSource.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/RollbackService.java
  metadata-utils/build.gradle
Labels: ingestion, product, devops

#9701 feat(ingest): add ODBC library and tools to base image
  docker/datahub-ingestion-base/Dockerfile
Labels: community-contribution, devops

#9665 feat (resolver): Add new endpoint for editing secrets
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/secret/CreateSecretResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/secret/UpdateSecretResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/ingest/secret/mapper/DataHubSecretValueMapper.java
  datahub-graphql-core/src/main/resources/ingestion.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/secret/UpdateSecretResolverTest.java
  datahub-web-react/src/graphql/ingestion.graphql
  smoke-test/tests/managed-ingestion/managed_ingestion_test.py
Labels: community-contribution, product, smoke_test

#9694 feat(ingest): handling for const in json schema
  metadata-ingestion/src/datahub/ingestion/extractor/json_schema_util.py
  metadata-ingestion/tests/unit/schema/test_json_schema_util.py
Labels: ingestion

#9686 refactor(ingest): simplify adding aspects to MCEs in transformers
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/transformer/base_transformer.py
  metadata-ingestion/src/datahub/ingestion/transformer/extract_dataset_tags.py
Labels: ingestion

#9690 docs(openapi): improve description fields
  metadata-ingestion/src/datahub/ingestion/source/openapi.py
Labels: ingestion, community-contribution

#9709 feat(docs): Add documentation on Incident Change Event
  docs/managed-datahub/datahub-api/entity-events-api.md
Labels: docs

#9650 feat(ingest/dbt): support aws config without region
  metadata-ingestion/src/datahub/ingestion/source/aws/aws_common.py
  metadata-ingestion/src/datahub/ingestion/source/aws/sagemaker.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion

#9711 fix(test): improve cypress tests
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managed_ingestion.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: smoke_test

#9708 feat(ingest/tableau): map trino_jdbc platform type
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
Labels: ingestion

#9712 fix(oidc settings): effective JWS algorithm setting
  datahub-frontend/app/auth/AuthUtils.java
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
  datahub-frontend/play.gradle
  datahub-frontend/test/security/OidcConfigurationTest.java
  metadata-models/src/main/pegasus/com/linkedin/settings/global/OidcSettings.pdl
  metadata-service/auth-servlet-impl/build.gradle
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
  metadata-service/auth-servlet-impl/src/test/java/com/datahub/auth/authentication/AuthServiceControllerTest.java
  metadata-service/auth-servlet-impl/src/test/java/com/datahub/auth/authentication/AuthServiceTestConfiguration.java
Labels: community-contribution, product, devops

#9714 feat(ingest/metabase): Use new sql parser; reduce error reporting levels
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_extractors.py
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/native_sql_parser.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/utilities/sqlglot_lineage.py
  metadata-ingestion/tests/integration/metabase/metabase_mces_golden.json
  metadata-ingestion/tests/integration/metabase/setup/card.json
  metadata-ingestion/tests/integration/metabase/setup/card_1.json
  metadata-ingestion/tests/integration/metabase/setup/dashboard_1.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion

#9579 fix(ingestion/bigquery): Table-view-snapshot Lineage Bug fix
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/queries.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/tests/unit/test_bigquery_source.py
Labels: ingestion, community-contribution

#9695 feat(ui) Add structured properties support in the UI
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entity/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entity/shared/components/legacy/DescriptionModal.tsx
  datahub-web-react/src/app/entity/shared/components/styled/EntityIcon.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/EntityProfile.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/EntitySidebar.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/ProfileSidebar.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/ChildCountLabel.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/PropertiesColumn.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/PropertyTypeLabel.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/DrawerHeader.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDescription.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldHeader.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldProperties.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldTags.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldTerms.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldUsageStats.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/SchemaFieldDrawer.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/components.ts
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/useTagsAndTermsRenderer.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Schema/utils/useUsageStatsRenderer.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/editor/Editor.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/CardinalityLabel.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/NameColumn.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/PropertiesTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/StructuredPropertyTooltip.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/StructuredPropertyValue.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/TabHeader.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/ValuesColumn.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/__tests__/utils.test.ts
  datahub-web-react/src/app/entity/shared/tabs/Properties/types.ts
  datahub-web-react/src/app/entity/shared/tabs/Properties/useStructuredProperties.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/useUpdateExpandedRowsFromFilter.ts
  datahub-web-react/src/app/entity/shared/tabs/Properties/utils.ts
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/app/entity/shared/utils.ts
  datahub-web-react/src/graphql/fragments.graphql
  smoke-test/tests/cypress/cypress/e2e/login/login.js
  smoke-test/tests/cypress/cypress/e2e/mutations/edit_documentation.js
  smoke-test/tests/cypress/cypress/e2e/mutations/mutations.js
  smoke-test/tests/cypress/cypress/e2e/schema_blame/schema_blame.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: product

#9713 docs(): Updating docs for assertions to correct databricks assertions support
  docs/managed-datahub/observe/custom-sql-assertions.md
  docs/managed-datahub/observe/freshness-assertions.md
Labels: docs

#9717 test(spark-lineage): minor tweaks
  .github/workflows/spark-smoke-test.yml
  docker/build.gradle
  metadata-integration/java/spark-lineage/src/test/java/datahub/spark/TestSparkJobsLineage.java
Labels: ingestion, devops

#9700 feat(search): support filtering on count type searchable fields for equality
  entity-registry/src/main/java/com/linkedin/metadata/models/EntitySpec.java
  entity-registry/src/main/java/com/linkedin/metadata/models/EntitySpecBuilder.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/ConfigEntityRegistry.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/MergedEntityRegistry.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/PatchEntityRegistry.java
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/SnapshotEntityRegistry.java
  entity-registry/src/test/java/com/linkedin/metadata/models/EntitySpecBuilderTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESBrowseDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/query/ESAggregatedStatsDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/GoldenTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/MappingsBuilderTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceTestBase.java
  metadata-io/src/test/java/io/datahubproject/test/search/SearchTestUtils.java
  metadata-io/src/test/resources/elasticsearch/long_tail/datasetindex_v2.json.gz
  test-models/src/main/pegasus/com/datahub/test/TestEntityInfo.pdl
Labels: product

#9722 feat(ui): Supporting rendering custom assertion descriptions
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/assertion/AssertionMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/Assertions.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/DatasetAssertionDescription.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/DatasetAssertionsList.tsx
  datahub-web-react/src/graphql/assertion.graphql
Labels: product

#9674 infra(ui): Add a react context provider allowing sub-components to update theme conf
  datahub-web-react/src/App.tsx
  datahub-web-react/src/CustomThemeProvider.tsx
  datahub-web-react/src/customThemeContext.tsx
Labels: product

#9631 fix(ingestion/metabase): Fetch Dashboards through Collections
  metadata-ingestion/developing.md
  metadata-ingestion/docs/sources/metabase/metabase.md
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/tests/integration/metabase/metabase_mces_golden.json
  metadata-ingestion/tests/integration/metabase/setup/collection_dashboards.json
  metadata-ingestion/tests/integration/metabase/setup/collections.json
  metadata-ingestion/tests/integration/metabase/setup/dashboard.json
  metadata-ingestion/tests/integration/metabase/setup/dashboard_1.json
  metadata-ingestion/tests/integration/metabase/test_metabase.py
Labels: ingestion, community-contribution, merge-pending-ci

#9591 fix(ingest/glue): Profiling breaks for non-partitioned tables due to absent `Table.PartitionKeys`
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Labels: community-contribution, merge-pending-ci

#9729 fix(search): fix filters for hasX and numValues fields
  entity-registry/src/main/java/com/linkedin/metadata/models/ConfigEntitySpec.java
  entity-registry/src/main/java/com/linkedin/metadata/models/DefaultEntitySpec.java
  entity-registry/src/main/java/com/linkedin/metadata/models/EntitySpec.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESBrowseDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/query/ESAggregatedStatsDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/SampleDataFixtureTestBase.java
Labels: product, platform

#9719 fix(ingest/airflow): fix plugin support for airflow 2.5.0
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_datahub_listener_module.py
Labels: ingestion

#9707 fix(cli): fix example data contract yaml + update airflow codecov
  .github/workflows/airflow-plugin.yml
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/airflow-plugin/tests/conftest.py
  metadata-ingestion/examples/data_contract/pet_of_the_week.dhub.dc.yaml
Labels: ingestion

#9725 fix(ingest/metabase): add missing sql parser dep
  metadata-ingestion/setup.py
Labels: ingestion

#9715 feat(glossary-term-dropdown): include parent term groups in dropdown
  datahub-web-react/src/app/entity/glossaryTerm/profile/AddRelatedTermsModal.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/NodeParentSelect.tsx
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Domain/SetDomainModal.tsx
  datahub-web-react/src/app/glossary/GloassarySearchResultItem.tsx
  datahub-web-react/src/app/glossary/GlossarySearch.tsx
  datahub-web-react/src/app/glossary/utils.ts
  datahub-web-react/src/app/shared/DomainLabel.tsx
  datahub-web-react/src/app/shared/tags/AddTagsTermsModal.tsx
Labels: community-contribution, product

#9349 fix(ingest/s3): Not sorting schema fields to keep original order
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/src/datahub/ingestion/source/schema_inference/json.py
  metadata-ingestion/tests/unit/data_lake/test_schema_inference.py
Labels: ingestion

#9734 build(graphql): simplify gradle graphql codegen task
  datahub-graphql-core/build.gradle
Labels: product

#9737 feat(edit-secret): frontend support to edit secrets
  datahub-web-react/src/app/ingest/secret/SecretBuilderModal.tsx
  datahub-web-react/src/app/ingest/secret/SecretsList.tsx
  datahub-web-react/src/app/ingest/secret/cacheUtils.ts
  datahub-web-react/src/app/ingest/secret/types.ts
Labels: community-contribution, product, merge-pending-ci

#9731 chore(cli): drop support for python 3.7
  .github/workflows/metadata-ingestion.yml
  docs/cli.md
  docs/how/updating-datahub.md
  docs/quickstart.md
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_airflow.py
  metadata-ingestion/build.gradle
  metadata-ingestion/cli-ingestion.md
  metadata-ingestion/developing.md
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/__init__.py
  metadata-ingestion/src/datahub/ingestion/api/report.py
  metadata-ingestion/src/datahub/ingestion/source/feast.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
  metadata-ingestion/src/datahub/ingestion/source/schema_inference/object.py
  metadata-ingestion/tests/integration/feast/test_feast_repository.py
  metadata-ingestion/tests/integration/iceberg/test_iceberg.py
  metadata-ingestion/tests/integration/mlflow/test_mlflow_source.py
  metadata-ingestion/tests/integration/sql_server/test_sql_server.py
  metadata-ingestion/tests/unit/test_iceberg.py
  metadata-ingestion/tests/unit/test_mlflow_source.py
Labels: ingestion, docs, devops, release-0.13.0

#9733 feat(platform): add support for via nodes
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/BatchLoadUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossLineageResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/GroupingCriterionInputMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/SearchFlagsInputMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/UrnToEntityMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/UrnSearchAcrossLineageResultsMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/query/QueryType.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossLineageResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/SearchResolverTest.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/ReindexDataJobViaNodesCLLConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemUpdateConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/SystemUpdate.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/via/ReindexDataJobViaNodesCLL.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/via/ReindexDataJobViaNodesCLLStep.java
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/RelationshipAnnotation.java
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/dgraph/DgraphGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphWriteDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphRelationshipMappingsBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/SearchUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/GraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/dgraph/DgraphGraphServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/SearchGraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/LineageDataFixtureTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/SearchUtilsTest.java
  metadata-models/src/main/pegasus/com/linkedin/dataset/FineGrainedLineage.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataset/Upstream.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/graph/LineageRelationship.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/query/GroupingCriterion.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/query/GroupingSpec.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/query/SearchFlags.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/LineageSearchEntity.pdl
  metadata-models/src/main/pegasus/com/linkedin/query/QueryProperties.pdl
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/search/GraphQueryConfiguration.java
  metadata-service/configuration/src/main/resources/application.yml
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/BootstrapStep.java
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.lineage.relationships.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/Edge.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/GraphIndexUtils.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/RelatedEntities.java
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/RelatedEntity.java
  smoke-test/requirements.txt
  smoke-test/tests/lineage/__init__.py
  smoke-test/tests/lineage/test_lineage.py
Labels: ingestion, product, devops, smoke_test

#9730 feat(ingestion/tableau) Ingest tags from datasource
  metadata-ingestion/src/datahub/ingestion/source/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau_common.py
  metadata-ingestion/tests/integration/tableau/setup/publishedDatasourcesConnection_all.json
  metadata-ingestion/tests/integration/tableau/tableau_cll_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_extract_all_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_mces_golden_deleted_stateful.json
  metadata-ingestion/tests/integration/tableau/tableau_nested_project_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_signout_timeout_mces_golden.json
  metadata-ingestion/tests/integration/tableau/tableau_with_platform_instance_mces_golden.json
Labels: ingestion

#9738 feat(ingest/okta): option to only ingest users from filtered groups
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
Labels: ingestion, merge-pending-ci

#9744 feat(cli): add sibling helper CLI command
  metadata-ingestion/src/datahub/cli/specific/dataset_cli.py
Labels: ingestion, merge-pending-ci

#9743 chore(gms): allow adjusting the log level for gms debug log file
  metadata-service/war/src/main/resources/logback.xml
Labels: community-contribution, devops

#9724 build(ingestion-smoke): fix smoke dockerfile
  docker/datahub-ingestion-base/smoke.Dockerfile
Labels: devops

#9740 feat(ingestion/dbt): multiple node owner separated by comma
  metadata-ingestion/src/datahub/utilities/mapping.py
  metadata-ingestion/tests/unit/test_mapping.py
Labels: ingestion, merge-pending-ci

#9720 fix(ingest/transformer): generate ownership aspect from handle_end_of_stream
  metadata-ingestion/src/datahub/ingestion/transformer/base_transformer.py
  metadata-ingestion/src/datahub/ingestion/transformer/extract_ownership_from_tags.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion, merge-pending-ci
