Repository datahub-project/datahub, pull requests merged in 2025-10, with the labels that each got.

#14898 feat(sqlglot): preserve CTEs when extracting SELECT from INSERT statements and add corresponding unit test
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_insert_with_cte.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion, community-contribution, merge-pending-ci

#14895 chore(devenv): upgrade of opensearch to 2.17 and stability improvements
  docker/elasticsearch-setup/create-indices.sh
  docker/elasticsearch/env/docker.env
  docker/profiles/docker-compose.prerequisites.yml
  docker/quickstart/docker-compose.quickstart-profile.yml
  metadata-io/src/test/java/io/datahubproject/test/search/OpenSearchTestContainer.java
Labels: product, devops, pending-submitter-merge

#14709 feat(s3/ingest): performance improvements for get_dir_to_process and get_folder_info
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_boto_utils.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/gcs/golden_mces_allow_table.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_allow_table.json
  metadata-ingestion/tests/integration/s3/test_s3.py
  metadata-ingestion/tests/unit/data_lake/test_path_spec.py
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Labels: pending-submitter-response, ingestion

#14912 feat: ConnectionModel and DataHubGraph:get_urns_by_filter and StructuredProperties from saas
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/filters.py
  metadata-ingestion/src/datahub/specific/aspect_helpers/structured_properties.py
Labels: ingestion, pending-submitter-merge

#14905 fix(ingest/snowflake): Fixed the Snowflake external URL generation issue for privatelink connections.
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
Labels: ingestion, pending-submitter-merge

#14906 ci(cloudflare): fix workflow check for secret
  .github/workflows/react-cloudflare-pages.yml
Labels: devops, pending-submitter-merge

#14908 fix(ingest/snowflake): Skip sql parsing if all the features disable in config where it is needed
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_queries.py
Labels: ingestion, needs-review

#14921 fix(ingest/grafana): add exception handling
  metadata-ingestion/src/datahub/ingestion/source/grafana/models.py
Labels: ingestion, pending-submitter-merge

#14889 config(gms): enable some features by default
  docker/profiles/docker-compose.gms.yml
  docker/quickstart/docker-compose.quickstart-profile.yml
  metadata-service/configuration/src/main/resources/application.yaml
  smoke-test/run-quickstart.sh
Labels: devops, smoke_test, pending-submitter-merge

#14872 feat(structuredProperties): add option to hide properties with empty values
  datahub-web-react/src/alchemy-components/components/Checkbox/Checkbox.stories.tsx
  datahub-web-react/src/alchemy-components/components/Checkbox/Checkbox.tsx
  datahub-web-react/src/alchemy-components/components/Checkbox/components.ts
  datahub-web-react/src/alchemy-components/components/Checkbox/types.ts
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/entityV2/shared/sidebarSection/SidebarStructuredProperties.tsx
  datahub-web-react/src/app/govern/structuredProperties/DisplayPreferences.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsDrawer.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsTable.tsx
  datahub-web-react/src/app/govern/structuredProperties/ViewDisplayPreferences.tsx
  datahub-web-react/src/app/govern/structuredProperties/__tests__/cacheUtils.test.ts
  datahub-web-react/src/app/govern/structuredProperties/__tests__/useStructuredProp.test.ts
  datahub-web-react/src/app/govern/structuredProperties/cacheUtils.ts
  datahub-web-react/src/app/govern/structuredProperties/styledComponents.ts
  datahub-web-react/src/app/govern/structuredProperties/useStructuredProp.ts
  datahub-web-react/src/graphql/fragments.graphql
Labels: product, pending-submitter-merge

#14925 fix(ui) Fix re-expanding entity name after sidebar opens/closes
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/EntityName.tsx
Labels: product, pending-submitter-merge

#14888 tests(structuredProperties): add cypress tests
  datahub-web-react/src/app/govern/structuredProperties/DisplayPreferences.tsx
  smoke-test/tests/cypress/cypress/e2e/structured_properties/structured_properties.js
Labels: product, smoke_test, pending-submitter-merge

#14812 docs(release-notes): disclaimers for 0.3.14
  docs/managed-datahub/release-notes/v_0_3_14.md
Labels: docs, pending-submitter-merge

#14926 chore(doc): Fix json schema generation after pydantic v2 move
  docs-website/genJsonSchema/gen_json_schema.py
  metadata-ingestion/scripts/docgen.py
Labels: ingestion, pending-submitter-merge

#14939 feat(ui/ingest): add source errors, warnings
  datahub-web-react/src/app/ingestV2/source/__tests__/tests_utils.test.tsx
  datahub-web-react/src/app/ingestV2/source/utils.ts
Labels: product, pending-submitter-merge

#14913 fix(web): embedded search list responsiveness
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearchResults.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/CompactLineageTab.tsx
Labels: product, pending-submitter-merge

#14902 fix(entity controller) Fix case sensitivity in entity controller
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
Labels: community-contribution, devops, merge-pending-ci

#14842 improvement(summary-tab): hide current property in replace dropdown of property header
  datahub-web-react/src/app/entityV2/summary/properties/property/properties/BaseProperty.tsx
  datahub-web-react/src/app/entityV2/summary/properties/property/properties/__tests__/utils.test.ts
  datahub-web-react/src/app/entityV2/summary/properties/property/properties/utils.ts
Labels: product, needs-review

#14834 test(customLinks): add cypress tests (#274)
  datahub-web-react/src/app/entityV2/shared/components/legacy/DescriptionModal.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/LinkFormModal.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarSection.tsx
  datahub-web-react/src/app/entityV2/shared/externalUrl/ViewInPlatform.tsx
  datahub-web-react/src/app/entityV2/shared/externalUrl/components/VeiwMoreDropdown/OptionLabel.tsx
  datahub-web-react/src/app/entityV2/shared/externalUrl/components/VeiwMoreDropdown/ViewMoreDropdown.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/LinkList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/editor/Editor.tsx
  datahub-web-react/src/app/sharedV2/OverflowList.tsx
  smoke-test/tests/cypress/cypress/e2e/mutationsV2/v2_edit_documentation.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: product, smoke_test, needs-review

#14844 test(ingestion): add cypress tests for redesigned ingestion flow
  datahub-web-react/src/app/ingestV2/executions/components/ExecutionsTable.tsx
  datahub-web-react/src/app/ingestV2/shared/components/columns/BaseActionsColumn.tsx
  datahub-web-react/src/app/ingestV2/shared/components/columns/DateTimeColumn.tsx
  datahub-web-react/src/app/ingestV2/shared/components/filters/SourceFilter.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingestV2/source/builder/RecipeForm/RecipeForm.tsx
  smoke-test/tests/cypress/cypress/e2e/ingestionV2/run_history.js
  smoke-test/tests/cypress/cypress/e2e/ingestionV2/sources.js
  smoke-test/tests/cypress/cypress/e2e/ingestionV2/utils.js
Labels: product, smoke_test, pending-submitter-merge

#13495 test(cypress/statsTabV2): add cypress tests
  datahub-web-react/src/alchemy-components/components/BarChart/BarChart.tsx
  datahub-web-react/src/alchemy-components/components/BarChart/types.ts
  datahub-web-react/src/alchemy-components/components/CalendarChart/CalendarChart.tsx
  datahub-web-react/src/alchemy-components/components/CalendarChart/private/components/Day.tsx
  datahub-web-react/src/alchemy-components/components/CalendarChart/types.ts
  datahub-web-react/src/alchemy-components/components/Card/Card.tsx
  datahub-web-react/src/alchemy-components/components/Card/types.ts
  datahub-web-react/src/alchemy-components/components/Drawer/Drawer.tsx
  datahub-web-react/src/alchemy-components/components/Drawer/types.ts
  datahub-web-react/src/alchemy-components/components/GraphCard/GraphCard.tsx
  datahub-web-react/src/alchemy-components/components/GraphCard/types.ts
  datahub-web-react/src/alchemy-components/components/LineChart/LineChart.tsx
  datahub-web-react/src/alchemy-components/components/LineChart/types.ts
  datahub-web-react/src/alchemy-components/components/Pills/Pill.tsx
  datahub-web-react/src/alchemy-components/components/Pills/types.ts
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/SingleSelectDefault.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/SingleSelectLabeled.tsx
  datahub-web-react/src/alchemy-components/components/Table/Table.tsx
  datahub-web-react/src/app/entityV2/shared/graphs/RowCountGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/SchemaFieldDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsV2/StatsTabContent.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/columnStats/ColumnStatsTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/columnStats/ColumnStatsV2.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/ChangeHistoryGraph/ChangeHistoryGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/ChangeHistoryGraph/components/ChangeHistoryDrawer/ChangeHistoryDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/ChangeHistoryGraph/components/ChangeHistoryPopover.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/ChangeHistoryGraph/components/ChangeTypeSummaryPill.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/ChangeHistoryGraph/components/TypesSelect.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/NoPermission.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/QueryCountGraph/QueryCountChart.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/StatsTabRowCountGraph/StatsTabRowCountGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/StorageSizeGraph/StorageSizeGraph.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/graphs/components/TimeRangeSelect.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/highlights/LastMonthStats.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/highlights/LatestStats.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Stats/StatsTabV2/highlights/ViewButton.tsx
  smoke-test/tests/cypress/cypress/e2e/statsTabV2/charts.js
  smoke-test/tests/cypress/cypress/e2e/statsTabV2/columnStats.js
  smoke-test/tests/cypress/cypress/e2e/statsTabV2/helpers/apiResponseHelper.js
  smoke-test/tests/cypress/cypress/e2e/statsTabV2/helpers/baseChartHelper.js
  smoke-test/tests/cypress/cypress/e2e/statsTabV2/helpers/changeHistoryChartHelper.js
  smoke-test/tests/cypress/cypress/e2e/statsTabV2/helpers/chartHelper.js
  smoke-test/tests/cypress/cypress/e2e/statsTabV2/helpers/columnStatsTableHelper.js
  smoke-test/tests/cypress/cypress/e2e/statsTabV2/helpers/highlightCardHelper.js
  smoke-test/tests/cypress/cypress/e2e/statsTabV2/helpers/statsTabHelper.js
  smoke-test/tests/cypress/cypress/e2e/statsTabV2/highlights.js
  smoke-test/tests/cypress/cypress/e2e/statsTabV2/operationsChart.js
  smoke-test/tests/cypress/cypress/e2e/statsTabV2/statsTab.js
  smoke-test/tests/cypress/cypress/e2e/utils.js
Labels: product, devops, smoke_test, pending-submitter-merge

#14835 test(customLinks): add integration tests (#275)
  smoke-test/tests/institutional_memory/__init__.py
  smoke-test/tests/institutional_memory/data.json
  smoke-test/tests/institutional_memory/institutional_memory_test.py
Labels: smoke_test, needs-review

#14949 chore: add 'askumar27' to PR labeler configuration
  .github/workflows/pr-labeler.yml
Labels: devops, needs-review
