Repository datahub-project/datahub, pull requests merged in 2025-06, with the labels that each got.

#13624 fix(openapi_parser): add ability to parse openapi 3.0+ schemas
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/integration/openapi/openapi_3_1_mces_golden.json
  metadata-ingestion/tests/integration/openapi/openapi_3_1_to_file.yml
  metadata-ingestion/tests/integration/openapi/test_openapi.py
Labels: ingestion, community-contribution, needs-review

#13414 feat(iceberg): add namespace permissions
  datahub-web-react/src/app/permissions/policy/PolicyDetailsModal.tsx
  datahub-web-react/src/app/permissions/policy/PolicyPrivilegeForm.tsx
  datahub-web-react/src/app/permissions/policy/_tests_/PolicyDetailsModal.test.tsx
  datahub-web-react/src/app/permissions/policy/_tests_/PolicyPrivilegeForm.test.tsx
  docs/iceberg-catalog.md
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/EntityFieldType.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DefaultEntitySpecResolver.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/fieldresolverprovider/ContainerFieldResolverProvider.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DataHubAuthorizerTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/PolicyEngineTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/fieldresolverprovider/ContainerFieldResolverProviderTest.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/DataHubIcebergWarehouse.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/secure/AbstractIcebergController.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/secure/IcebergNamespaceApiController.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/secure/IcebergTableApiController.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/secure/IcebergViewApiController.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/rest/open/PublicIcebergApiControllerTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/rest/secure/AbstractControllerTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/rest/secure/IcebergNamespaceApiControllerTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/rest/secure/IcebergTableApiControllerTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/rest/secure/IcebergViewApiControllerTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: docs, community-contribution, product, devops, merge-pending-ci

#13637 feat(kafka): add interface design for listeners
  metadata-jobs/common/build.gradle
  metadata-jobs/common/src/main/java/com/linkedin/metadata/kafka/listener/AbstractKafkaListener.java
  metadata-jobs/common/src/main/java/com/linkedin/metadata/kafka/listener/AbstractKafkaListenerRegistrar.java
  metadata-jobs/common/src/main/java/com/linkedin/metadata/kafka/listener/EventHook.java
  metadata-jobs/common/src/main/java/com/linkedin/metadata/kafka/listener/GenericKafkaListener.java
  metadata-jobs/common/src/main/java/com/linkedin/metadata/kafka/listener/GenericKafkaListenerRegistrar.java
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mae-consumer/build.gradle
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/DataHubUsageEventsProcessor.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/MCLKafkaListener.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/MCLKafkaListenerRegistrar.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/config/DataHubUsageEventsProcessorCondition.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/MetadataChangeLogHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/usage/DataHubUsageEventHook.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/listener/mcl/MCLKafkaListener.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/listener/mcl/MCLKafkaListenerRegistrar.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLGMSSpringTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLMAESpringTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/ConsumerConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/KafkaConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/war/src/main/java/com/linkedin/gms/GMSApplication.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/metrics/MetricUtils.java
Labels: devops, pending-submitter-merge

#13586 fix(cli): safely initialize schema_fields
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
Labels: ingestion, community-contribution, merge-pending-ci

#13678 fix(web): Only display assertion tab buttons if there is more than one button
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/AssertionTabs.tsx
Labels: product, pending-submitter-merge

#13675 docs(cloud): update remote executor version
  docs/managed-datahub/release-notes/v_0_3_11.md
Labels: docs, pending-submitter-merge

#11997 feat(ingestion/sql-common): add column level lineage for external tables
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/tests/integration/athena/athena_mce_golden.json
  metadata-ingestion/tests/unit/test_sql_common.py
Labels: ingestion, pending-submitter-merge

#13663 feat(ingestion): add owners in create/edit ingestion source and show owners in ingestion table
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingest/source/builder/IngestionSourceBuilderModal.tsx
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingest/source/builder/__tests__/NameSourceStep.test.tsx
  datahub-web-react/src/app/ingest/source/builder/types.ts
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingestV2/source/builder/IngestionSourceBuilderModal.tsx
  datahub-web-react/src/app/ingestV2/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingestV2/source/builder/__tests__/NameSourceStep.test.tsx
  datahub-web-react/src/app/ingestV2/source/builder/types.ts
  datahub-web-react/src/app/sharedV2/owners/OwnersSection.tsx
  datahub-web-react/src/app/tags/CreateNewTagModal/CreateNewTagModal.tsx
  datahub-web-react/src/app/tags/ManageTag.tsx
Labels: product, pending-submitter-merge

#13677 feat(ingestion): add rollback button
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/GetLatestSuccessfulExecutionRequestResolver.java
  datahub-graphql-core/src/main/resources/ingestion.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/GetLatestSuccessfulExecutionRequestResolverTest.java
  datahub-web-react/src/app/ingestV2/executions/ExecutionsTab.tsx
  datahub-web-react/src/app/ingestV2/executions/components/ExecutionsTable.tsx
  datahub-web-react/src/app/ingestV2/executions/components/columns/ActionsColumn.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/ingestion.graphql
Labels: product, needs-review

#13686 fix(ingestion): fix size of the sources filter
  datahub-web-react/src/app/ingestV2/shared/components/filters/SourceFilter.tsx
Labels: product, needs-review

#13689 feat(sdk): add structured properties aspect
  metadata-ingestion/examples/library/create_dataset_with_structured_properties.py
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/src/datahub/sdk/container.py
  metadata-ingestion/src/datahub/sdk/dataflow.py
  metadata-ingestion/src/datahub/sdk/datajob.py
  metadata-ingestion/src/datahub/sdk/dataset.py
  metadata-ingestion/src/datahub/sdk/mlmodel.py
  metadata-ingestion/src/datahub/sdk/mlmodelgroup.py
  metadata-ingestion/src/datahub/testing/sdk_v2_helpers.py
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_structured_properties_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_dataset.py
Labels: ingestion, pending-submitter-merge

#13622 feat(sdk): add add_lineage to lineage subclient
  metadata-ingestion/examples/library/add_lineage_datajob.py
  metadata-ingestion/examples/library/add_lineage_dataset_to_dataset.py
  metadata-ingestion/examples/library/add_lineage_dataset_to_dataset_with_query_node.py
  metadata-ingestion/examples/library/lineage_dataset_copy.py
  metadata-ingestion/examples/library/lineage_dataset_from_sql.py
  metadata-ingestion/examples/library/lineage_dataset_transform.py
  metadata-ingestion/examples/library/lineage_dataset_transform_with_query_text.py
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/src/datahub/sdk/lineage_client.py
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_chart_as_downstream_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_copy_auto_fuzzy_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_copy_auto_strict_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_copy_basic_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_custom_mapping_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_dashboard_as_downstream_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_datajob_as_downstream_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_datajob_to_datajob_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_datajob_to_dataset_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_dataset_as_downstream_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_dataset_to_datajob_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_transform_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_lineage_client.py
Labels: ingestion, pending-submitter-merge

#13695 fix(build): restore deleted code that broke build
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/IndexBuilderTestBase.java
Labels: product, pending-submitter-merge

#13694 feat(ui/ingestion): use routed tabs and add links between sources and execution logs tab
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingestV2/executions/ExecutionsTab.tsx
  datahub-web-react/src/app/ingestV2/executions/components/ExecutionsTable.tsx
  datahub-web-react/src/app/ingestV2/executions/components/Filters.tsx
  datahub-web-react/src/app/ingestV2/shared/components/UserWithAvatar.tsx
  datahub-web-react/src/app/ingestV2/shared/components/columns/BaseActionsColumn.tsx
  datahub-web-react/src/app/ingestV2/shared/components/columns/StatusColumn.tsx
  datahub-web-react/src/app/ingestV2/shared/components/filters/SourceFilter.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingestV2/types.ts
Labels: product, needs-review

#13669 feat(sdk) add dashboard & chart entity
  metadata-ingestion/examples/library/create_chart.py
  metadata-ingestion/examples/library/create_chart_complex.py
  metadata-ingestion/examples/library/create_dashboard.py
  metadata-ingestion/examples/library/create_dashboard_complex.py
  metadata-ingestion/src/datahub/sdk/__init__.py
  metadata-ingestion/src/datahub/sdk/_all_entities.py
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/src/datahub/sdk/chart.py
  metadata-ingestion/src/datahub/sdk/dashboard.py
  metadata-ingestion/src/datahub/sdk/entity_client.py
  metadata-ingestion/tests/unit/sdk_v2/chart_golden/test_chart_basic_golden.json
  metadata-ingestion/tests/unit/sdk_v2/chart_golden/test_chart_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dashboard_golden/test_dashboard_basic_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dashboard_golden/test_dashboard_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_chart.py
  metadata-ingestion/tests/unit/sdk_v2/test_dashboard.py
Labels: ingestion, pending-submitter-merge

#13642 feat(ingest/unity-catalog): Tag extraction
  metadata-ingestion/src/datahub/api/entities/external/__init__.py
  metadata-ingestion/src/datahub/api/entities/external/external_entities.py
  metadata-ingestion/src/datahub/api/entities/external/external_tag.py
  metadata-ingestion/src/datahub/api/entities/external/restricted_text.py
  metadata-ingestion/src/datahub/api/entities/external/unity_catalog_external_entites.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/source/unity/tag_entities.py
  metadata-ingestion/tests/unit/api/entities/external/__init__.py
  metadata-ingestion/tests/unit/api/entities/external/test_external_entitites.py
  metadata-ingestion/tests/unit/api/entities/external/test_restrictions.py
Labels: ingestion, pending-submitter-merge

#13699 feat(sdk): Add support for Assertion and Monitor entities
  metadata-ingestion/src/datahub/sdk/_all_entities.py
  metadata-ingestion/src/datahub/sdk/entity_client.py
  metadata-ingestion/src/datahub/sdk/main_client.py
Labels: ingestion, pending-submitter-merge

#13711 fix(build/storybook): Surface errors
  datahub-web-react/.storybook/preview.js
  datahub-web-react/src/alchemy-components/components/Button/utils.ts
Labels: product, pending-submitter-merge

#13691 fix(docs): policies footnotes out of order
  docs/authorization/policies.md
Labels: docs, pending-submitter-merge

#13712 fix(sdk): Ignore mypy error for conditional ResolverClient import
  metadata-ingestion/src/datahub/sdk/main_client.py
Labels: ingestion, pending-submitter-merge

#13714 fix(ci): handle missing github ref
  .github/scripts/docker_helpers.sh
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-unified.yml
  .github/workflows/publish-datahub-jars.yml
Labels: devops, needs-review

#13708 fix(ui/ingestion): filter current user to prevent the owner from getting added twice
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Labels: product, pending-submitter-merge

#13709 fix(ui/ ingestion): fix double onboarding modals on ingestion page
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Labels: product, needs-review

#13704 fix(ingestion): rename name column and filter to sources on the executions tab
  datahub-web-react/src/app/ingestV2/executions/components/ExecutionsTable.tsx
  datahub-web-react/src/app/ingestV2/shared/components/filters/SourceFilter.tsx
Labels: product, needs-review

#13705 fix(ingestion): show dash for null values in sources and execution tables
  datahub-web-react/src/app/ingestV2/executions/components/columns/ExecutedByColumn.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingestV2/source/types.ts
Labels: product, needs-review

#13665 Updated drawer to match entity drawer styling
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/AboutFieldTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDetails.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldHeader.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/SchemaFieldDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/SchemaFieldDrawerTabs.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/StatsSidebarContent.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/components.ts
Labels: product, pending-submitter-merge

#13713 feat(sdk): Add subscriptions client to main client OSS
  metadata-ingestion/src/datahub/sdk/main_client.py
Labels: ingestion, pending-submitter-merge

#13703 feat(ui/ingestion): implement hover state for stacked avatars in owners column
  datahub-web-react/src/alchemy-components/components/Avatar/Avatar.tsx
  datahub-web-react/src/alchemy-components/components/Avatar/types.ts
  datahub-web-react/src/alchemy-components/components/AvatarStack/AvatarStackWithHover.tsx
  datahub-web-react/src/alchemy-components/components/AvatarStack/HoverSectionContent.tsx
  datahub-web-react/src/alchemy-components/components/AvatarStack/types.ts
  datahub-web-react/src/alchemy-components/components/StructuredPopover/types.ts
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
Labels: product, needs-review

#13730 chore(ingest): bump sqlglot dep
  metadata-ingestion/setup.py
  metadata-ingestion/tests/integration/dbt/dbt_enabled_with_schemas_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_column_meta_mapping_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_prefer_sql_parser_lineage_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_test_model_performance_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_complex_owner_patterns_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_data_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_non_incremental_lineage_mces_golden.json
  metadata-ingestion/tests/integration/dbt/dbt_test_with_target_platform_instance_mces_golden.json
Labels: ingestion, pending-submitter-merge

#13736 refactor(sdk): Use sdk instead of _sdk_extras
  metadata-ingestion/src/datahub/sdk/main_client.py
Labels: ingestion, pending-submitter-merge

#13740 feat(config): update configuration caching
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/config.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/cli/test_config_utils.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Labels: ingestion, pending-submitter-merge

#13723 feat(ui/ingestion): show the newly added ingestion source at the top of the list
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceRefetcher.tsx
  datahub-web-react/src/app/ingestV2/source/cacheUtils.ts
  datahub-web-react/src/app/ingestV2/source/usePollSources.ts
  datahub-web-react/src/app/ingestV2/source/utils.ts
Labels: product, needs-review

#13743 fix(ui) Fix cursor jumping around in search bar
  datahub-web-react/src/alchemy-components/components/AutoComplete/AutoComplete.tsx
Labels: product, pending-submitter-merge

#13744 fix(ui) Take users to page 1 after page size change
  datahub-web-react/src/app/searchV2/SearchResults.tsx
Labels: product, pending-submitter-merge

#13754 feat(ingest,graphql): Support displaying actor of CLI ingestion
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/ingestion/ExecutionRequestMapper.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/EntityAspect.java
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
Labels: ingestion, product, pending-submitter-merge

#13747 fix(ingest/bigquery): Set qualified name for bigquery containers
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_lineage_golden_1.json
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_lineage_golden_2.json
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_queries_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_project_label_mcp_golden.json
  metadata-ingestion/tests/unit/test_confluent_schema_registry.py
  metadata-ingestion/tests/unit/test_kafka_source.py
Labels: ingestion, pending-submitter-merge

#13717 docs: update the example scripts with the new sdk
  docs/api/tutorials/domains.md
  metadata-ingestion/examples/library/add_mlgroup_to_mlmodel.py
  metadata-ingestion/examples/library/create_datajob.py
  metadata-ingestion/examples/library/create_mlmodel.py
  metadata-ingestion/examples/library/create_mlmodel_group.py
  metadata-ingestion/examples/library/dataset_add_domain.py
  metadata-ingestion/examples/library/dataset_add_domain_execute_graphql.py
  metadata-ingestion/examples/library/dataset_remove_structured_properties.py
  metadata-ingestion/examples/library/lineage_chart_dashboard.py
  metadata-ingestion/examples/library/lineage_datajob_to_datajob.py
  metadata-ingestion/examples/library/lineage_datajob_to_dataset.py
  metadata-ingestion/examples/library/lineage_dataset_chart.py
  metadata-ingestion/examples/library/lineage_dataset_job_dataset.py
  metadata-ingestion/examples/library/read_mlmodel.py
  metadata-ingestion/examples/library/read_mlmodel_group.py
  metadata-ingestion/src/datahub/sdk/datajob.py
  metadata-ingestion/src/datahub/sdk/lineage_client.py
  metadata-ingestion/src/datahub/specific/chart.py
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_chart_as_downstream_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_lineage_client.py
  metadata-models/docs/entities/dataset.md
Labels: ingestion, pending-submitter-merge

#13682 docs: add search sdk guide
  docs-website/sidebars.js
  docs/api/tutorials/sdk/search_client.md
  metadata-ingestion/examples/library/search_filter_and.py
  metadata-ingestion/examples/library/search_filter_by_custom_property.py
  metadata-ingestion/examples/library/search_filter_by_domain.py
  metadata-ingestion/examples/library/search_filter_by_entity_subtype.py
  metadata-ingestion/examples/library/search_filter_by_entity_type.py
  metadata-ingestion/examples/library/search_filter_by_env.py
  metadata-ingestion/examples/library/search_filter_by_platform.py
  metadata-ingestion/examples/library/search_filter_combined_operation.py
  metadata-ingestion/examples/library/search_filter_custom.py
  metadata-ingestion/examples/library/search_filter_not.py
  metadata-ingestion/examples/library/search_filter_options.py
  metadata-ingestion/examples/library/search_filter_or.py
  metadata-ingestion/examples/library/search_with_filter.py
  metadata-ingestion/examples/library/search_with_query.py
  metadata-ingestion/examples/library/search_with_query_and_filter.py
Labels: ingestion, docs, pending-submitter-merge

#13531 fix(ingestion/nifi): Incorrect SSL context usage for client certificate auth
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
Labels: ingestion, community-contribution, merge-pending-ci

#13759 feat(ingest): add debug source
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/debug/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/debug/datahub_debug.py
Labels: ingestion, needs-review

#13765 fix(ingestion): UI fixes
  datahub-web-react/src/alchemy-components/components/Select/utils.ts
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Labels: product, needs-review

#13750 fix(ingestion): replace nonexistent icon
  datahub-web-react/src/app/ingestV2/executions/utils.ts
Labels: product, needs-review

#13766 feat(ui): add copy urn tag and structured properties
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsTable.tsx
  datahub-web-react/src/app/tags/TagsTableColumns.tsx
Labels: product, pending-submitter-merge

#13666 fix url for view in source from edit view to explore view
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
Labels: ingestion, community-contribution, merge-pending-ci

#13751 fix(irc): map conflict exception per iceberg spec (#5960)
  metadata-service/iceberg-catalog/src/integrationTest/integration_test.py
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/TableOrViewOpsDelegate.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/common/IcebergExceptionHandlerAdvice.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/TableOpsDelegateTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/ViewOpsDelegateTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/rest/common/IcebergExceptionHandlerAdviceTest.java
Labels: devops, pending-submitter-merge

#13672 chore(deps): fix (com.google.code.gson:gson)
  build.gradle
Labels: community-contribution, needs-review

#13668 Update README.md
  metadata-integration/java/acryl-spark-lineage/README.md
Labels: ingestion, community-contribution, needs-review

#13298 chore(deps): fix (org.reflections:reflections)
  build.gradle
Labels: community-contribution, merge-pending-ci, needs-review

#13769 fix(doc): Update proposals documentation
  docs/authorization/policies.md
Labels: docs, pending-submitter-merge

#13760 doc(unity-catalog): Add doc for Databricks metadata sync
  docs-website/sidebars.js
  docs/automations/databricks-metadata-sync.md
Labels: docs, pending-submitter-merge

#13779 docs: add MCP server guide
  docs-website/sidebars.js
  docs/features/feature-guides/mcp.md
Labels: docs, pending-submitter-merge

#13758 fix(sql-parsing): handle pyo3_runtime.PanicException from SQLGlot Rust tokenizer
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Labels: ingestion, pending-submitter-merge

#13793 refactor(neo4j): parameterized neo4j Queries execution to escape special characters in urn
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
Labels: community-contribution, product, needs-review

#13782 feat(docs): smart assertions and dataset health dashboard docs
  docs-website/sidebars.js
  docs/api/datahub-apis.md
  docs/managed-datahub/observe/assertions.md
  docs/managed-datahub/observe/column-assertions.md
  docs/managed-datahub/observe/custom-sql-assertions.md
  docs/managed-datahub/observe/data-contract.md
  docs/managed-datahub/observe/data-health-dashboard.md
  docs/managed-datahub/observe/freshness-assertions.md
  docs/managed-datahub/observe/schema-assertions.md
  docs/managed-datahub/observe/smart-assertions.md
  docs/managed-datahub/observe/volume-assertions.md
Labels: docs, pending-submitter-merge

#13785 fix(snowflake summary): fixing snowflake summary source
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_summary.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_summary.py
  metadata-ingestion/tests/unit/test_classification_mixin.py
Labels: ingestion, pending-submitter-merge

#13815 fix(reindex): fix cast exception during reindex
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/ESIndexBuilderTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/timeseries/BatchWriteOperationsOptions.java
Labels: product, devops, pending-submitter-merge

#13800 fix(docs): Update proposals docs
  docs/managed-datahub/approval-workflows.md
Labels: docs, pending-submitter-merge

#13786 docs(Forms) Update Form Creation guide with notification details
  docs/features/feature-guides/compliance-forms/create-a-form.md
Labels: docs, pending-submitter-merge

#13806 fix(sql-parsing): catch pyo3_runtime.PanicException instead of BaseException
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
Labels: ingestion, pending-submitter-merge

#13810 feat(docs): add showing specific fields to docs of specific connectors
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/scripts/docs_config_table.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
Labels: ingestion, pending-submitter-merge

#13812 doc(mysql,kafka): fix support status
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
Labels: ingestion, pending-submitter-merge

#13824 feat(cli): --streaming-batch option delete large hierarchy
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/tests/unit/sdk_v2/test_search_client.py
Labels: ingestion, pending-submitter-merge

#13826 feat(doc): hide repeating allow/deny things in config tables
  metadata-ingestion/scripts/docs_config_table.py
Labels: ingestion, needs-review

#13831 fix(ingest/bigquery): use email as user urn
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/common.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_lineage_usage_golden.json
  metadata-ingestion/tests/unit/bigquery/test_bigquery_usage.py
Labels: ingestion, pending-submitter-merge

#13821 docs: add screenshots for AI documentation
  docs/automations/ai-docs.md
Labels: docs, pending-submitter-merge

#13799 feat(docs) Update managed ingestion docs with new UI
  docs/ui-ingestion.md
Labels: docs, needs-review

#13828 feat(openapi-31): properly update openapi spec to 3.1.0
  build.gradle
  docs/how/updating-datahub.md
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/openapi-analytics-servlet/build.gradle
  metadata-service/openapi-entity-servlet/build.gradle
  metadata-service/openapi-servlet/build.gradle
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/SpringWebConfig.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Customizer.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/config/SpringWebConfigTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/config/SpringWebConfigTestConfiguration.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/OpenAPIV3CustomizerTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/OpenAPIV3GeneratorTest.java
  metadata-service/war/build.gradle
Labels: devops, pending-submitter-merge

#13784 docs: add cloud v0.3.12 release notes
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_3_12.md
Labels: docs, pending-submitter-merge

#13795 telemetry: add support for unified mixpanel + kafka tracking in GMS
  .github/workflows/docker-unified.yml
  datahub-frontend/app/client/AuthServiceClient.java
  datahub-frontend/app/client/KafkaTrackingProducer.java
  datahub-frontend/app/controllers/TrackingController.java
  datahub-frontend/conf/application.conf
  datahub-frontend/conf/routes
  datahub-web-react/src/app/analytics/plugin/datahub.ts
  datahub-web-react/vite.config.ts
  metadata-events/mxe-registration/src/main/java/com/linkedin/mxe/TopicConvention.java
  metadata-events/mxe-registration/src/main/java/com/linkedin/mxe/TopicConventionImpl.java
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/transformer/DataHubUsageEventTransformer.java
  metadata-service/auth-impl/src/main/java/com/datahub/telemetry/TrackingDestination.java
  metadata-service/auth-impl/src/main/java/com/datahub/telemetry/TrackingService.java
  metadata-service/auth-impl/src/test/java/com/datahub/telemetry/TrackingServiceTest.java
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
  metadata-service/auth-servlet-impl/src/test/java/com/datahub/auth/authentication/AuthServiceControllerTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/build.gradle
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/common/TopicConventionFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/telemetry/TrackingServiceFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/telemetry/TrackingServiceFactoryTest.java
  metadata-service/openapi-servlet/build.gradle
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/analytics/TrackingController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v1/event/ExternalEventsController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/analytics/TrackingControllerTest.java
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/Config.java
  metadata-service/war/src/main/java/com/linkedin/gms/servlet/OpenAPIServletConfig.java
  smoke-test/.gitignore
  smoke-test/requirements.txt
  smoke-test/tests/openapi/v1/test_tracking.py
Labels: product, devops, smoke_test, pending-submitter-merge

#13832 docs(iceberg): added notes on session expiry config, some minor updates
  docs/iceberg-catalog.md
Labels: docs, pending-submitter-merge

#13834 docs: add docs on DataHub slack bot
  docs-website/sidebars.js
  docs/managed-datahub/slack/saas-slack-app.md
  docs/managed-datahub/slack/saas-slack-setup.md
Labels: docs, pending-submitter-merge

#13839 log(nullpointer): when elastic doc has missing urn
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/UrnExtractionUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/UrnExtractionUtilsTest.java
Labels: product, pending-submitter-merge

#13838 fix(ui/ingest): ingestion run report
  datahub-web-react/src/app/ingestV2/source/__tests__/tests_utils.test.tsx
  datahub-web-react/src/app/ingestV2/source/utils.ts
Labels: product, pending-submitter-merge

#13853 docs(release): add MCP server note to release notes
  docs/managed-datahub/release-notes/v_0_3_12.md
Labels: docs, pending-submitter-merge

#13847 docs(ingest): docs for lineage
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/sac/sac.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/sql/cockroachdb.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hana.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive_metastore.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mariadb.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mysql.py
  metadata-ingestion/src/datahub/ingestion/source/sql/postgres.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/usage/clickhouse_usage.py
Labels: ingestion, needs-review

#13850 doc(ingest): mark for usage
  metadata-ingestion/src/datahub/ingestion/source/usage/clickhouse_usage.py
  metadata-ingestion/src/datahub/ingestion/source/usage/starburst_trino_usage.py
Labels: ingestion, needs-review

#13858 deprecate(ingest): match_fully_qualified_names for redshift,bigquery
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
Labels: ingestion, docs, pending-submitter-merge

#13671 feat(ingestion): use approx_distinct when profiling Athena and Trino
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/tests/integration/trino/setup/setup.sql
  metadata-ingestion/tests/integration/trino/trino_mces_golden.json
Labels: ingestion, community-contribution, merge-pending-ci

#13864 ci: add ligfx to team in pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: community-contribution, devops, merge-pending-ci

#13865 feat(): lineage registry via openapi
  entity-registry/src/main/java/com/linkedin/metadata/models/registry/LineageRegistry.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/LineageRegistryTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v1/registry/LineageRegistryController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v1/registry/LineageRegistryControllerTest.java
Labels: devops, pending-submitter-merge

#13871 fix(quickstart): use latest zookeeper version
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.yml
  docker/profiles/docker-compose.prerequisites.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
Labels: devops, needs-review

#13867 fix(emitter): fix emitter handling of unicode characters
  datahub-actions/src/datahub_actions/plugin/action/metadata_change_sync/metadata_change_sync.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Labels: ingestion, pending-submitter-merge

#13872 feat(docs): add subscription client docs to assertions tutorial
  docs/api/tutorials/assertions.md
  metadata-ingestion/examples/library/create_subscription.py
  metadata-ingestion/examples/library/remove_subscription.py
Labels: ingestion, docs, pending-submitter-merge

#13641 docs(ingestion): preset - update source certification status
  metadata-ingestion/src/datahub/ingestion/source/preset.py
Labels: ingestion, pending-submitter-merge

#13875 feat(fabrictype): add sbx fabrictype
  li-utils/src/main/pegasus/com/linkedin/common/FabricType.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: devops, pending-submitter-merge

#13093 fix(docs): update patch support documentation
  docs/what/mxe.md
Labels: pending-submitter-merge

#13870 docs: add sdk entity guides
  docs-website/sidebars.js
  docs/api/tutorials/container.md
  docs/api/tutorials/dashboard-chart.md
  docs/api/tutorials/dataflow-datajob.md
  docs/api/tutorials/mlmodel-mlmodelgroup.md
  metadata-ingestion/examples/library/create_container.py
  metadata-ingestion/examples/library/create_datajob_with_flow_urn.py
  metadata-ingestion/examples/library/read_chart.py
  metadata-ingestion/examples/library/read_dashboard.py
  metadata-ingestion/examples/library/read_dataflow.py
  metadata-ingestion/examples/library/read_datajob.py
Labels: ingestion, docs, pending-submitter-merge

#13879 fix(quickstart): use kafka version that supports zookeeper
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
Labels: devops, pending-submitter-merge

#13880 doc(cli): update for restore-indices
  docs/cli.md
  docs/how/restore-indices.md
Labels: docs, pending-submitter-merge

#13863 fix(docs): add recommended versions for v0.3.12
  docs/managed-datahub/release-notes/v_0_3_12.md
Labels: docs, pending-submitter-merge

#13539 feat(ingest/snowflake): add extra_info for snowflake
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
Labels: ingestion, pending-submitter-merge

#13888 fix(search): additional search size defaults
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/BrowseDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
Labels: product, pending-submitter-merge

#13901 fix(cli): explicit default field value for optional field (pydantic v2)
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
Labels: ingestion, needs-review

#13897 docs: add missing preset logo
  docs-website/filterTagIndexes.json
  docs-website/static/img/logos/platforms/presetlogo.svg
Labels: community-contribution, merge-pending-ci

#13903 tests(doc): add tests for doc gen
  .github/workflows/documentation.yml
  metadata-ingestion/build.gradle
  metadata-ingestion/scripts/config_json_schema_gen.py
  metadata-ingestion/scripts/modeldocgen.py
  metadata-ingestion/scripts/modeldocgen.sh
  metadata-ingestion/scripts/testdocgen.sh
  metadata-ingestion/scripts/tests/test_docgen.py
  metadata-ingestion/scripts/tests/test_modeldocgen.py
Labels: ingestion, devops, pending-submitter-merge

#13892 docs(v.0.3.12.1): adding maintenance release docs
  docs/managed-datahub/release-notes/v_0_3_12.md
Labels: docs, pending-submitter-merge

#13882 feat(homepage): create new feature flag for homepage redesign
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/ProtectedRoutes.tsx
  datahub-web-react/src/app/homepageV2/HomePage.tsx
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
Labels: product, devops, needs-review

#13772 fix(ingestion): fix group avatar (changes from SaaS)
  datahub-web-react/src/alchemy-components/components/Avatar/Avatar.tsx
  datahub-web-react/src/alchemy-components/components/Avatar/components.ts
  datahub-web-react/src/alchemy-components/components/Avatar/types.ts
  datahub-web-react/src/alchemy-components/components/Avatar/utils.ts
  datahub-web-react/src/alchemy-components/components/AvatarStack/AvatarStack.tsx
  datahub-web-react/src/alchemy-components/components/AvatarStack/AvatarStackWithHover.tsx
  datahub-web-react/src/alchemy-components/components/AvatarStack/HoverSectionContent.tsx
  datahub-web-react/src/alchemy-components/components/AvatarStack/types.ts
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
Labels: product, needs-review

#13706 fix(searchBarV2): do not clean filters on the search hit with empty filters
  datahub-web-react/src/alchemy-components/components/SearchBar/SearchBar.stories.tsx
  datahub-web-react/src/alchemy-components/components/SearchBar/SearchBar.tsx
  datahub-web-react/src/alchemy-components/components/SearchBar/types.ts
  datahub-web-react/src/app/searchV2/SearchablePage.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/SearchBarV2.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/SearchBarInput.tsx
Labels: product, pending-submitter-merge

#13886 feat(ui/homepage): render skeleton of the new homepage
  datahub-web-react/src/app/homepageV2/HomePage.tsx
  datahub-web-react/src/app/homepageV2/HomePageContent.tsx
  datahub-web-react/src/app/homepageV2/HomePageHeader.tsx
  datahub-web-react/src/app/homepageV2/styledComponents.ts
  datahub-web-react/src/app/searchV2/SearchablePage.tsx
  datahub-web-react/src/images/homepage-vector.svg
Labels: product, devops, pending-submitter-merge

#13907 docs(airflow): document background operation
  docs/lineage/airflow.md
Labels: docs, pending-submitter-merge

#13909 docs: fix api-gateway version in release notes
  docs/managed-datahub/release-notes/v_0_3_12.md
Labels: docs, pending-submitter-merge
