Repository datahub-project/datahub, pull requests merged in 2025-03, with the labels that each got.

#12622 fix(web) accurate error message for embeddedlistsearch
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearch.tsx
Labels: product, pending-submitter-merge

#12744 feat(ingestion/iceberg): Several improvements to iceberg connector
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/tests/integration/iceberg/iceberg_deleted_table_mces_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_ingest_mces_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_profile_mces_golden.json
  metadata-ingestion/tests/integration/iceberg/test_iceberg.py
  metadata-ingestion/tests/unit/test_iceberg.py
Labels: ingestion, pending-submitter-merge

#12723 fix(ingest): support pydantic v2 in file-based lineage
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
Labels: ingestion, pending-submitter-merge

#12664 feat(iceberg): improve concurrency control and resilience
  metadata-service/iceberg-catalog/build.gradle
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/DataHubIcebergWarehouse.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/DataHubRestCatalog.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/IcebergBatch.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/TableOrViewOpsDelegate.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/Utils.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/DataHubIcebergWarehouseTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/DataHubRestCatalogTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/IcbergBatchTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/TableOpsDelegateTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/UtilsTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/ViewOpsDelegateTest.java
Labels: community-contribution, devops, merge-pending-ci

#12762 S3 and GCS external urls
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_source.py
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_utils.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_inference_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_exclude.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_glob.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_keyval.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_update_schema.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_update_schema_with_partition_autodetect.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_with_partition_autodetect_traverse_all.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_with_partition_autodetect_traverse_min_max.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_specs_of_different_buckets.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_single_file.json
Labels: ingestion

#12767 docs(users+groups): show that you can set title via users YAML
  docs/api/tutorials/owners.md
Labels: docs, pending-submitter-merge

#12754 feat(sdk): add search client
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/filters.py
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra.py
  metadata-ingestion/src/datahub/sdk/__init__.py
  metadata-ingestion/src/datahub/sdk/_all_entities.py
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/src/datahub/sdk/container.py
  metadata-ingestion/src/datahub/sdk/dataset.py
  metadata-ingestion/src/datahub/sdk/entity.py
  metadata-ingestion/src/datahub/sdk/entity_client.py
  metadata-ingestion/src/datahub/sdk/main_client.py
  metadata-ingestion/src/datahub/sdk/resolver_client.py
  metadata-ingestion/src/datahub/sdk/search_client.py
  metadata-ingestion/src/datahub/sdk/search_filters.py
  metadata-ingestion/tests/test_helpers/sdk_v2_helpers.py
  metadata-ingestion/tests/unit/sdk/test_client.py
  metadata-ingestion/tests/unit/sdk_v2/test_search_client.py
Labels: ingestion, pending-submitter-merge

#12756 feat(operations): ES and Kafka Operations Endpoints
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/trace/KafkaTraceReader.java
  metadata-io/src/test/java/com/linkedin/metadata/search/ElasticSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/ESSearchDAORawEntityTest.java
  metadata-io/src/test/java/com/linkedin/metadata/trace/BaseKafkaTraceReaderTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/ElasticsearchController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/kafka/KafkaController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/kafka/KafkaOffsetResponse.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/operations/elastic/ElasticsearchControllerTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/operations/kafka/KafkaControllerTest.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/search/EntitySearchServiceTest.java
Labels: product, devops, pending-submitter-merge

#12619 feat(auth): support guest access
  datahub-frontend/app/auth/GuestAuthenticationConfigs.java
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/conf/application.conf
  datahub-frontend/test/security/GuestAuthenticationConfigsTest.java
  docs/authentication/README.md
  docs/authentication/concepts.md
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-auth/auth-api/build.gradle
  metadata-auth/auth-api/src/main/java/com/datahub/authorization/AuthUtil.java
  metadata-auth/auth-api/src/test/java/com/datahub/authorization/AuthUtilTest.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/authenticator/DataHubGuestAuthenticator.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/authenticator/DataHubGuestAuthenticatorTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/entity/AspectResourceTest.java
  metadata-service/war/src/main/java/com/linkedin/gms/servlet/AuthServletConfig.java
Labels: product, devops, pending-submitter-merge

#12761 fix(iceberg): listnamespaces includes warehouse name as root
  metadata-service/iceberg-catalog/pyproject.toml
  metadata-service/iceberg-catalog/src/integrationTest/integration_test.py
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/Utils.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/DataHubRestCatalogTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/UtilsTest.java
Labels: devops, pending-submitter-merge

#12666 feat(UI): make searchbar centered and wider
  datahub-web-react/src/app/searchV2/SearchBar.tsx
  datahub-web-react/src/app/searchV2/SearchHeader.tsx
Labels: community-contribution, product, merge-pending-ci

#12721 fix(ui) Fix order of parent containers on v2 autocomplete item
  datahub-web-react/src/app/searchV2/autoComplete/AutoCompleteEntity.tsx
Labels: product, pending-submitter-merge

#12768 fix(test): handle empty log
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceOptimizationTest.java
Labels: product, pending-submitter-merge

#12769 fix(lineage) Support views and sorting in impact analysis
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossLineageResolver.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/ScrollAcrossLineageResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossLineageResolverTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/elasticsearch/FilterUtils.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/FilterUtilsTest.java
Labels: product, pending-submitter-merge

#12771 fix(ui): add overflow wrap for dpi / model summary tab & add custom properties in mlmodelgroup queries
  datahub-web-react/src/app/entity/dataProcessInstance/profile/DataProcessInstanceSummary.tsx
  datahub-web-react/src/app/entity/mlModel/profile/MLModelSummary.tsx
  datahub-web-react/src/graphql/fragments.graphql
Labels: product, pending-submitter-merge

#12764 dataset cli - add support for schema, round-tripping to yaml
  docs-website/sidebars.js
  docs/cli-commands/dataset.md
  docs/cli.md
  metadata-ingestion/examples/structured_properties/click_event.avsc
  metadata-ingestion/examples/structured_properties/dataset.yaml
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  metadata-ingestion/src/datahub/cli/specific/dataset_cli.py
  metadata-ingestion/src/datahub/pydantic/__init__.py
  metadata-ingestion/src/datahub/pydantic/compat.py
  metadata-ingestion/tests/unit/api/entities/structuredproperties/example_structured_properties_golden.json
  metadata-ingestion/tests/unit/cli/dataset/test_dataset_cmd.py
  metadata-ingestion/tests/unit/cli/dataset/test_resources/dataset.yaml
  smoke-test/tests/cli/dataset_cmd/__init__.py
  smoke-test/tests/cli/dataset_cmd/test_dataset_command.py
  smoke-test/tests/structured_properties/test_dataset.yaml
  smoke-test/tests/structured_properties/test_structured_properties.py
  smoke-test/tests/structured_properties/test_structured_properties.yaml
Labels: ingestion, docs, smoke_test, pending-submitter-merge

#12782 feat(ingest): allowdenypattern for dashboard, chart, dataset in superset
  metadata-ingestion/src/datahub/ingestion/source/preset.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/unit/test_preset_source.py
  metadata-ingestion/tests/unit/test_superset_source.py
Labels: ingestion, pending-submitter-merge

#12790 fix: fixes mypy complaints about pkgresources
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/test_packaging.py
Labels: ingestion, needs-review

#12772 fix(ingestion): fixes producing some URNs with reserved characters
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/tests/unit/sdk/test_mce_builder.py
Labels: ingestion, pending-submitter-merge

#12773 feat(okta): custom properties for okta user
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/tests/integration/okta/okta_mces_golden_custom_user_name_regex.json
  metadata-ingestion/tests/integration/okta/okta_mces_golden_default_config.json
  metadata-ingestion/tests/integration/okta/okta_mces_golden_include_deprovisioned_suspended_users.json
  metadata-ingestion/tests/integration/okta/okta_mces_golden_ingest_groups_users.json
Labels: ingestion, pending-submitter-merge

#12775 feat(mssql): adds subtypes aspect for dataflow and datajobs
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
Labels: ingestion, pending-submitter-merge

#12778 fix(ingest): enable fuzzy case resolution for oracle sql
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_common.py
  metadata-ingestion/tests/integration/oracle/golden_test_ingest_with_database.json
  metadata-ingestion/tests/integration/oracle/golden_test_ingest_with_out_database.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_create_view_as_select.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_oracle_case_insensitive_cols.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_with_complex_ctes.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_select_with_ctes.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion, pending-submitter-merge

#12789 fix(ui): change tags to properties in ml model view
  datahub-web-react/src/app/entity/mlModelGroup/profile/ModelGroupModels.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/profile/ModelGroupModels.tsx
Labels: product, needs-review

#12792 fix(ui) Fix changing color and icon for domains in UI
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/domain/DomainType.java
  datahub-web-react/src/app/domain/DomainsList.tsx
  datahub-web-react/src/app/domain/utils.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/IconPicker/IconColorPicker.tsx
  datahub-web-react/src/graphql/domain.graphql
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/glossaryNode.graphql
  datahub-web-react/src/graphql/preview.graphql
  datahub-web-react/src/graphql/search.graphql
  metadata-models/src/main/resources/entity-registry.yml
Labels: product, pending-submitter-merge

#12793 Support container in ML Model Group, Model and Deployment
  metadata-models/src/main/resources/entity-registry.yml
Labels: community-contribution, merge-pending-ci

#12791 docs: update mlflow ingestion docs to include new concept mappings
  metadata-ingestion/docs/sources/mlflow/mlflow_pre.md
Labels: ingestion, pending-submitter-merge

#12787 doc(iceberg): iceberg doc updates
  docs/iceberg-catalog.md
Labels: docs, merge-pending-ci, needs-review

#12800 docs: add exporting from source to write mcp guide
  docs/advanced/writing-mcps.md
Labels: docs, pending-submitter-merge

#12660 feat(ingest/redshift): support for datashares lineage
  metadata-ingestion/docs/sources/redshift/README.md
  metadata-ingestion/docs/sources/redshift/redshift_pre.md
  metadata-ingestion/src/datahub/api/entities/common/serialized_value.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/datashares.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/profile.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/report.py
  metadata-ingestion/tests/unit/redshift/test_redshift_datashares.py
Labels: ingestion, pending-submitter-merge

#12673 feat(ingestion/business-glossary): Automatically generate predictable glossary term and node URNs when incompatible URL characters are specified in term and node names.
  docs/how/updating-datahub.md
  metadata-ingestion/docs/sources/business-glossary/datahub-business-glossary.md
  metadata-ingestion/src/datahub/ingestion/source/metadata/business_glossary.py
  metadata-ingestion/tests/integration/business-glossary/custom_ownership_urns_golden.json
  metadata-ingestion/tests/integration/business-glossary/glossary_events_golden.json
  metadata-ingestion/tests/integration/business-glossary/multiple_owners_different_types_golden.json
  metadata-ingestion/tests/integration/business-glossary/multiple_owners_same_type_golden.json
  metadata-ingestion/tests/integration/business-glossary/single_owner_types_golden.json
  metadata-ingestion/tests/integration/business-glossary/test_business_glossary.py
  metadata-ingestion/tests/integration/business-glossary/url_cleaning_events_golden.json
  metadata-ingestion/tests/integration/business-glossary/url_cleaning_glossary.yml
  metadata-ingestion/tests/integration/remote/golden/remote_glossary_golden.json
  metadata-ingestion/tests/unit/test_business_glossary.py
Labels: ingestion, merge-pending-ci

#12804 feat(ingest/iceberg): Introduce network problems resiliency for Iceberg source
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
Labels: ingestion, pending-submitter-merge

#12797 feat(api): URN, Entity, and Aspect name Async Validation
  docs/how/updating-datahub.md
  entity-registry/src/main/java/com/linkedin/metadata/aspect/batch/MCPItem.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/ChangeItemImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/DeleteItemImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/MCLItemImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/PatchItemImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/ProposedItem.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/validation/ValidationApiUtils.java
  metadata-io/metadata-io-api/src/test/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImplTest.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/hooks/IgnoreUnknownMutatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/client/JavaEntityClientTest.java
  metadata-jobs/mce-consumer/build.gradle
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessor.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/batch/BatchMetadataChangeProposalsProcessor.java
  metadata-jobs/mce-consumer/src/test/java/com/linkedin/metadata/kafka/MetadataChangeProposalsProcessorTest.java
  metadata-jobs/mce-consumer/src/test/java/com/linkedin/metadata/kafka/batch/BatchMetadataChangeProposalsProcessorTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/GlobalControllerExceptionHandler.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/restli-servlet-impl/src/test/java/com/linkedin/metadata/resources/entity/AspectResourceTest.java
  smoke-test/tests/openapi/v3/exceptions.json
Labels: docs, product, devops, smoke_test, pending-submitter-merge

#12803 feat(ingest): improve extract-sql-agg-log command
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_basic_lineage_query_log.json
  metadata-ingestion/tests/unit/sql_parsing/test_sql_aggregator.py
Labels: ingestion, pending-submitter-merge

#12806 fix(UI): Showing platform instances only once
  datahub-web-react/src/app/previewV2/BrowsePaths.tsx
  datahub-web-react/src/app/previewV2/ContextPath.tsx
  datahub-web-react/src/app/previewV2/ContextPathEntityLink.tsx
Labels: product, needs-review

#12805 fix: search cache invalidation for iceberg entities
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CacheEvictionService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CacheKeyMatcher.java
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CachingEntitySearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/client/UrnCacheKeyMatcher.java
  metadata-io/src/test/java/com/linkedin/metadata/search/client/CacheEvictionServiceTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/CachingEvictionServiceFactory.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/DataHubIcebergWarehouse.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/DataHubRestCatalog.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/rest/secure/AbstractIcebergController.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/DataHubIcebergWarehouseTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/DataHubRestCatalogTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/rest/secure/AbstractControllerTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/rest/secure/IcebergConfigApiControllerTest.java
Labels: product, devops, pending-submitter-merge

#12811 feat(docs): Release for DataHub Cloud 0.3.8.2
  docs/managed-datahub/release-notes/v_0_3_8.md
Labels: docs, pending-submitter-merge

#12706 refactor(graphql): simplify getLastIngestionRun method
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/util/SystemMetadataUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/utils/SystemMetadataUtilsTest.java
Labels: community-contribution, product, needs-review

#12779 docs(ingest): update metadata-ingestion dev guide
  metadata-ingestion/developing.md
Labels: ingestion, pending-submitter-merge

#12818 fix(ingest/oracle): refresh golden files
  metadata-ingestion/tests/integration/oracle/golden_test_error_handling.json
Labels: ingestion, merge-pending-ci

#12812 fix(openapi): fix openapi timeseries async ingestion
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceImplTest.java
Labels: product, needs-review

#12774 docs(ingest/mode): update mode workspace docs
  metadata-ingestion/src/datahub/ingestion/source/mode.py
Labels: ingestion, pending-submitter-merge

#12807 fix(ingestion/superset): fixed iterate over int error for building urns
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/superset/test_superset.py
Labels: ingestion, community-contribution, merge-pending-ci

#12824 Bq multi partitions
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/profiler.py
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_profiler.py
Labels: ingestion

#12823 fix(build): build improvements to help with incremental builds
  build.gradle
  datahub-web-react/build.gradle
  gradle/versioning/versioning-global.gradle
  gradle/versioning/versioning.gradle
  metadata-events/mxe-schemas/build.gradle
  metadata-events/mxe-utils-avro/build.gradle
  metadata-integration/java/versioning.gradle
  metadata-io/build.gradle
  metadata-jobs/mae-consumer/build.gradle
  metadata-jobs/mce-consumer/build.gradle
  metadata-jobs/pe-consumer/build.gradle
  metadata-models/build.gradle
Labels: ingestion, product, pending-submitter-merge

#12819 feat(docs) add perms req to ai docs
  docs/automations/ai-docs.md
Labels: docs, pending-submitter-merge

#12078 Add variable to show full title in lineage by default
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/lineage/LineageVizInsideZoom.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/VisualConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Labels: community-contribution, product, devops, needs-review

#11657 feat(ui): support all entities with display names in browse paths v2
  datahub-web-react/src/graphql/browseV2.graphql
  datahub-web-react/src/graphql/fragments.graphql
Labels: community-contribution, product, needs-review

#12587 feat(ingestion/mlflow): improve mlflow connector to pull run and experiments
  metadata-ingestion/examples/recipes/mlflow_to_datahub.dhub.yaml
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
  metadata-ingestion/tests/integration/mlflow/mlflow_mcps_golden.json
  metadata-ingestion/tests/integration/mlflow/test_mlflow_source.py
  smoke-test/tests/cypress/cypress/e2e/ml/experiment.js
  smoke-test/tests/cypress/cypress/e2e/ml/model_mlflow.js
  smoke-test/tests/cypress/cypress/e2e/ml/model_sagemaker.js
  smoke-test/tests/cypress/data.json
Labels: ingestion, pending-submitter-merge

#12835 fix(workflows): Update pr-labeler
  .github/workflows/pr-labeler.yml
Labels: devops, pending-submitter-merge

#12815 chore(ruff): enable some ignored rules
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_tests.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_api.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_aspects.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive_metastore.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-ingestion/src/datahub/lite/duckdb_lite.py
  metadata-ingestion/src/datahub/sdk/dataset.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/performance/bigquery/bigquery_events.py
Labels: ingestion, pending-submitter-merge

#12826 feat(ingest/redshift): lineage for external schema created from redshift
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/profile.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift_schema.py
  metadata-ingestion/tests/unit/redshift/test_redshift_datashares.py
  metadata-ingestion/tests/unit/redshift/test_redshift_lineage.py
Labels: ingestion, pending-submitter-merge

#12757 feat(openapi-ingestion): implement openapi ingestion
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
  smoke-test/tests/timeline/timeline_test.py
  smoke-test/tests/utils.py
Labels: ingestion, pending-submitter-merge

#12843 fix(ui) Hide default filters we want to hide from impact analysis
  datahub-web-react/src/app/search/SimpleSearchFilters.tsx
  datahub-web-react/src/app/search/utils/constants.ts
  datahub-web-react/src/app/searchV2/SimpleSearchFilters.tsx
Labels: product, pending-submitter-merge

#12842 fix(ui) Fix submitting when selecting replacement in deprecation modal
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/UpdateDeprecationModal.tsx
Labels: product, pending-submitter-merge

#12781 fix(UI): Multiple data product delete modals
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/DataProductResult.tsx
Labels: product, needs-review

#12845 fix(graphql/search): Remove schema field and data process instance from default search types
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
Labels: product, pending-submitter-merge

#12839 docs: clear remote executor docs
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
Labels: docs, pending-submitter-merge

#12848 fix(jaas): fix jaas login
  datahub-frontend/app/security/AuthenticationManager.java
  datahub-frontend/app/security/DataHubUserPrincipal.java
  datahub-frontend/app/security/PropertyFileLoginModule.java
  datahub-frontend/conf/jaas.conf
  datahub-frontend/run/jaas.conf
  datahub-frontend/test/security/AuthenticationManagerTest.java
  datahub-frontend/test/security/DataHubUserPrincipalTest.java
  datahub-frontend/test/security/PropertyFileLoginModuleTest.java
Labels: product, pending-submitter-merge

#12801 feat(gql) allow unsetting optional incident fields
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/incident/IncidentUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/incident/UpdateIncidentResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/incident/UpdateIncidentResolverTest.java
Labels: product, pending-submitter-merge

#12853 fix(ingest/dynamodb): pass env to dataset urn function
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
Labels: ingestion, pending-submitter-merge

#12734 feat(ui): Update ExternalUrlButton to include self-hosted gitlab URLs
  datahub-web-react/src/app/entity/shared/ExternalUrlButton.tsx
  datahub-web-react/src/app/entityV2/shared/utils.ts
Labels: community-contribution, product, merge-pending-ci

#12858 fix(ui) Support glossary nodes in autocomplete
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/GlossaryNodeType.java
Labels: product, pending-submitter-merge

#12861 feat(ingest/mlflow): update dpi to use edge for lineage
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
  metadata-ingestion/tests/integration/mlflow/mlflow_mcps_golden.json
Labels: ingestion, pending-submitter-merge

#12855 fix(ge-profiler): catch TimeoutError
  metadata-ingestion/src/datahub/ingestion/source/unity/ge_profiler.py
Labels: ingestion, pending-submitter-merge

#12856 fix(databricks): fixes profile median
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion, pending-submitter-merge

#12820 fix(ingest): fix error in deploy command
  metadata-ingestion/src/datahub/cli/ingest_cli.py
Labels: ingestion, pending-submitter-merge

#12864 docs(ingest): custom transformer remote executor
  metadata-ingestion/docs/transformer/dataset_transformer.md
  metadata-ingestion/examples/transforms/example.Dockerfile
  metadata-ingestion/examples/transforms/owners.json
  metadata-ingestion/examples/transforms/recipe.dhub.yaml
  metadata-ingestion/examples/transforms/setup.py
Labels: ingestion, pending-submitter-merge

#12859 feat(restore-indices): createDefaultAspects argument
  datahub-upgrade/build.gradle
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/RestoreIndices.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/SendMAEStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/AbstractMCLStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/schemafield/GenerateSchemaFieldsFromSchemaMetadataStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/restoreindices/SendMAEStepTest.java
  docs/how/restore-indices.md
  metadata-dao-impl/kafka-producer/src/main/java/com/linkedin/metadata/dao/producer/KafkaEventProducer.java
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/event/EventProducer.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceImplTest.java
  metadata-io/src/testFixtures/java/com/linkedin/metadata/EbeanTestUtils.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/ElasticsearchController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/operations/elastic/ElasticsearchControllerTest.java
  metadata-service/restli-api/src/main/idl/com.linkedin.entity.aspects.restspec.json
  metadata-service/restli-api/src/main/idl/com.linkedin.operations.operations.restspec.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/entity/AspectResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/OperationsResource.java
  metadata-service/restli-servlet-impl/src/main/java/com/linkedin/metadata/resources/operations/Utils.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/EntityService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/entity/restoreindices/RestoreIndicesArgs.java
Labels: docs, product, devops, pending-submitter-merge

#12714 feat(ingestion-tracing): implement ingestion with tracing api
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/configuration/common.py
  metadata-ingestion/src/datahub/emitter/response_helper.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/test_helpers/graph_helpers.py
  metadata-ingestion/tests/unit/datahub/emitter/test_response_helper.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Labels: ingestion, pending-submitter-merge

#12785 hotfix(ui): Addressing assertions hotfixes
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Validations/DatasetAssertionsList.tsx
  datahub-web-react/src/app/entityV2/shared/components/search/InlineListSearch.tsx
  datahub-web-react/src/app/entityV2/shared/components/search/styledComponents.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AcrylAssertionsTableColumns.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/AssertionListTitleContainer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/DataContractBadge.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/Tags/AcrylAssertionTagColumn.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/ActionItem.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/AssertionListItemActions.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/ExternalUrlAction.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/styledComponents.tsx
Labels: product, pending-submitter-merge

#12632 feat(ingestion) Adding vertexAI ingestion source (v1 - model group and model)
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/images/vertexai.png
  metadata-ingestion/docs/sources/vertexai/vertexai_pre.md
  metadata-ingestion/docs/sources/vertexai/vertexai_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/common/gcp_credentials_config.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
  metadata-ingestion/tests/integration/vertexai/__init__.py
  metadata-ingestion/tests/integration/vertexai/mock_vertexai.py
  metadata-ingestion/tests/integration/vertexai/test_vertexai.py
  metadata-ingestion/tests/integration/vertexai/vertexai_mcps_golden.json
  metadata-ingestion/tests/unit/test_vertexai_source.py
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Labels: ingestion, community-contribution, merge-pending-ci

#12833 feat(ingest/hive): identify partition columns in hive tables
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/tests/integration/hive/hive_mces_all_db_golden.json
  metadata-ingestion/tests/integration/hive/hive_mces_golden.json
Labels: ingestion, community-contribution, merge-pending-ci

#12872 feat(system-metrics): track api usage by user, client, api
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/dao/throttle/APIThrottle.java
  metadata-io/src/test/java/com/linkedin/metadata/dao/throttle/APIThrottleTest.java
  metadata-operation-context/build.gradle
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestContext.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/RequestContextTest.java
Labels: product, pending-submitter-merge

#12852 fix(ingest/snowflake): Fixing table rename query handling
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
Labels: ingestion, pending-submitter-merge

#12875 fix(ingest): fix formatting to resolve lint error
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
Labels: ingestion, pending-submitter-merge

#12878 feat(docs/mlflow): update sample scripts to be compatible with edges/versioning
  metadata-ingestion/examples/ai/dh_ai_client.py
  metadata-ingestion/examples/ai/dh_ai_client_sample.py
Labels: ingestion, pending-submitter-merge

#12876 fix(python-version): Fix with dash docker_helpers.sh
  .github/scripts/docker_helpers.sh
Labels: devops, needs-review

#12786 feat(ingestion/superset): superset column level lineage
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/superset/test_superset.py
  metadata-ingestion/tests/unit/test_superset_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#12794 docs(cloud): DataHub Cloud v0.3.9 release notes
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_3_9.md
Labels: docs, pending-submitter-merge

#12882 fix(open-telemetry): include missing dependency
  build.gradle
  datahub-frontend/play.gradle
  datahub-upgrade/build.gradle
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/datahub-upgrade/start.sh
  docs/advanced/monitoring.md
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mce-consumer-job/build.gradle
  metadata-service/war/build.gradle
Labels: devops, merge-pending-ci, publish-docker, pending-submitter-merge

#12889 fix(ingest): fix superset declared deps
  metadata-ingestion/setup.py
Labels: ingestion, needs-review

#12896 fix(ingest): pin lookml liquid dep
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/testing/mcp_diff.py
Labels: ingestion, pending-submitter-merge

#12897 fix(gql) add incident assignee owner type resolver
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/load/OwnerTypeBatchResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/load/OwnerTypeBatchResolverTest.java
Labels: product, pending-submitter-merge

#12883 fix(ingestion/superset): fixed changed_on_utc value being a string
  metadata-ingestion/src/datahub/ingestion/source/superset.py
Labels: ingestion, community-contribution, merge-pending-ci

#12873 feat(openapi): Adding subtype for openapi source
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/openapi.py
  metadata-ingestion/tests/integration/openapi/openapi_mces_golden.json
Labels: ingestion, pending-submitter-merge

#12881 fix(powerbi): fixes direction of the dashboard-report lineage
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
Labels: ingestion, pending-submitter-merge

#12877 fix(ui) Fix styling of new nav bar header in safai
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarHeader.tsx
Labels: product, pending-submitter-merge

#12661 feat(ingest/s3): add table filtering
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_allow_table.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_deny_table.json
  metadata-ingestion/tests/integration/s3/sources/s3/allow_table.json
  metadata-ingestion/tests/integration/s3/sources/s3/deny_table.json
  metadata-ingestion/tests/unit/data_lake/test_path_spec.py
Labels: ingestion, community-contribution, merge-pending-ci

#12912 feat(ingestion/iceberg): Refactor iceberg source to use MCPWs instead of MCEs
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/tests/integration/iceberg/iceberg_deleted_table_mces_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_deleted_table_mcps_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_ingest_mces_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_ingest_mcps_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_multiprocessing_to_file.yml
  metadata-ingestion/tests/integration/iceberg/iceberg_profile_mces_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_profile_mcps_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_profile_to_file.yml
  metadata-ingestion/tests/integration/iceberg/iceberg_to_file.yml
  metadata-ingestion/tests/integration/iceberg/test_iceberg.py
  metadata-ingestion/tests/unit/test_iceberg.py
Labels: ingestion, pending-submitter-merge

#12909 ci(ui): enable frontend previews
  .github/workflows/react-cloudflare-pages.yml
  datahub-web-react/functions/api/v2/graphql.js
  datahub-web-react/functions/authenticate.js
  datahub-web-react/functions/cloudflare_proxy.js
  datahub-web-react/functions/logIn.js
  datahub-web-react/functions/track.js
Labels: product, devops, pending-submitter-merge

#12902 fix(ui): improve mixpanel analytics support
  datahub-web-react/src/app/analytics/plugin/mixpanel.ts
Labels: product, pending-submitter-merge

#12681 fix(metadata-models-custom): fix at entity-registry.yaml to load plugins correctly
  metadata-models-custom/README.md
  metadata-models-custom/registry/entity-registry.yaml
Labels: community-contribution, merge-pending-ci

#12893 feat(ui): add external url button for ml entities for v2
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelGroupPropertiesMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entityV2/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entityV2/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entityV2/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/graphql/dataProcessInstance.graphql
  datahub-web-react/src/graphql/mlModelGroup.graphql
  metadata-models/src/main/pegasus/com/linkedin/ml/metadata/MLModelGroupProperties.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: product, devops, pending-submitter-merge

#12932 fix(): Fixes from merge release
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingest/source/builder/RecipeForm/TestConnection/TestConnectionButton.tsx
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/ingest/source/builder/sources.json
Labels: product, pending-submitter-merge

#12837 feat(ingest/mlflow): add dataset lineage
  metadata-ingestion/src/datahub/ingestion/source/common/data_platforms.py
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
  metadata-ingestion/tests/unit/test_mlflow_source.py
Labels: ingestion, pending-submitter-merge

#12919 fix(ui): versions null reference issues
  datahub-web-react/src/app/entity/dataset/profile/schema/components/StructuredPropValues.tsx
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/StructuredPropValues.tsx
Labels: product, pending-submitter-merge

#12908 fix(ingest/dremio): simplify and fix build source map
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_datahub_source_mapping.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_entities.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_source.py
  metadata-ingestion/tests/integration/dremio/dremio_mces_golden.json
  metadata-ingestion/tests/integration/dremio/dremio_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dremio/dremio_platform_instance_to_file.yml
  metadata-ingestion/tests/integration/dremio/dremio_schema_filter_to_file.yml
  metadata-ingestion/tests/integration/dremio/dremio_to_file.yml
  metadata-ingestion/tests/unit/dremio/test_dremio_source_map.py
Labels: ingestion, pending-submitter-merge

#12935 fix(ci): update docker helpers script
  .github/scripts/docker_helpers.sh
Labels: devops, pending-submitter-merge

#12940 docs(sdk): add docstrings for some sdk classes
  metadata-ingestion/src/datahub/sdk/dataset.py
  metadata-ingestion/src/datahub/sdk/entity.py
  metadata-ingestion/src/datahub/sdk/entity_client.py
  metadata-ingestion/src/datahub/sdk/main_client.py
  metadata-ingestion/src/datahub/sdk/search_filters.py
Labels: ingestion, needs-review

#12907 feat(docs): Add section on updating DataHub for 1.0.0
  docs/how/updating-datahub.md
Labels: docs, pending-submitter-merge

#12871 docs(view authorization): document view authorization in application.yaml
  metadata-service/configuration/src/main/resources/application.yaml
Labels: devops, pending-submitter-merge

#12836 feat(ingestion) Adding vertexAI ingestion source (v2 - experiment and experiment run)
  metadata-ingestion/docs/sources/vertexai/vertexai_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/common/gcp_credentials_config.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_config.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_result_type_utils.py
  metadata-ingestion/tests/integration/vertexai/mock_vertexai.py
  metadata-ingestion/tests/integration/vertexai/test_vertexai.py
  metadata-ingestion/tests/integration/vertexai/vertexai_mcps_golden.json
  metadata-ingestion/tests/unit/test_vertexai_source.py
Labels: ingestion, community-contribution, product, devops, merge-pending-ci

#12933 docs(sdk): update some examples with the new SDK
  metadata-ingestion/examples/library/dataset_add_column_documentation.py
  metadata-ingestion/examples/library/dataset_add_column_tag.py
  metadata-ingestion/examples/library/dataset_add_column_term.py
  metadata-ingestion/examples/library/dataset_add_documentation.py
  metadata-ingestion/examples/library/dataset_add_owner.py
  metadata-ingestion/examples/library/dataset_add_tag.py
  metadata-ingestion/examples/library/dataset_add_tag_patch.py
  metadata-ingestion/examples/library/dataset_add_term.py
  metadata-ingestion/examples/library/dataset_query_deprecation.py
  metadata-ingestion/examples/library/dataset_query_description.py
  metadata-ingestion/examples/library/dataset_query_description_on_columns.py
  metadata-ingestion/examples/library/dataset_query_domain.py
  metadata-ingestion/examples/library/dataset_query_owners.py
  metadata-ingestion/examples/library/dataset_query_tags.py
  metadata-ingestion/examples/library/dataset_query_terms.py
  metadata-ingestion/examples/library/dataset_schema.py
  metadata-ingestion/examples/library/dataset_set_tag.py
  metadata-ingestion/examples/library/dataset_set_term.py
Labels: ingestion, pending-submitter-merge

#12946 fix(cli): fix unknown aspect bug in dataset upsert cli
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
Labels: ingestion, needs-review

#12927 Fix(ingestion): fix jsonProps not being ingested for optional fields
  metadata-ingestion/src/datahub/ingestion/extractor/schema_util.py
  metadata-ingestion/tests/unit/test_schema_util.py
Labels: ingestion, community-contribution, merge-pending-ci

#12945 docs(Timeseries): Update Timeseries aspect documentation to add support for @Searchable and @Relationship annotations
  docs/modeling/metadata-model.md
Labels: docs, community-contribution, merge-pending-ci

#12942 fix(ingest/dbt): consider dbt run results with success status
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_tests.py
  metadata-ingestion/tests/integration/dbt/sample_dbt_run_results_2.json
Labels: ingestion, pending-submitter-merge

#12947 feat(ingest): allow MCPWs instead of workunits
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_tests.py
  metadata-ingestion/src/datahub/sdk/entity.py
  metadata-ingestion/src/datahub/sdk/entity_client.py
  metadata-ingestion/tests/test_helpers/sdk_v2_helpers.py
Labels: ingestion, pending-submitter-merge

#12963 fix(metadata-ingestion) fix connector test error for Vertex AI
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
Labels: ingestion, pending-submitter-merge

#12795 feat(ingestion) slack source v2 - now ingests all user and channels
  metadata-ingestion/src/datahub/ingestion/source/slack/slack.py
  metadata-models/src/main/pegasus/com/linkedin/dataplatform/slack/SlackChannel.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataplatform/slack/SlackConversation.pdl
  metadata-models/src/main/pegasus/com/linkedin/dataplatform/slack/SlackUserInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/event/notification/NotificationSinkType.pdl
  metadata-models/src/main/pegasus/com/linkedin/event/notification/settings/EmailNotificationSettings.pdl
  metadata-models/src/main/pegasus/com/linkedin/event/notification/settings/NotificationSettings.pdl
  metadata-models/src/main/pegasus/com/linkedin/event/notification/settings/SlackNotificationSettings.pdl
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserEditableInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserSettings.pdl
  metadata-models/src/main/pegasus/com/linkedin/settings/NotificationSetting.pdl
  metadata-models/src/main/resources/entity-registry.yml
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: ingestion, pending-submitter-merge

#12952 ci(docs): adjust build and test workflow for doc only PRs
  .github/workflows/build-and-test.yml
Labels: devops, pending-submitter-merge

#12966 feat(ui): enabling meticulous recording
  datahub-web-react/vite.config.ts
Labels: product, pending-submitter-merge

#12948 feat(ingest/mode): fix issue in mode request validation
  metadata-ingestion/src/datahub/emitter/request_helper.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/tests/integration/mode/test_mode.py
Labels: ingestion, pending-submitter-merge

#12915 feat(ingest): new hex connector - part 1
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/images/hex-logo.png
  metadata-ingestion/docs/sources/hex/README.md
  metadata-ingestion/docs/sources/hex/hex.md
  metadata-ingestion/docs/sources/hex/hex_pre.md
  metadata-ingestion/docs/sources/hex/hex_recipe.yml
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/hex/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/hex/api.py
  metadata-ingestion/src/datahub/ingestion/source/hex/constants.py
  metadata-ingestion/src/datahub/ingestion/source/hex/hex.py
  metadata-ingestion/src/datahub/ingestion/source/hex/mapper.py
  metadata-ingestion/src/datahub/ingestion/source/hex/model.py
  metadata-ingestion/tests/integration/hex/__init__.py
  metadata-ingestion/tests/integration/hex/docker/docker-compose.yml
  metadata-ingestion/tests/integration/hex/docker/hex_projects_response.json
  metadata-ingestion/tests/integration/hex/docker/mock_server.py
  metadata-ingestion/tests/integration/hex/golden/hex_mce_golden.json
  metadata-ingestion/tests/integration/hex/test_hex.py
  metadata-ingestion/tests/unit/hex/__init__.py
  metadata-ingestion/tests/unit/hex/test_api.py
  metadata-ingestion/tests/unit/hex/test_data/hex_projects_page1.json
  metadata-ingestion/tests/unit/hex/test_data/hex_projects_page2.json
  metadata-ingestion/tests/unit/hex/test_mapper.py
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
Labels: ingestion, devops, pending-submitter-merge

#12934 feat(web) require trailing commas
  datahub-web-react/.eslintrc.js
  datahub-web-react/package.json
  datahub-web-react/yarn.lock
Labels: product, pending-submitter-merge

#12971 fix(cypress) Fix flaky managing_secrets cypress test
  datahub-web-react/src/app/entity/ownership/OwnershipList.tsx
  datahub-web-react/src/app/entity/ownership/table/ActionsColumn.tsx
  datahub-web-react/src/app/entityV2/ownership/OwnershipList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/builder/details/PrimaryButton.tsx
  datahub-web-react/src/app/identity/ManageIdentities.tsx
  datahub-web-react/src/app/settings/SettingsPage.tsx
  datahub-web-react/src/app/settings/posts/PostItemMenu.tsx
  datahub-web-react/src/app/settingsV2/settingsPaths.tsx
  smoke-test/tests/cypress/cypress/e2e/glossaryV2/v2_glossaryTerm.js
  smoke-test/tests/cypress/cypress/e2e/mutations/managing_secrets.js
  smoke-test/tests/cypress/cypress/e2e/ownership/manage_ownership.js
  smoke-test/tests/cypress/cypress/e2e/ownershipV2/v2_manage_ownership.js
  smoke-test/tests/cypress/cypress/e2e/settings/homePagePost.js
  smoke-test/tests/cypress/cypress/e2e/settings/managing_groups.js
  smoke-test/tests/cypress/cypress/e2e/settingsV2/v2_managing_groups.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: smoke_test, pending-submitter-merge

#12685 feat(ui): Adding support for 'has siblings' filter behind a feature flag.
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/search/SimpleSearchFilters.tsx
  datahub-web-react/src/app/search/filters/BasicFilters.tsx
  datahub-web-react/src/app/search/filters/MoreFilters.tsx
  datahub-web-react/src/app/search/filters/render/siblings/HasSiblingsFilter.tsx
  datahub-web-react/src/app/search/filters/render/siblings/HasSiblingsRenderer.tsx
  datahub-web-react/src/app/search/filters/render/types.ts
  datahub-web-react/src/app/search/filters/render/useFilterRenderer.tsx
  datahub-web-react/src/app/searchV2/SimpleSearchFilters.tsx
  datahub-web-react/src/app/searchV2/filters/MoreFilters.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFilterOptions.tsx
  datahub-web-react/src/app/searchV2/filters/field/fields.tsx
  datahub-web-react/src/app/searchV2/filters/render/acrylRenderers.ts
  datahub-web-react/src/app/searchV2/filters/render/siblings/HasSiblingsFilter.tsx
  datahub-web-react/src/app/searchV2/filters/render/siblings/HasSiblingsRenderer.tsx
  datahub-web-react/src/app/searchV2/filters/render/types.ts
  datahub-web-react/src/app/searchV2/utils/constants.ts
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-models/src/main/pegasus/com/linkedin/common/Siblings.pdl
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
Labels: ingestion, product, devops, needs-review

#12924 fix(ui/incident): Add validation for custom type
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentDetailDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentDrawerHeader.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentEditor.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentLinkedAssetsList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/hooks/useIncidentHandler.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentListTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/constant.ts
Labels: community-contribution, product, merge-pending-ci

#12949 feat(hex): warehouse integration via Query enrichment
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/src/datahub/sql_parsing/tool_meta_extractor.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_lineage_usage_golden.json
  metadata-ingestion/tests/unit/sql_parsing/test_tool_meta_extractor.py
Labels: ingestion, pending-submitter-merge

#12929 feat(ingest/snowflake): ingest stored procedures
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/constants.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/stored_procedures/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/sql/stored_procedures/base.py
  metadata-ingestion/src/datahub/ingestion/source/sql/stored_procedures/lineage.py
  metadata-ingestion/src/datahub/sql_parsing/split_statements.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_structured_properties_golden.json
  metadata-ingestion/tests/integration/sql_server/test_sql_server.py
  metadata-ingestion/tests/unit/sql_parsing/test_split_statements.py
  metadata-ingestion/tests/unit/stored_procedure/golden_files/snowflake/procedure_with_lineage.json
  metadata-ingestion/tests/unit/stored_procedure/golden_files/snowflake/procedure_with_multi_statements.json
  metadata-ingestion/tests/unit/stored_procedure/golden_files/snowflake/procedure_with_multitable_lineage.json
  metadata-ingestion/tests/unit/stored_procedure/golden_files/snowflake/procedure_with_temp_lineage.json
  metadata-ingestion/tests/unit/stored_procedure/golden_files/snowflake/procedure_with_transaction.json
  metadata-ingestion/tests/unit/stored_procedure/procedures/snowflake/procedure_with_lineage.sql
  metadata-ingestion/tests/unit/stored_procedure/procedures/snowflake/procedure_with_multi_statements.sql
  metadata-ingestion/tests/unit/stored_procedure/procedures/snowflake/procedure_with_multitable_lineage.sql
  metadata-ingestion/tests/unit/stored_procedure/procedures/snowflake/procedure_with_temp_lineage.sql
  metadata-ingestion/tests/unit/stored_procedure/procedures/snowflake/procedure_with_transaction.sql
  metadata-ingestion/tests/unit/stored_procedure/test_procedure_lineage.py
Labels: ingestion, pending-submitter-merge

#12982 chore(ingest): use typing-aware deprecation type
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion, pending-submitter-merge

#12981 fix(ingestion) Added externalURL of model group for Vertex AI
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/tests/integration/vertexai/vertexai_mcps_golden.json
  metadata-ingestion/tests/unit/test_vertexai_source.py
Labels: ingestion, pending-submitter-merge

#12990 fix(entity-service): fix delete non-existent row
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceImplTest.java
Labels: product, pending-submitter-merge

#12991 feat(ui): Support for Filtering by Deprecated, Showing Deprecation in Upstream Health Indicator
  datahub-web-react/src/app/entityV2/shared/embed/UpstreamHealth/UpstreamEntitiesList.tsx
  datahub-web-react/src/app/entityV2/shared/embed/UpstreamHealth/UpstreamHealth.tsx
  datahub-web-react/src/app/homeV2/reference/sections/EntityLink.tsx
  datahub-web-react/src/app/homeV2/reference/sections/EntityLinkList.tsx
  datahub-web-react/src/app/search/utils/constants.ts
  datahub-web-react/src/app/searchV2/filters/render/acrylRenderers.ts
  datahub-web-react/src/app/searchV2/filters/render/deprecation/DeprecationFilter.tsx
  datahub-web-react/src/app/searchV2/filters/render/deprecation/DeprecationRenderer.tsx
  datahub-web-react/src/app/searchV2/filters/render/shared/BooleanSearchFilter.tsx
  datahub-web-react/src/app/shared/health/healthUtils.tsx
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchFieldConfig.java
  metadata-models/src/main/pegasus/com/linkedin/common/Deprecation.pdl
Labels: product, pending-submitter-merge

#12967 fix(ingestion) Adding Vertex AI Connector documentation
  metadata-ingestion/docs/sources/vertexai/vertexai_pre.md
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
Labels: pending-submitter-response, ingestion

#12941 feat(ui/incident): Add sibling button dropdown for create incident
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentDetailDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentDrawerHeader.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentEditor.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/hooks/useIncidentHandler.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/styledComponents.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/CreateIncidentButton.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentTitleContainer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/styledComponents.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/types.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/utils.tsx
Labels: community-contribution, product, merge-pending-ci

#12984 feat(ingest/mlflow): add mlflow auth config
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
Labels: ingestion, pending-submitter-merge

#12959 chore(ingestion/airflow): Example custom operator with sql parsing
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/custom_operator_sql_parsing.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_sql_parsing.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_sql_parsing_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
Labels: ingestion, pending-submitter-merge

#12931 fix(ingest/gc): Fix for slow soft-deleted entity deletion
  metadata-ingestion/src/datahub/ingestion/source/gc/soft_deleted_entity_cleanup.py
  metadata-ingestion/tests/unit/test_gc.py
Labels: ingestion, pending-submitter-merge

#12989 fix(ingest): split merge statements correctly
  metadata-ingestion/src/datahub/sql_parsing/split_statements.py
  metadata-ingestion/tests/unit/sql_parsing/test_split_statements.py
  metadata-ingestion/tests/unit/stored_procedure/golden_files/snowflake/procedure_with_multi_statements.json
  metadata-ingestion/tests/unit/stored_procedure/golden_files/snowflake/procedure_with_multitable_lineage.json
Labels: ingestion, pending-submitter-merge

#12992 fix(ingest/redshift): resolve ingestion errors
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
Labels: ingestion, pending-submitter-merge

#12987 feat(databricks): approx percentile for median
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion, pending-submitter-merge

#12930 feat(ingestion/superset): column level lineage for charts
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/preset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/superset/test_superset.py
Labels: ingestion, community-contribution, merge-pending-ci

#12976 feat(edit lineage): add edit lineage functionality to datahub
  datahub-web-react/src/app/entity/shared/utils.ts
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EntitySearchResults.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/SearchSelect.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/LineageColumnView.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/LineageTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/ManageLineageMenuFromImpactAnalysis.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/hooks.ts
  datahub-web-react/src/app/lineageV2/LineageEntityNode/ManageLineageMenu.tsx
  datahub-web-react/src/app/lineageV2/LineageEntityNode/NodeContents.tsx
  datahub-web-react/src/app/lineageV2/manualLineage/AddEntityEdge.tsx
  datahub-web-react/src/app/lineageV2/manualLineage/EntityEdge.tsx
  datahub-web-react/src/app/lineageV2/manualLineage/LineageEdges.tsx
  datahub-web-react/src/app/lineageV2/manualLineage/LineageEntityView.tsx
  datahub-web-react/src/app/lineageV2/manualLineage/ManageLineageModal.tsx
  datahub-web-react/src/app/lineageV2/manualLineage/UserAvatar.tsx
  datahub-web-react/src/app/lineageV2/manualLineage/__tests__/ManageLineageModal.test.tsx
  datahub-web-react/src/app/lineageV2/manualLineage/buildUpdateLineagePayload.ts
  datahub-web-react/src/app/lineageV2/manualLineage/recordManualLineageAnalyticsEvent.ts
  smoke-test/tests/cypress/cypress/e2e/lineageV2/v2_impact_analysis.js
  smoke-test/tests/cypress/cypress/e2e/lineageV2/v2_lineage_graph.js
Labels: product, smoke_test, pending-submitter-merge

#12950 fix(ui/incident): Add validation to restrict unauthorized edit or resolve
  datahub-web-react/src/alchemy-components/components/Button/Button.tsx
  datahub-web-react/src/alchemy-components/components/Button/types.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentDetailDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentDrawerHeader.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentListTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentResolveButton.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/constant.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/hooks.tsx
Labels: community-contribution, product, merge-pending-ci

#13000 fix(ingest): fix logging typo
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
Labels: ingestion, community-contribution, needs-review

#12975 fix(powerbi): fix KeyError when ingesting apps from Power BI
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
Labels: ingestion, community-contribution, merge-pending-ci

#12999 fix(web) styltistic lint downgraded to support legacy lint definition path
  datahub-web-react/package.json
  datahub-web-react/yarn.lock
Labels: product, pending-submitter-merge

#13007 fix(ingest): warn when API tracing is unexpectedly inactive
  metadata-ingestion/setup.cfg
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/emitter/response_helper.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/errors.py
  metadata-ingestion/tests/unit/datahub/emitter/test_response_helper.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Labels: ingestion, pending-submitter-merge

#13003 fix(ingest/redshift): respect skip external table config
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
Labels: ingestion, needs-review

#12857 feat(ingest/powerbi): PowerBI source updates
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cross_workspace_dataset.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_independent_datasets.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest_patch_disabled.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_profiling.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion, pending-submitter-merge

#12953 Feat(ui/incident-v2) : Added smoke test and unit test cases for sibling create incidents
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/__tests__/utils.test.tsx
  smoke-test/tests/cypress/cypress/e2e/incidentsV2/v2_incidents.js
Labels: pending-submitter-response, community-contribution, product, smoke_test

#13019 fix(ingest): make emitter endpoint fully env-controlled
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/tests/unit/test_rest_sink.py
Labels: ingestion, pending-submitter-merge

#13004 fix(airflow): drop airflow 2.3 and 2.4 support
  .github/workflows/airflow-plugin.yml
  docs/how/updating-datahub.md
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/tox.ini
Labels: ingestion, docs, devops, needs-review

#13009 chore(ingest): remove calls to deprecated methods
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/tests/test_helpers/mce_helpers.py
  metadata-ingestion/tests/unit/test_generic_aspect_transformer.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
  metadata-ingestion/tests/unit/test_usage_common.py
Labels: ingestion, pending-submitter-merge

#13005 fix(ui/lineageV2): Fix bug with not getting all lineage nodes when hiding transformations
  datahub-web-react/src/app/lineageV2/useSearchAcrossLineage.ts
Labels: product, pending-submitter-merge

#13016 refactor(): use static yaml mapper es search service
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchServiceFactory.java
Labels: devops, merge-pending-ci, pending-submitter-merge

#13015 fix(system-update): make buildIndices first step
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/BuildIndicesConfig.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/DatahubUpgradeBlockingTest.java
Labels: merge-pending-ci

#12998 feat(ingest/sigma): add reporting on filtered workspaces
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
Labels: ingestion, pending-submitter-merge

#12814 feat(dataset_cli): add dry-run support
  metadata-ingestion/src/datahub/cli/specific/dataset_cli.py
  metadata-ingestion/tests/unit/cli/dataset/test_dataset_cmd.py
Labels: ingestion, pending-submitter-merge
