Repository datahub-project/datahub, pull requests merged in 2025-04, with the labels that each got.

#13024 fix(ui) remove SQL from TaskIcon for Vertex AI Pipeline task
  datahub-web-react/src/app/entityV2/shared/components/subtypes.tsx
  datahub-web-react/src/images/vertexai-pipeline-task.svg
Labels: product, pending-submitter-merge

#12973 docs(mlflow): add docs for the mlflow dataset config
  metadata-ingestion/docs/sources/mlflow/mlflow_post.md
Labels: ingestion, pending-submitter-merge

#12993 feat(powerbi): capture dataset report lineage
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_only.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
Labels: ingestion, pending-submitter-merge

#13036 fix(cli): stop deployment config being overwritten by cli defaults
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/utilities/ingest_utils.py
Labels: ingestion, community-contribution, merge-pending-ci

#13017 docs(ingest): make fail_safe_threshold config visable in docs
  metadata-ingestion/src/datahub/ingestion/source/state/stale_entity_removal_handler.py
Labels: ingestion, community-contribution, merge-pending-ci

#13050 docs(ingest): clarify snowflake key language
  metadata-ingestion/docs/sources/snowflake/snowflake_pre.md
Labels: ingestion, pending-submitter-merge

#13037 test(metadata-io/graph-service): Update lineage registry creation for dgraph and neo4j tests
  metadata-io/src/test/java/com/linkedin/metadata/graph/dgraph/DgraphGraphServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphServiceTest.java
Labels: product, pending-submitter-merge

#13048 fix(ingest/trino): always use table properties fallback
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
Labels: ingestion, pending-submitter-merge

#13044 refactor(): Fix incidents feedback on QA
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentDetailDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentEditor.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/hooks/useIncidentHandler.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentListTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentResolutionPopup.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentResolveButton.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/hooks.tsx
Labels: product, pending-submitter-merge

#13045 feat(ingest): adds get_entities_v3 method to DataHubGraph
  metadata-ingestion/examples/datahubgraph/batch_get_entities.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/tests/test_helpers/graph_helpers.py
  metadata-ingestion/tests/test_helpers/test_graph_helpers.py
  smoke-test/tests/cli/datahub_graph_test.py
Labels: ingestion, pending-submitter-merge

#13052 feat(ingestion/iceberg): source lastModified from table metadata field
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
Labels: ingestion, pending-submitter-merge

#13047 fix(openapi): restore openapi v3 aspect version endpoint
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/AbstractMCLStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/schemafield/GenerateSchemaFieldsFromSchemaMetadataStep.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityUtils.java
  smoke-test/tests/openapi/v3/aspects.json
  smoke-test/tests/utilities/concurrent_openapi.py
Labels: product, smoke_test, pending-submitter-merge

#13035 refactor(auth-filter): refactor exception and logging
  metadata-service/auth-filter/src/main/java/com/datahub/auth/authentication/filter/AuthenticationFilter.java
  metadata-service/auth-filter/src/test/java/com/datahub/auth/authentication/AuthenticationFilterTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/authenticator/DataHubTokenAuthenticatorTest.java
Labels: devops, pending-submitter-merge

#13061 docs(ingest): more specific CLL limitation language
  docs/lineage/sql_parsing.md
Labels: docs, pending-submitter-merge

#13006 feat(ingest/superset): leverage threads for superset API calls
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/superset/test_superset.py
Labels: ingestion, community-contribution, merge-pending-ci

#13062 fix(test): improve test stability
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceOptimizationTest.java
Labels: product, pending-submitter-merge

#12740 refactor(ui/v2): Update icons and search bars on schema tab, glossary search, domain search
  datahub-web-react/src/alchemy-components/components/Button/Button.stories.tsx
  datahub-web-react/src/alchemy-components/components/Button/Button.tsx
  datahub-web-react/src/alchemy-components/components/Button/types.ts
  datahub-web-react/src/alchemy-components/components/Button/utils.ts
  datahub-web-react/src/alchemy-components/components/Drawer/Drawer.tsx
  datahub-web-react/src/alchemy-components/components/GraphCard/GraphCard.stories.tsx
  datahub-web-react/src/alchemy-components/components/Icon/constants.ts
  datahub-web-react/src/alchemy-components/components/Input/Input.stories.tsx
  datahub-web-react/src/alchemy-components/components/Input/Input.tsx
  datahub-web-react/src/alchemy-components/components/Input/types.ts
  datahub-web-react/src/alchemy-components/components/SearchBar/SearchBar.tsx
  datahub-web-react/src/alchemy-components/components/SearchBar/types.ts
  datahub-web-react/src/alchemy-components/components/Select/AutoCompleteSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/BasicSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/Nested/NestedSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/app/domainV2/DomainSearch.tsx
  datahub-web-react/src/app/domainV2/nestedDomains/ManageDomainsPageV2.tsx
  datahub-web-react/src/app/entity/dataset/profile/schema/components/SchemaHeader.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Queries/QueriesTabToolbar.tsx
  datahub-web-react/src/app/entity/shared/tabs/Dataset/Relationship/RelationshipsTab.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/AddPropertyButton.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/TabHeader.tsx
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaHeader.tsx
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaSearchInput.tsx
  datahub-web-react/src/app/entityV2/shared/components/search/InlineListSearch.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/TabToolbar.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/SchemaTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentDrawerHeader.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentEditor.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/CompactLineageTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/TabHeader.tsx
  datahub-web-react/src/app/entityV2/shared/versioning/VersionsDrawer.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryContentProvider.tsx
  datahub-web-react/src/app/glossaryV2/GlossarySearch.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredProperties.tsx
  datahub-web-react/src/app/lineage/NodeColumnsHeader.tsx
  datahub-web-react/src/app/lineageV2/controls/SearchControl.tsx
  datahub-web-react/src/app/search/ViewAllSearchItem.tsx
  datahub-web-react/src/app/search/autoComplete/RecommendedOption.tsx
  datahub-web-react/src/app/searchV2/ViewAllSearchItem.tsx
  datahub-web-react/src/app/searchV2/autoComplete/RecommendedOption.tsx
  smoke-test/tests/cypress/.prettierrc.js
  smoke-test/tests/cypress/cypress/e2e/domainsV2/v2_nested_domains.js
  smoke-test/tests/cypress/cypress/e2e/glossaryV2/v2_glossaryTerm.js
  smoke-test/tests/cypress/cypress/e2e/manage_tags/manage_tags.js
  smoke-test/tests/cypress/cypress/support/commands.js
Labels: product, merge-pending-ci

#12955 fix(logging): fixes slow query logging formatting and adds parsing fo…
  datahub-frontend/app/controllers/Application.java
Labels: community-contribution, product, merge-pending-ci

#12985 feat(ingest): new hex connector - part 2
  metadata-ingestion/docs/sources/hex/README.md
  metadata-ingestion/src/datahub/ingestion/source/hex/constants.py
  metadata-ingestion/src/datahub/ingestion/source/hex/hex.py
  metadata-ingestion/src/datahub/ingestion/source/hex/mapper.py
  metadata-ingestion/src/datahub/ingestion/source/hex/model.py
  metadata-ingestion/src/datahub/ingestion/source/hex/query_fetcher.py
  metadata-ingestion/tests/integration/hex/docker/datahub_entities_v3_page1.json
  metadata-ingestion/tests/integration/hex/docker/datahub_entities_v3_page2.json
  metadata-ingestion/tests/integration/hex/docker/datahub_get_urns_by_filter_page1.json
  metadata-ingestion/tests/integration/hex/docker/datahub_get_urns_by_filter_page2.json
  metadata-ingestion/tests/integration/hex/docker/docker-compose.yml
  metadata-ingestion/tests/integration/hex/docker/mock_datahub_server.py
  metadata-ingestion/tests/integration/hex/docker/mock_hex_server.py
  metadata-ingestion/tests/integration/hex/golden/hex_mce_golden_with_lineage.json
  metadata-ingestion/tests/integration/hex/test_hex.py
  metadata-ingestion/tests/unit/hex/test_hex.py
  metadata-ingestion/tests/unit/hex/test_mapper.py
  metadata-ingestion/tests/unit/hex/test_query_fetcher.py
Labels: ingestion, pending-submitter-merge

#13055 fix(ingest/sigma): include workspace names in report
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
Labels: ingestion, pending-submitter-merge

#12894 feat(docs): Add environment variables for OSS 1.0.0
  docs/deploy/environment-vars.md
Labels: docs, pending-submitter-merge

#13068 fix(lint): update icon props in sidebar components to match IconProps type
  datahub-web-react/src/app/domainV2/nestedDomains/DomainsSidebarHeader.tsx
  datahub-web-react/src/app/domainV2/nestedDomains/ManageDomainsSidebar.tsx
  datahub-web-react/src/app/glossaryV2/GlossarySidebar.tsx
  datahub-web-react/src/app/searchV2/sidebar/BrowseSidebar.tsx
Labels: product, merge-pending-ci

#12918 fix(docs) Update impact analysis docs to call out lightning cache bugs
  docs/act-on-metadata/impact-analysis.md
Labels: docs, pending-submitter-merge

#13063 docs(oss-vs-cloud): update to re-align with current offering
  docs/managed-datahub/managed-datahub-overview.md
Labels: docs, pending-submitter-merge

#13074 fix(ui): Adding incident changes from DataHub Cloud QA
  datahub-web-react/src/app/entityV2/shared/components/styled/search/SearchSelect.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentLinkedAssetsList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/hooks.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/utils.tsx
  datahub-web-react/src/graphql/incident.graphql
Labels: product, pending-submitter-merge

#13072 chore(): bump base ubuntu image 22.04 -> 24.04
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/build.gradle
Labels: devops, pending-submitter-merge

#12710 feat(ingestion) cleaning up ingestion page UI
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/IngestionResolverUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/ListExecutionRequestsResolver.java
  datahub-graphql-core/src/main/resources/ingestion.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/ingest/execution/ListExecutionRequestsResolverTest.java
  datahub-web-react/src/app/ingest/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingest/constants.ts
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTable.tsx
  datahub-web-react/src/app/ingest/source/IngestionSourceTableColumns.tsx
  datahub-web-react/src/app/ingest/source/builder/IngestionSourceBuilderModal.tsx
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  datahub-web-react/src/app/ingest/source/builder/__tests__/DefineRecipeStep.test.tsx
  datahub-web-react/src/app/ingest/source/builder/__tests__/NameSourceStep.test.tsx
  datahub-web-react/src/app/ingest/source/builder/types.ts
  datahub-web-react/src/app/ingest/types.ts
  datahub-web-react/src/app/search/SearchBar.tsx
  smoke-test/tests/cypress/cypress/e2e/mutations/managing_secrets.js
  smoke-test/tests/cypress/cypress/e2e/mutationsV2/v2_managed_ingestion.js
  smoke-test/tests/cypress/cypress/e2e/mutationsV2/v2_managing_secrets.js
Labels: product, pending-submitter-merge

#12788 fix(ui): humanize timestamps on ML entities UI
  datahub-web-react/src/app/entity/dataProcessInstance/profile/DataProcessInstanceSummary.tsx
  datahub-web-react/src/app/entity/mlModel/profile/MLModelSummary.tsx
  datahub-web-react/src/app/entity/mlModelGroup/profile/ModelGroupModels.tsx
  datahub-web-react/src/app/entityV2/mlModel/profile/MLModelSummary.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/profile/ModelGroupModels.tsx
  datahub-web-react/src/app/sharedV2/TimestampPopover.tsx
  smoke-test/tests/cypress/cypress/e2e/ml/model_mlflow.js
Labels: product, pending-submitter-merge

#12751 feat(ingest/airflow): platform_instance support in Airflow plugin
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_config.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/basic_iolets.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/dag_to_skip.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/simple_dag.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v1_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_athena_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_athena_operator_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_datahub_emitter_operator_jinja_template_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_datahub_emitter_operator_jinja_template_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_snowflake_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator_no_dag_listener.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_airflow.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
Labels: ingestion, docs, community-contribution, merge-pending-ci

#13075 docs(cloud): DataHub Cloud v0.3.9.2 release notes
  docs/managed-datahub/release-notes/v_0_3_9.md
Labels: docs, needs-review

#13053 fix(opentelemetry): Resolve type mismatch in metrics exporter
  build.gradle
  datahub-frontend/play.gradle
  datahub-upgrade/build.gradle
  docker/datahub-actions/env/docker.env
  docker/datahub-frontend/env/docker.env
  docker/datahub-gms/env/docker.env
  docker/datahub-mae-consumer/env/docker.env
  docker/datahub-mce-consumer/env/docker.env
  metadata-io/build.gradle
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mae-consumer/build.gradle
  metadata-jobs/mce-consumer-job/build.gradle
  metadata-jobs/mce-consumer/build.gradle
  metadata-operation-context/build.gradle
  metadata-service/factories/build.gradle
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/system_telemetry/OpenTelemetryBaseFactory.java
  metadata-service/openapi-servlet/build.gradle
  metadata-service/war/build.gradle
Labels: community-contribution, product, devops, needs-review

#12816 doc(ingestion/s3): Document permissions requirements for s3 source
  metadata-ingestion/docs/sources/s3/s3_pre.md
Labels: ingestion, pending-submitter-merge

#13079 Updated page title and styling to match new ui
  datahub-web-react/src/app/settingsV2/Preferences.tsx
Labels: product, merge-pending-ci

#12766 fix(delta-lake): Bump delta-lake dependency
  metadata-ingestion/setup.py
Labels: ingestion, pending-submitter-merge

#12965 feat (metadata-models-custom): Use java-library plugin to extends the java plugin and adds additional features specifically for building Java libraries.
  metadata-models-custom/build.gradle
Labels: community-contribution, merge-pending-ci

#13030 feat(ingestion): Refactoring timestamping logic for WorkUnits + custom logic for Iceberg
  metadata-ingestion/src/datahub/ingestion/api/common.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/transformer/system_metadata_transformer.py
  metadata-ingestion/tests/unit/api/source_helpers/test_auto_system_metadata.py
  metadata-ingestion/tests/unit/glue/glue_delta_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_malformed_delta_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden_profiling.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden_table_column_lineage.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden_table_lineage.json
  metadata-ingestion/tests/unit/glue/glue_mces_platform_instance_golden.json
  metadata-ingestion/tests/unit/sagemaker/sagemaker_mces_golden.json
  metadata-ingestion/tests/unit/test_iceberg.py
Labels: ingestion, pending-submitter-merge

#13094 fix(docker): also rename group to datahub
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/build.gradle
Labels: devops, pending-submitter-merge

#13076 feat(structured properties): use wider search select modal to edit structured properties
  datahub-web-react/src/app/entity/shared/components/styled/StructuredProperty/StructuredPropertyInput.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/StructuredPropertyPrompt/UrnInput/StructuredPropertySearchSelectUrnInput.tsx
  datahub-web-react/src/app/entity/shared/entityForm/prompts/StructuredPropertyPrompt/UrnInput/UrnInput.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/Edit/EditStructuredPropertyModal.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/SearchSelectUrnInput.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/tests/SearchSelectUrnInput.test.tsx
Labels: product, pending-submitter-merge

#13080 fix(ingestion): fixes missing platform instance aspect for DataFlow entitiy
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_basic_iolets.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_custom_operator_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_sqlite_operator.json
  metadata-ingestion-modules/prefect-plugin/src/prefect_datahub/datahub_emitter.py
  metadata-ingestion-modules/prefect-plugin/tests/unit/test_datahub_emitter.py
  metadata-ingestion/src/datahub/api/entities/datajob/dataflow.py
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_empty_connection_user_golden.json
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion, pending-submitter-merge

#13057 CI speedup
  .github/workflows/docker-unified.yml
  datahub-frontend/build.gradle
  datahub-upgrade/build.gradle
  docker/build.gradle
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/build.gradle
  docker/elasticsearch-setup/build.gradle
  docker/kafka-setup/build.gradle
  docker/mysql-setup/build.gradle
  docker/postgres-setup/build.gradle
  gradle/versioning/versioning-global.gradle
  gradle/versioning/versioning.gradle
  metadata-jobs/mae-consumer-job/build.gradle
  metadata-jobs/mce-consumer-job/build.gradle
  metadata-service/war/build.gradle
  smoke-test/conftest.py
  smoke-test/smoke.sh
  smoke-test/tests/cypress/integration_test.py
  smoke-test/tests/cypress/test_weights.json
  smoke-test/tests/utils.py
Labels: smoke_test, pending-submitter-merge

#13034 docs(cloud): DataHub Cloud v0.3.10 release notes
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_3_10.md
Labels: docs, pending-submitter-merge

#13089 config(): cache telemetry id
  metadata-service/configuration/src/main/resources/application.yaml
Labels: devops, pending-submitter-merge

#12867 feat(searchBarAutocomplete): add autocomplete component to components library
  datahub-web-react/src/alchemy-components/components/AutoComplete/AutoComplete.stories.tsx
  datahub-web-react/src/alchemy-components/components/AutoComplete/AutoComplete.tsx
  datahub-web-react/src/alchemy-components/components/AutoComplete/components.tsx
  datahub-web-react/src/alchemy-components/components/AutoComplete/constants.ts
  datahub-web-react/src/alchemy-components/components/AutoComplete/index.ts
  datahub-web-react/src/alchemy-components/components/AutoComplete/types.ts
  datahub-web-react/src/alchemy-components/components/Utils/ClickOutside/ClickOutside.stories.tsx
  datahub-web-react/src/alchemy-components/components/Utils/ClickOutside/ClickOutside.tsx
  datahub-web-react/src/alchemy-components/components/Utils/ClickOutside/types.ts
  datahub-web-react/src/alchemy-components/components/Utils/OverlayClassContext/OverlayClassContext.tsx
  datahub-web-react/src/alchemy-components/components/Utils/OverlayClassContext/constants.ts
  datahub-web-react/src/alchemy-components/components/Utils/index.ts
  datahub-web-react/src/alchemy-components/index.ts
Labels: pending-submitter-response, product

#13105 fix(ci): make depot remote container builder optional
  .github/workflows/docker-unified.yml
  smoke-test/smoke.sh
Labels: devops, pending-submitter-merge

#13060 fix UI bugs on queries tab
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueriesListSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryFilters/QueryFilters.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFilter.tsx
  datahub-web-react/src/app/searchV2/filters/useSearchFilterDropdown.tsx
Labels: product, needs-review

#13108 Update docs discussing 0.3.10.1
  docs/managed-datahub/release-notes/v_0_3_10.md
Labels: docs, pending-submitter-merge

#13077 fix(ui): Styling fix for css regression
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/Actions.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/actions/AssertionListItemActions.tsx
Labels: product, pending-submitter-merge

#13098 Updating icons, gaps, and pills in selects
  datahub-web-react/src/alchemy-components/components/Select/AutoCompleteSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/BasicSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/Nested/NestedSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/components.ts
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/MultiSelectCustom.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/MultiSelectDefault.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/MultiSelectLabeled.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/SingleSelectCustom.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/SingleSelectDefault.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/SingleSelectLabeled.tsx
Labels: product, needs-review

#13070 Features Page: Updated Titles and styling
  datahub-web-react/src/app/settingsV2/features/Feature.tsx
  datahub-web-react/src/app/settingsV2/features/Features.tsx
Labels: product, merge-pending-ci

#13103 docs(hex): additional limitations
  metadata-ingestion/docs/sources/hex/README.md
Labels: ingestion, pending-submitter-merge

#13083 feat(searchBarAutocomplete): improve select components for autocomplete
  datahub-web-react/src/alchemy-components/components/Dropdown/Dropdown.stories.tsx
  datahub-web-react/src/alchemy-components/components/Dropdown/Dropdown.tsx
  datahub-web-react/src/alchemy-components/components/Dropdown/index.ts
  datahub-web-react/src/alchemy-components/components/Dropdown/types.ts
  datahub-web-react/src/alchemy-components/components/Select/AutoCompleteSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/BasicSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/Nested/NestedOption.tsx
  datahub-web-react/src/alchemy-components/components/Select/Nested/NestedSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/Nested/__tests__/filterNestedSelectOptions.test.ts
  datahub-web-react/src/alchemy-components/components/Select/Nested/__tests__/getChainOfParents.test.ts
  datahub-web-react/src/alchemy-components/components/Select/Nested/types.ts
  datahub-web-react/src/alchemy-components/components/Select/Nested/useNestedSelectOptionChildren.ts
  datahub-web-react/src/alchemy-components/components/Select/Nested/useSelectOption.ts
  datahub-web-react/src/alchemy-components/components/Select/Nested/utils.ts
  datahub-web-react/src/alchemy-components/components/Select/Select.tsx
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/components.ts
  datahub-web-react/src/alchemy-components/components/Select/private/DropdownFooterActions.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/DropdownSearchBar.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/DropdownSelectAllOption.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/SelectLabelRenderer.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/MultiSelectCustom.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/MultiSelectDefault.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/MultiSelectLabeled.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/SingleSelectCustom.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/SingleSelectDefault.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectLabelRenderer/variants/SingleSelectLabeled.tsx
  datahub-web-react/src/alchemy-components/components/Select/types.ts
  datahub-web-react/src/alchemy-components/components/Select/utils.ts
  datahub-web-react/src/alchemy-components/index.ts
  datahub-web-react/src/app/entityV2/shared/FilterSelect.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentAssigneeSelector.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentSelectedField.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsForm.tsx
  smoke-test/tests/cypress/cypress/e2e/homeV2/v2_home.js
Labels: pending-submitter-response, product

#13130 Updated Button Component
  datahub-web-react/src/alchemy-components/components/Button/types.ts
  datahub-web-react/src/alchemy-components/components/Button/utils.ts
  datahub-web-react/src/app/glossaryV2/GlossaryContentProvider.tsx
Labels: product, merge-pending-ci

#13129 refactor(ui): Fix appearance of skeleton loading indicator for search bar
  datahub-web-react/src/app/searchV2/SearchBar.tsx
Labels: product, pending-submitter-merge

#13133 fix(ui) Render assets owned by groups you are member of as your own assets
  datahub-web-react/src/app/entity/user/UserAssets.tsx
  datahub-web-react/src/app/entityV2/group/GroupMembersSidebarSectionContent.tsx
  datahub-web-react/src/app/entityV2/shared/SidebarStyledComponents.tsx
  datahub-web-react/src/app/entityV2/shared/sidebarSection/UserOwnershipSideBarSection.tsx
  datahub-web-react/src/app/entityV2/user/UserAssets.tsx
  datahub-web-react/src/app/entityV2/user/UserProfile.tsx
  datahub-web-react/src/app/entityV2/user/UserProfileInfoCard.tsx
  datahub-web-react/src/app/entityV2/user/UserSidebar.tsx
  datahub-web-react/src/app/entityV2/user/useGetUserGroupUrns.ts
  datahub-web-react/src/app/homeV2/reference/sections/assets/AssetsYouOwn.tsx
  datahub-web-react/src/app/homeV2/reference/sections/assets/useGetAssetsYouOwn.tsx
  datahub-web-react/src/graphql/user.graphql
Labels: product, pending-submitter-merge

#13135 feat(froms) Add validator preventing duplicate form prompt IDs globally
  metadata-io/src/main/java/com/linkedin/metadata/forms/validation/FormPromptValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/forms/validators/FormPromptValidatorTest.java
  metadata-models/src/main/pegasus/com/linkedin/form/FormPrompt.pdl
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/steps/RestoreFormInfoIndicesStep.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/RestoreFormInfoIndicesStepTest.java
Labels: product, devops, pending-submitter-merge

#13127 fix(ingest/snowflake): fix error on stored procs in non-SQL languages
  metadata-ingestion/src/datahub/ingestion/source/sql/stored_procedures/base.py
  metadata-models/src/main/pegasus/com/linkedin/query/QueryStatement.pdl
Labels: ingestion, pending-submitter-merge

#13136 Updated impact / explore switch to colors.violet[600]
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/LineageTab.tsx
Labels: product, needs-review

#13138 Replace blues and greens with violets
  datahub-web-react/src/app/entityV2/shared/constants.ts
Labels: product, needs-review

#13056 Fix(ui/incident): Change for showing the custom type and note
  datahub-web-react/src/alchemy-components/components/Table/Table.tsx
  datahub-web-react/src/alchemy-components/components/Table/components.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentActivityContent.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentEditor.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentView.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/hooks/useIncidentHandler.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/styledComponents.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentFilterContainer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentListTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentResolutionPopup.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/__tests__/utils.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/constant.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/hooks.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/incidentUtils.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/types.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/utils.tsx
Labels: community-contribution, product, merge-pending-ci

#13119 fix(metadata-io) improve logging to add search response when ES search fails
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
Labels: product, pending-submitter-merge

#13123 fix(hex): fixes AccessType model
  metadata-ingestion/src/datahub/ingestion/source/hex/api.py
Labels: ingestion, needs-review

#13121 fix(snowflake): fixes deduplication and fingerprint requirements for Hex
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_utils.py
Labels: ingestion, pending-submitter-merge

#13128 fix(web) structured props to display right
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/ValuesColumn.tsx
Labels: product, pending-submitter-merge

#13148 refactor(ingest/sigma): add warning on empty workspaces
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
Labels: ingestion, needs-review

#13131 fix(ingest): quote db name in streams query
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
Labels: ingestion, pending-submitter-merge

#13149 Feat(ui/incident-v2) : Raise incident from search card and header
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentDetailDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentEditor.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentLinkedAssetsList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/hooks/useIncidentHandler.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/types.ts
Labels: community-contribution, product

#13146 feat: start removing ingestion-base image
  .dockerignore
  .github/workflows/docker-unified.yml
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/Dockerfile-slim-only
  docker/datahub-ingestion/build.gradle
  docker/snippets/.gitignore
  docker/snippets/ingestion_base.template
  docker/snippets/ingestion_full_deps
  docker/snippets/ubuntu_mirror_setup
  docker/snippets/ubuntu_python_base
  python-build/generate_ingestion_docker.py
Labels: devops, pending-submitter-merge

#13153 fix(ingestion): Make workunit processor ensuring schema size more aggresive
  metadata-ingestion/src/datahub/ingestion/api/auto_work_units/auto_ensure_aspect_size.py
Labels: ingestion, pending-submitter-merge

#13110 refactor(ingest/sigma): make some error cases more clear
  metadata-ingestion/docs/sources/sigma/sigma_pre.md
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma_api.py
Labels: ingestion, pending-submitter-merge

#13132 fix(ui) Fix query tab filter dropdowns showing raw urns (#5230)
  datahub-web-react/src/app/searchV2/filters/__tests__/utils.test.tsx
  datahub-web-react/src/app/searchV2/filters/utils.tsx
  datahub-web-react/src/app/searchV2/filters/value/EnumValueMenu.tsx
Labels: product, pending-submitter-merge

#13157 fix(ci): add actionlint file
  .github/actionlint.yaml
Labels: devops, needs-review

#13122 fix(ingest/mlflow): skip experiment/run ingestion for older version of mlflow
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
Labels: ingestion, pending-submitter-merge

#13163 fix(ci): enforce docker snippet validation in CI
  .github/workflows/build-and-test.yml
  .github/workflows/docker-unified.yml
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion-base/entrypoint.sh
  docker/datahub-ingestion/Dockerfile
  docker/snippets/ubuntu_python_base
  python-build/generate_ingestion_docker.py
Labels: devops, pending-submitter-merge

#13090 feat(ingest/powerbi): Support ODBC Data Source
  metadata-ingestion/docs/sources/powerbi/powerbi_pre.md
  metadata-ingestion/docs/sources/powerbi/powerbi_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/odbc.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/m_query/pattern_handler.py
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql.json
  metadata-ingestion/tests/integration/powerbi/golden_test_mysql_odbc.json
  metadata-ingestion/tests/integration/powerbi/mock_data/mysql_mock_response.json
  metadata-ingestion/tests/integration/powerbi/mock_data/mysql_odbc_mock_response.json
  metadata-ingestion/tests/integration/powerbi/test_ingest.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/unit/powerbi/__init__.py
  metadata-ingestion/tests/unit/powerbi/test_odbc.py
Labels: ingestion, pending-submitter-merge

#13091 docs(tracing): Add known limitations about openapi tracing
  docs/advanced/api-tracing.md
Labels: docs, pending-submitter-merge

#13154 Update colors
  datahub-web-react/src/alchemy-components/theme/foundations/colors.ts
Labels: product, merge-pending-ci

#13158 fix(ingest/snowflake): Use CREATE change type when creating structured properties; support MCP headers
  metadata-ingestion/src/datahub/emitter/mcp.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_tag.py
  metadata-ingestion/src/datahub/testing/mcp_diff.py
  metadata-ingestion/tests/integration/snowflake/snowflake_structured_properties_golden.json
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
Labels: ingestion, publish-docker, pending-submitter-merge

#13175 fix(runId): make sure runid includes urn
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/test/java/com/linkedin/metadata/search/ElasticSearchServiceTest.java
Labels: product, pending-submitter-merge

#13086 fix(): handle null systemmetadata corner cases
  docker/cassandra/init.cql
  docker/mysql-setup/init.sql
  docker/postgres-setup/init.sql
  entity-registry/src/main/java/com/linkedin/metadata/aspect/EntityAspect.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/EntityAspectTest.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/ProposedItem.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/ebean/EbeanSystemAspect.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceImplTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/EbeanSystemAspectTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/ebean/batch/ProposedItemTest.java
Labels: product, devops, pending-submitter-merge

#13165 feat(openapi): add entity patch support
  docs/api/openapi/openapi-usage-guide.md
  docs/how/updating-datahub.md
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/GenericJsonPatch.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/patch/template/ArrayMergingTemplate.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/PatchItemImpl.java
  metadata-io/metadata-io-api/src/test/java/com/linkedin/metadata/entity/ebean/batch/PatchItemImplTest.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityV3.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/GlobalControllerExceptionHandler.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/EntityControllerTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/GenericRecordUtils.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/GenericRecordUtilsTest.java
  smoke-test/tests/openapi/v3/advanced_patching.json
  smoke-test/tests/openapi/v3/aspects.json
  smoke-test/tests/openapi/v3/entities.json
Labels: docs, product, devops, smoke_test, pending-submitter-merge

#12960 VertexAI Connector (v3 - pipeline and pipeline task)
  metadata-ingestion/docs/sources/vertexai/vertexai_recipe.yml
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai.py
  metadata-ingestion/src/datahub/ingestion/source/vertexai/vertexai_result_type_utils.py
  metadata-ingestion/tests/integration/vertexai/mock_vertexai.py
  metadata-ingestion/tests/integration/vertexai/test_vertexai.py
  metadata-ingestion/tests/integration/vertexai/vertexai_mcps_golden.json
  metadata-ingestion/tests/unit/test_vertexai_source.py
Labels: ingestion, pending-submitter-merge

#13182 fix(ingest/sigma): Fix missing key in workspace_counts
  metadata-ingestion/src/datahub/ingestion/source/sigma/config.py
Labels: ingestion, pending-submitter-merge

#13179 feat(openapi): platform events endpoint
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/UpgradeCliApplication.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/events-service/build.gradle
  metadata-service/events-service/src/main/java/io/datahubproject/event/ExternalEventsService.java
  metadata-service/events-service/src/main/java/io/datahubproject/event/exception/UnsupportedTopicException.java
  metadata-service/events-service/src/main/java/io/datahubproject/event/kafka/KafkaConsumerPool.java
  metadata-service/events-service/src/main/java/io/datahubproject/event/models/v1/ExternalEvent.java
  metadata-service/events-service/src/main/java/io/datahubproject/event/models/v1/ExternalEvents.java
  metadata-service/events-service/src/main/java/io/datahubproject/event/models/v1/ExternalEventsResponse.java
  metadata-service/factories/build.gradle
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/event/ExternalEventsServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/event/KafkaConsumerPoolFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/KafkaEventConsumerFactory.java
  metadata-service/openapi-servlet/build.gradle
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/SpringWebConfig.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v1/event/ExternalEventsController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v1/event/ExternalEventsControllerTest.java
  metadata-service/war/src/main/java/com/linkedin/gms/servlet/OpenAPIServletConfig.java
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
  settings.gradle
  smoke-test/tests/openapi/v1/events.json
Labels: devops, smoke_test, pending-submitter-merge

#13183 fix(gms): bean not found
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericRelationshipController.java
Labels: community-contribution, devops, needs-review

#13185 fix(cypress) Fix broken searchFilters.js cypress test
  smoke-test/tests/cypress/cypress/e2e/search/searchFilters.js
Labels: smoke_test, pending-submitter-merge

#13141 Clear icons were purple after adding button gradient
  datahub-web-react/src/alchemy-components/components/Select/components.ts
Labels: product, merge-pending-ci

#13160 Update OSS to DataHub Brand
  datahub-web-react/.storybook/storybook-logo.svg
  datahub-web-react/.storybook/storybook-theme.js
  datahub-web-react/src/alchemy-components/.docs/Contributing.mdx
  datahub-web-react/src/alchemy-components/.docs/DesignTokens.mdx
  datahub-web-react/src/alchemy-components/.docs/StyleGuide.mdx
  datahub-web-react/src/alchemy-components/README.mdx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/shared/utils.tsx
  datahub-web-react/src/app/home/AcrylDemoBanner.tsx
  datahub-web-react/src/app/homeV2/introduce/IntroduceYourselfLeftSidebar.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarHeader.tsx
  datahub-web-react/src/app/onboarding/config/HomePageOnboardingConfig.tsx
  datahub-web-react/src/app/onboarding/configV2/HomePageOnboardingConfig.tsx
Labels: product, merge-pending-ci

#13180 fix: more Python dockerfile refactoring
  .github/actionlint.yaml
  .github/workflows/docker-unified.yml
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/oracle_instantclient.sh
  docker/snippets/ingestion_base.template
  docker/snippets/ingestion_full_deps
  docker/snippets/ubuntu_python_base
  python-build/generate_ingestion_docker.py
  python-build/version_updater.py
Labels: devops, pending-submitter-merge

#13190 feat(ingest/tableau): Allow specifying asset types for ingest_hidden_assets
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/integration/mode/test_mode.py
  metadata-ingestion/tests/integration/tableau/tableau_ingest_hidden_worksheets_golden.json
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/unit/tableau/__init__.py
  metadata-ingestion/tests/unit/tableau/test_tableau_config.py
  metadata-ingestion/tests/unit/tableau/test_tableau_source.py
Labels: ingestion, pending-submitter-merge

#13186 feat(spring): upgrade to SpringBoot 3.4
  build.gradle
  datahub-upgrade/build.gradle
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/UpgradeCli.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/UpgradeStepResult.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/common/Constants.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/common/steps/ClearGraphServiceStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/common/steps/ClearSearchServiceStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/common/steps/ClearSystemMetadataServiceStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/NoCodeCleanupConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/NoCodeUpgradeConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocode/CreateAspectTableStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocode/DataMigrationStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocode/NoCodeUpgrade.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocode/RemoveAspectV2TableStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocode/UpgradeQualificationStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocodecleanup/DeleteAspectTableStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocodecleanup/DeleteLegacyGraphRelationshipsStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocodecleanup/DeleteLegacySearchIndicesStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocodecleanup/NoCodeCleanupUpgrade.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/nocodecleanup/NoCodeUpgradeQualificationStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/common/steps/ClearGraphServiceStepTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/common/steps/ClearSearchServiceStepTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/common/steps/ClearSystemMetadataServiceStepTest.java
  docker/datahub-ingestion/build.gradle
  docs-website/sidebars.js
  docs/advanced/no-code-modeling.md
  docs/advanced/no-code-upgrade.md
  docs/how/updating-datahub.md
  gradle/docker/docker.gradle
  metadata-integration/java/acryl-spark-lineage/scripts/check_jar.sh
  metadata-integration/java/datahub-client/scripts/check_jar.sh
  metadata-integration/java/datahub-protobuf/scripts/check_jar.sh
  metadata-integration/java/spark-lineage-legacy/scripts/check_jar.sh
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/build.gradle
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/EntityAspectMigrationsDaoFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/factories/BootstrapManagerFactory.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/config/SpringWebConfigTest.java
  metadata-service/war/src/main/java/com/linkedin/gms/ServletConfig.java
Labels: ingestion, docs, devops, pending-submitter-merge

#13187 feat(ariflow-plugin): ability to disable datajob lineage
  docs/lineage/airflow.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_config.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin_v22.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/lineage/_lineage_core.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/goldens/v2_simple_dag_no_datajob_lineage.json
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion/src/datahub/api/entities/datajob/datajob.py
Labels: ingestion, pending-submitter-merge

#13188 fix(cypress) Fix flaky manage_policies cypress test
  datahub-web-react/src/app/permissions/policy/ManagePolicies.tsx
  smoke-test/tests/cypress/cypress/e2e/settings/manage_policies.js
Labels: product, smoke_test, pending-submitter-merge

#13201 updated hard coded button gradient and added it only for violet
  datahub-web-react/src/alchemy-components/components/Button/utils.ts
Labels: product, needs-review

#13193 test(config): update metadata-io tests
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceOptimizationTest.java
  metadata-io/src/test/resources/testng-cassandra.xml
  metadata-io/src/test/resources/testng-neo4j.xml
  metadata-io/src/test/resources/testng-other.xml
  metadata-io/src/test/resources/testng-sql-opt.xml
  metadata-io/src/test/resources/testng.xml
Labels: product, pending-submitter-merge

#13203 fix(ui) Sanitize V1 UI sidebar description section
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/AboutSection/DescriptionSection.tsx
Labels: product, pending-submitter-merge

#13049 fix(ui/v2): Remove code around usage and storage features
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/shared/utils.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueriesListSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueriesTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryFilters/QueryFilters.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/QueryFilters/useUsersFilter.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/queryColumns.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/types.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/usePopularQueries.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Queries/useQueryTableColumns.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/SchemaFieldQueriesSidebarTab.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/insight/Insights.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/insight/cards/MostFrequentlyUpdated.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/insight/cards/MostQueriedCard.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/insight/cards/MostUsersCard.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/insight/cards/MostViewedDashboards.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/insight/cards/useGetMostQueried.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/insight/cards/useGetMostUpdated.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/insight/cards/useGetMostUsers.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/insight/cards/useGetMostViewedDashboards.tsx
  datahub-web-react/src/app/searchV2/context/constants.ts
Labels: product, pending-submitter-merge

#13192 fix(metadata-io): Fixes a typo in the test code
  metadata-io/src/test/java/com/linkedin/metadata/search/query/SearchDAOTestBase.java
Labels: community-contribution, product, needs-review

#13142 refactor(ui): UI hotfixes for the deprecated popover + sidebar logic section
  datahub-web-react/src/alchemy-components/components/Pills/utils.ts
  datahub-web-react/src/alchemy-components/components/Tooltip2/Tooltip2.tsx
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/DeprecationIcon.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/MarkAsDeprecatedButton.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarLogicSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
  datahub-web-react/src/app/previewV2/DefaultPreviewCard.tsx
  datahub-web-react/src/app/recommendations/renderer/component/HoverEntityTooltip.tsx
Labels: product, pending-submitter-merge

#13191 build: use docker bake to build all images in a single step
  .github/workflows/docker-unified.yml
  build.gradle
  docker/build.gradle
  gradle/docker/docker.gradle
  settings.gradle
Labels: pending-submitter-response, devops

#13150 feat(sdk): add mlmodel and mlmodelgroup
  docs/api/tutorials/ml.md
  metadata-ingestion/examples/ai/dh_ai_client.py
  metadata-ingestion/examples/ai/dh_ai_client_sample.py
  metadata-ingestion/examples/ai/dh_ai_docs_demo.py
  metadata-ingestion/examples/ai/dh_sdk_client_sample.py
  metadata-ingestion/src/datahub/sdk/_all_entities.py
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/src/datahub/sdk/entity_client.py
  metadata-ingestion/src/datahub/sdk/mlmodel.py
  metadata-ingestion/src/datahub/sdk/mlmodelgroup.py
  metadata-ingestion/tests/unit/sdk_v2/mlmodel_golden/test_mlmodel_basic_golden.json
  metadata-ingestion/tests/unit/sdk_v2/mlmodel_golden/test_mlmodel_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/mlmodelgroup_golden/test_mlmodelgroup_basic_golden.json
  metadata-ingestion/tests/unit/sdk_v2/mlmodelgroup_golden/test_mlmodelgroup_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_mlmodel.py
  metadata-ingestion/tests/unit/sdk_v2/test_mlmodelgroup.py
Labels: ingestion, pending-submitter-merge

#13204 Update pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: community-contribution, devops, merge-pending-ci

#13206 fix(ci): fix image publish task, python-docker version
  .github/workflows/docker-unified.yml
  docker/datahub-ingestion/build.gradle
  gradle/versioning/versioning-global.gradle
Labels: devops, pending-submitter-merge

#13210 docs(): Update generic patch openapi-usage-guide
  docs/api/openapi/openapi-usage-guide.md
Labels: docs, pending-submitter-merge

#13219 fix(metadata-ingestion) update vertexAI source doc with permissions detail
  metadata-ingestion/docs/sources/vertexai/vertexai_pre.md
Labels: ingestion, needs-review

#13212 fix(api-validation): correct mcp/urn entity mismatch
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/validation/ValidationApiUtils.java
  metadata-io/metadata-io-api/src/test/java/com/linkedin/metadata/entity/validation/ValidationApiUtilsTest.java
Labels: product, pending-submitter-merge

#13107 Created flows for creating and deleting tags
  datahub-web-react/src/app/tags/CreateNewTagModal/CreateNewTagModal.tsx
  datahub-web-react/src/app/tags/CreateNewTagModal/OwnersSection.tsx
  datahub-web-react/src/app/tags/CreateNewTagModal/TagDetailsSection.tsx
  datahub-web-react/src/app/tags/CreateNewTagModal/types.ts
  datahub-web-react/src/app/tags/ManageTag.tsx
  datahub-web-react/src/app/tags/ManageTags.tsx
  datahub-web-react/src/app/tags/TagsTable.tsx
  datahub-web-react/src/app/tags/TagsTableColumns.tsx
Labels: product, needs-review

#13208 fix(ingest/mlflow): pin mlflow-skinny version
  metadata-ingestion/setup.py
Labels: ingestion, pending-submitter-merge

#13216 fix(): Hotfix assertions tag add / remove
  datahub-web-react/src/alchemy-components/components/SelectItemsPopover/SelectItemCheckboxGroup.tsx
  datahub-web-react/src/alchemy-components/components/SelectItemsPopover/hooks.tsx
Labels: product, needs-review

#12972 feat(ui) : add dpi stat column to v2 search card
  datahub-web-react/src/app/entity/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entity/dataProcessInstance/preview/Preview.tsx
  datahub-web-react/src/app/preview/DataProcessInstanceInfo.tsx
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/app/previewV2/DefaultPreviewCard.tsx
Labels: product, pending-submitter-merge

#13196 Migrate action smoke tests into smoke tests
  .github/actions/docker-custom-build-and-push/action.yml
  .github/workflows/docker-unified.yml
  datahub-actions/build.gradle
  datahub-actions/scripts/install_deps.sh
  datahub-actions/smoke-test/build.gradle
  datahub-actions/smoke-test/inject_actions_env_file.py
  datahub-actions/smoke-test/pyproject.toml
  datahub-actions/smoke-test/pytest.ini
  datahub-actions/smoke-test/requests_wrapper/__init__.py
  datahub-actions/smoke-test/requests_wrapper/utils_requests_wrapper.py
  datahub-actions/smoke-test/requirements.txt
  datahub-actions/smoke-test/run-quickstart.sh
  datahub-actions/smoke-test/smoke.sh
  datahub-actions/smoke-test/tests/conftest.py
  datahub-actions/smoke-test/tests/consistency_utils.py
  datahub-actions/smoke-test/tests/utils.py
  docker/datahub-actions/Dockerfile
  docker/docker-compose-with-cassandra.yml
  docker/docker-compose-without-neo4j.yml
  docker/docker-compose.yml
  docker/profiles/docker-compose.actions.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  settings.gradle
  smoke-test/run-quickstart.sh
  smoke-test/smoke.sh
  smoke-test/test_resources/actions/actions.env
  smoke-test/test_resources/actions/datasets_for_cycles_template.yaml
  smoke-test/test_resources/actions/datasets_template.yaml
  smoke-test/test_resources/actions/user_clicks.avsc
  smoke-test/tests/actions/__init__.py
  smoke-test/tests/actions/doc_propagation/__init__.py
  smoke-test/tests/actions/doc_propagation/test_propagation.py
Labels: devops, smoke_test, pending-submitter-merge

#12296 doc(ingestion/gc): Add doc for GC source
  metadata-ingestion/docs/sources/datahubgc/README.md
  metadata-ingestion/docs/sources/datahubgc/gc_recipe.dhub.yml
Labels: ingestion, pending-submitter-merge

#13225 fix(ci): cloudflare github actions syntax
  .github/workflows/react-cloudflare-pages.yml
Labels: devops, pending-submitter-merge

#13235 removed line height from oss nav header
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarHeader.tsx
Labels: product, merge-pending-ci

#13234 updated sidebar tabs removed margins updated icon in ML
  datahub-web-react/src/app/entityV2/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/EntitySidebarTabs.tsx
Labels: product, needs-review

#13227 [wip] feat(sdk): add auto lineage mapping to lineage client
  metadata-ingestion/src/datahub/sdk/lineage_client.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_copy_column_mapping_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_copy_fuzzy_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_copy_none_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_copy_strict_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_lineage_client.py
Labels: ingestion

#13242 fix(events API): Add back the original fixes for events API
  metadata-service/events-service/build.gradle
  metadata-service/events-service/src/main/java/io/datahubproject/event/ExternalEventsService.java
  metadata-service/events-service/src/main/java/io/datahubproject/event/kafka/KafkaConsumerPool.java
  metadata-service/events-service/src/main/java/io/datahubproject/event/models/v1/ExternalEvent.java
  metadata-service/events-service/src/main/java/io/datahubproject/event/models/v1/ExternalEvents.java
  metadata-service/events-service/src/main/java/io/datahubproject/event/models/v1/ExternalEventsResponse.java
  metadata-service/events-service/src/test/java/io/datahubproject/event/ExternalEventsServiceTest.java
  metadata-service/events-service/src/test/java/io/datahubproject/event/kafka/KafkaConsumerPoolTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v1/event/ExternalEventsController.java
Labels: devops, pending-submitter-merge

#13205 docs(forms-analytics) Adding Forms Analytics guide
  docs-website/sidebars.js
  docs/features/feature-guides/compliance-forms/analytics.md
Labels: docs, pending-submitter-merge

#13198 fix(looker): missing Looker Explore relationship when Look references multiple models
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_source.py
  metadata-ingestion/tests/integration/looker/golden_test_multi_model_explores.json
  metadata-ingestion/tests/integration/looker/test_looker.py
Labels: ingestion, needs-review

#13251 docs(mlflow): add docs on version requirement for mlflow
  metadata-ingestion/docs/sources/mlflow/mlflow_pre.md
Labels: ingestion, pending-submitter-merge

#13241 feat(ci): make datahub-actions docker build standalone
  .github/workflows/docker-unified.yml
  datahub-actions/build.gradle
  datahub-actions/src/datahub_actions/__init__.py
  docker/datahub-actions/Dockerfile
  docker/datahub-actions/Dockerfile.dockerignore
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/build.gradle
  docker/datahub-ingestion/pyspark_jars.sh
  docker/snippets/ingestion_full_deps
  docker/snippets/oracle_instantclient.sh
  python-build/generate_ingestion_docker.py
Labels: devops, pending-submitter-merge

#13244 feat(sdk): add sdk lineage client
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/src/datahub/sdk/_utils.py
  metadata-ingestion/src/datahub/sdk/dataset.py
  metadata-ingestion/src/datahub/sdk/lineage_client.py
  metadata-ingestion/src/datahub/sdk/main_client.py
  metadata-ingestion/src/datahub/sql_parsing/fingerprint_utils.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_lineage_usage_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_basic_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_complete_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_copy_column_mapping_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_copy_fuzzy_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_copy_none_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_copy_strict_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_lineage_client.py
Labels: ingestion, pending-submitter-merge

#13238 feat(ingestion/iceberg): Add capability to extract namespace properties to the iceberg ingestor
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/tests/integration/iceberg/iceberg_deleted_table_mcps_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_ingest_mcps_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_profile_mcps_golden.json
  metadata-ingestion/tests/unit/test_iceberg.py
Labels: ingestion, pending-submitter-merge

#13258 docs(snowflake): remove procedures from list of assets not ingested
  docs/quick-ingestion-guides/snowflake/overview.md
Labels: docs, pending-submitter-merge

#13221 fix(gms) Generate schema field urns consistently (#5583)
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/ChangeEventGeneratorUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/EditableSchemaMetadataChangeEventGenerator.java
  metadata-io/src/main/java/com/linkedin/metadata/timeline/eventgenerator/SchemaMetadataChangeEventGenerator.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/event/EntityChangeEventGeneratorHookTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/SchemaFieldUtils.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/SchemaFieldUtilsTest.java
Labels: product, pending-submitter-merge

#13260 v1.0.0 release notes update
  docs/how/updating-datahub.md
Labels: docs, pending-submitter-merge

#13114 Update 0.3.10 docs explaining bug and fix in 0.3.10.2
  docs/managed-datahub/release-notes/v_0_3_10.md
Labels: docs, pending-submitter-merge

#13139 fix(ui) Show warning in the UI when we use lightning cache in impact analysis
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mappers/UrnSearchAcrossLineageResultsMapper.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-web-react/src/app/entity/shared/components/styled/search/types.ts
  datahub-web-react/src/app/entityV2/shared/components/styled/search/DownloadAsCsvModal.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearchHeader.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/__tests__/DownloadAsCsvModal.test.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/__tests__/EmbeddedListSearchHeader.test.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/types.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/CompactLineageTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/LineageColumnView.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Lineage/LineageTabContext.tsx
  datahub-web-react/src/app/sharedV2/icons/InfoPopover.tsx
  datahub-web-react/src/graphql/search.graphql
  metadata-io/src/main/java/com/linkedin/metadata/entity/validation/ValidationUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/LineageSearchPath.pdl
  metadata-models/src/main/pegasus/com/linkedin/metadata/search/LineageSearchResult.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
Labels: product, devops, pending-submitter-merge

#13172 Fix(ui/incident): Refactor code for updating incidents
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentDetailDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentEditor.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentLinkedAssetsList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/hooks/useIncidentHandler.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentListTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentResolutionPopup.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/IncidentTitleContainer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/__tests__/utils.test.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/incidentUtils.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/types.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/utils.tsx
Labels: community-contribution, product, merge-pending-ci

#13237 feat(deps): update OpenTelemetry version to 2.15.0
  build.gradle
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
Labels: community-contribution, devops, needs-review

#13215 fix(metadata-io): Fixes a random failure for LineageDataFixtureTestBase.testDatasetLineage()
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/LineageDataFixtureTestBase.java
Labels: community-contribution, product, needs-review

#13254 fix(ui): fix a type error when a CorpGroup entity appears in the search result with theme V2
  datahub-web-react/src/app/entityV2/group/GroupMembersSidebarSectionContent.tsx
Labels: community-contribution, product, needs-review

#13253 fix(ui): Various minor fixes
  datahub-web-react/src/app/entityV2/businessAttribute/BusinessAttributeEntity.tsx
  datahub-web-react/src/app/entityV2/businessAttribute/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/businessAttribute/preview/_tests_/Preview.test.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/MarkAsDeprecatedButton.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDetails.tsx
  datahub-web-react/src/app/preview/DataProcessInstanceInfo.tsx
  datahub-web-react/src/app/settings/SettingsPage.tsx
Labels: product, pending-submitter-merge

#13247 docs: Format stragglers via prettier
  datahub-web-react/README.md
  docs/authorization/policies.md
  docs/features/feature-guides/compliance-forms/analytics.md
  metadata-ingestion/docs/sources/mlflow/mlflow_pre.md
Labels: docs, product, pending-submitter-merge

#13256 docs(fivetran): Update docs on connection mapping to source systems
  metadata-ingestion/docs/sources/fivetran/fivetran_pre.md
Labels: ingestion, pending-submitter-merge

#13250 fix(ingest/fivetran): use project id by default for bigquery
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion, pending-submitter-merge

#13218 feat(sdk): auto-fix bad entity type casing
  metadata-ingestion/src/datahub/emitter/mcp.py
  metadata-ingestion/src/datahub/errors.py
  metadata-ingestion/tests/unit/sdk/test_mcp_wrapper.py
Labels: ingestion, pending-submitter-merge

#13151 feat(searchBarAutocomplete): add support of searchAPI in the search bar
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngineArgs.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/entityV2/shared/utils.ts
  datahub-web-react/src/app/searchV2/SearchBar.tsx
  datahub-web-react/src/app/searchV2/SearchHeader.tsx
  datahub-web-react/src/app/searchV2/SearchablePage.tsx
  datahub-web-react/src/app/searchV2/filtersV2/SearchFilters.tsx
  datahub-web-react/src/app/searchV2/filtersV2/__tests__/convertFacetsToFieldToFacetStateMap.test.ts
  datahub-web-react/src/app/searchV2/filtersV2/utils.ts
  datahub-web-react/src/app/searchV2/searchBarV2/SearchBarV2.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/Filters.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useAutocompleteSuggestionsOptions.tsx
  datahub-web-react/src/app/searchV2/useSearchBarData.ts
  datahub-web-react/src/app/searchV2/utils/__tests__/combineSiblingsInEntities.test.ts
  datahub-web-react/src/app/searchV2/utils/combineSiblingsInEntities.ts
  datahub-web-react/src/app/searchV2/utils/constants.ts
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  datahub-web-react/src/graphql/search.graphql
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/DataHubAppConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/SearchBarConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/graphql/GraphQLEngineFactory.java
Labels: product, merge-pending-ci

#13202 fix(select): fix select opening on clear
  datahub-web-react/src/alchemy-components/components/Select/AutoCompleteSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/BasicSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/SimpleSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/private/SelectActionButtons.tsx
  datahub-web-react/src/alchemy-components/components/Select/types.ts
Labels: product, merge-pending-ci

#13245 chore(ingest/snowflake): remove unused query code
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/tests/integration/snowflake/common.py
Labels: ingestion, pending-submitter-merge

#13248 fix(ingest/hive): support multiline view definitions
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/tests/integration/hive/hive_mces_all_db_golden.json
  metadata-ingestion/tests/integration/hive/hive_mces_golden.json
  metadata-ingestion/tests/integration/hive/hive_setup.sql
Labels: ingestion, pending-submitter-merge

#13277 docs: fix fivetran docs formatting
  metadata-ingestion/docs/sources/fivetran/fivetran_pre.md
Labels: ingestion, pending-submitter-merge

#13222 fix(): Fixes multiple minor security vulnerabilities
  build.gradle
  datahub-actions/pyproject.toml
  docker/datahub-actions/Dockerfile
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-ingestion-base/Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/elasticsearch-setup/Dockerfile
  docker/kafka-setup/Dockerfile
  docker/mysql-setup/Dockerfile
  docker/postgres-setup/Dockerfile
  docker/snippets/ubuntu_python_base
  metadata-io/build.gradle
Labels: devops, publish-docker, pending-submitter-merge

#13226 fix(cli): use patch to update dataset properties
  metadata-ingestion-modules/dagster-plugin/tests/unit/golden/golden_test_emit_metadata_mcps.json
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
  metadata-ingestion/src/datahub/specific/dataset.py
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
  metadata-ingestion/tests/unit/cli/dataset/test_dataset_cmd.py
  metadata-ingestion/tests/unit/cli/dataset/test_resources/dataset.yaml
  metadata-ingestion/tests/unit/cli/dataset/test_resources/golden_test_dataset_sync_mpcs.json
Labels: ingestion, pending-submitter-merge

#13246 feat(ingest/snowflake): show returned query row counts
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
Labels: ingestion, pending-submitter-merge

#13278 fix(pytest) Fix broken pytest after recent schema field urn change
  smoke-test/tests/openapi/v1/timeline.json
  smoke-test/tests/openapi/v2/timeline.json
Labels: smoke_test, pending-submitter-merge

#13171 tests(kafka): fixing flaky tests
  metadata-ingestion/tests/integration/kafka-connect/docker-compose.override.yml
  metadata-ingestion/tests/integration/kafka-connect/setup/connect.env
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
  metadata-ingestion/tests/integration/kafka/docker-compose.yml
  metadata-ingestion/tests/integration/kafka/test_kafka.py
  metadata-ingestion/tests/test_helpers/click_helpers.py
  metadata-ingestion/tests/test_helpers/test_connection_helpers.py
Labels: ingestion, pending-submitter-merge

#13279 fix(cypress) Fix flakiness in query_tab cypress test
  smoke-test/tests/cypress/cypress/e2e/query/query_tab.js
Labels: smoke_test, pending-submitter-merge

#13280 fix(cypress) Fix flakiness in dataset_ownership cypress test
  smoke-test/tests/cypress/cypress/e2e/mutations/dataset_ownership.js
Labels: smoke_test, pending-submitter-merge

#13199 refactor(searchBarAutocomplete): refactoring of the new search bar
  datahub-web-react/src/alchemy-components/components/AutoComplete/AutoComplete.stories.tsx
  datahub-web-react/src/alchemy-components/components/AutoComplete/types.ts
  datahub-web-react/src/alchemy-components/components/SearchBar/SearchBar.stories.tsx
  datahub-web-react/src/alchemy-components/components/SearchBar/SearchBar.tsx
  datahub-web-react/src/alchemy-components/components/SearchBar/components.ts
  datahub-web-react/src/alchemy-components/components/SearchBar/types.ts
  datahub-web-react/src/alchemy-components/components/Utils/ClickOutside/ClickOutside.tsx
  datahub-web-react/src/alchemy-components/components/Utils/ClickOutside/components.tsx
  datahub-web-react/src/app/searchV2/CommandK.tsx
  datahub-web-react/src/app/searchV2/SearchBar.tsx
  datahub-web-react/src/app/searchV2/SearchHeader.tsx
  datahub-web-react/src/app/searchV2/SearchablePage.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/icon/__tests__/useUniqueEntitiesByPlatformUrn.test.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/components/icon/useUniqueEntitiesByPlatformUrn.ts
  datahub-web-react/src/app/searchV2/filtersV2/defaults/DefaultFacetsUpdater/FacetsUpdater.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/SearchBarV2.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/AutocompleteDropdown.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/SearchBarInput.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/Skeleton.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/constants.ts
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useAutocompleteSuggestionsOptions.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useOptions.ts
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useRecentlySearchedQueriesOptions.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useRecentlyViewedEntitiesOptions.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useSearchBarData.ts
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useSelectOption.ts
  datahub-web-react/src/app/searchV2/searchBarV2/types.ts
Labels: product, devops, merge-pending-ci

#13274 fix(): docker mysql env
  docker/mysql/env/docker.env
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j-m1.quickstart.yml
  docker/quickstart/docker-compose-without-neo4j.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
Labels: devops, pending-submitter-merge
