Repository datahub-project/datahub, pull requests merged in 2025-05, with the labels that each got.

#13349 feat(ingestion-sdk): OpenAPI & Tracing With SDK
  docs/how/updating-datahub.md
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/hooks/datahub.py
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_airflow.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/sensors/datahub_sensors.py
  metadata-ingestion-modules/gx-plugin/src/datahub_gx_plugin/action.py
  metadata-ingestion-modules/prefect-plugin/src/prefect_datahub/datahub_emitter.py
  metadata-ingestion/src/datahub/api/entities/forms/forms.py
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/cli/config_utils.py
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-ingestion/src/datahub/cli/exists_cli.py
  metadata-ingestion/src/datahub/cli/get_cli.py
  metadata-ingestion/src/datahub/cli/iceberg_cli.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/cli/migrate.py
  metadata-ingestion/src/datahub/cli/migration_utils.py
  metadata-ingestion/src/datahub/cli/put_cli.py
  metadata-ingestion/src/datahub/cli/specific/assertions_cli.py
  metadata-ingestion/src/datahub/cli/specific/datacontract_cli.py
  metadata-ingestion/src/datahub/cli/specific/dataproduct_cli.py
  metadata-ingestion/src/datahub/cli/specific/dataset_cli.py
  metadata-ingestion/src/datahub/cli/specific/forms_cli.py
  metadata-ingestion/src/datahub/cli/specific/group_cli.py
  metadata-ingestion/src/datahub/cli/specific/structuredproperties_cli.py
  metadata-ingestion/src/datahub/cli/specific/user_cli.py
  metadata-ingestion/src/datahub/cli/state_cli.py
  metadata-ingestion/src/datahub/cli/timeline_cli.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/config.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline_config.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/ingestion/source/apply/datahub_apply.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/state_provider/datahub_ingestion_checkpointing_provider.py
  metadata-ingestion/src/datahub/integrations/assertion/common.py
  metadata-ingestion/src/datahub/sdk/main_client.py
  metadata-ingestion/src/datahub/secret/datahub_secret_store.py
  metadata-ingestion/src/datahub/telemetry/telemetry.py
  metadata-ingestion/src/datahub/upgrade/upgrade.py
  metadata-ingestion/src/datahub/utilities/server_config_util.py
  metadata-ingestion/tests/unit/api/test_pipeline.py
  metadata-ingestion/tests/unit/cli/test_config_utils.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
  metadata-ingestion/tests/unit/utilities/test_server_config_util.py
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/RequestContext.java
  metadata-operation-context/src/main/resources/datahub_user_agents.yaml
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/RequestContextTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/DataHubConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/Config.java
Labels: ingestion, smoke_test, pending-submitter-merge

#13378 feat(actions): support pydantic v2
  .github/workflows/python-build-pages.yml
  datahub-actions/build.gradle
  datahub-actions/setup.py
  datahub-actions/src/datahub_actions/pipeline/pipeline_config.py
  datahub-actions/src/datahub_actions/plugin/action/execution/executor_action.py
  datahub-actions/src/datahub_actions/plugin/action/hello_world/hello_world.py
  datahub-actions/src/datahub_actions/plugin/action/metadata_change_sync/metadata_change_sync.py
  datahub-actions/src/datahub_actions/plugin/action/propagation/docs/propagation_action.py
  datahub-actions/src/datahub_actions/plugin/action/stats_util.py
  datahub-actions/src/datahub_actions/plugin/action/tag/tag_propagation_action.py
  datahub-actions/src/datahub_actions/plugin/action/term/term_propagation_action.py
  datahub-actions/src/datahub_actions/plugin/source/acryl/datahub_cloud_event_source.py
  datahub-actions/src/datahub_actions/plugin/source/acryl/datahub_cloud_events_consumer_offsets_store.py
  datahub-actions/tests/unit/action/test_action_registry.py
  metadata-ingestion/setup.py
Labels: ingestion, devops, pending-submitter-merge

#13351 fix(validation) Fix bug in duplicate prompt ID validator
  metadata-io/src/main/java/com/linkedin/metadata/forms/validation/FormPromptValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/forms/validators/FormPromptValidatorTest.java
Labels: product, pending-submitter-merge

#13382 fix(ui) Fix a few bugs around new search bar experience
  datahub-web-react/src/alchemy-components/components/DatePicker/variants/dateSwitcher/components.tsx
  datahub-web-react/src/alchemy-components/components/Loader/Loader.tsx
  datahub-web-react/src/alchemy-components/components/Loader/components.tsx
  datahub-web-react/src/alchemy-components/components/Loader/types.ts
  datahub-web-react/src/alchemy-components/components/Select/Nested/NestedSelect.tsx
  datahub-web-react/src/alchemy-components/components/Select/components.ts
  datahub-web-react/src/alchemy-components/components/Select/utils.ts
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/entity/shared/EntityDropdown/CreateGlossaryEntityModal.tsx
  datahub-web-react/src/app/entityV2/schemaField/SchemaFieldEntity.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/__tests__/utils.test.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/utils.tsx
  datahub-web-react/src/app/entityV2/view/select/ViewSelectContent.tsx
  datahub-web-react/src/app/searchV2/filters/value/ValueMenu.tsx
  datahub-web-react/src/app/searchV2/filtersV2/context/useAppliedFilters.ts
  datahub-web-react/src/app/searchV2/searchBarV2/components/Filters.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/NoResultsFoundPlaceholder.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/SearchBarInput.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useAutocompleteSuggestionsOptions.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useOptions.ts
  datahub-web-react/src/app/searchV2/searchBarV2/hooks/useSearchBarData.ts
  datahub-web-react/src/graphql/search.graphql
  metadata-service/services/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Labels: product, pending-submitter-merge

#13388 fix(ui) Fix bug with entity select modal with no entity types passed in
  datahub-web-react/src/app/entity/shared/tabs/Properties/Edit/EditStructuredPropertyModal.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/SearchSelect.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/SearchSelectUrnInput.tsx
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecentlySearchedSource.java
Labels: product, devops, pending-submitter-merge

#13391 fix(ingest): use server config method from graph
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion, merge-pending-ci, needs-review

#13393 docs(remote executor) Fix typo in k8s snippets
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
Labels: docs, pending-submitter-merge

#13387 fix(ingestion): fix cloud vs core logic
  metadata-ingestion/src/datahub/utilities/server_config_util.py
  metadata-ingestion/tests/unit/utilities/test_server_config_util.py
  metadata-service/configuration/src/main/resources/application.yaml
Labels: ingestion, devops, pending-submitter-merge

#13395 feat(azure): include azure-identity-extensions for Microsoft Entra Workload Identity connections
  build.gradle
  datahub-actions/setup.py
  datahub-frontend/play.gradle
  datahub-upgrade/build.gradle
  metadata-ingestion/setup.py
  metadata-jobs/mae-consumer/build.gradle
  metadata-jobs/mce-consumer/build.gradle
  metadata-service/war/build.gradle
Labels: ingestion, product, devops, needs-review

#13372 docs(dynamodb): add privileges for dynamodb
  metadata-ingestion/docs/sources/dynamodb/dynamodb_pre.md
Labels: ingestion, pending-submitter-merge

#13375 chore: upgrade dev dependencies mypy and ruff
  datahub-actions/setup.py
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/gx-plugin/setup.py
  metadata-ingestion-modules/prefect-plugin/setup.py
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive_metastore.py
  metadata-service/iceberg-catalog/requirements.txt
  smoke-test/requirements.txt
Labels: ingestion, devops, smoke_test, pending-submitter-merge

#13373 fix(ingest/dynamodb): put primary keys correctly
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/tests/integration/dynamodb/dynamodb_default_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dynamodb/dynamodb_platform_instance_mces_golden.json
Labels: ingestion, pending-submitter-merge

#13400 fix(ui): null pointers on frontend
  datahub-web-react/src/app/entityV2/glossaryNode/useGlossaryChildren.ts
  datahub-web-react/src/app/entityV2/group/GroupMembersSidebarSectionContent.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/AccessManagement/utils.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/incidentUtils.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/utils.tsx
  datahub-web-react/src/app/entityV2/user/useGetUserGroupUrns.ts
  datahub-web-react/src/app/search/filters/utils.tsx
  datahub-web-react/src/app/searchV2/filters/utils.tsx
  datahub-web-react/src/app/searchV2/filters/value/utils.tsx
  datahub-web-react/src/app/searchV2/filtersV2/filters/BaseEntityFilter/hooks/useOptions.ts
  datahub-web-react/src/app/searchV2/filtersV2/filters/EntityTypeFilter/hooks/useOptions.ts
Labels: product, needs-review

#13392 fix(mce-consumer): prevent too large SQL statements
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/batch/BatchMetadataChangeProposalsProcessor.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/config/MetadataChangeProposalProcessorCondition.java
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/config/batch/BatchMetadataChangeProposalProcessorCondition.java
  metadata-jobs/mce-consumer/src/test/java/com/linkedin/metadata/kafka/batch/BatchMetadataChangeProposalsProcessorTest.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/MetadataChangeProposalConfig.java
  metadata-service/configuration/src/main/resources/application.yaml
Labels: devops, pending-submitter-merge

#13385 fix(ingest): fix deps for fivetran
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_connection.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_queries.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive_metastore.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sqlalchemy_uri.py
  metadata-ingestion/src/datahub/ingestion/source/sql/two_tier_sql_source.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/tests/performance/databricks/generator.py
  metadata-ingestion/tests/unit/bigquery/test_bigquery_source.py
Labels: ingestion, pending-submitter-merge

#13398 fix(ingest): move to acryl-great-expectations
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion, pending-submitter-merge

#13379 chore(ingest/snowflake): clean up unused params in Snowflake connections
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_profiler.py
Labels: ingestion, pending-submitter-merge

#13410 feat(ingest): add urn -> url helpers
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/links.py
  metadata-ingestion/tests/unit/sdk/test_links.py
Labels: ingestion, pending-submitter-merge

#13413 fix(build): fix regression in local quickstart builds
  docker/build.gradle
  gradle/docker/docker.gradle
Labels: devops, needs-review

#13397 feat(ingestion): refactor api-tracing EmitMode
  datahub-actions/build.gradle
  datahub-actions/src/datahub_actions/plugin/source/acryl/datahub_cloud_events_consumer_offsets_store.py
  docker/build.gradle
  docs/advanced/api-tracing.md
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/emitter/request_helper.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/sink/datahub_rest.py
  metadata-ingestion/src/datahub/utilities/server_config_util.py
  metadata-ingestion/tests/test_helpers/graph_helpers.py
  metadata-ingestion/tests/unit/api/test_pipeline.py
  metadata-ingestion/tests/unit/datahub/emitter/test_request_helper.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
  metadata-ingestion/tests/unit/test_rest_sink.py
  metadata-ingestion/tests/unit/utilities/test_server_config_util.py
  smoke-test/conftest.py
  smoke-test/tests/actions/doc_propagation/test_propagation.py
  smoke-test/tests/cli/user_groups_cmd/test_user_cmd.py
  smoke-test/tests/restli/restli_test.py
  smoke-test/tests/restli/test_restli_batch_ingestion.py
Labels: ingestion, docs, pending-submitter-merge

#13411 chore(ingest): bump sqlglot dep
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/sql_parsing/_sqlglot_patch.py
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_postgres_update_subselect.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_snowflake_default_normalization.json
Labels: ingestion, pending-submitter-merge

#13405 ci: don't rerun docker workflows on labels
  .github/workflows/docker-unified.yml
Labels: devops, pending-submitter-merge

#13419 test(audit-events): updates for audit event tests
  smoke-test/tests/audit_events/audit_events_test.py
  smoke-test/tests/consistency_utils.py
Labels: smoke_test, pending-submitter-merge

#13404 feat(ingest): associate queries with operations
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_lineage_usage_golden.json
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_queries_mcps_golden.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_add_known_query_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_aggregate_operations.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_create_table_query_mcps.json
  metadata-models/src/main/pegasus/com/linkedin/common/Operation.pdl
Labels: ingestion, pending-submitter-merge

#13303 Update search results page
  datahub-web-react/src/alchemy-components/components/Pills/utils.ts
  datahub-web-react/src/app/searchV2/SearchPage.tsx
  datahub-web-react/src/app/searchV2/SearchResults.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFilterOptions.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFilters.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFiltersSection.tsx
  datahub-web-react/src/app/searchV2/recommendation/FilterPill.tsx
  datahub-web-react/src/app/searchV2/recommendation/RecommendedFilters.tsx
  datahub-web-react/src/app/sharedV2/search/DownloadButton.tsx
  datahub-web-react/src/app/sharedV2/search/EditButton.tsx
  smoke-test/tests/cypress/cypress/e2e/lineageV2/v2_download_lineage_results.js
Labels: product, pending-submitter-merge

#13424 feat(ui/lineage): Make show ghost entities toggle local storage sticky
  datahub-web-react/src/app/lineageV2/LineageExplorer.tsx
  datahub-web-react/src/app/lineageV2/settings/useShouldHideTransformations.ts
  datahub-web-react/src/app/lineageV2/settings/useShouldShowDataProcessInstances.ts
  datahub-web-react/src/app/lineageV2/settings/useShouldShowGhostEntities.ts
Labels: product, pending-submitter-merge

#13402 fix(graphql): remove false deprecation note
  datahub-graphql-core/src/main/resources/tests.graphql
Labels: product, pending-submitter-merge

#13416 feat(ingestion): Make jsonProps of schemaMetadata less verbose
  metadata-ingestion/src/datahub/ingestion/extractor/schema_util.py
  metadata-ingestion/tests/integration/athena/athena_mce_golden.json
  metadata-ingestion/tests/integration/delta_lake/delta_lake_minio_mces_golden.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_allow_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_inner_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_relative_path.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_single_table.json
  metadata-ingestion/tests/integration/delta_lake/golden_files/local/golden_mces_tables_with_nested_datatypes.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_1.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_2.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_3.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_4.json
  metadata-ingestion/tests/integration/hive-metastore/hive_metastore_mces_golden_5.json
  metadata-ingestion/tests/integration/hive/hive_mces_all_db_golden.json
  metadata-ingestion/tests/integration/hive/hive_mces_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_deleted_table_mcps_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_ingest_mcps_golden.json
  metadata-ingestion/tests/integration/iceberg/iceberg_profile_mcps_golden.json
  metadata-ingestion/tests/integration/trino/trino_hive_instance_mces_golden.json
  metadata-ingestion/tests/integration/trino/trino_hive_mces_golden.json
  metadata-ingestion/tests/integration/trino/trino_mces_golden.json
  metadata-ingestion/tests/integration/unity/unity_catalog_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_deleted_actor_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_delta_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden_profiling.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden_table_column_lineage.json
  metadata-ingestion/tests/unit/glue/glue_mces_golden_table_lineage.json
  metadata-ingestion/tests/unit/glue/glue_mces_platform_instance_golden.json
Labels: ingestion, pending-submitter-merge

#13362 feat(sdk): scaffold assertion client
  metadata-ingestion/src/datahub/sdk/main_client.py
  metadata-ingestion/tests/unit/sdk_v2/test_assertions_client.py
Labels: ingestion, merge-pending-ci

#13427 fix(): DUE Producer Configuration & tracking message validation
  datahub-frontend/app/controllers/TrackingController.java
  metadata-service/auth-servlet-impl/src/main/java/com/datahub/auth/authentication/AuthServiceController.java
  metadata-service/auth-servlet-impl/src/test/java/com/datahub/auth/authentication/AuthServiceControllerTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/DataHubKafkaProducerFactory.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/kafka/DataHubKafkaProducerFactoryTest.java
Labels: product, devops, pending-submitter-merge, release-1.1.0

#13429 fix(smoke-test): fix flakiness of audit smoke test
  smoke-test/tests/audit_events/audit_events_test.py
Labels: smoke_test, pending-submitter-merge

#13428 fix(ingest/snowflake): fix previously broken tests
  metadata-ingestion/src/datahub/ingestion/source/sql/stored_procedures/lineage.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
Labels: ingestion, pending-submitter-merge

#13430 fix(searchBarAutocomplete): ui tweaks
  datahub-web-react/src/app/searchV2/autoCompleteV2/AutoCompleteEntityItem.tsx
Labels: product, needs-review

#13435 fix(docker): Fix for metadata ingestion docker build
  metadata-ingestion/setup.py
Labels: devops, pending-submitter-merge

#13425 fix(ui) Add ellipses and tooltip to long names on home page header
  datahub-web-react/src/alchemy-components/components/OverflowText/OverflowText.stories.tsx
  datahub-web-react/src/alchemy-components/components/OverflowText/OverflowText.tsx
  datahub-web-react/src/alchemy-components/components/OverflowText/index.ts
  datahub-web-react/src/alchemy-components/components/PageTitle/PageTitle.tsx
  datahub-web-react/src/alchemy-components/components/PageTitle/components.ts
  datahub-web-react/src/alchemy-components/components/StructuredPopover/StructuredPopover.tsx
  datahub-web-react/src/alchemy-components/components/StructuredPopover/TooltipHeader.tsx
  datahub-web-react/src/alchemy-components/components/StructuredPopover/components.ts
  datahub-web-react/src/alchemy-components/components/StructuredPopover/index.ts
  datahub-web-react/src/alchemy-components/components/StructuredPopover/types.ts
  datahub-web-react/src/alchemy-components/components/Table/Table.tsx
  datahub-web-react/src/alchemy-components/components/Tooltip/Tooltip.tsx
  datahub-web-react/src/alchemy-components/components/Tooltip2/index.ts
  datahub-web-react/src/alchemy-components/index.ts
  datahub-web-react/src/app/entityV2/shared/components/styled/DeprecationIcon.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/AcrylComponents/IncidentDrawerHeader.tsx
  datahub-web-react/src/app/entityV2/shared/versioning/VersionsDrawer.tsx
  datahub-web-react/src/app/settingsV2/features/Feature.tsx
  datahub-web-react/src/app/tags/ManageTags.tsx
Labels: product, pending-submitter-merge

#13422 updated search menu items after search update
  datahub-web-react/src/app/sharedV2/search/SearchMenuItems.tsx
Labels: product, pending-submitter-merge

#13437 docs(release): Adding notes for v0.3.10.3 release
  docs/managed-datahub/release-notes/v_0_3_10.md
Labels: docs, needs-review

#13444 fix(cli): ignore extra configs
  metadata-ingestion/src/datahub/ingestion/graph/config.py
Labels: ingestion, pending-submitter-merge

#13445 fix(build): fix local quickstart builds
  docker/build.gradle
  gradle/docker/docker.gradle
Labels: devops, pending-submitter-merge

#13448 docs: Adding color to 3.10 release notes
  docs/managed-datahub/release-notes/v_0_3_10.md
Labels: docs, pending-submitter-merge

#13454 ci(): run smoke tests on release
  .github/workflows/docker-unified.yml
Labels: devops, pending-submitter-merge

#13455 feat(UI): funnel subtype for dataflows and datajobs all the way to the UI
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataflow/DataFlowType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataflow/mappers/DataFlowMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entityV2/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entityV2/dataFlow/preview/Preview.tsx
  datahub-web-react/src/graphql/dataFlow.graphql
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/preview.graphql
  datahub-web-react/src/graphql/search.graphql
Labels: product, pending-submitter-merge

#13434 improvement(ui): add wrapper component for stop propagation
  datahub-web-react/src/app/sharedV2/StopPropagationWrapper.tsx
Labels: product, pending-submitter-merge

#13449 chore(ingest): bump bounds on cooperative timeout test
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_patch.py
Labels: ingestion, needs-review

#13368 feat(sdk): add sample scripts for lineage client
  metadata-ingestion/examples/library/lineage_datajob_to_datajob.py
  metadata-ingestion/examples/library/lineage_datajob_to_dataset.py
  metadata-ingestion/examples/library/lineage_dataset_copy.py
  metadata-ingestion/examples/library/lineage_dataset_from_sql.py
  metadata-ingestion/examples/library/lineage_dataset_transform.py
  metadata-ingestion/examples/library/lineage_dataset_transform_with_query_text.py
Labels: pending-submitter-response, ingestion

#13458 feat(docs): Add 0.3.10.4 hotfix release notes
  docs/managed-datahub/release-notes/v_0_3_10.md
Labels: docs, pending-submitter-merge

#13453 fix(authentication) redirection for native login and sso to function within iframes
  datahub-frontend/app/controllers/AuthenticationController.java
  datahub-frontend/test/controllers/AuthenticationControllerTest.java
  datahub-web-react/src/app/auth/LogIn.tsx
Labels: product, pending-submitter-merge

#13459 fix(docs): Add feature availability to audit API
  docs-website/sphinx/requirements.txt
  docs/actions/events/audit-events-search-guide.md
Labels: docs, pending-submitter-merge

#13365 feat(sdk): add datajob lineage & dataset sql parsing lineage
  metadata-ingestion/examples/library/lineage_datajob_to_datajob.py
  metadata-ingestion/examples/library/lineage_datajob_to_dataset.py
  metadata-ingestion/examples/library/lineage_dataset_copy.py
  metadata-ingestion/examples/library/lineage_dataset_from_sql.py
  metadata-ingestion/examples/library/lineage_dataset_transform.py
  metadata-ingestion/examples/library/lineage_dataset_transform_with_query_text.py
  metadata-ingestion/src/datahub/sdk/lineage_client.py
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_datajob_inputs_only_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_datajob_lineage_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_datajob_outputs_only_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_from_sql_golden.json
  metadata-ingestion/tests/unit/sdk_v2/lineage_client_golden/test_lineage_from_sql_multiple_upstreams_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_lineage_client.py
Labels: ingestion, pending-submitter-merge

#13440 fix(versioning): Properly set versioning scheme on unlink; always run side effects
  metadata-io/src/main/java/com/linkedin/metadata/entity/versioning/EntityVersioningServiceImpl.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
Labels: product, devops, pending-submitter-merge

#13467 feat(sdk): update lineage sample script to use client.lineage
  metadata-ingestion/examples/library/lineage_datajob_to_datajob.py
  metadata-ingestion/examples/library/lineage_datajob_to_dataset.py
  metadata-ingestion/examples/library/lineage_dataset_copy.py
  metadata-ingestion/examples/library/lineage_dataset_from_sql.py
  metadata-ingestion/examples/library/lineage_dataset_transform.py
  metadata-ingestion/examples/library/lineage_dataset_transform_with_query_text.py
Labels: ingestion, pending-submitter-merge

#13461 fix(docs): Add requirement on yarn for documentation for local development
  docs/developers.md
Labels: docs, pending-submitter-merge

#12675 feat(ingestion/kafka): Add optional externalURL base for link to external platform
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka_config.py
Labels: ingestion, pending-submitter-merge

#13409 feat(ingest): filter by database in superset and preset
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/unit/test_preset_source.py
  metadata-ingestion/tests/unit/test_superset_source.py
Labels: ingestion, pending-submitter-merge

#13475 fix(test): prevent audit test flakiness
  smoke-test/tests/audit_events/audit_events_test.py
Labels: smoke_test, pending-submitter-merge

#13478 fix(ingest/hive): Fix hive properties with double colon
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/tests/integration/hive/hive_mces_all_db_golden.json
  metadata-ingestion/tests/integration/hive/hive_mces_golden.json
Labels: ingestion, pending-submitter-merge

#13481 fix(sdk): use pluralized assertions
  metadata-ingestion/src/datahub/sdk/main_client.py
  metadata-ingestion/tests/unit/sdk_v2/test_assertions_client.py
Labels: ingestion, pending-submitter-merge

#13439 docs(): v0.3.11 DataHub Cloud Docs
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_3_11.md
Labels: docs, pending-submitter-merge

#13476 tests(ingestion): fixes hex and hive docker flakiness
  metadata-ingestion/src/datahub/testing/docker_utils.py
  metadata-ingestion/tests/integration/hex/test_hex.py
  metadata-ingestion/tests/integration/hive/test_hive.py
Labels: ingestion, pending-submitter-merge

#13483 fix(sdk): always url-encode entity links
  metadata-ingestion/src/datahub/ingestion/graph/links.py
Labels: ingestion, pending-submitter-merge

#13485 tests(smoke): removes non existing `mix_stderr` param in `CliRunner`
  smoke-test/tests/cli/dataset_cmd/test_dataset_command.py
  smoke-test/tests/cli/delete_cmd/test_timeseries_delete.py
  smoke-test/tests/cli/ingest_cmd/test_timeseries_rollback.py
  smoke-test/tests/cli/user_groups_cmd/test_group_cmd.py
  smoke-test/tests/cli/user_groups_cmd/test_user_cmd.py
Labels: smoke_test, pending-submitter-merge

#13479 docs: Adding notes on remote executors handling smart assertions
  docs/managed-datahub/release-notes/v_0_3_10.md
Labels: docs, pending-submitter-merge

#13471 fix(cli): warn more strongly about hard deletion
  metadata-ingestion/src/datahub/cli/delete_cli.py
Labels: ingestion, pending-submitter-merge

#13470 fix(ui): enable to edit tag when properties aspect was not present
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/DescriptionUtils.java
Labels: product, pending-submitter-merge

#13493 docs(cloud): fix indent, remove note not relevant for cloud users
  docs/managed-datahub/release-notes/v_0_3_11.md
Labels: docs, pending-submitter-merge

#13488 Adding KafkaClients dependency to the datahub-upgrade module
  datahub-upgrade/build.gradle
Labels: community-contribution, needs-review

#13465 feat(cassandra): Support ssl auth with cassandra
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra_api.py
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra_config.py
  metadata-ingestion/tests/unit/test_cassandra_source.py
Labels: ingestion, pending-submitter-merge

#13487 fix(ingest/presto): Presto/Trino property extraction fix
  metadata-ingestion/src/datahub/ingestion/source/sql/presto.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
Labels: ingestion, pending-submitter-merge

#13484 chore(): graphiql latest versions
  metadata-service/auth-impl/src/main/resources/graphiql/index.html
  metadata-service/graphql-servlet-impl/src/main/java/com/datahub/graphql/GraphiQLController.java
Labels: devops, pending-submitter-merge

#13473 chore(hex): debug logs
  metadata-ingestion/src/datahub/ingestion/source/hex/hex.py
  metadata-ingestion/src/datahub/ingestion/source/hex/query_fetcher.py
Labels: ingestion, pending-submitter-merge

#13497 fix(ingest/mode): Additional pagination and timing metrics
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/tests/integration/mode/setup/final_page.json
  metadata-ingestion/tests/integration/mode/setup/spaces_empty.json
  metadata-ingestion/tests/integration/mode/test_mode.py
Labels: ingestion, pending-submitter-merge

#13500 ci(workflow): postgres consolidation & release unit tests
  .github/workflows/docker-postgres-setup.yml
  .github/workflows/docker-unified.yml
  .github/workflows/metadata-io.yml
  docker/build.gradle
Labels: devops, publish-docker, pending-submitter-merge

#13506 fix(ci): enable publish on release
  .github/workflows/docker-unified.yml
Labels: devops

#13503 feat(ingestion/looker): extract group_labels from looker and add as tags in datahub
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/tests/integration/looker/golden_test_group_label_mces.json
  metadata-ingestion/tests/integration/looker/test_looker.py
  metadata-ingestion/tests/integration/lookml/expected_output.json
  metadata-ingestion/tests/integration/lookml/golden_test_state.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_bigquery.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_api_hive2.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_offline_platform_instance.json
  metadata-ingestion/tests/integration/lookml/lookml_mces_with_external_urls.json
  metadata-ingestion/tests/integration/lookml/lookml_reachable_views.json
  metadata-ingestion/tests/integration/lookml/lookml_same_name_views_different_file_path.json
  metadata-ingestion/tests/integration/lookml/refinements_ingestion_golden.json
  metadata-ingestion/tests/integration/lookml/vv_lineage_liquid_template_golden.json
Labels: ingestion, pending-submitter-merge

#13451 Refactor elasticsearch search indexed
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/UpgradeCliApplicationTestConfiguration.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/EntityIndexBuilders.java
  metadata-io/src/main/java/com/linkedin/metadata/service/UpdateIndicesService.java
  metadata-io/src/main/java/com/linkedin/metadata/shared/ElasticSearchIndexed.java
  metadata-io/src/main/java/com/linkedin/metadata/systemmetadata/ElasticSearchSystemMetadataService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/ElasticSearchTimeseriesAspectService.java
  metadata-io/src/main/java/com/linkedin/metadata/timeseries/elastic/indexbuilder/TimeseriesAspectIndexBuilders.java
  metadata-io/src/test/java/com/linkedin/metadata/search/ElasticSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/SearchServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/TestEntityTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/service/UpdateIndicesServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/timeseries/search/TimeseriesAspectServiceUnitTest.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SampleDataFixtureConfiguration.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SearchLineageFixtureConfiguration.java
  metadata-jobs/mae-consumer-job/src/test/java/com/linkedin/metadata/kafka/MaeConsumerApplicationTestConfiguration.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/UpdateIndicesHookTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLSpringCommonTestConfiguration.java
  metadata-jobs/mce-consumer-job/src/test/java/com/linkedin/metadata/kafka/MceConsumerApplicationTestConfiguration.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/entity/update/indices/UpdateIndicesServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/ElasticSearchServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/search/EntityIndexBuildersFactory.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/timeseries/ElasticSearchTimeseriesAspectServiceFactory.java
Labels: product, needs-review

#13508 fix(ingest/mode): Additional 404 handling and caching update
  metadata-ingestion/src/datahub/ingestion/source/mode.py
Labels: ingestion, needs-review

#13510 feat(platform): up limit of corpuser char length from 64 to 128
  li-utils/src/main/pegasus/com/linkedin/common/CorpGroupUrn.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: devops, pending-submitter-merge

#13501 feat(ingest): support pydantic v2 in mysql source
  metadata-ingestion/setup.py
  smoke-test/requirements.txt
  smoke-test/tests/actions/doc_propagation/test_propagation.py
  smoke-test/tests/lineage/test_lineage.py
Labels: ingestion, smoke_test, pending-submitter-merge

#13514 fix(ci): metadata-io test
  .github/workflows/metadata-io.yml
Labels: devops, pending-submitter-merge

#13207 Support different container runtimes aliased as docker
  docker/README.md
  docker/dev-with-cassandra.sh
  docker/dev-without-neo4j.sh
  docker/dev.sh
Labels: community-contribution, devops, merge-pending-ci, needs-review

#13515 update(ci): specify branch
  .github/workflows/actions.yml
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/docker-unified.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/prefect-plugin.yml
Labels: devops, pending-submitter-merge

#13516 fix(docs): broken link in spark docs
  metadata-integration/java/acryl-spark-lineage/README.md
Labels: ingestion, pending-submitter-merge

#13519 fix(graphql,lineage): Fix CLL through queries
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/query/QueryType.java
  datahub-web-react/src/graphql/lineage.graphql
Labels: product, merge-pending-ci, pending-submitter-merge

#13520 fix(ci): fix typo
  .github/workflows/build-and-test.yml
Labels: devops, pending-submitter-merge

#13359 fix(ui): fix useGetUserGroupUrns when user urn is empty
  datahub-web-react/src/app/entityV2/user/useGetUserGroupUrns.ts
  datahub-web-react/src/app/homeV2/reference/sections/assets/AssetsYouOwn.tsx
  datahub-web-react/src/app/homeV2/reference/sections/assets/useGetAssetsYouOwn.tsx
Labels: community-contribution, product, merge-pending-ci

#13518 fix(cli): avoid click 8.2.0 due to bugs
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/upgrade/upgrade.py
  smoke-test/pytest.ini
  smoke-test/tests/cli/dataset_cmd/test_dataset_command.py
  smoke-test/tests/cli/delete_cmd/test_timeseries_delete.py
  smoke-test/tests/cli/ingest_cmd/test_timeseries_rollback.py
  smoke-test/tests/cli/user_groups_cmd/test_group_cmd.py
  smoke-test/tests/cli/user_groups_cmd/test_user_cmd.py
  smoke-test/tests/utils.py
Labels: ingestion, pending-submitter-merge

#13511 fix(sdk): change deprecated value use
  metadata-ingestion/src/datahub/api/graphql/base.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/filters.py
Labels: ingestion, pending-submitter-merge

#13512 fix(cli): move to stderr instead of stdout
  metadata-ingestion/src/datahub/entrypoints.py
Labels: ingestion, pending-submitter-merge

#13521 build(quickstart): skip composeForceDownOnFailure for debug variants
  docker/build.gradle
Labels: devops, pending-submitter-merge

#13522 build(ci): fix a gradle implicit dependency error
  metadata-service/plugin/build.gradle
Labels: devops, pending-submitter-merge

#13524 fix(docs): update support limits for liquid-python
  metadata-ingestion/docs/sources/looker/lookml_post.md
Labels: ingestion, needs-review

#13527 chore(): bump kafka-setup base image
  docker/kafka-setup/Dockerfile
Labels: devops, pending-submitter-merge

#13526 fix(ui/glossary): Display custom properties on glossary nodes
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/glossaryNode.graphql
  datahub-web-react/src/graphql/glossaryTerm.graphql
Labels: product, pending-submitter-merge

#13525 fix(ui/table): Fix column / ml feature description show more button
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/AboutSection/DescriptionSection.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/SchemaTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/AboutFieldTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/SchemaFieldDrawer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
Labels: product, pending-submitter-merge

#13528 fix(): remove unused recursive code
  metadata-service/services/src/main/java/com/linkedin/metadata/recommendation/candidatesource/RecommendationSource.java
Labels: devops, pending-submitter-merge

#13466 fix(docs): Improve backup and restore doc
  docker/datahub-upgrade/README.md
  docs/advanced/monitoring.md
  docs/how/backup-datahub.md
  docs/how/restore-indices.md
Labels: docs, pending-submitter-merge

#13224 fea(ui): Add menu action for copying the full name of the asset
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/shared/share/v2/ShareButtonMenu.tsx
  datahub-web-react/src/app/shared/share/v2/ShareMenuAction.tsx
  datahub-web-react/src/app/shared/share/v2/items/CopyNameMenuItem.tsx
  datahub-web-react/src/graphql/container.graphql
  datahub-web-react/src/graphql/fragments.graphql
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
Labels: ingestion, product, needs-review

#13530 fix(docs): add known issue for server_config
  docs/how/updating-datahub.md
Labels: merge-pending-ci

#13535 fix(graphql): Add default parameters to access token resolver
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/auth/ListAccessTokensResolver.java
  datahub-graphql-core/src/main/resources/auth.graphql
Labels: product, pending-submitter-merge

#13296 feat(search): PFP-1275/look-into-0-doc-indices
  datahub-upgrade/build.gradle
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/UpgradeCli.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/UpgradeStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemCronConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemUpdateCronCondition.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/SendMAEStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/cron/CronArgs.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/cron/SystemUpdateCron.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/cron/steps/TweakReplicasStep.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/restoreindices/SendMAEStepTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/cron/SystemCronTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/cron/TweakReplicasStepTest.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ReindexConfig.java
  metadata-io/src/main/java/com/linkedin/metadata/shared/ElasticSearchIndexed.java
  metadata-io/src/test/java/com/linkedin/metadata/search/ElasticSearchIndexedTweakReplicasTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/IndexBuilderTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/indexbuilder/IndexExistenceCheckTest.java
Labels: product, needs-review

#13532 feat(ingestion): create feature flag for ingestion page redesign
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
Labels: product, devops, pending-submitter-merge

#13517 feat(ingest/snowflake): generate lineage through temp views
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_queries.py
Labels: ingestion, pending-submitter-merge

#12763 feat(ingestion/s3): Add externalUrls for datasets in s3 and gcs
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/data_lake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/object_store.py
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_source.py
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_utils.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_allow_table.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_deny_table.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_inference_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_file_without_extension.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_exclude.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_filename.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_no_partition_glob.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_basic.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_keyval.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_update_schema.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_update_schema_with_partition_autodetect.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_with_partition_autodetect_traverse_all.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_folder_partition_with_partition_autodetect_traverse_min_max.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_spec_for_files.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_multiple_specs_of_different_buckets.json
  metadata-ingestion/tests/integration/s3/golden-files/s3/golden_mces_single_file.json
  metadata-ingestion/tests/unit/data_lake/test_object_store.py
  metadata-ingestion/tests/unit/s3/test_s3_source.py
  metadata-ingestion/tests/unit/test_gcs_source.py
Labels: ingestion, pending-submitter-merge

#13546 fix(ingestion/datahubapply): fix typos in config descriptions
  metadata-ingestion/src/datahub/ingestion/source/apply/datahub_apply.py
Labels: ingestion, needs-review

#13552 fix(ingest(gc): remove default cli version
  metadata-service/configuration/src/main/resources/bootstrap_mcps/ingestion-datahub-gc.yaml
Labels: devops, needs-review

#13536 fix(ingest/hive): Fix hive storage path formats
  metadata-ingestion/src/datahub/ingestion/source/sql/hive.py
  metadata-ingestion/tests/integration/hive/test_storage_parser.py
Labels: ingestion, pending-submitter-merge

#13543 fix(smoke-test): use full quickstart image instead of slim for spark tests
  metadata-integration/java/spark-lineage-legacy/build.gradle
Labels: ingestion, pending-submitter-merge

#13549 docs: fix inline code format
  docs/dataproducts.md
  docs/managed-datahub/observe/data-contract.md
Labels: docs, pending-submitter-merge

#13557 feat(lineage): Add feature flag to hide expand more action
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-web-react/src/app/lineageV2/LineageEntityNode/ExpandLineageButton.tsx
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/configuration/src/main/resources/application.yaml
Labels: product, devops, pending-submitter-merge

#13558 ci(docs): Fix md prettier lint by ignoring inline blocks
  docs/dataproducts.md
  docs/managed-datahub/observe/data-contract.md
Labels: docs, pending-submitter-merge

#13559 fix(ui/filters): Improve platform instance filter
  datahub-web-react/src/alchemy-components/components/Pills/Pill.tsx
  datahub-web-react/src/app/searchV2/filters/FilterOption.tsx
  datahub-web-react/src/app/searchV2/filters/utils.tsx
  datahub-web-react/src/graphql/search.graphql
Labels: product, pending-submitter-merge

#13562 ci(publish): restore image publish on push to master
  .github/workflows/docker-unified.yml
Labels: devops, needs-review

#13438 feat(ingest/dbt): fallback to schema from graph
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
Labels: ingestion, pending-submitter-merge

#13570 fix(ui): Hide 404 page while loading permissions
  datahub-web-react/src/app/SearchRoutes.tsx
Labels: product, pending-submitter-merge

#13456 fix(ui): Add Admin Onboarding Steps + Change display name for iceberg policies DES-369
  datahub-web-react/src/alchemy-components/components/Card/Card.tsx
  datahub-web-react/src/alchemy-components/components/Card/components.ts
  datahub-web-react/src/app/domainV2/CreateDomainModal.tsx
  datahub-web-react/src/app/domainV2/nestedDomains/ManageDomainsPageV2.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/DiscoveryTab.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/Section.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/onboarding/OnboardingCards.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/platform/Platforms.tsx
  datahub-web-react/src/app/onboarding/config/HomePageOnboardingConfig.tsx
  docs/how/updating-datahub.md
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: product, pending-submitter-merge

#13555 docs(): Update v_0_3_11 Release notes
  docs/managed-datahub/release-notes/v_0_3_11.md
Labels: docs, pending-submitter-merge

#13571 fix(web): glossary term create buttons inlined in content area
  datahub-web-react/src/app/entityV2/glossaryNode/ChildrenTab.tsx
  datahub-web-react/src/app/entityV2/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryNode/useGlossaryChildren.ts
  datahub-web-react/src/app/glossaryV2/BusinessGlossaryPage.tsx
  datahub-web-react/src/app/glossaryV2/EmptyGlossarySection.tsx
  datahub-web-react/src/app/glossaryV2/GlossaryContentProvider.tsx
Labels: product, pending-submitter-merge

#13563 fix(ingest/dbt): Fix urn validation in ownership type check.
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
  metadata-ingestion/tests/unit/test_mapping.py
  metadata-ingestion/tests/unit/test_sql_types.py
Labels: ingestion, pending-submitter-merge

#13576 fix(cli): strictly validate structured property values
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  metadata-ingestion/tests/unit/cli/dataset/test_resources/golden_test_dataset_sync_mpcs.json
  metadata-ingestion/tests/unit/structured_properties/test_structured_properties.py
Labels: ingestion, pending-submitter-merge

#13580 fix(ui): Fix pagination overflow on embedded list search results
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearchResults.tsx
Labels: product, needs-review

#13572 fix(tags): Support null tagProperties aspect when updating tag color
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/tag/SetTagColorResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/tag/SetTagColorResolverTest.java
  datahub-web-react/src/app/tags/EmptyTags.tsx
Labels: product, pending-submitter-merge

#13587 feat(web): display external assertion result links in run event view
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/shared/result/AssertionResultPopoverContent.tsx
Labels: product, pending-submitter-merge

#13589 fix(ui): Changes to components
  datahub-web-react/src/alchemy-components/components/Select/components.ts
  datahub-web-react/src/alchemy-components/components/Select/private/hooks/useSelectDropdown.ts
  datahub-web-react/src/alchemy-components/components/Table/Table.tsx
  datahub-web-react/src/app/entityV2/shared/EntitySearchInput/EntitySearchInputResultV2.tsx
  datahub-web-react/src/app/searchV2/filters/SearchFiltersLoadingSection.tsx
  datahub-web-react/src/app/searchV2/filters/useSearchFilterDropdown.tsx
  datahub-web-react/src/app/searchV2/searchBarV2/components/NoResultsFoundPlaceholder.tsx
  datahub-web-react/src/app/sharedV2/filters/Filter.tsx
  datahub-web-react/src/app/sharedV2/filters/FilterSection.tsx
Labels: product, pending-submitter-merge

#13092 refactor(web) move access management tab to the front
  datahub-web-react/src/app/entity/container/ContainerEntity.tsx
  datahub-web-react/src/app/entity/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entityV2/dataset/DatasetEntity.tsx
Labels: product, pending-submitter-merge

#13599 fix(forms) Remove schema field entities from form assignment entity types
  metadata-service/services/src/main/java/com/linkedin/metadata/service/util/SearchBasedFormAssignmentManager.java
Labels: devops, pending-submitter-merge

#13598 fix(config): fix mcp batch configuration
  metadata-io/src/test/resources/testng.xml
  metadata-jobs/mce-consumer/src/main/java/com/linkedin/metadata/kafka/batch/BatchMetadataChangeProposalsProcessor.java
  metadata-jobs/mce-consumer/src/test/java/com/linkedin/metadata/kafka/batch/BatchMetadataChangeProposalsProcessorTest.java
  metadata-service/configuration/build.gradle
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/DataHubAppConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/MetadataChangeProposalConfig.java
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/DataHubAppConfigurationTest.java
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/DataHubTestApplication.java
Labels: devops, pending-submitter-merge

#13605 fix(ingest): restrict duckdb dep on old python versions
  metadata-ingestion/setup.py
Labels: ingestion, pending-submitter-merge

#13596 feat(hex): consider additional context when parsing hex query metadata
  metadata-ingestion/src/datahub/ingestion/source/hex/query_fetcher.py
  metadata-ingestion/tests/unit/hex/test_query_fetcher.py
Labels: ingestion, pending-submitter-merge

#13294 fix(web) set domain dropdown ui to match domains page
  datahub-web-react/src/app/domain/nestedDomains/domainNavigator/DomainNavigator.tsx
  datahub-web-react/src/app/domain/nestedDomains/domainNavigator/DomainNode.tsx
  datahub-web-react/src/app/domainV2/DomainAutocompleteOptions.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Domain/SetDomainModal.tsx
  datahub-web-react/src/app/shared/sidebar/components.tsx
  smoke-test/tests/cypress/cypress/e2e/domains/nested_domains.js
Labels: product, pending-submitter-merge

#13610 doc(assertion): change to millis in example
  docs/api/tutorials/custom-assertions.md
Labels: docs, needs-review

#13604 feat(docs): Add docs for 0.3.11.1 Cloud Release
  docs/managed-datahub/release-notes/v_0_3_11.md
Labels: docs, pending-submitter-merge

#13561 feat(docs): Add section on updating DataHub for 1.1.0
  docs/how/updating-datahub.md
Labels: docs, pending-submitter-merge

#13617 config(gradle): pin jackson via bom
  build.gradle
  datahub-upgrade/build.gradle
  docker/build.gradle
  entity-registry/build.gradle
  metadata-integration/java/acryl-spark-lineage/scripts/check_jar.sh
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-protobuf/build.gradle
  metadata-integration/java/spark-lineage-legacy/build.gradle
  metadata-models/build.gradle
  metadata-service/configuration/build.gradle
  metadata-service/openapi-servlet/models/build.gradle
  metadata-service/plugin/build.gradle
  metadata-service/schema-registry-api/build.gradle
  metadata-service/servlet/build.gradle
Labels: ingestion, devops, pending-submitter-merge

#13630 misc(): Bump CLI version to v1.1.0
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  gradle/versioning/versioning.gradle
Labels: product, pending-submitter-merge

#13635 ci(smoke-tests): run tests on push to release branches (#13629) (addendum)
  .github/workflows/docker-unified.yml
Labels: devops, pending-submitter-merge

#13636 build: support tag computation from branch with slash in name
  .github/scripts/docker_helpers.sh
Labels: devops, needs-review

#13087 build: add codecov bundle analysis
  .github/workflows/build-and-test.yml
  datahub-web-react/package.json
  datahub-web-react/vite.config.ts
  datahub-web-react/yarn.lock
Labels: community-contribution, product, merge-pending-ci

#13628 feat(tracing): trace error log with timestamp & update system-metadata
  metadata-ingestion/src/datahub/emitter/response_helper.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/tests/unit/datahub/emitter/test_response_helper.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
Labels: ingestion, product, pending-submitter-merge

#13643 fix(snowflake): pass correct BaseTimeWindowConfig instead of SnowflakeV2Config
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion, needs-review

#13638 config(): disable service name in header
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/war/src/main/java/com/linkedin/gms/CommonApplicationConfig.java
Labels: devops, pending-submitter-merge

#13650 feat(docker-compose): add localstack to compose profiles
  docker/build.gradle
  docker/profiles/README.md
  docker/profiles/docker-compose.actions.yml
  docker/profiles/docker-compose.gms.yml
  docker/profiles/docker-compose.prerequisites.yml
Labels: devops, pending-submitter-merge

#13644 fix(policies): more assertions, add missing policy for editor role
  .github/scripts/check_policies.py
  metadata-service/war/src/main/resources/boot/policies.json
Labels: devops, pending-submitter-merge

#13593 improvement(ui): bring compact markdown viewer changes to OSS
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
Labels: pending-submitter-response, product

#13551 feat(sdk): add dataflow and datajob entity
  metadata-ingestion/examples/library/create_dataflow.py
  metadata-ingestion/examples/library/create_datajob.py
  metadata-ingestion/src/datahub/sdk/__init__.py
  metadata-ingestion/src/datahub/sdk/_all_entities.py
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/src/datahub/sdk/dataflow.py
  metadata-ingestion/src/datahub/sdk/datajob.py
  metadata-ingestion/src/datahub/sdk/entity_client.py
  metadata-ingestion/tests/unit/sdk_v2/dataflow_golden/test_dataflow_basic_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataflow_golden/test_dataflow_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/datajob_golden/test_datajob_basic_golden.json
  metadata-ingestion/tests/unit/sdk_v2/datajob_golden/test_datajob_browse_path_golden.json
  metadata-ingestion/tests/unit/sdk_v2/datajob_golden/test_datajob_browse_path_with_containers_golden.json
  metadata-ingestion/tests/unit/sdk_v2/datajob_golden/test_datajob_browse_path_without_container_golden.json
  metadata-ingestion/tests/unit/sdk_v2/datajob_golden/test_datajob_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/datajob_golden/test_datajob_init_with_flow_urn_golden.json
  metadata-ingestion/tests/unit/sdk_v2/datajob_golden/test_datajob_inlets_outlets_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_dataflow.py
  metadata-ingestion/tests/unit/sdk_v2/test_datajob.py
Labels: ingestion, pending-submitter-merge

#13645 fix(docs): Correct Access Policy references to GraphQL endpoints
  docs/authorization/access-policies-guide.md
Labels: docs, pending-submitter-merge

#13579 ci(coverage): run coverage without ci-optimization on release and schedule
  .github/workflows/build-and-test.yml
Labels: devops, pending-submitter-merge

#13659 refactored to display the virtual connection as individual tables
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_virtual_connections.py
Labels: ingestion, community-contribution

#13155 change ES default refresh_interval:3s
  docker/profiles/docker-compose.gms.yml
  metadata-service/configuration/src/main/resources/application.yaml
  smoke-test/run-quickstart.sh
Labels: community-contribution, devops, merge-pending-ci

#13653 fix(log): improve log for list-source-runs without privileges
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/ingest/source/ListIngestionSourcesResolver.java
  metadata-ingestion/src/datahub/cli/ingest_cli.py
Labels: ingestion, product, pending-submitter-merge

#13656 chore(): bump beanutils version
  datahub-frontend/play.gradle
  datahub-upgrade/build.gradle
  metadata-integration/java/spark-lineage-legacy/spark-smoke-test/test-spark-lineage/build.gradle
Labels: product, pending-submitter-merge
