Repository datahub-project/datahub, pull requests merged in 2025-01, with the labels that each got.

#12252 fix(ingestion/aws_common): update iam role and aws access key tests to complete successfully when executed on EC2 instance
  metadata-ingestion/tests/unit/test_aws_common.py
Labels: ingestion, merge-pending-ci

#12246 fix(ingest): json serializable fix
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
  metadata-ingestion/tests/unit/reporting/test_datahub_ingestion_reporter.py
Labels: ingestion, pending-submitter-merge

#12255 fix(ingest/gc): soft deletion loop fix
  metadata-ingestion/src/datahub/ingestion/source/gc/dataprocess_cleanup.py
  metadata-ingestion/src/datahub/ingestion/source/gc/soft_deleted_entity_cleanup.py
Labels: ingestion, pending-submitter-merge

#12181 fix(ingest/bigquery): All View generation when queries_v2 is turned off
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_lineage_golden_1.json
  metadata-ingestion/tests/integration/bigquery_v2/bigquery_mcp_lineage_golden_2.json
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
Labels: ingestion, merge-pending-ci

#12256 test(ingest/athena): add connector integration tests
  metadata-ingestion/tests/integration/athena/athena_mce_golden.json
  metadata-ingestion/tests/integration/athena/test_athena_source.py
Labels: ingestion, merge-pending-ci

#12240 chore(ingest): refactor common pytest args
  metadata-ingestion/build.gradle
Labels: ingestion, pending-submitter-merge

#12257 fix(sample data): Update timestamps in bootstrap_mce.json to more recent
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
Labels: ingestion, pending-submitter-merge

#12259 feat(auth): user.props authentication
  datahub-frontend/app/auth/AuthModule.java
  datahub-frontend/app/config/ConfigurationProvider.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/SystemUpdateConfig.java
  docs/authentication/guides/add-users.md
  docs/how/updating-datahub.md
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SampleDataFixtureConfiguration.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SearchLineageFixtureConfiguration.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLSpringCommonTestConfiguration.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/ActorContext.java
  metadata-operation-context/src/main/java/io/datahubproject/metadata/context/OperationContext.java
  metadata-operation-context/src/main/java/io/datahubproject/test/metadata/context/TestOperationContexts.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/ActorContextTest.java
  metadata-operation-context/src/test/java/io/datahubproject/metadata/context/OperationContextTest.java
  metadata-service/auth-config/src/main/java/com/datahub/authentication/AuthenticationConfiguration.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DataHubAuthorizerTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/context/SystemOperationContextFactory.java
  metadata-service/factories/src/test/java/com/linkedin/metadata/boot/steps/IngestDataPlatformInstancesStepTest.java
Labels: docs, product, devops, pending-submitter-merge, release-0.15.0

#12251 docs(undo_by_filter): Document un-soft-delete commands in delete-metadata.md
  docs/how/delete-metadata.md
Labels: docs, pending-submitter-merge

#12258 fix(tableau): fixes some aspects being emitted multiple times
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-ingestion/tests/unit/test_tableau_source.py
Labels: ingestion, pending-submitter-merge

#12265 fix(ingestion/redshift): Bumped redshift-connector dependency due to CVE-2024-12745
  metadata-ingestion/setup.py
Labels: ingestion, pending-submitter-merge

#12266 fix(ingest/gc): logging and stopping fix
  metadata-ingestion/src/datahub/ingestion/source/gc/execution_request_cleanup.py
  metadata-ingestion/src/datahub/ingestion/source/gc/soft_deleted_entity_cleanup.py
  metadata-ingestion/tests/unit/test_gc.py
Labels: ingestion, pending-submitter-merge

#12239 fix(ingest): consistent fingerprint for sql parsing aggregator
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_add_known_query_lineage.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_rename.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_rename_with_temp.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_swap.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_swap_with_temp.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_utils.py
  metadata-ingestion/tests/unit/test_usage_common.py
Labels: ingestion, needs-review

#12269 docs(queries_v2): set use_queries_v2 to true in snowflake_recipe.yml
  metadata-ingestion/docs/sources/snowflake/snowflake_recipe.yml
Labels: ingestion, needs-review

#12268 feat(ingest/gc): truncate query usage statistics aspect
  metadata-ingestion/src/datahub/ingestion/source/gc/datahub_gc.py
Labels: ingestion, pending-submitter-merge

#12264 fix(ingest/tableau): retry on auth error for special case
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
Labels: ingestion, pending-submitter-merge

#12274 fix(ingest/gc): infinite loop query entities
  metadata-ingestion/src/datahub/ingestion/source/gc/soft_deleted_entity_cleanup.py
Labels: ingestion, pending-submitter-merge

#12275 fix(ingest/snowflake): use fast query fingerprint for lineage
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
Labels: ingestion, needs-review

#11956 fix(spark): Finegrained lineage is emitted on the DataJob and not on the emitted Datasets.
  metadata-integration/java/acryl-spark-lineage/README.md
  metadata-integration/java/acryl-spark-lineage/src/main/java/datahub/spark/DatahubEventEmitter.java
  metadata-integration/java/acryl-spark-lineage/src/main/java/datahub/spark/conf/SparkConfigParser.java
  metadata-integration/java/acryl-spark-lineage/src/main/java/datahub/spark/conf/SparkLineageConf.java
  metadata-integration/java/acryl-spark-lineage/src/test/java/datahub/spark/OpenLineageEventToDatahubTest.java
  metadata-integration/java/acryl-spark-lineage/src/test/resources/ol_events/map_partition_job.json
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/config/DatahubOpenlineageConfig.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/converter/OpenLineageToDataHub.java
  metadata-integration/java/openlineage-converter/src/main/java/io/datahubproject/openlineage/dataset/DatahubJob.java
Labels: ingestion, pending-submitter-merge

#12270 docs(tableau): clarify docs around tableau permissions
  metadata-ingestion/docs/sources/tableau/tableau_pre.md
Labels: ingestion, pending-submitter-merge

#12261 fix(ingestion/classifier): temporary measure to avoid deadlocks for classifier
  metadata-ingestion/docs/dev_guides/classification.md
  metadata-ingestion/src/datahub/ingestion/glossary/classifier.py
Labels: ingestion, pending-submitter-merge

#12278 feat(ingest/datahub): use stream_results with mysql
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/config.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_database_reader.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_source.py
Labels: ingestion, pending-submitter-merge

#12260 docs(business attribute): clarify support
  docs/businessattributes.md
Labels: docs, pending-submitter-merge

#12272 fix(ingest): better correctness on the emitter -> graph conversion
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/config.py
  metadata-ingestion/tests/unit/sdk/test_rest_emitter.py
Labels: ingestion, merge-pending-ci

#12284 feat(ingest): configurable query generation in combined sources
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion, pending-submitter-merge

#12291 ci: upload test coverage to codecov
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/prefect-plugin.yml
Labels: devops, pending-submitter-merge

#12280 log(elastic/index builder): add est time remaining
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/indexbuilder/ESIndexBuilder.java
Labels: product, pending-submitter-merge

#12288 fix(ingest/glue): don't fail on profile
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Labels: ingestion, pending-submitter-merge

#12292 fix(ingest/gc): also query data process instance
  metadata-ingestion/src/datahub/ingestion/source/gc/soft_deleted_entity_cleanup.py
Labels: ingestion, pending-submitter-merge

#12289 fix(cli): correct url ending with acryl.io:8080
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/tests/unit/cli/test_cli_utils.py
Labels: ingestion, pending-submitter-merge

#12293 dev: add pre-commit hooks installed by default
  .github/scripts/generate_pre_commit.py
  .github/scripts/pre-commit-override.yaml
  .pre-commit-config.yaml
  build.gradle
  settings.gradle
Labels: devops, pending-submitter-merge

#12297 fix(ingest/file-backed-collections): Properly set _use_sqlite_on_conflict
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_collections.py
Labels: ingestion, pending-submitter-merge

#12298 fix(doc): make folder_path_pattern usage more clear
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
Labels: ingestion, pending-submitter-merge

#12283 feat(sdk): structured properties - add support for listing
  docs/api/tutorials/structured-properties.md
  metadata-ingestion/examples/structured_properties/list_structured_properties.py
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  metadata-ingestion/src/datahub/cli/specific/structuredproperties_cli.py
  metadata-ingestion/tests/unit/structured_properties/test_structured_properties.py
  smoke-test/tests/structured_properties/test_structured_properties.py
Labels: ingestion, pending-submitter-merge

#12234 chore(tableau): set ingestion stage report and perftimers
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_report.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/usage.py
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra_profiling.py
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra_utils.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_reporting.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_source.py
  metadata-ingestion/src/datahub/ingestion/source/gc/datahub_gc.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/usage.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_usage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/src/datahub/ingestion/source_report/ingestion_stage.py
  metadata-ingestion/src/datahub/utilities/perf_timer.py
  metadata-ingestion/tests/performance/bigquery/test_bigquery_usage.py
  metadata-ingestion/tests/performance/databricks/test_unity.py
  metadata-ingestion/tests/performance/snowflake/test_snowflake.py
  metadata-ingestion/tests/performance/sql/test_sql_formatter.py
  metadata-ingestion/tests/unit/reporting/test_ingestion_stage.py
Labels: ingestion, pending-submitter-merge

#12306 build(coverage): fix carry-forward coverage
  .github/.codecov.yml
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/prefect-plugin.yml
  gradle/coverage/java-coverage.gradle
  gradle/coverage/python-coverage.gradle
Labels: devops, pending-submitter-merge

#12282 chore(deps): Migrate EOL vulnerability of javax.mail to jakarta.mail
  build.gradle
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  metadata-utils/build.gradle
Labels: community-contribution, devops, needs-review

#12302 chore(alpine): bump alpine images 3.21
  docker/datahub-frontend/Dockerfile
  docker/datahub-gms/Dockerfile
  docker/datahub-mae-consumer/Dockerfile
  docker/datahub-mce-consumer/Dockerfile
  docker/datahub-upgrade/Dockerfile
  docker/elasticsearch-setup/Dockerfile
  docker/mysql-setup/Dockerfile
  docker/mysql-setup/init.sh
  docker/postgres-setup/Dockerfile
Labels: devops, pending-submitter-merge

#12308 feat(ingest/datahub): support dropping duplicate schema fields
  metadata-ingestion/src/datahub/ingestion/source/datahub/config.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_source.py
Labels: ingestion, pending-submitter-merge

#12307 feat(ci): add manual trigger for full build
  .github/actions/ci-optimization/action.yml
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/prefect-plugin.yml
Labels: devops, pending-submitter-merge

#12312 fix(ci): make upload-artifact name unique
  .github/workflows/build-and-test.yml
Labels: devops, pending-submitter-merge

#12254 fix(ingestion/s3): groupby group-splitting issue
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_util.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/unit/s3/test_s3_source.py
  metadata-ingestion/tests/unit/s3/test_s3_util.py
Labels: ingestion, community-contribution, merge-pending-ci

#12290 docs(ingest/glue): add permissions for glue
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Labels: ingestion, needs-review

#12313 fix(ingest/gc): add delete limit execution request
  metadata-ingestion/src/datahub/ingestion/source/gc/execution_request_cleanup.py
  metadata-ingestion/src/datahub/ingestion/source/gc/soft_deleted_entity_cleanup.py
  metadata-service/configuration/src/main/resources/bootstrap_mcps/ingestion-datahub-gc.yaml
Labels: ingestion, devops, needs-review

#12305 chore(deps): Migrate CVE-2024-52046 with severity >= 9 (severity = 9.3) vulnerability of org.apache.mina:mina-core:2.2.3
  build.gradle
Labels: community-contribution, needs-review

#12319 fix(ci): fix artifact upload name
  .github/workflows/build-and-test.yml
Labels: devops

#12311 feat(sdk): support urns in other urn constructors
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/tests/unit/urns/test_urn.py
Labels: ingestion, pending-submitter-merge

#12309 fix(ingest): improve error reporting in `emit_all`
  metadata-ingestion/src/datahub/ingestion/graph/client.py
Labels: ingestion, pending-submitter-merge

#12300 docs(ingest): refactor docgen process
  docs-website/README.md
  docs-website/generateDocsDir.ts
  metadata-ingestion/docs/sources/metadata-file/file_recipe.yml
  metadata-ingestion/docs/sources/powerbi-report-server/powerbi-report-server_pre.md
  metadata-ingestion/docs/sources/powerbi-report-server/powerbi-report-server_recipe.yml
  metadata-ingestion/docs/sources/powerbi/powerbi-report-server_pre.md
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/scripts/docgen_types.py
  metadata-ingestion/scripts/docs_config_table.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server.py
Labels: ingestion, pending-submitter-merge

#12310 fix(dockerfile) Remove all references to jetty from the docker file
  docker/datahub-upgrade/Dockerfile
Labels: community-contribution, devops, merge-pending-ci

#10801 Add more notifications docs about platform notifications and multiple channels
  docs/managed-datahub/subscription-and-notification.md
Labels: docs, needs-review

#12323 fix(cli/delete): prevent duplicates in delete message
  metadata-ingestion/src/datahub/cli/delete_cli.py
  metadata-ingestion/src/datahub/cli/migrate.py
Labels: ingestion, pending-submitter-merge

#12317 feat(ingestion/iceberg): Improve iceberg connector logging
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_common.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg_profiler.py
Labels: ingestion, pending-submitter-merge

#12325 fix(ingest): tighten Source.create type annotations
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/src/datahub/ingestion/source/demo_data.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/unit/api/test_pipeline.py
Labels: ingestion, pending-submitter-merge

#12324 fix(ci): only upload metadata model on root repo
  .github/workflows/metadata-model.yml
Labels: devops, pending-submitter-merge

#12263 feat(models): update mlflow-related mappers
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/DataPlatformInstanceAspectMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/TimeStampToAuditStampMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/UrnToEntityMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataprocessinst/DataProcessInstanceType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataprocessinst/mappers/DataProcessInstanceMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeUrnMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelPropertiesMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/common/mappers/TimeStampToAuditStampMapperTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dataplatforminstance/mapper/DataPlatformInstanceAspectMapperTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dataprocessinst/DataProcessInstanceTypeTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dataprocessinst/mappers/DataProcessInstanceMapperTest.java
  datahub-web-react/src/app/buildEntityRegistry.ts
  datahub-web-react/src/app/entity/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entity/dataProcessInstance/preview/Preview.tsx
  datahub-web-react/src/graphql/dataProcessInstance.graphql
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/lineage.graphql
  datahub-web-react/src/graphql/mlModelGroup.graphql
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-models/src/main/pegasus/com/linkedin/ml/metadata/MLModelGroupProperties.pdl
  metadata-models/src/main/pegasus/com/linkedin/ml/metadata/MLModelLineageInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/ml/metadata/MLModelProperties.pdl
  metadata-service/configuration/src/main/java/com/linkedin/datahub/graphql/featureflags/FeatureFlags.java
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
  smoke-test/tests/data_process_instance/__init__.py
  smoke-test/tests/data_process_instance/test_data_process_instance.py
  smoke-test/tests/ml_models/__init__.py
  smoke-test/tests/ml_models/test_ml_models.py
Labels: product, devops, pending-submitter-merge

#12332 fix(ingest): support async_flag properly in ingestProposalBatch
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
Labels: ingestion, needs-review

#12321 fix(ingestion) fix snappy inconsistent version in ingestion
  build.gradle
Labels: community-contribution, devops, merge-pending-ci

#12337 Super type dbt redshift
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
  metadata-ingestion/tests/unit/test_dbt_source.py
Labels: ingestion, pending-submitter-merge

#12338 fix(docker) add new gradle profile for consumer debug purpose
  docker/build.gradle
Labels: community-contribution, devops, merge-pending-ci

#12342 feat(docker-profiles): version mixing & docs
  docker/build.gradle
  docker/profiles/README.md
  docker/profiles/docker-compose.gms.yml
Labels: devops, pending-submitter-merge

#12339 docs(async-api): addition to known issues
  docs/how/updating-datahub.md
Labels: docs, pending-submitter-merge

#11864 design: revamp navbar dropdown
  docs-website/docusaurus.config.js
  docs-website/src/components/CardDropdown/CardDropdown.tsx
  docs-website/src/components/CardDropdown/styles.module.scss
  docs-website/src/components/SolutionsDropdown/SolutionsDropdown.tsx
  docs-website/src/components/SolutionsDropdown/SolutionsDropdownContent/index.js
  docs-website/src/components/SolutionsDropdown/SolutionsDropdownContent/solutionsDropdownContent.js
  docs-website/src/components/SolutionsDropdown/SolutionsDropdownContent/styles.module.scss
  docs-website/src/components/SolutionsDropdown/styles.module.css
  docs-website/src/theme/Navbar/Content/index.tsx
  docs-website/src/theme/Navbar/Content/styles.module.css
  docs-website/src/theme/Navbar/communityCardDropdownContent.js
  docs-website/src/theme/Navbar/learnCardDropdownContent.js
  docs-website/static/img/icon-champions.png
  docs-website/static/img/icon-events.png
  docs-website/static/img/icon-forum.png
  docs-website/static/img/icon-join-slack.png
  docs-website/static/img/icon-share-your-journey.png
  docs-website/static/img/solutions/icon-dropdown-cloud.png
  docs-website/static/img/solutions/icon-dropdown-core.png
  docs-website/static/img/solutions/icon-dropdown-discovery.png
  docs-website/static/img/solutions/icon-dropdown-governance.png
  docs-website/static/img/solutions/icon-dropdown-observe.png
Labels: ingestion, pending-submitter-merge

#12346 chore(ingest): speed up lintFix command
  metadata-ingestion/build.gradle
  metadata-ingestion/developing.md
Labels: ingestion, pending-submitter-merge

#12347 feat(sdk): support urn types in Urn.from_string
  metadata-ingestion/src/datahub/utilities/urns/_urn_base.py
  metadata-ingestion/tests/unit/urns/test_urn.py
Labels: ingestion, pending-submitter-merge

#12355 docs(mssql): update mssql_recipe.yml to include convert_urn_to_lowerc…
  metadata-ingestion/docs/sources/mssql/mssql_recipe.yml
Labels: ingestion, needs-review

#12336 feat(ingest): add `num_queries_used_in_lineage` counter
  .gitignore
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
Labels: ingestion, pending-submitter-merge

#12360 chore(ci): truncate gh-pages branch history
  .github/workflows/documentation.yml
Labels: devops, pending-submitter-merge

#12359 dev(ingest): use ruff instead of flake8
  metadata-ingestion/build.gradle
  metadata-ingestion/developing.md
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.cfg
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_types.py
  metadata-ingestion/src/datahub/utilities/memory_footprint.py
  metadata-ingestion/tests/unit/utilities/test_cli_logging.py
  metadata-ingestion/tests/unit/utilities/test_lossy_collections.py
Labels: ingestion, pending-submitter-merge

#12365 fix(ingest/datahub): dataHubExecutionRequest default exclude
  metadata-ingestion/src/datahub/ingestion/source/datahub/config.py
Labels: ingestion, pending-submitter-merge

#12363 fix(ingest/gc): infinite loop in getting soft deleted counts
  metadata-ingestion/src/datahub/ingestion/source/gc/datahub_gc.py
  metadata-ingestion/src/datahub/ingestion/source/gc/soft_deleted_entity_cleanup.py
Labels: ingestion, pending-submitter-merge

#12366 feat(cli): for python > 3.11 log a warning
  metadata-ingestion/src/datahub/entrypoints.py
Labels: ingestion, pending-submitter-merge

#12320 fix(ingest/tableau): Fix TableauUpstream create check
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-ingestion/tests/unit/test_tableau_source.py
Labels: ingestion, pending-submitter-merge

#12354 feat(tableau): fine-grained page size
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/tests/integration/tableau/test_tableau_ingest.py
  metadata-ingestion/tests/unit/test_tableau_source.py
Labels: ingestion, pending-submitter-merge

#12367 fix(sdk): cleanup empty secret names
  metadata-ingestion/src/datahub/secret/datahub_secrets_client.py
Labels: ingestion, pending-submitter-merge

#12057 feat(ui-plugin) - Allow custom userContext states to be added
  datahub-web-react/src/app/context/CustomUserContext.tsx
  datahub-web-react/src/app/context/userContext.tsx
Labels: community-contribution, product, merge-pending-ci

#11803 Enhancements to the user pic list selection within entities
  datahub-web-react/src/app/entity/shared/containers/profile/sidebar/Ownership/EditOwnersModal.tsx
  datahub-web-react/src/app/shared/OwnerLabel.tsx
  datahub-web-react/src/graphql/search.graphql
Labels: community-contribution, product, datahub-community-champion, needs-review

#12232 Fix(UI): Move setUpdatedName call inside updateName promise in Dataset name edit
  datahub-web-react/src/app/entity/shared/containers/profile/header/EntityName.tsx
Labels: community-contribution, product, needs-review

#12150 feat(datahub) Remove serialVersionUID from constructor
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
Labels: community-contribution, product, needs-review

#12358 feat(graphql/versioning): Add versioning support to graphql; mutations return version set
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/Constants.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/config/AppConfigResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/versioning/LinkAssetVersionResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/versioning/UnlinkAssetVersionResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/versioning/VersionsSearchResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/SearchFlagsInputMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/UrnToEntityMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/DatasetType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/versioning/VersionPropertiesMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/versioning/VersionSetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/versioning/VersionSetType.java
  datahub-graphql-core/src/main/resources/app.graphql
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/main/resources/versioning.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/entity/versioning/LinkAssetVersionResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/entity/versioning/UnlinkAssetVersionResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/versioning/VersionsSearchResolverTest.java
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/appConfigContext.tsx
  datahub-web-react/src/graphql/app.graphql
  datahub-web-react/src/graphql/dataset.graphql
  datahub-web-react/src/graphql/mlModel.graphql
  datahub-web-react/src/graphql/preview.graphql
  datahub-web-react/src/graphql/search.graphql
  datahub-web-react/src/graphql/versioning.graphql
Labels: product, pending-submitter-merge

#12373 dev(ingest): move modules from isort,flake8 to ruff
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion-modules/airflow-plugin/pyproject.toml
  metadata-ingestion-modules/airflow-plugin/setup.cfg
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_config.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_datahub_ol_adapter.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_extractors.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/client/airflow_generator.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_listener.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin_v22.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/entities.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/example_dags/generic_recipe_sample_dag.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/example_dags/graph_usage_sample_dag.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/example_dags/lineage_emission_dag.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/hooks/datahub.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/lineage/_lineage_core.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/operators/datahub.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/operators/datahub_assertion_operator.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/operators/datahub_assertion_sensor.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/operators/datahub_operation_operator.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/operators/datahub_operation_sensor.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/dags/datahub_emitter_operator_jinja_template_dag.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_airflow.py
  metadata-ingestion-modules/airflow-plugin/tests/unit/test_packaging.py
  metadata-ingestion-modules/dagster-plugin/build.gradle
  metadata-ingestion-modules/dagster-plugin/pyproject.toml
  metadata-ingestion-modules/dagster-plugin/setup.cfg
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/client/dagster_generator.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/sensors/datahub_sensors.py
  metadata-ingestion-modules/dagster-plugin/tests/unit/test_dagster.py
  metadata-ingestion-modules/gx-plugin/pyproject.toml
  metadata-ingestion-modules/prefect-plugin/pyproject.toml
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/api/entities/dataproduct/dataproduct.py
  metadata-ingestion/src/datahub/ingestion/source/abs/source.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_api.py
  metadata-ingestion/src/datahub/ingestion/source/neo4j/neo4j_source.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/src/datahub/ingestion/source/schema/json_schema.py
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/testing/mcp_diff.py
  metadata-ingestion/src/datahub/utilities/sqllineage_patch.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
  metadata-ingestion/tests/performance/data_generation.py
  smoke-test/pyproject.toml
Labels: ingestion, smoke_test, merge-pending-ci

#12374 feat(docs): Add release docs for 0.15.0
  datahub-web-react/src/app/ingest/source/builder/NameSourceStep.tsx
  docs/api/datahub-apis.md
  docs/how/updating-datahub.md
  gradle/versioning/versioning.gradle
Labels: docs, product, pending-submitter-merge

#12375 dev: move from flake8,isort to ruff
  .github/scripts/pre-commit-override.yaml
  .pre-commit-config.yaml
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/gx-plugin/build.gradle
  metadata-ingestion-modules/gx-plugin/pyproject.toml
  metadata-ingestion-modules/gx-plugin/setup.cfg
  metadata-ingestion-modules/gx-plugin/setup.py
  metadata-ingestion-modules/gx-plugin/src/datahub_gx_plugin/action.py
  metadata-ingestion-modules/gx-plugin/tests/integration/test_great_expectations.py
  metadata-ingestion-modules/gx-plugin/tests/unit/test_great_expectations_action.py
  metadata-ingestion-modules/prefect-plugin/build.gradle
  metadata-ingestion-modules/prefect-plugin/pyproject.toml
  metadata-ingestion-modules/prefect-plugin/setup.cfg
  metadata-ingestion-modules/prefect-plugin/setup.py
  metadata-ingestion-modules/prefect-plugin/src/prefect_datahub/datahub_emitter.py
  metadata-ingestion-modules/prefect-plugin/src/prefect_datahub/entities.py
  metadata-ingestion-modules/prefect-plugin/tests/unit/test_datahub_emitter.py
  metadata-ingestion/setup.py
  smoke-test/build.gradle
  smoke-test/pyproject.toml
  smoke-test/requirements.txt
  smoke-test/tests/aspect_generators/timeseries/dataset_profile_gen.py
  smoke-test/tests/assertions/assertions_test.py
  smoke-test/tests/assertions/custom_assertions_test.py
  smoke-test/tests/cli/datahub_cli.py
  smoke-test/tests/cli/datahub_graph_test.py
  smoke-test/tests/cli/delete_cmd/test_timeseries_delete.py
  smoke-test/tests/cli/ingest_cmd/test_timeseries_rollback.py
  smoke-test/tests/cli/user_groups_cmd/test_group_cmd.py
  smoke-test/tests/cli/user_groups_cmd/test_user_cmd.py
  smoke-test/tests/cypress/integration_test.py
  smoke-test/tests/data_process_instance/test_data_process_instance.py
  smoke-test/tests/database/test_database.py
  smoke-test/tests/dataproduct/test_dataproduct.py
  smoke-test/tests/delete/delete_test.py
  smoke-test/tests/lineage/test_lineage.py
  smoke-test/tests/ml_models/test_ml_models.py
  smoke-test/tests/patch/test_datajob_patches.py
  smoke-test/tests/patch/test_dataset_patches.py
  smoke-test/tests/platform_resources/test_platform_resource.py
  smoke-test/tests/restli/restli_test.py
  smoke-test/tests/schema_fields/schema_evolution.py
  smoke-test/tests/schema_fields/test_schemafields.py
  smoke-test/tests/setup/lineage/ingest_data_job_change.py
  smoke-test/tests/setup/lineage/ingest_dataset_join_change.py
  smoke-test/tests/setup/lineage/ingest_input_datasets_change.py
  smoke-test/tests/setup/lineage/ingest_time_lineage.py
  smoke-test/tests/setup/lineage/utils.py
  smoke-test/tests/structured_properties/test_structured_properties.py
  smoke-test/tests/test_stateful_ingestion.py
  smoke-test/tests/timeline/timeline_test.py
  smoke-test/tests/tokens/revokable_access_token_test.py
  smoke-test/tests/tokens/session_access_token_test.py
  smoke-test/tests/utils.py
Labels: ingestion, pending-submitter-merge

#12376 build: create dependabot.yml to update github actions
  .github/dependabot.yml
Labels: devops, pending-submitter-merge

#12380 feat(ingest): add strict_env_syntax mode to config loader
  metadata-ingestion/src/datahub/configuration/config_loader.py
  metadata-ingestion/src/datahub/secret/secret_common.py
  metadata-ingestion/tests/unit/config/test_config_loader.py
Labels: ingestion, pending-submitter-merge

#12382 fix(ingest): simplify + fix ruff config
  metadata-ingestion/build.gradle
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/api/entities/corpgroup/corpgroup.py
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_boto_utils.py
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_patch.py
Labels: ingestion, needs-review

#12314 fix(ingest/fivetran): Add way to not add schema to the destination/source urn.
  metadata-ingestion/src/datahub/ingestion/source/fivetran/config.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran.py
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_empty_connection_user_golden.json
  metadata-ingestion/tests/integration/fivetran/fivetran_snowflake_golden.json
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion, needs-review

#12353 fix(ingest/redshift): Fix query sequence duplication
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
Labels: ingestion, pending-submitter-merge

#11879 fix(ingestion): fix stateful ingestion for GCS source
  metadata-ingestion/src/datahub/ingestion/source/gcs/gcs_source.py
  metadata-ingestion/tests/unit/test_gcs_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#12247 feat(cli/delete): add --urn-file option
  metadata-ingestion/src/datahub/cli/delete_cli.py
  smoke-test/tests/cli/delete_cmd/test_timeseries_delete.py
Labels: ingestion, pending-submitter-merge

#12406 fix(graphql): removed duplicated entity in EntityTypeUrnMapper
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeUrnMapper.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeMapperTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeUrnMapperTest.java
Labels: community-contribution, product, needs-review

#12403 fix(ingestion): groupby_unsorted
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive_metastore.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
  metadata-ingestion/src/datahub/sql_parsing/sql_parsing_aggregator.py
  metadata-ingestion/src/datahub/utilities/groupby.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_overlapping_inserts.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_overlapping_inserts_from_temp_tables.json
  metadata-ingestion/tests/unit/utilities/test_utilities.py
Labels: ingestion, pending-submitter-merge

#12413 fix(ingest/redshift): example recipe fix
  metadata-ingestion/docs/sources/redshift/redshift_recipe.yml
Labels: ingestion, merge-pending-ci

#12419 fix(smoke): fix lint failure
  smoke-test/tests/structured_properties/test_structured_properties.py
Labels: smoke_test, pending-submitter-merge

#12408 fix(ci): remove platform from dataprocessinstance gql
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataprocessinst/mappers/DataProcessInstanceMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dataprocessinst/mappers/DataProcessInstanceMapperTest.java
  datahub-web-react/src/app/entity/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/graphql/dataProcessInstance.graphql
  docs/how/updating-datahub.md
  smoke-test/tests/data_process_instance/test_data_process_instance.py
Labels: smoke_test, pending-submitter-merge

#12425 fix(frontend): fix frontend build
  datahub-web-react/src/app/entity/dataProcessInstance/DataProcessInstanceEntity.tsx
Labels: product, pending-submitter-merge

#12412 refactor(ingest/s3): use groupby_unsorted
  metadata-ingestion/src/datahub/ingestion/source/aws/s3_util.py
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/unit/s3/test_s3_util.py
Labels: ingestion, community-contribution, merge-pending-ci

#12402 docs(docker): fix typo in docker hub url
  docker/README.md
Labels: community-contribution, devops, merge-pending-ci

#12418 feat(cli): add container CLI to apply patches for tag, term, owner
  docs/cli.md
  metadata-ingestion/src/datahub/cli/container_cli.py
  metadata-ingestion/src/datahub/entrypoints.py
Labels: ingestion, pending-submitter-merge

#12322 fix(search filter): termQuery is optimal
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AutocompleteRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
Labels: product, pending-submitter-merge

#12437 docs(): Add docs for DataHub Cloud x DataHub Actions
  docs/actions/README.md
  docs/actions/sources/datahub-cloud-event-source.md
Labels: pending-submitter-response, docs

#12439 misc(test): increase test memory slightly
  metadata-io/src/test/java/io/datahubproject/test/search/SearchTestContainer.java
Labels: product, pending-submitter-merge

#12244 feat(ingest/mssql): populate dataTransformLogic aspect for stored procs
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
Labels: ingestion, pending-submitter-merge

#12423 feat(sdk): add ContainerKey.parent_key method
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/tests/unit/sdk/test_mcp_builder.py
Labels: ingestion, pending-submitter-merge

#12426 feat(sdk): support qualified urn names in simple urn constructors
  metadata-ingestion/scripts/avro_codegen.py
  metadata-ingestion/tests/unit/urns/test_urn.py
Labels: ingestion, merge-pending-ci

#12441 fix(ci): reduce parallelism
  .github/workflows/docker-unified.yml
Labels: devops

#12404 fix(smoke-test) add smoke test for restli ingestProposalBatch
  smoke-test/tests/restli/test_restli_batch_ingestion.py
Labels: community-contribution, smoke_test, merge-pending-ci

#12422 feat(sdk): improve docs + code clarity
  metadata-ingestion/src/datahub/emitter/enum_helpers.py
  metadata-ingestion/src/datahub/emitter/mce_builder.py
  metadata-ingestion/src/datahub/ingestion/api/decorators.py
  metadata-ingestion/src/datahub/ingestion/api/sink.py
  metadata-ingestion/src/datahub/ingestion/api/source.py
  metadata-ingestion/src/datahub/utilities/urns/_urn_base.py
Labels: ingestion, pending-submitter-merge

#12431 refactor(powerbi): dashboards, reports and independent_datasets accessed by id
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion, pending-submitter-merge

#12436 feat(ingest(cli): add domain helper, add progressbar
  docs/cli.md
  metadata-ingestion/src/datahub/cli/container_cli.py
Labels: ingestion, docs, pending-submitter-merge

#12401 fix(slack source): Add retries to pulling information from DataHub
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/slack/slack.py
Labels: ingestion, needs-review

#12447 fix(build): include LICENSE with package
  metadata-ingestion/LICENSE
Labels: ingestion, pending-submitter-merge

#12449 fix(ingest/glue): add try catch
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Labels: ingestion, pending-submitter-merge

#12271 DataHub Cloud release notes v0.3.8
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_3_8.md
Labels: docs, pending-submitter-merge

#12452 docs(ingest/tableau): clarify impact of lower permissions
  metadata-ingestion/docs/sources/tableau/tableau_pre.md
Labels: ingestion, pending-submitter-merge

#12453 Adding smoke test for batch ingestion throwing exception
  smoke-test/tests/restli/restli_test.py
  smoke-test/tests/restli/test_restli_batch_ingestion.py
Labels: community-contribution, smoke_test, merge-pending-ci

#12450 fix(docs): Add links to new datahub cloud event source
  docs/actions/sources/datahub-cloud-event-source.md
  docs/managed-datahub/datahub-api/entity-events-api.md
Labels: docs, pending-submitter-merge

#12424 fix(cli): ignore prereleases when suggesting upgrades
  metadata-ingestion/src/datahub/upgrade/upgrade.py
Labels: ingestion, pending-submitter-merge

#12442 fix(ingest/clickhouse): remove unused lineage_properties code path
  metadata-ingestion/src/datahub/ingestion/source/sql/clickhouse.py
Labels: ingestion, pending-submitter-merge

#11165 Fetch Data Products always from the network
  datahub-web-react/src/app/entity/domain/DataProductsTab/DataProductsTab.tsx
Labels: community-contribution, product, merge-pending-ci

#12430 fix(ingest): fix reporting for missing secure view lineage
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
Labels: ingestion, pending-submitter-merge

#12456 feat(sdk): move version info to dedicated file
  docker/datahub-ingestion-base/smoke.Dockerfile
  docker/datahub-ingestion/Dockerfile
  docker/datahub-ingestion/Dockerfile-slim-only
  metadata-ingestion-modules/airflow-plugin/.gitignore
  metadata-ingestion-modules/airflow-plugin/scripts/release.sh
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/__init__.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_version.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin.py
  metadata-ingestion-modules/dagster-plugin/.gitignore
  metadata-ingestion-modules/dagster-plugin/scripts/release.sh
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/__init__.py
  metadata-ingestion-modules/dagster-plugin/src/datahub_dagster_plugin/_version.py
  metadata-ingestion-modules/gx-plugin/.gitignore
  metadata-ingestion-modules/gx-plugin/scripts/release.sh
  metadata-ingestion-modules/gx-plugin/setup.py
  metadata-ingestion-modules/gx-plugin/src/datahub_gx_plugin/__init__.py
  metadata-ingestion-modules/gx-plugin/src/datahub_gx_plugin/_version.py
  metadata-ingestion-modules/prefect-plugin/.gitignore
  metadata-ingestion-modules/prefect-plugin/scripts/release.sh
  metadata-ingestion-modules/prefect-plugin/setup.py
  metadata-ingestion-modules/prefect-plugin/src/prefect_datahub/__init__.py
  metadata-ingestion-modules/prefect-plugin/src/prefect_datahub/_version.py
  metadata-ingestion/.gitignore
  metadata-ingestion/scripts/release.sh
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/__init__.py
  metadata-ingestion/src/datahub/_version.py
  metadata-ingestion/src/datahub/cli/check_cli.py
  metadata-ingestion/src/datahub/cli/cli_utils.py
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/emitter/rest_emitter.py
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/api/registry.py
  metadata-ingestion/src/datahub/ingestion/reporting/datahub_ingestion_run_summary_provider.py
  metadata-ingestion/src/datahub/ingestion/run/connection.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/telemetry/telemetry.py
  metadata-ingestion/src/datahub/testing/check_imports.py
  metadata-ingestion/src/datahub/upgrade/upgrade.py
  metadata-ingestion/tests/unit/test_packages.py
  metadata-ingestion/tests/unit/test_packaging.py
  python-build/generate_release_scripts.py
Labels: ingestion, devops, pending-submitter-merge

#12463 misc(search-explain): set default value
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/OperationsController.java
Labels: devops, pending-submitter-merge

#12351 fix(lookml/ingestion): Skip unreferenced or improperly loaded Lookml view files
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/lookml/lkml_unreachable_views/data.model.lkml
  metadata-ingestion/tests/integration/lookml/lkml_unreachable_views/employee_income_source.view.lkml
  metadata-ingestion/tests/integration/lookml/lkml_unreachable_views/employee_total_income.view.lkml
  metadata-ingestion/tests/integration/lookml/lkml_unreachable_views/unreachable_view.view.lkml
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion, merge-pending-ci

#12459 docs: add beta labels for Automation
  docs/automations/bigquery-metadata-sync.md
  docs/automations/docs-propagation.md
  docs/automations/glossary-term-propagation.md
  docs/automations/snowflake-tag-propagation.md
Labels: docs, pending-submitter-merge

#12470 fix(ingest/glue): add info in report
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Labels: ingestion, pending-submitter-merge

#12472 gql: add data platform instance to search fragment
  datahub-web-react/src/graphql/search.graphql
Labels: product, pending-submitter-merge

#12277 feat(ingestion/lookml): resolve access notation for LookML Constant
  metadata-ingestion/docs/sources/looker/looker_recipe.yml
  metadata-ingestion/docs/sources/looker/lookml_post.md
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_dataclasses.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_file_loader.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_template_language.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/tests/integration/lookml/test_lookml.py
  metadata-ingestion/tests/integration/lookml/vv-lineage-and-liquid-templates/data.model.lkml
  metadata-ingestion/tests/integration/lookml/vv-lineage-and-lookml-constant/data.model.lkml
  metadata-ingestion/tests/integration/lookml/vv-lineage-and-lookml-constant/manifest.lkml
  metadata-ingestion/tests/integration/lookml/vv-lineage-and-lookml-constant/star_award_winner.view.lkml
  metadata-ingestion/tests/integration/lookml/vv-lineage-and-lookml-constant/star_award_winner_dev.view.lkml
  metadata-ingestion/tests/integration/lookml/vv_lineage_lookml_constant_golden.json
Labels: ingestion, merge-pending-ci

#12438 feat(snowflake): set is_temp_table and is_allowed_table function for SqlParsingAggregator in SnowflakeV2Source
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion, pending-submitter-merge

#12448 feature(ingestion/lookml): Report view file missing/parsing errors as warnings
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_file_loader.py
Labels: ingestion, pending-submitter-merge

#12466 fix(ci): fix datahub-ingestion release/tag publishing
  .github/workflows/docker-unified.yml
  docker/datahub-ingestion-base/build.gradle
  docker/datahub-ingestion/build.gradle
Labels: devops, publish-docker, pending-submitter-merge, release-1.0

#12334 feat: update ml system UI
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelGroupPropertiesMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelPropertiesMapper.java
  datahub-graphql-core/src/main/resources/lineage.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelGroupPropertiesMapperTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/mlmodel/mappers/MLModelPropertiesMapperTest.java
  datahub-web-react/src/app/entity/EntityPage.tsx
  datahub-web-react/src/app/entity/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entity/dataProcessInstance/preview/Preview.tsx
  datahub-web-react/src/app/entity/dataProcessInstance/profile/DataProcessInstanceSummary.tsx
  datahub-web-react/src/app/entity/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entity/mlModel/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlModel/profile/MLModelSummary.tsx
  datahub-web-react/src/app/entity/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entity/mlModelGroup/preview/Preview.tsx
  datahub-web-react/src/app/entity/mlModelGroup/profile/ModelGroupModels.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchSection.tsx
  datahub-web-react/src/app/entity/shared/constants.ts
  datahub-web-react/src/app/preview/DataProcessInstanceRightColumn.tsx
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/app/shared/time/timeUtils.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/lineage.graphql
  datahub-web-react/src/graphql/mlModel.graphql
  datahub-web-react/src/graphql/search.graphql
Labels: product, pending-submitter-merge

#12398 feat(ingestion/airflow): Add support for mutiple datahub emitter
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/_config.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/datahub_plugin_v22.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/hooks/datahub.py
  metadata-ingestion-modules/airflow-plugin/tests/integration/test_plugin.py
  metadata-ingestion/src/datahub/emitter/composite_emitter.py
  metadata-ingestion/tests/unit/datahub/emitter/test_composite_emitter.py
Labels: ingestion, pending-submitter-merge

#12482 feat(ingest): add datahub apply source
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/cli/container_cli.py
  metadata-ingestion/src/datahub/ingestion/source/apply/__init__.py
  metadata-ingestion/src/datahub/ingestion/source/apply/datahub_apply.py
Labels: ingestion, pending-submitter-merge

#12476 feat(sdk): data process instance - container, subtype, dataplatformin…
  metadata-ingestion/src/datahub/api/entities/dataprocess/dataprocess_instance.py
  metadata-ingestion/tests/unit/api/entities/dataprocess/test_data_process_instance.py
Labels: pending-submitter-response, ingestion

#12487 docs: add ai integration tutorials and sample scripts
  docs-website/sidebars.js
  docs/api/tutorials/ml.md
  docs/api/tutorials/ml_feature_store.md
  metadata-ingestion/examples/ai/dh_ai_client.py
  metadata-ingestion/examples/ai/dh_ai_client_sample.py
Labels: ingestion, pending-submitter-merge

#12416 refactor(operation_config): change logging on is_profiling_enabled
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_config.py
  metadata-ingestion/src/datahub/ingestion/source_config/operation_config.py
Labels: ingestion, community-contribution, merge-pending-ci

#12484 feat(docs) assertion execution behavior
  docs/managed-datahub/observe/assertions.md
Labels: docs, community-contribution, merge-pending-ci

#12465 feat(ingest/dbt-core): support fetching using the s3a protocol
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
Labels: ingestion, community-contribution, merge-pending-ci

#12499 feat(dataProcessInstance): Support data process instance entity page and lineage
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/DataPlatformInstanceAspectMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataprocessinst/DataProcessInstanceType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataprocessinst/mappers/DataProcessInstanceMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dataprocessinst/DataProcessInstanceTypeTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dataprocessinst/mappers/DataProcessInstanceMapperTest.java
  datahub-web-react/src/app/entity/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entityV2/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entityV2/dataProcessInstance/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearchSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/DefaultEntityHeader.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarEntityHeader.tsx
  datahub-web-react/src/app/ingest/source/builder/constants.ts
  datahub-web-react/src/app/lineageV2/LineageExplorer.tsx
  datahub-web-react/src/app/lineageV2/LineageFilterNode/computeOrFilters.ts
  datahub-web-react/src/app/lineageV2/LineageFilterNode/useFetchFilterNodeContents.ts
  datahub-web-react/src/app/lineageV2/LineageTransformationNode/LineageTransformationNode.tsx
  datahub-web-react/src/app/lineageV2/NodeBuilder.ts
  datahub-web-react/src/app/lineageV2/common.ts
  datahub-web-react/src/app/lineageV2/controls/LineageControls.tsx
  datahub-web-react/src/app/lineageV2/controls/LineageSearchFilters.tsx
  datahub-web-react/src/app/lineageV2/pruneAllDuplicateEdges.ts
  datahub-web-react/src/app/lineageV2/useBulkEntityLineage.ts
  datahub-web-react/src/app/lineageV2/useColumnHighlighting.ts
  datahub-web-react/src/app/lineageV2/useComputeGraph/filterNodes.ts
  datahub-web-react/src/app/lineageV2/useComputeGraph/getDisplayedNodes.ts
  datahub-web-react/src/app/lineageV2/useComputeGraph/useComputeGraph.tsx
  datahub-web-react/src/app/lineageV2/useSearchAcrossLineage.ts
  datahub-web-react/src/app/previewV2/EntityHeader.tsx
  datahub-web-react/src/graphql/dataProcessInstance.graphql
  datahub-web-react/src/graphql/lineage.graphql
  datahub-web-react/src/images/mlflowlogo2.png
  metadata-ingestion/tests/integration/openapi/openapi_mces_golden.json
  metadata-ingestion/tests/integration/openapi/openapi_to_file.yml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/data-platforms.yaml
  smoke-test/tests/cypress/cypress/e2e/lineageV2/v2_lineage_column_level.js
Labels: ingestion, product, devops, smoke_test, pending-submitter-merge

#12501 docs: change heading of ingestion page
  docs/ui-ingestion.md
Labels: docs, pending-submitter-merge

#12434 fix(tableau): fixes missed lineage
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
Labels: ingestion, pending-submitter-merge

#12503 fix(test): fix metadata-io test
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
Labels: product, pending-submitter-merge

#12504 fix(ci): disable ci telemetry modelDocUpload
  .github/workflows/metadata-model.yml
Labels: devops, pending-submitter-merge

#12508 docs(ingest/mode): add details on authentication/permissions for mode
  metadata-ingestion/docs/sources/mode/mode.md
  metadata-ingestion/docs/sources/mode/mode_pre.md
Labels: ingestion, pending-submitter-merge

#12469 fix(ingest/snowflake): Create all structured propery templates before assignation
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_tag.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_tag.py
Labels: ingestion, needs-review

#12511 docs: fix token to be not required in sample script
  metadata-ingestion/examples/ai/dh_ai_client.py
  metadata-ingestion/examples/ai/dh_ai_client_sample.py
Labels: ingestion, pending-submitter-merge

#12483 fix(mssql): adds missing containers and browsepathsv2 for dataflow and datajob
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_no_db_with_filter.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_to_file.json
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_with_lower_case_urn.json
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_to_file.yml
Labels: ingestion, pending-submitter-merge

#12519 fix(ingest/glue): change to warning on access denied
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
Labels: ingestion, pending-submitter-merge

#12520 fix(ingest/mode): remove unused field
  metadata-ingestion/src/datahub/ingestion/source/mode.py
Labels: ingestion, pending-submitter-merge
