Repository datahub-project/datahub, pull requests merged in 2025-08, with the labels that each got.

#14294 feat(lineage): downloaded filename contains entity name
  datahub-web-react/src/app/lineageV2/controls/DownloadLineageScreenshotButton.tsx
  datahub-web-react/src/app/lineageV2/controls/__tests__/DownloadLineageScreenshotButton.test.tsx
  datahub-web-react/src/app/lineageV3/controls/DownloadLineageScreenshotButton.tsx
  datahub-web-react/src/app/lineageV3/controls/__tests__/DownloadLineageScreenshotButton.test.tsx
  datahub-web-react/src/app/lineageV3/utils/lineageUtils.ts
Labels: product, pending-submitter-merge

#14295 ci(cypress): fix Cypress flakes
  smoke-test/tests/cypress/cypress/e2e/mutations/edit_documentation.js
  smoke-test/tests/cypress/cypress/e2e/ownership/manage_ownership.js
Labels: smoke_test, pending-submitter-merge

#14218 ci(cypress): remove flaky v1 test
  smoke-test/tests/cypress/cypress/e2e/glossary/glossary_navigation.js
Labels: community-contribution, smoke_test, merge-pending-ci

#14289 feat(ingest/lookml): Lookml incremental expression support
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_liquid_tag.py
  metadata-ingestion/tests/integration/lookml/test_lookml.py
Labels: ingestion, pending-submitter-merge

#14279 fix(ingest): add missing capability markers
  metadata-ingestion/scripts/capability_summary.py
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
  metadata-ingestion/src/datahub/ingestion/source/abs/source.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_source.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_source.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/src/datahub/ingestion/source/sql/hive_metastore.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
  metadata-ingestion/src/datahub/ingestion/source/sql/trino.py
Labels: ingestion, pending-submitter-merge

#14306 feat(meta-mapping): support meta mappings of lists
  metadata-ingestion/docs/sources/dbt/dbt.md
  metadata-ingestion/src/datahub/utilities/mapping.py
  metadata-ingestion/tests/unit/test_mapping.py
Labels: ingestion, pending-submitter-merge

#14307 ci(checkout): selectively merge master with pr branch
  .github/workflows/airflow-plugin.yml
  .github/workflows/build-and-test.yml
  .github/workflows/check-datahub-jars.yml
  .github/workflows/code-checks.yml
  .github/workflows/dagster-plugin.yml
  .github/workflows/docker-ingestion-smoke.yml
  .github/workflows/docker-unified.yml
  .github/workflows/github-actions-format.yml
  .github/workflows/gx-plugin.yml
  .github/workflows/lint-actions.yml
  .github/workflows/markdown-format.yml
  .github/workflows/metadata-ingestion.yml
  .github/workflows/metadata-io.yml
  .github/workflows/metadata-model.yml
  .github/workflows/prefect-plugin.yml
  .github/workflows/publish-datahub-jars.yml
  .github/workflows/python-build-pages.yml
  .github/workflows/react-cloudflare-pages.yml
  .github/workflows/spark-smoke-test.yml
  .github/workflows/yaml-format.yml
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
Labels: devops, pending-submitter-merge

#14191 fix(oracle): create libaio.so.1 symbolic link
  docker/snippets/oracle_instantclient.sh
Labels: community-contribution, devops, merge-pending-ci

#14309 Upgrading the spring version
  build.gradle
Labels: community-contribution, needs-review

#14284 fix(ui): Fix compact view styling; fix context path link overflow; standardize type icons in context path
  datahub-web-react/src/app/entityV2/Access/RoleEntity.tsx
  datahub-web-react/src/app/entityV2/application/ApplicationEntity.tsx
  datahub-web-react/src/app/entityV2/businessAttribute/BusinessAttributeEntity.tsx
  datahub-web-react/src/app/entityV2/chart/ChartEntity.tsx
  datahub-web-react/src/app/entityV2/container/ContainerEntity.tsx
  datahub-web-react/src/app/entityV2/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entityV2/dataContract/DataContractEntity.tsx
  datahub-web-react/src/app/entityV2/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entityV2/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entityV2/dataPlatform/DataPlatformEntity.tsx
  datahub-web-react/src/app/entityV2/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entityV2/dataProduct/DataProductEntity.tsx
  datahub-web-react/src/app/entityV2/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entityV2/domain/DomainEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entityV2/group/Group.tsx
  datahub-web-react/src/app/entityV2/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entityV2/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entityV2/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entityV2/mlPrimaryKey/MLPrimaryKeyEntity.tsx
  datahub-web-react/src/app/entityV2/query/QueryEntity.tsx
  datahub-web-react/src/app/entityV2/schemaField/SchemaFieldEntity.tsx
  datahub-web-react/src/app/entityV2/shared/components/subtypes.tsx
  datahub-web-react/src/app/entityV2/structuredProperty/StructuredPropertyEntity.tsx
  datahub-web-react/src/app/entityV2/tag/Tag.tsx
  datahub-web-react/src/app/entityV2/user/User.tsx
  datahub-web-react/src/app/previewV2/ColoredBackgroundPlatformIconGroup.tsx
  datahub-web-react/src/app/previewV2/CompactView.tsx
  datahub-web-react/src/app/previewV2/ContextPath.tsx
  datahub-web-react/src/app/previewV2/ContextPathEntry.tsx
Labels: product, pending-submitter-merge

#14317 chore(kafka-setup): migrate from confluent image to alpine
  docker/kafka-setup/Dockerfile
  docker/kafka-setup/build.gradle
Labels: devops, pending-submitter-merge

#14313 test(cli/upgrade): add unit test for check upgrade
  metadata-ingestion/CLAUDE.md
  metadata-ingestion/tests/unit/cli/test_check_upgrade.py
Labels: ingestion, pending-submitter-merge

#14322 fix(ingest/api): External tag (UnityTag, LakeFormationTag) fixes
  metadata-ingestion/src/datahub/api/entities/external/external_tag.py
  metadata-ingestion/src/datahub/api/entities/external/lake_formation_external_entites.py
  metadata-ingestion/src/datahub/api/entities/external/restricted_text.py
  metadata-ingestion/src/datahub/api/entities/external/unity_catalog_external_entites.py
  metadata-ingestion/src/datahub/ingestion/source/aws/glue.py
  metadata-ingestion/src/datahub/ingestion/source/aws/tag_entities.py
  metadata-ingestion/src/datahub/ingestion/source/unity/tag_entities.py
  metadata-ingestion/tests/unit/api/entities/external/test_restrictions.py
  metadata-ingestion/tests/unit/glue/glue_mces_lake_formation_tags_golden.json
Labels: ingestion, pending-submitter-merge

#14340 fix(openapi): Generic entities upsert applies all changes transaction…
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
Labels: community-contribution, devops, merge-pending-ci

#14336 feat(ingest/sdkv2): Add way to pass in emit_mode to entity client update and upsert
  metadata-ingestion/src/datahub/sdk/entity_client.py
  metadata-ingestion/tests/unit/sdk_v2/test_entity_client.py
Labels: ingestion, pending-submitter-merge

#14337 feat(ingest/profiler): use approx_count_distinct on Databricks
  metadata-ingestion/src/datahub/ingestion/source/ge_data_profiler.py
Labels: ingestion, needs-review

#13856 Issue-13594: Show database and schema.
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/lineage/__tests__/LineageEntityView.empty.test.tsx
  datahub-web-react/src/app/lineage/__tests__/LineageEntityView.test.tsx
  datahub-web-react/src/app/lineage/manage/ContainerView.tsx
  datahub-web-react/src/app/lineage/manage/EntityEdge.tsx
  datahub-web-react/src/app/lineage/manage/LineageEntityView.tsx
Labels: community-contribution, product, merge-pending-ci

#14332 feat(irc): report partition key field info
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/TableOrViewOpsDelegate.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/TableOpsDelegateTest.java
Labels: ingestion, devops, pending-submitter-merge

#14334 feat(irc): report tblproperties via dataset properties
  docs/iceberg-catalog.md
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/DataHubIcebergWarehouse.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/IcebergBatch.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/TableOrViewOpsDelegate.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/DataHubIcebergWarehouseTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/TableOpsDelegateTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/ViewOpsDelegateTest.java
Labels: devops, pending-submitter-merge

#14252 doc(graphQL): Added section about mutations to best practices
  docs/api/graphql/getting-started.md
Labels: docs, needs-review

#14342 fix(ingest): add missing optional defaults for pydantic
  metadata-ingestion/src/datahub/api/entities/dataset/dataset.py
  metadata-ingestion/src/datahub/api/entities/forms/forms.py
  metadata-ingestion/src/datahub/api/entities/structuredproperties/structuredproperties.py
  metadata-ingestion/src/datahub/cli/quickstart_versioning.py
  metadata-ingestion/src/datahub/ingestion/api/auto_work_units/auto_ensure_aspect_size.py
  metadata-ingestion/src/datahub/ingestion/source/abs/config.py
  metadata-ingestion/src/datahub/ingestion/source/abs/datalake_profiler_config.py
  metadata-ingestion/src/datahub/ingestion/source/aws/tag_entities.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/hex/hex.py
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server_domain.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/datashares.py
  metadata-ingestion/src/datahub/ingestion/source/slack/slack.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/unity/tag_entities.py
  metadata-ingestion/src/datahub/ingestion/source/usage/starburst_trino_usage.py
Labels: ingestion, pending-submitter-merge

#14282 feat(ingest/unity): Get table lineage from system table
  metadata-ingestion/src/datahub/api/entities/external/restricted_text.py
  metadata-ingestion/src/datahub/ingestion/source/unity/config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy.py
  metadata-ingestion/src/datahub/ingestion/source/unity/proxy_types.py
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
  metadata-ingestion/tests/unit/test_unity_catalog_proxy.py
Labels: ingestion, pending-submitter-merge

#14318 fix(lineage): Improve lineage logging (#6242)
  datahub-web-react/src/app/analytics/__tests__/columnFilterAnalytics.test.ts
  datahub-web-react/src/app/analytics/__tests__/useTrackPageView.test.ts
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/analytics/useTrackPageView.ts
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearch.tsx
  datahub-web-react/src/app/lineage/LineageExplorer.tsx
  datahub-web-react/src/app/lineageV2/LineageExplorer.hooks.tsx
  datahub-web-react/src/app/lineageV2/LineageExplorer.tsx
  datahub-web-react/src/app/lineageV3/LineageDisplay.hooks.tsx
  datahub-web-react/src/app/lineageV3/LineageDisplay.tsx
Labels: product, needs-review

#14343 docs(patch): fix patch docs tab & Add datajobpatchbuilder script
  docs/advanced/patch.md
  metadata-ingestion/examples/library/datajob_add_lineage_patch.py
Labels: ingestion, docs, pending-submitter-merge

#14352 fix(ui/schema): Remove [] from array v2 field path names
  datahub-web-react/src/app/entityV2/dataset/profile/__tests__/schema/translateFieldPath.test.tsx
  datahub-web-react/src/app/entityV2/dataset/profile/__tests__/schema/translateFieldPathSegment.test.tsx
  datahub-web-react/src/app/entityV2/dataset/profile/schema/utils/translateFieldPathSegment.tsx
Labels: product, pending-submitter-merge

#14321 fix(dbt-cloud): use correct node description for sources
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_cloud.py
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Labels: ingestion, community-contribution, needs-review

#14380 feat(python): upgrade mypy to 1.17.1
  datahub-actions/setup.py
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/gx-plugin/setup.py
  metadata-ingestion-modules/prefect-plugin/setup.py
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/data_lake_common/path_spec.py
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_log_api.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/transformer/base_transformer.py
  metadata-ingestion/src/datahub/utilities/server_config_util.py
Labels: ingestion, needs-review

#14381 fix(web): improved group setup UX
  datahub-web-react/src/app/entityV2/group/GroupMembersSidebarSectionContent.tsx
  datahub-web-react/src/app/entityV2/group/GroupSidebar.tsx
  datahub-web-react/src/app/entityV2/group/GroupSidebarMembersSection.tsx
  datahub-web-react/src/app/identity/group/CreateGroupModal.tsx
Labels: product, pending-submitter-merge

#14351 refactor(data-contracts): deprecating data contracts
  docs/cli.md
  docs/managed-datahub/observe/data-contract.md
  metadata-ingestion/examples/library/create_data_contract.yml
  metadata-ingestion/src/datahub/cli/specific/assertions_cli.py
  metadata-ingestion/src/datahub/cli/specific/datacontract_cli.py
Labels: ingestion, pending-submitter-merge

#14388 fix(sso): fix null overrides in case of non-ui sso configuration
  datahub-frontend/app/auth/sso/SsoManager.java
  datahub-frontend/test/security/SsoManagerTest.java
Labels: product, pending-submitter-merge

#14359 fix(ui/ingest): exclude entities that don't have search card
  datahub-web-react/src/app/entity/EntityRegistry.tsx
  datahub-web-react/src/app/entityV2/EntityRegistry.tsx
  datahub-web-react/src/app/ingestV2/source/IngestedAssets.tsx
  datahub-web-react/src/app/ingestV2/source/__tests__/tests_utils.test.tsx
  datahub-web-react/src/app/ingestV2/source/utils.ts
Labels: product, pending-submitter-merge

#14393 fix(irc): compute browsepathsv2 for IRC resources
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/NonBlockingConfigs.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/browsepaths/BackfillIcebergBrowsePathsV2.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/browsepaths/BackfillIcebergBrowsePathsV2Step.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/browsepaths/BackfillIcebergBrowsePathsV2StepTest.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/DataHubRestCatalog.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/TableOrViewOpsDelegate.java
  metadata-service/iceberg-catalog/src/main/java/io/datahubproject/iceberg/catalog/Utils.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/TableOpsDelegateTest.java
  metadata-service/iceberg-catalog/src/test/java/io/datahubproject/iceberg/catalog/ViewOpsDelegateTest.java
Labels: devops, pending-submitter-merge

#14345 fix(customHomePage): add error boundary to modules
  datahub-web-react/src/app/homeV3/module/Module.tsx
  datahub-web-react/src/app/homeV3/module/components/EmptyContent.tsx
  datahub-web-react/src/app/homeV3/module/components/LargeModuleFallback.tsx
  datahub-web-react/src/app/homeV3/module/components/ModuleErrorBoundary.tsx
  datahub-web-react/src/app/homeV3/module/components/SmallModuleFallback.tsx
Labels: product, needs-review

#14374 fix(customHomePage): prevent default template deleting through API
  metadata-service/services/src/main/java/com/linkedin/metadata/service/PageTemplateService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/PageTemplateServiceTest.java
Labels: pending-submitter-response, product, devops

#14405 fix(docs) Fix typo in custom ownership types doc
  docs/ownership/ownership-types.md
Labels: docs, pending-submitter-merge

#14404 dev(cypress): gradle command `quickstartCypress`
  docker/build.gradle
  docker/profiles/README.md
Labels: devops, pending-submitter-merge

#14395 fix(ui/ingest): status update properly
  datahub-web-react/src/app/ingestV2/executions/constants.ts
  datahub-web-react/src/app/ingestV2/executions/utils.ts
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Labels: product, pending-submitter-merge

#14384 fix(ui): Remove text overlaps with custom links
  datahub-web-react/src/app/entityV2/glossaryTerm/profile/RelatedTerm.tsx
  datahub-web-react/src/app/entityV2/shared/SearchCardContext.tsx
  datahub-web-react/src/app/previewV2/DefaultPreviewCard.tsx
Labels: product, pending-submitter-merge

#14416 fix(publish): use new ossrh endpoint in maven publish
  metadata-auth/auth-api/build.gradle
  metadata-integration/java/custom-plugin-lib/build.gradle
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-protobuf/build.gradle
  metadata-integration/java/datahub-schematron/lib/build.gradle
  metadata-integration/java/spark-lineage-legacy/build.gradle
Labels: ingestion, pending-submitter-merge

#14412 docs(release-notes): saas v3.13.1 release notes
  docs/managed-datahub/release-notes/v_0_3_13.md
Labels: docs, pending-submitter-merge

#14338 fix(ingest/looker): Ignore fields with empty column name to not generate invalid field urns
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/tests/unit/looker/__init__.py
  metadata-ingestion/tests/unit/looker/test_looker_common.py
Labels: ingestion, pending-submitter-merge

#14353 fix(ingest/hex): use viewer external URL for published projects/components
  metadata-ingestion/src/datahub/ingestion/source/hex/api.py
  metadata-ingestion/src/datahub/ingestion/source/hex/mapper.py
  metadata-ingestion/src/datahub/ingestion/source/hex/model.py
  metadata-ingestion/tests/integration/hex/golden/hex_mce_golden.json
  metadata-ingestion/tests/integration/hex/golden/hex_mce_golden_with_lineage.json
  metadata-ingestion/tests/unit/hex/test_mapper.py
Labels: ingestion, pending-submitter-merge

#14391 Fixes SEO Duplicate Titles Issue,
  docs-website/src/theme/Navbar/communityCardDropdownContent.js
  docs-website/src/theme/Navbar/learnCardDropdownContent.js
  docs/architecture/architecture.md
  docs/authentication/README.md
  docs/authorization/README.md
  docs/managed-datahub/managed-datahub-overview.md
Labels: docs, community-contribution, merge-pending-ci

#14300 feat(spark-lineage): add column-level lineage capture control
  metadata-integration/java/acryl-spark-lineage/README.md
  metadata-integration/java/acryl-spark-lineage/src/main/java/datahub/spark/DatahubSparkListener.java
  metadata-integration/java/acryl-spark-lineage/src/main/java/datahub/spark/conf/SparkConfigParser.java
Labels: ingestion, community-contribution, needs-review

#14441 docs: release note updates for scim
  docs/managed-datahub/release-notes/v_0_3_13.md
Labels: docs, pending-submitter-merge

#14428 feat(snowflake): enhance pushdown_deny_usernames by allowing patterns and add pushdown_allow_usernames
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_queries.py
Labels: ingestion, pending-submitter-merge

#14432 fix(mock-data): properly add run id
  metadata-ingestion/src/datahub/ingestion/source/mock_data/datahub_mock_data.py
Labels: ingestion, needs-review

#14439 fix(smoke-test): v1 ui group smoke test
  smoke-test/tests/cypress/cypress/e2e/settings/managing_groups.js
Labels: smoke_test, pending-submitter-merge

#14461 fix(ui/ingest): always show scroll bar on summary tab
  datahub-web-react/package.json
  datahub-web-react/src/app/ingestV2/executions/components/BaseTab.tsx
Labels: product, pending-submitter-merge

#14490 fix(ingest): exclude soft deleted entities from counts
  metadata-ingestion/src/datahub/ingestion/api/report.py
  metadata-ingestion/tests/unit/test_source.py
Labels: ingestion, pending-submitter-merge

#14492 fix(ingestion): Bump jupyter server dependency
  metadata-ingestion/setup.py
Labels: ingestion, pending-submitter-merge

#14513 refactor(ui): helper method to get subtypes
  datahub-web-react/src/app/entityV2/EntityRegistry.tsx
  datahub-web-react/src/app/entityV2/chart/ChartEntity.tsx
  datahub-web-react/src/app/entityV2/container/ContainerEntity.tsx
  datahub-web-react/src/app/entityV2/container/ContainerSummaryTab.tsx
  datahub-web-react/src/app/entityV2/container/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entityV2/dataFlow/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entityV2/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entityV2/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/PlatformContent/ContainerIcon.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/utils.ts
  datahub-web-react/src/app/entityV2/shared/utils.ts
  datahub-web-react/src/app/searchV2/autoComplete/AutoCompleteEntity.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/utils.ts
Labels: product, pending-submitter-merge

#14512 Upgrading spring version to non-vulnerable version
  build.gradle
Labels: community-contribution, needs-review

#14515 fix(ui/ingest): expand when clicking anywhere not just icon
  datahub-web-react/src/app/ingestV2/executions/components/reporting/StructuredReportItem.tsx
Labels: product, pending-submitter-merge

#14508 chore(ingest): update url for GX fork
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
Labels: ingestion, pending-submitter-merge

#14433 fix(ui): fix entity hover cards covering health popover
  datahub-web-react/src/app/previewV2/HealthIcon.tsx
Labels: product, needs-review

#14443 feat(ui/homepage): add infinite scroll to 'Your Assets' module
  datahub-web-react/src/alchemy-components/components/InfiniteScrollList/InfiniteScrollList.tsx
  datahub-web-react/src/alchemy-components/components/InfiniteScrollList/useInfiniteScroll.ts
  datahub-web-react/src/app/entity/shared/components/styled/ExpandedOwner/ExpandedOwner.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/ExpandedOwner/ExpandedOwner.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Ownership/EditOwnersModal.tsx
  datahub-web-react/src/app/homeV2/reference/sections/assets/useGetAssetsYouOwn.tsx
  datahub-web-react/src/app/homeV3/context/PageTemplateContext.tsx
  datahub-web-react/src/app/homeV3/context/types.ts
  datahub-web-react/src/app/homeV3/modules/YourAssetsModule.tsx
  datahub-web-react/src/app/homeV3/modules/assetCollection/AssetCollectionModule.tsx
Labels: product, pending-submitter-merge

#14429 feat(customHomePage/hierarchy): add possibility to automatically expand a single root node
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/DomainsTreeView.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/glossary/GlossaryTreeView.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/context/TreeViewContextProvider.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/types.ts
Labels: product, needs-review

#14455 fix(customHomePage): fix removing of nested groups in query builder
  datahub-web-react/src/app/sharedV2/queryBuilder/QueryBuilder.tsx
Labels: product, needs-review

#14463 feat(ui/summary): add new summary tab on the required entities
  datahub-web-react/src/app/entity/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entityV2/dataProduct/DataProductEntity.tsx
  datahub-web-react/src/app/entityV2/domain/DomainEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entityV2/summary/SummaryTab.tsx
  datahub-web-react/src/app/entityV2/summary/__tests__/useShowAssetSummaryPage.test.ts
  datahub-web-react/src/app/entityV2/summary/documentation/AboutSection.tsx
  datahub-web-react/src/app/entityV2/summary/properties/PropertiesHeader.tsx
  datahub-web-react/src/app/entityV2/summary/useShowAssetSummaryPage.ts
Labels: product, pending-submitter-merge

#14510 feat(metadata-service/scroll): Support slice on OpenAPI scroll APIs
  metadata-io/src/main/java/com/linkedin/metadata/graph/SystemGraphRetriever.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAORelationshipGroupQueryTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/ElasticSearchGraphServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/neo4j/Neo4jGraphServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/SearchGraphServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/elasticsearch/SearchGraphServiceElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/search/opensearch/SearchGraphServiceOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/SearchServiceTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/elasticsearch/SearchServiceElasticSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/opensearch/SearchServiceOpenSearchTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/ESSearchDAORawEntityTest.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SampleDataFixtureConfiguration.java
  metadata-io/src/test/java/io/datahubproject/test/fixtures/search/SearchLineageFixtureConfiguration.java
  metadata-models/src/main/pegasus/com/linkedin/metadata/query/SearchFlags.pdl
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/common/ElasticSearchGraphServiceFactory.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericRelationshipController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/EntityControllerTest.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/RelationshipControllerTest.java
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/GraphService.java
Labels: product, devops, pending-submitter-merge

#14178 docs(applications): Feature Guide for Applications
  docs-website/sidebars.js
  docs/api/tutorials/applications.md
  docs/features/feature-guides/applications.md
  metadata-ingestion/examples/library/add_application.py
  metadata-ingestion/examples/library/create_application.py
  metadata-ingestion/examples/library/remove_application.py
Labels: docs, pending-submitter-merge

#14516 fix(ui/ingest): wrap name to 2 lines before truncate
  datahub-web-react/src/app/ingestV2/source/IngestionSourceTableColumns.tsx
Labels: product, pending-submitter-merge

#14502 fix(ui) Allow empty strings for sibling values
  datahub-web-react/src/app/entity/shared/__tests__/siblingsUtils.test.ts
  datahub-web-react/src/app/entity/shared/siblingUtils.ts
Labels: product, pending-submitter-merge

#14437 fix(ui) Prevent ever searching past the 10k asset boundary
  datahub-web-react/src/app/searchV2/SearchPage.tsx
  datahub-web-react/src/app/searchV2/SearchResults.tsx
  datahub-web-react/src/app/searchV2/utils/__tests__/searchUtils.test.ts
  datahub-web-react/src/app/searchV2/utils/searchUtils.ts
Labels: product, pending-submitter-merge

#14520 Add AWS MSK IAM authentication module and unit tests
  datahub-actions/src/datahub_actions/utils/kafka_msk_iam.py
  datahub-actions/tests/unit/utils/test_kafka_msk_iam.py
Labels: community-contribution, merge-pending-ci

#14398 feat(customHomePage): bring rest of SaaS fixes
  datahub-web-react/src/app/analytics/event.ts
  datahub-web-react/src/app/entityV2/shared/__tests__/utils.test.ts
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarHeader.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarMenuItem.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarMenuItemDropdown.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarToggler.tsx
  metadata-service/services/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Labels: product, devops, smoke_test, pending-submitter-merge

#14506 docs(sdk): update read_* examples to not also create
  metadata-ingestion/examples/library/read_chart.py
  metadata-ingestion/examples/library/read_dashboard.py
  metadata-ingestion/examples/library/read_dataflow.py
  metadata-ingestion/examples/library/read_datajob.py
  metadata-ingestion/examples/library/read_mlfeature.py
  metadata-ingestion/examples/library/read_mlfeature_table.py
  metadata-ingestion/examples/library/read_mlmodel.py
  metadata-ingestion/examples/library/read_mlmodel_group.py
  metadata-ingestion/examples/library/read_mlprimarykey.py
Labels: ingestion, merge-pending-ci

#14523 fix(ingestion): updated schema name handling to support Snowflake quoted identifiers #14210
  metadata-ingestion/src/datahub/ingestion/source/fivetran/fivetran_query.py
  metadata-ingestion/tests/integration/fivetran/test_fivetran.py
Labels: ingestion, community-contribution, merge-pending-ci

#14444 feat(snowflake): ingest views from information schema
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_summary.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_queries.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_schema.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
Labels: ingestion, pending-submitter-merge

#14527 fix(build): add kubectl to datahub-upgrade image
  docker/datahub-upgrade/Dockerfile
Labels: devops, needs-review

#14485 feat(customHomePage/hierarchy): add support of pagination for root level nodes
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/childrenLoader/context/ChildrenLoaderContext.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/childrenLoader/context/ChildrenLoaderProvider.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/DomainsSelectableTreeView.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/hooks/__tests__/useSelectableDomainTree.test.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/hooks/useDomains.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/hooks/useLoadMoreRootDomains.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/hooks/useRootDomains.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/hooks/useSelectableDomainTree.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/TreeNodeRenderer.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/TreeNodesRenderer.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/__tests__/utils.test.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/components/Row.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/components/TreeNodesViewLoader.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/components/itemsLoaderWrapper/NodesLoaderByButtonWrapper.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/components/itemsLoaderWrapper/NodesLoaderInfiniteScrollWrapper.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/components/itemsLoaderWrapper/NodesLoaderWrapper.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/components/itemsLoaderWrapper/types.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/constants.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/context/TreeViewContext.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/context/TreeViewContextProvider.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/types.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/utils.ts
Labels: pending-submitter-response, product

#14544 fix(cypress) Delete flaky V1 UI cypress file
  smoke-test/tests/cypress/cypress/e2e/mutations/mutations.js
Labels: smoke_test, needs-review

#14535 feat(ui): expose appConfig on window object (#6464)
  datahub-web-react/src/AppConfigProvider.tsx
  datahub-web-react/src/vite-env.d.ts
Labels: product, needs-review

#14547 fix(ingestion/grafana): stabilize integration tests
  metadata-ingestion/tests/integration/grafana/docker-compose.yml
  metadata-ingestion/tests/integration/grafana/test_grafana.py
Labels: ingestion, pending-submitter-merge

#14545 Updated switch and bg color to gradient updated MD sizing
  datahub-web-react/src/alchemy-components/components/Switch/components.ts
  datahub-web-react/src/alchemy-components/components/Switch/utils.ts
Labels: product, pending-submitter-merge

#14534 docs(contributing): added PR title format
  .github/pull_request_template.md
  docs/CONTRIBUTING.md
Labels: docs, community-contribution, merge-pending-ci

#14536 test(ingestion/json-schema): add test for JSON Schema $ref loop in definitions
  metadata-ingestion/tests/unit/schema/test_json_schema_util.py
Labels: ingestion, pending-submitter-merge

#14524 feat(openapi-v3): Support filter object in scroll API
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/ConjunctiveCriterion.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/Criterion.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/Filter.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityAspectsBodyV3.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/SortCriterion.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/util/RequestInputUtil.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/EntityControllerTest.java
  smoke-test/tests/openapi/v3/entities.json
Labels: community-contribution, devops, needs-review

#14564 feat(kafka): refactor kafka topic mgmt and move setup to system-update
  .github/workflows/test-results.yml
  build.gradle
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/BuildIndicesConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/KafkaSetupConfig.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/config/NonBlockingConfigs.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/ConfluentSchemaRegistryCleanupPolicyStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/CreateKafkaTopicsStep.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/KafkaNonBlockingSetup.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/KafkaSetup.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/system/kafka/WaitForKafkaReadyStep.java
  datahub-upgrade/src/main/resources/application.properties
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/DatahubUpgradeBlockingTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/kafka/ConfluentSchemaRegistryCleanupPolicyStepTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/kafka/CreateKafkaTopicsStepTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/kafka/KafkaNonBlockingSetupTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/system/kafka/WaitForKafkaReadyStepTest.java
  datahub-upgrade/src/test/resources/logback-test.xml
  docker/README.md
  docker/build.gradle
  docker/datahub-upgrade/start.sh
  docker/kafka-setup/Dockerfile
  docker/kafka-setup/README.md
  docker/kafka-setup/build.gradle
  docker/kafka-setup/env/docker.env
  docker/kafka-setup/env_to_properties.py
  docker/kafka-setup/kafka-config.sh
  docker/kafka-setup/kafka-ready.sh
  docker/kafka-setup/kafka-setup.sh
  docker/kafka-setup/kafka-topic-workers.sh
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/profiles/docker-compose.prerequisites.yml
  docker/quickstart/docker-compose.quickstart-profile.yml
  docs-website/sidebars.js
  docs/architecture/docker-containers.md
  docs/deploy/confluent-cloud.md
  docs/deploy/kubernetes.md
  docs/docker/development.md
  docs/how/kafka-config.md
  docs/quickstart.md
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-jobs/mce-consumer-job/README.md
  metadata-service/README.md
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/KafkaConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/SetupConfiguration.java
  metadata-service/configuration/src/main/java/com/linkedin/metadata/config/kafka/TopicsConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
  metadata-service/configuration/src/test/java/com/linkedin/metadata/config/kafka/KafkaConfigurationTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/system_telemetry/OpenTelemetryBaseFactoryTest.java
  metadata-service/factories/src/test/java/com/linkedin/gms/factory/telemetry/TrackingServiceFactoryTest.java
  settings.gradle
Labels: docs, product, devops, pending-submitter-merge

#14456 fix(analyticsEvents): fix misnaming of events
  metadata-service/services/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Labels: devops, pending-submitter-merge

#14339 feat(models): support charts in edges fields of other charts
  metadata-ingestion/src/datahub/ingestion/autogenerated/lineage.json
  metadata-models/src/main/pegasus/com/linkedin/chart/ChartInfo.pdl
  metadata-service/services/src/main/java/com/linkedin/metadata/service/LineageService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/graph/LineageGraphFiltersTest.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/LineageServiceTest.java
Labels: ingestion, devops, pending-submitter-merge

#14420 fix(customHomePage): bring changes for query builder from Saas
  datahub-web-react/src/app/homeV3/modules/assetCollection/DynamicSelectAssetsTab.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/form/sections/relatedEntities/RelatedEntitiesSection.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/Condition.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/OperatorSelect.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/PropertySelect.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/QueryBuilder.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/builder/__tests__/utils.test.tsx
  datahub-web-react/src/app/sharedV2/queryBuilder/builder/types.ts
  datahub-web-react/src/app/sharedV2/queryBuilder/builder/utils.ts
  datahub-web-react/src/app/sharedV2/queryBuilder/styledComponents.ts
  datahub-web-react/src/app/sharedV2/queryBuilder/valueInputs/EntitySearchValueInput.tsx
Labels: product, pending-submitter-merge

#14540 feat(ui/summary): build add, view and delete link functionalities in the new summary tab
  datahub-web-react/src/alchemy-components/components/Avatar/AvatarPillWithLinkAndHover.tsx
  datahub-web-react/src/app/entityV2/summary/SummaryTab.tsx
  datahub-web-react/src/app/entityV2/summary/links/AddLinkButton.tsx
  datahub-web-react/src/app/entityV2/summary/links/AddLinkModal.tsx
  datahub-web-react/src/app/entityV2/summary/links/LinkItem.tsx
  datahub-web-react/src/app/entityV2/summary/links/Links.tsx
  datahub-web-react/src/app/entityV2/summary/links/LinksList.tsx
  datahub-web-react/src/app/entityV2/summary/links/__tests__/useLinkUtils.test.ts
  datahub-web-react/src/app/entityV2/summary/links/useLinkUtils.ts
Labels: product, needs-review

#14579 chore(ingest): update path to sample-dbt repo
  metadata-ingestion/tests/integration/dbt/copy-from-sample-dbt.sh
Labels: ingestion, pending-submitter-merge

#14577 feat(propagation) Add support for metadata attribution for additional metadata
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpsertStructuredPropertiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/common/mappers/OwnerMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryTermsMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/structuredproperty/StructuredPropertiesMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/tag/mappers/GlobalTagsMapper.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/main/resources/properties.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/structuredproperties/UpsertStructuredPropertiesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryTermsMapperTest.java
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/alchemy-components/components/Tooltip/Tooltip.tsx
  datahub-web-react/src/app/entity/shared/tabs/Properties/useStructuredProperties.tsx
  datahub-web-react/src/app/entityV2/Entity.tsx
  datahub-web-react/src/app/entityV2/EntityRegistry.tsx
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/SchemaDescriptionField.tsx
  datahub-web-react/src/app/entityV2/dataset/profile/schema/components/StructuredPropValues.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/GlossaryTermEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/ExpandedOwner/ExpandedOwner.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/ExpandedOwner/OwnerUtils.ts
  datahub-web-react/src/app/entityV2/shared/components/styled/ExpandedOwner/__tests__/OwnerUtils.test.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/StructuredPropertyBadge.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Ownership/sidebar/OwnershipTypeSection.tsx
  datahub-web-react/src/app/entityV2/shared/sidebarSection/SidebarStructuredProperties.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/FieldDescription.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/getFieldDescriptionDetails.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useExtractFieldDescriptionInfo.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/getFieldDescriptionDetails.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useExtractFieldDescriptionInfo.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/StructuredPropertyValue.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/ValuesColumn.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/types.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Properties/useStructuredProperties.tsx
  datahub-web-react/src/app/entityV2/tag/Tag.tsx
  datahub-web-react/src/app/entityV2/user/User.tsx
  datahub-web-react/src/app/entityV2/user/preview/Preview.tsx
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsTable.tsx
  datahub-web-react/src/app/previewV2/DefaultPreviewCard.tsx
  datahub-web-react/src/app/recommendations/renderer/component/HoverEntityTooltip.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/AutoCompleteEntityItem.tsx
  datahub-web-react/src/app/sharedV2/owners/ActorPill.tsx
  datahub-web-react/src/app/sharedV2/propagation/HoverCardAttributionDetails.tsx
  datahub-web-react/src/app/sharedV2/propagation/types.ts
  datahub-web-react/src/app/sharedV2/tags/tag/Tag.tsx
  datahub-web-react/src/app/sharedV2/tags/term/Term.tsx
  datahub-web-react/src/app/sharedV2/tags/term/TermContent.tsx
  datahub-web-react/src/graphql/fragments.graphql
  metadata-events/mxe-utils-avro/src/test/resources/test-avro2pegasus-mae.json
  metadata-events/mxe-utils-avro/src/test/resources/test-avro2pegasus-mce.json
  metadata-io/src/main/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformer.java
  metadata-io/src/test/java/com/linkedin/metadata/search/transformer/SearchDocumentTransformerTest.java
  metadata-models/src/main/pegasus/com/linkedin/common/Owner.pdl
  metadata-models/src/main/pegasus/com/linkedin/structured/StructuredPropertyValueAssignment.pdl
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
  smoke-test/tests/cypress/cypress/e2e/mutations/edit_documentation.js
Labels: product, devops, smoke_test, pending-submitter-merge

#14582 fix(tool_meta_extractor): relax hex query detection to search entire query text
  metadata-ingestion/src/datahub/sql_parsing/tool_meta_extractor.py
  metadata-ingestion/tests/unit/sql_parsing/test_tool_meta_extractor.py
Labels: ingestion, pending-submitter-merge

#14542 feat(summaryTab): add support of created property
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataproduct/DataProductType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataproduct/mappers/DataProductMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/domain/DomainMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryNodeMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryTermMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryTermPropertiesMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/util/EntityResponseUtils.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dataproduct/mappers/DataProductMapperTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/domain/DomainMapperTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/util/EntityResponseUtilsTest.java
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/app/entityV2/summary/properties/property/properties/CreatedProperty.tsx
  datahub-web-react/src/app/sharedV2/time/utils.ts
  datahub-web-react/src/graphql/dataProduct.graphql
  datahub-web-react/src/graphql/domain.graphql
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/glossaryNode.graphql
  datahub-web-react/src/graphql/glossaryTerm.graphql
  datahub-web-react/src/graphql/search.graphql
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
Labels: product, pending-submitter-merge

#14561 docs(release-notes): v0.3.13.2-acryl
  docs/managed-datahub/release-notes/v_0_3_13.md
Labels: docs, pending-submitter-merge

#14584 chore(airflow): cleanup deps + lingering print statement
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/airflow-plugin/src/datahub_airflow_plugin/hooks/datahub.py
Labels: ingestion, pending-submitter-merge

#14585 chore(): bump kubectl version
  docker/datahub-upgrade/Dockerfile
Labels: devops, pending-submitter-merge

#14589 tests(incidents_v2): fix flakiness by waiting for sibling specific test id
  datahub-web-react/src/app/entityV2/shared/tabs/Incident/CreateIncidentButton.tsx
  smoke-test/tests/cypress/cypress/e2e/incidentsV2/v2_incidents.js
Labels: product, smoke_test, pending-submitter-merge

#14434 feat(snowflake): add China region support
  metadata-ingestion/src/datahub/ingestion/source/snowflake/constants.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/unit/snowflake/test_snowflake_source.py
Labels: ingestion, pending-submitter-merge

#14581 doc(ui): avoiding PropTypes
  datahub-web-react/CLAUDE.md
Labels: product, pending-submitter-merge

#14592 fix(excel): Add missing dependencies
  metadata-ingestion/setup.py
Labels: ingestion, needs-review

#14580 refactor(ingestion): Updated Redshift lineage_v1 refs and removed v1 implementation
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/redshift/config.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/lineage_v2.py
  metadata-ingestion/src/datahub/ingestion/source/redshift/redshift.py
  metadata-ingestion/tests/unit/redshift/redshift_query_mocker.py
  metadata-ingestion/tests/unit/redshift/test_redshift_lineage.py
Labels: ingestion, community-contribution, merge-pending-ci

#13771 feat(mssql): quote_schemas & odbc_connect fields with related logic were added to SQLServerConfig
  .github/workflows/metadata-ingestion.yml
  metadata-ingestion/scripts/install_odbc_for_mssql_tests.sh
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/job_models.py
  metadata-ingestion/src/datahub/ingestion/source/sql/mssql/source.py
  metadata-ingestion/tests/integration/sql_server/golden_files/golden_mces_mssql_special_symbols_db.json
  metadata-ingestion/tests/integration/sql_server/setup/setup.sql
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_ephemeral_pattern.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_no_db_to_file.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_no_db_with_filter.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_special_symbols_db.yml
  metadata-ingestion/tests/integration/sql_server/source_files/mssql_with_lower_case_urn.yml
Labels: ingestion, community-contribution, merge-pending-ci

#14598 feat(schemaField): Support tags and terms directly on schema field entity
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/glossary/mappers/GlossaryTermsMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldType.java
  datahub-graphql-core/src/main/resources/entity.graphql
  datahub-web-react/src/app/entityV2/dataset/profile/schema/utils/utils.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useExtractFieldGlossaryTermsInfo.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useExtractFieldTagsInfo.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useExtractFieldGlossaryTermsInfo.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useExtractFieldTagsInfo.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useTagsAndTermsRenderer.tsx
  datahub-web-react/src/app/sharedV2/tags/TagTermGroup.tsx
  datahub-web-react/src/graphql/fragments.graphql
  datahub-web-react/src/graphql/schemaField.graphql
  metadata-models/src/main/resources/entity-registry.yml
Labels: product, pending-submitter-merge

#14574 fix(elasticsearch): version for security reason
  docker/docker-compose.yml
Labels: community-contribution, devops, merge-pending-ci, needs-review

#14588 feat(graphql): Support logical models
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/Constants.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/logical/SetLogicalParentResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/DatasetType.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldType.java
  datahub-graphql-core/src/main/resources/logical.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/logical/SetLogicalParentResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/dataset/mappers/DatasetMapperTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/schemafield/SchemaFieldMapperTest.java
  entity-registry/src/main/java/com/linkedin/metadata/models/extractor/FieldExtractor.java
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/GraphIndexUtilsTest.java
  metadata-models/src/main/pegasus/com/linkedin/logical/LogicalParent.pdl
  metadata-service/services/src/main/java/com/linkedin/metadata/graph/GraphIndexUtils.java
  metadata-service/services/src/test/java/com/linkedin/metadata/graph/GraphIndexUtilsTest.java
Labels: product, devops, pending-submitter-merge

#14601 fix(ingestion/snowflake): Fix views schema extraction for corner cases
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/tests/conftest.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/snowflake_schema_extraction_one_table_multiple_views_golden.json
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
Labels: ingestion, pending-submitter-merge

#14607 test(ui): Refactor useExtractFieldTagsInfo and useExtractFieldGlossaryTermsInfo tests
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useExtractFieldGlossaryTermsInfo.test.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/__tests__/useExtractFieldTagsInfo.test.ts
Labels: product, pending-submitter-merge
