Repository datahub-project/datahub, pull requests merged in 2025-02, with the labels that each got.

#12527 feat(snowflake): add missing pushdown_deny_usernames config to be used when use_queries_v2
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: ingestion, pending-submitter-merge

#12529 feat(restoreIndices): update restore indices args and docs
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/RestoreIndices.java
  datahub-upgrade/src/main/java/com/linkedin/datahub/upgrade/restoreindices/SendMAEStep.java
  docs/how/restore-indices.md
Labels: docs, pending-submitter-merge

#12537 fix(businessAttribute): fix business Attribute related entities
  metadata-io/src/main/java/com/linkedin/metadata/search/utils/ESUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/search/utils/ESUtilsTest.java
Labels: community-contribution, product, needs-review

#12513 fix(ui): make data process instance visible in container in V2& fix model/modelgroup names
  datahub-web-react/src/app/entity/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entity/mlModel/profile/MLModelGroupsTab.tsx
  datahub-web-react/src/app/entity/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entityV2/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entityV2/dataProcessInstance/profile/DataProcessInstanceSummary.tsx
  datahub-web-react/src/app/entityV2/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entityV2/mlModel/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/mlModel/profile/MLModelGroupsTab.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/preview/Preview.tsx
  datahub-web-react/src/graphql/fragments.graphql
Labels: product, needs-review

#12543 fix(ingest): avoid multiprocessing "fork" start method
  metadata-ingestion/docs/dev_guides/classification.md
  metadata-ingestion/src/datahub/entrypoints.py
  metadata-ingestion/src/datahub/ingestion/glossary/classification_mixin.py
  metadata-ingestion/src/datahub/ingestion/glossary/classifier.py
Labels: ingestion, pending-submitter-merge

#12461 fix(ui): revert backend breaking changes to mau
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetChartsResolver.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/utils/DateUtilTest.java
Labels: product, needs-review

#12531 tests(kafka-connect): fixes integration tests setup
  metadata-ingestion/tests/integration/kafka-connect/docker-compose.override.yml
Labels: ingestion, pending-submitter-merge

#12480 fix(ingest/unity): add row count in table profile of delta tables
  metadata-ingestion/src/datahub/ingestion/source/ge_profiling_config.py
  metadata-ingestion/src/datahub/ingestion/source/unity/ge_profiler.py
  metadata-ingestion/src/datahub/ingestion/source/unity/report.py
Labels: ingestion, pending-submitter-merge

#12539 fix(misc-openapi): fix openlineage, platform events & swagger
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/SpringWebConfig.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/openlineage/controller/LineageApiImpl.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/PlatformEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/schema-registry-servlet/src/main/java/io/datahubproject/openapi/schema/registry/config/SpringWebSchemaRegistryConfig.java
  smoke-test/tests/openapi/openlineage/__init__.py
  smoke-test/tests/openapi/openlineage/openlineage.json
  smoke-test/tests/openapi/v2/platform_entities.json
  smoke-test/tests/utilities/concurrent_openapi.py
Labels: devops, pending-submitter-merge

#12549 fix(test): move reading env variable inside method
  smoke-test/tests/consistency_utils.py
Labels: smoke_test, pending-submitter-merge

#12533 docs(iceberg): add iceberg user guide
  docs-website/sidebars.js
  docs/iceberg-catalog.md
  metadata-ingestion/docs/sources/iceberg/iceberg.md
Labels: docs, needs-review

#12318 feat(ingestion/snowflake):adds streams as a new dataset with lineage and properties.
  metadata-ingestion/docs/sources/snowflake/snowflake_pre.md
  metadata-ingestion/src/datahub/ingestion/source/common/subtypes.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/constants.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_config.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_report.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_utils.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_structured_properties_golden.json
  metadata-ingestion/tests/integration/snowflake/test_snowflake.py
  metadata-ingestion/tests/integration/snowflake/test_snowflake_failures.py
Labels: ingestion, community-contribution, merge-pending-ci

#12451 feat(powerbi): Report to Dashboard lineage
  metadata-ingestion/src/datahub/ingestion/source/powerbi/config.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/powerbi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_classes.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/data_resolver.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi/rest_api_wrapper/powerbi_api.py
  metadata-ingestion/tests/integration/powerbi/golden_test_admin_access_not_allowed.json
  metadata-ingestion/tests/integration/powerbi/golden_test_cll.json
  metadata-ingestion/tests/integration/powerbi/golden_test_container.json
  metadata-ingestion/tests/integration/powerbi/golden_test_disabled_ownership.json
  metadata-ingestion/tests/integration/powerbi/golden_test_endorsement.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_ingest_patch_disabled.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lineage.json
  metadata-ingestion/tests/integration/powerbi/golden_test_lower_case_urn_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_platform_instance_ingest.json
  metadata-ingestion/tests/integration/powerbi/golden_test_report.json
  metadata-ingestion/tests/integration/powerbi/golden_test_scan_all_workspaces.json
  metadata-ingestion/tests/integration/powerbi/golden_test_server_to_platform_instance.json
  metadata-ingestion/tests/integration/powerbi/mock_data/default_mock_response.json
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
Labels: ingestion, pending-submitter-merge

#12530 fix(no-rows-updated): fix no rows updated
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceTest.java
Labels: product, pending-submitter-merge

#12556 ci(smoke): report smoke test results to codecov
  .github/workflows/docker-unified.yml
Labels: devops, pending-submitter-merge

#12162 feat(UI): Confirmation before deleting Link
  datahub-web-react/src/app/entity/shared/tabs/Documentation/components/LinkList.tsx
  smoke-test/tests/cypress/cypress/e2e/domains/nested_domains.js
  smoke-test/tests/cypress/cypress/e2e/mutations/edit_documentation.js
Labels: community-contribution, product, merge-pending-ci

#12326 feat(ingestion/s3): ignore depth mismatched path
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/unit/data_lake/test_path_spec.py
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#12525 feat(docs-site) adding case studies and updating banner
  docs-website/adoptionStoriesIndexes.json
  docs-website/docusaurus.config.js
  docs-website/src/pages/_components/CaseStudy/caseStudyContent.js
  docs-website/static/img/adoption-stories/adoption-stories-etsy.png
  docs-website/static/img/adoption-stories/adoption-stories-slack.png
  docs-website/static/img/logos/companies/etsy.png
  docs-website/static/img/logos/companies/slack.png
Labels: community-contribution, merge-pending-ci

#12428 feat(ingestion/mongodb) re-order aggregation logic
  metadata-ingestion/src/datahub/ingestion/source/mongodb.py
  metadata-ingestion/tests/integration/mongodb/mongodb_mces_no_random_sampling_golden.json
  metadata-ingestion/tests/integration/mongodb/test_mongodb.py
Labels: ingestion, community-contribution, merge-pending-ci

#12550 docs(salesforce): add missing salesforce source to cli doc
  docs/cli.md
Labels: docs, community-contribution, needs-review

#12552 feat(openapi): precondition exceptions return 412
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/AspectValidationException.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/ValidationExceptionCollection.java
  entity-registry/src/main/java/com/linkedin/metadata/aspect/plugins/validation/ValidationSubType.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/plugins/validation/ValidationExceptionCollectionTest.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/validation/ValidationException.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/config/GlobalControllerExceptionHandler.java
  smoke-test/tests/openapi/v3/exceptions.json
Labels: product, devops, smoke_test, pending-submitter-merge

#12553 feat(openapi): point in time parameter (elasticsearch only)
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  smoke-test/tests/openapi/v3/entities.json
Labels: devops, smoke_test, pending-submitter-merge

#12561 fix(openapi-spec): fix openapi spec oneOf schema
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/OpenAPIV3GeneratorTest.java
Labels: devops, pending-submitter-merge

#12558 fix(autocomplete): fix autocomplete duplicate field
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESBrowseDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AutocompleteRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/BaseRequestHandler.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/AutocompleteRequestHandlerTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
Labels: product, devops, pending-submitter-merge

#12554 feat(sdk): add scaffolding for sdk v2
  metadata-ingestion/setup.cfg
  metadata-ingestion/src/datahub/errors.py
  metadata-ingestion/src/datahub/sdk/__init__.py
  metadata-ingestion/src/datahub/sdk/_all_entities.py
  metadata-ingestion/src/datahub/sdk/_attribution.py
  metadata-ingestion/src/datahub/sdk/_entity.py
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/src/datahub/sdk/container.py
  metadata-ingestion/src/datahub/sdk/dataset.py
  metadata-ingestion/src/datahub/sdk/entity_client.py
  metadata-ingestion/src/datahub/sdk/main_client.py
  metadata-ingestion/src/datahub/sdk/resolver_client.py
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_basic_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_ingestion_golden.json
  metadata-ingestion/tests/unit/sdk_v2/entity_client_goldens/test_container_db_golden.json
  metadata-ingestion/tests/unit/sdk_v2/entity_client_goldens/test_container_schema_golden.json
  metadata-ingestion/tests/unit/sdk_v2/entity_client_goldens/test_dataset_creation_golden.json
  metadata-ingestion/tests/unit/sdk_v2/entity_client_goldens/test_dataset_update_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_client_v2.py
  metadata-ingestion/tests/unit/sdk_v2/test_dataset.py
  metadata-ingestion/tests/unit/sdk_v2/test_entity_client.py
Labels: ingestion, pending-submitter-merge

#12568 doc(dbt): Add missing dbt extra requirement to cli doc
  docs/cli.md
Labels: docs, community-contribution, needs-review

#12541 feat(docs): Add live secret reload docs to k8s remote executor page
  docs/managed-datahub/operator-guide/setting-up-remote-ingestion-executor.md
Labels: docs, pending-submitter-merge

#12557 fix(ingest): remove duplicate mcps,more typing
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema_gen.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
Labels: ingestion, pending-submitter-merge

#12574 doc: update doc of first release
  docs/managed-datahub/release-notes/v_0_3_8.md
Labels: docs, pending-submitter-merge

#12576 fix(docs) explain need to restore indices when adding @Searchable
  docs/modeling/extending-the-metadata-model.md
Labels: docs, community-contribution, merge-pending-ci

#12573 fix(sdk): fix platform instance generation in the sdk
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/src/datahub/sdk/container.py
  metadata-ingestion/tests/test_helpers/sdk_v2_helpers.py
  metadata-ingestion/tests/unit/sdk_v2/container_golden/test_container_basic_golden.json
  metadata-ingestion/tests/unit/sdk_v2/container_golden/test_container_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_ingestion_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_container.py
  metadata-ingestion/tests/unit/sdk_v2/test_dataset.py
Labels: ingestion, pending-submitter-merge

#12569 fix(looker): sort user mapping for consistency
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
Labels: ingestion, pending-submitter-merge

#12507 fix(ingestion/teradata): teradata profiling fix for pooling
  metadata-ingestion/src/datahub/ingestion/source/sql/sql_common.py
  metadata-ingestion/src/datahub/ingestion/source/sql/teradata.py
Labels: ingestion, merge-pending-ci

#12578 fix(structuredProps) Add validation for allowedTypes and harden API for invalid types
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/entitytype/EntityTypeUrnMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/structuredproperty/StructuredPropertyMapper.java
  metadata-io/src/main/java/com/linkedin/metadata/structuredproperties/validation/PropertyDefinitionValidator.java
  metadata-io/src/test/java/com/linkedin/metadata/structuredproperties/validators/PropertyDefinitionValidatorTest.java
Labels: product, pending-submitter-merge

#12462 fix(ui): better experience for analytics charts
  datahub-web-react/src/app/analyticsDashboard/components/TimeSeriesChart.tsx
Labels: product, pending-submitter-merge

#12563 feat(ingest/mssql): improve stored procedure splitting
  metadata-ingestion/src/datahub/sql_parsing/split_statements.py
  metadata-ingestion/tests/unit/sql_parsing/test_split_statements.py
Labels: ingestion, pending-submitter-merge

#12584 docs: add page on metadata standards
  docs-website/sidebars.js
  docs/metadata-standards.md
Labels: docs, pending-submitter-merge

#12579 feat(gh-workflows) adding jayacryl to pr-labeler
  .github/workflows/pr-labeler.yml
Labels: community-contribution, devops, needs-review

#12564 fix(iceberg): delete associated platform resources when deleting warehouse
  metadata-ingestion/src/datahub/cli/iceberg_cli.py
Labels: ingestion, pending-submitter-merge

#12534 feat(ingest): add display name for dynamodb tables
  metadata-ingestion/docs/sources/dynamodb/dynamodb_pre.md
  metadata-ingestion/src/datahub/ingestion/source/dynamodb/dynamodb.py
  metadata-ingestion/tests/integration/dynamodb/dynamodb_default_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dynamodb/dynamodb_platform_instance_mces_golden.json
  metadata-ingestion/tests/integration/dynamodb/test_dynamodb.py
Labels: ingestion, pending-submitter-merge

#12570 fix(ui) Show editable field info for fields based on exact fieldPath version
  datahub-web-react/src/app/entityV2/dataset/profile/schema/utils/utils.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/components/SchemaFieldDrawer/AboutFieldTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useDescriptionRenderer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useExtractFieldDescriptionInfo.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useExtractFieldGlossaryTermsInfo.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useExtractFieldTagsInfo.ts
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Schema/utils/useTagsAndTermsRendererFeatureTable.tsx
Labels: product, pending-submitter-merge

#12590 fix(openapi-schema): fix openapi schema generator
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/OpenAPIV3GeneratorTest.java
Labels: devops, pending-submitter-merge

#12411 feat(ingestion/dbt): Add include_database_name parameter for dbt core
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_common.py
  metadata-ingestion/src/datahub/ingestion/source/dbt/dbt_core.py
  metadata-ingestion/tests/unit/dbt/artifacts/catalog.json
  metadata-ingestion/tests/unit/dbt/artifacts/manifest.json
  metadata-ingestion/tests/unit/dbt/test_dbt_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#12589 fix(web) ingestion page resets when filter updated
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
Labels: product, pending-submitter-merge

#12592 dev: update pre-commit config
  .pre-commit-config.yaml
  metadata-service/iceberg-catalog/build.gradle
  metadata-service/iceberg-catalog/pyproject.toml
  metadata-service/iceberg-catalog/requirements.txt
  metadata-service/iceberg-catalog/src/integrationTest/integration_test.py
Labels: devops, pending-submitter-merge

#12562 fix(graphql): Skip schema fields with empty fieldPaths to prevent the dataset mapper from erroring out
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/SchemaMapper.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/dataset/mappers/SchemaMetadataMapper.java
Labels: community-contribution, product, needs-review

#12598 feat(graphql,ui): Update ML system V2 UI
  datahub-web-react/src/app/entity/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entity/dataProcessInstance/preview/Preview.tsx
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchSection.tsx
  datahub-web-react/src/app/entity/shared/types.ts
  datahub-web-react/src/app/entityV2/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entityV2/dataProcessInstance/profile/DataProcessInstanceSummary.tsx
  datahub-web-react/src/app/entityV2/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entityV2/mlModel/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/mlModel/profile/MLModelSummary.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/profile/ModelGroupModels.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/search/EmbeddedListSearchSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/DefaultEntityHeader.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/getContextPath.test.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/getContextPath.ts
  datahub-web-react/src/app/preview/DataProcessInstanceRightColumn.tsx
  datahub-web-react/src/app/preview/DefaultPreviewCard.tsx
  datahub-web-react/src/app/search/utils/constants.ts
Labels: product, pending-submitter-merge

#12601 fix(url-encoding): fix regression in url encoding
  docs/how/updating-datahub.md
  metadata-service/war/src/main/java/com/linkedin/gms/CommonApplicationConfig.java
  smoke-test/tests/openapi/v3/entities.json
Labels: docs, devops, smoke_test, pending-submitter-merge

#12551 fix(ingest/snowflake): order queries for queries_v2
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_queries.py
Labels: ingestion, pending-submitter-merge

#12535 fix(ingest): pick topics from config for sink connector
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/common.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/kafka_connect.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/sink_connectors.py
  metadata-ingestion/src/datahub/ingestion/source/kafka_connect/source_connectors.py
  metadata-ingestion/tests/integration/kafka-connect/test_kafka_connect.py
Labels: ingestion, pending-submitter-merge

#12607 doc: add note for subscription
  docs/managed-datahub/release-notes/v_0_3_8.md
Labels: docs, pending-submitter-merge

#12371 feat(okta): adds ingest_groups_users config parameter
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/tests/integration/okta/okta_mces_golden_ingest_groups_users.json
  metadata-ingestion/tests/integration/okta/test_okta.py
Labels: ingestion, pending-submitter-merge

#12572 feat(urn-validation): Add UrnValidation PDL annotation
  docs/modeling/extending-the-metadata-model.md
  entity-registry/src/main/java/com/linkedin/metadata/models/AspectSpec.java
  entity-registry/src/main/java/com/linkedin/metadata/models/EntitySpecBuilder.java
  entity-registry/src/main/java/com/linkedin/metadata/models/UrnValidationFieldSpec.java
  entity-registry/src/main/java/com/linkedin/metadata/models/UrnValidationFieldSpecExtractor.java
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/AnnotationUtils.java
  entity-registry/src/main/java/com/linkedin/metadata/models/annotation/UrnValidationAnnotation.java
  entity-registry/src/test/java/com/linkedin/metadata/models/registry/PluginEntityRegistryLoaderTest.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/EntityAspect.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/AspectsBatchImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/ChangeItemImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/ebean/batch/DeleteItemImpl.java
  metadata-io/metadata-io-api/src/main/java/com/linkedin/metadata/entity/validation/ValidationApiUtils.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/utils/DefaultAspectsUtil.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/UrnAnnotationValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityUtils.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/UrnAnnotationValidatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-models/src/main/pegasus/com/linkedin/structured/StructuredPropertyDefinition.pdl
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-utils/build.gradle
  metadata-utils/src/main/java/com/linkedin/metadata/utils/EntityApiUtils.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/EntityRegistryUrnValidator.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/RecordTemplateValidator.java
  metadata-utils/src/main/java/com/linkedin/metadata/utils/UrnValidationUtil.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/UrnValidationUtilTest.java
  mock-entity-registry/src/main/java/mock/MockAspectSpec.java
  mock-entity-registry/src/main/java/mock/MockEntitySpec.java
  smoke-test/tests/openapi/v3/structured_properties.json
Labels: docs, product, devops, smoke_test, pending-submitter-merge

#12616 fix(ingest/mode): tweak lineage warning message
  metadata-ingestion/src/datahub/ingestion/source/mode.py
Labels: ingestion, pending-submitter-merge

#12627 docs: add Wealthsimple in adoption list
  README.md
Labels: community-contribution, merge-pending-ci

#12624 chore(bump): bump netty version
  build.gradle
  datahub-frontend/play.gradle
Labels: product, pending-submitter-merge

#12626 chore(bump): bump kafka base image
  docker/kafka-setup/Dockerfile
Labels: devops, pending-submitter-merge

#12585 docs: update local dev guide
  docs/developers.md
Labels: docs, pending-submitter-merge

#12634 config(edge-status): disable by default
  metadata-service/configuration/src/main/resources/application.yaml
Labels: devops, pending-submitter-merge

#12612 feat(UI): Adding sourcemaps for cloudfare builds
  datahub-web-react/build.gradle
  datahub-web-react/package.json
Labels: product, merge-pending-ci

#12648 fix(dagster): support dagster 1.10.0
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/tests/unit/test_dagster.py
Labels: ingestion, pending-submitter-merge

#12639 fix(ingest/unity): add exception handling
  metadata-ingestion/src/datahub/ingestion/source/unity/source.py
Labels: ingestion, pending-submitter-merge

#12621 feat(cli): add extra pip and debug flag
  metadata-ingestion/src/datahub/cli/ingest_cli.py
  metadata-ingestion/src/datahub/utilities/ingest_utils.py
  metadata-ingestion/tests/unit/utilities/sample_demo.dhub.yaml
  metadata-ingestion/tests/unit/utilities/test_ingest_utils.py
Labels: ingestion, pending-submitter-merge

#12655 tests(iceberg): integration test fixes
  metadata-service/iceberg-catalog/requirements.txt
  metadata-service/iceberg-catalog/src/integrationTest/integration_test.py
Labels: devops, pending-submitter-merge

#12653 fix(iceberg): enable nested namespaces in path
  metadata-service/war/src/main/java/com/linkedin/gms/CommonApplicationConfig.java
Labels: community-contribution, devops, merge-pending-ci

#12646 feat(sdk): add/remove methods + other small improvements
  metadata-ingestion/setup.cfg
  metadata-ingestion/src/datahub/emitter/mcp_builder.py
  metadata-ingestion/src/datahub/sdk/_attribution.py
  metadata-ingestion/src/datahub/sdk/_entity.py
  metadata-ingestion/src/datahub/sdk/_shared.py
  metadata-ingestion/src/datahub/sdk/_utils.py
  metadata-ingestion/src/datahub/sdk/container.py
  metadata-ingestion/src/datahub/sdk/dataset.py
  metadata-ingestion/src/datahub/sdk/main_client.py
  metadata-ingestion/src/datahub/specific/dataset.py
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/src/datahub/utilities/sentinels.py
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_browse_path_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_complex_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_dataset_ingestion_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_owners_add_remove_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_tags_add_remove_golden.json
  metadata-ingestion/tests/unit/sdk_v2/dataset_golden/test_terms_add_remove_golden.json
  metadata-ingestion/tests/unit/sdk_v2/entity_client_goldens/test_container_update_golden.json
  metadata-ingestion/tests/unit/sdk_v2/entity_client_goldens/test_dataset_update_golden.json
  metadata-ingestion/tests/unit/sdk_v2/test_container.py
  metadata-ingestion/tests/unit/sdk_v2/test_dataset.py
  metadata-ingestion/tests/unit/sdk_v2/test_entity_client.py
Labels: ingestion, pending-submitter-merge

#12580 [BREAKING CHANGE] fix(openapi): fixing openapi nesting
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/openapi_parser.py
  metadata-ingestion/tests/unit/test_openapi.py
Labels: ingestion, pending-submitter-merge

#12641 feat(validation): Disallow deleting system users
  entity-registry/src/main/java/com/linkedin/metadata/aspect/validation/UserDeleteValidator.java
  entity-registry/src/test/java/com/linkedin/metadata/aspect/validators/UserDeleteValidatorTest.java
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
  metadata-io/src/test/java/com/linkedin/metadata/AspectGenerationUtils.java
  metadata-models/src/main/pegasus/com/linkedin/identity/CorpUserInfo.pdl
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/root-user.yaml
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.aspects.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.entities.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.entity.runs.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.operations.operations.snapshot.json
  metadata-service/restli-api/src/main/snapshot/com.linkedin.platform.platform.snapshot.json
Labels: devops, needs-review

#12618 fix(mssql): correctly split stored procs SQL
  metadata-ingestion/src/datahub/sql_parsing/split_statements.py
  metadata-ingestion/tests/unit/sql_parsing/test_split_statements.py
Labels: ingestion, community-contribution, needs-review

#12662 fix: fix data process instance preview & add state on data process instance graphql
  datahub-web-react/src/app/shared/time/timeUtils.tsx
  datahub-web-react/src/graphql/dataProcessInstance.graphql
Labels: product, pending-submitter-merge

#12645 fix(cypress): Improve smoke test flakiness
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/builder/details/PrimaryButton.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavBarMenuItem.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/NavSidebar.tsx
  datahub-web-react/src/app/homeV2/layout/navBarRedesign/types.ts
  datahub-web-react/src/app/ingest/source/IngestionSourceList.tsx
  datahub-web-react/src/app/permissions/policy/usePolicy.ts
  smoke-test/tests/cypress/cypress/e2e/domains/nested_domains.js
  smoke-test/tests/cypress/cypress/e2e/ml/model.js
  smoke-test/tests/cypress/cypress/e2e/settings/manage_policies.js
  smoke-test/tests/cypress/cypress/e2e/settingsV2/v2_managing_groups.js
  smoke-test/tests/cypress/cypress/e2e/siblings/siblings.js
  smoke-test/tests/cypress/cypress/support/commands.js
  smoke-test/tests/entity_versioning/test_versioning.py
Labels: product, smoke_test, pending-submitter-merge

#12620 feat(bigquery): fetch bigquery dataset (datahub container) description
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema.py
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_schema_gen.py
Labels: ingestion, pending-submitter-merge

#12649 feat(ingestion-cli): enable ingest mcps from s3
  metadata-ingestion/src/datahub/cli/ingest_cli.py
Labels: ingestion, pending-submitter-merge

#12665 chore(ingest): Add Stateful ingestion support for the missing sources
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/config.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/report.py
  metadata-ingestion/src/datahub/ingestion/source/delta_lake/source.py
  metadata-ingestion/src/datahub/ingestion/source/elastic_search.py
  metadata-ingestion/src/datahub/ingestion/source/feast.py
  metadata-ingestion/src/datahub/ingestion/source/identity/okta.py
  metadata-ingestion/src/datahub/ingestion/source/mlflow.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/neo4j/neo4j_source.py
  metadata-ingestion/src/datahub/ingestion/source/nifi.py
  metadata-ingestion/src/datahub/ingestion/source/powerbi_report_server/report_server.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/src/datahub/ingestion/source/s3/config.py
  metadata-ingestion/src/datahub/ingestion/source/salesforce.py
  metadata-ingestion/src/datahub/ingestion/source/slack/slack.py
  metadata-ingestion/src/datahub/ingestion/source_config/pulsar.py
Labels: ingestion, pending-submitter-merge

#12650 fix(businessAttribute): add businessAttribute-dataset missing permission
  datahub-graphql-core/build.gradle
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/businessattribute/AddBusinessAttributeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/businessattribute/BusinessAttributeAuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/businessattribute/RemoveBusinessAttributeResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/mutate/util/BusinessAttributeUtils.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/businessattribute/AddBusinessAttributeResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/businessattribute/RemoveBusinessAttributeResolverTest.java
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: community-contribution, product, needs-review

#12672 fix(ingest/snowflake): update logic to identify hybrid tables
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_query.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_schema.py
  metadata-ingestion/tests/integration/snowflake/common.py
  metadata-ingestion/tests/integration/snowflake/snowflake_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_privatelink_golden.json
  metadata-ingestion/tests/integration/snowflake/snowflake_structured_properties_golden.json
Labels: ingestion, pending-submitter-merge

#12644 fix(ingestion/oracle): add option for thick mode and oracle client library (#12596)
  metadata-ingestion/src/datahub/ingestion/source/sql/oracle.py
Labels: ingestion, community-contribution, merge-pending-ci

#12677 dev: reduce log in gradle commands
  metadata-ingestion-modules/airflow-plugin/build.gradle
  metadata-ingestion/build.gradle
Labels: ingestion, pending-submitter-merge

#12667 fix(spring): Correct SpringStandardPluginConfiguration for UserDeleteValidator
  docs/how/updating-datahub.md
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/plugins/SpringStandardPluginConfiguration.java
Labels: docs, devops, pending-submitter-merge

#12692 config(): Enable V2 UI in quickstart by default
  docker/datahub-gms/env/docker.env
  docker/profiles/docker-compose.frontend.yml
  docker/profiles/docker-compose.gms.yml
  docker/quickstart/docker-compose-m1.quickstart.yml
  docker/quickstart/docker-compose.quickstart.yml
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/root-user-editable-info.yaml
  smoke-test/run-quickstart.sh
Labels: devops, smoke_test, merge-pending-ci

#12680 fix(ingest): ensure proper cleanup on pipeline init failure
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
Labels: ingestion, pending-submitter-merge

#12668 fix(runId): fix runId no document found
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/update/ESWriteDAO.java
  metadata-io/src/test/java/com/linkedin/metadata/search/ElasticSearchServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/update/ESWriteDAOTest.java
Labels: product, pending-submitter-merge

#12697 fix(npe): fix and test for npe
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceImplApplyUpsertTest.java
Labels: product, pending-submitter-merge

#12687 fix: skip browsePathv2 generation for entities that do not support it
  metadata-ingestion/src/datahub/ingestion/api/source_helpers.py
Labels: ingestion, pending-submitter-merge

#12671 chore(): Bring latest incidents data model + GraphQL to OSS
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/GmsGraphQLEngine.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/incident/EntityIncidentsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/incident/IncidentUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/incident/RaiseIncidentResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/incident/UpdateIncidentResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/incident/UpdateIncidentStatusResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/types/incident/IncidentMapper.java
  datahub-graphql-core/src/main/resources/incident.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/incident/EntityIncidentsResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/incident/IncidentInfoMatcher.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/incident/IncidentUtilsTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/incident/RaiseIncidentResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/incident/UpdateIncidentResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/types/incident/IncidentMapperTest.java
  datahub-web-react/src/graphql/incident.graphql
  datahub-web-react/src/graphql/mutations.graphql
  docs/how/updating-datahub.md
  metadata-jobs/mae-consumer/src/main/java/com/linkedin/metadata/kafka/hook/incident/IncidentsSummaryHook.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/incident/IncidentsSummaryHookTest.java
  metadata-models/src/main/pegasus/com/linkedin/incident/IncidentAssignee.pdl
  metadata-models/src/main/pegasus/com/linkedin/incident/IncidentInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/incident/IncidentStatus.pdl
  metadata-service/services/src/main/java/com/linkedin/metadata/search/utils/QueryUtils.java
  metadata-service/services/src/test/java/com/linkedin/metadata/search/utils/QueryUtilsTest.java
  smoke-test/tests/incidents/incidents_test.py
Labels: docs, product, devops, smoke_test, pending-submitter-merge

#12701 fix(ui): new users chart title fix
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetChartsResolver.java
Labels: product, pending-submitter-merge

#12694 fix(smoke-test): fix test_timeseries_rollback
  li-utils/src/main/java/com/linkedin/metadata/Constants.java
  metadata-io/src/main/java/com/linkedin/metadata/aspect/validation/ExecutionRequestResultValidator.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/aspect/validation/ExecutionRequestResultValidatorTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EbeanEntityServiceOptimizationTest.java
Labels: product, pending-submitter-merge

#12688 fix(ingest): prevent interleaved writes in dead letter queue
  metadata-ingestion/src/datahub/ingestion/run/pipeline.py
  metadata-ingestion/src/datahub/ingestion/run/sink_callback.py
  metadata-ingestion/src/datahub/ingestion/source/file.py
Labels: ingestion, merge-pending-ci

#12703 config(): disable edge filter
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLGMSSpringTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLMAESpringTest.java
  metadata-jobs/mae-consumer/src/test/java/com/linkedin/metadata/kafka/hook/spring/MCLSpringCommonTestConfiguration.java
  metadata-service/configuration/src/main/resources/application.yaml
Labels: devops, pending-submitter-merge

#12669 docs(ingest): add more details on SQL parser limitations
  docs/lineage/sql_parsing.md
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_bigquery_indirect_references.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_lineage.py
Labels: ingestion, docs, pending-submitter-merge

#12696 chore(ingest): bump sqlglot version to latest
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/sql_parsing/_sqlglot_patch.py
  metadata-ingestion/src/datahub/utilities/unified_diff.py
Labels: ingestion, pending-submitter-merge

#12702 dev: upgrade ruff, remove 2 ruff ignore rules
  metadata-ingestion-modules/airflow-plugin/setup.py
  metadata-ingestion-modules/dagster-plugin/setup.py
  metadata-ingestion-modules/gx-plugin/setup.py
  metadata-ingestion-modules/prefect-plugin/setup.py
  metadata-ingestion/pyproject.toml
  metadata-ingestion/setup.py
  metadata-ingestion/tests/unit/api/source_helpers/test_incremental_lineage_helper.py
  metadata-ingestion/tests/unit/api/source_helpers/test_source_helpers.py
  metadata-ingestion/tests/unit/test_iceberg.py
  metadata-service/iceberg-catalog/requirements.txt
  smoke-test/requirements.txt
Labels: ingestion, devops, smoke_test, pending-submitter-merge

#12713 fix(tracing): handle noop mcl
  entity-registry/src/main/java/com/linkedin/metadata/utils/SystemMetadataUtils.java
  entity-registry/src/test/java/com/linkedin/metadata/utils/SystemMetadataUtilsTest.java
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/entity/AspectDao.java
  metadata-io/src/main/java/com/linkedin/metadata/entity/EntityServiceImpl.java
  metadata-io/src/main/java/com/linkedin/metadata/trace/TraceServiceImpl.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/AspectDaoTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceImplTest.java
  metadata-io/src/test/java/com/linkedin/metadata/entity/EntityServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/trace/TraceServiceImplTest.java
Labels: product, pending-submitter-merge

#12536 fix(ingest): handle groups in pattern_cleanup_ownership transformer
  metadata-ingestion/src/datahub/ingestion/transformer/pattern_cleanup_ownership.py
  metadata-ingestion/tests/unit/test_transform_dataset.py
Labels: ingestion, community-contribution, merge-pending-ci

#12717 tests(druid): integration tests for druid ingestion
  metadata-ingestion/tests/integration/druid/docker/README.md
  metadata-ingestion/tests/integration/druid/docker/docker-compose.yml
  metadata-ingestion/tests/integration/druid/docker/environment
  metadata-ingestion/tests/integration/druid/golden/druid_mces.json
  metadata-ingestion/tests/integration/druid/recipes/druid_to_file.yml
  metadata-ingestion/tests/integration/druid/test_druid.py
Labels: ingestion, pending-submitter-merge

#12718 feat(api): let admins use granted privileges for actors
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/policy/GetGrantedPrivilegesResolver.java
Labels: product, pending-submitter-merge

#12722 feat(build): use `pull_request_target` for datahub-wheels
  .github/workflows/python-build-pages.yml
Labels: devops, needs-review

#12719 feat(ui): access management docs
  docs-website/sidebars.js
  docs/features/feature-guides/access-management.md
Labels: docs, merge-pending-ci, needs-review

#12724 fix(lineage): error message for edit lineage
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/lineage/UpdateLineageResolver.java
  datahub-web-react/src/app/lineage/manage/ManageLineageModal.tsx
  datahub-web-react/src/app/lineageV2/manualLineage/ManageLineageModal.tsx
  docker/datahub-gms/Dockerfile
  docs/features/feature-guides/ui-lineage.md
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/DataHubAuthorizer.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/PolicyEngine.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/PolicyFetcher.java
Labels: product, devops, pending-submitter-merge

#12728 docs: clarify limits on AI docs
  docs/automations/ai-docs.md
Labels: docs, pending-submitter-merge

#12727 fix(urn-validation): additional test cases for urn validation
  metadata-ingestion/tests/unit/urns/invalid_urns.txt
  metadata-ingestion/tests/unit/urns/invalid_urns_java_only.txt
  metadata-ingestion/tests/unit/urns/valid_urns.txt
  metadata-utils/src/main/java/com/linkedin/metadata/utils/UrnValidationUtil.java
  metadata-utils/src/test/java/com/linkedin/metadata/utils/UrnValidationUtilTest.java
Labels: ingestion, pending-submitter-merge

#12629 fix(ui) Fix NPE in pluralize function
  metadata-service/war/src/main/resources/boot/policies.json
Labels: product, pending-submitter-merge

#12716 Fix platform instance support on Druid ingestion
  docs/how/updating-datahub.md
  metadata-ingestion/src/datahub/ingestion/source/sql/druid.py
  metadata-ingestion/tests/integration/druid/golden/druid_mces.json
  metadata-ingestion/tests/unit/test_druid_source.py
Labels: ingestion, docs, community-contribution, merge-pending-ci

#12733 ci(coverage): update patch coverage threshold
  .github/.codecov.yml
Labels: devops, pending-submitter-merge

#12633 fix(ui) Fix bug with date dropdown in deprecation modal
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/EntityMenuActions.tsx
  datahub-web-react/src/conf/index.ts
Labels: product, pending-submitter-merge

#12704 fix(ui) Fix group membership inconsistencies on group page
  datahub-web-react/src/app/entityV2/group/GroupInfoHeaderSection.tsx
  datahub-web-react/src/app/entityV2/group/GroupMembersSidebarSectionContent.tsx
  datahub-web-react/src/app/entityV2/group/GroupProfile.tsx
  datahub-web-react/src/app/entityV2/group/GroupSidebarMembersSection.tsx
  datahub-web-react/src/app/entityV2/group/types.ts
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarSection.tsx
Labels: product, needs-review

#12720 fix(ui) Properly get display name when downloading search results
  datahub-web-react/src/app/entity/shared/components/styled/search/downloadAsCsvUtil.ts
  datahub-web-react/src/app/entityV2/shared/components/styled/search/downloadAsCsvUtil.ts
Labels: product, pending-submitter-merge

#12729 fix(ingest): bump avro dep
  metadata-ingestion/setup.py
Labels: ingestion, pending-submitter-merge

#12705 fix(ui) Filter healthy assets out of unhealthy upstreams component
  datahub-web-react/src/app/entityV2/shared/embed/UpstreamHealth/UpstreamHealth.tsx
Labels: product, pending-submitter-merge

#12731 docs: update slack link
  README.md
  docs-website/docusaurus.config.js
  docs-website/src/components/SlackUtm/index.js
  docs-website/src/pages/slack/index.js
  docs-website/src/theme/Navbar/communityCardDropdownContent.js
  docs/slack.md
  metadata-ingestion/examples/mce_files/bootstrap_mce.json
Labels: ingestion, docs, pending-submitter-merge

#12730 fix(build): support datahub-wheels from forked PRs
  .github/workflows/python-build-pages.yml
Labels: devops, needs-review

#12732 fix(iceberg-cli): add missing filter for iceberg dataplatform
  metadata-ingestion/src/datahub/cli/iceberg_cli.py
Labels: ingestion, needs-review

#12735 dev: immutable args remove
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/tests/integration/powerbi/test_admin_only_api.py
  metadata-ingestion/tests/integration/powerbi/test_m_parser.py
  metadata-ingestion/tests/integration/powerbi/test_powerbi.py
  metadata-ingestion/tests/integration/powerbi/test_profiling.py
  metadata-ingestion/tests/integration/powerbi_report_server/test_powerbi_report_server.py
  metadata-ingestion/tests/integration/qlik_sense/test_qlik_sense.py
  metadata-ingestion/tests/integration/sigma/test_sigma.py
  metadata-ingestion/tests/integration/superset/test_superset.py
  metadata-ingestion/tests/test_helpers/mce_helpers.py
  metadata-ingestion/tests/test_helpers/test_connection_helpers.py
  metadata-ingestion/tests/unit/api/source_helpers/test_auto_browse_path_v2.py
Labels: ingestion, pending-submitter-merge

#12741 docs(restore-indices): added best practices
  docs/how/restore-indices.md
Labels: docs, pending-submitter-merge

#12599 feat(ui/lineageV2): Show version pill in lineage sidebar and node
  datahub-web-react/src/alchemy-components/components/Pills/Pill.tsx
  datahub-web-react/src/alchemy-components/components/Pills/components.ts
  datahub-web-react/src/alchemy-components/components/Pills/types.ts
  datahub-web-react/src/alchemy-components/components/Pills/utils.ts
  datahub-web-react/src/alchemy-components/theme/config/types.ts
  datahub-web-react/src/alchemy-components/theme/utils.ts
  datahub-web-react/src/app/entityV2/EntityRegistry.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/SidebarEntityHeader.tsx
  datahub-web-react/src/app/entityV2/shared/versioning/VersioningBadge.tsx
  datahub-web-react/src/app/lineageV2/LineageEntityNode/NodeContents.tsx
  datahub-web-react/src/app/lineageV2/LineageExplorer.tsx
  datahub-web-react/src/app/lineageV2/LineageFilterNode/useFetchFilterNodeContents.ts
  datahub-web-react/src/app/lineageV2/types.ts
  datahub-web-react/src/app/lineageV2/useSearchAcrossLineage.ts
  datahub-web-react/src/app/lineageV2/useShouldShowDataProcessInstances.ts
  datahub-web-react/src/app/sharedV2/text/OverflowTitle.tsx
  datahub-web-react/src/graphql/lineage.graphql
Labels: product, needs-review

#12743 chore(bump): Bump kafka-setup base
  docker/kafka-setup/Dockerfile
Labels: devops, pending-submitter-merge

#12742 dev: enable ruff rule
  metadata-ingestion/pyproject.toml
  metadata-ingestion/src/datahub/cli/docker_cli.py
  metadata-ingestion/src/datahub/cli/lite_cli.py
  metadata-ingestion/src/datahub/cli/specific/dataproduct_cli.py
  metadata-ingestion/src/datahub/configuration/kafka.py
  metadata-ingestion/src/datahub/ingestion/fs/s3_fs.py
  metadata-ingestion/src/datahub/ingestion/graph/client.py
  metadata-ingestion/src/datahub/ingestion/graph/entity_versioning.py
  metadata-ingestion/src/datahub/ingestion/source/cassandra/cassandra_api.py
  metadata-ingestion/src/datahub/ingestion/source/csv_enricher.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_api.py
  metadata-ingestion/src/datahub/ingestion/source/dremio/dremio_aspects.py
  metadata-ingestion/src/datahub/ingestion/source/gc/execution_request_cleanup.py
  metadata-ingestion/src/datahub/ingestion/source/kafka/kafka.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_file_loader.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/mode.py
  metadata-ingestion/src/datahub/ingestion/source/pulsar.py
  metadata-ingestion/src/datahub/ingestion/source/sigma/sigma.py
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_connection.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau_common.py
  metadata-ingestion/src/datahub/lite/duckdb_lite.py
  metadata-ingestion/src/datahub/lite/lite_local.py
  metadata-ingestion/src/datahub/lite/lite_util.py
  metadata-ingestion/src/datahub/utilities/memory_footprint.py
  metadata-ingestion/tests/integration/bigquery_v2/test_bigquery.py
Labels: ingestion, pending-submitter-merge

#12747 revert(ci): revert datahub-wheel build changes
  .github/workflows/python-build-pages.yml
Labels: devops, needs-review

#12711 feat: API key support in Metabase source
  metadata-ingestion/docs/sources/metabase/metabase.yml
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
  metadata-ingestion/tests/unit/test_metabase_source.py
Labels: ingestion, community-contribution, merge-pending-ci

#12686 refactor(ingest/s3): enhance readability
  metadata-ingestion/src/datahub/ingestion/source/s3/source.py
  metadata-ingestion/tests/unit/s3/test_s3_source.py
Labels: ingestion, community-contribution, needs-review

#12679 feat(ingestion/superset): superset dataset lineage for metadata ingestion
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/preset/golden_test_ingest.json
  metadata-ingestion/tests/integration/preset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/superset/test_superset.py
Labels: ingestion, community-contribution, merge-pending-ci

#12753 chore(ci): avoid dep on confluent-kafka 2.8.1
  metadata-ingestion/setup.py
Labels: ingestion, pending-submitter-merge

#12746 feat(graphql): implement sort and facet for scroll
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/analytics/resolver/GetMetadataAnalyticsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/container/ContainerEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/dataproduct/ListDataProductAssetsResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/domain/DomainEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/GetQuickFiltersResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/ScrollAcrossEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchAcrossEntitiesResolver.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/search/SearchUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/siblings/SiblingsSearchResolver.java
  datahub-graphql-core/src/main/resources/search.graphql
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/container/ContainerEntitiesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/domain/DomainEntitiesResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/search/GetQuickFiltersResolverTest.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/resolvers/versioning/VersionsSearchResolverTest.java
  docs/api/graphql/graphql-best-practices.md
  metadata-io/src/main/java/com/linkedin/metadata/client/JavaEntityClient.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/SearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/client/CachingEntitySearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/ElasticSearchService.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/ESSearchDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/AggregationQueryBuilder.java
  metadata-io/src/main/java/com/linkedin/metadata/search/elasticsearch/query/request/SearchRequestHandler.java
  metadata-io/src/test/java/com/linkedin/metadata/search/fixtures/SampleDataFixtureTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/SearchDAOTestBase.java
  metadata-io/src/test/java/com/linkedin/metadata/search/query/request/SearchRequestHandlerTest.java
  metadata-io/src/test/java/io/datahubproject/test/search/SearchTestUtils.java
  metadata-service/auth-impl/src/main/java/com/datahub/authorization/PolicyFetcher.java
  metadata-service/auth-impl/src/test/java/com/datahub/authorization/DataHubAuthorizerTest.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/operations/elastic/OperationsController.java
  metadata-service/restli-client-api/src/main/java/com/linkedin/entity/client/EntityClient.java
  metadata-service/restli-client/src/main/java/com/linkedin/entity/client/RestliEntityClient.java
  metadata-service/services/src/main/java/com/linkedin/metadata/search/EntitySearchService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/service/util/SearchBasedFormAssignmentManager.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/search/EntitySearchServiceTest.java
  metadata-service/servlet/src/main/java/com/datahub/gms/servlet/ConfigSearchExport.java
Labels: docs, product, devops, pending-submitter-merge

#12745 feat(ingest): improve error messages for unknown metadata objects
  metadata-ingestion/src/datahub/ingestion/source/file.py
  metadata-ingestion/tests/unit/serde/test_domain_properties.json
  metadata-ingestion/tests/unit/serde/test_invalid_object.json
  metadata-ingestion/tests/unit/serde/test_serde.py
Labels: ingestion, pending-submitter-merge
