Repository datahub-project/datahub, pull requests merged in 2025-09, with the labels that each got.

#14452 fix(snowflake): honor include_queries flag
  metadata-ingestion/src/datahub/ingestion/source/snowflake/snowflake_v2.py
Labels: pending-submitter-response, ingestion, community-contribution, datahub-community-champion

#14626 fix(ingestion/nifi): Change Zookeeper image to bitnamilegacy version in test
  metadata-ingestion/tests/integration/nifi/docker-compose.yml
Labels: ingestion, pending-submitter-merge

#14625 docs(datahub-cli): include docs information for deploying recipes to remote executor using `datahub ingest deploy...`
  docs/cli.md
Labels: docs, pending-submitter-merge

#14639 docs: Update docs banner to promote Context event
  docs-website/docusaurus.config.js
Labels: community-contribution, needs-review

#14616 fix(publish): fix jar publishing tasks
  .github/workflows/publish-datahub-jars.yml
  metadata-auth/auth-api/build.gradle
  metadata-integration/java/custom-plugin-lib/build.gradle
  metadata-integration/java/datahub-client/build.gradle
  metadata-integration/java/datahub-protobuf/build.gradle
  metadata-integration/java/datahub-schematron/lib/build.gradle
  metadata-integration/java/spark-lineage-legacy/build.gradle
Labels: ingestion, devops, pending-submitter-merge

#14624 docs: update project permissions in BigQuery docs
  metadata-ingestion/docs/sources/bigquery/bigquery_pre.md
Labels: ingestion, community-contribution, needs-review

#14646 Revert "chore(kafka): fixes lower bound version for confluent_kafka dep in ingestion"
  metadata-ingestion/setup.py
Labels: ingestion

#14648 fix(ci): fix nightly tag for smoke-tests
  .github/workflows/docker-unified-nightly.yml
Labels: devops, pending-submitter-merge

#14567 feat(ui/summary): Add ability to edit links in summary tab
  datahub-web-react/src/app/entityV2/summary/links/AddEditLinkModal.tsx
  datahub-web-react/src/app/entityV2/summary/links/AddLinkModal.tsx
  datahub-web-react/src/app/entityV2/summary/links/LinkItem.tsx
  datahub-web-react/src/app/entityV2/summary/links/LinksList.tsx
  datahub-web-react/src/app/entityV2/summary/links/__tests__/useLinkUtils.test.ts
  datahub-web-react/src/app/entityV2/summary/links/useLinkUtils.ts
Labels: product, devops, smoke_test, pending-submitter-merge

#14597 feat(ingest/bigquery): Set user-agent for bigquery connections
  metadata-ingestion/src/datahub/ingestion/source/bigquery_v2/bigquery_connection.py
Labels: ingestion, pending-submitter-merge

#14497 feat(datahub-actions): Adding support for Metadata Change Log in DataHub Cloud Events Source
  datahub-actions/src/datahub_actions/plugin/source/acryl/constants.py
  datahub-actions/src/datahub_actions/plugin/source/acryl/datahub_cloud_event_source.py
  datahub-actions/tests/unit/plugin/source/acryl/test_datahub_cloud_event_source.py
  metadata-service/events-service/src/main/java/io/datahubproject/event/ExternalEventsService.java
  metadata-service/events-service/src/test/java/io/datahubproject/event/ExternalEventsServiceTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/event/ExternalEventsServiceFactory.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v1/event/ExternalEventsController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v1/event/ExternalEventsControllerTest.java
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: devops, merge-pending-ci, needs-review

#14654 fix(ci): restore workflow and quickstart env
  .github/verify-quickstart-compose.yml
  docker/quickstart/docker-compose.quickstart-profile.yml
Labels: devops, pending-submitter-merge

#14562 feat(ingest): respect user email pattern in usage aggregator
  metadata-ingestion/src/datahub/ingestion/source/usage/usage_common.py
  metadata-ingestion/tests/unit/test_usage_common.py
Labels: ingestion, pending-submitter-merge

#14658 test(ci): test stability fix
  datahub-frontend/app/auth/sso/oidc/OidcConfigs.java
  datahub-frontend/app/auth/sso/oidc/OidcProvider.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcAuthenticator.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcClient.java
  datahub-frontend/app/auth/sso/oidc/custom/CustomOidcProfileCreator.java
  datahub-frontend/conf/application.conf
  datahub-frontend/test/app/ApplicationTest.java
  datahub-frontend/test/auth/sso/oidc/OidcConfigsRetryTest.java
  datahub-frontend/test/auth/sso/oidc/custom/CustomOidcAuthenticatorTest.java
  datahub-frontend/test/auth/sso/oidc/custom/CustomOidcClientTest.java
  datahub-frontend/test/auth/sso/oidc/custom/CustomOidcProfileCreatorTest.java
Labels: product, pending-submitter-merge

#14642 fix(ui): remove margin bottom
  datahub-web-react/src/app/ingestV2/executions/components/BaseTab.tsx
Labels: product, pending-submitter-merge

#14627 feat: add new permission for managing asset summary
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/authorization/AuthorizationUtils.java
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/resolvers/entity/EntityPrivilegesResolver.java
  datahub-graphql-core/src/main/resources/auth.graphql
  datahub-web-react/src/Mocks.tsx
  datahub-web-react/src/app/entityV2/summary/properties/PropertiesHeader.tsx
  datahub-web-react/src/graphql/fragments.graphql
  metadata-service/war/src/main/resources/boot/policies.json
  metadata-utils/src/main/java/com/linkedin/metadata/authorization/PoliciesConfig.java
Labels: product, devops, pending-submitter-merge

#14643 feat(ingestion/datahub): Improve system metadata handling in datahub source
  metadata-ingestion/src/datahub/ingestion/source/datahub/config.py
  metadata-ingestion/src/datahub/ingestion/source/datahub/datahub_database_reader.py
Labels: ingestion, pending-submitter-merge

#14666 fix(): Update docker-unified-nightly.yml
  .github/workflows/docker-unified-nightly.yml
Labels: devops, pending-submitter-merge

#14653 feat(summary-tab): support assets module on the summary pages
  datahub-graphql-core/src/main/resources/module.graphql
  datahub-web-react/src/app/entityV2/summary/modules/assets/AssetsModule.tsx
  datahub-web-react/src/app/entityV2/summary/modules/assets/__tests__/useGetAssets.test.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/__tests__/useGetDataProductAssets.test.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/__tests__/useGetDomainAssets.test.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/__tests__/useGetTermAssets.test.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetAssets.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetDataProductAssets.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetDomainAssets.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetTermAssets.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.test.ts
  datahub-web-react/src/app/homeV3/context/hooks/utils/utils.ts
  datahub-web-react/src/app/homeV3/module/Module.tsx
  datahub-web-react/src/app/homeV3/modules/constants.ts
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/__tests__/useAddModuleMenu.test.tsx
  datahub-web-react/src/app/homeV3/template/components/addModuleMenu/useAddModuleMenu.tsx
  metadata-models/src/main/pegasus/com/linkedin/module/DataHubPageModuleType.pdl
  metadata-service/configuration/src/main/resources/bootstrap_mcps.yaml
  metadata-service/configuration/src/main/resources/bootstrap_mcps/page-modules.yaml
  metadata-service/services/src/main/java/com/linkedin/metadata/service/PageModuleService.java
  metadata-service/services/src/test/java/com/linkedin/metadata/service/PageModuleServiceTest.java
Labels: product, devops, pending-submitter-merge

#14686 fix(ui/structured-properties): fix error on create structured property
  datahub-web-react/src/app/govern/structuredProperties/cacheUtils.ts
Labels: product, pending-submitter-merge

#14683 fix(ci): use image tags from buildLog for nightly tests
  .github/workflows/docker-unified-nightly.yml
Labels: devops, pending-submitter-merge

#14685 feat(ui/summary-tab):implement permissions for modules section
  datahub-web-react/src/app/homeV3/module/components/LargeModule.tsx
  datahub-web-react/src/app/homeV3/module/components/__tests__/LargeModule.test.tsx
  datahub-web-react/src/app/homeV3/template/Template.tsx
Labels: product, pending-submitter-merge

#14677 feat(openapi-v3) enhance scroll API
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/Criterion.java
  metadata-service/openapi-servlet/models/src/main/java/io/datahubproject/openapi/v3/models/GenericEntityScrollResultV3.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/controller/GenericEntitiesController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v2/controller/EntityController.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/OpenAPIV3Generator.java
  metadata-service/openapi-servlet/src/main/java/io/datahubproject/openapi/v3/controller/EntityController.java
  metadata-service/openapi-servlet/src/test/java/io/datahubproject/openapi/v3/controller/EntityControllerTest.java
  smoke-test/tests/openapi/v3/entities.json
Labels: community-contribution, devops, merge-pending-ci, needs-review

#14690 chore(ingestion/file-based lineage): update from com.linkedin.pegasus2avro.dataset to datahub.metadata.schema_classes
  metadata-ingestion/src/datahub/ingestion/source/metadata/lineage.py
Labels: ingestion, pending-submitter-merge

#14672 fix(ingest/tableau): retry when getting 'unexpected error occurred'
  metadata-ingestion/src/datahub/ingestion/source/tableau/tableau.py
Labels: ingestion, pending-submitter-merge

#14673 chore(ingest/sqlparser): Bump sqlglot to 27.12.0
  metadata-ingestion/setup.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena_properties_extractor.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_lineage.py
  metadata-ingestion/src/datahub/sql_parsing/sqlglot_utils.py
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_multistep_temp_table.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_rename.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_rename_with_temp.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_swap.json
  metadata-ingestion/tests/unit/sql_parsing/aggregator_goldens/test_table_swap_with_temp.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_lateral_join.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_self_join_with_cte.json
  metadata-ingestion/tests/unit/sql_parsing/goldens/test_sqlite_attach_database.json
  metadata-ingestion/tests/unit/sql_parsing/test_sqlglot_utils.py
Labels: ingestion, pending-submitter-merge

#14712 fix(ingest/athena): Fix Athena partition extraction and CONCAT function type issues
  metadata-ingestion/src/datahub/ingestion/source/sql/athena.py
  metadata-ingestion/src/datahub/ingestion/source/sql/athena_properties_extractor.py
  metadata-ingestion/tests/unit/test_athena_source.py
Labels: ingestion, pending-submitter-merge

#14731 fix(ingestion/iceberg): Improve iceberg source resiliency to server errors
  metadata-ingestion/src/datahub/ingestion/source/iceberg/iceberg.py
  metadata-ingestion/tests/unit/test_iceberg.py
Labels: ingestion, pending-submitter-merge

#14755 fix(ci): revert workaround to enumerate image targets
  .github/workflows/docker-unified.yml
Labels: devops, needs-review

#14766 chore(ingestion/iceberg): Include explicit extras in dependencies
  metadata-ingestion/setup.py
Labels: ingestion, pending-submitter-merge

#14612 fix(ui): Increasing the 'Try your test' modal width
  datahub-web-react/src/app/entity/shared/components/styled/search/EmbeddedListSearchModal.tsx
Labels: product, pending-submitter-merge

#14767 Revert "chore(ingestion/iceberg): Safe-guard pyiceberg version before pydantic 1->2 transition (#14736)"
  metadata-ingestion/setup.py
Labels: ingestion, pending-submitter-merge

#14483 fix(ui/browse): Fix bug where browse would not paginate when leaving a nested container
  datahub-web-react/src/app/searchV2/sidebar/BrowseNode.tsx
  datahub-web-react/src/app/searchV2/sidebar/PlatformNode.tsx
  datahub-web-react/src/app/searchV2/sidebar/useBrowsePagination.tsx
Labels: product, pending-submitter-merge

#14613 fix(ui): Render the values instead of urns in Policies Modal
  datahub-web-react/src/app/permissions/policy/PolicyActorForm.tsx
  datahub-web-react/src/app/permissions/policy/PolicyPrivilegeForm.tsx
  datahub-web-react/src/graphql/policy.graphql
  smoke-test/tests/cypress/cypress/e2e/mutations/manage_ingestion_secret_privilege.js
Labels: product, pending-submitter-merge

#14771 fix(ui) Add collection of minor fixes for summary pages and home page
  datahub-web-react/src/app/entity/application/ApplicationEntity.tsx
  datahub-web-react/src/app/entity/application/preview/Preview.tsx
  datahub-web-react/src/app/entity/chart/preview/ChartPreview.tsx
  datahub-web-react/src/app/entity/dashboard/preview/DashboardPreview.tsx
  datahub-web-react/src/app/entity/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entity/mlFeature/preview/Preview.tsx
  datahub-web-react/src/app/entity/tag/Tag.tsx
  datahub-web-react/src/app/entityV2/application/ApplicationEntity.tsx
  datahub-web-react/src/app/entityV2/application/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/chart/ChartEntity.tsx
  datahub-web-react/src/app/entityV2/chart/preview/ChartPreview.tsx
  datahub-web-react/src/app/entityV2/container/ContainerEntity.tsx
  datahub-web-react/src/app/entityV2/container/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/dashboard/DashboardEntity.tsx
  datahub-web-react/src/app/entityV2/dashboard/preview/DashboardPreview.tsx
  datahub-web-react/src/app/entityV2/dataFlow/DataFlowEntity.tsx
  datahub-web-react/src/app/entityV2/dataFlow/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/dataJob/DataJobEntity.tsx
  datahub-web-react/src/app/entityV2/dataJob/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/dataProcessInstance/DataProcessInstanceEntity.tsx
  datahub-web-react/src/app/entityV2/dataProcessInstance/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/dataProduct/DataProductEntity.tsx
  datahub-web-react/src/app/entityV2/dataProduct/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/dataset/DatasetEntity.tsx
  datahub-web-react/src/app/entityV2/dataset/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/domain/DomainEntity.tsx
  datahub-web-react/src/app/entityV2/domain/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/glossaryNode/ChildrenTabWrapper.tsx
  datahub-web-react/src/app/entityV2/glossaryNode/GlossaryNodeEntity.tsx
  datahub-web-react/src/app/entityV2/glossaryNode/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/mlFeature/MLFeatureEntity.tsx
  datahub-web-react/src/app/entityV2/mlFeature/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/mlFeatureTable/MLFeatureTableEntity.tsx
  datahub-web-react/src/app/entityV2/mlFeatureTable/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/mlModel/MLModelEntity.tsx
  datahub-web-react/src/app/entityV2/mlModel/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/MLModelGroupEntity.tsx
  datahub-web-react/src/app/entityV2/mlModelGroup/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/mlPrimaryKey/MLPrimaryKeyEntity.tsx
  datahub-web-react/src/app/entityV2/mlPrimaryKey/preview/Preview.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/EntityName.tsx
  datahub-web-react/src/app/entityV2/summary/documentation/EditDescriptionModal.tsx
  datahub-web-react/src/app/entityV2/summary/modules/childHierarchy/ChildHierarchyModule.tsx
  datahub-web-react/src/app/homeV3/moduleModals/common/BaseModuleModal.tsx
  datahub-web-react/src/app/homeV3/modules/assetCollection/AssetCollectionModule.tsx
  datahub-web-react/src/app/homeV3/modules/assetCollection/__tests__/utils.test.ts
  datahub-web-react/src/app/homeV3/modules/assetCollection/utils.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/form/sections/relatedEntities/RelatedEntitiesSection.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/form/sections/relatedEntities/components/ShowRelatedEntitiesToggler.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/form/sections/selectAssets/SelectAssetsSection.tsx
  datahub-web-react/src/app/homeV3/template/Template.tsx
  datahub-web-react/src/app/onboarding/WelcomeToDataHubModal.tsx
  datahub-web-react/src/app/previewV2/DefaultPreviewCard.tsx
  datahub-web-react/src/app/searchV2/autoCompleteV2/__tests__/utils.test.ts
  datahub-web-react/src/app/searchV2/autoCompleteV2/utils.ts
  metadata-service/services/src/main/java/com/linkedin/metadata/datahubusage/DataHubUsageEventType.java
Labels: product, devops, pending-submitter-merge

#14772 feat(ui) Update home page template editability
  datahub-web-react/src/app/homeV3/HomePageContent.tsx
  datahub-web-react/src/app/homeV3/context/PageTemplateContext.tsx
  datahub-web-react/src/app/homeV3/module/components/SmallModule.tsx
  datahub-web-react/src/app/homeV3/template/components/AddModuleButton.tsx
  docs/features/feature-guides/custom-home-page.md
  smoke-test/tests/cypress/cypress/e2e/homeV3/modules.js
  smoke-test/tests/cypress/cypress/e2e/homeV3/templates.js
Labels: product, smoke_test, pending-submitter-merge

#14788 Revert "docs(release): Add release notes for version 0.3.14"
  docs-website/sidebars.js
  docs/managed-datahub/release-notes/v_0_3_14.md
Labels: docs, needs-review

#14785 fix(ingest): change redash sql parse error to warnining
  metadata-ingestion/src/datahub/ingestion/source/redash.py
  metadata-ingestion/tests/unit/test_redash_source.py
Labels: ingestion, pending-submitter-merge

#14707 feat(): Adding authenticator for OIDC OAuth
  docs-website/sidebars.js
  docs/authentication/README.md
  docs/authentication/external-oauth-providers.md
  metadata-io/src/main/java/com/linkedin/metadata/service/ServiceAccountService.java
  metadata-io/src/test/java/com/linkedin/metadata/service/ServiceAccountServiceTest.java
  metadata-io/src/test/java/com/linkedin/metadata/system_info/collectors/PropertiesCollectorConfigurationTest.java
  metadata-models/src/main/pegasus/com/linkedin/settings/global/GlobalSettingsInfo.pdl
  metadata-models/src/main/pegasus/com/linkedin/settings/global/OAuthProvider.pdl
  metadata-models/src/main/pegasus/com/linkedin/settings/global/OAuthSettings.pdl
  metadata-service/auth-filter/src/main/java/com/datahub/auth/authentication/filter/AuthenticationExtractionFilter.java
  metadata-service/auth-filter/src/test/java/com/datahub/auth/authentication/AuthExtractionTestConfiguration.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/authenticator/DataHubOAuthAuthenticator.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/authenticator/JwksUriResolver.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/authenticator/OAuthConfigurationFetcher.java
  metadata-service/auth-impl/src/main/java/com/datahub/authentication/token/DataHubOAuthSigningKeyResolver.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/authenticator/DataHubOAuthAuthenticatorTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/authenticator/JwksUriResolverTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/authenticator/OAuthConfigurationFetcherTest.java
  metadata-service/auth-impl/src/test/java/com/datahub/authentication/token/DataHubOAuthSigningKeyResolverTest.java
  metadata-service/configuration/src/main/resources/application.yaml
Labels: docs, product, devops, pending-submitter-merge

#14795 fix(exception): surface exceptions to API response
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandler.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandlerTest.java
Labels: product, pending-submitter-merge

#14797 improvement(ui/summary-tab): use editor from component library in CompactMarkdownViewer for consistent styles
  datahub-web-react/src/app/entityV2/shared/tabs/Documentation/components/CompactMarkdownViewer.tsx
Labels: product, needs-review

#14538 feat(superset/preset): propagate chart & dashboard tags to DataHub
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
  metadata-ingestion/src/datahub/ingestion/source/superset.py
  metadata-ingestion/tests/integration/superset/golden_test_aggregate_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_ingest.json
  metadata-ingestion/tests/integration/superset/golden_test_stateful_ingest.json
  metadata-ingestion/tests/integration/superset/test_superset.py
Labels: ingestion, community-contribution, merge-pending-ci

#14764 fix(summaryTab): bring fixes from saas
  datahub-web-react/src/app/AppProviders.tsx
  datahub-web-react/src/app/domainV2/CreateDomainModal.tsx
  datahub-web-react/src/app/entity/shared/EntityDropdown/CreateGlossaryEntityModal.tsx
  datahub-web-react/src/app/entityV2/domain/DataProductsTab/CreateDataProductModal.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/profile/AddRelatedTermsModal.tsx
  datahub-web-react/src/app/entityV2/glossaryTerm/profile/useRemoveRelatedTerms.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/MoveDomainModal.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/useDeleteEntity.tsx
  datahub-web-react/src/app/entityV2/shared/components/styled/ExpandedOwner/ExpandedOwner.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/EntityName.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/DataProduct/DataProductSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/DataProduct/SetDataProductModal.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Domain/SetDomainModal.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Domain/SidebarDomainSection.tsx
  datahub-web-react/src/app/entityV2/shared/containers/profile/sidebar/Ownership/EditOwnersModal.tsx
  datahub-web-react/src/app/entityV2/shared/entity/EntityActions.tsx
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetDataProductAssets.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetDomainAssets.ts
  datahub-web-react/src/app/entityV2/summary/modules/assets/useGetTermAssets.ts
  datahub-web-react/src/app/entityV2/summary/modules/childHierarchy/ChildHierarchyModule.tsx
  datahub-web-react/src/app/entityV2/summary/modules/dataProducts/__tests__/useGetChildDataProducts.test.ts
  datahub-web-react/src/app/entityV2/summary/modules/dataProducts/useGetChildDataProducts.ts
  datahub-web-react/src/app/entityV2/summary/modules/relatedTerms/RelatedTermsModule.tsx
  datahub-web-react/src/app/homeV2/content/tabs/discovery/sections/domains/useGetDomains.tsx
  datahub-web-react/src/app/homeV2/reference/sections/assets/useGetAssetsYouOwn.tsx
  datahub-web-react/src/app/homeV3/context/PageTemplateContext.tsx
  datahub-web-react/src/app/homeV3/context/types.ts
  datahub-web-react/src/app/homeV3/module/Module.tsx
  datahub-web-react/src/app/homeV3/module/context/ModuleContext.tsx
  datahub-web-react/src/app/homeV3/module/context/ModulesContext.tsx
  datahub-web-react/src/app/homeV3/module/context/hooks/useReloadableModules.ts
  datahub-web-react/src/app/homeV3/module/types.ts
  datahub-web-react/src/app/homeV3/modules/domains/TopDomainsModule.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/HierarchyViewModule.tsx
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/hooks/__tests__/useDomains.test.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/hooks/__tests__/useSelectableDomainTree.test.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/hooks/useDomains.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/hooks/useDomainsByUrns.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/domains/hooks/useSelectableDomainTree.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/glossary/hooks/__tests__/useGlossaryNodesAndTerms.test.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/glossary/hooks/__tests__/useGlossaryNodesAndTermsByUrns.test.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/glossary/hooks/__tests__/useRootGlossaryNodes.test.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/glossary/hooks/__tests__/useRootGlossaryTerms.test.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/glossary/hooks/useGlossaryNodesAndTerms.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/glossary/hooks/useGlossaryNodesAndTermsByUrns.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/glossary/hooks/useRootGlossaryNodes.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/components/glossary/hooks/useRootGlossaryTerms.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/context/hooks/__tests__/useReloadableModules.test.ts
  datahub-web-react/src/app/homeV3/modules/hierarchyViewModule/treeView/useTree.ts
  datahub-web-react/src/app/previewV2/utils.ts
  datahub-web-react/src/app/shared/tags/AddTagsTermsModal.tsx
  datahub-web-react/src/app/sharedV2/hooks/__tests__/useStableValue.test.ts
  datahub-web-react/src/app/sharedV2/hooks/useStableValue.ts
  datahub-web-react/src/app/sharedV2/tags/term/TermContent.tsx
Labels: product, needs-review

#14777 fix(summaryTab): fix empty state when assets were deleted
  datahub-web-react/src/alchemy-components/components/InfiniteScrollList/InfiniteScrollList.tsx
  datahub-web-react/src/app/homeV3/modules/assetCollection/AssetCollectionModule.tsx
Labels: product, needs-review

#14773 fix(impact-lineage): separate viz and impact query path
  build.gradle
  datahub-graphql-core/src/main/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandler.java
  datahub-graphql-core/src/test/java/com/linkedin/datahub/graphql/exception/DataHubDataFetcherExceptionHandlerTest.java
  metadata-io/build.gradle
  metadata-io/src/main/java/com/linkedin/metadata/graph/elastic/GraphQueryBaseDAO.java
  metadata-io/src/main/java/com/linkedin/metadata/search/LineageSearchService.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/ESGraphQueryDAORelationshipGroupQueryTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/GraphQueryElasticsearch7DAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/graph/elastic/GraphQueryOpenSearchDAOTest.java
  metadata-io/src/test/java/com/linkedin/metadata/search/LineageSearchServiceTest.java
  smoke-test/tests/utils.py
Labels: product, smoke_test, pending-submitter-merge

#14803 docs(teams): Update Teams App setup instructions
  docs/managed-datahub/teams/saas-teams-setup.md
Labels: docs, needs-review

#14745 docs(slack): Update Slack setup instructions for token generation
  docs/managed-datahub/slack/saas-slack-setup.md
Labels: docs, needs-review

#14655 Update menu on structured props table to new component
  datahub-web-react/src/app/govern/structuredProperties/StructuredPropsTable.tsx
Labels: product, pending-submitter-merge

#14656 Update Entity Dropdown to Menu Component
  datahub-web-react/src/alchemy-components/components/Menu/hooks/useConvertedAntdMenu.tsx
  datahub-web-react/src/app/entityV2/shared/EntityDropdown/EntityDropdown.tsx
  datahub-web-react/src/images/deprecated-status.svg
Labels: product, pending-submitter-merge

#14832 test: bring cypress tests for structured properties to OSS
  smoke-test/tests/cypress/cypress/e2e/structured_properties/structured_properties.js
Labels: smoke_test, needs-review

#14820 fix(ui): fix link in entity header flashing infinitely
  datahub-web-react/src/app/entityV2/shared/containers/profile/header/DefaultEntityHeader.tsx
  datahub-web-react/src/app/sharedV2/OverflowList.tsx
Labels: product, pending-submitter-merge

#14845 fix(ingest/redshift): Fix for missing schema containers during ingestion
  metadata-ingestion/docs/sources/redshift/redshift_pre.md
  metadata-ingestion/src/datahub/ingestion/source/redshift/query.py
Labels: ingestion, pending-submitter-merge

#14858 fix(security): disable akka dns
  datahub-frontend/conf/application.conf
Labels: product, pending-submitter-merge

#14852 feat(ui/ingest): make filter params part of url for navigation
  datahub-web-react/src/app/ingestV2/ManageIngestionPage.tsx
  datahub-web-react/src/app/ingestV2/source/IngestionSourceList.tsx
Labels: product, pending-submitter-merge

#14850 feat(ingest): add lowercase urn config option to metabase source
  metadata-ingestion/src/datahub/ingestion/source/metabase.py
Labels: ingestion, pending-submitter-merge

#14865 fix(): fix config value
  datahub-frontend/conf/application.conf
Labels: product, pending-submitter-merge

#14861 fix(ingestion): Fix for module level variable caching in sqllite check
  metadata-ingestion/src/datahub/utilities/file_backed_collections.py
  metadata-ingestion/tests/unit/utilities/test_file_backed_collections.py
Labels: ingestion, pending-submitter-merge

#14846 fix(schema-registry): fix v1.2.0.1 schema registry bug
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/DatahubUpgradeNoSchemaRegistryTest.java
  datahub-upgrade/src/test/java/com/linkedin/datahub/upgrade/UpgradeCliApplicationTestConfiguration.java
  metadata-events/mxe-utils-avro/build.gradle
  metadata-events/mxe-utils-avro/src/main/java/com/linkedin/metadata/EventSchemaConstants.java
  metadata-events/mxe-utils-avro/src/main/java/com/linkedin/metadata/EventSchemaData.java
  metadata-events/mxe-utils-avro/src/main/java/com/linkedin/metadata/SchemaConfigLoader.java
  metadata-events/mxe-utils-avro/src/main/java/com/linkedin/metadata/SchemaIdOrdinal.java
  metadata-events/mxe-utils-avro/src/main/resources/schema-config.yaml
  metadata-events/mxe-utils-avro/src/test/java/com/linkedin/metadata/EventSchemaConstantsTest.java
  metadata-events/mxe-utils-avro/src/test/java/com/linkedin/metadata/EventSchemaDataTest.java
  metadata-events/mxe-utils-avro/src/test/java/com/linkedin/metadata/SchemaConfigLoaderTest.java
  metadata-events/mxe-utils-avro/src/test/java/com/linkedin/metadata/SchemaIdOrdinalTest.java
  metadata-service/factories/src/main/java/com/linkedin/gms/factory/kafka/schemaregistry/SchemaRegistryServiceFactory.java
  metadata-service/factories/src/main/java/com/linkedin/metadata/boot/kafka/MockSystemUpdateSerializer.java
  metadata-service/schema-registry-servlet/src/main/java/io/datahubproject/openapi/schema/registry/SchemaRegistryController.java
  metadata-service/schema-registry-servlet/src/test/java/io/datahubproject/openapi/schema/registry/SchemaRegistryControllerTest.java
  metadata-service/schema-registry-servlet/src/test/java/io/datahubproject/openapi/test/SchemaRegistryControllerTestConfiguration.java
  metadata-service/services/src/main/java/com/linkedin/metadata/registry/SchemaRegistryService.java
  metadata-service/services/src/main/java/com/linkedin/metadata/registry/SchemaRegistryServiceImpl.java
  metadata-service/services/src/test/java/com/linkedin/metadata/registry/SchemaRegistryServiceIntegrationTest.java
  metadata-service/services/src/test/java/com/linkedin/metadata/registry/SchemaRegistryServiceTest.java
Labels: devops, publish-docker, pending-submitter-merge

#14826 feat(ingestion): Enhanced column lineage extraction for Looker/LookML
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_common.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_constant.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_lib_wrapper.py
  metadata-ingestion/src/datahub/ingestion/source/looker/looker_view_id_cache.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_concept_context.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_config.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_refinement.py
  metadata-ingestion/src/datahub/ingestion/source/looker/lookml_source.py
  metadata-ingestion/src/datahub/ingestion/source/looker/view_upstream.py
  metadata-ingestion/tests/integration/looker/test_looker.py
  metadata-ingestion/tests/integration/lookml/lkml_col_lineage_looker_api_based_golden.json
  metadata-ingestion/tests/integration/lookml/lkml_col_lineage_sample/models/dev_project.model.lkml
  metadata-ingestion/tests/integration/lookml/lkml_col_lineage_sample/views/purchases.view.lkml
  metadata-ingestion/tests/integration/lookml/lkml_col_lineage_sample/views/user_metrics.view.lkml
  metadata-ingestion/tests/integration/lookml/lkml_col_lineage_sample/views/users.view.lkml
  metadata-ingestion/tests/integration/lookml/test_lookml.py
  metadata-ingestion/tests/unit/lookml/__init__.py
  metadata-ingestion/tests/unit/lookml/test_lookml_api_based_view_upstream.py
Labels: ingestion, community-contribution, merge-pending-ci

#14829 docs: hide pydantic_removed_field marked fields from documentation
  metadata-ingestion/scripts/docgen.py
  metadata-ingestion/scripts/docs_config_table.py
  metadata-ingestion/src/datahub/configuration/validate_field_removal.py
Labels: ingestion, pending-submitter-merge

#14649 feat(sdk/search): add owner filter
  metadata-ingestion/examples/library/search_filter_by_owner.py
  metadata-ingestion/src/datahub/sdk/search_filters.py
  metadata-ingestion/tests/unit/sdk_v2/test_search_client.py
Labels: ingestion, pending-submitter-merge

#14882 feat(secret): FileSecretStore and EnvironmentSecretStore
  metadata-ingestion/src/datahub/secret/datahub_secret_store.py
  metadata-ingestion/src/datahub/secret/environment_secret_store.py
  metadata-ingestion/src/datahub/secret/file_secret_store.py
  metadata-ingestion/tests/unit/secret/test_datahub_secret_store.py
  metadata-ingestion/tests/unit/secret/test_environment_secret_store.py
  metadata-ingestion/tests/unit/secret/test_file_secret_store.py
Labels: ingestion, pending-submitter-merge

#14881 docs(snaplogic): Add snaplogic to integration page
  datahub-web-react/src/app/ingest/source/builder/sources.json
  datahub-web-react/src/app/ingestV2/source/builder/sources.json
  docs-website/filterTagIndexes.json
  docs-website/static/img/logos/platforms/snaplogic.svg
  metadata-ingestion/docs/sources/snaplogic/snaplogic_pre.md
  metadata-ingestion/src/datahub/ingestion/autogenerated/capability_summary.json
  metadata-ingestion/src/datahub/ingestion/source/snaplogic/snaplogic.py
  metadata-ingestion/src/datahub/ingestion/source/snaplogic/snaplogic_config.py
Labels: community-contribution, needs-review

#14859 feat(web): UI pagination for Assertion List page
  datahub-web-react/.eslintrc.js
  datahub-web-react/src/app/entityV2/shared/components/search/InlineListSearch.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AcrylAssertionsTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AcrylAssertionsTableColumns.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AcrylValidationsTab.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/AcrylAssertionList.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/AcrylAssertionListFilters.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/AcrylAssertionListTable.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/AssertionListTitleContainer.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/AssertionName.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/Tags/AcrylAssertionTagColumn.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/hooks.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/AssertionList/utils.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/acrylUtils.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/assertion/profile/summary/utils.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/contract/builder/DataContractBuilder.tsx
  datahub-web-react/src/app/entityV2/shared/tabs/Dataset/Validations/contract/builder/DataContractBuilderModal.tsx
Labels: community-contribution, product, merge-pending-ci
